/*
* shortcut_icon_area : bg_1d_1.png --> shortcutIcon에 포커스가 있는 경우
* menu_area : bg_2d_2.png --> 메뉴에 포커스가 있는 경우
*/
.home_area_backgound .shortcut_icon_area {left:0px; top:0px; width:1327px; height:1080px; visibility: inherit;}
.home_area_backgound .menu_area {left:0px; top:0px; width:1661px; height:1080px; visibility: hidden;}
.home_area_backgound .top_background_area {left:0px; top:0px; width:1920px; height:110px; background-color: rgba(0, 0, 0, 0.8);}
.home_area_backgound .bottom_background_area {left:0px; top:970px; width:1920px; height:110px; background-color: rgba(0, 0, 0, 0.8);}


.home_area_backgound.focus .shortcut_icon_area {visibility: hidden;}
.home_area_backgound.focus .menu_area {visibility: inherit;}



/*
* short cut icon area에 포커스 가기 전 화면
* START
*/
.shortcut_icon_list_view {left:41px; top:522px; width:50px; height:424px;}
.shortcut_icon_list_view .home_line {left:17px; width:243px;height:3px; content: url(../../../images/home/home_line.png); visibility: hidden;}
.shortcut_icon_list_view .ar_back {left:12px;top:0px;width:22px;height:36px;content: url(../../../images/home/ar_back.png);visibility: inherit; }

.shortcut_icon_list_view .my_menu {left:0px;top:85px;width:50px;height:50px;visibility: inherit; }
.shortcut_icon_list_view .my_menu img {left:0px;top:0px;width:50px;height:50px;content: url(../../../images/home/home_icon_my_s.png);}
.shortcut_icon_list_view .my_menu span {visibility: hidden;}
.shortcut_icon_list_view .my_menu .focus_box {visibility: hidden;}

.shortcut_icon_list_view .search_menu {left:0px;top:156px;width:50px;height:50px;visibility: inherit; }
.shortcut_icon_list_view .search_menu img {left:0px;top:0px;width:50px;height:50px;content: url(../../../images/home/home_icon_search_s.png);}
.shortcut_icon_list_view .search_menu span {visibility: hidden;}
.shortcut_icon_list_view .search_menu .focus_box {visibility: hidden;}

.shortcut_icon_list_view .favorite_menu {visibility: hidden; }
.shortcut_icon_list_view .favorite_menu img {}
.shortcut_icon_list_view .favorite_menu span {visibility: hidden;}
.shortcut_icon_list_view .favorite_menu .focus_box {visibility: hidden;}

.shortcut_icon_list_view .recommend_menu {visibility: hidden;}
.shortcut_icon_list_view .recommend_menu img {}
.shortcut_icon_list_view .recommend_menu span {visibility: hidden;}
.shortcut_icon_list_view .recommend_menu .focus_box {visibility: hidden;}

.shortcut_icon_list_view .noti_alram_menu {left:0px;top:225px;width:50px;height:50px;visibility: inherit;}
.shortcut_icon_list_view .noti_alram_menu img {left:0px;top:0px;width:50px;height:50px;content: url(../../../images/home/home_icon_noti_s.png);}
.shortcut_icon_list_view .noti_alram_menu span {visibility: hidden;}
.shortcut_icon_list_view .noti_alram_menu .focus_box {visibility: hidden;}

.shortcut_icon_list_view .olleh_tv_mobile_menu {left:0px;top:299px;width:50px;height:50px;visibility: inherit;}
.shortcut_icon_list_view .olleh_tv_mobile_menu .short_cut_icon {left:0px;top:0px;width:50px;height:50px;content: url(../../../images/home/home_icon_otm_s.png);}
.shortcut_icon_list_view .olleh_tv_mobile_menu .short_cut_name {visibility: hidden;}
.shortcut_icon_list_view .olleh_tv_mobile_menu .is_connect_icon {visibility: hidden;}

.shortcut_icon_list_view .olleh_tv_mobile_menu .focus_box {visibility: hidden;}

.shortcut_icon_list_view .setting_menu {left:0px;top:374px;width:50px;height:50px;visibility: inherit;}
.shortcut_icon_list_view .setting_menu img {left:0px;top:0px;width:50px;height:50px;content: url(../../../images/home/home_icon_set_s.png);}
.shortcut_icon_list_view .setting_menu span {visibility: hidden;}
.shortcut_icon_list_view .setting_menu .focus_box {visibility: hidden;}
/*
* short cut icon area에 포커스 가기 전 화면
* END
*/

/*
* short cut icon area에 포커스 화면
* START
*/
.shortcut_icon_list_view.focus {left:69px;top:110px;width:278px;height:860px; overflow: visible;}
.shortcut_icon_list_view.focus .home_line {left:17px; width:243px;height:3px; content: url(../../../images/home/home_line.png); visibility: inherit;}
.shortcut_icon_list_view.focus .ar_back {visibility: hidden; }

.shortcut_icon_list_view.focus .my_menu {left:0px;top:0px;width:278px; height:125px;visibility: inherit; overflow: visible;}
.shortcut_icon_list_view.focus .my_menu img {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_my.png);}
.shortcut_icon_list_view.focus .my_menu span {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L" ; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .my_menu span.eng {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L" ; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .my_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .my_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .my_menu.focus img {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_my_f.png);}
.shortcut_icon_list_view.focus .my_menu.focus span {left:94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .my_menu.focus span.eng {left:93px; top:52px; width:175px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}

.shortcut_icon_list_view.focus .search_menu {left:0px;top:123px;width:278px; height:125px;visibility: inherit; }
.shortcut_icon_list_view.focus .search_menu img {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_search.png);}
.shortcut_icon_list_view.focus .search_menu span {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .search_menu span.eng {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .search_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .search_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .search_menu.focus img {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_search_f.png);}
.shortcut_icon_list_view.focus .search_menu.focus span {left :94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .search_menu.focus span.eng {left:93px; top:52px; width:175px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}

.shortcut_icon_list_view.focus .favorite_menu {left:0px;top:245px;width:278px;height:125px;visibility: inherit; }
.shortcut_icon_list_view.focus .favorite_menu img {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_favor.png);}
.shortcut_icon_list_view.focus .favorite_menu span {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .favorite_menu span.eng {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .favorite_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .favorite_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .favorite_menu.focus img {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_favor_f.png);}
.shortcut_icon_list_view.focus .favorite_menu.focus span {left :94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .favorite_menu.focus span.eng {left:93px; top:52px; width:175px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}

.shortcut_icon_list_view.focus .recommend_menu {left:0px;top:368px;width:278px;height:125px;visibility: inherit; }
.shortcut_icon_list_view.focus .recommend_menu img {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_recom.png);}
.shortcut_icon_list_view.focus .recommend_menu span {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .recommend_menu span.eng {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .recommend_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .recommend_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .recommend_menu.focus img {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_recom_f.png);}
.shortcut_icon_list_view.focus .recommend_menu.focus span {left :94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .recommend_menu.focus span.eng {left:93px; top:52px; width:160px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}

.shortcut_icon_list_view.focus .noti_alram_menu {left:0px;top:490px;width:278px;height:125px;visibility: inherit; }
.shortcut_icon_list_view.focus .noti_alram_menu img {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_noti.png);}
.shortcut_icon_list_view.focus .noti_alram_menu span {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .noti_alram_menu span.eng {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .noti_alram_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .noti_alram_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .noti_alram_menu.focus img {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_noti_f.png);}
.shortcut_icon_list_view.focus .noti_alram_menu.focus span {left :94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .noti_alram_menu.focus span.eng {left:93px; top:52px; width:175px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}

/*
* 올레 tv 모바일은 이미지가 두개가 존재 하여 class명으로 대처함.
*/
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu {left:0px;top:613px;width:278px;height:125px;visibility: inherit; }
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_icon {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_otm_no.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_icon.disconnect {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_otm_no.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_icon.connect1 {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_otm_2.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_icon.connect2 {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_otm_2.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_name {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_name.disconnect {left :96px; top:32px; width:175px; height:26px; font-family: "RixHead L"; font-size: 24px; letter-spacing: -1.2px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_name.connect1 {left :96px; top:52px; width:175px; height:26px; font-family: "RixHead L"; font-size: 24px; letter-spacing: -1.2px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .short_cut_name.connect2 {left :96px; top:52px; width:175px; height:26px; font-family: "RixHead L"; font-size: 24px; letter-spacing: -1.2px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .is_connect_icon {left :96px; top:68px; width:64px; height:28px; visibility: hidden;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .is_connect_icon.disconnect {visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .is_connect_icon.connect1 {visibility: hidden;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .is_connect_icon.connect2 {visibility: hidden;}

.shortcut_icon_list_view.focus .olleh_tv_mobile_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_icon {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_otm_no_f.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_icon.disconnect {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_otm_no_f.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_icon.connect1 {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_otm_2_f.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_icon.connect2 {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_otm_2_f.png);}

.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name {left :94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.eng {left :93px; top:52px; width:175px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.disconnect {left :94px; top:28px; width:175px; height:32px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.eng.disconnect {left :94px; top:28px; width:175px; height:32px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.connect1 {left :94px; top:49px; width:175px; height:32px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.eng.connect1 {left :94px; top:52px; width:175px; height:32px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.connect2 {left :94px; top:49px; width:175px; height:32px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.focus .short_cut_name.eng.connect2 {left :94px; top:52px; width:175px; height:32px; visibility: inherit;}

.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.disabled { opacity: 0.4; }
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.disabled .short_cut_icon {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_otm_no.png);}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.disabled .short_cut_name {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.3); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .olleh_tv_mobile_menu.disabled .is_connect_icon {visibility: hidden;}

.shortcut_icon_list_view.focus .setting_menu {left:0px;top:735px;width:278px;height:125px;visibility: inherit; }
.shortcut_icon_list_view.focus .setting_menu img {left:25px;top:38px;width:50px;height:50px;content: url(../../../images/home/home_icon_set.png);}
.shortcut_icon_list_view.focus .setting_menu span {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .setting_menu span.eng {left :96px; top:52px; width:175px; height:27px; font-family: "RixHead L"; font-size: 25px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.25px; visibility: inherit;}
.shortcut_icon_list_view.focus .setting_menu .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: hidden;}
.shortcut_icon_list_view.focus .setting_menu.focus .focus_box {left:0px;top:0px;width:278px;height:125px; border: 6px solid rgb(210,51,47);  box-sizing : border-box;visibility: inherit;}
.shortcut_icon_list_view.focus .setting_menu.focus img {left:23px;top:35px;width:55px;height:55px;content: url(../../../images/home/home_icon_set_f.png);}
.shortcut_icon_list_view.focus .setting_menu.focus span {left :94px; top:49px; width:175px; height:32px; font-family: "RixHead M" ; font-size: 30px; color: rgba(255, 255, 255, 1); letter-spacing: -1.5px; visibility: inherit;}
.shortcut_icon_list_view.focus .setting_menu.focus span.eng {left:93px; top:52px; width:175px; height:28px; font-family: "RixHead M" ; font-size: 26px; color: rgba(255, 255, 255, 1); letter-spacing: -1.3px; visibility: inherit;}
/*
* short cut icon area에 포커스 화면
* END
*/

#home_menu_list { left:391px; top:122px; width:230px; height:837px; visibility: inherit; }
#home_menu_list .home_menu { width:230px; height: 94px;}
#home_menu_list .home_menu .menu_name { left:0px; top : 24px; width:230px; height: 40px; font-family: "RixHead L" ; font-size: 38px; color: rgba(255, 255, 255, 0.5); letter-spacing: -1.9px;}
#home_menu_list .home_menu .focus_box { visibility: hidden;}

#home_menu_list.focus { left:131px; top:122px; width:352px;height:847px;visibility: inherit; }
#home_menu_list.focus .home_menu { width:352px; height: 94px;overflow: visible;}
#home_menu_list.focus .home_menu .menu_name { left:0px; top : 24px; width:330px; height: 40px; font-family: "RixHead L" ; font-size: 38px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.9px;}
#home_menu_list.focus .home_menu .focus_box { visibility: hidden;}
#home_menu_list.focus .home_menu.focus .menu_name { left:0px; top : 21px; width:330px; height: 44px; font-family: "RixHead B" ; font-size: 42px; color: rgba(255, 255, 255, 1); letter-spacing: -2.1px;}
#home_menu_list.focus .home_menu.focus .focus_box { left:0px; top : 0px;width:352px; height: 95px; visibility: inherit;}

#home_menu_list .arw_down_img { visibility: hidden; }
#home_menu_list.focus .arw_down_img { visibility: inherit; }


#home_menu_preview_list { left:563px; top:122px; width:393px; height:839px; visibility: hidden; }
#home_menu_preview_list span { left:3px; width:393px; height:40px; font-family: "RixHead L" ; font-size: 38px; color: rgba(255, 255, 255, 0.3); letter-spacing: -1.9px; visibility: hidden; }
#home_menu_preview_list img { left:3px; width:393px; visibility: inherit; }
#home_menu_preview_list.focus {  visibility: inherit; }
#home_menu_preview_list.focus span { left:3px; width:393px; height:40px; font-family: "RixHead L" ; font-size: 38px; color: rgba(255, 255, 255, 0.3); letter-spacing: -1.9px; visibility: hidden; }
#home_menu_preview_list.focus img { left:3px; width:393px; visibility: inherit; }













