div.searchMain #autoSearchResult_area {
    visibility: inherit;
    position: absolute;
    top: 407px;
    width: 1920px;
    height: 550px;
}

div.searchMain #autoSearchResult_area.hide {
    visibility: hidden;
}

div.searchMain #autoSearchResult_BG {
    visibility: inherit;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 550px;
    background: #302E2E;
}

div.searchMain #autoSearchResult_BG.hide {
    visibility: hidden;
}

div.searchMain #autoSearchResult_area #listBar_div {
    visibility: hidden;
    position: absolute;
    top: 66px;
    left: 508px;
    width: 2px;
    height: 430px;
    background: white;
    opacity: 0.05;
}

div.searchMain #autoSearchResult_area #upArrow_img {
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 86px;
}

div.searchMain #autoSearchResult_area #downArrow_img {
    visibility: hidden;
    position: absolute;
    top: 486px;
    left: 86px;
}


div.searchMain #autoSearchResult_area #upArrow_img.show {
    visibility: inherit;
}

div.searchMain #autoSearchResult_area #downArrow_img.show {
    visibility: inherit;
}

div.searchMain #autoSearchResult_area #listBar_div.show {
    visibility: inherit;
}

div.searchMain #searchResult_div {
    position: absolute;
    top: 73px;
    left: 85px;
    opacity: 0.7;
}

div.searchMain #searchResult_div.focus {
    opacity: 1.0;
}

div.searchMain #searchResult_div .resultList_div.select .resultList_text{
    opacity: 1.0;
    font-size: 39px;
    height: 41px;
    margin-top: 21px;
}

div.searchMain #searchResult_div .resultList_div.unselect .resultList_text {
    opacity: 0.3;
}
div.searchMain #searchResult_div .resultList_div.unselect .subList_Icon {
    opacity: 0.1;
}

div.searchMain #searchResult_div .resultList_div {
    height: 80px;
    width: 384px;
    opacity: 0.7;
}

div.searchMain #searchResult_div .resultList_div.focus {
    border-top:5px solid #D2332F;
    border-bottom:5px solid #D2332F;
    margin-top: -5px;
    margin-bottom: -5px;
    opacity: 1.0;
    font-family: "RixHead M";
}

div.searchMain #searchResult_div .resultList_div.select {
    font-family: "RixHead M";
}

div.searchMain #searchResult_div .resultList_text {
    font-size: 33px;
    height: 35px;
    color: white;
    opacity: 0.7;
    float: left;
    margin-top: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width: 360px;
}

div.searchMain #searchResult_div .resultList_text.textAnimating{
    font-size: 33px;
    color: white;
    opacity: 0.7;
    float: left;
    margin-top: 25px;
    text-overflow: clip;
    white-space: nowrap;
    overflow-x: hidden;
}

div.searchMain #searchResult_div .resultList_text.textAnimating span{
    display : inline-block;
}

div.searchMain #searchResult_div .resultList_div.focus .resultList_text {
    font-size: 39px;
    height: 41px;
    margin-top: 21px;
    opacity: 1;
}

div.searchMain #searchResult_div .resultList_text.spellState {
    color: #74C0CE;
}

div.searchMain #searchResult_div .subList_Icon {
    display: none;
    float: right;
    margin-top: 25px;
    opacity: 0.5;
}

div.searchMain #searchResult_div .resultList_div.focus .subList_Icon {
    opacity: 1.0;
}

div.searchMain #searchResult_div .subList_Icon.show {
    display: block;
}

div.searchMain #searchSubResult_div {
    position: absolute;
    top: 67px;
    left: 552px;
    opacity: 0.5;
}

div.searchMain #searchSubResult_div.focus {
    opacity: 1.0;
}

div.searchMain #searchSubResult_div .subResultList_div {
    height: 81px;
}

div.searchMain #searchSubResult_div .subResultList_div.focus {
    border-top:5px solid #D2332F;
    border-bottom:5px solid #D2332F;
    -webkit-transform: scale(1.01);
    margin-top: -5px;
    margin-bottom: -5px;
}

div.searchMain #searchSubResult_div .subResultList_text {
    font-size: 33px;
    height: 35px;
    color: white;
    opacity: 0.5;
    margin-top: 25px;
    float: left;
    white-space: nowrap;
}
div.searchMain #searchSubResult_div .focus .subResultList_text {
    font-family: "RixHead M";
    font-size: 39px;
    opacity: 1;
    margin-top: 23px;
    width: auto;
}

div.searchMain #searchSubResult_VOD_div {
    visibility: hidden;
    position: absolute;
    left: 552px;
    top: 59px;
    opacity: 0.5;
}

div.searchMain #searchSubResult_VOD_div.focus {
    opacity: 1.0;
}

div.searchMain #searchSubResult_VOD_div.show {
    visibility: inherit;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div {
    position: absolute;
    height: 150px;
    width: 820px;
    /*padding-left: 4px;*/
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div.focus {
    margin-top: -5px ;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    z-index: 1;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div .subResultList_VOD_img {
    margin-top: 5px;
    width: 98px;
    float: left;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div .subResultList_VOD_lock {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 98px;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div .subResultList_VOD_dim {
    position: absolute;
    width: 98px;
    height: 140px;
    background: #000000;
    opacity: 0.1;
    margin-top: 5px;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_textArea {
    position: absolute;
    left: 133px;
    top: 5px;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_textArea .subResultList_VOD_title {
    font-size: 30px;
    height: 32px;
    color: white;
    opacity: 0.5;
    margin-top: 33px;
    margin-bottom: 17px;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div.focus .subResultList_VOD_title {
    opacity: 1.0;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div.focus .subResultList_VOD_dim {
    opacity: 0;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_textArea .subResultList_VOD_info .subResultList_VOD_subTitle {
    float: left;
    font-size: 23px;
    color: white;
    opacity: 0.7;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_textArea .subResultList_VOD_info .vodAge_img {
    opacity: 0.7;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div.focus .subResultList_VOD_textArea .subResultList_VOD_info .vodAge_img {
    opacity: 1.0;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_textArea .subResultList_VOD_info .subResultList_VOD_subTitle .isFreeIcon_img {
    margin-top: -5px;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div.focus .subResultList_VOD_textArea .subResultList_VOD_info .subResultList_VOD_subTitle {
    opacity: 1.0;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div .subResultList_VOD_info .vodAge_img {
    margin-top: -5px;
    margin-left: 7px;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div .subResultList_VOD_info .rating_star_area {
    float: left;
    margin-top: 2px;
    margin-right: 9px;
    display: none;
}

div.searchMain #searchSubResult_VOD_div .subResultList_VOD_div.focus .subResultList_VOD_info .rating_star_area {
    display: block;
}