div.searchMain #bottomList_area {
    position: absolute;
    top: 458px;
    margin-left: 88px;
    -webkit-transition: -webkit-transform .5s;
}

div.searchMain #bottomList_page_area {
    position: absolute;
    top: 900px;
}

div.searchMain #bottomList_page_area.hide {
    visibility: hidden;
}

div.searchMain #bottomList_page_area .bottomList_page_default {
    width: 11px;
    height: 11px;
    margin: 0px 10px;
    float: left;
    background-image: url(../../resource/img_paging.png);
}

div.searchMain #bottomList_page_area .bottomList_page_default.focus {
    background-image: url(../../resource/img_paging_f.png);
}

div.searchMain #bottomList_area {
    opacity: 0.7;
}

div.searchMain #bottomList_area.focus {
    opacity: 1.0;
}

div.searchMain #bottomList_area.hide {
    opacity: 0.03;
}

div.searchMain #bottomList_area .bottomItem_div {
    width: 370px;
    height: 400px;
    float: left;
    margin-right: 67px;
}

div.searchMain #bottomList_area .bottomItem_div.notCurPage {
    opacity: 0.4;
}

div.searchMain #bottomList_area .bottomItem_div.hideDiv {
    margin-right: 90px;
}

div.searchMain #bottomList_area .bottomItem_div.hide {
    display: none;
}

div.searchMain #bottomList_area .bottomItem_title {
    height: 44px;
    font-size: 27px;
    color: white;
    opacity: 0.5;
    border-bottom: 3px solid rgba(255,255,255,0.15);
    font-family: "RixHead B";
}

div.searchMain #bottomList_area .bottomItem_div .bottomItem_deleteIcon_area {
    visibility: hidden;
    position: absolute;
    left: 297px;
    top: 2px;
}

div.searchMain #bottomList_area .bottomItem_div .bottomItem_deleteIcon_area.show {
    visibility: inherit;
}

div.searchMain #bottomList_area .bottomItem_div .bottomItem_deleteIcon_area .deleteIcon_img {
    float: left;
    margin-top: 3px;
    margin-right: 8px;
}

div.searchMain #bottomList_area .bottomItem_div .bottomItem_deleteIcon_area .deleteIcon_text {
    font-size: 27px;
    color: white;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title {
    font-size: 33px;
    color: white;
    opacity: 0.4;
    margin-top: 16px;
    height: 70px;
    line-height: 70px;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title div {
    float: left;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title .rankNum {
    margin-right: 27px;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title .rankTitle_div {
    width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title .rankTitle_div:nth-child(1) {
    width: 370px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title.focus .rankTitle_div {
    text-overflow: inherit;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title.focus .rankTitle_div span {
    display: inline-block;
}

div.searchMain #bottomList_area .bottomItem_div .textList_title.focus {
    font-size: 39px;
    height: 60px;
    line-height: 60px;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    padding: 5px 0;
    opacity: 1.0;
    font-family: "RixHead M";
    margin-bottom: -10px;
    -webkit-transform: translate(0px, -5px);
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div {
    position: relative;
    width: 370px;
    height: 140px;
    margin-top: 28px;
    margin-bottom: -12px;
    /*-webkit-transition: -webkit-transform .5s;*/
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus {
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    margin-top: 19px;
    margin-bottom: -21px;
    padding: 4px 0px;
    -webkit-transform: scale(1.02);
}

div.searchMain #bottomList_area .bottomItem_div .vodPoster_img {
    float: left;
    width: 98px;
    height: 140px;
}

div.searchMain #bottomList_area .bottomItem_div .vodPoster_lock_img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 98px;
    height: 140px;
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div .vodPoster_img_dim {
    position: absolute;
    width: 98px;
    height: 140px;
    background: #000000;
    opacity: 0.3;
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus .vodPoster_lock_img {
    bottom: 4px;
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus .vodPoster_img_dim {
    display: none;
}

div.searchMain #bottomList_area .bottomItem_div .vodTitle_text {
    position: absolute;
    top: 34px;
    left: 124px;
    width: 246px;
    height: 32px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus .vodTitle_text {
    text-overflow: inherit;
    opacity: 1.0;
    font-family: "RixHead M";
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus .vodTitle_text span {
    display: inline-block;
    height: 32px;
}

div.searchMain #bottomList_area .bottomItem_div .vodPriceType_text {
    position: absolute;
    top: 79px;
    left: 124px;
    font-size: 23px;
    color: white;
    opacity: 0.3;
}

div.searchMain #bottomList_area .bottomItem_div .isFreeIcon_img {
    margin-top: -6px;
}

div.searchMain #bottomList_area .bottomItem_div .vodAge_img {
    float: right;
    margin-top: -6px;
    margin-left: 7px;
}

div.searchMain #bottomList_area .bottomItem_div .vodPriceType_text.focus {
    opacity: 1.0;
}

div.searchMain #bottomList_area .rating_star_area {
    float: left;
    margin-right: 9px;
    margin-top: 2px;
    display: none;
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus .rating_star_area {
    display: block;
}

div.searchMain #bottomList_area .bottomItem_div .appCell_div {
    height: 95px;
    /*margin-top: 28px;*/
    /*margin-bottom: -11px;*/
    margin-top: 23px;
    margin-bottom: -10px;
}

div.searchMain #bottomList_area .bottomItem_div .appCell_div .appList_img {
    float: left;
    width: 145px;
    height: 87px;
    margin-top: 4px;
}

div.searchMain #bottomList_area .bottomItem_div .appCell_div .appTitle_text {
    float: left;
    width: 196px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    margin-top: 34px;
    margin-left: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.searchMain #bottomList_area .bottomItem_div .appCell_div.focus {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    -webkit-transform: scale(1.02);
    margin-top: 18px;
    margin-bottom: -15px;
}

div.searchMain #bottomList_area .bottomItem_div .appCell_div.focus .appTitle_text {
    text-overflow: inherit;
    opacity: 1.0;
}

div.searchMain #bottomList_area .bottomItem_div .vodCell_div.focus .appTitle_text span {
    display: inline-block;
}