@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

div.searchMain #IMETextArea {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1121px;
    height: 164px;
    color: white;
    text-align: left;
}

div.searchMain #bottomMenu_Bg {
    top: 530px;
    width: 1920px;
    height: 550px;
    background: #FFFFFF;
    opacity: 0.05;
}

div.searchMain #bottomMenu_Bg.hide {
    opacity: 0;
}

div.searchMain #searchTop_area.unFocus {
    opacity: 0.5;
}

div.searchMain #IMETextArea #searchSrc{
    position: absolute;
    top: 30px;
    left: 91px;
    width: 700px;
    height: 42px;
}

div.searchMain #IMETextArea #searchSrc #searchIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 36px;
    height: 42px;
    background-image: url("../../resource/icon_search.png");
    opacity: 0.5;
}

div.searchMain #IMETextArea #searchSrc #searchFocus {
    position: absolute;
    visibility: hidden;
    top: 3px;
    left: 58px;
    color: white;
    font-size: 40px;
    width: 5px;
    height: 45px;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1, 1, 1, 1);
    -webkit-animation-duration: 0.5s;
}

div.searchMain #IMETextArea #searchSrc #searchFocus.show {
    visibility: inherit;
}

div.searchMain #IMETextArea #searchSrc #spanStrWidth2,
div.searchMain #IMETextArea #searchSrc #spanStrWidth {
    position: absolute;
    visibility: visible;
    overflow: hidden;
    top: 6px;
    left: 74px;
    height: 42px;
    font-size: 38px;
    max-width: 650px;
    word-wrap: break-word;
    white-space: nowrap;
    text-align: left;
    line-height: 35px;
}

div.searchMain #IMETextArea #searchSrc #searchSpanFocus{
    position: absolute;
    top: 0px;
    left: 60px;
    width: 650px;
    height: 35px;
}

div.searchMain #IMETextArea #searchSrc #searchSpanFocus.focus{
    width: 650px;
    height: 35px;
}

div.searchMain #IMETextArea #searchBar{
    position: absolute;
    top: 87px;
    left: 91px;
    width: 1134px;
    height: 5px;
    background-image: url("../../resource/under_bar.png");
}

div.searchMain #voiceArea {
    position: absolute;
    top: 37px;
    left: 892px;
    width: 390px;
    height: 47px;
}

div.searchMain #voiceArea #voiceIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 35px;
    background-image: url('../../resource/icon_voice_search.png');
}

div.searchMain #voiceArea #voiceText {
    position: absolute;
    top: 5px;
    left: 28px;
    width: 364px;
    height: 42px;
    color: rgba(255,255,255,0.38);
    letter-spacing: -2px;
    font-size: 25px;
}

/* 키보드 좌판구역 시작 */
div.searchMain #IMEBoardArea {
    margin-top: 0px;
    margin-left: 10px;
    width: 900px;
    height: 250px;
    color: white;
}

div.searchMain #oskBoard_img {
    position: absolute;
    top: 122px;
    left: 86px;
}

div.searchMain #searchBtn_img {
    position: absolute;
    top: 284px;
    left: 90px;
}

div.searchMain #defaultBtn_img {
    position: absolute;
    left: 500px;
    top: 284px;
}

div.searchMain #IMEBoardArea #firstArea {
    position: absolute;
    top: 44px;
    left: 75px;
}

div.searchMain #IMEBoardArea #firstArea .korFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.searchMain #IMEBoardArea #oskKorFocus_firstArea .korFocus_img.focus {
    visibility: inherit;
}



div.searchMain #IMEBoardArea #oskCapEngFocus_firstArea {
    position: absolute;
    left: 39px;
    top: 71px;
}
div.searchMain #IMEBoardArea #oskCapEngFocus_firstArea .capEngFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.searchMain #IMEBoardArea #oskCapEngFocus_firstArea .capEngFocus_img.focus {
    visibility: inherit;
}

div.searchMain #IMEBoardArea #oskEngFocus_firstArea {
    position: absolute;
    left: 39px;
    top: 71px;
}
div.searchMain #IMEBoardArea #oskEngFocus_firstArea .engFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.searchMain #IMEBoardArea #oskEngFocus_firstArea .engFocus_img.focus {
    visibility: inherit;
}


div.searchMain #IMEBoardArea #oskNumFocus_firstArea {
    position: absolute;
    left: 164px;
    top: 71px;
}

div.searchMain #IMEBoardArea #oskNumFocus_firstArea .numFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}

div.searchMain #IMEBoardArea #oskNumFocus_firstArea .numFocus_img.focus {
    visibility: inherit;
}



div.searchMain #IMEBoardArea #secondArea {
    position: absolute;
    top: 188px;
    left: 75px;
}


div.searchMain #IMEBoardArea #secondArea .korFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.searchMain #IMEBoardArea #oskKorFocus_secondArea .korFocus_img.focus {
    visibility: inherit;
}



div.searchMain #IMEBoardArea #oskCapEngFocus_secondArea {
     position: absolute;
     left: 39px;
     top: 0px;
}
div.searchMain #IMEBoardArea #oskCapEngFocus_secondArea .capEngFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.searchMain #IMEBoardArea #oskCapEngFocus_secondArea .capEngFocus_img.focus {
    visibility: inherit;
}



div.searchMain #IMEBoardArea #oskEngFocus_secondArea {
    position: absolute;
    left: 39px;
    top: 0px;
}
div.searchMain #IMEBoardArea #oskEngFocus_secondArea .engFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.searchMain #IMEBoardArea #oskEngFocus_secondArea .engFocus_img.focus {
    visibility: inherit;
}



div.searchMain #IMEBoardArea #oskNumFocus_secondArea {
    position: absolute;
    left: 164px;
    top: 0px;
}
div.searchMain #IMEBoardArea #oskNumFocus_secondArea .numFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.searchMain #IMEBoardArea #oskNumFocus_secondArea .numFocus_img.focus {
    visibility: inherit;
}



div.searchMain #IMEBoardArea #thirdArea {
    position: absolute;
    top: 284px;
    left: 90px;
}

div.searchMain #IMEBoardArea #thirdArea .focusBtn {
    visibility: hidden;
}

div.searchMain #IMEBoardArea #thirdArea .focusBtn.focus {
    visibility: inherit;
}

div.searchMain #IMEBoardArea #searchBtn_f_img {
    margin-right: 12px;
}