
div.searchResult #relationListBox_area.searchListRelation {
    visibility: inherit;
    position: absolute;
    left: 536px;
    top: 186px;
    overflow: visible;
}

div.searchResult #relationListBox_area.searchListRelation.hide {
    visibility: hidden;
}

div.searchResult #relationListBox_area.searchListRelation .indicatorArea {
    position: absolute;
    visibility: hidden;
    left: 1240px;
    top: 24px;
}

div.searchResult #relationListBox_area.searchListRelation .indicatorArea.show {
    visibility: inherit;
}

div.searchResult #relationListBox_area #searchRelationList_focus_div {
    display: none;
    position: absolute;
    top: 17px;
    width: 1280px;
    height: 74px;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
}

div.searchResult #relationListBox_area #searchRelationList_focus_div.reduce {
    width: 1196px;
}

div.searchResult #relationListBox_area #searchRelationList_focus_div.focus {
    display: block;
}

div.searchResult #searchRelation_table {
    width: 1282px;
    height: 729px;
    border-collapse: collapse;
    margin-top: 19px;
}

div.searchResult #searchRelation_table.reduce {
    width: 1196px;
}

div.searchResult #searchRelation_table tr td .searchRelationList_cell {
    height: 79px;
}

div.searchResult #searchRelation_table tr:nth-child(-n+8) td .searchRelationList_cell {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

div.searchResult #searchRelation_table tr td .searchRelationList_cell.hideLine {
    border-bottom: none;
}

div.searchResult #searchRelation_table .searchRelationList_icon,
div.searchResult #searchRelation_table .searchRelationList_title {
    float: left;
}

div.searchResult #searchRelation_table .searchRelationList_icon {
    display: none;
    margin-top: 22px;
}

div.searchResult #searchRelation_table tr td .searchRelationList_cell.focus .searchRelationList_icon {
    display: block;
}

div.searchResult #searchRelation_table .searchRelationList_title {
    font-size: 33px;
    line-height: 75px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead L";
}

div.searchResult #searchRelation_table tr td .searchRelationList_cell.focus .searchRelationList_title {
    font-family: "RixHead M";
    margin-left: 16px;
    opacity: 1.0;
    -webkit-transform-origin: 0 50%;
    -webkit-transform: scale(1.05);
}