div.searchResult #tvProgramListBox_area.searchListTVProgram {
    visibility: inherit;
    position: absolute;
    top: 182px;
    left: 526px;
    width: 1310px;
    overflow: visible;
}

div.searchResult #tvProgramListBox_area .filteringSetting_view_area {
    position: absolute;
    right: 20px;
    top: -46px;
    display: none;
}

div.searchResult #tvProgramListBox_area .filteringSetting_view_area > * {
    float: left;
}

div.searchResult #tvProgramListBox_area .filteringSetting_view_area span {
    font-size: 27px;
    letter-spacing: -1.35px;
    color: rgb(180, 180, 180);
    font-family: "RixHead L";
}

div.searchResult #tvProgramListBox_area .filteringSetting_view_area .filteringSet_bar {
    margin: 2px 20px;
    width: 2px;
    height: 21px;
    background: white;
    opacity: 0.1;
}

div.searchResult #tvProgramListBox_area .filteringSetting_view_area .priceSet_txt,
div.searchResult #tvProgramListBox_area .filteringSetting_view_area .sortSet_txt {
    margin-left: 40px;
}

div.searchResult #tvProgramListBox_area .filteringSetting_view_area.show {
    display: block;
}

div.searchResult #tvProgramListBox_area #searchTVPro_focus_div {
    display: none;
    position: absolute;
    left: 9px;
    top: 3px;
    width: 1280px;
    height: 123px;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
}

div.searchResult #tvProgramListBox_area #searchTVPro_focus_div.focus {
    display: block;
}

div.searchResult #tvProgramListBox_area #searchTVPro_focus_div.focus.with_scroll {
    width: 1196px;
}

div.searchResult #tvProgramListBox_area.searchListTVProgram.hide {
    visibility: hidden;
}

div.searchResult #tvProgramListBox_area.searchListTVProgram .indicatorArea {
    position: absolute;
    visibility: hidden;
    left: 1240px;
    top: 24px;
}

div.searchResult #tvProgramListBox_area.searchListTVProgram .indicatorArea.show {
    visibility: inherit;
}

div.searchResult #searchTVProgram_table {
    margin-top: 6px;
    width: 1297px;
    height: 738px;
    border-collapse: collapse;
    float: left;
    margin-left: 6px;
}

div.searchResult #searchTVProgram_table tr {
    height: 123px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_chCell,
div.searchResult #searchTVProgram_table .searchTVProgramList_cell {
    position: relative;
    height: 123px;
    float: left;
}

div.searchResult #searchTVProgram_table tr:nth-child(-n+5) td .searchTVProgramList_chCell{
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
div.searchResult #searchTVProgram_table tr:nth-child(-n+5) td .searchTVProgramList_cell {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

div.searchResult #searchTVProgram_table tr td .searchTVProgramList_chCell.hideLine,
div.searchResult #searchTVProgram_table tr td .searchTVProgramList_cell.hideLine {
    border-bottom: none;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_chCell {
    font-size: 28px;
    color: white;
    opacity: 0.5;
    width: 308px;
    font-family: "RixHead M";
}

div.searchResult #searchTVProgram_table .searchTVProgramList_chCell .channel_num {
    float: left;
    font-size: 40px;
    margin-top: 45px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_chCell .channel_name {
    float: left;
    font-size: 27px;
    margin-top: 50px;
    margin-left: 19px;
    width: 184px;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell {
    width: 974px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell.with_scroll {
    width: 890px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_chCell.focus {
    opacity: 1.0;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_title_area {
    position: absolute;
    top: 29px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_title {
    float: left;
    font-size: 33px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead L";
    white-space: nowrap;
    height: 36px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_prInfo {
    float: right;
    opacity: 0.7;
    margin-left: 12px;
    margin-top: -1px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell.focus .searchTVProgramList_title {
    opacity: 1.0;
    -webkit-transform-origin: 0 100%;
    -webkit-transform: scale(1.05);
    font-family: "RixHead M";
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell.focus .searchTVProgramList_prInfo {
    opacity: 1.0;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_subTitle {
    position: absolute;
    bottom: 23px;
    font-size: 23px;
    color: white;
    opacity: 0.3;
    font-family: "RixHead L";
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell.focus .searchTVProgramList_subTitle {
    opacity: 1.0;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_subTitle.hidden {
    display: none;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_broadBar_area {
    position: absolute;
    bottom: 23px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_broadBar_area .searchTVProgramList_broadBar_startTime,
div.searchResult #searchTVProgram_table .searchTVProgramList_broadBar_area .searchTVProgramList_broadBar_endTime {
    float: left;
    color: white;
    font-size: 23px;
    opacity: 0.3;
    font-family: "RixHead L";
}

div.searchResult #searchTVProgram_table .searchTVProgramList_broadBar_area .searchTVProgramList_broadBar_grayBar {
    float: left;
    background: white;
    opacity: 0.2;
    height: 4px;
    width: 360px;
    margin: 8px 14px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_broadBar_area .searchTVProgramList_broadBar_focusBar {
    position: absolute;
    background: white;
    opacity: 0.99;
    height: 4px;
    width: 142px;
    left: 78px;
    top: 8px;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_broadBar_area.hidden {
    display: none;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell .reservation_icon {
    display: none;
    float: left;
    width: 32px;
    height: 34px;
    margin-right: 11px;
    background-repeat: no-repeat;
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell .reservation_icon.series {
    background-image: url("../../resource/icon_book_s.png");
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell .reservation_icon.single {
    background-image: url("../../resource/icon_book.png");
}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell.focus .reservation_icon {

}

div.searchResult #searchTVProgram_table .searchTVProgramList_cell .reservation_icon.show {
    display: block;
}
