div.searchResult #listBox_area.searchListPackageVOD {
    visibility: inherit;
    position: absolute;
    left: 526px;
    top: 177px;
    width: 1570px;
    padding-left: 9px;
    padding-top: 2px;
    overflow: visible;
}

div.searchResult #listBox_area.searchListPackageVOD .filteringSetting_view_area {
    position: absolute;
    right: 288px;
    top: -48px;
    display: none;
}

div.searchResult #listBox_area.searchListPackageVOD .filteringSetting_view_area > * {
    float: left;
}

div.searchResult #listBox_area.searchListPackageVOD .filteringSetting_view_area span {
    font-size: 27px;
    letter-spacing: -1.35px;
    color: rgb(180, 180, 180);
    font-family: "RixHead L";
}

div.searchResult #listBox_area.searchListPackageVOD .filteringSetting_view_area .filteringSet_bar {
    margin: 2px 20px;
    width: 2px;
    height: 21px;
    background: white;
    opacity: 0.1;
}

div.searchResult #listBox_area.searchListPackageVOD .filteringSetting_view_area.show {
    display: block;
}

div.searchResult #listBox_area.searchListPackageVOD.hide {
    visibility: hidden;
}

div.searchResult #listBox_area.searchListPackageVOD .indicatorArea {
    position: absolute;
    visibility: hidden;
    left: 1240px;
    top: 24px;
}

div.searchResult #listBox_area.searchListPackageVOD .indicatorArea.show {
    visibility: inherit;
}

div.searchResult #searchPackageVOD_table {
    margin-top: 18px;
    width: 1286px;
    height: 500px;
    border-collapse: collapse;
    float: left;
}

div.searchResult #searchPackageVOD_table.focus {
    width: 933px;
}

div.searchResult #searchPackageVOD_table.with_scroll {
    width: 846px;
}

div.searchResult #searchPackageVOD_table tr {
    height: 116px;
}

div.searchResult #searchPackageVOD_table tr:nth-child(-n+5) td .searchVODList_cell {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

div.searchResult #searchPackageVOD_table tr td .searchVODList_cell {
    position: relative;
    height: 114px;
}

div.searchResult #searchPackageVOD_table tr td .searchVODList_cell.hideLine {
    border-bottom: none;
}

div.searchResult #searchPackageVOD_table tr:nth-child(-n+1) td .searchVODList_cell.focus {
    /*margin-top: -2px;*/
}

div.searchResult #searchPackageVOD_table tr:last-child td .searchVODList_cell.focus {
    /*margin-bottom: -2px;*/
}

div.searchResult #searchPackageVOD_table .searchVODList_title {
    position: absolute;
    width: 1200px;
    top: 29px;
    font-size: 33px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead L";
    height: 37px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.searchResult #searchPackageVOD_table.focus .searchVODList_title {
    width: 818px;
}

div.searchResult #searchPackageVOD_table.focus.with_scroll .searchVODList_title {
    width: 731px;
}

div.searchResult #searchPackageVOD_table tr td .searchVODList_cell.focus .searchVODList_title {
    opacity: 1.0;
    font-size: 39px;
    height: 42px;
    top: 18px;
    font-family: "RixHead M";
}

div.searchResult #searchPackageVOD_table .searchVODList_subTitle {
    position: absolute;
    width: 1240px;
    top: 71px;
    height: 26px;
    font-size: 24px;
    letter-spacing: -1.2px;
    color: rgba(197, 165, 133, 0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.searchResult #searchPackageVOD_table .searchVODList_resType {
    color: rgba(149, 149, 149, 0.6);
}

div.searchResult #searchPackageVOD_table .searchVODList_resType_txt {
    color: rgba(149, 149, 149, 0.6);
}

div.searchResult #searchPackageVOD_table .searchVODList_divide {
    display: inline-block;
    height: 18px;
    width: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

div.searchResult #searchPackageVOD_table .searchVODList_category {
    color: rgba(197, 165, 133, 0.7);
    font-family: "RixHead L";
}

div.searchResult #searchPackageVOD_table.focus .searchVODList_subTitle {
    width: 892px;
}

div.searchResult #searchPackageVOD_table.focus.with_scroll .searchVODList_subTitle {
    width: 805px;
}

div.searchResult #searchPackageVOD_table  tr td .searchVODList_cell.focus .searchVODList_subTitle {
    opacity: 1.0;
    font-size: 26px;
    top: 68px;
    height: 29px;
    color: rgb(197, 165, 133);
}

div.searchResult #searchPackageVOD_table  tr td .searchVODList_cell.focus .searchVODList_resType {
    color: rgb(115, 191, 205);
}

div.searchResult #searchPackageVOD_table  tr td .searchVODList_cell.focus .searchVODList_resType_txt {
    color: rgba(149, 149, 149, 0.8);
}

div.searchResult #searchPackageVOD_table  tr td .searchVODList_cell.focus .searchVODList_divide {
    height: 21px;
}

div.searchResult #searchPackageVOD_table  tr td .searchVODList_cell.focus .searchVODList_category {
    color: rgb(197, 165, 133);
}

div.searchResult #searchPackageVOD_table .searchVODList_wonYn {
    position: absolute;
    right: 47px;
    top: 49px;
    font-size: 23px;
    color: white;
    overflow: visible;
    font-family: "RixHead M";
}

div.searchResult #searchPackageVOD_table .searchVODList_wonYn .isFreeIcon_img {
    margin-top: -8px;
    opacity: 0.7;
}

div.searchResult #searchPackageVOD_table tr td .searchVODList_cell.focus .searchVODList_wonYn .isFreeIcon_img {
    opacity: 1.0;
}

div.searchResult #searchPackageVOD_table tr td .searchVODList_cell .searchVODList_wonYn span {
    opacity: 0.3;
}

div.searchResult #searchPackageVOD_table tr td .searchVODList_cell.focus .searchVODList_wonYn span{
    opacity: 0.5;
}

div.searchResult #searchPackageVOD_table .searchVODList_prInfo {
    position: absolute;
    right: 0px;
    top: 41px;
    opacity: 0.5;
}

div.searchResult #searchPackageVOD_table  tr td .searchVODList_cell.focus .searchVODList_prInfo {
    opacity: 1.0;
}

div.searchResult #vodInfo_area {
    visibility: hidden;
    position: relative;
    width: 334px;
    margin-left: 40px;
    float: left;
}

div.searchResult #vodPoster_line,
div.searchResult #vodPoster_img {
    position: absolute;
    top: 23px;
    left: 26px;
    width: 280px;
    height: 400px;
}

div.searchResult #searchPackageVOD_table #vodPoster_lock_img {
    position: absolute;
    top: 23px;
    left: 26px;
    width: 280px;
    height: 400px;
    display: none;
}

div.searchResult #searchPackageVOD_table #vodPoster_lock_img.show {
    display: block;
}

div.searchResult #vodInfo_area.show {
    visibility: inherit;
}

div.searchResult #vodInfo_area_1 {
    margin-left: 27px;
    height: 27px;
}

div.searchResult .rating_star_area {
    float: left;
    margin-top: 2px;
}

div.searchResult #vodInfo_area_1 #runtime_text {
    float: left;
    margin-left: 12px;
    font-size: 24px;
    color: white;
    opacity: 0.3;
    font-family: "RixHead L";
}

div.searchResult #vodInfo_area_2 {
    margin-left: 26px;
    margin-top: 23px;
}

div.searchResult #director_text_1 {
    float: left;
    font-size: 26px;
    color: rgb(197, 165, 133);
    opacity: 0.8;
    font-family: "RixHead M";
}

div.searchResult #director_text_2 {
    float: left;
    margin-left: 20px;
    font-size: 26px;
    color: white;
    opacity: 0.7;
    font-family: "RixHead M";
    width: 212px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

div.searchResult #director_area {
    float: left;
    margin-bottom: 13px;
}

div.searchResult #actor_area {
    float: left;
}

div.searchResult #actor_area #actor_text_1 {
    float: left;
    font-size: 26px;
    color: rgb(197, 165, 133);
    opacity: 0.8;
    font-family: "RixHead M";
}

div.searchResult #actor_area #actor_text_2 {
    float: left;
    margin-left: 20px;
    font-size: 26px;
    color: white;
    opacity: 0.7;
    font-family: "RixHead M";
    width: 212px;
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: -4px;
}

div.searchResult #searchPackageVODList_focus_div {
    display: none;
    position: absolute;
    top: 20px;
    width: 939px;
    height: 118px;
    border-top: 6px solid #D2332F;
    border-bottom: 6px solid #D2332F;
    box-sizing: border-box;
}

div.searchResult #searchPackageVODList_focus_div.focus {
    display: block;
}

div.searchResult #searchPackageVODList_focus_div.with_scroll {
    width: 852px;
}