@import "result_VOD.css";
@import "result_PackageVOD.css";
@import "result_Relation.css";
@import "result_TVProgram.css";
@import "result_TVApp.css";
@import "result_Daum.css";

div.searchResult #contentsArea {
    overflow: visible;
}

div.searchResult #searchResult_filter_noti_area {
    visibility: hidden;
    position: absolute;
    left: 1621px;
    top: 991px;
    width: 200px;
}

div.searchResult #searchResult_filter_noti_area.show {
    visibility: inherit;
}

div.searchResult #searchResult_filter_noti_area .searchResult_filter_icon {
    float: left;
}

div.searchResult #searchResult_filter_noti_area .searchResult_filter_text {
    float: left;
    margin-left: 13px;
    font-size: 26px;
    color: white;
    opacity: 0.3;
    font-family: "RixHead L";
}

div.searchResult #searchResult_page_noti_area {
    visibility: hidden;
    position: absolute;
    left: 1760px;
    top: 861px;
    width: 60px;
}

div.searchResult #searchResult_page_noti_area.show {
    visibility: inherit;
}

div.searchResult #searchResult_page_noti_area img {
    float: left;
}

div.searchResult #searchResult_page_noti_area .searchResult_pageText {
    display: inline-block;
    font-family: "RixHead L";
    font-size: 22px;
    letter-spacing: -1.1px;
    color: rgba(255, 255, 255, 0.3);
}

div.searchResult #resultTitle_area {
    position: fixed;
    top: 64px;
    left: 107px;
}

div.searchResult #resultTitle_text {
    font-size: 54px;
    color: white;
    opacity: 0.95;
    font-family: "RixHead M";
    height: 58px;
    height: 5;
}

div.searchResult #resultSubTitle_text {
    font-size: 27px;
    color: white;
    opacity: 0.5;
    margin-top: 11px;
    font-family: "RixHead L";
}

div.searchResult #resultInfo_area {
    position: fixed;
    top: 177px;
    left: 105px;
    width: 1710px;
    height: 783px;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

div.searchResult #categoryArea {
    position: absolute;
    top: 222px;
    left: 105px;
}

div.searchResult #searchResult_Menu {
    position: absolute;
    top: 46px;
    width: 394px;
}

div.searchResult #searchResult_Menu .searchList_unFocus {
    margin-bottom: 52px;
}

div.searchResult #searchResult_Menu .searchList_unFocus .searchList_title {
    font-size: 37px;
    color: white;
    opacity: 0.7;
    float: left;
}

div.searchResult #searchResult_Menu .searchList_unFocus .searchList_subTitle {
    font-size: 27px;
    color: white;
    opacity: 0.7;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
}

div.searchResult #searchResult_Menu .searchList_focus {
    height: 91px;
    margin-top: -10px;
    margin-bottom: 42px;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
}

div.searchResult #searchResult_Menu .searchList_focus.hideBorder {
    border:none;
    margin-top: -5px;
    margin-bottom: 47px;
}

div.searchResult #searchResult_Menu .searchList_focus .searchList_title {
    font-size: 57px;
    color: white;
    float: left;
    margin-top: 16px;
}

div.searchResult #searchResult_Menu .searchList_focus .searchList_subTitle {
    font-size: 27px;
    color: white;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
}

div.searchResult #searchResult_Menu #resultMenuFocusArrow_img {
    visibility: inherit;
    float: right;
    margin-top: 29px;
}

div.searchResult #searchResult_Menu #resultMenuFocusArrow_img.hide {
    visibility: hidden;
}

div.searchResult .searchResult_spellList_area {
    position: absolute;
    left: 105px;
    top: 224px;
    width: 1710px;
    height: 695px;
    text-align: center;
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_div {
    display: inline-block;
    padding-top: 6px;
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell {
    position: relative;
    width: 570px;
    height: 80px;
    text-align: center;
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell.focus {
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    margin-top: -5px;
    margin-bottom: -5px;
    -webkit-transform: scale(1.03);
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell .searchResult_spellList_text {
    margin-top: 25px;
    display: inline-block;
    font-size: 33px;
    color: white;
    opacity: 0.7;
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell.focus .searchResult_spellList_text {
    font-family: "RixHead M";
    opacity: 1.0;
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell .searchResult_spellList_focusIcon {
    display: none;
    position: absolute;
    margin-top: -4px;
    top: 30px;
    width: 31px;
    height: 31px;
    background-image: url("../../resource/icon_option_search.png");
    background-repeat: no-repeat;
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell .searchResult_spellList_divide {
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.1);
}

div.searchResult .searchResult_spellList_area .searchResult_spellList_cell.focus .searchResult_spellList_focusIcon {
    display: block;
}

div.searchResult .searchResult_spellList_area .spellList_btn {
    position: relative;
    margin-left: 121px;
    margin-top: 48px;
}

div.searchResult .searchResult_spellList_area .spellList_btn .spellList_btn_BG {
    width: 328px;
    background: rgb(54, 54, 54);
    height: 68px;
    border-color: transparent;
}

div.searchResult .searchResult_spellList_area .spellList_btn.focus .spellList_btn_BG {
    background: rgb(210, 51, 47);
    box-sizing: border-box;
}

div.searchResult .searchResult_spellList_area .spellList_btn .spellList_btn_text {
    position: absolute;
    left: 99px;
    top: 18px;
    font-size: 30px;
    letter-spacing: -1.5px;
    color: rgba(255, 255, 255, 0.7);
}

div.searchResult .searchResult_spellList_area .spellList_btn.focus .spellList_btn_text {
    font-family: "RixHead M";
    color: rgb(255, 255, 255);
}

div.searchResult div#searchResult_filter_option {
    position: fixed;
    right: 323px;
    top: 991px;
    font-size: 26px;  color: rgba(255,255,255,.3);
}

div.searchResult div#searchResult_filter_option::before {
    content: "정렬 : ";
}