
div.searchResult #listBox_area.searchListTVApp {
    visibility: inherit;
}

div.searchResult #listBox_area.searchListTVApp.hide {
    visibility: hidden;
}

div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area {
    position: absolute;
    right: -525px;
    top: 136px;
    display: none;
}

div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area > * {
    float: left;
}

div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area span {
    font-size: 24px;
    color: white;
    opacity: 0.6;
    font-family: "RixHead L";
}

div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area .filteringSet_bar {
    margin: 2px 20px;
    width: 2px;
    height: 21px;
    background: white;
    opacity: 0.1;
}

div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area .priceSet_txt,
div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area .sortSet_txt {
    margin-left: 40px;
}

div.searchResult #listBox_area.searchListTVApp .filteringSetting_view_area.show {
    display: block;
}

div.searchResult #searchListTVApp_area {
    position: absolute;
    left: 526px;
    top: 210px;
    width: 1242px;
    height: 655px;
    padding: 25px;
}

div.searchResult #listBox_area.searchListTVApp .indicatorArea {
    position: absolute;
    visibility: hidden;
    left: 1767px;
    top: 205px;
}

div.searchResult #listBox_area.searchListTVApp .indicatorArea.show {
    visibility: inherit;
}

div.searchResult #searchListTVApp_area .searchListTVApp_item {
    float: left;
    margin-right: 42px;
    margin-bottom: 86px;
}

div.searchResult #searchListTVApp_area .searchListTVApp_item.focus {
    -webkit-transform: scale(1.08);
    margin-top: -12px;
    margin-bottom: 74px;
}

div.searchResult #searchListTVApp_area .searchListTVApp_img {
    width: 370px;
    height: 222px;
    margin-bottom: 19px;
}

div.searchResult #searchListTVApp_area .searchListTVApp_item.focus .searchListTVApp_img {
    border-top: 6px solid #D2332F;
    border-bottom: 6px solid #D2332F;
    padding: 6px 0px;
}

div.searchResult #searchListTVApp_area .searchListTVApp_title {
    font-size: 30px;
    color: white;
    opacity: 0.5;
    height: 34px;
    width: 370px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "RixHead L";
}

div.searchResult #searchListTVApp_area .searchListTVApp_item.focus .searchListTVApp_title {
    font-family: "RixHead M";
    opacity: 1.0;
}