
div.searchResult #listBox_area.searchListDaum {
    visibility: inherit;
}

div.searchResult #listBox_area.searchListDaum.hide {
    visibility: hidden;
}

div.searchResult #searchDaum_area {
    position: absolute;
    left: 621px;
    top: 222px;
    width: 1194px;
    height: 695px;
}

div.searchResult #searchDaum_img {
    position: absolute;
    left: 409px;
    top: 62px;
}

div.searchResult #searchDaum_resultText {
    text-align: center;
    position: absolute;
    top: 392px;
    width: 100%;
    height: 46px;
    font-size: 42px;
    color: white;
    opacity: 0.5;
}

div.searchResult #searchDaum_info {
    position: absolute;
    left: 328px;
    top: 450px;
    font-size: 33px;
    color: white;
    opacity: 0.5;
}

div.searchResult #searchDaum_btn {
    position: absolute;
    top: 520px;
    left: 433px;
    width: 328px;
    height: 70px;
}

div.searchResult #searchDaum_btnBg {
    width: 100%;
    height: 100%;
    background: rgb(54, 54, 54);
}

div.searchResult #searchDaum_btnBg.focus {
    background: rgb(210, 51, 47);
}

div.searchResult #searchDaum_btnText {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 21px;
    width: 100%;
    text-align: center;
    letter-spacing: -1.5px;
}

div.searchResult #searchDaum_btnText.focus {
    font-family: "RixHead M";
    font-size: 32px;
    letter-spacing: -1.6px;
    color: rgb(255, 255, 255);
}
