div.payment.paymentPopup .option.bizPayment > * {
    display: none;
}

div.payment.paymentPopup .option.bizPayment .main_area{
    height: 82px;
    transition: height .5s;
    display:inherit;
}

div.payment.paymentPopup .option.bizPayment.focus > * {
    display: inherit;
}

/**************************
         Main Area
 **************************/
div.payment.paymentPopup .option.bizPayment .main_area .password_input_bg {
    top: 14px;
    left: 900px;
    line-height: 62px;
    height: 54px;
    width: 300px;
    color: rgba(255,255,255,.2);
    font-size: 42px;
    background: url(../resource/pop_pw_box_w300.png);
    opacity: .3;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
}

div.payment.paymentPopup .option.bizPayment.focus .main_area .password_input_bg {
    visibility: hidden;
}

/**************************
         Price Area
 **************************/
div.payment.paymentPopup .option.bizPayment .price_area {
    text-align: right;
    margin-bottom: 18px;
}

div.payment.paymentPopup .option.bizPayment .price_area .payment_amount_txt {
    color: rgba(221,175,120, .7);
    font-size: 30px;
    font-family: RixHead L;
    margin-right: 18px;
    margin-left: 18px;
}

div.payment.paymentPopup .option.bizPayment .price_area .payment_amount_price {
    color: white;
    font-size: 45px;
    margin-right: 7px
}
div.payment.paymentPopup .option.bizPayment .price_area .payment_amount_won {
    color: rgba(255,255,255,.5);
    font-size: 26px;
    margin-right: 1px;
}


/**************************
        button Area
 **************************/
div.payment.paymentPopup .option.bizPayment .button_area {
    margin-bottom: 20px;
    text-align: right;
}

div.payment.paymentPopup .option.bizPayment .button_top_area_wrapper {
    border-top: 2px solid rgba(255,255,255,.15);
    height: 82px;
    width: 1200px;
}

div.payment.paymentPopup .option.bizPayment .button_top_area {
    position: absolute;
    height: 82px;
    width: 1200px;
}

div.payment.paymentPopup .option.bizPayment .button_top_area > * {
    position: absolute;
}

div.payment.paymentPopup .option.bizPayment .button_area .input_btn {
    width: 210px;
    height: 62px;
    background: url(../resource/pop_btn_w210.png);
    top: 20px;
    text-align: center;
    line-height: 62px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.payment.paymentPopup .option.bizPayment .button_area .input_btn.focus {
    background: #D2332F;
    color: white;
    font-family: "RixHead M";
}

div.payment.paymentPopup .option.bizPayment .button_area .input_btn.disable{
    opacity: .15;
}

div.payment.paymentPopup .option.bizPayment .button_area .input_btn.ok {
    left: 772px;
}

div.payment.paymentPopup .option.bizPayment .button_area .input_btn.cancel {
    left: 990px;
}

div.payment.paymentPopup .option.bizPayment .button_area .ment {
    color: rgba(255,255,255,.3);
    font-size: 22px;
    line-height: 25px;
    margin-top: 27px;
    font-family: RixHead L;
    width: 750px;
}



div.payment.paymentPopup .option.bizPayment .main_area {
    height: 82px;
    transition: height .5s;
}

div.payment.paymentPopup .option.bizPayment .main_area .text2 {
    top: 33px;
    font-size: 25px;
    color: white;
    right: 0;
}

div.payment.paymentPopup .option.bizPayment.focus .main_area .text2 {
    display: block;
    font-family: "RixHead L";
}

div.payment.paymentPopup .option.bizPayment .option_box_area {
    display: none;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 4px;
    overflow: visible;
}

div.payment.paymentPopup .option.bizPayment.focus {
}

div.payment.paymentPopup .option.bizPayment.focus .option_box_area {
    display: block;
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper {
    width: 292px;
    height: 168px;
    display: inline-block;
    background:url(../resource/pop_op_w292.png);
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    text-align: center;
    margin-right: 11px;
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper:nth-child(4) {
    margin-right: 0;
}

div.payment.paymentPopup .option.bizPayment .option_box {
    vertical-align: middle;
    height: 168px;
    width: 292px;
    display: table-cell;
}

div.payment.paymentPopup .option.bizPayment .focus .option_box {
    height: 156px;
    width: 280px;
}

div.payment.paymentPopup .option.bizPayment .option_box .optionBtn {
    width: 38px;
    height: 38px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    background: url(../resource/rdo_btn_d.png);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.focus .optionBtn {
    background: url(../resource/rdo_btn_f.png);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.selected .optionBtn {
    background: url(../resource/rdo_btn_select_d.png);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.focus.selected .optionBtn {
    background: url(../resource/rdo_btn_select_f.png);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.focus {
    background: rgb(37,37,37);
    color: #ffffff;
    font-family: "RixHead M";
    border: 6px solid #D2332F;
    height: 156px;
    width: 280px;
}

div.payment.paymentPopup .option.bizPayment .option_box .payment_name {
    margin-bottom: 9px;
    font-size: 30px;
    display: inline-block;
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.none {
    opacity: .45;
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.none .option_box {
    display: none;
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper .btn_line {
    position: relative;
    top: -14px;
    height: 2px;
    background: rgb(115,115,115);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.focus .btn_line {
    background: rgb(103,103,103);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.disable {
    opacity: .7;
    color: rgba(255,255,255,.258);
}

div.payment.paymentPopup .option.bizPayment .option_box_wrapper.disable .optionBtn {
    display: none;
}

div.payment.paymentPopup .option.bizPayment .option_box .subText {
    font-size: 26px;
    display: inline-block;
    font-family: "RixHead L";
    color: rgba(255,255,255,.5);
}

div.payment.paymentPopup .option.bizPayment .focus .option_box .subText {
    color: rgba(255,255,255,.7);
}