div.payment.gniPopup.paymentPopup.cornerPaymentCompletePopup .popup_title {
    margin-top: 370px;
}

div.payment.gniPopup.paymentPopup.cornerPaymentCompletePopup .text1 {
    font-size: 45px;
    text-align: center;
    color: rgba(255,255,255,.9);
    margin-top: 40px;
    line-height: 62px;
    font-family: "RixHead M";
}

div.payment.gniPopup.paymentPopup.cornerPaymentCompletePopup .text2 {
    font-size: 30px;
    font-family: "RixHead L";
    text-align: center;
    color: rgba(255,255,255,.5);
    margin-top: 30px;
}

div.payment.gniPopup.paymentPopup.cornerPaymentCompletePopup .btn_area {
    margin-top: 49px;
    text-align: center;
}


div.payment.gniPopup.paymentPopup.cornerPaymentCompletePopup .btn {
    width: 280px;
    height: 62px;
    background: #D2332F;
    display: inline-block;
    color: white;
    font-size: 30px;
    font-family: "RixHead M";
    line-height: 62px;
}
div.payment.gniPopup.paymentPopup.PaymentCompletePopup .text1 {
    font-size: 48px;
    color: white;
    font-family: "RixHead M";
    margin-top: 518px;
    text-align: center;
}