#ChannelPurchasePopup.vod .VODUpSale {
    -webkit-transform: translateY(0);
}

#ChannelPurchasePopup.vod .VODUpSale.focus {
    -webkit-transform: translateY(55px);
}

#ChannelPurchasePopup.vod #focus_step1_div. div.VODUpSale {
    -webkit-transform: translateY(55px);
}

div.payment.gniPopup.upsellingOTSPopup * {
    position: absolute;
}

div.payment.gniPopup.upsellingOTSPopup .popupTitle {
    width: 100%;
    text-align: center;
    top: 353px;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.payment.gniPopup.upsellingOTSPopup .text1 {
    width: 100%;
    text-align: center;
    top: 426px;
    font-size: 38px;
    line-height: 41px;
    color: rgba(255, 255, 255, .9);
    font-family: "RixHead M";
}

div.payment.gniPopup.upsellingOTSPopup .text2 {
    width: 100%;
    text-align: center;
    top: 549px;
    font-size: 33px;
    line-height: 33px;
    color: white;
    font-family: "RixHead L";
}

div.payment.gniPopup.upsellingOTSPopup .text3 {
    width: 100%;
    text-align: center;
    top: 595px;
    font-size: 27px;
    line-height: 27px;
    color: rgba(255, 255, 255, .5);
    font-family: "RixHead L";
}

div.payment.gniPopup.upsellingOTSPopup .button {
    top: 660px;
    left: 820px;
    width: 280px;
    height: 62px;
    background-color: #D2332F;
}

div.payment.gniPopup.upsellingOTSPopup .button .buttonText {
    top: 17px;
    width: 280px;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead M";
}
