@import "paymentOption.css";
@import "resolutionOption.css";
@import "termOption.css";
@import "termDetailPopup.css";
@import "completePopup.css";
@import "toast.css";
@import "spinner.css";
@import "forVodUpSale.css";
@import "paymentAskPopup.css";
@import "bizPaymentOption.css";
@import "mobilePaymentPopup.css";

div.payment {
    font-family: "RixHead M";
    letter-spacing: -0.05em;
}

div.payment.gniPopup {
    width: 1920px;
    height: 1080px;
    background-color: rgba(0,0,0,.9);
    position: fixed;
}

/* 혼합결제 팝업에서만 사용 */
div.payment.gniPopup.paymentPopup.vodPaymentPopup .popup_title_area {
    width: 100%;
    text-align: center;
    font-size: 45px;
    height: 49px;
    margin-bottom: -2px;
    color: white;
    font-family: RixHead B;
    position: relative;
    margin-top: 152px;
}

div.payment.gniPopup .popup_title {
    width: inherit;
    text-align: center;
    font-size: 45px;
    line-height: 49px;
    margin-bottom: -2px;
    color: white;
    font-family: RixHead B;
}

div.payment.gniPopup .popup_contents {
    width: inherit;
    text-align: center;
    margin-top: 24px;
}

div.payment.gniPopup.paymentPopup .popup_title {
    margin-top: 152px;
}

/* 혼합결제 팝업에서만 사용 */
div.payment.gniPopup.paymentPopup.vodPaymentPopup .popup_title2 {
    color: white;
    position: absolute;
    width: 100%;
}

/* 팝업 우측 상단에 콘텐츠할인 XXX원 적용 문구 */
div.payment.gniPopup.paymentPopup.vodPaymentPopup .coupon_txt {
    display: none;
    position: absolute;
    background: rgba(70,70,70,.8);
    color: rgba(255, 255, 255, 0.5);
    font-family: "RixHead M";
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    padding: 7px 14px;
    top: 10px;
    right: 360px;
}


div.payment.gniPopup.paymentPopup.cornerPaymentPopup .popup_title {
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    left: 0;
    width: 100%;
}

div.payment.gniPopup.paymentPopup.vodPptPaymentPopup .popup_title {
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    left: 0;
    width: 100%;
}

div.payment.paymentPopup .buyProcessContents {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

div.payment.paymentPopup .buyProcessContents .option {
    padding-bottom: 4px;
    padding-top: 4px;
}

div.payment.paymentPopup .buyProcessContents .sep_line {
    height: 5px;
    background: white;
    opacity: .1;
}
div.payment.paymentPopup .buyProcessContents .sep_line.white {
    opacity: 1;
    background: rgba(67,67,67,.7);
}

div.payment.paymentPopup .buyProcessContents .focus+.sep_line {
    opacity: 1;
    background: rgba(67,67,67,.7);
}

div.payment.paymentPopup .buyProcessContents .absolute_wrapper {
    position: absolute;
    width: 1200px;
    overflow: visible;
}

div.payment.paymentPopup .buyProcessContents .absolute_wrapper * {
    position: absolute;
}

div.payment.paymentPopup .buyProcessContents .option .seq_number {
    font-size: 45px;
    color: rgba(255,255,255,.5);
    line-height: 60px;
    top: 14px;
}

div.payment.paymentPopup .buyProcessContents .option.focus .seq_number {
    top: 15px;
    font-size: 57px;
    color: rgba(255,96,108,.5);
}

div.payment.paymentPopup .buyProcessContents .text1 {
    left: 60px;
    top: 22px;
    color: white;
    line-height: 40px;
    font-size: 27px;
    opacity : .5;
    white-space: nowrap;
}

div.payment.paymentPopup .buyProcessContents .text1 st {
    color: white;
    line-height: 40px;
    font-size: 26px;
    opacity : .5;
    width: 500px;
    text-align: left;
    margin-left: 11px;
}

div.payment.paymentPopup .buyProcessContents .focus .text1 {
    top: 25px;
    font-size: 30px;
    opacity: 1;
    display: inline;
}

div.payment.paymentPopup .buyProcessContents .text1 box:nth-of-type(1) {
    margin-left: 14px;
}

div.payment.paymentPopup .buyProcessContents .text1 box {
    padding: 8px 17px;
    background: rgba(255,255,255,.5);
    line-height: 24px;
    height: 24px;
    margin-left: 4px;
    font-size: 27px;
    display: inline-block;
    position: relative;
}

/**************************
   포인트 상세 정보 팝업
 **************************/
div.payment.paymentPopup.paymentPointPopup .popup_title {
    font-size: 33px;
    font-family: "RixHead M";
    color: #DEAC77;
    line-height: 100%;
    width: inherit;
    text-align: center;
    margin-bottom: -2px;
    font-family: RixHead B;
}

/* 배경 박스 */
div.payment.paymentPopup.paymentPointPopup .popup_box {
    width: 711px;
    background-color: #2f2f2f;
    padding: 48px 74px;
    margin: 45px 531px;
}

/* 프로그램 금액, 할인 후 금액, 부가세 타이틀 문*/
div.payment.paymentPopup.paymentPointPopup .popup_point_txt1 {
    width: 50%;
    font-size: 27px;
    font-family: "RixHead M";
    color: white;
    display: inline-block;
}

/* kt멤버십, TV쿠폰, TV포인트, 할인권 타이틀 문구 */
div.payment.paymentPopup.paymentPointPopup .popup_point_txt2 {
    font-size: 24px;
    font-family: "RixHead M";
    color: #6F6F6F;
    display: inline-block;
    width: 305px;
    /*height: 61px;*/
}

div.payment.paymentPopup.paymentPointPopup .popup_point_txt_won {
    font-size: 24px;
    font-family: "RixHead M";
    color: #6F6F6F;
    display: inline-block;
    margin-left: 8px;
}

/* 실제 청구 금액 타이틀 문구 */
div.payment.paymentPopup.paymentPointPopup .popup_point_txt3 {
    width: 50%;
    font-size: 30px;
    font-family: "RixHead M";
    color: #FF5E6B;
    display: inline-block;
}

/* 프로그램 금액, 할인 후 금액, 부가세, 합계, 실제 청구 금액 영역 */
div.payment.paymentPopup.paymentPointPopup .popup_box_content {
    padding: 17px 25px;
    border-top: 2px solid rgb(73, 73, 73);
}

div.payment.paymentPopup.paymentPointPopup .popup_box_content span {
    text-align: right;
    right: 0px;
}

div.payment.paymentPopup.paymentPointPopup .popup_box_content span.popup_point_txt1 {
    font-size: 30px;
}

div.payment.paymentPopup.paymentPointPopup .popup_box_content span.popup_point_txt1::after {
    content: " 원";
    font-size: 24px;
}

div.payment.paymentPopup.paymentPointPopup .popup_box_content span.popup_point_txt2::before {
    content: "- ";
    font-size: 24px;
}

div.payment.paymentPopup.paymentPointPopup .popup_box_content span.popup_point_txt3::after {
    content: " 원";
    font-size: 27px;
    color: rgba(255, 255, 255, 0.5)
}

div.payment.paymentPopup.paymentPointPopup .popup_box_content #popup_pay_txt {
    font-size: 30px;
    color: #D0A773;
    vertical-align: middle;
}

/* 프로그램 금액 */
div.payment.paymentPopup.paymentPointPopup #popup_total {
    /*height: 65px;*/
    border-top: 5px solid rgb(73, 73, 73);
    padding: 20px 25px;
}

div.payment.paymentPopup.paymentPointPopup #popup_except_vat {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 25px;
    height: 100%;
}

div.payment.paymentPopup.paymentPointPopup #popup_include_vat {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 25px;
    height: 100%;
    border: none;
}

div.payment.paymentPopup.paymentPointPopup #popup_sum {
    padding: 22px 25px;
    background-color: rgba(73,73,73,.3);
    border: none;
}

div.payment.paymentPopup.paymentPointPopup #popup_pay {
    padding-left: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgba(73,73,73,.6);
    border: none;
}

div.payment.paymentPopup.paymentPointPopup #popup_last_bar {
    height: 5px;
    background-color: rgb(73, 73, 73);
    margin-top: 3px;
}

div.payment.paymentPopup.paymentPointPopup .popup_button {
    width: 280px;
    height: 67px;
    background-color: #D2332F;
    font-size: 30px;
    line-height: 67px;
    color: white;
    margin-left: 820px;
    font-family: "RixHead M";
    text-align: center;
}
