

/**************************
        Popup title
 **************************/
div.payment.mobilePaymentPopup .popup_title_text{
    left: 0px;
    top: 202px;
    width: 1920px;
    height: 35px;
    color: rgba(221, 175, 120, 1);
    font-family: "RixHead B";
    font-size: 33px;
    text-align: center;
    letter-spacing: -1.65px;
    position: absolute;
}

/**************************
       Content Name
 **************************/
div.payment.mobilePaymentPopup .conts_name{
    left: 0px;
    top: 278px;
    width: 1920px;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    font-family: "RixHead L";
    font-size: 52px;
    text-align: center;
    letter-spacing: -2.6px;
    position: absolute;
}

/**************************
     화질, 가격
 **************************/
div.payment.mobilePaymentPopup .opt_area{
    left: 0px;
    top: 352px;
    height: 38px;
    width: 1920px;
    line-height: 38px;
    color: rgba(255, 255, 255, .4);
    font-family: "RixHead L";
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.5px;
    position: absolute;
}

div.payment.mobilePaymentPopup .opt_name{
    position: relative;
}

div.payment.mobilePaymentPopup .opt_name white{
    color: rgba(255, 255, 255, 1);
}

div.payment.mobilePaymentPopup .opt_name smallbar{
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    width: 2px;
    height: 25px;
    position: relative;
    top: 3px;
    margin: 0px 10px;
}

div.payment.mobilePaymentPopup .opt_name bar{
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    width: 2px;
    height: 30px;
    position: relative;
    top: 6px;
    margin: 0px 24px;
}


/**************************
     Phone Number Area
 **************************/

div.payment.mobilePaymentPopup .phone_area {
    left: 485px;
    top: 429px;
    width: 915px;
    height: 282px;
    font-family: "RixHead L";
    font-size: 30px;
    letter-spacing: -1.5px;
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .phone_img_l {
    background-image: url(../resource/pop_bg_pwreset_phone_l.png);
    width: 29px;
    height: 282px;
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .phone_img_m {
    background-image: url(../resource/pop_bg_pwreset_phone_m.png);
    left: 29px;
    width: 856px;
    height: 282px;
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .phone_img_r {
    background-image: url(../resource/pop_bg_pwreset_phone_r.png);
    left: 885px;
    width: 29px;
    height: 282px;
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .top_text {
    line-height: 35px;
    top: 52px;
    width: 915px;
    text-align: center;
    color: rgba(255,255,255,1);
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .bottom_text {
    left: 109px;
    top: 183px;
    text-align: center;
    color: rgba(255,255,255,.7);
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .bar {
    left: 437px;
    top: 196px;
    width: 12px;
    height: 4px;
    background-color: rgba(255,255,255,.55);
    position: absolute;
}

div.payment.mobilePaymentPopup .phone_area .input_box {
    left: 270px;
    top: 162px;
    width: 158px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    color: rgba(255,255,255,1);
    text-align: center;
    letter-spacing: -1.65px;
    font-size: 33px;
    font-family: "RixHead L";
    opacity: .3;
    background-image: url(../resource/channelUpsellingResource/inputbox_unfocus/pop_input_box_w158.png);
}

div.payment.mobilePaymentPopup .phone_area .input_box.focus {
    font-family: "RixHead M";
    opacity: 1;
    background-image: url(../resource/channelUpsellingResource/mobilephoneauthpopup/pop_input_box_w158.png);
    position: absolute;
}


/**************************
      하단 안내 메시지
 **************************/
div.payment.mobilePaymentPopup .msg{
    left: 0px;
    top: 734px;
    width: 1920px;
    color: rgba(255, 255, 255, .3);
    font-family: "RixHead L";
    font-size: 24px;
    text-align: center;
    letter-spacing: -1.2px;
    position: absolute;
}


/**************************
         Button Area
 **************************/

div.payment.mobilePaymentPopup .button_area {
    top: 820px;
    width: 280px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: -1.5px;
    font-size: 30px;
    font-family: "RixHead L";
    color: rgba(255, 255, 255, 0.7);
    background-image: url(../resource/pop_btn_w280.png);
    position: absolute;
}

div.payment.mobilePaymentPopup .button_area.focus {
    background-color: rgba(210,51,47,1);
    color: rgba(255, 255, 255, 1);
    position: absolute;
    background-image: none;
}