div.payment.paymentPopup .option.payment > * {
    display: none;
}

div.payment.paymentPopup .option.payment .main_area{
    height: 82px;
    transition: height .5s;
    display:inherit;
}

div.payment.paymentPopup .option.payment.focus > * {
    display: inherit;
}


/**************************
         Main Area
 **************************/
div.payment.paymentPopup .option.payment .main_area .password_input_bg {
    top: 14px;
    left: 900px;
    line-height: 62px;
    height: 54px;
    width: 300px;
    color: rgba(255,255,255,.2);
    font-size: 42px;
    background: url(../resource/pop_pw_box_w300.png);
    opacity: .3;
    padding-top: 8px;
    text-align: center;
    vertical-align: middle;
}

div.payment.paymentPopup .option.payment.focus .main_area .password_input_bg {
    visibility: hidden;
}

/**************************
         Price Area
 **************************/
div.payment.paymentPopup .option.payment .price_area {
    text-align: right;
    margin-bottom: 18px;
}


div.payment.paymentPopup .option.payment .price_area .payment_amount_vat {
    color: rgba(255,255,255, .5);
    font-size: 22px;
    font-family: RixHead L;
    text-align: right;
}

div.payment.paymentPopup .option.payment .price_area .payment_amount_vat::before {
    content: "(부가세 ";
}
div.payment.paymentPopup .option.payment .price_area .payment_amount_vat::after {
    content: " 원 포함)";
}

div.payment.paymentPopup .option.payment .price_area .payment_amount_txt {
    color: rgba(221,175,120, .7);
    font-size: 30px;
    font-family: RixHead L;
    margin-right: 18px;
    margin-left: 18px;
}

div.payment.paymentPopup .option.payment .price_area .payment_amount_price {
    color: white;
    font-size: 45px;
    margin-right: 7px
}
div.payment.paymentPopup .option.payment .price_area .payment_amount_won {
    color: rgba(255,255,255,.5);
    font-size: 26px;
    margin-right: 1px;
}

div.payment.paymentPopup.cornerPaymentPopup .option.payment .price_area .payment_amount_price::before {
    content: "월";
    color: rgba(255,255,255,.5);
    font-size: 26px;
    margin-right: 9px;
}

div.payment.paymentPopup.cornerPaymentPopup .option.payment .price_area .payment_amount_price::after {
    content: "원";
    color: rgba(255,255,255,.5);
    font-size: 26px;
    margin-left: 7px;
}
/**************************
        Password Area
 **************************/
div.payment.paymentPopup .option.payment .password_area {
    margin-bottom: 20px;
    text-align: right;
}

div.payment.paymentPopup.cornerPaymentPopup .option.payment .password_area .price_area {
    display: inline-block;
    text-align: left;
    width: 500px;
    vertical-align: top;
    margin-bottom: 0;
    height: 64px;
    padding-top: 42px;
}

div.payment.paymentPopup .option.payment .password_top_area_wrapper {
    border-top: 2px solid rgba(255,255,255,.15);
    height: 82px;
    width: 1200px;
}
div.payment.paymentPopup.cornerPaymentPopup .option.payment .password_top_area_wrapper {
    border-top: none;
    height: 106px;
    width: 700px;
    display: inline-block;
    vertical-align: top;
}

div.payment.paymentPopup .option.payment .password_top_area {
    position: absolute;
    height: 82px;
    width: 1200px;
}

div.payment.paymentPopup .option.payment .password_top_area > * {
    position: absolute;
}

div.payment.paymentPopup.cornerPaymentPopup .option.payment .password_right_area {
    position: absolute;
    height: 82px;
    width: 1200px;
    margin-left: -500px;
    margin-top: 7px;
}

div.payment.paymentPopup.cornerPaymentPopup .option.payment .password_right_area > * {
    position: absolute;
}

div.payment.paymentPopup .option.payment .password_area .password_input_txt {
    left: 1px;
    top: 40px;
    color: white;
    font-size: 27px;
    line-height: 26px;
    opacity: .5;
}

div.payment.paymentPopup .option.payment .password_area.focus .password_input_txt {
    opacity: 1;
}

div.payment.paymentPopup .option.payment .password_area .password_input_bg {
    top: 20px;
    left: 464px;
    line-height: 62px;
    height: 62px;
    width: 213px;
    color: rgba(255,255,255,.2);
    font-size: 42px;
    background: url(../resource/pop_pw_box_w300.png);
    opacity: .3;
    padding-left: 87px;
    padding-top: 8px;
    text-align: left;
    vertical-align: middle;
}

div.payment.paymentPopup .option.payment .password_area .password_input_bg.focus {
    opacity: 1;
    background: url(../resource/pop_pw_box_w300_f.png);
}

div.payment.paymentPopup .option.payment .password_area .password_input_area {
    top: 20px;
    left: 464px;
    line-height: 62px;
    height: 62px;
    width: 213px;
    color: white;
    font-size: 42px;
    padding-left: 87px;
    text-align: left;
    padding-top: 8px;
}

div.payment.paymentPopup .option.payment .password_area .password_input_btn {
    width: 210px;
    height: 62px;
    background: url(../resource/pop_btn_w210.png);
    top: 20px;
    text-align: center;
    line-height: 62px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.payment.paymentPopup .option.payment .password_area .password_input_btn.focus {
    background: #D2332F;
    color: white;
    font-family: "RixHead M";
}

div.payment.paymentPopup .option.payment .password_area .password_input_btn.ok {
    left: 772px;
}
div.payment.paymentPopup .option.payment .password_area .password_input_btn.cancel {
    left: 990px;
}

div.payment.paymentPopup .option.payment .password_area .password_ment {
    color: rgba(255,255,255,.3);
    font-size: 22px;
    line-height: 25px;
    margin-top: 15px;
    font-family: RixHead L;
}

/**************************
    결제 상세보기
 **************************/
div.payment.paymentPopup .option.payment.focus .detail_info {
    border: 2px solid rgba(98,98,98,.5);
    background-size: 293px 62px;
    width: 293px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    font-family: 'RixHead M';
    color: rgba(255,255,255,0.21);
    line-height: 58px;
    top: 10px;
    right: 0;
}

div.payment.paymentPopup .option.payment.focus .detail_info.on {
    color: rgba(255,255,255,0.7);
    border: 2px solid rgb(98,98,98);
}

div.payment.paymentPopup .option.payment.focus .detail_info.on.focus {
    background: #D2332F;
    border: 2px solid #D2332F;
    color: #ffffff;
}

/**************************
    Point Load Fail Area
 **************************/
div.payment.paymentPopup .option.payment .point_load_fail_area {
    padding-top: 26px;
    background: rgba(58,58,58,.8);
    padding-bottom: 27px;
}

div.payment.paymentPopup .option.payment .point_load_fail_area .text1 {
    font-family: "RixHead M";
    font-size: 27px;
    color: rgba(255,255,255,.7);
}

div.payment.paymentPopup .option.payment .point_load_fail_area .text2 {
    display: block;
    margin-top: 9px;
    font-size: 26px;
    color: rgba(255,255,255,.3);
    font-family: "RixHead M";
}

/**************************
       CheckBox Area
 **************************/
/* normal*/
div.payment.paymentPopup .option.payment .check_box_area {
    height: 209px;
    margin-bottom: 35px;
    margin-top: 9px;
    white-space: nowrap;
    overflow: visible;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box .absolute_wrapper{
    width: 292px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box {
    display: inline-block;
    width: 288px;
    height: 164px;
    background-color: rgb(50, 50, 50);
    margin-right: 7px;
    border: 2px solid rgb(60,60,60);
}

div.payment.paymentPopup .option.payment .check_box_area .check_box:nth-last-child(1) {
    margin-right: 0;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.disable {
    opacity: .45;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.disable > div {
    opacity: .46;
}

div.payment.paymentPopup .option.payment .check_box_area .no_point_btn {
    width: 256px;
    height: 48px;
    left: 16px;
    top: 16px;
    background-color: rgb(72,72,72);
    line-height: 48px;
    font-size: 26px;
    color: rgba(255,255,255,.4);
    visibility: hidden;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box .check_box_icon{
    left: 20px;
    top: 20px;
    width: 48px;
    height: 40px;
    background: url(../resource/pop_cb_dim_uncheck.png);
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.checked .check_box_icon{
    background: url(../resource/pop_cb_dim_check_red.png);
}

div.payment.paymentPopup .option.payment .check_box_area .check_box .apply_amount {
    display: none;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.checked .apply_amount {
    display: block;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box .apply_amount::before {
    content:"-"
}

div.payment.paymentPopup .option.payment .check_box_area .check_box .apply_amount::after {
    content:"원"
}

div.payment.paymentPopup .option.payment .check_box_area .apply_amount{
    right:21px;
    top:25px;
    font-size: 30px;
    line-height: 30px;
    color: rgba(221,175,120,.6);
}

div.payment.paymentPopup .option.payment .check_box_area .title {
    left:19px;
    top: 78px;
    line-height: 30px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    font-family: "RixHead M";
    overflow: visible;
    letter-spacing: -1.5px;
}

div.payment.paymentPopup .option.payment .check_box_area .title light {
    font-size: 24px;
    margin-top: 4px;
    margin-left: 4px;
    letter-spacing: -1.3px;
}

div.payment.paymentPopup .option.payment .check_box_area .sub_title {
    left: 20px;
    top: 118px;
    color: rgba(255,255,255,.7);
    line-height: 26px;
    white-space: nowrap;
    font-size: 26px;
    font-family: "RixHead L";
    overflow: visible;
    letter-spacing: -1.3px;
}

div.payment.paymentPopup .option.payment .check_box_area light {
    display: inline-block;
    opacity: .7;
    font-family: "RixHead L";
}

div.payment.paymentPopup .option.payment .check_box_area .option_text {
    margin-bottom: 13px;
}

div.payment.paymentPopup .option.payment .check_box_area .op_txt_main1 {
    width: 50%;
    color: rgba(255,255,255,0.8);
    font-family: "RixHead M";
    font-size: 26px;
    text-align: left;
    display: inline-block;
}

div.payment.paymentPopup .option.payment .check_box_area .op_txt_main2 {
    width: 50%;
    color: rgba(255,255,255,0.8);
    font-family: "RixHead M";
    font-size: 26px;
    text-align: left;
    margin-left: 13px;
    display: inline-block;
}

div.payment.paymentPopup .option.payment .check_box_area #op_txt1::after {
    content: " (부가세 제외한 금액에서 할인)";
    color: rgba(255,255,255,0.4);
    font-family: "RixHead M";
    font-size: 26px;
}

div.payment.paymentPopup .option.payment .check_box_area #op_txt2::after {
    content: " (부가세 포함한 금액에서 차감)";
    color: rgba(255,255,255,0.4);
    font-family: "RixHead M";
    font-size: 26px;
}

div.payment.paymentPopup .option.payment .check_box_area #split_bar {
    position: absolute;
    width: 2px;
    height: 210px;
    background-color: rgba(67,67,67,0.7);
    top: 455px;
    left: 959px;
}

/* focused */
/* 전체 박스 */
div.payment.paymentPopup .option.payment .check_box_area .check_box.focus{
    background: rgb(37, 37, 37);
    border: 6px solid #D1433F;
    width: 280px;
    height: 156px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.focus .absolute_wrapper {
    margin-top: -5px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.focus .no_point_btn{
    background: #D2322F;
    color: white;
    left: 12px;
    top: 17px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.focus .check_box_icon{
    background: url(../resource/pop_cb_foc_uncheck.png);
    left: 16px;
    top: 21px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.focus.checked .check_box_icon{
    background: url(../resource/pop_cb_foc_check_red.png);
    left: 16px;
    top: 21px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.focus .apply_amount{
    color: rgb(221,175,120);
    right: 25px;
    top: 26px;
}

div.payment.paymentPopup .option.payment .check_box_area .check_box.focus .title {
    color: rgb(255,255,255);
    font-family: "RixHead M";
    left: 15px;
    top: 79px;
}
div.payment.paymentPopup .option.payment .check_box_area .check_box.focus .sub_title {
    color: rgba(255,255,255,.7);
    font-family: "RixHead M";
    left: 16px;
    top: 119px;
}

/* noPoint */
div.payment.paymentPopup .option.payment .check_box_area .check_box.no_point .no_point_btn {
    visibility: inherit;
}
div.payment.paymentPopup .option.payment .check_box_area .check_box.no_point .check_box_icon {
    visibility: hidden;
}
div.payment.paymentPopup .option.payment .check_box_area .check_box.no_point .apply_amount {
    visibility: hidden;
}