div.gniPopup.payment.paymentPopup.askBuyCorner {
    background-color: rgba(0, 0, 0, 0.9);
}

div.gniPopup.payment.paymentPopup.askBuyCorner .popup_contents {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1920px;
    height: 1080px;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .title {
    display: inline-block;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    margin-bottom: 47px;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .contents_name {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}


div.gniPopup.payment.paymentPopup.askBuyCorner .info_area * {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 35px;
    margin-top: 42px;
    vertical-align: middle;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .info_area .separator {
    display: inline-block;
    background: rgba(255, 255, 255, 0.3);
    width: 2px;
    height: 30px;
    margin-left: 20px;
    margin-right: 18px;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .info_area .price_area::before {
    content: "가격 : ";
    color: rgba(255,255,255,.4);
}


div.gniPopup.payment.paymentPopup.askBuyCorner .info_area .time_area::before {
    content: "기간 : ";
    color: rgba(255,255,255,.4);
}

div.gniPopup.payment.paymentPopup.askBuyCorner .description_area {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    margin-top: 32px;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .button_area {
    margin-top: 60px;
    display: inline-block;
    height: 62px;
    -webkit-transform: translateZ(0);
}

div.gniPopup.payment.paymentPopup.askBuyCorner .button_area .btn{
    margin: 0 7px;
    float: left;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
    vertical-align: middle;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .button_area .btn.focus{
    background-color: #D2332F;
    color: white;
    border: none;
    width: 280px;
    height: 62px;
}

div.gniPopup.payment.paymentPopup.askBuyCorner .button_area .btn .btnText{
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.gniPopup.payment.paymentPopup.askBuyCorner .button_area .btn.focus .btnText{
    color: white;
    font-family: "RixHead M";
    line-height: 62px;
}