
.paymentPopup .buyProcessContents .option.resolution .main_area {
    height: 82px;
    transition: height .5s;
}

.paymentPopup .buyProcessContents .option.resolution .main_area .text2 {
    top: 33px;
    font-size: 25px;
    color: white;
    right: 0;
}

.cornerPaymentPopup.paymentPopup .buyProcessContents .option.resolution .main_area .text2 {
    color: rgba(255,255,255,.3);
    top: 28px
}

.paymentPopup .buyProcessContents .option.resolution.focus .main_area .text2 {
    display: block;
    font-family: "RixHead L";
}

.paymentPopup .buyProcessContents .option.resolution .resolution_date_txt {
    top: 28px;
    right: 1px;
    line-height: 25px;
    font-size: 26px;
    color: rgba(255,255,255,.5);
}

.paymentPopup .buyProcessContents .option.resolution .option_box_area {
    display: none;
    text-align: left;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 4px;
    overflow: visible;
}

.paymentPopup .buyProcessContents .option.resolution.focus {
}

.paymentPopup .buyProcessContents .option.resolution.focus .resolution_date_txt {
    top: 30px;
}

.paymentPopup .buyProcessContents .option.resolution.focus .option_box_area {
    display: block;
}

.paymentPopup .buyProcessContents .option.resolution.focus .option_box_area.hasLeft::before {
    content: url(../resource/arw_view_l.png);
    position: absolute;
    margin-left: -51px;
    margin-top: 63px;
}

.paymentPopup .buyProcessContents .option.resolution.focus .option_box_area.hasRight::after {
    content: url(../resource/arw_view_r.png);
    position: absolute;
    margin-left: 19px;
    margin-top: 63px;
}

.paymentPopup .buyProcessContents .option.resolution .watching_mobile_area {
    text-align: left;
    height: 40px;
    overflow: visible;
}
.paymentPopup .buyProcessContents .option.resolution .watching_mobile_txt {
    color: rgba(255,255,255,.6);
    font-size: 22px;
    line-height: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    margin-top: -8px;
    margin-left: 59px;
}

.paymentPopup .buyProcessContents .option.resolution .watching_mobile_area icon {
    display: inline-block;
    width: 143px;
    height: 32px;
    background: url(../resource/icon_detail_mobile.png);
    vertical-align: top;
    margin-right: 10px;
}


.paymentPopup .option.resolution .option_box_wrapper {
    width: 292px;
    height: 168px;
    display: inline-block;
    background:url(../resource/pop_op_w292.png);
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    text-align: center;
    margin-right: 11px;
}

.paymentPopup .option.resolution .option_box_wrapper:nth-child(4) {
    margin-right: 0;
}

.paymentPopup .option.resolution .option_box {
    vertical-align: middle;
    height: 168px;
    width: 292px;
    display: table-cell;
}

.paymentPopup .option.resolution .focus .option_box {
    height: 156px;
    width: 280px;
}

.paymentPopup .option.resolution .option_box .optionBtn {
    width: 38px;
    height: 38px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
    background: url(../resource/rdo_btn_d.png);
}

.paymentPopup .option.resolution .option_box_wrapper.focus .optionBtn {
    background: url(../resource/rdo_btn_f.png);
}

.paymentPopup .option.resolution .option_box_wrapper.selected .optionBtn {
    background: url(../resource/rdo_btn_select_d.png);
}

.paymentPopup .option.resolution .option_box_wrapper.focus.selected .optionBtn {
    background: url(../resource/rdo_btn_select_f.png);
}

.paymentPopup .option.resolution .option_box_wrapper.focus {
    background: rgb(37,37,37);
    color: #ffffff;
    font-family: "RixHead M";
    border: 6px solid #D2332F;
    height: 156px;
    width: 280px;
}

.paymentPopup .option.resolution .option_box .resolution_name {
    margin-bottom: 9px;
    font-size: 30px;
    display: inline-block;
}

.paymentPopup .option.resolution .option_box .resolution_name op {
    text-decoration: line-through;
}

.paymentPopup .option.resolution .option_box .resolution_name op::after {
    content: "원";
}

.paymentPopup .option.resolution .option_box .discount_rate {
    font-size: 24px;
    color: rgba(221,175,120,.5);
    margin-left: 7px;
}

.paymentPopup .option.resolution .focus .option_box .discount_rate {
    color: rgb(221,175,120);
}

.paymentPopup .option.resolution .option_box_wrapper.none {
    opacity: .7;
}

.paymentPopup .option.resolution .option_box_wrapper.none .option_box {
    display: none;
}

.paymentPopup .option.resolution .option_box .price {
    font-size: 36px;
    display: inline-block;
    font-family: "RixHead L";
}

.paymentPopup .option.resolution .focus .option_box .price {
    font-family: "RixHead M";
}

.paymentPopup .option.resolution .option_box .price won {
    font-family: "RixHead L";
    font-size: 24px;
    color: rgba(255,255,255,.7);
}

.paymentPopup .option.resolution .focus .option_box .price won {
    font-family: "RixHead M";
    color: rgb(255,255,255);
}

/* 할인권 있을 때 원래 가격 표시 */
.paymentPopup .option.resolution .option_box_wrapper .option_box .orgPrice {
    font-family: "RixHead L";
    font-size: 30px;
    color: rgb(99,99,99);
    display: inline-block;
}

.paymentPopup .option.resolution .option_box_wrapper.focus .option_box .orgPrice {
    font-family: "RixHead M";
    font-size: 30px;
    color: rgb(103,103,103);
}

.paymentPopup .option.resolution .option_box_wrapper .orgPrice won {
    font-family: "RixHead L";
    font-size: 24px;
    color: rgb(99,99,99);
    display: inline-block;
}

.paymentPopup .option.resolution .option_box_wrapper.focus .orgPrice won {
    font-family: "RixHead M";
    color: rgb(103,103,103);
}

.paymentPopup .option.resolution .option_box_wrapper .option_box .orgPriceArr {
    width: 11px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background: url(../resource/arw_pay.png);
}

.paymentPopup .option.resolution .option_box_wrapper.focus .option_box .orgPriceArr {
    background: url(../resource/arw_pay_f.png);
}

.paymentPopup .option.resolution .option_box_wrapper .btn_line {
    position: relative;
    top: -14px;
    height: 2px;
    background: rgb(115,115,115);
}

.paymentPopup .option.resolution .option_box_wrapper.focus .btn_line {
    background: rgb(103,103,103);
}

.paymentPopup .option.resolution .option_box_wrapper.disable {
    opacity: .7;
    color: rgba(255,255,255,.258);
}

.paymentPopup .option.resolution .option_box_wrapper.disable .optionBtn {
    display: none;
}

.paymentPopup .option.resolution .option_box_wrapper.disable .price {
    font-size: 32px;
    font-family: "RixHead L";
}

/* 할인권 표시 */
.paymentPopup .option.resolution .option_box_wrapper .option_box .discount {
    width: 89px;
    line-height: 38px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "RixHead L";
    text-align: center;
    font-size: 24px;
    display: none;
    background-color: rgb(88, 88, 88);
    margin-bottom: -38px;
    letter-spacing: -1.2px;
}

.paymentPopup .option.resolution .option_box_wrapper.focus .option_box .discount {
    color: #ffffff;
    background-color: rgb(210, 51, 47);
    margin-left: -6px;
}