div.payment.gniPopup.term_detail_popup {
    display: table;
}

div.payment.gniPopup.term_detail_popup .popup_contents {
    text-align: center;
    margin-top: 182px;
}

div.payment.gniPopup.term_detail_popup .title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

/**********************
     Contents Area
**********************/
div.payment.gniPopup.term_detail_popup .popup_contents .contents_box {
    width: 1179px;
    height: 550px;
    margin: 23px auto 40px auto;
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .background {
    position: absolute;
    width: inherit;
    height: inherit;
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .background .bg_left {
    display: inline-block;
    width: 49px;
    height: 550px;
    background: url(../resource/pop_bg_noti_l.png);
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .background .bg_mid {
    display: inline-block;
    width: 1080px;
    height: 550px;
    background: url(../resource/pop_bg_noti_m.png);
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .background .bg_right {
    display: inline-block;
    width: 50px;
    height: 550px;
    background: url(../resource/pop_bg_noti_r.png);
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .textArea {
    position: absolute;
    margin-left: 90px;
    margin-top: 70px;
    width: 1000px;
    height: 410px;
    overflow: hidden;
    text-align: left;
    -webkit-transform: translateZ(0);
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .textArea span {
    margin-top: -2px;
    line-height: 46px;
    font-family: "RixHead L";
    color: white;
    font-size: 26px;
    display: block;
    transition: -webkit-transform .5s;
    letter-spacing: -1.3px;
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .scroll_bar{
    position: absolute;
    margin-left: 1107px;
    margin-top: 70px;
    width: 3px;
    height: 409px;
    background: rgba(255,255,255,.15);
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .scroll_bar .bar{
    margin-left: -1px;
    width: 5px;
    background: #AAAAAA;
    transition: -webkit-transform .5s;
}

div.payment.gniPopup.term_detail_popup .popup_contents .contents_box .measureArea {
    visibility: hidden;
    width: 999px;
    line-height: 46px;
    font-size: 26px;
    font-family: "RixHead L";
}

/**********************
      Button Area
**********************/
div.payment.gniPopup.term_detail_popup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.payment.gniPopup.term_detail_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../resource/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.payment.gniPopup.term_detail_popup .popup_contents .btn_area btn.focus {
    background: #D2332F;
    color: white;
    font-family: "RixHead M";
}