.paymentPopup .buyProcessContents .option.term .main_area {
    height: 82px;
}

.paymentPopup .buyProcessContents .option.term .term_area {
    display: none;
    height: 150px;
    background: -webkit-linear-gradient(top, rgb(75,74,73), rgb(65,64,63));
    padding: 30px 48px;
    margin-top: 8px;
    border: 2px solid rgb(97,96,94);
}

.paymentPopup .buyProcessContents .option.term.focus .term_area {
    display: block;
}

.paymentPopup .buyProcessContents .option.term .term_area > div {
    height: 150px;
    text-align: left;
    font-size: 24px;
    line-height: 39px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-family: "RixHead L";
    color: white;
}

.paymentPopup .buyProcessContents .option.term .btn_area {
    display: none;
    margin-top: 14px;
    margin-bottom: 24px;
    height: 62px;
}

.paymentPopup .buyProcessContents .option.term.focus .btn_area {
    display: block;
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn_text{
    line-height: 62px;

    color: rgba(255,255,255,.7);
    text-align: left;
    font-size: 27px;
    font-family: "RixHead L";
    width: 790px;
    display: inline-block;
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn {
    background: #403F3E;
    width: 194px;
    display: inline-block;
    height: 58px;
    vertical-align: top;
    line-height: 58px;
    font-size: 27px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    margin-right: 12px;
    border: 2px solid rgb(79,78,77);
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.focus {
    background: #D2332F;
    color: white;
    border: none;
    font-family: "RixHead M";
    line-height: 62px;
    width: 198px;
    height: 62px;
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.detail {

}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.agree {
    margin-right: 0;

}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.agree::before {
    display: inline-block;
    content: url(../resource/pop_cb_dim_uncheck.png);
    vertical-align: top;
    margin-top: 10px;
    margin-right: 12px;
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.focus.agree::before {
    margin-top: 6px;
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.agree.check::before {
    content: url(../resource/pop_cb_dim_check_red.png);
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.agree.focus::before {
    margin-top: 12px;
    content: url(../resource/pop_cb_foc_uncheck.png);
}

.paymentPopup .buyProcessContents .option.term .btn_area .btn.agree.focus.check::before {
    margin-top: 12px;
    content: url(../resource/pop_cb_foc_check_red.png);
}

