div.payment.payment_toast {
    position: absolute;
    background-image: url(../resource/caption_bg.png);
    bottom: 0px;
    left: 0;
    height: 168px;
    width: 1920px;
}

div.payment.payment_toast .toastText {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    top: 63px;
}