div.subhome {font-family: "RixHead L"; letter-spacing: -0.05em}
div.subhome * {letter-spacing: -0.05em}
div.subhome>* { position: absolute; }
div.subhome ul {-webkit-margin-before:0; -webkit-margin-after:0; -webkit-padding-start: 0;}
div.subhome li { list-style: none; }
div.subhome .focus {font-family: "RixHead M";}
div.subhome div, p, span, iframe, ul, li, img {
    overflow: visible;
}

div.subhome_background > * {
    position:fixed;
    width: 1920px;
    height: 1080px;
    top:0;
    left:0;
}
div.subhome_background .clipping {
}

div.subhome_background #background_blur {
    position: fixed;
    width: 256px;
    height: 256px;
    -webkit-transform: scale(7.5,4.21875);
    -webkit-transform-origin: 0 0;
}

div.subhome_background #background_blur .bg_wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    /*transition: opacity .5s;*/
    opacity: 0;
    /*transform: translateZ(0);*/
    overflow: hidden;
}

div.subhome_background #background_blur div.bg {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(10px);
}

div.subhome_background #background_blur .dim {
    width: inherit;
    height: inherit;
    background: #191919;
    opacity: .7;
    position: absolute;
}

div.subhome_background #bg_2d_1 {
    position: absolute;
    width: 1661px;
    height: 1080px;
    top: 0px;
    left: 0px;
    background: url("../resource/image/bg_2d_1.png");
}

div.subhome_background #bg_2d_1_height {
    position: absolute;
    width: 1661px;
    height: 1080px;
    top: 0px;
    left: 0px;
}

div.subhome_background #bg_menu_dim_dw {
    position: absolute;
    width: 1920px;
    height: 280px;
    top: 912px;
    left: 0px;
}

div.subhome_background #bg_menu_dim_up {
    position: absolute;
    width: 1920px;
    height: 168px;
    top: 0px;
    left: 0px;
}

/* PIG 영역 */
div.subhome #pig_dim {
    left:1365px;
    top:148px;
    width: 555px;
    height: 316px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Background 영역 */
div.subhome #background {
    position: fixed;
    z-index: -100;
}
div.subhome #background>* {
    position: fixed;
}
div.subhome #background .clipping {
    -webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px)
}

div.subhome #background #background_wrapper>* {
    position: fixed;
}

div.subhome #background div.bgBlurWrapper {
    position: fixed;
    top: 0px;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.subhome #background img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.subhome #backgroundTitle {
    top: 56px;
    left: 131px;
    color:rgba(255, 255, 255, 0.12);
    position: fixed;
    font-size: 40px;
    line-height: 42px;
    height: 42px;
    font-family: "RixHead B";
    letter-spacing: -0.03em;
    vertical-align: top;
    display: inline-block;
}

div.subhome #backgroundTitle::before {
    content: url(../resource/image/ar_history.png);
    vertical-align: top;
    margin-right: 8px;
    margin-top: -2px;
    width: 45px;
    height: 42px;
    display: inline-block;
    opacity: .5;
}

div.subhome .viewArea {
    width: inherit;
    height: inherit;
}

div.subhome .viewArea > * {
    position: absolute;
}

div.subhome .context_menu_indicator_area {
    background: url(../resource/image/key_shadow.png);
    position: fixed;
    display: inline-block;
    left: 1115px;
    bottom: 0;
    width: 805px;
    height: 168px;
    z-index: 1;
}

div.subhome .context_menu_indicator {
    display: inline-block;
    font-size: 24px;
    color: rgba(255,255,255,.4);
    font-family: "RixHead L";
    height: 27px;
    vertical-align: top;
    z-index: 1;
    float: right;
    margin-top: 89px;
    margin-right: 60px;
}

div.subhome .context_menu_indicator bar {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.23;
    margin: 2px 15px;
}

div.subhome .context_menu_indicator::before {
    content: url(../resource/image/icon_option_related.png);
    margin-right: 12px;
    margin-top: 1px;
    display: inline-block;
    vertical-align: top;
}

div.subhome .context_menu_indicator:empty::before {
    content: none;
}

div.subhome .context_menu_indicator_area.blurred {
    display: none;
}

div.subhome .viewArea .homeShot_area {
    width: 530px;
    height: 450px;
    right: 0;
    bottom: 0px;
    position: fixed;
    z-index: 1;
}

div.subhome .viewArea .homeShot_area .shortcut {
    position: absolute;
    left: 271px;
    top: 359px;
}

div.subhome .viewArea .homeShot_area .default_homeShot {
    width: 520px;
    height: 520px;
    position: absolute;
}

div.subhome .homeShot_area .homeShot_bar {
    margin-left: 60px;
    width: 390px;
    height: 2px;
    background: white;
    opacity: 0.15;
    top: 450px;
    position: absolute;
}