div.subhome .context_area {
    position: fixed;
    left: 809px;
    top: 0;
    width: 1111px;
    height: 1080px;
    background: url(../resource/image/contextMenu/pop_bg_option_1.png);
    z-index: 50;
    padding-left: 764px;
    padding-top: 91px;
    -webkit-transform: translateX(385px) translateZ(0);
    opacity: 0;
    transition: -webkit-transform .5s, opacity .5s;
}

div.subhome .context_menu_area {
    z-index: 150;
    position: relative;
}

div.subhome .context_menu_area .background_dim {
    position: fixed;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    background: black;
    opacity: 0;
    transition: opacity .5s;
}

div.subhome .context_menu_area.activate .background_dim {
    opacity: .6;
}

div.subhome .activate .context_area {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.subhome .context_area .btn {
    width: 296px;
    height: 61px;
    line-height: 61px;
    text-align: center;
    font-size: 30px;
    font-family: "RixHead L";
    color: white;
    background: rgba(160,160,160,.5);
    border: 2px solid rgba(200,200,200,.2);
}

div.subhome .context_area .btn.focus {
    position: relative;
    background: #D2332F;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    border-left: none;
    border-right: none;
    width: 300px;
    color: white;
    font-family: "RixHead M";
    height: 55px;
    line-height: 55px;
}

div.subhome .context_area .sep_line {
    margin-top: 52px;
    margin-bottom: 50px;
    height: 2px;
    width: 299px;
    background: rgba(255,255,255,.15);
}

div.subhome .context_area .title {
    color: #DDAF78;
    font-size: 24px;
    font-family: "RixHead M";
    margin-bottom: 16px;
    white-space: nowrap;
    text-align: left;
}

div.subhome .context_area > .text {
    color: rgba(255,255,255,.5);
    font-size: 24px;
    line-height: 34px;
}

div.subhome .context_area .drop_box {
    width: 300px;
    height: 65px;
    line-height: 65px;
    font-size: 27px;
    margin-bottom: 36px;
    color: white;
    background: rgba(160,160,160,.3);
}

div.subhome .context_area .drop_box .text {
    position: absolute;
    width: 271px;
    padding-left:29px;
}

div.subhome .context_area .drop_box .text::after {
    content: url(../resource/image/contextMenu/arw_option_popup_dw.png);
    position: absolute;
    right: 17px;
    top: 10px;
}

div.subhome .context_area .drop_box.focus {
    background:#D2332F;
    color: white;
}

div.subhome .context_area .drop_box.focus .text::after {
}

div.subhome .context_area .drop_box.focus .text {
    font-family: "RixHead M";
    padding-left:29px;
}

div.subhome .context_area .drop_box.focus .text::after {
    content: url(../resource/image/contextMenu/arw_option_popup_dw.png);
}

div.subhome .context_area .drop_box .options {
    display:none;
    z-index: 10;
}

div.subhome .context_area .drop_box.open .options {
    display: block;
    position: absolute;
    margin-top: -5px;
}

div.subhome .context_area .drop_box .options .option {
    background: url(../resource/image/contextMenu/bg_option_dropbox_2.png);
    font-family: "RixHead L";
    width: 269px;
    height: 63px;
    line-height: 63px;
    padding-left: 31px;
    color: white;
}

div.subhome .context_area .drop_box .options .option:nth-child(1) {
    background: url(../resource/image/contextMenu/bg_option_dropbox.png);
    height: 65px;
    line-height: 65px;
}

div.subhome .context_area .drop_box .options .option.focus {
    background: #D2332F;
    font-family: "RixHead M";
    color: white;
}

div.subhome .context_area .drop_box .options .option.checked::after {
    content: url(../resource/image/contextMenu/option_dropbox_select.png);
    position: absolute;
    right: 17px;
    margin-top: 10px;
}

div.subhome .context_area .drop_box .options .option.focus.checked::after {
    content: url(../resource/image/contextMenu/option_dropbox_select.png);
    position: absolute;
    right: 17px;
    margin-top: 10px;
}

div.subhome .context_area .drop_box .options .option:nth-child(1)::before {
    background-image: url(../resource/image/contextMenu/sdw_option_popup_top.png);
    background-size: 384px 102px;
    height: 102px;
    margin-top:-38px;
    position: absolute;
    content:"";
}

div.subhome .context_area .drop_box .options .option::before {
    background-image: url(../resource/image/contextMenu/sdw_option_popup_m.png);
    position: absolute;
    background-size: 384px 63px;
    width: 384px;
    height: 63px;
    margin-left: -70px;
    margin-top:-1px;
    content:"";
    z-index: -1;
    display: block;
}

div.subhome .context_area .drop_box .options .option:nth-last-child(2)::before {
    background-image: url(../resource/image/contextMenu/sdw_option_popup_btm.png);
    background-size: 384px 110px;
    height: 110px;
    position: absolute;
    content:"";
}

div.subhome .context_area .drop_box .options .option:nth-child(5)::before {
    background-image: url(../resource/image/contextMenu/sdw_option_popup_btm.png);
    background-size: 384px 110px;
    height: 110px;
    position: absolute;
    content:"";
}

div.subhome .context_area .drop_box .options .focus_line {
    background: #D2332F;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    position: absolute;
    width: 300px;
    top: 0;
    height: 55px;
    display: none;
}

div.subhome .context_area .drop_box .options .scroll_bg {
    position: absolute;
    width: 7px;
    height: 317px;
    background: #6E6E6E;
    top: 0;
    right: 0;
}

div.subhome .context_area .drop_box .options .scroll_bar {
    position: absolute;
    width: 5px;
    background: #B4B4B4;
    margin-left: 1px;
}

div.subhome .context_area .disable {
    opacity: .3;
}

div.subhome .vod_only_context_menu .context_area {
    padding-top: 52px;
}

div.subhome .context_menu_area .left_arrow {
    opacity: 0;
    -webkit-transform: translateX(385px) translateZ(0);
    left: 1480px;
    position: fixed;
    top: 514px;
    background: url(../resource/image/arw_view_l.png);
    width: 32px;
    height: 56px;
    transition: -webkit-transform .5s, opacity .5s;
}

div.subhome .context_menu_area.activate .left_arrow {
    opacity: 1;
    -webkit-transform: translateZ(0);
}

/*****
VOD Context Menu
*****/

div.subhome .context_menu_area.vod_context_menu .left_arrow {
    left: 1226px;
}

div.subhome .context_area.vod_context_menu {
    position: fixed;
    left: 543px;
    width: 593px;
    padding-top: 0;
    padding-left: 784px;
    background: url(../resource/image/contextMenu/pop_bg_option_2.png);
    -webkit-transform: translateX(385px) translateZ(0);
    opacity: 0;
}


div.subhome .vod_context_menu.activate .context_area {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.subhome .vod_context_menu .context_area .vod_info_area {
    margin-top: 52px;
    width: 158px;
    height: 1080px;
    float: left;
    margin-right: 80px;
}

div.subhome .vod_only_context_menu .context_area .vod_info_area {
    margin-left: 64px;
    width: 164px;
}

div.subhome .context_area .vod_info_area .poster_area {
    width: 168px;
    height: 240px;
    margin-bottom: 4px;
}

div.subhome .context_area .vod_info_area .poster_area > * {
    position:absolute;
    width: 168px;
    height: 240px;
}

div.subhome .context_area .vod_info_area .icon_area > img {
    width: 168px;
    position: absolute;
    bottom:0;
}

div.subhome .context_area .vod_info_area .btn {
    width: 168px;
    height: 59px;
    line-height: 59px;
    border: none;
    margin-bottom: 4px;
}

div.subhome .context_area .vod_info_area .btn.focus {
    width: 168px;
}

div.subhome .context_area .vod_info_area .btn.hiddenItem {
    visibility: hidden;
}

div.subhome .context_area .vod_info_area div.btn:nth-child(3) {
    font-size: 21px;
}

div.subhome .context_area .vod_info_area .recently_text {
    margin-top: 50px;
}

div.subhome .context_area .vod_info_area .recently_content {
    width: 168px;
    height: 240px;
    margin-top: 30px;
}

div.subhome .context_area .vod_info_area .recently_content > * {
    position:absolute;
    width: 168px;
    height: 240px;
}

div.subhome .context_area .vod_info_area .recently_content_imgWrapper {
    width: 170px;
    height: 242px;
    background: none;
}

div.subhome .context_area .vod_info_area .recently_content_imgWrapper.focus {
    background: black;
    border: 6px solid #D2332F;      /* Line Focus */
    position: absolute;
    width: 186px;
    height: 267px;
    margin-top: -19px;
    margin-left: -15px;
}

div.subhome .context_area .vod_info_area .recently_content img {
    width: 168px;
    height: 240px;
}

div.subhome .context_area .vod_info_area .shdw_area .shdw_bg {
    background-image: url(../resource/image/contextMenu/sdw_poster_h168.png);
    background-size: 108px 294px;
    width: 108px;
    height: 294px;
    margin: -22px 0px 0px 31px;
}

div.subhome .context_area .vod_info_area .shdw_area .shdw_bg_l {
    background-image: url(../resource/image/contextMenu/sdw_poster_h168_l.png);
    background-size: 57px 294px;
    width: 57px;
    height: 294px;
    margin: -22px 0px 0px -26px;
}

div.subhome .context_area .vod_info_area .shdw_area .shdw_bg_r {
    background-image: url(../resource/image/contextMenu/sdw_poster_h168_r.png);
    background-size: 57px 294px;
    width: 57px;
    height: 294px;
    margin: -22px 0px 0px 139px;
}

div.subhome .context_area .vod_info_area .shdw_area .shdw_bg .focus{
    background-image: url(../resource/image/contextMenu/sdw_poster_h168_f.png);
    background-size: 124px 318px;
    width: 124px;
    height: 318px;
    margin: -36px 0px 0px 29px;
}

div.subhome .context_area .vod_info_area .shdw_area .shdw_bg_l .focus{
    background-image: url(../resource/image/contextMenu/sdw_poster_h168_f_l.png);
    background-size: 57px 318px;
    width: 57px;
    height: 318px;
    margin: -36px 0px 0px -28px;
}

div.subhome .context_area .vod_info_area .shdw_area .shdw_bg_r .focus {
    background-image: url(../resource/image/contextMenu/sdw_poster_h168_f_r.png);
    background-size: 57px 318px;
    width: 57px;
    height: 318px;
    margin: -36px 0px 0px 153px;
}

div.subhome .context_area .vod_info_area .recently_content.focus img {
    position: absolute;
    -webkit-transform: scale(1.1);
    margin-left: 9px;
    margin-top: 13px;
}

div.subhome .context_area .vod_info_area .recently_content.focus .icon_area img {
    left: -9px;
    top: -12px;
}

div.subhome .context_area .vod_info_area .recently_content.focus::after {
    position: absolute;
    content: url(../resource/image/contextMenu/option_c_delete.png);
    margin-top: 195px;
    margin-left: 86px;
}

div.subhome .context_area.vod_context_menu .context_menu_area {
    margin-top: 52px;
    float: left;
}

div.subhome .context_area .no_content_text {
    text-align: center;
    position: absolute;
    width: 164px;
    height: 150px;
    font-size: 24px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.5);
    line-height: 37px;
    margin-top: 14px;
    z-index: -1;
    padding-top: 70px;
    border: 2px solid rgba(255,255,255,.1);
}

