div.myhome .adultAuthViewView .adult_auth_box {
    position: absolute;
    left: 540px;
    top: 148px;
}

div.myhome .viewArea .adult_auth_box {
    width: 1270px;
    height: 758px;
    text-align: center;
}

div.myhome .viewArea .adult_auth_box img {
    display: block;
    margin-left: auto;
    margin-right  : auto;
    margin-bottom: 29px;
    padding-top: 209px;
}

div.myhome .viewArea .adult_auth_box .text1 {
    display: block;
    font-size: 24px;
    color: rgba(255,255,255,.5);
    font-family: "RixHead L";
    margin-bottom: 17px;
}

div.myhome .viewArea .adult_auth_box .text2 {
    display: block;
    font-size: 33px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    margin-bottom: 33px;
    line-height: 40px;
}

div.myhome .viewArea .adult_auth_box .input_box {
    width: 301px;
    height: 68px;
    font-size: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.myhome .viewArea .adult_auth_box .input_box .box {
    background: url(../../resource/image/pw_box_w301.png);
    width: inherit;
    height: 48px;
    padding-top: 20px;
    font-family: "RixHead M";
    letter-spacing: 8px;
    opacity: .3;
    color: rgba(255,255,255,.667);
}


div.myhome .viewArea .focused .adult_auth_box .input_box .box {
    background: url(../../resource/image/pw_box_w301_f.png);
    opacity: 1;
    color: rgba(255,255,255,.2);
}

div.myhome .viewArea .adult_auth_box .input_box .star_txt {
    text-align:left;
    margin-top: -48px;
    margin-left: 84px;
    letter-spacing: 8px;
    font-family: "RixHead M";
    color: white;
}

div.myhome .tip_icon {
    display:none;
}

div.myhome.home_buyList .tip_text {
    display:none;
}

div.myhome.home_buyList .tip_text {
    display:  block;
    position: absolute;
    width: 1100px;
    left: 652px;
    top: 820px;
    font-size: 22px;
    font-family: "RixHead M";
    color: #969696;
    line-height: 28px;
    letter-spacing: -0.06em;
    text-align: center;
    opacity: 0.5;
}