div.myhome .banner_big {
    width: 1208px;
    height: 483px;
    margin-bottom: 70px;
}

div.myhome .blurred.subHomeView .banner_big {
    width: 840px;
    height: 346px;
    margin-bottom: 30px;
    white-space: nowrap;
}

div.myhome .blurred.subHomeView .banner_big.b2{
    height: 359px;
}

div.myhome .blurred.subHomeView .banner_big.b4{
    height: 346px;
    margin-top: 7px;
}

div.myhome .banner_big .banner_item {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -10px;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s, border-color .5s;
    display: inline-block;
}

div.myhome .banner_big .banner_item.focus {
    z-index: 10;
    border-color: #D2332F;  /* Line Focus */
    -webkit-transform: scale(1.1) translateZ(0);
}

div.myhome .banner_big .absolute_wrapper {
    position: absolute;
    width: inherit;
    height: 483px;
}

div.myhome.blurred .banner_big .absolute_wrapper {
    height: 346px;
}

div.myhome .banner_big .absolute_wrapper * {
    position: absolute;
}

div.myhome .banner_big .banner_big_1 {
    width: 1194px;
    height: 483px;
}

div.myhome .banner_big .banner_big_1 img {
    bottom:0;
    width: 1194px;
}

div.myhome.blurred .banner_big .banner_big_1 {
    width: 840px;
    height: 346px;
}

div.myhome.blurred .banner_big .banner_big_1 img {
    bottom:0;
    width: 840px;
}

div.myhome .banner_big .banner_big_2_1 {
    width: 702px;
    height: 483px;
    margin-right: 27px;
}

div.myhome .banner_big .banner_big_2_1 img {
    bottom: 0;
    width: 702px;
}

div.myhome.blurred .banner_big .banner_big_2_1 {
    width: 508px;
    height: 351px;
    margin-right: 0px;
}

div.myhome.blurred .banner_big .banner_big_2_1 img {
    bottom: 0;
    width: 508px;
}

div.myhome .banner_big .banner_big_2_2 {
    width: 465px;
    height: 483px;
}

div.myhome .banner_big .banner_big_2_2 img {
    bottom: 0;
    width: 465px;
}

div.myhome.blurred .banner_big .banner_big_2_2 {
    width: 331px;
    height: 351px;
}

div.myhome.blurred .banner_big .banner_big_2_2 img {
    bottom: 0;
    width: 331px;
}

div.myhome .banner_big .banner_big_3 {
    width: 390px;
    height: 483px;
    margin-right: 12px;
}

div.myhome .banner_big .banner_big_3 img {
    bottom: 0;
    width: 390px;
}

div.myhome.blurred .banner_big .banner_big_3 {
    width: 280px;
    height: 346px;
    margin-right: 0px;
}

div.myhome.blurred .banner_big .banner_big_3 img {
    bottom: 0;
    width: 280px;
}

div.myhome .banner_big .banner_big_4 {
    width: 590px;
    height: 483px;
    margin-right: 14px;
}

div.myhome .banner_big .banner_big_4 img {
    bottom: 0;
    width: 590px;
}

div.myhome.blurred .banner_big .banner_big_4 {
    width: 420px;
    height: 346px;
    margin-right: 0px;
}

div.myhome.blurred .banner_big .banner_big_4 img {
    bottom: 0;
    width: 420px;
}