div.myhome .banner_mini {
    display: block;
    width: 1208px;
    height: 300px;
    margin-bottom: 70px;
    padding-top: 41px;
}

div.myhome.blurred .banner_mini {
    width: 840px;
    height: 231px;
    white-space: nowrap;
}

div.myhome .banner_mini .banner_item {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-transform: translateZ(0);
    display: inline-block;
}

div.myhome .banner_mini .banner_item.focus {
    z-index: 10;
    border-color: #D2332F;  /* Line Focus */
    -webkit-transform: scale(1.04) translateZ(0);
}

div.myhome .banner_mini .absolute_wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
}

div.myhome .banner_mini .absolute_wrapper * {
    position: absolute;
}

div.myhome .banner_mini .banner_mini_1 {
    width: 1194px;
    height: 300px;
}

div.myhome .banner_mini .banner_mini_1 img {
    width: 1194px;
    height: 300px;
}

div.myhome.blurred .banner_mini .banner_mini_1 {
    width: 840px;
    height: 211px;
}

div.myhome.blurred .banner_mini .banner_mini_1 img {
    width: 840px;
    height: 211px;
}

div.myhome .banner_mini .banner_mini_2 {
    width: 590px;
    height: 300px;
    margin-right: 13px;
}

div.myhome .banner_mini .banner_mini_2 img {
    width: 590px;
    height: 300px;
}

div.myhome.blurred .banner_mini .banner_mini_2 {
    width: 472px;
    height: 240px;
    margin-right: -104px;
}

div.myhome.blurred .banner_mini .banner_mini_2 img {
    width: 472px;
    height: 240px;
}

div.myhome .banner_mini .banner_mini_3 {
    width: 702px;
    height: 300px;
}

div.myhome .banner_mini .banner_mini_3 img {
    width: 702px;
    height: 300px;
}

div.myhome.blurred .banner_mini .banner_mini_3 {
    width: 561px;
    height: 240px;
}

div.myhome.blurred .banner_mini .banner_mini_3 img {
    width: 561px;
    height: 240px;
}

div.myhome .banner_mini .banner_mini_4 {
    width: 456px;
    height: 300px;
}

div.myhome .banner_mini .banner_mini_4 img {
    width: 456px;
    height: 300px;
}

div.myhome.blurred .banner_mini .banner_mini_4 {
    width: 365px;
    height: 240px;
}

div.myhome.blurred .banner_mini .banner_mini_4 img {
    width: 365px;
    height: 240px;
}

div.myhome .banner_mini .banner_mini_p {
    width: 210px;
    height: 300px;
    margin-left: 36px;
}

div.myhome .banner_mini .banner_mini_p img {
    width: 210px;
    height: 300px;
}

div.myhome.blurred .banner_mini .banner_mini_p {
    width: 168px;
    height: 240px;
}

div.myhome.blurred .banner_mini .banner_mini_p img {
    width: 168px;
    height: 240px;
}

div.myhome.blurred .banner_mini.type_3 .banner_mini_p {
    margin-left: -28px;
}

div.myhome.blurred .banner_mini.type_4 .banner_mini_p {
    margin-left: -9px;
}