div.myhome.home_buyList .blurred:after {
    /*content: url(../../resource/image/dim_vodlist_btm.png);*/
    /*display: block;*/
    /*position: fixed;*/
    /*bottom: 0;*/
}

div.myhome .buyList {
    position: absolute;
    left: 645px;
    top: 86px;
    width: 1120px;
}

div.myhome .blurred .buyList {
    width: 1120px;
}

div.myhome #vodBuyList.buyList {
    position: absolute;
    left: 645px;
    top: 86px;
    width: 688px;
}

div.myhome #vodBuyList.blurred .buyList {
    /*width: 688px;*/
    /*left: 540px;*/
    /*top: 148px;*/
    /*width: 780px;*/
}

div.myhome .buyList #amountTxt {
    font-size: 22px;
    font-family: "RixHead M";
    color: rgba(255, 255, 255, .7);
    margin-bottom: 15px;
    display: inline-block;
    letter-spacing: -1.1px;
    width: 368px;
}

div.myhome .blurred .buyList #amountTxt {
    /*display: none;*/
}

div.myhome .buyList #addedText {
    font-size: 22px;
    font-family: "RixHead M";
    color: rgba(255, 255, 255, .7);
    margin-bottom: 15px;
    display: inline-block;
    width: 320px;
    text-align: right;
}

div.myhome .blurred .buyList #addedText {
    /*display: none;*/
}

div.myhome .blurred .buyList .item_area {
}

div.myhome .buyList .item_area {
    overflow: hidden;
    border-top: 5px solid rgba(178, 177, 177, .25);
    border-bottom: 5px solid rgba(178, 177, 177, .25);
}

div.myhome .buyList .focus_line {
    height: 164px;
    width: 1120px;
    position: absolute;
    border-top: 5px solid #D2332F; /* Line Focus */
    border-bottom: 5px solid #D2332F; /* Line Focus */
    margin-top: -4px;
    z-index: 10;
}

div.myhome #vodBuyList.buyList .focus_line {
    width: 688px;
}

div.myhome .blurred .buyList .focus_line {
    visibility: hidden;
}

div.myhome .buyList table {
    border-collapse: collapse;
    width: 1120px;
}

div.myhome #vodBuyList.buyList table {
    width: 688px;
}

div.myhome .blurred .buyList table {
    /*width: 780px;*/
}

div.myhome .buyList tr {
    height: 169px;
}

div.myhome .buyList tr:nth-child(5) td {
    border: none;
    /*border-bottom: 5px solid rgba(178,177,177,.25);*/
}

div.myhome .buyList tr:nth-child(6) {
    /*visibility: hidden;*/
}

div.myhome .buyList tr:nth-child(7) {
    /*visibility: hidden;*/
}

div.myhome .blurred.buyList tr {
    /*height: 140px;*/
}

div.myhome .blurred .buyList tr:nth-child(5) {
    /*border-bottom: 2px solid rgba(178,177,177,.25);*/
    /*border-bottom: 2px solid rgba(178,177,177,.25);*/
}

div.myhome .blurred .buyList tr:nth-child(6) {
    /*visibility: inherit;*/
}

div.myhome .blurred .buyList tr:nth-child(7) {
    /*visibility: inherit;*/
}

div.myhome .buyList .hiddenItem td > * {
    visibility: hidden;
}

div.myhome .buyList td {
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.myhome .buyList.editMode td.buyInfo {
    padding-left: 21px;
}

div.myhome .buyList td div {
    margin-bottom: 10px;
}

div.myhome .buyList tr:nth-child(5) td:nth-child(2) {
    border-bottom: none;
    /*border-bottom: 5px solid rgba(178,177,177,.25);*/
}

div.myhome .buyList tr:nth-child(5) td:nth-child(3) {
    border-bottom: none;
}

div.myhome .buyList td.checkBox {
    display: inline-block;
    position: absolute;
    margin-top: 62px;
    margin-left: 1px;
    z-index: 1;
    width: 46px;
    height: 38px;
    border: none;
    background: url(../../resource/image/pop_cb_dim_uncheck.png) no-repeat left center;
    visibility: hidden;
}

div.myhome .buyList.editMode .checkBox {
    visibility: visible;
}

div.myhome .buyList.editMode .checked .checkBox {
    width: 46px;
    height: 38px;
    background: url(../../resource/image/pop_cb_dim_check.png);
}

div.myhome .buyList.editMode .checked.focus .checkBox {
    width: 45px;
    height: 37px;
    background: url(../../resource/image/pop_cb_dim_check_f.png);
}

div.myhome .buyList.editMode .hiddenItem .checkBox {
    background: none;
}

div.myhome .buyList .posterImg {
    width: 110px;
}

div.myhome .buyList.editMode .posterImg {
    padding-left: 73px;
}

div.myhome .buyList .posterImg img {
    width: 87px;
    height: 124px;
}

div.myhome .buyList .focus .posterImg img {
    -webkit-transform: scale(1.1);
    -webkit-transform-origin: left;
}

div.myhome .buyList .posterImg .lock_icon {
    position: absolute;
}

div.myhome .buyList .posterImg .lock_icon > img {
    position: absolute;
    bottom: 0;
}

div.myhome .buyList .Title {
    display: block;
    color: rgba(255, 255, 255, .7);
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 13px;
    vertical-align: middle;
    line-height: 36px;
    height: 36px;
}

div.myhome .buyList .focus .Title {
    /*font-size: 39px;*/
    color: white;
    /*line-height: 42px;*/
    /*height: 42px;*/
}

div.myhome .blurred .buyList .focus .Title {
    /*color:rgba(255,255,255,.7);*/
    /*font-size:33px;*/
    /*line-height: 36px;*/
    /*height: 36px;*/
}

div.myhome .buyList .Title span {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 560px;
    /*width: 560px;*/
    display: inline-block;
    vertical-align: top;
}

div.myhome .blurred .buyList .Title span {
    /*max-width: 550px;*/
}

div.myhome .buyList .Title.hd span {
    max-width: 490px;
}

div.myhome .blurred .buyList .Title.hd span {
    /*max-width: 472px;*/
}

div.myhome .buyList .Title.hd:after {
    content: url(../../resource/image/icon/icon_tag_hd.png);
    margin-left: 19px;
    vertical-align: middle;
    display: inline-block;
}

div.myhome .buyList .Title.uhd span {
    max-width: 692px;
}

div.myhome .blurred .buyList .Title.uhd span {
    /*max-width: 472px;*/
}

div.myhome .buyList .Title.uhd:after {
    content: url(../../resource/image/icon/icon_tag_uhd.png);
    margin-left: 19px;
    vertical-align: middle;
    display: inline-block;
}

div.myhome .buyList .Title.dvd span {
    max-width: 490px;
}

div.myhome .buyList.editMode .Title.dvd span {
    max-width: 419px;
}

div.myhome .blurred .buyList .Title.dvd span {
    /*max-width: 468px;*/
}

div.myhome .buyList .Title.dvd:after {
    content: url(../../resource/image/icon/icon_tag_possess2.png);
    margin-left: 19px;
    vertical-align: middle;
    display: inline-block;
}

div.myhome .buyList .Title.delete span {
    color: white;
    text-decoration: line-through;
}

div.myhome .buyList .focus .Title.delete span {
    /*font-size: 39px;*/
    color: white;
    text-decoration: line-through;
}

div.myhome .buyList .Title img {
}

div.myhome .buyList .info {
    font-size: 24px;
    font-family: "RixHead L";
    color: rgba(255, 255, 255, .5);
}

div.myhome .buyList .info co {
    color: rgba(255, 255, 255, .2);
    vertical-align: middle;
    font-size: 26px;
    display: inline-block;
    margin-top: -2px;
}

div.myhome .buyList .focus .info {
    color: rgba(255, 255, 255, .7);
}

div.myhome .buyList .rightArea {
    text-align: right;
    min-width: 100px;
}

div.myhome .buyList .rightArea.otn {
    line-height: 30px;
}

div.myhome .buyList .price {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

div.myhome .buyList .date {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

div.myhome .buyList .expire {
    margin-top: 13px;
}

div.myhome .buyList .remain {
    font-size: 24px;
    color: rgba(196, 135, 63, 0.4);
}

div.myhome .buyList .remain_detail {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.15);
}

div.myhome .buyList .focus .price {
    color: rgba(255, 255, 255, 0.7);
}

div.myhome .buyList .focus .date {
    color: rgba(255, 255, 255, 0.7);
}

div.myhome .buyList .focus .remain {
    color: rgba(196, 135, 63, 0.8);
}

div.myhome .buyList .focus .remain_detail {
    color: rgba(255, 255, 255, 0.3);
}

div.myhome .buyList .phoneNum {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.3);
}

div.myhome .buyList #info_text {
    display: inline-block;
    font-size: 26px;
    vertical-align: top;
    line-height: 40px;
    height: 40px;
    margin-top: 28px;
    color: rgba(178, 177, 177, .4);
}

div.myhome .blurred .buyList #info_text {
    /*display: none;*/
}

div.myhome .buyList .pageIndicator {
    position: absolute;
    left: 1155px;
    top: 37px;
}

div.myhome #vodBuyList.buyList .pageIndicator {
    left: 741px;
}

div.myhome .blurred .buyList .pageIndicator {
    /*visibility: hidden;*/
}

div.myhome .blurred .buyList .pageTransIcon {
    /*visibility: hidden;*/
}

div.myhome .buyList .item_area .noItemView {
    width: inherit;
    height: 741px;
}

div.myhome .buyList .item_area .noItemView img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 294px;
}

div.myhome .buyList .item_area .noItemView .text {
    margin-top: 24px;
    display: block;
    width: inherit;
    font-size: 33px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    line-height: 42px;
}

div.myhome .buyList .context_area {
    position: fixed;
    left: 1469px;
    top: 86px;
    width: 418px;
    height: 908px;
    /*background: url(../../resource/image/contextMenu/pop_bg_option_1.png);*/
    z-index: 50;
}

div.myhome .blurred .buyList .tip_icon {
    /*position: absolute;*/
    /*top: 660px;*/
    /*left: 50px;*/
}

div.myhome .blurred .buyList .tip_text {
    /*position: absolute;*/
    /*left: 130px;*/
    /*top: 667px;*/
    /*font-size: 22px;*/
    /*font-family: "RixHead M";*/
    /*color: #969696;*/
    /*line-height: 25px;*/
}

div.myhome .buyList .context_menu_area {
    z-index: 99;
}

div.myhome .buyList .activate .context_area {
    z-index: 99;
}

div.myhome .buyList.noItem #amountTxt,
div.myhome .buyList.noItem .pageIndicator,
div.myhome .buyList.noItem #info_text {
    visibility: hidden;
}

div.myhome .buyList.noItem .item_area {
    overflow: hidden;
    border: hidden;
}