div.myhome #contentsArea .componentTitle {
    line-height: 26px;
    font-size: 27px;
    color: rgba(255,255,255,.7);
    margin-bottom: 28px;
    display: inline-flex;
    font-weight: bold;
}

div.myhome #contentsArea .componentTitle div {
    width: 3px;
    height: 24px;
    background-color: rgba(255,255,255,0.7);
    margin-right: 12px;
    margin-top: 1px;
}

