div.myhome#favorMenuPopup.favorMenu {
    /*margin-bottom: 50px;*/
}

div.myhome#favorMenuPopup.favorMenu .popup_title{
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
    position: absolute;
    top: 323px;
}

div.myhome#favorMenuPopup.favorMenu .itemList{
    margin-top: 400px;
    margin-bottom: 45px;
    height: 252px;
    width: 1300px;
    display: inline-block;
}

div.myhome#favorMenuPopup.favorMenu .itemList .no_item_area{
    width: 1284px;
    height: 252px;
    background-color: rgba(68, 66, 64, 0.5);
}

div.myhome#favorMenuPopup.favorMenu .itemList .no_item_area span{
    font-family: "RixHead L";
    position: relative;
    top: 108px;
    font-size: 33px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    letter-spacing: -1.65px;
}

div.myhome#favorMenuPopup.favorMenu .menuItem {
    position: relative;
    float: left;
    width: 420px;
    height: 120px;
    margin-right: 12px;
    margin-bottom: 12px;
    /*transition: -webkit-transform .5s;*/
    opacity: 0.99;
}

div.myhome#favorMenuPopup.favorMenu .menuItem .basicBox {
    position: absolute;
    background: -webkit-linear-gradient(rgb(87,86,85), rgb(75,74,73));
    border: 2px solid rgba(97,96,94, .5);
    width: 416px;
    height: 120px;
}

div.myhome#favorMenuPopup.favorMenu .menuItem .basicBox.empty {
    background: #1E1E1E;
    border-color: #2A2A2A;
}

div.myhome#favorMenuPopup.favorMenu .menuItem.focus .basicBox {
    background: #252525;
}

div.myhome#favorMenuPopup.favorMenu .menuItem .focusBox {
    /*width: 349px;*/
    /*height: 124px;*/
    /*background: white;*/
    /*opacity: 0;*/
    /*position: absolute;*/
    /*z-index: 5;*/
}

div.myhome#favorMenuPopup.favorMenu .menuItem .focus_red {
    height: 124px;
}

div.myhome#favorMenuPopup.favorMenu .menuItem .focus_line {
    width: 349px;
    height: 124px;
    border-top: #D2332F 6px solid;
    border-bottom: #D2332F 6px solid;
    padding: 4px 0;
    margin-top: -10px;
    display: none;
}

div.myhome#favorMenuPopup.favorMenu .menuItem .title {
    display: block;
    margin-top: 25px;
    z-index: 10;
    color: white;
    position: absolute;
    font-size: 35px;
    margin-left: 38px;
    line-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    text-align: left;
}

div.myhome#favorMenuPopup.favorMenu .menuItem .subTitle {
    display: block;
    margin-top: 74px;
    z-index: 10;
    color: rgba(255,255,255,.4);
    position: absolute;
    font-size: 23px;
    margin-left: 41px;
    line-height: 1;
    text-align: left;
}

div.myhome#favorMenuPopup.favorMenu .popup_contents .button_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome#favorMenuPopup.favorMenu .popup_contents .button_area btn {
    display: inline-block;
    width: 276px;
    height: 58px;
    margin: 0 7px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
    font-size: 30px;
    line-height: 58px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome#favorMenuPopup.favorMenu .popup_contents .button_area btn.focus {
    border: 0px;
    /*border-top: 5px solid #D2332F;*/
    /*border-bottom: 5px solid #D2332F;*/
    line-height: 62px;
    height: 62px;
    width: 280px;
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}

div.myhome#favorMenuPopup.favorMenu .editItem {
    /*position: relative;*/
    /*float: left;*/
    /*width: 124px;*/
    /*height: 124px;*/
    /*margin-bottom: 8px;*/
    /*transition: -webkit-transform .5s;*/
    /*opacity: 0.99;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem  .basicBox {
    /*position: absolute;*/
    /*background: rgb(54,54,54);*/
    /*border: 2px solid rgb(64,64,64);*/
    /*width: 120px;*/
    /*height: 120px;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem  .focusBox {
    /*width: 124px;*/
    /*height: 124px;*/
    /*opacity: 0;*/
    /*background: white;*/
    /*position: absolute;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem  .focusBox img {
    /*margin-left: 44px;*/
    /*margin-top: 22px;*/
    /*position: absolute;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem .focus_line {
    /*width: 124px;*/
    /*height: 124px;*/
    /*border-top: #D1433F 6px solid;*/
    /*border-bottom: #D1433F 6px solid;*/
    /*padding: 4px 0;*/
    /*margin-top: -10px;*/
    /*display: none;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem  .subTitle {
    /*margin-top: 74px;*/
    /*z-index: 10;*/
    /*color: rgba(255,255,255,.4);*/
    /*position: absolute;*/
    /*font-size: 23px;*/
    /*line-height: 1;*/
    /*width: inherit;*/
    /*text-align: center;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem .icon{
    /*position: absolute;*/
    /*background: url(../../resource/image/btn_myhome_edit_dim.png);*/
    /*width: 39px;*/
    /*height: 39px;*/
    /*left: 41px;*/
    /*top: 21px;*/
}


div.myhome#favorMenuPopup.favorMenu .focus {
    /*-webkit-transform: scale(1.06, 1.06) translateZ(0);*/
    /*z-index: 10;*/
}

div.myhome#favorMenuPopup.favorMenu .focus .focusBox {
    /*opacity: 1;*/
}

div.myhome#favorMenuPopup.favorMenu .focus .focus_line {
    display: inherit;
}

div.myhome#favorMenuPopup.favorMenu .focus .title {
    /*color: #49443C;*/
}

div.myhome#favorMenuPopup.favorMenu .focus .subTitle {
    /*color: #49443C;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem.focus .subTitle {
    /*color: #4C4640;*/
}

div.myhome#favorMenuPopup.favorMenu .editItem.focus .icon{
    /*background: url(../../resource/image/btn_myhome_edit_foc.png);*/
    /*background-size: 39px 39px;*/
}


div.myhome#favorMenuPopup.favorMenu .noItemItem {
    position: relative;
    float: left;
    width: 1061px;
    height: 124px;
    margin-bottom: 8px;
    margin-right: 7px;
    /*transition: -webkit-transform .5s;*/
    opacity: 0.99;
}

div.myhome#favorMenuPopup.favorMenu .noItemItem .basicBox {
    position: absolute;
    width: 1057px;
    height: 120px;
    border: 2px solid rgb(97,96,94);
    background: -webkit-linear-gradient(rgb(87,86,85), rgb(75,74,73));
}

div.myhome#favorMenuPopup.favorMenu .noItemItem .title {
    position:absolute;
    width: 1061px;
    height: 124px;
    line-height: 124px;
    text-align: center;
    font-size:30px;
    color: rgba(255,255,255,.5);
}
