div.myhome.home_foryou #foryou {
    position: relative;
    top: 140px;
    left: 645px;
}

div.myhome.home_foryou .top_area {
    -webkit-transform: translateZ(0);
    -webkit-transform-origin: 0 0;
}

div.myhome.home_foryou .blurred .top_area {
    /*-webkit-transform: scale(0.7645) translate(619px, 58px) translateZ(0);*/
}

div.myhome.home_foryou div#trophyArea {
    left: 0px;
    top: 0px;
    position: absolute;
}

div.myhome.home_foryou div#trophyArea img {
    position: absolute;
}

div.myhome.home_foryou div#trophyArea img.trophyFill {
    left: 48px;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

div.myhome.home_foryou #trophyArea span {
    width: 259px;
    text-align: center;
    font-size: 53px;
    line-height: 39px;
    position: absolute;
    top: 63px;
}

div.myhome.home_foryou #trophyArea span.goldTxt {
    color: #E5C26E;
}

div.myhome.home_foryou #trophyArea span.silverTxt {
    color: #CFD3DA;
}

div.myhome.home_foryou #trophyArea span.silver_0Txt {
    color: rgb(207, 211, 218);
}

div.myhome.home_foryou #trophyArea span.bronzeTxt {
    color: #E49864;
}

div.myhome.home_foryou div#rateBtn {
    position: absolute;
    left: 0px;
    top: 258px;
    width: 280px;
    height: 68px;
    line-height: 68px;
    font-size: 30px;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    background: rgba(64, 63, 62, .9);
    border: 2px solid rgba(79, 78, 77, .9);
}

div.myhome.home_foryou div#rateBtn.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    border-color: #D2332F;
    height: 68px;
    line-height: 68px;
    width: 280px;
}

div.myhome.home_foryou div#mentArea {
    left: 392px;
    top: 0px;
    position: absolute;
    width: 840px;
}

div.myhome.home_foryou div#mentArea span.ment1 {
    display: block;
    font-size: 40px;
    line-height: 38px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, .9);
}

div.myhome.home_foryou div#mentArea span.ment2 {
    font-size: 26px;
    color: rgba(255, 255, 255, .2);
}

div.myhome.home_foryou div#graphArea {
    position: absolute;
    display: flex;
    left: 366px;
    top: 117px;
}

div.myhome.home_foryou .blurred div.graphWrapper {
    /*margin-right: 26px;*/
}

div.myhome.home_foryou div.graphWrapper {
    width: 210px;
    height: 210px;
    margin-right: 50px;
}

div.myhome.home_foryou div.graphWrapper span {
    position: absolute;
    text-align: center;
    width: 210px;
    top: 137px;
    font-size: 24px;
    line-height: 22px;
    color: rgba(255, 255, 255, .3);
}

div.myhome.home_foryou .bottom_area {
    /*-webkit-transform: translateY(550px) translateZ(0);*/
    position: relative;
    top: 400px;
    width: 1220px;
    height: 455px;
    /*background: rgba(255, 255, 255, .05);*/
    overflow: hidden;
}

div.myhome.home_foryou .bottom_area > div.bottom_card {
    float: left;
    /*width: 436px;*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    height: 420px;
    opacity: .99;
}

div.myhome.home_foryou .bottom_area > div.bottom_card > .title {
    font-size: 27px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: -1.35px;
    /*margin-top: 48px;*/
    margin-bottom: 27px;
    padding-bottom: 18px;
    border-bottom: 3px solid rgba(255, 255, 255, .05);
}

/* Person Area */
div.myhome.home_foryou .bottom_area .person_area {
    width: 436px;
    margin-right: 73px;
    counter-reset: section;
}

div.myhome.home_foryou .bottom_area .person_area .item {
    font-size: 33px;
    line-height: 37px;
    font-family: "RixHead L";
    margin-bottom: 48px;
    color: white;
    opacity: .4;
    -webkit-transform-origin: 0 center;
}

div.myhome.home_foryou .bottom_area .person_area .item.focus {
    -webkit-transform: scale(1.18);
    opacity: .99;
    font-family: "RixHead M";
}

div.myhome.home_foryou .bottom_area .person_area .item::before {
    counter-increment: section;
    content: counter(section);
    margin-right: 22px;
    font-size: 36px;
}

/* Genre Area */
div.myhome.home_foryou .bottom_area .genre_poster_area {
    width: 196px;
    margin-right: 40px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item {
    position: relative;
    width: 196px;
    height: 420px;
    margin-bottom: 16px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item .focus_red {
    top: -17px;
    left: -14px;
    width: 224px;
    height: 314px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .poster_area {
    float: left;
    width: 196px;
    height: 280px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .poster_area img {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item.focus .poster_area img {
    -webkit-transform: scale(1.07);
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area {
    float: left;
    margin-top: 11px;
    width: 196px;
    /*height: 140px;*/
    /*margin-left: 26px;*/
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item.focus .text_area {
    margin-top: 30px;
    margin-left: -11px;
    width: 215px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .title {
    font-size: 30px;
    line-height: 34px;
    color: white;
    /*margin-top: 31px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "RixHead L";
    opacity: .5;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .focus .text_area .title > span {
    display: inline-block;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item.focus .text_area .title {
    margin-top: -3px;
    font-family: "RixHead M";
    opacity: .99;
    text-overflow: clip;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area {
    display: inherit;
    height: 32px;
    margin-top: 8px;
    margin-left: -12px;
    opacity: .99;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item.focus .text_area .info_area {
    /*display: inherit;*/
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .rating_star_area {
    position: relative;
    display: none;
    top: 5px;
    margin-left: 12px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .item.focus .text_area .info_area .rating_star_area {
    display: inherit;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .wonYn {
    position:relative;
    display: inline-block;
    font-size: 23px;
    color: white;
    line-height: 32px;
    vertical-align: top;
    margin-left: 12px;
    margin-top: -1px;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .wonYnIcon {
    position:relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: top;
    margin-top: -3px;
    margin-left: 12px;
    margin-right: 1px;
    content: url(../../resource/image/icon/icon_buy.png);
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .prIcon {
    position:relative;
    display: inline-block;
    background: red;
    width: 32px;
    height: 32px;
    margin-top: -3px;
    margin-left: 6px;
    vertical-align: top;
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .prIcon.pr_0 {
    background: url(../../resource/image/icon/icon_age_list_all.png);
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .prIcon.pr_7 {
    background: url(../../resource/image/icon/icon_age_list_7.png);
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .prIcon.pr_12 {
    background: url(../../resource/image/icon/icon_age_list_12.png);
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .prIcon.pr_15 {
    background: url(../../resource/image/icon/icon_age_list_15.png);
}

div.myhome.home_foryou .bottom_area .genre_poster_area .text_area .info_area .prIcon.pr_19 {
    background: url(../../resource/image/icon/icon_age_list_19.png);
}

div.myhome.home_foryou .blurred .bottom_area {
    /*background-color: transparent;*/
    /*-webkit-transform: translateX(443px) translateY(419px) translateZ(0) scale(0.9);*/
}

div.myhome.home_foryou .blurred .bottom_area > div {
    /*background: rgba(50, 48, 47, .9);*/
}

div.myhome.home_foryou .blurred .bottom_area > div:nth-child(n+3) {
    /*opacity: 0;*/
}

div.myhome.home_foryou .blurred .bottom_area > div:nth-child(n+2)::before {
    /*position: absolute;*/
    /*background: url(../../resource/image/sdw_category_poster.png);*/
    /*height: 472px;*/
    /*width: 14px;*/
    /*content: ' ';*/
    /*background-repeat: repeat-y;*/
    /*margin-left: -50px;*/
    /*opacity: .5;*/
}

div.myhome.home_foryou .bottom_area div.focus_line {
    position: absolute;
    margin-top: -19px;
}

div.myhome.home_foryou .bottom_area div.focus_line > div {
    background: #D2332F;
    width: 436px;
    height: 6px;
}

/************
    NoPref
 ************/
div.myhome.home_foryou .noPref {
    width: 780px;
    height: 758px;
    /*border-top: 5px solid rgba(255, 255, 255, .1);*/
    /*border-bottom: 5px solid rgba(255, 255, 255, .1);*/
    margin-left: 170px;
    margin-top: 20px;
    text-align: center;
}

div.myhome.home_foryou .noPref .no_content_area {
    /*background: rgba(255, 255, 255, .05);*/
    height: 756px;
    margin-top: 1px;
}

div.myhome.home_foryou .noPref .no_content_area #spinner {
    position: relative;
    display: inline-block;
    margin-left: auto;

    margin-right: auto;
    margin-top: 310px;
}

div.myhome.home_foryou .noPref .no_content_area .loading_text {
    font-size: 33px;
    color: rgba(255,255,255,.7);
    margin-top: 65px;
}

div.myhome.home_foryou .noPref img {
    margin-top: 191px;
}

div.myhome.home_foryou .noPref span {
    display: block;
}

div.myhome.home_foryou .noPref .text1 {
    font-size: 33px;
    line-height: 37px;
    color: rgba(255, 255, 255, .7);
    margin-top: 25px;
    font-family: "RixHead L";
}

div.myhome.home_foryou .noPref .text2 {
    font-size: 27px;
    line-height: 37px;
    color: rgba(255, 255, 255, .5);
    margin-top: 22px;
    margin-bottom: 40px;
    font-family: "RixHead L";
}

div.myhome.home_foryou .noPref .rateBtn {
    background: rgba(255, 255, 255, .15);
    width: 288px;
    height: 64px;
    font-size: 30px;
    color: rgba(255, 255, 255, .7);
    line-height: 64px;
    margin-left: auto;
    margin-right: auto;
    font-family: "RixHead L";
}

div.myhome.home_foryou .noPref.focus .rateBtn {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
    height: 54px;
    line-height : 54px;
}

div.myhome.home_foryou #foryou .context_menu_indicator {
    right: 105px;
}

div.myhome.home_foryou #myRatingContent.noPref {
    position: relative;
    top: 140px;
    left: 645px;
}