div.myhome #contentsArea .infoText_recently {
    height: 360px;
    width:  1672px;
    margin-bottom: 53px;
    background: #403F3E;
    border: 1px solid rgb(79,78,77);
}

div.myhome #contentsArea .infoText_recently .text_1 {
    position: absolute;
    margin-left: 59px;
    margin-top: 59px;
    font-size: 40px;
    font-family: "RixHead L";
    color:white;
}

div.myhome #contentsArea .infoText_recently .text_2 {
    position: absolute;
    margin-left: 59px;
    margin-top: 115px;
    font-size: 26px;
    font-family: "RixHead L";
    color: #B4B4B4;
}

div.myhome #contentsArea .infoText_recently img {
    position: absolute;
    right: 120px;
    margin-top: 45px;
}


div.myhome #contentsArea .infoText_recently .dim {
    margin-left: 58px;
    position: absolute;
    margin-top: 229px;
    background-color: #595857;
    width: 328px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 30px;
    color: white;
}

div.myhome #contentsArea .infoText_recently.focus .dim {
    background-color: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    height: 66px;
    line-height: 66px;
}



div.myhome #contentsArea .infoText_wish {
    height: 360px;
    width:  1672px;
    margin-bottom: 53px;
    background: #403F3E;
    border: 1px solid rgb(79,78,77);
}

div.myhome #contentsArea .infoText_wish .text_1 {
    position: absolute;
    margin-left: 59px;
    margin-top: 59px;
    font-size: 40px;
    color:white;
    font-family: "RixHead L";
}

div.myhome #contentsArea .infoText_wish .text_2 {
    position: absolute;
    margin-left: 59px;
    margin-top: 115px;
    font-size: 26px;
    color: #B4B4B4;
    font-family: "RixHead L";
}

div.myhome #contentsArea .infoText_wish img {
    position: absolute;
    right: 105px;
    margin-top: 45px;
}

div.myhome #contentsArea .infoText_wish .dim {
    position: absolute;
    margin-left: 58px;
    margin-top: 229px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 328px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 30px;
    color: white;
    font-family: "RixHead L";
}

div.myhome #contentsArea .infoText_wish.focus .dim {
    background-color: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    height: 56px;
    line-height: 56px;
}



div.myhome #contentsArea .infoText_foryou {
    height: 360px;
    width: 1672px;
    margin-bottom: 53px;
    -webkit-transform: translateZ(0);
    background: #403F3E;
}

div.myhome #contentsArea .infoText_foryou .text_1 {
    position: absolute;
    margin-left: 59px;
    margin-top: 63px;
    font-size: 40px;
    font-family: "RixHead L";
    color:white;
}

div.myhome #contentsArea .infoText_foryou .text_2 {
    position: absolute;
    margin-left: 59px;
    margin-top: 125px;
    font-size: 26px;
    line-height: 30px;
    font-family: "RixHead L";
    color: #B4B4B4;
}

div.myhome #contentsArea .infoText_foryou img {
    right: 45px;
    top: 45px;
    width: 440px;
    height: 270px;
    position: absolute;
}

div.myhome #contentsArea .infoText_foryou .dim {
    position: absolute;
    margin-left: 58px;
    margin-top: 229px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 328px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 30px;
    color: white;
}

div.myhome #contentsArea .infoText_foryou.focus .dim {
    background-color: #D2332F;
    color: rgb(255, 255, 255);
}
