/*
   [si.mun]
   해당 css 파일은 키즈 -> 최근 시청 목록 호출 시에
   마이메뉴 -> 최근 시청 목록을 호출하는 데, kid class 를 추가하였을 때
   css 를 변경하는 데만 쓰이는 파일이다. 일부는 myhome css를 사용할 수도 있음.
 */

/* 최근 시청 목록 title */
div.myhome.with_kids.home_recentlyList #backgroundTitle {
    color: rgba(255, 255, 255, 0.3);
}

/* 포스터 focus box color */
div.myhome.with_kids.home_recentlyList .focus_red {
    border: 6px solid #FFB32E;
}

div.myhome.with_kids.home_recentlyList .black_bg {
    border: 1px solid #4A678E;
}

/* 체크 박스 */
div.myhome.with_kids.home_recentlyList #contentsArea .content.poster_vertical.select.focus .edit_select_btn {
    background-image: url("../../resource/image/posterList/poster_checkbox_select.png");
}

/* indicator */
div.myhome.with_kids.home_recentlyList .pageIndicator .focusCircle {
    background-image: url("../../resource/image/indicator/scroll_sel_d_kids.png");
}

/* contextMenu */
div.myhome.with_kids.home_recentlyList .bg_area {
    width: 412px;
}

div.myhome.with_kids.home_recentlyList .bg_area .bg_top {
    height: 62px;
    background: url("../../resource/image/contextMenu/set_bg_btn_kids_t.png");
}

div.myhome.with_kids.home_recentlyList .bg_area .bg_mid {
    margin-left: 0px;
    background: url("../../resource/image/contextMenu/set_bg_btn_kids.png");
}

div.myhome.with_kids.home_recentlyList .bg_area .bg_bottom {
    height: 62px;
    background: url("../../resource/image/contextMenu/set_bg_btn_kids_b.png");
}

div.myhome.with_kids.home_recentlyList .btn_area btn {
    background: rgba(16, 47, 70, 0.5);
    border: 0;
    width: 286px;
    /*height: 70px;*/
    color: rgba(255, 255, 255, 0.7);
}

div.myhome.with_kids.home_recentlyList .btn_area btn.focus {
    background: #FFB32E;
    color: rgb(0, 0, 0);
}