div.myhome #contentsArea .myMenu_pg {
    position: fixed;
    top: 70px;
    right: 100px;
    height: 30px;
    margin-bottom: 35px;
    margin-right: 37px;
}

div.myhome #contentsArea .myMenu_pg .menuList{
    float: right;
}

div.myhome #contentsArea .myMenu_pg .menuList .menuItem {
    /*min-width: 225px;*/
    height: 25px;
    margin-right: 18px;
    float: left;
    /*background: -webkit-linear-gradient(rgb(70,68,68), rgb(48,47,46));*/
    /*border: 1px solid rgb(78,76,74);*/
}

div.myhome #contentsArea .myMenu_pg .menuList .bar {
    width: 2px;
    height: 19px;
    background: #3E3E3E;
    margin-left: 12px;
    margin-top:2px;
}

div.myhome #contentsArea .myMenu_pg .menuList .menuItem:nth-child(4) .bar {
    display: none;
}

div.myhome #contentsArea .myMenu_pg .menuList .menuItem > span {
    position: relative;
    float: right;
}

.myMenu_pg .menuList .menuItem:nth-child(1) > .basicText {
    color: rgb(255, 106, 96);
}

.myMenu_pg .menuList .menuItem:nth-child(2) > .basicText {
    color: rgb(251, 158, 104);
}

.myMenu_pg .menuList .menuItem:nth-child(3) > .basicText {
    color: rgb(152, 174, 240);
}

.myMenu_pg .menuList .menuItem:nth-child(4) > .basicText {
    color: rgb(204, 179, 113);
}

div.myhome #contentsArea .myMenu_pg .menuList .menuItem .focus_line {
    border-top: #D2332F 6px solid;
    border-bottom: #D2332F 6px solid;
    padding: 4px 0;
    margin-top: -10px;
    width: inherit;
    height: inherit;
    -webkit-transform: scale(1.1);
    display: none;
}

div.myhome #contentsArea .myMenu_pg .menuList .baseBox {
    position: absolute;
    margin-top: 14px;
    margin-left: 20px;
    width: 190px;
    height: 44px;
}

div.myhome #contentsArea .myMenu_pg .menuList .baseNew {
    position: absolute;
    margin-left: 50px;
    margin-top: 36px;
    display: none;
}

div.myhome #contentsArea .myMenu_pg .menuList .focusBox {
    display: none;
    position: absolute;
    margin-top: 12px;
    margin-left: 8px;
}

div.myhome #contentsArea .myMenu_pg .menuList .focusNew {
    position: absolute;
    margin-left: 50px;
    margin-top: 36px;
    visibility: hidden;
    display: none;
}

div.myhome #contentsArea .myMenu_pg .menuList .new .newIcon {
    display: inherit;
}

div.myhome #contentsArea .myMenu_pg .menuList .basicText {
    margin-right: 20px;
    /*width: 179px;*/
    position: absolute;
    /*color: rgba(255, 255, 255, .7);*/
    font-size: 23px;
    letter-spacing: -1.15px;
    font-family: "RixHead M";
}

div.myhome #contentsArea .myMenu_pg .menuList .amountArea {
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 67px;
    width: 198px;
    position: absolute;
    text-align: right;
}

div.myhome #contentsArea .myMenu_pg .menuList .amountText {
    color: rgba(255, 255, 255, .9);
    font-size: 24px;
    font-family: "RixHead B";
    letter-spacing: -1.2px;
}

div.myhome #contentsArea .myMenu_pg .menuList .measureText {
    margin-left:5px;
    font-size:22px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: -1.1px;
    font-family: "RixHead L";
}

div.myhome #contentsArea .myMenu_pg .menuList .measureText::before {
    /*display: inline-block;*/
    /*content: "";*/
    /*width: 2px;*/
    /*height: 19px;*/
    /*background: #3E3E3E;*/
}

div.myhome #contentsArea .myMenu_pg .menuList .btnText {
    margin-top: 119px;
    font-size:26px;
    line-height: 43px;
    text-align: center;
    width: 198px;
    height: 43px;
    margin-left: 15px;
    color: rgba(255, 255, 255, .3);
    position: absolute;
    background: #3E3D3B;
    border: 1px solid rgb(78,76,74);
    font-family: "RixHead M";
}

/*
 *  focus
 */
div.myhome #contentsArea .myMenu_pg .menuList .menuItem.focus {
    background: #F0F0F0;
    border: 1px solid #F0F0F0;
}

div.myhome #contentsArea .myMenu_pg .menuList .menuItem.focus .text_area {
    /*-webkit-transform: scale(1.1) translateZ(0);*/
    /*background: white;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*position: absolute;*/
}
div.myhome #contentsArea .myMenu_pg .menuList .menuItem.focus .focus_line {
    display: inherit;
}
div.myhome #contentsArea .myMenu_pg .menuList .focus .baseBox {
    display: none;
}
div.myhome #contentsArea .myMenu_pg .menuList .focus .baseNew {
    display: none;
}
div.myhome #contentsArea .myMenu_pg .menuList .focus .focusBox {
    display: block;
}
div.myhome #contentsArea .myMenu_pg .menuList .focus .focusNew {
    visibility: inherit;
}
div.myhome #contentsArea .myMenu_pg .menuList .focus .basicText {
    color: black;
    font-family: "RixHead M";
}
div.myhome #contentsArea .myMenu_pg .menuList .focus .amountText {
    color: rgba(0, 0, 0, .9);
}

div.myhome #contentsArea .myMenu_pg .menuList .focus .measureText {
    color: rgba(0, 0, 0, .5);
}

div.myhome #contentsArea .myMenu_pg .menuList .focus .btnText {
    color: white;
    background: #B2B1B0;
    border: 1px solid #B2B1B0;
}