div.myhome #contentsArea .myMenu {
    margin-bottom: 60px;
}

div.myhome #contentsArea .myMenu .menuList {
    z-index: 0;
}

div.myhome #contentsArea .myMenu .menuList .menuItem {
    width: 155px;
    height: 170px;
    margin-right: 14px;
    margin-bottom: 9px;
    vertical-align: top;
    /*transition: -webkit-transform .5s;*/
    display: inline-block;
}

div.myhome #contentsArea .myMenu .menuList .menuItem.disabled {
    opacity: 0.2;
}

div.myhome #contentsArea .myMenu .menuList .itemArea {
    width: 155px;
    height: 170px;
    /*border: 2px solid rgba(97,96,94,.3);*/
    background: -webkit-linear-gradient(top, rgb(87,86,85), rgb(65,64,63));
}

div.myhome #contentsArea .myMenu .menuList .focus_line {
    /*position:relative;*/
    /*width: 153px;*/
    /*height: 168px;*/
    /*border: #000000 1px solid;*/
    /*padding: 1px;*/
    /*margin-top: -171px;*/
    /*margin-left: -1px;*/
    /*display: none;*/
}

div.myhome #contentsArea .myMenu .menuList .itemArea img.basic_img {
    margin-left: 48px;
    margin-top: 19px;
    width:60px;
    height: 60px;
}

div.myhome #contentsArea .myMenu .menuList .itemArea img.focus_img {
    display:none;
}

div.myhome #contentsArea .myMenu .menuList .itemArea .item_title {
    display: table;
    margin-left: 12px;
    margin-top: 15px;
    text-align: center;
    width: 129px;
    font-size: 24px;
    font-family: "RixHead M";
    height: 50px;
    color: #D2D2D2;
    letter-spacing: -1.2px;
    line-height: 28px;
}

div.myhome #contentsArea .myMenu .menuList .itemArea .item_title p {
    display: table-cell;
    vertical-align: middle;
}

/*
 *  focus
 */
div.myhome #contentsArea .myMenu .menuList .focus {
    z-index:10;
    -webkit-transform: scale(1.1) translateZ(0);
}

div.myhome #contentsArea .myMenu .menuList .focus .itemArea {
    background: #343332;
    /*border-color: white;*/
}

div.myhome #contentsArea .myMenu .menuList .focus .itemArea .item_title {
    color: rgb(255, 255, 255);
}
div.myhome #contentsArea .myMenu .menuList .focus .focus_line {
    /*display: block;*/
    /*outline: #D1433F 6px solid;*/
}
div.myhome #contentsArea .myMenu .menuList .focus img.basic_img {
    display:none;
}

div.myhome #contentsArea .myMenu .menuList .focus img.focus_img {
    display: inline;
    width: 60px;
    height: 60px;
    margin-left: 48px;
    margin-top: 20px;
}

/* myMenu shadow */
div.myhome #myMenu .menuItem .sdw_area  {
    display: none;
    position: absolute;
    top: -26px;
    left: -25px;
    width: 205px;
    height: 223px;
    content: url("../../resource/image/mymenu/sdw_mymenu_h186.png");
}

div.myhome #myMenu .menuItem.focus .sdw_area  {
    display: inherit;
}

/* 전역으로 설정되어 있는 focus_red box 의 크기를 [myMenu]에 맞게 설정 */
#myMenu .focus_red {
    top: -7px;
    left: -7px;
    width: 169px;
    height: 184px;
}