/*div.myhome div.myplist.blurred:after {*/
    /*content: url(../../resource/image/dim_vodlist_btm.png);*/
    /*display: block;*/
    /*position: fixed;*/
    /*bottom: 0;*/
/*}*/

div.myhome div.myplist .overflow_wrapper{
    width: 688px;
    height: 826px;
    border-bottom: 5px solid rgba(178,177,177,.3);
    border-top: 5px solid rgba(178,177,177,.3);
    overflow: hidden;
}

/*div.myhome div.myplist.blurred .overflow_wrapper{*/
    /*width: 975px;*/
    /*border-bottom: none;*/
/*}*/

div.myhome .viewArea div.myplist .playlist_cnt {
    position: absolute;
    top:90px;
    left:645px;
    font-size: 22px;
    letter-spacing: -1.1px;
    color: rgba(255, 255, 255, 0.3);
    white-space: nowrap;
}

div.myhome .viewArea div.myplist .contents_area {
    overflow: hidden;
}

/*div.myhome .viewArea div.myplist.blurred .contents_area {*/
    /*-webkit-transform: translateX(342px) translateY(12px) translateZ(0) scale(.8);*/
    /*-webkit-transform-origin: 0 0;*/
    /*overflow: visible;*/
/*}*/

/*div.myhome .viewArea div.myplist.blurred .contents_area.noContents {*/
    /*-webkit-transform: translateX(342px) translateY(12px) translateZ(0);*/
/*}*/

div.myhome div.myplist .contents_area .scrolled_area {
    -webkit-transform:  translateZ(0);
    transition: -webkit-transform .5s;
}

div.myhome .myplist .focus_area {
    position: absolute;
    border-top: #D2332F 5px solid;      /* Line Focus */
    border-bottom: #D2332F 5px solid;   /* Line Focus */
    height: 161px;
    width: 688px;
    z-index: 10;
    top: 0;
}

/*div.myhome .myplist.blurred .focus_area {*/
    /*opacity: 0;*/
/*}*/

div.myhome .myplist .focus_area.hidden {
    opacity: 0;
}

div.myhome .myplist .indicator_area {
    position: absolute;
    left: 1386px;
    top: 123px;
}

/*div.myhome .myplist.blurred .indicator_area {*/
    /*opacity: 0;*/
/*}*/

/*************************
      Contents Area
 ************************/
/*  Item Area  */
div.myhome .myplist .item_area {
    width: 688px;
    height: 164px;
    vertical-align: middle;
    display: inline-table;
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
    border-bottom: 2px solid rgba(255,255,255,.1);
}

/*div.myhome .myplist.blurred .item_area {*/
    /*width: 457px;*/
/*}*/

/*div.myhome .myplist .item_area:nth-child(odd) {*/
    /*margin-right: 60px;*/
/*}*/

div.myhome .myplist .item_area:nth-child(9) {
    border-bottom: none;
}

div.myhome .myplist .item_area:nth-child(10) {
    border-bottom: none;
}

div.myhome .myplist .item_area > * {
    display: table-cell;
    vertical-align: middle;
}

div.myhome .myplist .item_area .checkBoxArea {
    width: 74px;
    height: 39px;
}

/*div.myhome .myplist.blurred .item_area .checkBoxArea {*/
    /*display:none*/
/*}*/

div.myhome .myplist .item_area .checkBoxArea .checkBox {
    width: 48px;
    height: 39px;
    background: url(../../resource/image/pop_cb_dim_uncheck.png);
}

div.myhome .myplist .item_area.checked .checkBoxArea .checkBox {
    background: url(../../resource/image/pop_cb_dim_check.png);
}

div.myhome .myplist .item_area.checked.focus .checkBoxArea .checkBox {
    background: url(../../resource/image/pop_cb_dim_check_f.png);
}

div.myhome .myplist .item_area .posterArea {
    width: 87px;
    height: 124px;
    margin-right: 25px;
    vertical-align: middle;
}

div.myhome .myplist .item_area .posterArea .posterBox {
    width: 87px;
    height:124px;
    margin-right: 25px;
}

div.myhome .myplist .item_area .posterArea .absoluteWrapper {
    position: absolute;
    width: 87px;
    height: 124px;
}

div.myhome .myplist .item_area .posterArea .musicBg {
    position: absolute;
    left:0;
    top:0;
    width: 87px;
    height: 124px;
}

div.myhome .myplist .item_area .posterArea .poster {
    position: absolute;
    left:0;
    top:0;
    width: 87px;
    height: 124px;
}


div.myhome .myplist .item_area .posterArea .lock_icon {
    width: inherit;
    height: inherit;
}

div.myhome .myplist .item_area .posterArea .lock_icon > img {
    width: inherit;
    bottom: 0;
    position: absolute;
}

div.myhome .myplist .item_area .titleArea {
    max-width: 324px;
}

div.myhome .myplist .item_area .titleArea .title {
    display: block;
    font-size: 33px;
    line-height: 36px;
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.myhome .myplist .item_area.focus .titleArea .title {
    text-overflow:inherit;
    width: 320px;
}

div.myhome .myplist .item_area.focus .titleArea .title span {
    display: inline-block;
}

div.myhome .myplist .item_area.focus .titleArea .description {
    opacity:1
}

div.myhome .myplist .item_area .titleArea .description {
    display: block;
    font-size: 24px;
    color: rgba(255,255,255,1);
    margin-top: 10px;
    opacity: .5;
}

div.myhome .myplist .item_area .titleArea .isfree {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 6px;
}

div.myhome .myplist .item_area .titleArea .age {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

/*div.myhome .myplist.blurred .item_area.focus .posterArea .posterBox {*/
    /*-webkit-transform: none;*/
/*}*/

div.myhome .myplist .item_area.focus .posterArea .posterBox {
    -webkit-transform: scale(1.145);
}

div.myhome .myplist .item_area.focus .titleArea {
    -webkit-transform: translateX(7px);
    max-width: 317px;
}

div.myhome .myplist .item_area .isfreeIcon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    content: url(../../resource/image/icon/icon_buy.png);
    margin-right: 6px;
}

/*div.myhome .myplist.blurred .item_area:nth-child(9) {*/
    /*border-bottom: 2px solid rgba(255,255,255,.1);*/
/*}*/

/*div.myhome .myplist.blurred .item_area:nth-child(10) {*/
    /*border-bottom: 2px solid rgba(255,255,255,.1);*/
/*}*/

/*  NoContents Area  */
div.myhome .myplist .contents_area.noContents {
    width: 780px;
    height: 758px;
    top: 180px;
    left: 795px;
    /*border-top: 5px solid rgba(255,255,255,.1);*/
    /*border-bottom: 5px solid rgba(255,255,255,.1);*/
    text-align: center;
}

div.myhome .myplist .contents_area.noContents .no_content_area {
    /*background: rgba(255,255,255,.05);*/
    overflow: hidden;
    margin-top: 1px;
    height: 756px;
}

div.myhome .myplist .contents_area.noContents .msg_icon {
    display: block;
    margin-top: 215px;
    margin-left:auto;
    margin-right:auto;
}

div.myhome .myplist .contents_area.noContents .main {
    display: block;
    margin-top:29px;
    font-size: 33px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    width: inherit;
    line-height: 31px;
}

div.myhome .myplist .contents_area.noContents .sub {
    display: block;
    margin-top: 25px;
    font-size: 27px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.5);
    width: inherit;
    line-height: 39px;
}

div.myhome .myplist .contents_area.noContents .sub icon {
    width: 33px;
    height: 27px;
    display: inline-block;
    background: url(../../resource/image/icon_option_related.png);
    background-size: 33px 27px;
    vertical-align: top;
    margin-top: 6px;
    margin-right: 7px;
    margin-left: 9px;
}
