div.myhome #contentsArea .otm_paring_area {
    height: 64px;
    margin-bottom: 11px;
}

div.myhome #contentsArea .otm_paring_area .absolute_wrapper {
    position: absolute;
}

div.myhome #contentsArea .otm_paring_area .bg_area {
    position: absolute;
}

div.myhome #contentsArea .otm_paring_area .bg_area .default_bg {
    background: url(../../resource/image/main/my_menu_box_otm.png);
    opacity: .9;
    position: absolute;
    width: 471px;
    height: 64px;
}

div.myhome #contentsArea .otm_paring_area.focus .bg_area .focus_bg {
    background: white;
    position: absolute;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    width: 515px;
    height: 68px;
    margin-top: -7px;
    margin-left: -22px;
}

div.myhome #contentsArea .otm_paring_area .btn_area {
    top: 0;
    left: 0;
    position: absolute;
    width: 471px;
    height: 64px;
    display: inline-block;
    z-index: 1;
}

div.myhome #contentsArea .otm_paring_area .btn_area .show_icon {
    background: url(../../resource/image/main/icon_show_pairing.png);
    position: absolute;
    left: 24px;
    top: 15px;
    width: 32px;
    height: 34px;
}

div.myhome #contentsArea .otm_paring_area.focus .btn_area .show_icon {
    background: url(../../resource/image/main/icon_show_pairing_f.png);
    left: 7px;
    top: 15px;
    width: 33px;
}

div.myhome #contentsArea .otm_paring_area .btn_area span {
    position: absolute;
    color: rgba(255,255,255,.7);
    font-size: 24px;
    line-height: 27px;
    left: 66px;
    top: 20px;
}

div.myhome #contentsArea .otm_paring_area.focus .btn_area span {
    color: rgba(0,0,0,.9);
    left: 50px;
    top: 20px;
    display: inline-block;
    vertical-align: top;
}

div.myhome #contentsArea .otm_paring_area .btn_area span::after {
    content: url(../../resource/image/main/icon_pairing_off.png);
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
}

div.myhome #contentsArea .otm_paring_area.english .btn_area span::after {
    content: url(../../resource/image/main/icon_pairing_off_eng.png);
}

div.myhome #contentsArea .otm_paring_area.paired .btn_area span::after {
    content: url(../../resource/image/main/icon_pairing_on.png);
}

div.myhome #contentsArea .otm_paring_area.paired.english .btn_area span::after {
    content: url(../../resource/image/main/icon_pairing_on_eng.png);
}

div.myhome #contentsArea .otm_paring_area .btn_area .button {
    background: rgba(255,255,255,.08);
    width: 161px;
    height: 48px;
    position: absolute;
    top: 8px;
    left: 295px;
    color: rgba(255,255,255,.3);
    line-height: 48px;
    text-align: center;
    font-size: 26px;
}

div.myhome #contentsArea .otm_paring_area.focus .btn_area .button {
    top: 6px;
    left: 296px;
    background: #B2B1B0;
    width: 175px;
    height: 52px;
    line-height: 52px;
    font-size: 28px;
    color: white;
    text-shadow: 1px 0 rgba(0,0,0,.4);
}

div.myhome #contentsArea .otm_paring_area .description_text {
    position: absolute;
    left: 506px;
    top: 21px;
    width: 700px;
    font-size: 24px;
    font-family: "RixHead L";
    color: rgba(200,200,200,.5);
}