/*
    컨텐츠 영역의 세로 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:10
    Author     : lyllyl
*/

/*
 * 일반
 */
div.myhome .content.poster_vertical {
    margin-right: 50px;
    float: left;
    width: 196px;
    height: 370px;
    /*transition: width .5s, height .5s, margin-right .5s;*/
}

div.myhome .contentsView .content.poster_vertical {
    margin-right: 35px;
}

div.myhome .content.poster_vertical .content {
    width: 196px;
    height: 280px;
    display: block;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
}

/*추후 제거 필요*/
div.myhome .content.poster_vertical .sdw_area {
    position: absolute;
    width: 264px;
    height: 354px;
    margin-top: -25px;
    margin-left: -27px;
    display: none;
}

/*추후 제거 필요*/
div.myhome .content.poster_vertical .sdw_area .sdw_left {
    display: inline-block;
    background: url(../../resource/image/sdw_poster_h300_l.png);
    width: 57px;
    height: inherit;
}

/*추후 제거 필요*/
div.myhome .content.poster_vertical .sdw_area .sdw_mid {
    display: inline-block;
    background: url(../../resource/image/sdw_poster_h300.png);
    width: 150px;
    height: inherit;
}

/*추후 제거 필요*/
div.myhome .content.poster_vertical .sdw_area .sdw_right {
    display: inline-block;
    background: url(../../resource/image/sdw_poster_h300_r.png);
    width: 57px;
    height: inherit;
}

div.myhome .content.poster_vertical .posterImg {
    position: absolute;
    width: 196px;
    height: 280px;
}

div.myhome .content.poster_vertical .contentsData {
    position: absolute;
    margin-top: 295px;
    width: 196px;
    opacity: .7;
}

div.myhome .blurred .content.poster_vertical .contentsData {
    opacity: .4;
}

div.myhome .content.poster_vertical .posterTitle {
    display: block;
    color: white;
    font-size: 30px;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.myhome .content.poster_vertical .posterDetail {
    display: block;
    margin-top: 7px;
    height: 36px;
    white-space: nowrap;
    -webkit-transform-origin: left;
}

div.myhome .content.poster_vertical .posterDetail * {
    vertical-align: top;
}

div.myhome .content.poster_vertical .stars {
    display: none;
    margin-right: 5px;
    margin-top: 1px;
}

div.myhome .content.poster_vertical .rating_star_area {
    display: none;
    margin-right: 9px;
    margin-top: 2px;
}

/* 별점평가더히기팝업에서 사용되는 별점 서식 */
div.myhome .content.poster_vertical .rating_star_area.popup {
    display: block;
    margin-right: 0px;
    margin-top: 0px;
}

div.myhome .content.poster_vertical .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
}

div.myhome .content.poster_vertical .isfreeIcon {
    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-right: 7px;
    content: url(../../resource/image/icon/icon_buy.png);
}

div.myhome .content.poster_vertical .age {
    width: 32px;
    height: 32px;
    margin-top: -4px;
}

/*
 * 포커스
 */
div.myhome .content.poster_vertical.focus .content {
    -webkit-transform: scale(1.07) translateZ(0);
    z-index: 10;
}

div.myhome .content.poster_vertical.focus .focus_red {
    display: inherit;
    top:-8px;
    left:-8px;
    width: 212px;
    height: 296px;
}

div.myhome .content.poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
    width: 210px;
    margin-left: -7px;
    opacity: 1;
}

div.myhome .content.poster_vertical.focus .posterDetail {
    -webkit-transform: scale(.9);
}

div.myhome .content.poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.myhome .content.poster_vertical.focus .stars {
    display: inline-block;
}

div.myhome .content.poster_vertical.focus .rating_star_area {
    display: inline-block;
}

div.myhome .content.poster_vertical.focus .posterTitle {
    text-overflow: inherit;
}

div.myhome .content.poster_vertical.focus .posterTitle span {
    display: inline-block;
}

/*
 * 전체보기
 */
div.myhome .content.poster_vertical.more .contentsData {
    margin-top: 189px;
    margin-left: 22px;
}

div.myhome .content.poster_vertical.more .posterImgWrapper {
    background-color: black;
    position: absolute;
    width: 196px;
    height: 280px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.myhome .content.poster_vertical.more .posterImg {
    -webkit-transform: scale(1.2);
    -webkit-filter: blur(20px);
}

div.myhome .content.poster_vertical.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.myhome .content.poster_vertical.more .contentsData .moreViewTxt {
    line-height: 24px;
    font-size: 24px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
}

div.myhome .content.poster_vertical.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 13px;
    line-height: 13px;
}

div.myhome .content.poster_vertical.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 45px;
    vertical-align: super;
    margin-top: 10px;
    display: inline-block;
}

/*
 *아이콘 영역
 */

div.myhome .content.poster_vertical .content .icon_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.myhome .content.poster_vertical .content .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.myhome .content.poster_vertical .content .icon_area img {
    display: block;
}

div.myhome .content.poster_vertical .content .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.myhome .content.poster_vertical .content .icon_area .right_icon_area img {
    display: none;
}

div.myhome .content.poster_vertical .content .icon_area .right_icon_area img:nth-child(1) {
    display: block;
    margin-bottom: -4px;
}

div.myhome .content.poster_vertical .content .icon_area .right_icon_area img:nth-child(2) {
    display: block;
}


div.myhome .content.poster_vertical .content .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.myhome .content.poster_vertical .content .icon_area .bottom_tag_area > img {
    width: 100%
}

div.myhome .content.poster_vertical .content .icon_area .lock_icon:empty {
    background: none;
}

div.myhome .content.poster_vertical .content .icon_area .lock_icon {
    position: absolute;
    bottom: 0;
}

div.myhome .content.poster_vertical .content .icon_area .lock_icon>img {
    margin-bottom: 0;
    width: 196px;
    height: 280px;
}

/*
     최근시청목록 남은 기간
 */
div.myhome .content.poster_vertical.series .poster_remain_bg {
    display:none;
}

div.myhome .content.poster_vertical.series .poster_remain_bar {
    display: none;
}

div.myhome .content.poster_vertical .poster_remain_bg {
    position: absolute;
    width: 196px;
    height: 8px;
    background: rgba(0, 0, 0, .7);
    margin-top: 272px;
}

div.myhome .content.poster_vertical .poster_remain_bar {
    position: absolute;
    height: 5px;
    background: #A1A1A1;
    margin-top: 275px;
}

div.myhome .content.poster_vertical.focus .poster_remain_bar {
    background: rgb(255, 255, 255);
}

div.myhome .content.poster_vertical .remain_title {
    font-family: "RixHead L";
    font-size: 23px;
    color: rgba(137, 137, 137, .5);
}

div.myhome .content.poster_vertical .remain_time {
    font-family: "RixHead B";
    font-size: 24px;
    color: rgba(137, 137, 137, .7);
    margin-left: 7px;
}

@-webkit-keyframes marqueeTitle {
    0% {
        margin-left: 100%
    }
    100% {
        margin-left: -100%
    }
}

/* Dim 처리 */
div.myhome .blurred .content.poster_vertical .content .over_dim {
    position: absolute;
    width: 196px;
    height: 280px;
    background: rgba(0, 0, 0, 0.1);
}