div.myhome #contentsArea .promo_welcome {
    -webkit-transform: translateZ(0);
    height: 482px;
    margin-bottom: 79px;
}

div.myhome #contentsArea .promo_welcome img {
    margin-left:-38px;
    margin-top: -35px;
    position: absolute;
}

div.myhome #contentsArea .promo_welcome .dim {
    -webkit-transform: translateZ(0);
    position: absolute;
    margin-left: 57px;
    margin-top: 333px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 327px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    font-size: 30px;
    color: white;
    transition: .5s;
}


div.myhome #contentsArea .promo_welcome.focus .dim {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}
