div.myhome div#recommandArea {
    display: flex;
    height: 549px;
    top: 531px;
    background-color: rgba(255,255,255,.05);
    position: absolute;
    padding-left: 10px;
    min-width: 1920px;
}

div.myhome div#recommandArea .recommandList {
    width: 365px;
    margin-left: 70px;
    height: 549px;
}

div.myhome div#recommandArea .recommandtitle {
    margin-top: 50px;
    height: 43px;
    border-bottom: 3px solid rgba(255,255,255,.15);
    color: rgba(255,255,255,.5);
    font-size: 27px;
    line-height: 25px;
}

div.myhome div#recommandArea .recommandList table.list.rank {
    color: rgba(255,255,255,.7);
    font-size: 33px;
    line-height: 1;
    margin-top: 26px;
}

div.myhome .recommandList table.list.rank tr {
    height: 85px;
}

div.myhome .recommandList table.list.rank td.rankNum {
    color: rgba(255,255,255,.3);
    width: 41px;
}

div.myhome div#recommandArea .recommandList table.list.poster_v {
    margin-top: 25px;
    border-collapse: collapse;
    max-width: 365px;
}

div.myhome .recommandList table.list.poster_v td {
    height: 160px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-color: transparent;
}

div.myhome .recommandList table.list.poster_v td.poster_v {
    width: 123px;
}

div.myhome .recommandList table.list.poster_v td.contents {
    max-width: 242px;
    color: rgba(255,255,255,.7);
}

div.myhome .recommandList td.poster_v img {
    width: 98px;
    height: 140px;
}

div.myhome .recommandList table.list.poster_v span.title {
    display: block;
    font-size: 33px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}

div.myhome .recommandList table.list.poster_v span.info {
    line-height: 36px;
    vertical-align: middle;
    min-height: 36px;
    font-size: 23px;
    display: flex;
}