div.myhome.home_cloud #backgroundTitle {
    color: rgba(255, 255, 255, 0.15);
}

div.myhome.home_cloud #backgroundTitle::before {
    opacity: .8;
}

div.myhome.home_cloud #backgroundDescription {
    position: absolute;
    left: 461px;
    top: 64px;
    color: rgba(255, 255, 255, .15);
    line-height: 1;
    font-size: 26px;
    font-family: "RixHead M";
    width: 772px;
    transition: opacity .5s;
}

div.myhome.home_cloud.hasImgBg #backgroundDescription {
    opacity: 0;
}

div.myhome.home_cloud #bgContainer img {
    position: fixed;
    opacity: 0;
    transition: opacity .5s;
    top: 0;
    left: 0;
}

div.myhome.home_cloud #dvdBg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    transition: background 0.5s;
}

div.myhome.home_cloud #dvdBgCover {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    transition: opacity .5s;
    opacity: 0;
}

div.myhome.home_cloud.hasImgBg #dvdBgCover {
    opacity: 1;
}

div.myhome.home_cloud #DescriptionArea {
    -webkit-transform: translateZ(0);
    left: 137px;
    top: 349px;
}

div.myhome.home_cloud #DescriptionArea #contentTitle {
    font-size: 60px;
    color: white;
    font-family: "RixHead B";
    /*display: block;*/
    line-height: 1;
    margin-bottom: 9px;
    letter-spacing: -3px;
}

div.myhome.home_cloud #DescriptionArea #contentRate {
    vertical-align: middle;
    display: inline-block;
}

div.myhome.home_cloud #DescriptionArea #contentPrInfo {
    vertical-align: middle;
    display: inline-block;
    margin-top: -30px;
    margin-left: 14px;
}

div.myhome.home_cloud #DescriptionArea #contentInfo {
    position: absolute;
    left: 0;
    top: 81px;
}

div.myhome.home_cloud #DescriptionArea #ollehText {
    position: absolute;
    left: 0;
    top: 7px;
    color: rgba(255, 255, 255, .5);
    line-height: 24px;
    width: 140px;
    font-size: 27px;
    font-family: "RixHead L";
}

div.myhome.home_cloud #DescriptionArea #contentRate {
    position: absolute;
    top: 4px;
    left: 162px;
    width: 500px;
}

div.myhome.home_cloud #DescriptionArea #contentMark {
    position: absolute;
    left: 360px;
    top: 0;
    width: 55px;
}

div.myhome.home_cloud #DescriptionArea #contentMark .ratingNumber {
    width: 23px;
    height: 35px;
    display: inline-block;
}

div.myhome.home_cloud #DescriptionArea #contentMark .ratingNumber.dot {
    width: 7px;
    height: 9px;
    margin: 0px 1px;
    background-image: url(../../resource/image/rating/number/rating_vod_dot.png);
}

div.myhome.home_cloud #DescriptionArea img {
    vertical-align: middle;
}

div.myhome.home_cloud #ListArea {
    position: absolute;
    left: 113px;
    top: 528px;
    width: 1740px;
    height: 457px;
    overflow: hidden;
}

div.myhome.home_cloud #ListArea #indicator {
    position: absolute;
    left: 1698px;
    top: 30px;
}

div.myhome.home_cloud #ListArea #vodList {
    /*margin-left: 222px;*/
    margin-top: 20px;
    width: 1780px;
    height: 437px;
    transition: -webkit-transform .5s;
    margin-left: 16px;
}

div.myhome.home_cloud #ListArea #vodList li {
    margin-right: 40px;
    width: 294px;
    height: 416px;
    display: inline-block;
    margin-bottom: 39px;
}

div.myhome.home_cloud #ListArea #vodList .imgWrapper {
    position: absolute;
    width: 282px;
    height: 404px;
    border: transparent 6px solid;
    -webkit-transform: translateZ(0);
}

div.myhome.home_cloud #ListArea #vodList .focus .imgWrapper {
    border-color: #D2332F;
    -webkit-transform: scale(1.1) translateZ(0);
}

div.myhome.home_cloud #ListArea #vodList .posterImg {
    position: absolute;
    width: 273px;
    height: 390px;
    top: 7px;
}

div.myhome.home_cloud #ListArea #vodList .dvdCoverImg {
    position: absolute;
    top: 0;
    left: 0px;
    width: 282px;
    height: 404px;
}

div.myhome.home_cloud #ListArea #vodList .lockIcon {
    position: absolute;
    width: 178px;
    height: 260px;
    top: 0px;
    left: 0px;
}

/*
 *아이콘 영역
 */

div.myhome.home_cloud #ListArea #vodList .icon_area {
    position: absolute;
    width: 273px;
    height: 390px;
    top: 8px;
}

div.myhome.home_cloud #ListArea #vodList .icon_area img {
    display: block;
    margin-bottom: -4px;
}

div.myhome.home_cloud #ListArea #vodList .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.myhome.home_cloud #ListArea #vodList .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.myhome.home_cloud #ListArea #vodList .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.myhome.home_cloud #ListArea #vodList .icon_area .bottom_tag_area > img {
    width: 100%
}

div.myhome.home_cloud #ListArea #vodList .icon_area .lock_icon:empty {
    background: none;
}

div.myhome.home_cloud #ListArea #vodList .icon_area .lock_icon {
    position: absolute;
    bottom: 0;
}

div.myhome.home_cloud #ListArea #vodList .icon_area .lock_icon > img {
    width: 182px;
    height: 260px;
}
