#contentsArea #settingMenu_area { position: absolute;  width: 571px; height: 319px; z-index: 3; }

#contentsArea #settingMenu_area #menuTop_area,
#contentsArea #settingMenu_area #menuFocus_area,
#contentsArea #settingMenu_area #menuFocus_subArea,
#contentsArea #settingMenu_area #menuBottom_area
{ position: absolute; margin-left: 133px; }

#contentsArea #settingMenu_area #menuTop_area{
    margin-top: 36px;
}
#contentsArea #settingMenu_area #menuTop_area { height: 80px; }
#contentsArea #settingMenu_area #menuBottom_area { height: 100px; }


#settingMenu_area #menuTop_area, #settingMenu_area #menuBottom_area { width: 800px; height: 80px; overflow: hidden; }
#menuTop_area .menuTop_list, #menuBottom_area .menuBottom_list  { position: absolute; height: 160px; width: 800px; }

#menuTop_area #menuUnFocus_text
{ position: absolute; width: 800px; height: 80px; }

#menuBottom_area #menuUnFocus_text
{ position: absolute; width: 800px; height: 40px; }

#menuTop_area #menuUnFocus_text.bottom, #menuBottom_area #menuUnFocus_text.bottom { top: 80px; }
#menuTop_area #menuUnFocus_text.top, #menuBottom_area #menuUnFocus_text.top { top: 0px; }

#menuUnFocus_area #menuUnFocus_text{position: absolute;}
#menuUnFocus_area #menuUnFocus_text.top { top: 0px; }
#menuUnFocus_area #menuUnFocus_text.middle { top: 90px; }
#menuUnFocus_area #menuUnFocus_text.bottom { top: 180px; }

/*이동포커스 관련 css*/
#menuUnFocus_area #menuUnFocus_text.focus{visibility: hidden;}
#menuUnFocus_area #menuUnFocus_text.under{-webkit-transform: translateY(34px);}



#contentsArea #settingMenu_area #menuBottom_area
{ margin-top: 218px; }

#contentsArea #settingMenu_area #menuBottom_area #menuUnFocus_text
{ margin-top: 56px; }

#contentsArea #settingMenu_area #menuUnFocus_text
{ height: 40px; font-size: 37px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.85px;}

#contentsArea #settingMenu_area #menuFocus_area
{ /*margin-top: 120px; */top: 5px; width: 800px; height: 72px; overflow: hidden; }
#contentsArea #settingMenu_area #menuFocus_subArea
{ /*margin-top: 115px;*/ width: 409px; height: 78px; }

#contentsArea #settingMenu_area #menuFocus_line
/*{ position: absolute; height: 5px; background-color: rgb(243,48,43); -webkit-transition: width 0.7s; }*/
{ position: absolute; width: 409px; height: 5px; background-color: rgb(210,51,47); }

#contentsArea #settingMenu_area.focus #menuFocus_line
/*{ position: absolute; height: 5px; background-color: rgb(243,48,43); -webkit-transition: width 0.7s; }*/
{ position: absolute; width: 409px; height: 5px; background-color: rgb(54,54,54); }

#contentsArea #settingMenu_area #menuFocus_area #menuFocus_text
{ width: 387px; float: left; margin-top: 12px; font-size: 42px; font-family: "RixHead B"; color: white; letter-spacing: -2.1px; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; }

#settingMenu_area #menuFocus_text
{ position: absolute;  height: 90px; }

#settingMenu_area #menuFocus_text.bottom{ top: 90px; }
#settingMenu_area #menuFocus_text.top{ top: 0px; }

#contentsArea #settingMenu_area #focusArrow_img
{ position: absolute; margin-top: 20px; right: 0px;}

#contentsArea #settingMenu_area #menuFocus_number
{ margin-top: 112px; font-size: 21px; float: left; font-family: "RixHead B"; color: rgb(176, 176, 176); letter-spacing: -1.05px; }
#contentsArea #settingMenu_area #menuFocus_number span { color: rgb(108,108,108); font-family: "RixHead L";}
#contentsArea #settingMenu_area #menuFocus_numberImg
{ position: absolute; margin-top: 83px; width: 173px; height: 77px;  float: left;}


/*#contentsArea #settingMenu_area.focus*/
/*{ -webkit-transform: translateX(-800px);*/
/*}*/


@-webkit-keyframes setting_list_down {
    0% { -webkit-transform: translateY(-91px); }
    100% { -webkit-transform: translateY(0px); }
}
@-webkit-keyframes setting_list_up {
    0% { -webkit-transform: translateY(0px); }
    100% { -webkit-transform: translateY(-91px); }
}


.settingList_up { -webkit-animation: setting_list_up 0.7s forwards; }
.settingList_down{ -webkit-animation: setting_list_down 0.7s forwards; }
.settingList_add { -webkit-animation: fade_in 0.7s forwards; }
.settingList_delete { -webkit-animation: fade_out 0.7s forwards; }



