
#menuBox_area.setSystem {  position: absolute; visibility: inherit; left: 646px; width: 1144px;  }

#menuBox_area.setSystem .menuBox_btn { position: relative; width: 572px; height: 155px; float: left;}
#menuBox_area.setSystem .menuBox_btn:nth-child(odd) { z-index: 1;}
#menuBox_area.setSystem .menuBox_btn:nth-child(even) { z-index: 0;}

#menuBox_area.setSystem .menuBox_btn .btnElm_div { position: absolute; width: 559px; height: 142px; }
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnElm_SdwDiv { position: absolute; margin-left: -25px; margin-top: -15px; width: 474px; height: 190px; display: none;}
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnSdwImg_center { position: absolute; width: 474px;  height: 190px; }

#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnImg_center { position: absolute; width: 559px;  height: 142px; }

#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnFocus_div  { position: absolute; width: 559px; height: 142px; background: black; border: solid 6px rgb(210,51,47); visibility: hidden; }
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnFocusGreyDiv {visibility: hidden; }
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnText_area1 { position: absolute; left: 40px; top: 54px; }
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnTitle_div  { height: 35px; font-size: 36px; font-family: "RixHead L"; color: white;  letter-spacing: -1.8px; }

#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnText_area2 { position: absolute; left: 38px; top: 34px; }
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnTitle_div1 { height: 35px; font-size: 36px; font-family: "RixHead L"; color: white; letter-spacing: -1.8px; }
#menuBox_area.setSystem .menuBox_btn .btnElm_div .btnTitle_div2 { margin-top: 17px; width: 500px; height: 30px; font-size: 27px; font-family: "RixHead L"; color: rgb(197,165,133); opacity: 0.7; letter-spacing: -1.35px; }

#menuBox_area.setSystem.focus .menuBox_btn .btnElm_div .btnElm_SdwDiv { position: absolute; margin-left: -27px; margin-top: -27px; width: 613px; height: 190px; }
#menuBox_area.setSystem.focus .menuBox_btn .btnElm_div .btnSdwImg_center { position: absolute; width: 613px;  height: 190px; }

/* deep focus Area*/
#menuBox_area.setSystem.focus .menuBox_btn.focus { z-index: 2; }
#menuBox_area.setSystem.focus .menuBox_btn.focus .btnElm_div .btnElm_SdwDiv{ display: block;}
#menuBox_area.setSystem.focus .menuBox_btn.focus .btnElm_div .btnFocus_div { visibility: inherit; left: -6px; top: -6px;}
#menuBox_area.setSystem.focus .menuBox_btn.focus .btnElm_div .btnFocusGreyDiv {visibility: inherit;}
#menuBox_area.setSystem.focus .menuBox_btn.focus .btnTitle_div, #menuBox_area.setSystem.focus .menuBox_btn.focus .btnTitle_div1{ color: white; opacity: 1.0; font-family: "RixHead M"; }
#menuBox_area.setSystem.focus .menuBox_btn.focus .btnTitle_div2 { color: rgb(241,154,153); font-family: "RixHead M"; }


#menuBox_area.setSystem.focus .menuBox_btn.focus .btnElm_div {
    -webkit-transform: scale(1.075);
}

#menuBox_area.setSystem.hide { visibility: hidden; }

#menuBox_area.setSystem #adminMenuBox_div {
    position: absolute;
}
#menuBox_area.setSystem #normalMenuBox_div.hide {
    visibility: hidden;
}
#menuBox_area.setSystem #adminMenuBox_div.hide {
    /*visibility: hidden;*/
    display: none;
}

