div.myhome.otmp_connecting {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_connecting .popupTitle {
    position: absolute;
    top: 245px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

div.myhome.otmp_connecting .description1 {
    position: absolute;
    top: 299px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

div.myhome.otmp_connecting .description2 {
    position: absolute;
    top: 640px;
    color: white;
    opacity: .5;
    text-align: center;
    font-family: "RixHead L";
    font-size: 28px;
    line-height: 40px;
    width: 100%;
}

div.myhome.otmp_connecting .connectingBtnArea {
    position: absolute;
    top: 373px;
    left: 699px;
    height: 228px;
    width: 534px;

    /* sw.nam 고도화 GUI 적용 */
    position: absolute;
    top: 373px;
    left: 699px;
    width: 534px;
    height: 228px;
}

div.myhome.otmp_connecting .connectingBtnArea .connectingBtn {
    height: 224px;
    width: 251px;
    background-color: #2F2F2F;
    border: 2px solid rgb(47,47,47);
    display: inline-block;
    margin-right: 12px;

    /* sw.nam 고도화 GUI 적용 */
    width: 255px;
    height: 228px;
    opacity: 0.8;
    background-color: rgba(47,47,47,0.8);
    border: 2px solid rgb(73,73,73);
    box-sizing: border-box;
}

div.myhome.otmp_connecting .connectingBtnArea .focus .connectingBtn {
    height: 228px;
    width: 255px;
    border: 5px solid rgb(210,51,47);
}

/* 연결 방법 버튼 안쪽 text */
div.myhome.otmp_connecting .connectingBtnArea .btnName {
    position: absolute;
    top: 45px;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    font-family: "RixHead L";
    font-size: 35px;
    line-height: 41px;
    width: 255px;
}
div.myhome.otmp_connecting .connectingBtnArea .focus .btnName {
    top: 44px;
    color: rgb(255,255,255);
    font-family: "RixHead M";
}

div.myhome.otmp_connecting .connectingBtnArea .sellectBtn {
    position: absolute;
    left: 15px;
    top: 162px;
    width: 225px;
    height: 51px;
    background-color: rgba(73,73,73,0.8);
}

div.myhome.otmp_connecting .connectingBtnArea .focus .sellectBtn {
    background-color: rgb(210,51,47);
}


div.myhome.otmp_connecting .connectingBtnArea .sellectBtn .sellectBtnText {
    position: absolute;
    line-height: 51px;
    width: 225px;
    text-align: center;
    font-family: "RixHead L";
    font-size: 27px;
    color: rgba(255, 255, 255, .5);
}
div.myhome.otmp_connecting .connectingBtnArea .focus .sellectBtn .sellectBtnText {
    font-family: "RixHead M";
    color: white;
}


div.myhome.otmp_connecting .button_area {
    position: absolute;
    top: 773px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_connecting .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 6px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_connecting .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: solid 2px rgb(210,51,47);
}

div.myhome.otmp_connecting .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_connecting .button_area .button.focus .buttonText {
    color: white;
    font-family: "RixHead M";
}