div.myhome.otmp_terms {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_terms .popupTitle {
    position: absolute;
    top: 313px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

div.myhome.otmp_terms .termsArea {
    position: absolute;
    left: 360px;
    top: 369px;
    width: 1200px;
    height: 288px;
    border-top: 6px solid #808080;
    border-bottom: 6px solid #808080;
    overflow: visible;
}

div.myhome.otmp_terms .termsArea .termsList {
    position: absolute;
    top: 24px;
    width: 1200px;
    height: 148px;
    display: block;
    overflow: visible;
}

div.myhome.otmp_terms .termsArea .termsList .terms {
    width: 1200px;
    height: 62px;
    margin-bottom: 12px;
    overflow: visible;
}

div.myhome.otmp_terms .termsArea .termsList .terms .termsName {
    display: inline-block;
    height: 62px;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 62px;
    color: white;
    vertical-align: middle;
}

div.myhome.otmp_terms .termsArea .termsList .terms .termsBtnArea {
    display: inline-block;
    position: absolute;
    left: 792px;
    width: 420px;
    height: 62px;
    vertical-align: middle;
}

div.myhome.otmp_terms .termsBtn {
    -webkit-transform: translateZ(0);
    display: inline-block;
    width: 194px;
    height: 58px;
    margin-right: 12px;
    background-color: rgba(55, 55, 55, .9);
    border: 2px solid rgb(66, 66, 66);
}

div.myhome.otmp_terms .agreeArea .termsBtn {
    position: absolute;
    left: 1002px;
    top: 20px;
}

div.myhome.otmp_terms .termsBtn.focus {
    width: 198px;
    height: 52px;
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
}

div.myhome.otmp_terms .termsBtn .btnName {
    position: absolute;
    width: 194px;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    font-size: 28px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_terms .termsBtn.focus .btnName {
    color: white;/*rgb(73, 68, 60);*/
    width: 198px;
    line-height: 52px;
    font-family: "RixHead M";
}

div.myhome.otmp_terms .termsBtn.checkBtn .btnName {
    width: auto;
    left: 75px;
}

div.myhome.otmp_terms .termsBtn.focus.checkBtn .btnName {
    width: auto;
    left: 77px;
}

div.myhome.otmp_terms .termsBtn.checkBtn .checkBox {
    position: absolute;
    top: 10px;
    left: 13px;
    width: 48px;
    height: 40px;
    background-image: url(../../../resource/otmpImage/pop_cb_dim_uncheck.png);
}

div.myhome.otmp_terms .termsBtn.checkBtn.checked .checkBox {
    background-image: url(../../../resource/otmpImage/pop_cb_dim_check_red.png);
}

div.myhome.otmp_terms .termsBtn.checkBtn.focus .checkBox {
    top: 7px;
    left: 15px;
    background-image: url(../../../resource/otmpImage/pop_cb_foc_uncheck.png);
}

div.myhome.otmp_terms .termsBtn.checkBtn.focus.checked .checkBox {
    background-image: url(../../../resource/otmpImage/pop_cb_foc_check_red.png);
}

div.myhome.otmp_terms .termsArea .agreeArea {
    position: absolute;
    top: 180px;
    width: 1200px;
    height: 106px;
    border-top: 2px solid #434343;
}

div.myhome.otmp_terms .termsArea .agreeArea .agreeText {
    position: absolute;
    top: 20px;
    height: 62px;
    font-family: "RixHead L";
    font-size: 27px;
    line-height: 62px;
    color: white;
    opacity: .7;
}

div.myhome.otmp_terms .button_area {
    position: absolute;
    top: 706px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_terms .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 6px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_terms .button_area .button.dim {
    opacity: .4;
}

div.myhome.otmp_terms .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_terms .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_terms .button_area .button.focus .buttonText {
    width: 280px;
   /*color: rgb(73, 80, 60);*/
    color: white;
    line-height: 52px;
    font-family: "RixHead M";
}