div.myhome.otmp_mobileAuth {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_mobileAuth .popupTitle {
    position: absolute;
    top: 217px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

div.myhome.otmp_mobileAuth .description {
    position: absolute;
    top: 292px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    line-height: 38px;
    width: 100%;
}

div.myhome.otmp_mobileAuth .bgBoxSide {
    position: absolute;
    top: 375px;
    width: 29px;
    height: 369px;
}

div.myhome.otmp_mobileAuth .bgBoxSide.left {
    left: 502px;
    background-image: url(../../../resource/otmpImage/pop_bg_pwreset_otm_l.png);
}

div.myhome.otmp_mobileAuth .bgBoxSide.right {
    left: 1388px;
    background-image: url(../../../resource/otmpImage/pop_bg_pwreset_otm_r.png);
}

div.myhome.otmp_mobileAuth .bgBox {
    position: absolute;
    top: 375px;
    left: 531px;
    width: 857px;
    height: 369px;
    overflow: visible;
    background-image: url(../../../resource/otmpImage/pop_bg_pwreset_otm_m.png);
}

div.myhome.otmp_mobileAuth .bgBox .boxText {
    position: absolute;
    top: 171px;
    left: 54px;
    color: white;
    opacity: .7;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
}

div.myhome.otmp_mobileAuth .bgBox .boxText.auth {
    top: 259px;
}

/* 통신사 선택 영역 */
/* ------------------------------------------------------------------------------------------------------------ */

div.myhome.otmp_mobileAuth .bgBox .corpArea {
    position: absolute;
    top: 62px;
    left: 53px;
    width: 760px;
    height: 70px;
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn {
    -webkit-transform: translateZ(0);
    display: inline-block;
    width: 154px;
    height: 66px;
    margin-right: 8px;
    background-color: rgba(55, 55, 55, .9);
    border: 2px solid rgb(66, 66, 66);
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn.focus {
    border: 0;
    height: 60px;
    width: 158px;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    background-color: rgb(210,51,47);
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn.dropBtn {
    width: 250px;
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn.focus.dropBtn {
    width: 254px;
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn .corpText {
    position: absolute;
    margin-left: 19px;
    color: white;
    opacity: .7;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 66px;
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn.focus .corpText {
    color: white;
    margin-left: 21px;
    opacity: 1;
    line-height: 60px;
    font-family: "RixHead M";
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn .optionIcon {
    position: absolute;
    display: none;
    top: 10px;
    right: 4px;
    width: 45px;
    height: 45px;
    background-image: url(../../../resource/otmpImage/option_dropbox_select.png);
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn.focus .optionIcon {
    top: 7px;
    right: 6px;
    background-image: url(../../../resource/otmpImage/option_dropbox_select_f.png);
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn .optionIcon.show {
    display: inherit;
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn .optionIcon.dropArw {
    top: 11px;
    display: inherit;
    background-image: url(../../../resource/otmpImage/arw_option_popup_dw.png);
}

div.myhome.otmp_mobileAuth .bgBox .corpBtn.focus .optionIcon.dropArw {
    top: 8px;
    background-image: url(../../../resource/otmpImage/arw_option_popup_dw_f.png);
}

/* 드롭박스 영역 */
/* ------------------------------------------------------------------------------------------------------------ */

div.myhome.otmp_mobileAuth .bgBox .dropboxArea {
    position: absolute;
    display: none;
    top: 25px;
    left: 509px;
    width: 338px;
    height: 357px;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options {
    position: absolute;
    display: block;
    top: 37px;
    left: 42px;
    width: 254px;
    height: 272px;
    overflow: visible;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option {
    -webkit-transform: translateZ(0);
    width: 254px;
    height: 68px;
    background: url(../../../resource/otmpImage/pop_btn_w254_drop.png);
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus {
    width: 254px;
    height: 58px;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    background: rgb(210,51,47);
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-child(1) {
    width: 250px;
    height: 64px;
    border: 2px solid rgb(66, 66, 66);
    background: rgba(55, 55, 55, .9);
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus:nth-child(1) {
    width: 254px;
    height: 58px;
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    background: rgb(210,51,47);
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option::before {
    position: absolute;
    background-image: url(../../../resource/otmpImage/pop_btn_w254_drop_sdw_m.png);
    background-size: 338px 68px;
    margin-left: -42px;
    width: 338px;
    height: 68px;
    content: "";
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus::before {
    margin-top: -5px;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-child(1)::before {
    background-image: url(../../../resource/otmpImage/pop_btn_w254_drop_sdw_top.png);
    background-size: 338px 107px;
    margin-left: -44px;
    margin-top: -41px;
    height: 107px;
    content: "";
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus:nth-child(1)::before {
    background-image: url(../../../resource/otmpImage/pop_btn_w254_drop_sdw_top.png);
    background-size: 338px 107px;
    margin-left: -42px;
    margin-top: -44px;
    height: 107px;
    content: "";
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-last-child(1)::before {
    background-image: url(../../../resource/otmpImage/pop_btn_w254_drop_sdw_btm.png);
    background-size: 338px 115px;
    margin-left: -42px;
    height: 115px;
    content: "";
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option .optionText {
    margin-left: 21px;
    font-size: 30px;
    line-height: 68px;
    font-family: "RixHead L";
    color: rgba(255, 255, 255, .7);
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-child(1) .optionText {
    margin-left: 19px;
    line-height: 66px;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-last-child(1) .optionText {
    font-size: 26px;
    line-height: 68px;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus .optionText {
    margin-left: 21px;
    line-height: 58px;
    font-family: "RixHead M";
    color: white;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-child(1).focus .optionText {
    line-height: 60px;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option .selectedIcon {
    position: absolute;
    top: 10px;
    right: 6px;
    background-image: url(../../../resource/otmpImage/option_dropbox_select.png);
    width: 45px;
    height: 45px;
    display: none;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option .selectedIcon.show {
    display: inherit;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option:nth-child(1) .selectedIcon {
    right: 4px;
    top: 10px;
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus .selectedIcon{
    right: 6px;
    top: 5px;
    background-image: url(../../../resource/otmpImage/option_dropbox_select_f.png);
}

div.myhome.otmp_mobileAuth .bgBox .dropboxArea .options .option.focus:nth-child(1) .selectedIcon{
    top: 7px;
}

/* 휴대폰 번호 영역 */
/* ------------------------------------------------------------------------------------------------------------ */

div.myhome.otmp_mobileAuth .bgBox .phoneArea {
    position: absolute;
    top: 150px;
    left: 271px;
    width: 543px;
    height: 70px;
}

div.myhome.otmp_mobileAuth .bgBox .phoneInput {
    -webkit-transform: translateZ(0);
    display: inline-block;
    width: 146px;
    height: 58px;
    margin-right: 9px;
    vertical-align: middle;
    background-color: rgba(30, 30, 30, .15);
    border: 6px solid rgba(255, 255, 255, .3);
    color: white;
    text-align: center;
    font-size: 33px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_mobileAuth .bgBox .phoneInput.focus {
    background-color: rgba(30, 30, 30, .5);
    border-color: rgb(210,51,47);
}

div.myhome.otmp_mobileAuth .bgBox .phoneHyphen {
    -webkit-transform: translateZ(0);
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 4px;
    margin-right: 9px;
    background-color: rgba(255, 255, 255, .5);
}

/* 인증번호 영역 */
/* ------------------------------------------------------------------------------------------------------------ */

div.myhome.otmp_mobileAuth .bgBox .authArea {
    position: absolute;
    top: 238px;
    left: 271px;
    width: 543px;
    height: 70px;
}

div.myhome.otmp_mobileAuth .bgBox .authArea .smsBtn {
    display: inline-block;
    width: 236px;
    height: 66px;
    margin-right: 10px;
    background-color: rgba(55, 55, 55, .9);
    border: 2px solid rgb(66, 66, 66);
    color: rgba(255, 255, 255, .7);
    text-align: center;
    font-size: 28px;
    line-height: 66px;
    font-family: "RixHead L";
    vertical-align: top;
}

div.myhome.otmp_mobileAuth .bgBox .authArea .smsBtn.focus {
    border: 0;
    height: 60px;
    width: 240px;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    background-color: rgb(210,51,47);
    color: white;
    line-height: 60px;
    font-family: "RixHead M";
}

div.myhome.otmp_mobileAuth .bgBox .authArea .pwInput {
    display: inline-block;
    width: 272px;
    height: 58px;
    background-color: rgba(30, 30, 30, .15);
    border: 6px solid rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .2);
    text-align: center;
    font-size: 42px;
    line-height: 70px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.myhome.otmp_mobileAuth .bgBox .authArea .pwInput .pwUserInput {
    position: absolute;
    top: 6px;
    left: 307px;
    color: white;
    text-align: left;
    font-size: 42px;
    line-height: 70px;
    font-family: "RixHead M"
}

div.myhome.otmp_mobileAuth .bgBox .authArea .pwInput.focus {
    background-color: rgba(30, 30, 30, .5);
    border-color: rgb(210,51,47);
}

/* 최하단 버튼 영역 */
/* ------------------------------------------------------------------------------------------------------------ */

div.myhome.otmp_mobileAuth .button_area {
    position: absolute;
    top: 801px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_mobileAuth .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 7px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_mobileAuth .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_mobileAuth .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_mobileAuth .button_area .button.focus .buttonText {
    width: 280px;
    line-height: 52px;
    color: white;
    font-family: "RixHead M";
}