div.myhome.otmp_connectingComplete {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_connectingComplete .popupTitle {
    position: absolute;
    top: 377px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

div.myhome.otmp_connectingComplete .description1 {
    position: absolute;
    top: 452px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    width: 100%;
}

div.myhome.otmp_connectingComplete .description2 {
    position: absolute;
    top: 505px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 36px;
    width: 100%;
}

div.myhome.otmp_connectingComplete .button_area {
    position: absolute;
    top: 642px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_connectingComplete .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 7px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_connectingComplete .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_connectingComplete .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_connectingComplete .button_area .button.focus .buttonText {
    width: 280px;
    line-height: 52px;
    color: white;
    font-family: "RixHead M";
}