div.myhome.otmp_basicPopup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_basicPopup .baiscPopup {
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1920px;
    height: 1080px;
}

div.myhome.otmp_basicPopup .popupTitle {
    display: inline-block;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    margin-bottom: 31px;
}

div.myhome.otmp_basicPopup .popupText {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    line-height: 50px;
    margin: 0 480px;
    width: 960px;
}

div.myhome.otmp_basicPopup .popupSubText {
    display: inline-block;
    color: rgba(255,255,255,0.5);
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    margin-top: 10px;
}

div.myhome.otmp_basicPopup .button_area {
    margin-top: 40px;
    display: inline-block;
    height: 62px;
    -webkit-transform: translateZ(0);
}

div.myhome.otmp_basicPopup .button {
    margin: 0 7px;
    float: left;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_basicPopup .button.focus {
    background-color: rgb(210,51,47);
    border: solid 2px rgb(210,51,47);
    height: 58px;
    width: 276px;
}

div.myhome.otmp_basicPopup .button .buttonText {
    position: absolute;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_basicPopup .button.focus .buttonText {
    width: 276px;
    line-height: 58px;
    color: white;
    font-family: "RixHead M";
}