div.myhome.otmp_termsDetailPopup {
    display: table;
}

div.myhome.otmp_termsDetailPopup .popup_contents {
    text-align: center;
    margin-top: 182px;
}

div.myhome.otmp_termsDetailPopup .title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: rgb(221, 175, 120);
}

/**********************
     Contents Area
**********************/
div.myhome.otmp_termsDetailPopup .popup_contents .contents_box {
    width: 1140px;
    height: 510px;
    margin: 38px auto 37px auto;
}

div.myhome.otmp_termsDetailPopup .popup_contents .contents_box .background {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color : #302F2F;
    opacity : 0.85;
}

div.myhome.otmp_termsDetailPopup .popup_contents .contents_box .contents {
    position: absolute;
    margin-left: 70px;
    margin-top: 50px;
    width: 999px;
    height: 410px;
    overflow: hidden;
    text-align: left;
}

div.myhome.otmp_termsDetailPopup .popup_contents .contents_box .contents span {
    line-height: 46px;
    font-family: "RixHead L";
    color: white;
    font-size: 26px;
    display: block;
    transition: -webkit-transform .5s;
    margin-top: -2px;
    -webkit-transform: translateZ(0);
}

div.myhome.otmp_termsDetailPopup .popup_contents .contents_box .scroll_bar{
    position: absolute;
    margin-left: 1087px;
    margin-top: 50px;
    width: 3px;
    height: 409px;
    background: rgba(255,255,255,.15);
}

div.myhome.otmp_termsDetailPopup .popup_contents .contents_box .scroll_bar .bar{
    margin-left: -1px;
    width: 5px;
    background: #AAAAAA;
    transition: -webkit-transform .5s;
}

div.myhome.otmp_termsDetailPopup .popup_contents .contents_box .measureArea {
    visibility: hidden;
    width: 999px;
    line-height: 46px;
    font-size: 26px;
    font-family: "RixHead L";
}

/**********************
      Button Area
**********************/
div.myhome.otmp_termsDetailPopup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_termsDetailPopup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.otmp_termsDetailPopup .popup_contents .btn_area btn.focus {
    background: rgb(210,51,47);
    color: white;
    font-family: "RixHead M";
    border-top : 5px solid rgb(210,51,47);
    border-bottom : 5px solid rgb(210,51,47);
    height : 52px;
    line-height:52px;
}