div.myhome.otmp_changeMaster {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_changeMaster .popupTitle {
    position: absolute;
    top: 242px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    letter-spacing: -1.65px;
}

div.myhome.otmp_changeMaster .description1 {
    position: absolute;
    top: 316px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    letter-spacing: -1.9px;
    width: 100%;
}

div.myhome.otmp_changeMaster .fromNick {
    /*position: absolute;*/
    /*left: 904px;*/
    /*top: 437px;*/
    /*color: rgba(255,255,255,0.5);*/
    /*font-family: "RixHead L";*/
    /*font-size: 28px;*/
    /*letter-spacing: -1.4px;*/
    /*width: 100%;*/

    /*top: 10px;*/
    color: rgba(255,255,255,0.5);
    font-family: "RixHead L";
    font-size: 28px;
    letter-spacing: -1.4px;
    float: left;
}
div.myhome.otmp_changeMaster .fromNickImage {
/*    position: absolute;
    left: 857px;
    top: 435px;;
    width: 31px;
    height: 24px;*/
    margin-right: 15px;
    width: 31px;
    height: 24px;
    float: left;
}

div.myhome.otmp_changeMaster .toNick {
    color: white;
    font-family: "RixHead M";
    font-size: 33px;
     letter-spacing: -1.65px;
    float: left;
}
div.myhome.otmp_changeMaster .toNickImage {
    float: left;
    margin-top: 3px;
    margin-right: 17px;
}

div.myhome.otmp_changeMaster .box {
    position: absolute;
    left: 610px;
    top: 399px;
    background-color: rgb(48,47,47);
    width: 700px;
    height: 206px;
}

div.myhome.otmp_changeMaster .description3 {
    position: absolute;
    top: 647px;
    color: white;
    opacity: .5;
    text-align: center;
    font-family: "RixHead L";
    font-size: 28px;
    width: 100%;
    letter-spacing: -1.4px;
    line-height: 38px;
}

div.myhome.otmp_changeMaster .button_area {
    position: absolute;
    top: 751px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_changeMaster .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 7px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_changeMaster .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_changeMaster .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_changeMaster .button_area .button.focus .buttonText {
    width: 280px;
    line-height: 52px;
    opacity: 1.0;
    font-family: "RixHead M";
}