div.myhome.otmp_reconnecting {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_reconnecting .popupTitle {
    position: absolute;
    top: 283px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    letter-spacing: -1.65px;
}

div.myhome.otmp_reconnecting .description1 {
    position: absolute;
    top: 357px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    line-height: 48px;
    width: 100%;
}

div.myhome.otmp_reconnecting .phoneNumberArea {
    position: absolute;
    top: 472px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 33px;
    line-height: 38px;
    letter-spacing: -1.65px;
    width: 100%;
}

div.myhome.otmp_reconnecting .box {
    position: absolute;
    left: 610px;
    top: 439px;
    background-color: rgb(48,47,47);
    width: 700px;
    height: 99px;
}
div.myhome.otmp_reconnecting .description3 {
    position: absolute;
    top: 582px;
    color: white;
    opacity: .5;
    text-align: center;
    font-family: "RixHead L";
    font-size: 28px;
    width: 100%;
    letter-spacing: -1.4px;
    line-height: 38px;
}

div.myhome.otmp_reconnecting .button_area {
    position: absolute;
    top: 751px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_reconnecting .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 7px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_reconnecting .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_reconnecting .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_reconnecting .button_area .button.focus .buttonText {
    width: 280px;
    line-height: 52px;
    opacity: 1.0;
    font-family: "RixHead M";
}


/* 인증번호 받기 버튼 및 인증번호 입력 창 */

div.authArea .textBoxBg {
    background-color: rgba(55,55,55,0.9);
}
div.authArea .textBoxBg.focus {
    background-color: rgb(210,51,47);
}

div.authArea .text {
    opacity: 0.7;
}
div.authArea .text.focus {
    opacity: 1.0;
}

div.authArea .inputBoxBg {
    border: 6px solid rgb(30,30,30);
}
div.authArea .inputBoxBg.focus {
    border: 6px solid rgb(210,51,47);
}
