div.myhome.otmp_disconnect {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_disconnect .popupTitle {
    position: absolute;
    top: 283px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    letter-spacing: -1.65px;
}

div.myhome.otmp_disconnect .description1 {
    position: absolute;
    top: 357px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    width: 100%;
}

div.myhome.otmp_disconnect .description2 {
    position: absolute;
    top: 472px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 33px;
    line-height: 38px;
    letter-spacing: -1.65px;
    width: 100%;
}

div.myhome.otmp_disconnect .box {
    position: absolute;
    left: 610px;
    top: 439px;
    background-color: rgb(48,47,47);
    width: 700px;
    height: 99px;
}
div.myhome.otmp_disconnect .description3 {
    position: absolute;
    top: 582px;
    color: white;
    opacity: .5;
    text-align: center;
    font-family: "RixHead L";
    font-size: 28px;
    width: 100%;
    letter-spacing: -1.4px;
    line-height: 38px;
}

div.myhome.otmp_disconnect .button_area {
    position: absolute;
    top: 751px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_disconnect .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 7px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_disconnect .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_disconnect .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_disconnect .button_area .button.focus .buttonText {
    width: 280px;
    line-height: 52px;
    opacity: 1.0;
    font-family: "RixHead M";
}