div.myhome.otmp_connectionInfo {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.otmp_connectionInfo .popupTitle {
    position: absolute;
    top: 283px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

div.myhome.otmp_connectionInfo .description1 {
    position: absolute;
    top: 357px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    line-height: 38px;
    width: 100%;
}

div.myhome.otmp_connectionInfo .description2 {
    position: absolute;
    top: 574px;
    color: white;
    opacity: .5;
    text-align: center;
    font-family: "RixHead L";
    font-size: 28px;
    line-height: 44px;
    width: 100%;
}

div.myhome.otmp_connectionInfo .connectionInfoArea {
    position: absolute;
    top: 438px;
    left: 610px;
    width: 696px;
    height: 95px;
    background-color: rgba(48, 47, 47, .85);
    border: 2px solid #343434;
}

div.myhome.otmp_connectionInfo .connectionInfoArea .infoText {
    position: absolute;
    top: 35px;
    left: 44px;
    color: white;
    opacity: .5;
    text-align: left;
    font-family: "RixHead L";
    font-size: 28px;
    line-height: 28px;
}

div.myhome.otmp_connectionInfo .connectionInfoArea .userInfo {
    position: absolute;
    top: 35px;
    right: 41px;
    color: white;
    text-align: right;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 30px;
}

div.myhome.otmp_connectionInfo .button_area {
    position: absolute;
    top: 751px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.myhome.otmp_connectionInfo .button_area .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    margin: 0 7px;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.otmp_connectionInfo .button_area .button.focus {
    background-color: rgb(210,51,47);
    border: 0;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    width: 280px;
    height: 52px;
}

div.myhome.otmp_connectionInfo .button_area .button .buttonText {
    position: absolute;
    left: 0;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 58px;
    font-family: "RixHead L";
}

div.myhome.otmp_connectionInfo .button_area .button.focus .buttonText {
    width: 280px;
    line-height: 52px;
    color: rgb(73, 80, 60);
    font-family: "RixHead M";
}