/*          *
    Common
 *          */
.appgame .contents_area {
    position: absolute;
    left: 646px;
    top: 115px;
}

.appgame .indicator_area {
    position: absolute;
    top: 122px;
    left: 1810px;
    z-index: 1;
}

.appgame .blurred .indicator_area {
    display: none;
}

.appgame div.bottom_dim {
    position: fixed;
    background: url(../../resource/image/dim_vodlist_btm.png);
    left: 576px;
    width: 1344px;
    height: 168px;
    bottom: 0;
}

.appgame .categoryArea div.bottom_dim {
    position: fixed;
    background-size: 1920px 366px;
    background: url(../../resource/image/dim_vodlist_btm_2.png);
    width: 1920px;
    height: 366px;
    bottom: 0;
    left: 0;
}

.appgame .sub_posterList {
    white-space: nowrap;
    margin-top: -10px;
}

.appgame .contents_area .contentsList li.content.hidden_line {
    visibility: hidden;
}

.appgame .contents_area .contentsList li.content.hidden_cont {
    visibility: hidden;
}

/*                   *
    Vertical Poster
 *                   */
.appgame .contents_area .contentsList.vertical_poster_list {
    width: 1155px;
}

.appgame .contents_area .contentsList.vertical_poster_list.slide_down {
    -webkit-animation: subHome_contents_list_vertical_slide_down .5s forwards;
}

.appgame .contents_area .contentsList.vertical_poster_list.slide_up {
    -webkit-animation: subHome_contents_list_vertical_slide_up .5s forwards;
}

@-webkit-keyframes subHome_contents_list_vertical_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-828px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes subHome_contents_list_vertical_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-828px)}
}

.appgame .contents_area .contentsList li.content.poster_vertical {
	height: 370px;
    margin-bottom: 44px;
}


/*                     *
    Horizontal Poster
 *                     */
.appgame .contents_area .contentsList.horizontal_poster_list {
    -webkit-transform: translateY(-395px) translateZ(0);
    width: 1230px;
}

/*.subhome .blurred .contents_area .contentsList.horizontal_poster_list {*/
    /*width: 840px;*/
    /*-webkit-transform: translateY(6px) translateZ(0);*/
/*}*/

.appgame .contents_area .contentsList.horizontal_poster_list.slide_down {
    -webkit-animation: subHome_contents_list_horizontal_slide_down .5s forwards;
}

.appgame .contents_area .contentsList.horizontal_poster_list.slide_up {
    -webkit-animation: subHome_contents_list_horizontal_slide_up .5s forwards;
}

@-webkit-keyframes subHome_contents_list_horizontal_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-1348px)}
    to { -webkit-transform: translateZ(0) translateY(-395px)}
}

@-webkit-keyframes subHome_contents_list_horizontal_slide_up {
    from { -webkit-transform: translateZ(0) translateY(-395px)}
    to { -webkit-transform: translateZ(0) translateY(-1348px)}
}

.appgame .contents_area .contentsList li.content.poster_horizontal {
    margin-bottom: 21px;
}

/*                     *
    Square Poster
 *                     */
.appgame .contents_area .contentsList.square_poster_list {
    width: 1180px;
}

.appgame .contents_area .contentsList.square_poster_list.slide_down {
    -webkit-animation: subHome_contents_list_square_slide_down .5s forwards;
}

.appgame .contents_area .contentsList.square_poster_list.slide_up {
    -webkit-animation: subHome_contents_list_square_slide_up .5s forwards;
}

@-webkit-keyframes subHome_contents_list_square_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-772px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes subHome_contents_list_square_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-772px)}
}

.appgame .contents_area .contentsList li.content.poster_square {
    height: 316px;
    margin-bottom: 70px;
}

/*
    서브홈
 */
.appgame .subHomeView .contents_area .components_area {
    transition: -webkit-transform .5s;
}

/*.subhome .subHomeView .contents_area .components_area .out_page_comp {*/
    /*-webkit-transform : scale(0.9);*/
/*}*/

/*.subhome .subHomeView .contents_area .components_area .in_page_comp {*/
    /*-webkit-transform : scale(1.0);*/
/*}*/


.appgame .subHomeView .contents_area .componentTitle {
    display: inline-block;
    font-size: 27px;
    font-family: "RixHead B";
    color: rgba(255,255,255,.5);
    margin-bottom: 15px;
    vertical-align: top;
    line-height: 24px;
}

.appgame .subHomeView .contents_area .componentTitle::before {
    content : "\a";
    width: 3px;
    height: 24px;
    background: rgba(255,255,255,.3);
    display: inline-block;
    vertical-align: top;
    margin-right:12px;
    margin-left: 6px;
}

.appgame .subHomeView .contents_area .contentsList{
    width: 1230px;
    height: 480px;
}

.appgame .subHomeView .bottom_dim {
    width: 1344px;
    left: 577px;
}

/*                     *
     No Contents List
 *                     */
.appgame .contents_area .noContents {
    position: absolute;
    width: 780px;
    height: 758px;
    border-top: 5px solid rgba(255,255,255,.1);
    border-bottom: 5px solid rgba(255,255,255,.1);
}

.appgame .contents_area .noContents .no_content_area {
    background-color: rgba(255,255,255,.05);
    height: 756px;
    margin-top: 1px;
}

.appgame .contents_area .noContents img {
    position: absolute;
    top: 285px;
    left: 349px;
}

.appgame .contents_area .noContents span {
    position: relative;
    top: 389px;
    text-align: center;
    display: block;
    color: white;
    opacity: .7;
    font-size: 33px;
    line-height: 31px;
}


/*                     *
    Over Shadow Area
 *                     */
.appgame .blurred .over_sdw_area>div {
    position: fixed;
    left: 442px;
    width: 920px;
    height: 320px;
    white-space: nowrap;
}

.appgame .blurred .over_sdw_area .sdw_left {
    display: inline-block;
    width: 80px;
    height: 320px;
}

.appgame .blurred .over_sdw_area .sdw_mid {
    display: inline-block;
    width: 770px;
    height: 320px;
}

.appgame .blurred .over_sdw_area .sdw_right {
    display: inline-block;
    width: 80px;
    height: 320px;
}

.appgame .blurred .over_sdw_area .over_sdw_1 {
    top: 113px;
}

.appgame .blurred .over_sdw_area .over_sdw_1 .sdw_left {
    background: url(../../resource/image/sdw_category_1_l.png);
}

.appgame .blurred .over_sdw_area .over_sdw_1 .sdw_mid {
    background: url(../../resource/image/sdw_category_1_m.png);
}

.appgame .blurred .over_sdw_area .over_sdw_1 .sdw_right {
    background: url(../../resource/image/sdw_category_1_r.png);
}

.appgame .blurred .over_sdw_area .over_sdw_2 {
    top: 383px;
}

.appgame .blurred .over_sdw_area .over_sdw_2 .sdw_left {
    background: url(../../resource/image/sdw_category_2_l.png);
}

.appgame .blurred .over_sdw_area .over_sdw_2 .sdw_mid {
    background: url(../../resource/image/sdw_category_2_m.png);
}

.appgame .blurred .over_sdw_area .over_sdw_2 .sdw_right {
    background: url(../../resource/image/sdw_category_2_r.png);
}

.appgame .blurred .over_sdw_area .over_sdw_3 {
    top: 653px;
}

.appgame .blurred .over_sdw_area .over_sdw_3 .sdw_left {
    background: url(../../resource/image/sdw_category_3_l.png);
}

.appgame .blurred .over_sdw_area .over_sdw_3 .sdw_mid {
    background: url(../../resource/image/sdw_category_3_m.png);
}

.appgame .blurred .over_sdw_area .over_sdw_3 .sdw_right {
    background: url(../../resource/image/sdw_category_3_r.png);
}


.appgame .categoryArea .adult_auth_box {
    margin-left: 0;
    margin-top: 0;
}

.appgame .adult_auth_box {
    margin-left: 578px;
    margin-top: 0px;
    width: 1342px;
    height: 1080px;
    text-align: center;
}

.appgame .adult_auth_box .no_content_area {
    width: 1342px;
    height: 1080px;
    margin-top: 1px;
    overflow: hidden;
}

.appgame .adult_auth_box img {
    display: block;
    margin-left: auto;
    margin-right  : auto;
    margin-bottom: 29px;
    margin-top: 394px;
}

.appgame .adult_auth_box .text1 {
    display: none;
    font-size: 24px;
    color: rgba(255,255,255,.5);
    font-family: "RixHead L";
    margin-bottom: 17px;
}

.appgame .adult_auth_box .text2 {
    display: block;
    font-size: 33px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    margin-bottom: 33px;
    line-height: 41px;
}

.appgame .adult_auth_box .input_box {
    width: 301px;
    height: 68px;
    font-size: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appgame .adult_auth_box .input_box .box {
    background: url(../../resource/image/pw_box_w301.png);
    width: inherit;
    height: 48px;
    padding-top: 20px;
    font-family: "RixHead M";
    letter-spacing: 8px;
    opacity: .3;
    color: rgba(255,255,255,.667);
}


.appgame .focused .adult_auth_box .input_box .box {
    background: url(../../resource/image/pw_box_w301_f.png);
    opacity: 1;
    color: rgba(255,255,255,.2);
}

.appgame .adult_auth_box .input_box .star_txt {
    text-align:left;
    margin-top: -48px;
    margin-left: 84px;
    letter-spacing: 8px;
    font-family: "RixHead M";
    color: white;
}

.appgame .appContentsView .contents_area {
    top: 122px;
    left: 636px;
    opacity: 1;
    -webkit-transform: scale(1.1);
}

.appgame .appContentsView .contents_area img {
    width: 486px;
    height: 544px;
}

.appgame .appContentsView .contents_area .btn_go {
    height: 66px;
    width: 486px;
    line-height: 66px;
    font-size: 30px;
    text-align: center;
    color: white;
    letter-spacing: -1.5px;
    background-color: #D2332F;
    opacity: 1;
    margin-top: 10px;
}

.appgame .blurred.appContentsView .contents_area {
    top: 122px;
    left: 636px;
    opacity: 0.8;
    -webkit-transform: scale(1);
}

.appgame .blurred.appContentsView .contents_area .btn_go {
    color: rgba(255,255,255,.7);
    background-color: #4E4E4E;
    opacity: 0.9;
}