/*
    컨텐츠 영역의 정사각형 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2017. 1. 5, 오후 14:34:10
    Author     : lyllyl
*/

/*
 * 일반
 */
div.appgame .content.poster_square {
    margin-right: 60px;
    width: 235px;
    height: 235px;
    display: inline-block;
    vertical-align: top;
}

div.appgame .content.poster_square .content {
    width: 235px;
    height: 235px;
    display: block;
    border: white 6px solid;
    border-color: transparent;
    padding: 1px;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
}

div.appgame .content.poster_square .previewSdw {
    position: absolute;
    height: 250px;
    width: 16px;
    z-index: 1;
    opacity: 0;
    background: url(../../resource/image/sdw_category_poster.png);
    background-size: contain;
}

div.appgame .content.poster_square:nth-child(4n+1) .previewSdw {
    display: none;
}

div.appgame .content.poster_square .sdw_area {
    position: absolute;
    width: 323px;
    height: 323px;
    margin-top:-22px;
    margin-left:-27px;
}

div.appgame .content.poster_square .sdw_area .sdw_left {
    display: inline-block;
    background: url(../../resource/image/sdw_cd_h269_l.png);
    width: 57px;
    height: inherit;
}

div.appgame .content.poster_square .sdw_area .sdw_mid {
    display: inline-block;
    background: url(../../resource/image/sdw_cd_h269.png);
    width: 209px;
    height: inherit;
}

div.appgame .content.poster_square .sdw_area .sdw_right {
    display: inline-block;
    background: url(../../resource/image/sdw_cd_h269_r.png);
    width: 57px;
    height: inherit;
}
div.subhome .content.poster_square .posterImg {
    position: absolute;
    width: 235px;
    height: 235px;
}

div.appgame .content.poster_square .contentsData {
    position: absolute;
    margin-top: 248px;
    width: 250px;
    opacity: .7;
}

div.appgame .blurred .content.poster_square .contentsData {
    opacity: .4;
}

div.appgame .content.poster_square .posterTitle {
    display: block;
    color: white;
    font-size: 30px;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.appgame .content.poster_square .posterDetail {
    display: block;
    margin-top: 9px;
    height: 36px;
    white-space: nowrap;
    -webkit-transform-origin: left;
}

div.appgame .content.poster_square .stars{
    display: inline-block;
    height: 18px;
}

div.appgame .content.poster_square .rating_star_area {
    display: none;
}

div.appgame .content.poster_square.focus .rating_star_area {
    display: inline-block;
    margin-top: -2px;
    height: 18px;
}

div.appgame .content.poster_square .posterDetail * {
    vertical-align: middle;
}

div.appgame .content.poster_square .isfree {
    color: white;
    position: relative;
    margin-left: 8px;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
}


/*
 * 포커스
 */
div.appgame .content.poster_square.focus .content {
    border-color: #D1433F;  /* Line Focus */
    -webkit-transform: scale(1.07) translateZ(0);
}

div.appgame .content.poster_square.focus .contentsData {
    -webkit-transform: translateY(10px);
    width: 250px;
    margin-left: -7px;
    opacity: 1;
}

div.appgame .content.poster_square.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.appgame .content.poster_square.focus .stars {
    display: inline-block;
}

div.appgame .content.poster_square.focus .posterTitle {
    text-overflow: inherit;
}

div.appgame .content.poster_square.focus .posterTitle span {
    display: inline-block;
}

/*
 * 전체보기
 */
div.appgame .content.poster_square.more .contentsData {
    margin-top: 138px;
    margin-left: 22px;
}

div.appgame .content.poster_square.more .posterImgWrapper {
    background-color: black;
    position: absolute;
    width: 235px;
    height: 235px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.appgame .content.poster_square.more .posterImg {
    -webkit-transform: scale(1.2);
    -webkit-filter: blur(20px);
}

div.appgame .content.poster_square.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.appgame .content.poster_square.more .contentsData .moreViewTxt {
    margin-left: 4px;
    margin-bottom: 11px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
    font-family: "RixHead M";
}

div.appgame .content.poster_square.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 13px;
    line-height: 13px;
}

div.appgame .content.poster_square.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 45px;
    vertical-align: super;
    margin-bottom: -3px;
}

@-webkit-keyframes marqueeTitle {
    0%{margin-left: 100%}
    100%{margin-left:-100%}
}

/*
 *아이콘 영역
 */

div.appgame .content.poster_square .content .icon_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.appgame .content.poster_square .content .icon_area img {
    display: block;
}

div.appgame .content.poster_square .content .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.appgame .content.poster_square .content .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.appgame .content.poster_square .content .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.appgame .content.poster_square .content .icon_area .bottom_tag_area > img {
    width: 100%
}

div.appgame .content.poster_square .content .icon_area .lock_icon:empty {
    background:none;
}

div.appgame .content.poster_square .content .icon_area .lock_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
}

div.appgame .content.poster_square .content .icon_area .lock_icon > img {
    width: 100%;
    height: 100%;
    content: url(../../resource/image/icon/img_vod_locked_music.png);
}


/*
 *순위리스트
 */

div.appgame .content.poster_square .content .chart_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.appgame .content.poster_square .content .chart_area .chart_icon {
    position:absolute;
    width: 70px;
    height: 43px;
    background: url(../../resource/image/icon_ranking.png);
    left: -5px;
    top: -3px;
    color: white;
    font-size: 26px;
    line-height: 1;
    padding-top:33px;
    text-align: center;
    font-family: "RixHead B";
}

div.appgame .content.poster_square .content .chart_area .chart_icon:after {
    font-size: 20px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.8);
}

div.appgame .content.poster_square .content .chart_area .chart_change_area {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 182px;
    height: 170px;
    background: url(../../resource/image/poster_sale_sdw.png);
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon {
    position:absolute;
    right: 11px;
    bottom: 10px;
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.plus {
    color: #ff5555;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.plus::before {
    display: inline-block;
    content: url(../../resource/image/updown_up.png);
    vertical-align: top;
    margin-right: 6px;
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.minus {
    color: #4A9BFF;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.minus::before {
    display: inline-block;
    content: url(../../resource/image/updown_down.png);
    vertical-align: top;
    margin-right: 6px;
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.still::before {
    content: url(../../resource/image/updown_unchange.png);
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.new {
    right: 9px;
    bottom: 13px;
}

div.appgame .content.poster_square .content .chart_area .chart_change_area .chart_change_icon.new::before {
    content: url(../../resource/image/icon_fluctu_new.png);
}

@-webkit-keyframes marqueeTitle {
    0% {
        margin-left: 100%
    }
    100% {
        margin-left: -100%
    }
}

div.appgame .blurred .content.poster_square .content .over_dim {
    position: absolute;
    width: 235px;
    height: 235px;
    background: rgba(0, 0, 0, 0.1);
}