/*
    컨텐츠 영역의 타이틀보기 스타일 정의.
    일반, 미리보기, 포커스 수록.

    Created on : 2017. 1. 9, 오후 19:31:10
    Author     : lyllyl
*/

/****************************
     컨텐츠 리스트 영역
****************************/
/* 일반 */
div.appgame div.contentsList.title_list {
    width: 1121px;
    height: 828px;
    border-top: 5px solid rgba(178,177,177,.25);
    border-bottom: 5px solid rgba(178,177,177,.25);
    -webkit-transform-origin: 0 0;
    overflow: hidden;
}

div.appgame div.contentsList.title_list .item_list {
    width: inherit;
    padding-top: 2px;
    float: left;
}

div.appgame div.contentsList.title_list .contents_item>div {
    display: table-cell;
    vertical-align: middle;
}

div.appgame div.contentsList.title_list .contents_item {
    display: table;
    width: inherit;
    height: 81px;
    border-bottom: 2px rgba(255,255,255,.1) solid;
    /*transition: height .5s;*/
}

div.appgame div.contentsList.title_list .contents_item.hiddenItem > * {
    visibility: hidden;
}

div.appgame div.contentsList.title_list .title {
    font-size: 33px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    padding-left: 8px;
    max-width: 470px;
    line-height: 43px;
}

div.appgame div.contentsList.title_list .title > div {
    width: 990px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.appgame div.contentsList.title_list .item_list .contents_item.focus .title {
    font-size: 39px;
    color: white;
    font-family: "RixHead M";
}

div.appgame div.contentsList.title_list.show_detail .title > div {
    width: 680px;
}

div.appgame div.contentsList.rank_title_list.show_detail .title > div {
    width: 430px;
}

div.appgame div.contentsList.title_list .wonInfo_area {
    width: 40px;
    font-size: 23px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.5);
    text-align: center;
    opacity: 0.7;
}

div.appgame div.contentsList.title_list .focus .wonInfo_area {
    opacity: 1;
}

div.appgame div.contentsList.title_list .isFreeIcon {
    width: 37px;
    height: 37px;
    margin-right: 1px;
    margin-top: 4px;
    content: url(../../resource/image/icon_buy_txtlist.png);
}

div.appgame div.contentsList.title_list .focus .isFreeIcon {
    opacity: 1;
}

div.appgame div.contentsList.title_list .prInfo {
    width: 46px;
    opacity: .7;
    text-align: right;
}

div.appgame div.contentsList.title_list .prInfo img {
    margin-left: 14px;
    margin-top: 2px;
}

/* 포커스 */
div.appgame div.contentsList.title_list.show_detail .item_list {
    width:800px;
}

div.appgame div.contentsList.title_list .item_list .contents_item.focus .isFree {
    font-size: 23px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.5);
}

div.appgame div.contentsList.title_list .item_list .contents_item.focus .prInfo {
    opacity: 1;
}



/***************************
         랭킹 영역
****************************/

div.appgame div.contentsList.title_list.rank_title_list.show_detail .title > div {
    width: 440px;
}

div.appgame div.contentsList.title_list .item_list .rank {
    padding-left: 11px;
    width: 93px;
    min-width: 93px;
    color: rgba(255,255,255,.7);
    font-size: 28px;
}

div.appgame div.contentsList.title_list .item_list .rank::after {
    content:"위";
}

div.appgame div.contentsList.title_list .item_list .rank:empty::after {
    content:none;
}


div.appgame div.contentsList.title_list .item_list .chart_change{
    width: 79px;
    min-width: 79px;
}

div.appgame div.contentsList.title_list .item_list .chart_change.plus {
    color: #FF5555;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 1px 1px rgba(0,0,0,.4);
}

div.appgame div.contentsList.title_list .item_list  .chart_change.plus::before {
    display: inline-block;
    content: url(../../resource/image/updown_up.png);
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 3px;
}


div.appgame div.contentsList.title_list .item_list  .chart_change.minus {
    color: #4A9BFF;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: middle;
    white-space: nowrap;
}

div.appgame div.contentsList.title_list .item_list  .chart_change.minus::before {
    display: inline-block;
    content: url(../../resource/image/updown_down.png);
    vertical-align: middle;
    margin-right: 6px;
    margin-left: 3px;
}

div.appgame div.contentsList.title_list .item_list  .chart_change.still::before {
    content: url(../../resource/image/updown_unchange.png);
    margin-left: 12px;
}

div.appgame div.contentsList.title_list .item_list  .chart_change.new {
    right: 9px;
    bottom: 13px;
}

div.appgame div.contentsList.title_list .item_list  .chart_change.new::before {
    content: url(../../resource/image/icon_fluctu_new.png);
}

div.appgame div.contentsView .order_code_text {
    position: fixed;
    right: 150px;
    top: 62px;
    font-size: 24px;
    color: rgba(255,255,255,.4);
    white-space: nowrap;
    letter-spacing: -1.2px;
    font-family: "RixHead L";
}

div.appgame div.contentsView .order_code_text::before {
    content: "정렬 : ";
}
/***************************
        포커스 영역
****************************/
div.appgame div.contentsList.title_list .focus_area {
    position: absolute;
    top:0px;
    width: 800px;
    height: 79px;
    border-top: 6px solid #D1433F;      /* Line Focus */
    border-bottom: 6px solid #D1433F;   /* Line Focus */
    /*transition: -webkit-transform .5s;*/
;
}

/***************************
      컨텐츠 정보 영역
****************************/
div.appgame div.contentsList.title_list .contents_detail_area {
    float: left;
    width: 259px;
    height: inherit;
    margin-left: 60px;
    display: none;
}

div.appgame div.contentsList.title_list.show_detail .contents_detail_area {
    display: inherit;
}

div.appgame div.contentsList.title_list .star_area {
    height: 22px;
    margin-top: 41px;
}

div.appgame div.contentsList.title_list .star_area span {
    font-size: 24px;
    margin-left: 19px;
    padding-left: 19px;
    vertical-align: middle;
    color: rgba(255,255,255,.5);
    border-left: 2px solid rgba(255,255,255,.3);
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

div.appgame div.contentsList.title_list .posterArea {
    width: 259px;
    height: 370px;
    margin-top: 29px;
}

div.appgame div.contentsList.title_list.square .posterArea {
    width: 259px;
    height: 259px;
}

div.appgame div.contentsList.title_list .posterArea > * {
    position: absolute;
    width: 259px;
    height: 370px;
}

div.appgame div.contentsList.title_list.square .posterArea > * {
    width: 259px;
    height: 259px;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .right_icon_area > img {
    margin-bottom: -4px;
    display: none;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .right_icon_area > img:nth-child(1) {
    display: block;
}
div.appgame div.contentsList.title_list .posterArea .icon_area .right_icon_area > img:nth-child(2) {
    display: block;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .bottom_tag_area > img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .lock_icon:empty {
    background:none;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .lock_icon {
    position: absolute;
    bottom: 0;
    width: inherit;
    height: inherit;
}

div.appgame div.contentsList.title_list .posterArea .icon_area .lock_icon > img {
    width: inherit;
    bottom: 0;
    position: absolute;
}

div.appgame div.contentsList.title_list .info_area {
    margin-top: 27px;
    line-height: 37px;
    font-family: "RixHead M";
    font-size: 26px;
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.appgame div.contentsList.title_list .info_area title {
    display: inline-block;
    color: rgba(197,135,65,.8);
    margin-right: 21px;
}

div.appgame div.contentsList.title_list .synopsis_area {
    margin-top: 21px;
    display: -webkit-box;
    color: rgba(170,170,170,.8);
    font-size: 26px;
    height: 220px;
    font-family: "RixHead L";
    line-height: 44px;
    -webkit-line-clamp: 5; /* 라인수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.appgame div.contentsList.title_list.square .synopsis_area {
    height: 350px;
    -webkit-line-clamp: 8; /* 라인수 */
}


/***************************
         애니메이션
****************************/
.appgame .viewArea .contents_area .contentsList.title_list .item_list.slide_down {
    -webkit-animation: appgame_contents_list_title_slide_down 0.001s forwards;
}

.appgame .viewArea .contents_area .contentsList.title_list .item_list.slide_up {
    -webkit-animation: appgame_contents_list_title_slide_up 0.001s forwards;
}

@-webkit-keyframes appgame_contents_list_title_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-834px)}
    to { -webkit-transform: translateZ(0) translateY(-0px)}
}

@-webkit-keyframes appgame_contents_list_title_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-834px)}
}