
/* 리스트 영역 */
div.myhome.home_otmPairing .otmManageView .otmListArea .item .itemBox { border-bottom: solid 2px rgba(178,177,177,0.25);}
div.myhome.home_otmPairing .otmManageView .otmListArea .item.isLast .itemBox {  border-bottom: solid 5px rgba(178,177,177,0.25);}

div.myhome.home_otmPairing .otmManageView .otmListArea .item .nickArea .name { font-size: 33px; color: white; opacity: 0.7; }
div.myhome.home_otmPairing .otmManageView .otmListArea .item .nickArea .icon { visibility: hidden; }
div.myhome.home_otmPairing .otmManageView .otmListArea .item .nickArea .masterTxt { color: rgb(243,169,80); opacity: 0.8; font-family: "RixHead L"; visibility: hidden; }

div.myhome.home_otmPairing .otmManageView .otmListArea .item .nickArea span { font-family: "RixHead L";}
div.myhome.home_otmPairing .otmManageView .otmListArea .item.focus .nickArea span { font-family: "RixHead M"; opacity: 1.0; }

div.myhome.home_otmPairing .otmManageView .otmListArea .item.isMaster .nickArea .name { color: rgb(243,169,80); }
div.myhome.home_otmPairing .otmManageView .otmListArea .item.isMaster .nickArea .icon,
div.myhome.home_otmPairing .otmManageView .otmListArea .item.isMaster .nickArea .masterTxt{ visibility: inherit; }

div.myhome.home_otmPairing .otmManageView .otmListArea .item.isMaster .masterBtnArea{ visibility: hidden }
div.myhome.home_otmPairing .otmManageView .otmListArea .item div .btnBg { background-color: rgba(64,63,62,0.9); border: solid 2px rgba(255,255,255,0.2); box-sizing: border-box; }
div.myhome.home_otmPairing .otmManageView .otmListArea .item div .btnTxt {color: rgba(255,255,255,0.7);}


/* 포커스 영역 처리 */
div.myhome.home_otmPairing .otmManageView .otmListArea .item .focusArea { visibility: hidden;}
div.myhome.home_otmPairing .otmManageView .otmListArea .item.focus .focusArea { visibility: inherit;}

div.myhome.home_otmPairing .otmManageView .otmListArea .item .masterBtnArea.focus .btnBg,
div.myhome.home_otmPairing .otmManageView .otmListArea .item .connectingBtnArea.focus .btnBg { background-color: rgb(210,51,47); border: solid 2px rgb(210,51,47); opacity: 1.0;}

div.myhome.home_otmPairing .otmManageView .otmListArea .item .masterBtnArea.focus .btnTxt,
div.myhome.home_otmPairing .otmManageView .otmListArea .item .connectingBtnArea.focus .btnTxt { font-family: "RixHead M"; opacity: 1.0; }


/* 우측 버튼 영역 */
div.myhome.home_otmPairing .otmManageView .rightMenuArea .rightMenuBoxArea .btnDiv .btnBg { background-color: rgb(160,160,160); border: solid 2px white; opacity: 0.3; box-sizing: border-box; }
div.myhome.home_otmPairing .otmManageView .rightMenuArea .rightMenuBoxArea .btnDiv .btnTxt { font-family: "RixHead L"; opacity: 0.7; }

div.myhome.home_otmPairing .otmManageView .rightMenuArea .rightMenuBoxArea .btnDiv.focus .btnBg { background-color: rgb(210,51,47); border: solid 2px rgb(210,51,47); opacity: 1.0; box-sizing: border-box; }
div.myhome.home_otmPairing .otmManageView .rightMenuArea .rightMenuBoxArea .btnDiv.focus .btnTxt { font-family: "RixHead M"; opacity: 1.0; }