div.vod .context_area {
    position: fixed;
    left: 809px;
    top: 0;
    width: 1111px;
    height: 1080px;
    background-image: url(../../resource/pop_bg_option_1.png);
    background-size: 1111px 1080px;
    z-index: 50;
    padding-left: 764px;
    -webkit-transform: translateX(385px) translateZ(0);
    opacity: 0;
    transition: -webkit-transform .5s, opacity .5s;
}

div.vod .context_menu_area .background_dim {
    position: fixed;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    background: black;
    opacity: 0;
    z-index: 50;
    transition: opacity .5s;
}

div.vod .context_menu_area.activate .background_dim {
    opacity: .5;
}

div.vod .activate .context_area {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.vod .activate.context_area {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.vod .context_area .btn {
    width: 296px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 30px;
    font-family: "RixHead L";
    color: white;
    background: rgba(160, 160, 160, .5);
    border: 2px solid rgba(200, 200, 200, .2);
    margin-bottom: 13px;
}

div.vod .context_menu_area .context_area .btn {
    height: 61px;
    line-height: 61px;
}

div.vod .context_menu_area .context_area .btn.mini {
    height: 55px;
    line-height: 55px;
}

div.vod .context_area .btn.focus {
    background: #D2332F;
    border-color: #D2332F;
    color: white;
    font-family: "RixHead M";
    font-size: 31px;
}

div.vod .context_area .sep_line {
    margin-top: 52px;
    margin-bottom: 50px;
    height: 2px;
    width: 299px;
    background: rgba(255, 255, 255, .15);
}

div.vod .context_area .title {
    color: #DDAF78;
    font-size: 24px;
    font-family: "RixHead M";
    margin-bottom: 16px;
    white-space: nowrap;
    text-align: center;
    width: 300px;
}

div.vod .context_area .drop_box {
    width: 296px;
    height: 61px;
    line-height: 61px;
    font-size: 27px;

    color: white;
    background: rgba(160,160,160,.5);
    border: 2px solid rgba(200,200,200,.2);
}

div.vod .context_area .drop_box .text {
    position: absolute;
    width: 271px;
    padding-left: 27px;
    font-family: "RixHead L";
}

div.vod .context_area .drop_box.focus .text {
    font-family: "RixHead M";
    padding-left: 29px;
}

div.vod .context_area .drop_box .option_dw {
    content: url(../../resource/arw_option_popup_dw.png);
    width: 47px;
    height: 47px;
    margin: 7px 0px 0px 240px;
    display: inherit;
}

div.vod .context_area .drop_box.focus.open .option_dw {
    display: none;
}

div.vod .context_area .drop_box.focus {
    background: #D2332F;
    color: white;
}

div.vod .context_area .drop_box.focus .text::after {
    top: 7px;
    right: 15px;
}

div.vod .context_area .drop_box .options {
    display: none;
    z-index: 10;
}

div.vod .context_area .drop_box.open .options {
    display: block;
    position: absolute;
    margin-top: -5px;
    overflow: visible;
}

div.vod .context_area .drop_box .options .option {
    background: url(../../resource/bg_option_dropbox_2.png);
    width: 271px;
    height: 63px;
    line-height: 63px;
    padding-left: 29px;
    font-family: "RixHead L";
    color: white;
}

div.vod .context_area .drop_box .options .option_text {
    font-size: 30px;
}

div.vod .context_area .drop_box .long {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    width : 210px;
}

div.vod .context_area .drop_box .options .option:nth-child(1) {
    background: url(../../resource/bg_option_dropbox.png);
    height: 65px;
    line-height: 65px;
}

div.vod .context_area .drop_box .options .option.focus {
    color: #49443C;
    font-family: "RixHead M";
    z-index: 1;

}

div.vod .context_area .drop_box .options .option_text {
    position: absolute;
    z-index: 3;
    color : white;
}

div.vod .context_area .drop_box .options .option.checked::after {
    content: url(../../resource/option_dropbox_select.png);
    position: absolute;
    left: 235px;
    margin-top: 10px;
    z-index: 3;
}

div.vod .context_area .drop_box .options .option.focus.checked::after {
    position: absolute;
    left: 235px;
    margin-top: 10px;
}

div.vod .context_area .drop_box .options .option:nth-child(1)::before {
    background-image: url(../../resource/sdw_option_popup_top.png);
    background-size: 384px 102px;
    height: 102px;
    width: 384px;
    margin-top: -38px;
    position: absolute;
    content: "";
    z-index: 3;
}

div.vod .context_area .drop_box .options .option::before {
    background-image: url(../../resource/sdw_option_popup_m.png);
    position: absolute;
    background-size: 384px 63px;
    width: 384px;
    height: 63px;
    margin-left: -70px;
    margin-top: -1px;
    content: "";
    z-index: -1;
    display: block;
}

div.vod .context_area .drop_box .options .option:nth-last-child(2)::before {
    background-image: url(../../resource/sdw_option_popup_btm.png);
    background-size: 384px 110px;
    height: 110px;
    position: absolute;
    content: "";
}

div.vod .context_area .drop_box .options .option:nth-child(5)::before {
    background-image: url(../../resource/sdw_option_popup_btm.png);
    background-size: 384px 110px;
    height: 110px;
    position: absolute;
    content: "";
}

div.vod .context_area .drop_box .options .focus_line {
    background-color: #D2332F;
    position: absolute;
    width: 296px;
    top: 2px;
    left: 2px;
    height: 60px;
    z-index: 2;
}

div.vod .context_area .drop_box .options .scroll_bg {
    position: absolute;
    width: 2px;
    height: 300px;
    background: #8B8884;
    top: 0;
    right: 6px;
    z-index: 3;
    overflow: inherit;
}

div.vod .context_area .drop_box .options .scroll_bar {
    position: absolute;
    background: white;
    width: 5px;
    left: -2px;
}

div.vod .context_area .disable {
    opacity: .3;
}

div.vod .vod_only_context_menu .context_area {
    padding-top: 52px;
}

div.vod .context_menu_area .left_arrow {
    opacity: 0;
    -webkit-transform: translateX(385px) translateZ(0);
    left: 1480px;
    position: fixed;
    top: 514px;
    background: url(../../resource/arw_view_l.png);
    width: 32px;
    height: 56px;
    transition: -webkit-transform .5s, opacity .5s;
    z-index: 50;
}

div.vod .context_menu_area.activate .left_arrow {
    opacity: 1;
    -webkit-transform: translateZ(0);
}

/*****
VOD Context Menu
*****/

div.vod .context_area.vod_context_menu .vod_info_area {
    margin-top: 52px;
    width: 168px;
    height: 366px;
    margin-right: 80px;
    padding-left: 64px;
    padding-right: 68px;
}

div.vod .context_area.vod_context_menu .vod_info_area .poster_area {
    width: 168px;
    height: 240px;
    margin-bottom: 4px;
}

div.vod .context_area.vod_context_menu .vod_info_area .poster_area > * {
    position: absolute;
    width: 168px;
    height: 240px;
}

div.vod .context_area.vod_context_menu .vod_info_area .poster_area .icon_area > img {
    width: 168px;
    bottom: 0;
}

div.vod .context_area.vod_context_menu .vod_info_area .btn {
    width: 164px;
    margin-bottom: 4px;
}

div.vod .context_area.vod_context_menu .vod_info_area .btn.focus {
}

div.vod .context_area.vod_context_menu .vod_info_area div.btn:nth-child(2) {
    font-size: 29px;
}

div.vod .context_area.vod_context_menu .vod_info_area div.btn:nth-child(3) {
    font-size: 21px;
}

div.vod .context_area.vod_context_menu .context_menu_area {
}

div.vod .context_menu_area.play_context_menu {
    z-index: 10;
}

div.vod .context_area.play_context_menu {
    padding-top: 53px;
}

div.vod .context_area.play_context_menu .sep_line {
    margin-top: 0;
    margin-bottom: 16px;
}

div.vod .context_area.play_context_menu .drop_box {
    margin-bottom: 20px;
    margin-left: -2px;
}

div.vod .context_area.play_context_menu .title {
    margin-top: 20px;
    text-align: left;
}

div.vod .context_area.play_context_menu .upArw {
    margin-left: 132px;
    display: none;
}

div.vod .context_area.play_context_menu .dwArw {
    margin-left: 132px;
    margin-bottom: 26px;
    display: none;
}
