div.vod.kids .context_area {
    background-image: url(../../resource/kids/pop_bg_option_kids2.png);
}

div.vod.kids .context_area .btn {
    background-color: rgba(177, 176, 176, .45);
    border-color: rgba(200, 200, 200, .1);
}

div.vod.kids .context_area .btn.focus {
    background-color: #FFB32E;
    color: #513300;
}
