div.vod .pageIndicator {
    opacity: .5;
}

div.vod .pageIndicator.focus {
    opacity: 1;
}

div.vod .pageIndicator * {
    position: absolute;
    font-family: "RixHead M";
    overflow: visible;
}

div.vod .pageIndicator .baseCircle {
    width: 38px;
    height: 38px;
    background-image: url(../resource/indicator/scroll_dim_d.png);
    line-height: 38px;
    color: rgba(255,255,255,.5);
    text-align: center;
}

div.vod .pageIndicator.focus .baseCircle {
    background-image: url(../resource/indicator/scroll_dim.png);
    color: #1D1B18;
}

div.vod.kids .pageIndicator.focus .baseCircle {
    background-image: url(../resource/indicator/scroll_dim_kids.png);
    color: #1D1B18;
}


div.vod .pageIndicator .focusCircle {
    width: 38px;
    height: 38px;
    background-image: url(../resource/indicator/scroll_sel_d.png);
    line-height: 38px;
    color: white;
    text-align: center;
    transition: -webkit-transform .5s;
}

div.vod.kids .pageIndicator .focusCircle {
    background-image: url(../resource/indicator/scroll_sel_d_kids.png);
}

div.vod .pageIndicator.focus .focusCircle {
    background-image: url(../resource/indicator/scroll_sel.png);
    color: #1D1B18;
}

div.vod .pageIndicator .dotCircle {
    width: 38px;
    height: 38px;
    background-image: url(../resource/indicator/dot.png);
}

div.vod .pageIndicator .baseLine {
    margin-left: 18px;
    margin-top: 38px;
    width: 2px;
    background-color: white;
    opacity:.1;
}

div.vod .pageIndicator #dotArea {
    width: 100%;
    height: 100%;
}

div.vod .pageIndicator.focus .focusCircle {
    margin-top: -16px;
    margin-left: -16px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-image: url(../resource/indicator/scroll_sel.png);
    overflow: visible;
}

div.vod.kids .pageIndicator.focus .focusCircle {
    background-image: url(../resource/indicator/scroll_sel_kids.png);
}

div.vod .pageIndicator .focusCircle .focus_number {
    width: inherit;
    height: inherit;
    font-family: "RixHead B";
}

div.vod .pageIndicator .focusCircle .focusArrow_top{
    position: absolute;
    top: -15px;
    left: 26px;
    width: 18px;
    height: 10px;
    background-image: url(../resource/indicator/scroll_arr_top.png);
    display: none;
}

div.vod .pageIndicator .focusCircle .focusArrow_bottom{
    position: absolute;
    top: 75px;
    left: 26px;
    width: 18px;
    height: 10px;
    background-image: url(../resource/indicator/scroll_arr_btm.png);
    display: none;
}

div.vod .pageIndicator.focus .focusCircle .show{
    display: block;
}

div.vod .pageTransIcon.hidden {
    visibility: hidden;
    opacity: 0;
}

div.vod .pageTransIcon{
    position: fixed;
    left: 71px;
    top: 965px;

    display: inline-block;
    width: 29px;
    height: 32px;
    background: url(../resource/icon_pagedown.png);
    margin-left: 30px;
}

div.vod .pageTransIcon::before {
    margin-left: -30px;
    content: '';
    background: url(../resource/icon_pageup.png);
    width: 29px;
    height: 32px;
    display: inline-block;
}

div.vod .pageTransIcon::after {
    white-space: nowrap;
    content: "페이지";
    font-size: 24px;
    color: rgba(255,255,255,.3);
    margin-left: -56px;
    font-family: "RixHead L";
    letter-spacing: -1.2px;
    display: block;
    margin-top: 2px;
    line-height: 24px;
}

/******************************
          Font-Size
 *****************************/
div.vod .pageIndicator {
    font-size: 22px;
}

div.vod .pageIndicator .digit3{
    font-size: 18px;
}

div.vod .pageIndicator .digit4{
    font-size: 13px;
}

div.vod .pageIndicator.focus .focusCircle {
    font-size:30px;
}

div.vod .pageIndicator.focus .focusCircle.digit3 {
    font-size:26px;
}

div.vod .pageIndicator.focus .focusCircle.digit4 {
    font-size:21px;
}