.rating_star_area {

}

.rating_star_area .star_icon {
    float: left;
}

.rating_star_area .star_icon .normal_img {
    display: inherit;
}

.rating_star_area .star_icon .focus_img {
    display: none;
}

.whiteStarBox.focus .rating_star_area .star_icon .normal_img {
    display: none;
}

.whiteStarBox.focus .rating_star_area .star_icon .focus_img {
    display: inherit;
}
/***** Type 0 (Red 20) *****/
.rating_star_area.type0 {

}

.rating_star_area.type0 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type0.my_list {
    position: relative;
    top : 8px;
}

.rating_star_area.type0 .star_icon {
    width: 20px;
    height: 18px;
    margin-left: 4px;
}

/***** Type 1 (Red 26) *****/
.rating_star_area.type1 {

}

.rating_star_area.type1 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type1 .star_icon {
    width: 32px;
    height: 31px;
    margin-left: 3px;
}
/***** Type 2 (Red 29) *****/
.rating_star_area.type2 {

}

.rating_star_area.type2 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type2 .star_icon {
    width: 29px;
    height: 28px;
    margin-left: 7px;
}

/***** Type 4 (Yellow 20) *****/
.rating_star_area.type4 {

}

.rating_star_area.type4 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type4 .star_icon {
    width: 20px;
    height: 18px;
    margin-left: 4px;
}

/***** Type 5 (Yellow 26) *****/
.rating_star_area .type5 {

}

.rating_star_area.type5 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type5 .star_icon {
    width: 26px;
    height: 24px;
    margin-left: 7px;
}

/***** Type 6 (Yellow 29) *****/
.rating_star_area.type6 {

}

.rating_star_area.type6 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type6 .star_icon {
    width: 29px;
    height: 28px;
    margin-left: 7px;
}


/***** Type 7 (Yellow 36) *****/
.rating_star_area.type7 {

}

.rating_star_area.type7 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type7 .star_icon {
    width: 36px;
    height: 34px;
    margin-left: 12px;
}

/***** Type 8 (Mint 20) *****/
.rating_star_area.type8 {

}

.rating_star_area.type8 .star_icon:nth-child(1) {
    margin-left: 0;
}

.rating_star_area.type8.my_list {
    position: relative;
    top : 8px;
}

.rating_star_area.type8 .star_icon {
    width: 20px;
    height: 18px;
    margin-left: 4px;
}