div.searchResult #categoryArea {
    height: 1080px;
    width: 500px;
    z-index: 100;
    transition: opacity .5s;
    font-family: "RixHead M";
}

div.searchResult #categoryArea span {
    white-space: nowrap;
}

div.searchResult #categoryArea #focusArea {
    position: relative;
    margin-top: -21px;
    font-size: 42px;
    font-family: 'RixHead B';
    height: 72px;
    width: 329px;
    line-height: 71px;
    overflow: hidden;
    border-top: #D2332F 6px solid;
    border-bottom: #D2332F 6px solid;
    letter-spacing: -2.1px;
}

div.searchResult #categoryArea.noAnimation #focusArea {
    transition: none;
}

div.searchResult #categoryArea.noFocus #focusArea {
    border-top: 6px solid rgb(54, 54, 54);
    border-bottom: 6px solid rgb(54, 54, 54);
}

div.searchResult #categoryArea.noFocus #focusArea .menuArrow {
    background-image: url('../../resource/arw_menu_dim.png');
}

div.searchResult #categoryArea #focusArea span {
    display: block;
    color: white;
    width: 256px;
}

div.searchResult #categoryArea subTitle {
    font-size: 22px;
    margin-top: 9px;
    margin-left: 11px;
    letter-spacing: -1.1px;
}

div.searchResult #categoryArea #focusArea subTitle {
    margin-left: 11px;
    margin-top: 3px;
}

div.searchResult #categoryArea .menuArea{
    position: absolute;
    top: 0px;
    left: 0px;
}

div.searchResult #categoryArea #focusArea .menuArrow {
    background-image: url('../../resource/arw_menu_focus.png');
    width: 25px;
    height: 38px;
    top: 19px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
}

div.searchResult #categoryArea .menuArea span {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'RixHead L';
    font-size: 38px;
    letter-spacing: -1.9px;
    height: 40px;
    width: 380px;
    margin-bottom: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.searchResult #categoryArea .menuArea span.focus {
    visibility: hidden;
}

div.searchResult #categoryArea .menuArea span.bottom {
    /*-webkit-transform: translateY(63px);*/
}

div.searchResult #categoryArea #measureArea {
    position: fixed;
    font-size: 57px;
    opacity: 0;
}

div.searchResult #categoryArea .comment {
    position: relative;
    left: 81px;
    width: 259px;
    height: 137px;
    color: rgba(255, 255, 255, .2);
    font-size: 24px;
    margin-top: 58px;
}