@import "listFilteringPopup.css";
@import "error_popup.css";
@import "toast.css";

.searchResult.gniPopup {
    background-color: rgba(0, 0, 0, .9);
}

.searchResult.gniPopup .popup_contents {
    width: 1920px;
}

.searchResult.gniPopup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

.searchResult.gniPopup .text_white_center_45M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 52px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_38M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    line-height: 55px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_38L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 38px;
    line-height: 38px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_52M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_52L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}

.searchResult.gniPopup .text_white_left_30L {
    color: white;
    text-align: left;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_30L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.searchResult.gniPopup .text_black_center_30M {
    color: black;
    text-align: center;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.searchResult.gniPopup .text_black_center_30L {
    color: black;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_33L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_27L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 27px;
    line-height: 27px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_45M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 45px;
    width: 100%;
}

.searchResult.gniPopup .text_white_center_42M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 42px;
    width: 100%;
}

.searchResult.gniPopup .oneBtnArea_280 {
    left: 820px;
    height: 62px;
}

.searchResult.gniPopup .oneBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/popup/pop_btn_w280.png);
}

.searchResult.gniPopup .oneBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    /*box-sizing: border-box;*/
    /*border: 2px solid rgba(1, 1, 1, 0.5);*/
}

.searchResult.gniPopup .oneBtnArea_280 .btn.focus .whiteBox {
    background-color: rgb(210, 51, 47);
    border : none;
}

.searchResult.gniPopup .oneBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.searchResult.gniPopup .oneBtnArea_280 .btn.focus .btnText {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}