div.searchPopup.search_error {
    background-color: rgba(0, 0, 0, 0.9);
}

div.searchPopup.search_error .errorPopup {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1920px;
    height: 1080px;
}

div.searchPopup.search_error .errorTitle {
    display: inline-block;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    margin-bottom: 41px;
}

div.searchPopup.search_error .errorText {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 50px;
    width: 100%;
}

div.searchPopup.search_error .button_area {
    margin-top: 50px;
    display: inline-block;
    height: 62px;
    -webkit-transform: translateZ(0);
}

div.searchPopup.search_error .button {
    margin: 0 7px;
    float: left;
    width: 280px;
    height: 62px;
    background-image: url(../../resource/popup/pop_btn_w280.png);
}

div.searchPopup.search_error .button.focus {
    background-color: rgb(210, 51, 47);
    background-image: none;
}

div.searchPopup.search_error .button .buttonText {
    position: absolute;
    top: 16px;
    width: 280px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.5px;
    font-family: "RixHead L";
}

div.searchPopup.search_error .button.focus .buttonText {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}