.listFilteringPopup .listFilteringPopupBG {
    position: absolute;
    left: 70px;
    top: 227px;
    width: 1777px;
    height: 695px;
    background: rgba(42, 42, 42, 0.9);
}

.listFilteringPopup .listFilteringPopupBG_1_top_img {
    position: absolute;
    left: 180px;
    top: 194px;
}

.listFilteringPopup .listFilteringPopupBG_1_m_img {
    position: absolute;
    left: 180px;
    top: 264px;
    width: 1561px;
    height: 666px;
}

.listFilteringPopup .listFilteringPopupBG_1_btm_img {
    position: absolute;
    left: 180px;
    top: 930px;
}

.listFilteringPopup .listFilteringContent_area {
    position: absolute;
    left: 138px;
    top: 303px;
}

.listFilteringPopup .listFilteringContent_1_area {
    position: absolute;
    left: 308px;
    top: 303px;
}

.listFilteringPopup .listFilteringContent_2_area {
    position: absolute;
    left: 634px;
    top: 308px;
}

.listFilteringPopup .listFilteringContent_div {
    float: left;
    margin-right: 11px;
    width: 320px;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_title {
    float: left;
    margin-bottom: 22px;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead M";
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div {
    float: left;
    width: 320px;
    height: 77px;
    margin-bottom: 5px;
    background-image: url("../../resource/popup/pop_btn_menu_w315.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div .btn_focus {
    position: absolute;
    width: 320px;
    height: 77px;
    box-sizing: border-box;
    border: 5px solid #D2332F;
    visibility: hidden;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus .btn_focus {
    visibility: inherit;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div .btn_focus_padding {
    position: absolute;
    width: 310px;
    height: 66px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.hide {
    display: none;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_downArrow_img {
    float: left;
    margin-top: 18px;
    width: 320px;
    height: 20px;
    background-image: url("../../resource/popup/arw_pop_menu_dw.png");
    background-repeat: no-repeat;
    background-position: center;
}

.listFilteringPopup .listFilteringContent_div .chk_btn_img {
    float: left;
    width: 48px;
    height: 40px;
    margin: 18px 18px 0 24px;
    background-image: url("../../resource/popup/pop_cb_dim_uncheck.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.listFilteringPopup .listFilteringContent_div .chk_btn_img.select {
    background-image: url("../../resource/popup/pop_cb_dim_check.png");
}

.listFilteringPopup .listFilteringContent_div .btn_title {
    float: left;
    margin-top: 24px;
    font-size: 29px;
    color: white;
    font-family: "RixHead L";
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus {
    background: white;
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus .chk_btn_img {
    background-image: url("../../resource/popup/pop_cb_foc_uncheck.png");
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus .chk_btn_img.select {
    background-image: url("../../resource/popup/pop_cb_foc_check.png");
}

.listFilteringPopup .listFilteringContent_div .rdo_btn_img {
    float: left;
    width: 48px;
    height: 40px;
    margin: 18px 18px 0 24px;
    background-image: url("../../resource/popup/rdo_btn_d.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.listFilteringPopup .listFilteringContent_div .rdo_btn_img.select {
    background-image: url("../../resource/popup/rdo_btn_select_d.png");
}

.listFilteringPopup .listFilteringContent_div .btn_title {
    float: left;
    margin-top: 24px;
    font-size: 29px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: -1.45px;
    font-family: "RixHead L";
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus {
    background: rgb(37, 37, 37);
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus .rdo_btn_img {
    background-image: url("../../resource/popup/rdo_btn_f.png");
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus .rdo_btn_img.select {
    background-image: url("../../resource/popup/rdo_btn_select_f.png");
}

.listFilteringPopup .listFilteringContent_div .listFilteringContent_btn_div.focus .btn_title {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    margin-top: 22px;
    font-size: 31px;
    letter-spacing: -1.55px;
}

.listFilteringPopup .listFilteringButton_area {
    position: absolute;
    width: 315px;
    left: 1460px;
    top: 355px;
}

.listFilteringPopup .listFilteringButton_1_area {
    position: absolute;
    width: 315px;
    left: 1308px;
    top: 356px;
}

.listFilteringPopup .listFilteringButton_2_area {
    position: absolute;
    width: 315px;
    left: 967px;
    top: 360px;
}

.listFilteringPopup .listFilteringButton {
    float: left;
    width: 310px;
    height: 61px;
    margin-bottom: 8px;
    background-image: url("../../resource/popup/pop_btn_w315.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.listFilteringPopup .listFilteringButton_title {
    margin-top: 16px;
    width: 315px;
    text-align: center;
    font-size: 30px;
    letter-spacing: -1.5px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "RixHead L";
}

.listFilteringPopup .listFilteringButton.focus {
    background: rgb(210, 51, 47);
}

.listFilteringPopup .listFilteringButton.focus .listFilteringButton_title {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    margin-top: 16px;
}

.listFilteringPopup .listFilteringPopupBG_2 {
    position: absolute;
    background: rgba(42, 42, 42, 0.9);
    left: 567px;
    top: 247px;
    width: 785px;
    height: 515px;
}

