.search_toast {
    position: absolute;
    background-image: url(../../resource/caption_bg.png);
    top: 939px;
    left: 0;
    height: 141px;
    width: 1920px;
}

.search_toast .toastText {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    top: 43px;
}

.search_toast .contextArea {
    position: absolute;
    left: 1666px;
    top: 42px;
    width: 254px;
    height: 51px;
}

.search_toast .contextArea .contextIcon {
    position: absolute;
    left: 0;
    top: 0;
    width: 33px;
    height: 27px;
    background-image: url(../../resource/icon_option_related.png);
    background-size: 33px 27px;
}

.search_toast .contextArea .contextText {
    position: absolute;
    left: 45px;
    top: 2px;
    width: 100px;
    height: 26px;
    font-family: "RixHead L";
    font-size: 26px;
    line-height: 26px;
    color: white;
    text-align: center;
    opacity: .3;
}
