/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016. 4. 19, 오후 5:59:05
    Author     : Taesang
*/

div.myhome {overflow-x: hidden;overflow-y: hidden;margin: 0px; border: 0px; font-family: "RixHead L"; letter-spacing: -0.05em}
div.myhome * {letter-spacing: -0.05em}
div.myhome>* { position: absolute; }
div.myhome ul {-webkit-margin-before:0; -webkit-margin-after:0; -webkit-padding-start: 0;}
div.myhome li { list-style: none; }
div.myhome .hidden {display: none;}
div.myhome .focus { font-family: "RixHead M"; }
div.myhome div, div.myhome p, div.myhome span, div.myhome iframe, div.myhome ul, div.myhome li, div.myhome img {
    overflow: visible;
}

div.myhome #bgCanvasContainer {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
}

div.myhome #background .bgImg {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
    -webkit-filter: blur(20px);
}

/* PIG 영역 */
div.myhome #pig_dim {
    /*left:1365px;*/
    /*top:148px;*/
    /*width: 555px;*/
    /*height: 316px;*/
    /*background-color: rgba(0, 0, 0, 0.298039);*/
    /*position: absolute;*/
}

/* Background 영역 */
div.myhome_background > * {
    position:fixed;
    width: 1920px;
    height: 1080px;
    top:0;
    left:0;
}

div.myhome .background .category {
    background: url(../resource/image/bg_2d_1.png) repeat-y;
    width: 1920px;
    height: 1280px;
}

div.myhome .background .clipping {
    /*-webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px)*/
}

div.myhome_background .clipping {
    /*-webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px)*/
}

div.myhome_background #background_blur {
    position: fixed;
    width: 256px;
    height: 256px;
    -webkit-transform: scale(7.5,4.21875);
    -webkit-transform-origin: 0 0;
}

div.myhome_background #background_blur .bg_wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    /*transition: opacity .5s;*/
    opacity: 0;
    /*transform: translateZ(0);*/
    overflow: hidden;
}

div.myhome_background #background_blur div.bg {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(10px);
}

div.myhome_background #background_blur .dim {
    width: inherit;
    height: inherit;
    background: #191919;
    opacity: .7;
    position: absolute;
}

div.myhome #backgroundTitle {
    top: 52px;
    left: 85px;
    color:rgba(255, 255, 255, 0.12);
    position: fixed;
    font-size: 40px;
    line-height: 42px;
    height: 42px;
    font-family: "RixHead B";
    font-weight: bold;
    letter-spacing: -1.2px;
    vertical-align: top;
    display: inline-block;
}

div.myhome.home_recentlyList #backgroundTitle {
    left: 128px;
}
div.myhome.home_foryou #backgroundTitle {
    left: 128px;
}
div.myhome.home_myPlayList #backgroundTitle {
    left: 128px;
}
div.myhome.home_buyList #backgroundTitle {
    left: 128px;
}
div.myhome.home_mailBox #backgroundTitle {
    left: 128px;
}
div.myhome.home_myProduct #backgroundTitle {
    left: 128px;
}
div.myhome.home_cloud #backgroundTitle {
    left: 128px;
}
/* home_help 가 있는 진 모르겠지만 일단 추가 */
div.myhome.home_help #backgroundTitle {
    left: 128px;
}

div.myhome #backgroundTitle::before {
    content: url(../resource/image/ar_history.png);
    opacity: .5;
    vertical-align: top;
    margin-right: 13px;
    display: inline-block;
}

div.myhome .homeShot_area {
    width: 530px;
    height: 450px;
    right: 0;
    bottom: 164px;
    position: fixed;
    z-index: 1;
}

div.myhome .homeShot_area .shortcut {
    position: absolute;
    right: 78px;
    bottom: 5px;
    content: url(../resource/image/key_play.png);
}

div.myhome .homeShot_area .default_homeShot {
    width: 520px;
    height: 520px;
    position: absolute;
}

div.myhome .homeShot_area .homeShot_bar {
    margin-left: 60px;
    width: 390px;
    height: 2px;
    background: white;
    opacity: 0.15;
    top: 450px;
    position: absolute;
}

div.myhome .background #default_homeshot {
    position: fixed;
    width: 530px;
    height: 450px;
    right: 0;
    bottom: 164px;
}

div.myhome #sdw_mask {
    position: fixed;
    bottom: 0;
    left:0;
    width: 1920px;
    height: 279px;
    background: url(../resource/image/shadow_mask_vod.png);
    z-index: 99;
}

div.myhome #indicatorArea {
    position: absolute;
    left: 1811px;
    top: 123px;
    z-index: 100;
}

div.myhome #contentsArea {
    left:90px;
    /*
        기존에 1,000 이었던 높이가 myMenu_pg 컴포넌트가 고정 된 위치로 변경되면서
        60px 만큼의 height 를 빼주었음
    */
    top:130px;
    width: 1730px;
}

div.myhome #contentsArea.preview {
    left: 504px;
    top: 148px;
    width: 840px;
}

div.myhome #contents {
    opacity: 0.999;
    transition: -webkit-transform .5s;
}

div.myhome .viewArea > * {
    position: absolute;
}

div.myhome .context_menu_indicator {
    position: fixed;
    display: inline-block;
    right: 100px;
    bottom: 50px;
    font-size: 24px;
    color: rgba(255,255,255,.3);
    font-family: "RixHead L";
    height: 27px;
    line-height: 27px;
    vertical-align: top;
    z-index: 100;
}

div.myhome .context_menu_indicator bar {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.23;
    margin: 2px 15px;
}

div.myhome .context_menu_indicator::before {
    content: url(../resource/image/icon_option_related.png);
    width : 27px;
    height: 24px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
}

div.myhome .context_menu_indicator:empty::before {
    content: none;
}

div.myhome .context_menu_indicator2 {
    position: fixed;
    display: inline-block;
    right: 105px;
    bottom: 50px;
    font-size: 26px;
    color: rgba(255,255,255,.3);
    font-family: "RixHead L";
    height: 27px;
    line-height: 27px;
    vertical-align: top;
    z-index: 100;
}

div.myhome .context_menu_indicator2 bar {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.3;
    margin: 2px 15px;
}

div.myhome .context_menu_indicator2::before {
    content: url(../resource/image/icon_option_related.png);
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
}

div.myhome .context_menu_indicator2:empty::before {
    content: none;
}

div.myhome .focus_red {
    display: none;
    position: absolute;
    top:0;
    left:0;
    margin: 0;
    padding:0;
    width: inherit;
    height: inherit;
    border: 6px solid #D2332F;
    box-sizing: border-box;
}

div.myhome .focus > .focus_red {
    display: inherit;
}

div.myhome .black_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    border: 1px solid #000000;
    box-sizing: border-box;
}