div.myhome .main_clock {
    position: fixed;
    right: 73px;
    top: 86px;
    font-size: 24px;
    font-family: "RixHead L";
    overflow: visible;
    color: rgba(255,255,255,.35);
}

div.myhome .main_clock * {
    display: inline-block;
    vertical-align: middle;
}

div.myhome .main_clock .text {
    margin-right: 14px;
}

div.myhome .main_clock img {
    margin-right: 1px;
}

div.myhome .main_clock img.colon {
    margin: 4px;
}