/* 키보드 자판구역 시작 */
div.myhome .OSKArea {
    width: 1136px;
    height: 238px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

div.myhome #IMEBoardArea {
    position: absolute;
    width: 1150px;
    height: 238px;
    color: white;
    overflow: visible;
}

div.myhome #IMEBoardArea #oskBoard_img {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.myhome #IMEBoardArea #defaultBtn_img {
    position: absolute;
    left: -4px;
    top: 172px;
}

div.myhome #IMEBoardArea #firstArea {
    position: absolute;
    top: -78px;
    left: -11px;
}

div.myhome #IMEBoardArea #firstArea .korFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.myhome #IMEBoardArea #oskKorFocus_firstArea .korFocus_img.focus {
    visibility: inherit;
}



div.myhome #IMEBoardArea #oskCapEngFocus_firstArea {
    position: absolute;
    left: 39px;
    top: 71px;
}
div.myhome #IMEBoardArea #oskCapEngFocus_firstArea .capEngFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.myhome #IMEBoardArea #oskCapEngFocus_firstArea .capEngFocus_img.focus {
    visibility: inherit;
}

div.myhome #IMEBoardArea #oskEngFocus_firstArea {
    position: absolute;
    left: 39px;
    top: 71px;
}
div.myhome #IMEBoardArea #oskEngFocus_firstArea .engFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.myhome #IMEBoardArea #oskEngFocus_firstArea .engFocus_img.focus {
    visibility: inherit;
}


div.myhome #IMEBoardArea #oskNumFocus_firstArea {
    position: absolute;
    left: 164px;
    top: 71px;
}

div.myhome #IMEBoardArea #oskNumFocus_firstArea .numFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}

div.myhome #IMEBoardArea #oskNumFocus_firstArea .numFocus_img.focus {
    visibility: inherit;
}



div.myhome #IMEBoardArea #secondArea {
    position: absolute;
    top: 66px;
    left: -11px;
}


div.myhome #IMEBoardArea #secondArea .korFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.myhome #IMEBoardArea #oskKorFocus_secondArea .korFocus_img.focus {
    visibility: inherit;
}



div.myhome #IMEBoardArea #oskCapEngFocus_secondArea {
    position: absolute;
    left: 39px;
    top: 0px;
}
div.myhome #IMEBoardArea #oskCapEngFocus_secondArea .capEngFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.myhome #IMEBoardArea #oskCapEngFocus_secondArea .capEngFocus_img.focus {
    visibility: inherit;
}



div.myhome #IMEBoardArea #oskEngFocus_secondArea {
    position: absolute;
    left: 39px;
    top: 0px;
}
div.myhome #IMEBoardArea #oskEngFocus_secondArea .engFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.myhome #IMEBoardArea #oskEngFocus_secondArea .engFocus_img.focus {
    visibility: inherit;
}



div.myhome #IMEBoardArea #oskNumFocus_secondArea {
    position: absolute;
    left: 164px;
    top: 0px;
}
div.myhome #IMEBoardArea #oskNumFocus_secondArea .numFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.myhome #IMEBoardArea #oskNumFocus_secondArea .numFocus_img.focus {
    visibility: inherit;
}



div.myhome #IMEBoardArea #thirdArea {
    position: absolute;
    top: 176px;
    left: 0px;
}

/* 아래 margin-right 속성은 image 태그 끼리 공백이 생기는 현상 때문에 추가함 */
div.myhome #IMEBoardArea #thirdArea .focusBtn {
    margin-right: -2px;
    visibility: hidden;
}

div.myhome #IMEBoardArea #thirdArea .focusBtn.focus {
    visibility: inherit;
}

div.myhome #IMEBoardArea #searchBtn_f_img {
    margin-right: 12px;
}