div.vod.contents_freePass_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.contents_freePass_popup .title_area {
    position: absolute;
    top: 397px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    color: #DDAF78;
    font-family: "RixHead B";
}

div.vod.contents_freePass_popup .vod_title_text {
    position: absolute;
    top: 473px;
    width: 100%;
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
}

div.vod.contents_freePass_popup .popup_info_text {
    position: absolute;
    top: 539px;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
}

div.vod.contents_freePass_popup .twoBtnArea_280 {
    position: absolute;
    top: 647px;
    left: 673px;
    width: 588px;
    height: 62px;
}

div.vod.contents_freePass_popup .twoBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/pop_btn_w280.png);
}

div.vod.contents_freePass_popup .twoBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: #D2332F;
    opacity: 0;
    /*transition: opacity .1s;*/
}

div.vod.contents_freePass_popup .twoBtnArea_280 .btn.focus .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: #D2332F;
    opacity: 1;
}

div.vod.contents_freePass_popup .twoBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

div.vod.contents_freePass_popup .twoBtnArea_280 .btn.focus .btnText {
    color: white;
}