div.vod.continue_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.continue_popup .continueInfoArea {
    overflow: visible;
}

div.vod.continue_popup.hasOtmLinkTime .continueInfoArea {
    -webkit-transform: translateY(-39px);
}

div.vod.continue_popup .title_area {
    position: absolute;
    top: 325px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.vod.continue_popup .description_area {
    position: absolute;
    top: 396px;
    width: 100%;
    text-align: center;
    font-size: 52px;
    line-height: 52px;
    color: white;
    font-family: "RixHead M";
}

div.vod.continue_popup .name_area {
    position: absolute;
    top: 480px;
    width: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    color: white;
    font-family: "RixHead L";
}

div.vod.continue_popup .playtime_area {
    position: absolute;
    top: 539px;
    width: 987px;
    text-align: right;
    font-size: 27px;
    line-height: 27px;
    color: white;
    opacity: .5;
    font-family: "RixHead L";
}

div.vod.continue_popup .currentTime_area {
    position: absolute;
    top: 610px;
    left: 702px;
    text-align: left;
    font-size: 29px;
    line-height: 29px;
    color: white;
    font-family: "RixHead L";
}

div.vod.continue_popup .totalTime_area {
    position: absolute;
    top: 610px;
    right: 718px;
    text-align: right;
    font-size: 29px;
    line-height: 29px;
    color: white;
    opacity: .3;
    font-family: "RixHead L";
}

div.vod.continue_popup .age_icon {
    position: absolute;
    top: 533px;
    left: 1006px;
    width: 37px;
    height: 37px;
}

div.vod.continue_popup .resol_icon {
    position: absolute;
    top: 536px;
    left: 1051px;
}

div.vod.continue_popup .progress_background {
    position: absolute;
    top: 592px;
    left: 705px;
    width: 495px;
    height: 4px;
    opacity: .3;
    background-color: #FFFFFF;
}

div.vod.continue_popup .progress_bar {
    position: absolute;
    top: 592px;
    left: 704px;
    height: 4px;
    background-color: #FFFFFF;
}

div.vod.continue_popup .button_area {
    position: absolute;
    top: 695px;
    width: 100%;
    height: 62px;
    text-align: center;
}

div.vod.continue_popup.hasOtmLinkTime .button_area {
    top: 656px;
}

div.vod.continue_popup.hasOtmLinkTime.onlyOtm .button_area {
    top: 732px;
}

div.vod.continue_popup .button {
    -webkit-transform: translateZ(0);
    display: inline-block;
    width: 276px;
    height: 58px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.continue_popup .button.focus {
    background-color: #D2332F;
    border: 2px solid #D2332F;
}

div.vod.continue_popup .button .buttonText {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead L";
}

div.vod.continue_popup .button.focus .buttonText {
    color: white;
    font-family: "RixHead M";
}

div.vod.continue_popup .OTM_Button {
    -webkit-transform: translateZ(0);
    position: absolute;
    top: 732px;
    left: 527px;
    width: 863px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
    display: none;
}

div.vod.continue_popup.hasOtmLinkTime .OTM_Button {
    display:inherit;
}

div.vod.continue_popup.hasOtmLinkTime.onlyOtm .OTM_Button {
    left: 673px;
    top: 656px;
    width: 570px;
}

div.vod.continue_popup .OTM_Button.focus {
    background-color: #D2332F;
    border-color: #D2332F;
}

div.vod.continue_popup .OTM_Button .OTM_buttonText {
    position: absolute;
    top: 17px;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead L";
}

div.vod.continue_popup .OTM_Button.focus .OTM_buttonText {
    color: white;
    font-family: "RixHead M";
}


