div.vod.end_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.end_popup .title_area {
    position: absolute;
    top: 141px;
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: white;
    font-family: "RixHead M";
}

div.vod.end_popup.noData .title_area {
    top: 331px;
}

div.vod.end_popup.continue .title_area {
    top: 276px;
}

div.vod.end_popup.noData.continue .title_area {
    top: 411px;
}

div.vod.end_popup .description_area {
    position: absolute;
    top: 201px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: white;
    opacity: .5;
    font-family: "RixHead L";
}

div.vod.end_popup.noData .description_area {
    top: 391px;
}

div.vod.end_popup.continue .description_area {
    top: 545px;
}

div.vod.end_popup.noData.continue .description_area {
    top: 680px;
}

div.vod.end_popup .name_area {
    position: absolute;
    top: 265px;
    width: 100%;
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    color: white;
    font-family: "RixHead M";
}

div.vod.end_popup.noData .name_area {
    top: 455px;
}

div.vod.end_popup.continue .name_area {
    top: 346px;
}

div.vod.end_popup.noData.continue .name_area {
    top: 481px;
}

div.vod.end_popup .button_area {
    position: absolute;
    top: 497px;
    width: 100%;
    height: 62px;
    opacity: 0.99;
    /*transition: opacity 0.5s;*/
}

div.vod.end_popup.noData .button_area {
    top: 687px;
}

div.vod.end_popup.continue .button_area {
    top: 419px;
}

div.vod.end_popup.noData.continue .button_area {
    top: 554px;
}

div.vod.end_popup .button {
    margin: 0 6px;
    float: left;
    width: 324px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
    box-sizing: border-box;
}

div.vod.end_popup .button.focus {
    background-color: #D2332F;
    border: 5px solid #D2332F;
}

div.vod.end_popup .button .buttonText {
    position: absolute;
    top: 16px;
    width: 324px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead M";
}

div.vod.end_popup .button.focus .buttonText {
    color: white;
    margin-left: -2px;
}

div.vod.end_popup .rating_area {
    position: absolute;
    top: 315px;
    width: 100%;
    height: 72px;
}

div.vod.end_popup.continue .rating_area {
    display: none;
}

div.vod.end_popup.noData .rating_area {
    top: 505px;
}

div.vod.end_popup .rating_area .rating_box {
    position: absolute;
    left: 796px;
    width: 324px;
    height: 68px;
    background-color: #2f2f2f;
    border: 2px solid rgb(77, 77, 77);
    opacity: .8;
}

div.vod.end_popup .rating_area.focus .rating_box {
    opacity: .99;
    box-sizing: border-box;
    width: 328px;
    height: 72px;
    border: 5px solid #D2332F;
}

div.vod.end_popup .rating_area .star_area {
    position: absolute;
    top: 18px;
    left: 846px;
    width: 240px;
    height: 34px;
    opacity: 0.99;
}

div.vod.end_popup .rating_area .arrow {
    position: absolute;
    width: 14px;
    height: 20px;
    top: 26px;
    opacity: 0;
}

div.vod.end_popup .rating_area .arrow.left {
    position: absolute;
    left: 768px;
    background-image: url(../../resource/vod_end_ar_l.png);
}

div.vod.end_popup .rating_area .arrow.right {
    position: absolute;
    left: 1138px;
    background-image: url(../../resource/vod_end_ar_r.png);
}

div.vod.end_popup .rating_area.focus .arrow {
    opacity: 0.99;
}

div.vod.end_popup .rating_text_area {
    position: absolute;
    top: 409px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead L";
}

div.vod.end_popup.continue .rating_text_area {
    display: none;
}

div.vod.end_popup.noData .rating_text_area {
    top: 597px;
}

div.vod.end_popup .rating_text_area.focus {
    position: absolute;
    color: rgb(221, 175, 120);
    text-align: center;
    font-size: 33px;
    line-height: 33px;
}

div.vod.end_popup .bottom_dim_area {
    position: absolute;
    left: 0;
    top: 888px;
    width: 100%;
    height: 192px;
    background-size: 1920px 192px;
    display: inherit;
    background-image: url(../../resource/dim_vodend_poster_btm.png);
}

div.vod.end_popup.noData .bottom_dim_area {
    display: none;
}

div.vod.end_popup .bottom_dim_area.focus {
    display: none;
}

div.vod.end_popup .recommend_area {
    position: absolute;
    top: 657px;
    height: 544px;
    width: 100%;
    overflow: visible;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform 0.5s;
    display: inherit;
}

div.vod.end_popup.noData .recommend_area {
    display: none;
}

div.vod.end_popup .recommend_area.focus {
    -webkit-transform: translateY(-119px) translateZ(0);
}

div.vod.end_popup .recommend_area .dim_bg {
    position: absolute;
    left: 0;
    top: -369px;
    width: 100%;
    height: 907px;
    display: none;
    background-size: 1920px 907px;
    background-image: url(../../resource/dim_vodend_poster_bg.png);
    /*transition: opacity 0.5s;*/
}

div.vod.end_popup .recommend_area.focus .dim_bg {
    display: inherit;
}

div.vod.end_popup .recommend_area .text_area {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    opacity: .6;
    font-family: "RixHead M";
    /*transition: opacity 0.5s;*/
}

div.vod.end_popup .recommend_area.focus .text_area {
    opacity: .99;
}

div.vod.end_popup .recommend_area .line_area {
    position: absolute;
    top: 14px;
    width: 845px;
    height: 2px;
    background-color: white;
    opacity: .2;
}

div.vod.end_popup .recommend_area .line_area.left {
    position: absolute;
    left: 0;
}

div.vod.end_popup .recommend_area .line_area.right {
    position: absolute;
    left: 1075px;
}

/*
포스터 영역
 */
div.vod.end_popup .recommend_area .recommendArea {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 53px;
    width: 1920px;
    height: 491px;
    /*transition: -webkit-transform .5s;*/
}

div.vod.end_popup .recommend_area .recommendArea .recommendPage {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 1920px;
    height: 491px;
    -webkit-transform: translateZ(0);
}

div.vod.end_popup .recommend_area .recommendArea .recommendPage .recommendRightDim {
    position: absolute;
    left: 1805px;
    top: 26px;
    width: 115px;
    height: 300px;
    content: url(../../resource/detail/dim_related_right_h300.png);
    -webkit-transform: translateZ(0);
    display: inherit;
}

div.vod.end_popup .recommend_area .recommendArea .recommendPage .recommendRightDim.hide {
    display: none;
}

div.vod.end_popup .recommend_area .recommendArea .recommendPage .recommendLeftDim {
    position: absolute;
    left: 0;
    top: 26px;
    width: 115px;
    height: 300px;
    content: url(../../resource/detail/dim_related_left_h300.png);
    -webkit-transform: translateZ(0);
    display: inherit;
}

div.vod.end_popup .recommend_area .recommendArea .recommendPage .recommendLeftDim.hide {
    display: none;
}

div.vod.end_popup .recommend_area .content.poster_vertical * {
    overflow: visible;
}

div.vod.end_popup .recommend_area .posterList {
    position: absolute;
    left: -136px;
    top: 0;
    height: 491px;
    width: 3888px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s;
}

div.vod.end_popup .recommend_area .posterList.moved {
    -webkit-transform: translateX(-1722px) translateZ(0);
}

div.vod.end_popup .recommend_area .content.poster_vertical {
    margin-top: 19px;
    margin-right: 22px;
    width: 224px;
    height: 314px;
    display: inline-block;
}

div.vod.end_popup .recommend_area .content.poster_vertical .content {
    width: 210px;
    height: 300px;
    border: 6px solid;
    padding: 1px;
    border-color: transparent;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
    display: inherit;
}

div.vod.end_popup .recommend_area .content.poster_vertical.hide .content {
    display: none;
}

div.vod.end_popup .recommend_area .content.poster_vertical .posterImg {
    position: absolute;
    width: 210px;
    height: 300px;
    -webkit-transform: translateZ(0);
}

div.vod.end_popup .recommend_area .content.poster_vertical .posterLockImg {
    position: absolute;
    width: 210px;
    height: 300px;
    display: none;
    -webkit-transform: translateZ(0);
    content: url(../../resource/detail/img_vod_locked_big.png);
}

div.vod.end_popup .recommend_area .content.poster_vertical .posterIconArea {
    position: absolute;
    right: 0;
    width: 73px;
    height: 85px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod.end_popup .recommend_area .content.poster_vertical .newHotIconArea {
    position: absolute;
    left: 0;
    margin-left: -5px;
    margin-top: -3px;
    width: 106px;
    height: 106px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod.end_popup .recommend_area .content.poster_vertical .posterIconArea img {
    margin-bottom: -7px;
    margin-left: 4px;
    margin-top: -3px;
    display: block;
}

div.vod.end_popup .recommend_area .content.poster_vertical .contentsData {
    position: absolute;
    margin-top: 320px;
    width: 210px;
    opacity: 0;
}

div.vod.end_popup .recommend_area.focus .content.poster_vertical .contentsData {
    opacity: .99;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical .posterTitle {
    color: white;
    font-size: 30px;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    margin: -2px 0;
    font-family: "RixHead L";
    opacity: .7;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical .posterDetail {
    display: block;
    margin-top: 16px;
    height: 50px;
    white-space: nowrap;
    opacity: 0.99;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .posterDetail {
    -webkit-transform: scale(0.9) translateX(-8px);
}

div.vod.end_popup .recommend_area .content.poster_vertical .posterDetail * {
    vertical-align: top;
}

div.vod.end_popup .recommend_area .content.poster_vertical .stars {
    display: none;
    margin-right: 5px;
}

div.vod.end_popup .recommend_area .content.poster_vertical .stars img {
    margin-top: 1px;
    margin-right: 4px;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
    opacity: .5;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .isfree {
    margin-left: 9px;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical .isfreeIcon {
    width: 32px;
    height: 32px;
    margin-top: -5px;
    margin-right: 7px;
    content: url(../../resource/detail/icon_buy.png);
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .isfreeIcon {
    margin-left: 9px;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical .age {
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

/*
 * 포커스
 */

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .content {
    border-color: #D2332F;
    -webkit-transform: scale(1.1);
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .posterDetail {
    margin-top: 11px;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .stars {
    display: inline;
    margin-right: 0;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .posterTitle {
    opacity: 1;
    font-family: "RixHead M";
    text-overflow: inherit;
}

div.vod.end_popup .recommend_area .posterList .content.poster_vertical.focus .posterTitle span {
    display: inline-block;
}
