div.vod.hdr_no_support_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.hdr_no_support_popup .title {
    position: absolute;
    top: 367px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.vod.hdr_no_support_popup .description {
    position: absolute;
    top: 457px;
    width: 100%;
    text-align: center;
    font-size: 42px;
    line-height: 52px;
    color: white;
    font-family: "RixHead M";
}

div.vod.hdr_no_support_popup .buttonArea {
    position: relative;
    display: block;
    top: 630px;
    width: 100%;
    height: 63px;
    white-space: nowrap;
    text-align: center;
}

div.vod.hdr_no_support_popup .buttonArea .button {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    top: 0;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.hdr_no_support_popup .buttonArea .button.focus {
    background-color: #D2332F;
    border : 5px solid #D2332F;
}

div.vod.hdr_no_support_popup .buttonArea .button .text {
    position: absolute;
    top: 15px;
    left: 0;
    width: 280px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.vod.hdr_no_support_popup .buttonArea .button.focus .text {
    color: white;
    font-family: "RixHead M";
}