div.vod.hdr_resolution_set_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.hdr_resolution_set_popup .title {
    position: absolute;
    top: 295px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.vod.hdr_resolution_set_popup .description {
    position: absolute;
    top: 383px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    color: white;
    font-family: "RixHead M";
    letter-spacing: -0.05em;
}

div.vod.hdr_resolution_set_popup .description2 {
    position: absolute;
    top: 510px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 43px;
    color: white;
    font-family: "RixHead L";
    letter-spacing: -0.05em;
}

div.vod.hdr_resolution_set_popup .description3 {
    position: absolute;
    top: 636px;
    width: 100%;
    text-align: center;
    font-size: 27px;
    line-height: 27px;
    color: rgba(255,255,255,.5);
    font-family: "RixHead L";
    letter-spacing: -0.05em;
}

div.vod.hdr_resolution_set_popup .buttonArea {
    position: relative;
    display: block;
    left: 673px;
    top: 723px;
    width: 588px;
    height: 62px;
    white-space: nowrap;
}

div.vod.hdr_resolution_set_popup .buttonArea .button {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    top: 0;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.hdr_resolution_set_popup .buttonArea .button.focus {
    background-color: #D2332F;
    border : 5px solid #D2332F;
}

div.vod.hdr_resolution_set_popup .buttonArea .button .text {
    position: absolute;
    top: 17px;
    width: 280px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.vod.hdr_resolution_set_popup .buttonArea .button.focus .text {
    color: white;
    font-family: "RixHead M";
}