div.vod.month_flatRate_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.month_flatRate_popup .title_area {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
    margin-top: 326px;
}

div.vod.month_flatRate_popup .contents_title {
    display: block;
    margin-top: 12px;
}

div.vod.month_flatRate_popup .description_area {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 33px;
    color: white;
    font-family: "RixHead L";

}

div.vod.month_flatRate_popup .item_area {
    width: 1080px;
    height: 228px;
    text-align: center;
    margin-right: auto;
    margin-left: 693px;
    margin-top: 45px;
}

div.vod.month_flatRate_popup .item_area .item {
    display: inline-block;
    width: 251px;
    height: 224px;
    background: #2F2F2F;
    border: 2px solid #4D4D4D;
    margin-left: 6px;
    margin-right: 6px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    float: left;
}

div.vod.month_flatRate_popup .item_area .item .productName {
    font-size: 39px;
    display: block;
    height: 31px;
    width: 200px;
    line-height: 45px;
    text-align: center;
    margin-left: 25px;
    margin-top: 40px;
}

div.vod.month_flatRate_popup .item_area .item.focus .productName {
    margin-top: 37px;
    margin-left:25px;
    width: 194px;
}

div.vod.month_flatRate_popup .item_area .item .period {
    display: block;
    text-align: left;
    height: 23px;
    line-height: 23px;
    margin-top: 19px;
    margin-left: 36px;
    font-size: 24px;
}

div.vod.month_flatRate_popup .item_area .item .period::before {
    content: "기간 : ";
    opacity: .5;
}

div.vod.month_flatRate_popup .item_area .item .priceLabel {
    background: #494949;
    color: rgba(255,255,255,.5);
    font-size: 27px;
    width: 225px;
    height: 51px;
    line-height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
}


div.vod.month_flatRate_popup .item_area .item.focus {
    background: rgb(37,37,37);
    border : 5px solid #D2332F;
    width: 245px;
    height: 218px;
    font-family: "RixHead M";
    color: white;
}

div.vod.month_flatRate_popup .item_area .item.focus .period::before {
    opacity: 1;
}

div.vod.month_flatRate_popup .item_area .item.focus .priceLabel {
    background: #D2332F;
    color: white;
}

/* VOD 기간정액 */
div.vod.month_flatRate_popup .item_area .item .productName2 {
    font-size: 39px;
    display: block;
    height: 91px;
    width: 200px;
    line-height: 45px;
    text-align: center;
    margin-left: 25px;
    margin-top: 40px;
    overflow: hidden;
}

div.vod.month_flatRate_popup .item_area .item.focus .productName2 {
    margin-top: 37px;
    margin-left:25px;
    width: 194px;
}

div.vod.month_flatRate_popup .item_area .item .priceLabel2 {
    background: #494949;
    color: rgba(255,255,255,.5);
    font-size: 27px;
    width: 225px;
    height: 51px;
    line-height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

div.vod.month_flatRate_popup .item_area .item.focus .priceLabel2 {
    background: #D2332F;
    color: white;
}

/**********************
      Button Area
**********************/
div.vod.month_flatRate_popup .btn_area {
    width: 1920px;
    height: 63px;
    text-align: center;
    margin-top: 36px;
}

div.vod.month_flatRate_popup .btn_area .btn {
    display: inline-block;
    background: rgba(1,1,1,.5);
    width: 276px;
    height: 58px;
    line-height: 58px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    border: 2px solid rgba(190,190,190,.5);
}

div.vod.month_flatRate_popup .btn_area .btn.focus {
    color: white;
    background: #D2332F;
    border : 5px solid #D2332F;
    font-family: "RixHead M";
    line-height: 53px;
}
