div.vod.mv_playList {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.mv_playList .popupTitle {
    position: absolute;
    top: 309px;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

div.vod.mv_playList .mvTitle {
    position: absolute;
    top: 361px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 48px;
    line-height: 48px;
    width: 100%;
}

div.vod.mv_playList .playList_area {
    position: absolute;
    top: 430px;
    left: 360px;
    width: 1200px;
    height: 236px;
    border-top: 6px solid rgba(69, 69, 69, .8);
    border-bottom: 6px solid rgba(69, 69, 69, .8);
}

div.vod.mv_playList .playList_area.focus {
    border-color: white;
}

div.vod.mv_playList .playList_area .guideText {
    position: absolute;
    top: 25px;
    left: 0;
    color: white;
    text-align: left;
    font-family: "RixHead M";
    font-size: 27px;
    line-height: 27px;
    width: 100%;
}

div.vod.mv_playList .playList_area .pageText {
    position: absolute;
    top: 202px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 24px;
    line-height: 24px;
    width: 100%;
    opacity: .5;
}

div.vod.mv_playList .arrow {
    position: absolute;
    top: 532px;
    width: 32px;
    height: 56px;
}

div.vod.mv_playList .arrow.left {
    left: 309px;
    content: url(../../resource/arw_view_l.png);
}

div.vod.mv_playList .arrow.right {
    left: 1579px;
    content: url(../../resource/arw_view_r.png);
}

div.vod.mv_playList .playList {
    position: absolute;
    top: 73px;
    left: 0;
    height: 113px;
    width: 1212px;
}

div.vod.mv_playList .playList .listBox {
    height: 113px;
    width: 392px;
    background-color: rgba(58, 58, 58, .9);
    display: inline-block;
    margin-right: 12px;
}

div.vod.mv_playList .playList .listBox.focus {
    border-top: 5px solid #D2332F;
    background-color: #D2332F;
}

div.vod.mv_playList .playList .listBox .listName {
    position: absolute;
    top: 24px;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    font-family: "RixHead M";
    font-size: 36px;
    line-height: 36px;
    width: 392px;
}

div.vod.mv_playList .playList .listBox.noItem .listName {
    top: 41px;
}

div.vod.mv_playList .playList .listBox.focus .listName {
    color: rgb(73, 68, 60);
}

div.vod.mv_playList .playList .listBox .listItemCount {
    position: absolute;
    top: 69px;
    color: white;
    opacity: .3;
    text-align: center;
    font-family: "RixHead M";
    font-size: 27px;
    line-height: 27px;
    width: 392px;
}

div.vod.mv_playList .playList .listBox.noItem .listItemCount {
    display: none;
}

div.vod.mv_playList .playList .listBox.focus .listItemCount {
    color: rgb(73, 68, 60);
    opacity: .7;
}

/*
************ 버튼 CSS
 */
div.vod.mv_playList .button_area {
    position: absolute;
    top: 708px;
    left: 820px;
    height: 62px;
    -webkit-transform: translateZ(0);
}

div.vod.mv_playList .button {
    margin: 0 7px;
    float: left;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.mv_playList .button.focus {
    background-color: #D2332F;
    border: 5px solid #D2332F;
}

div.vod.mv_playList .button .buttonText {
    position: absolute;
    top: 16px;
    width: 276px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.vod.mv_playList .button.focus .buttonText {
    color: white;
    font-family: "RixHead M";
}