div.vod.pick_resolution_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.pick_resolution_popup .title_area {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
    margin-top: 252px;
}

div.vod.pick_resolution_popup .contents_title {
    display: block;
    margin-top: 45px;
    width: 100%;
    font-size: 48px;
    text-align: center;
    color: white;
}

div.vod.pick_resolution_popup .description_area {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 41px;
    color: white;
    font-family: "RixHead L";
    margin-top: 22px;
}

div.vod.pick_resolution_popup .item_area {
    width: 1080px;
    height: 228px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
}

div.vod.pick_resolution_popup .item_area .item {
    display: inline-block;
    width: 251px;
    height: 224px;
    background: #2F2F2F;
    border: 2px solid #4D4D4D;
    margin-left: 6px;
    margin-right: 6px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    vertical-align: top;
}

div.vod.pick_resolution_popup .item_area .item .resolution {
    font-size: 39px;
    display: block;
    height: 31px;
    line-height: 31px;
    margin-top: 40px;
    width: inherit;
    text-align: center;
}

div.vod.pick_resolution_popup .item_area .item.focus .resolution {
    margin-top: 38px;
}

div.vod.pick_resolution_popup .item_area .item .priceInfo {
    margin-top: 25px;
    display: inline-block;
}

div.vod.pick_resolution_popup .item_area .item .price {
    font-size: 34px;
    font-family: "RixHead B";
    width: initial;
    text-align: left;
}

div.vod.pick_resolution_popup .item_area .item .prefix {
    font-size: 24px;
    font-family: "RixHead L";
    float: left;
    margin-right: 7px;
    margin-top: 8px;
}

div.vod.pick_resolution_popup .item_area .item .period {
    display: block;
    text-align: left;
    height: 23px;
    line-height: 23px;
    margin-top: 19px;
    margin-left: 36px;
    font-size: 24px;
}

div.vod.pick_resolution_popup .item_area .item .period::before {
    content: "기간 : ";
    opacity: .5;
}

div.vod.pick_resolution_popup .item_area .item .period:empty::before {
    content: none;
}

div.vod.pick_resolution_popup .item_area .item .label {
    background: #494949;
    color: rgba(255,255,255,.5);
    font-size: 27px;
    width: 225px;
    height: 51px;
    line-height: 51px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}


div.vod.pick_resolution_popup .item_area .item.focus {
    border: 5px solid #D2332F;
    font-family: "RixHead M";
    color: white;
    width: 245px;
    height: 218px;
}

div.vod.pick_resolution_popup .item_area .item.focus .period::before {
    opacity: 1;
}

div.vod.pick_resolution_popup .item_area .item.focus .label {
    background: #D2332F;
    color: white;
}

div.vod.pick_resolution_popup .left_arrow {
    width: 32px;
    height: 56px;
    background: url(../../resource/arw_view_l.png);
    position: absolute;
    top: 588px;
    left: 360px;
}

div.vod.pick_resolution_popup .right_arrow {
    width: 32px;
    height: 56px;
    background: url(../../resource/arw_view_r.png);
    position: absolute;
    top: 588px;
    left: 1527px;
}
/**********************
      Button Area
**********************/
div.vod.pick_resolution_popup .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
    margin-top: 36px;
}

div.vod.pick_resolution_popup .btn_area .btn {
    display: inline-block;
    background: rgba(1,1,1,.5);
    width: 276px;
    height: 58px;
    line-height: 58px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    border: 2px solid rgba(190,190,190,.5);
}

div.vod.pick_resolution_popup .btn_area .btn.focus {
    background: #D2332F;
    border: 5px solid #D2332F;
    color: white;
    line-height: 52px;
    font-family: "RixHead M";
}
