div.vod.playList_fail {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.playList_fail .title {
    position: absolute;
    top: 372px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.vod.playList_fail .seriesName {
    position: absolute;
    top: 446px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 45px;
    color: white;
    font-family: "RixHead M";
}

div.vod.playList_fail .description {
    position: absolute;
    top: 516px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: white;
    font-family: "RixHead L";
}

div.vod.playList_fail .button {
    position: absolute;
    top: 647px;
    left: 820px;
    width: 280px;
    height: 52px;
    background-color: #D2332F;
}

div.vod.playList_fail .button .text {
    position: absolute;
    top: 12px;
    width: 280px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: white;;
    font-family: "RixHead M";
}