div.vod.point_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.point_popup .ollehArea {
    position: absolute;
    left: 670px;
    top: 240px;
    width: 581px;
    height: 230px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    opacity: 0;
}

div.vod.point_popup .ollehArea.show {
    opacity: 0.99;
}

div.vod.point_popup .ollehArea .title {
    position: absolute;
    top: 8px;
    width: 580px;
    height: 33px;
    font-size: 33px;
    text-align: center;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.vod.point_popup .ollehArea .ratingText {
    position: absolute;
    top: 162px;
    width: 580px;
    height: 36px;
    font-size: 36px;
    text-align: center;
    color: white;
    font-family: "RixHead L";
}

div.vod.point_popup .ollehArea .ratingCount {
    position: absolute;
    top: 48px;
    width: 580px;
    height: 27px;
    font-size: 27px;
    text-align: center;
    color: white;
    opacity: .3;
    font-family: "RixHead L";
}

div.vod.point_popup .ollehArea .crown {
    position: absolute;
    top: 0;
    width: 45px;
    height: 77px;
}

div.vod.point_popup .ollehArea.kids .crown.left {
    background-image: url(../../resource/kids/olleh_star_crown_kids_l.png);
    left: 121px;
}

div.vod.point_popup .ollehArea.kids .crown.right {
    background-image: url(../../resource/kids/olleh_star_crown_kids_r.png);
    left: 411px;
}

div.vod.point_popup .ollehArea .crown.left {
    background-image: url(../../resource/detail/olleh_star_crown_l.png);
    left: 121px;
}

div.vod.point_popup .ollehArea .crown.right {
    background-image: url(../../resource/detail/olleh_star_crown_r.png);
    left: 411px;
}

div.vod.point_popup .ollehArea .starArea {
    position: absolute;
    left: 204px;
    top: 113px;
    width: 180px;
    height: 28px;
}

div.vod.point_popup .userArea {
    position: absolute;
    top: 507px;
    width: 1920px;
    height: 372px;
}

div.vod.point_popup .userArea .textArea {
    display: block;
    width: 1920px;
}

div.vod.point_popup .userArea .textArea .center45M {
    position: absolute;
    top: 0;
    width: 1920px;
    height: 45px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: "RixHead M";
}

div.vod.point_popup .userArea .textArea .center33L {
    position: absolute;
    top: 56px;
    width: 1920px;
    height: 33px;
    font-size: 33px;
    text-align: center;
    color: white;
    font-family: "RixHead M";
}

div.vod.point_popup .userArea .pointArea {
    position: relative;
    display: block;
    width: 1920px;
    height: 127px;
}

div.vod.point_popup .userArea .pointArea .starArea {
    position: absolute;
    top: 0;
    left: 768px;
    width: 384px;
    height: 72px;
}

div.vod.point_popup .userArea .pointArea .starArea .arrow {
    position: absolute;
    top: 26px;
    width: 14px;
    height: 20px;
    opacity: 0;
}

div.vod.point_popup .userArea .pointArea .starArea.focus .arrow {
    opacity: .99;
}

div.vod.point_popup .userArea .pointArea .starArea .arrow.left {
    left: 0;
    background-image: url(../../resource/detail/vod_end_ar_l.png);
}

div.vod.point_popup .userArea .pointArea .starArea .arrow.right {
    left: 370px;
    background-image: url(../../resource/detail/vod_end_ar_r.png);
}

div.vod.point_popup .userArea .pointArea .starArea .starBox {
    position: absolute;
    top: 0;
    left: 28px;
    width: 324px;
    height: 68px;
    background-color: #2F2F2F;
    border: solid 2px rgb(77, 77, 77);
}

div.vod.point_popup .userArea .pointArea .starArea.focus .starBox {
    opacity: .99;
    box-sizing: border-box;
    width: 328px;
    height: 72px;
    border: 5px solid #D2332F;
}

div.vod.point_popup .userArea .pointArea .starArea .starBox .starDiv {
    position: absolute;
    top: 16px;
    left: 48px;
    width: 240px;
    height: 34px;
}

div.vod.point_popup .userArea .pointArea .starArea.focus .starBox .starDiv {
    top: 13px;
    left: 45px;
}

div.vod.point_popup .userArea .pointArea .starText {
    position: absolute;
    top: 94px;
    width: 1920px;
    height: 33px;
    font-size: 33px;
    text-align: center;
    color: rgb(221, 175, 120);
    font-family: "RixHead L";
}

div.vod.point_popup .userArea .buttonArea {
    position: relative;
    display: block;
    left: 673px;
    top: 58px;
    width: 588px;
    height: 62px;
    white-space: nowrap;
}

div.vod.point_popup .userArea .buttonArea .button {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    top: 0;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.point_popup .userArea .buttonArea .button.focus {
    border: 0;
    background-color: #D2332F;
    width: 280px;
    height: 62px;
}

div.vod.point_popup .userArea .buttonArea .button .text {
    position: absolute;
    top: 16px;
    width: 276px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.vod.point_popup .userArea .buttonArea .button.focus .text {
    top: 18px;
    color: white;
    font-family: "RixHead M";
    width: 280px;
}