div.vod.push_noti_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.push_noti_popup .title_area {
    position: absolute;
    width: 100%;
    top: 332px;
    font-size: 33px;
    color: rgb(211, 175, 120);
    text-align: center;
    font-family: "RixHead B";
}

div.vod.push_noti_popup .contentsTitle_area {
    position: absolute;
    width: 100%;
    top: 407px;
    font-size: 52px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
}

div.vod.push_noti_popup .popupInfo_area {
    position: absolute;
    width: 100%;
    top: 578px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: "RixHead L";
}

div.vod.push_noti_popup .twoBtnArea_280 {
    position: absolute;
    top: 686px;
    left: 673px;
    width: 588px;
    height: 62px;
}

div.vod.push_noti_popup .twoBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/pop_btn_w280.png);
}

div.vod.push_noti_popup .twoBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
    /*transition: opacity .1s;*/
}

div.vod.push_noti_popup .twoBtnArea_280 .btn.focus .whiteBox {
    float: left;
    margin-right: 14px;
    background-color: #D2332F;
    border: 5px solid #D2332F;
    opacity: 1;
}

div.vod.push_noti_popup .twoBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

div.vod.push_noti_popup .twoBtnArea_280 .btn.focus .btnText {
    color: white;
}


/**************************
     화질, 가격
 **************************/
div.vod.push_noti_popup .opt_area{
    left: 0px;
    top: 481px;
    height: 38px;
    width: 1920px;
    line-height: 38px;
    color: rgba(255, 255, 255, .4);
    font-family: "RixHead L";
    font-size: 30px;
    text-align: center;
    letter-spacing: -1.5px;
    position: absolute;
}

div.vod.push_noti_popup .opt_name{
    position: relative;
}

div.vod.push_noti_popup .opt_name white{
    color: rgba(255, 255, 255, 1);
}

div.vod.push_noti_popup .opt_name smallbar{
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    width: 2px;
    height: 25px;
    position: relative;
    top: 3px;
    margin: 0px 10px;
}

div.vod.push_noti_popup .opt_name bar{
    background: rgba(255, 255, 255, .3);
    display: inline-block;
    width: 2px;
    height: 30px;
    position: relative;
    top: 6px;
    margin: 0px 24px;
}