.vod.select_package_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

.vod.select_package_popup .title_area {
    position: absolute;
    top: 173px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

.vod.select_package_popup .description_area {
    position: absolute;
    top: 237px;
    width: 100%;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    color: white;
    font-family: "RixHead M";
}

.vod.select_package_popup .left_arrow {
    position: absolute;
    top: 458px;
    left: 272px;
    width: 32px;
    height: 56px;
    background-image: url(../../resource/arw_view_l.png);
}

.vod.select_package_popup .right_arrow {
    position: absolute;
    top: 458px;
    left: 1616px;
    width: 32px;
    height: 56px;
    background-image: url(../../resource/arw_view_r.png);
}

.vod.select_package_popup .item_area {
    position: absolute;
    overflow: visible;
    left: 363px;
    top: 336px;
    width: 1230px;
    text-align: center;
}

.vod.select_package_popup .item_area .item {
    overflow: visible;
    display: inline-block;
    margin-right: 36px;
    width: 210px;
    height: 300px;
    -webkit-transform: translateZ(0);
}

.vod.select_package_popup .item_area .item.focus img {
    border-color: #D1433F;
    -webkit-transform: translateZ(0) scale(1.1);
}

.vod.select_package_popup .item_area .item.focus::after {
    content: url(../../resource/icon_play_f.png);
    position: absolute;
    left: 69px;
    top: 115px;
}

.vod.select_package_popup .item_area .item img {
    width: 210px;
    height: 300px;
    border-top: 5.45px solid;
    border-bottom: 5.45px solid;
    border-color: transparent;
    padding-top: 3.64px;
    padding-bottom: 3.64px;
}

.vod.select_package_popup .content_title_area {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 48px;
    font-family: "RixHead M";
    top: 711px;
    text-align: center;
}

.vod.select_package_popup .content_title_area::before {
    content: "'";
}

.vod.select_package_popup .content_title_area::after {
    content: "'";
}

/**********************
      Button Area
**********************/
div.vod.select_package_popup .btn_area {
    position: absolute;
    width: 1920px;
    top: 816px;
    height: 62px;
    text-align: center;
}

div.vod.select_package_popup .btn_area .btn {
    display: inline-block;
    background: url(../../resource/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.vod.select_package_popup .btn_area .btn.focus {
    background: white;
    color: #49443C;
    font-family: "RixHead M";
    box-sizing: border-box;
    border-top: 5px solid #D1433F;
    border-bottom: 5px solid #D1433F;
    line-height: 52px;
}


/******************************
      Detail Select Popup
******************************/
.vod.select_package_popup.detail_select_package_popup .title_area {
    top: 166px;
}

.vod.select_package_popup.detail_select_package_popup .description_area {
    top: 231px;
}

.vod.select_package_popup.detail_select_package_popup .item_area {
    top: 329px;
}

.vod.select_package_popup.detail_select_package_popup .content_title_area {
    top: 704px;
}

.vod.select_package_popup.detail_select_package_popup .content_price_area {
    position: absolute;
    color: rgba(255,255,255,.3);
    top: 770px;
    text-align: center;
    font-size: 27px;
    font-family: "RixHead L";
    display: inline-block;
    width: 100%
}

.vod.select_package_popup.detail_select_package_popup .content_price_area.bought > span {
    text-decoration: line-through;
    display: inline-block;
}

.vod.select_package_popup.detail_select_package_popup .content_price_area.bought::after {
    content: "무료";
    display: inline-block;
    margin-left: 17px;
    text-decoration: initial;
    color: rgba(255,255,255,.7);
    font-family: "RixHead M";
}

.vod.select_package_popup.detail_select_package_popup .item_area .item.focus::after {
    content: none;
}

div.vod.select_package_popup.detail_select_package_popup .btn_area {
    top: 851px;
}