.vod.select_corner_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

.vod.select_corner_popup .title_area {
    position: absolute;
    top: 269px;
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    color: white;
    font-family: "RixHead M";
}

.vod.select_corner_popup .pop_title {
    position: absolute;
    top: 204px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

.vod.select_corner_popup .description_area {
    position: absolute;
    top: 367px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: white;
    opacity: .5;
    font-family: "RixHead L";
}

.vod.select_corner_popup .left_arrow {
    position: absolute;
    top: 578px;
    left: 211px;
    width: 32px;
    height: 56px;
    background-image: url(../../resource/arw_view_l.png);
}

.vod.select_corner_popup .right_arrow {
    position: absolute;
    top: 578px;
    left: 1676px;
    width: 32px;
    height: 56px;
    background-image: url(../../resource/arw_view_r.png);
}

.vod.select_corner_popup .item_area {
    position: absolute;
    overflow: visible;
    left: 272px;
    top: 535px;
    width: 1426px;
    text-align: center;
}

.vod.select_corner_popup .item_area .item {
    overflow: visible;
    margin-right: 29px;
    width: 252px;
    height: 179px;
    display: inline-block;
    -webkit-transform: translateZ(0);
}

.vod.select_corner_popup .item_area .item.focus {
    -webkit-transform: translateZ(0) scale(1.1);
}

.vod.select_corner_popup .item_area .item.focus img {
    border-color: #D1433F;
}

.vod.select_corner_popup .item_area .item img {
    width: 252px;
    height: 142px;
    margin-bottom: 14px;
    border: 5.45px solid transparent;
    padding: 1px;
}

.vod.select_corner_popup .item_area .item span {
    width: 252px;
    text-align: center;
    font-family: "RixHead L";
    font-size: 26px;
    line-height: 26px;
    color: rgba(255, 255, 255, .6);
    display: block;
}

.vod.select_corner_popup .item_area .item.focus span {
    color: white;
    -webkit-transform: scale(1.05);
}

.vod.select_corner_popup .item_area .item.current .currentIcon {
    width: 51px;
    height: 32px;
    background: url(../../resource/icon_tag_now.png);
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}