div.mv.synopsis_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.mv.synopsis_popup .title_area {
    position: absolute;
    top: 252px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    color: #DDAF78;
    font-family: "RixHead B";
}

div.mv.synopsis_popup .mvTitle_area {
    position: absolute;
    top: 317px;
    width: 100%;
    font-size: 42px;
    line-height: 46px;
    margin: -2px 0;
    text-align: center;
    color: #FFFFFF;
    font-family: "RixHead B";
}

div.mv.synopsis_popup #mvBackground_top_img {
    position: absolute;
    left: 390px;
    top: 393px;
}

div.mv.synopsis_popup #mvBackground_middle_img {
    position: absolute;
    left: 390px;
    top: 413px;
    width: 1140px;
    height: 275px;
}

div.mv.synopsis_popup #mvBackground_bottom_img {
    position: absolute;
    left: 390px;
    top: 688px;
}

div.mv.synopsis_popup #mvSynopsis_area {
    position: absolute;
    top: 424px;
    left: 460px;
    width: 1000px;
    height: 246px;
    color: white;
    font-size: 26px;
    line-height: 41px;
}

div.mv.synopsis_popup #button_area {
    position: absolute;
    left: 820px;
    top: 763px;
    width: 280px;
    background: #D2332F;
    height: 57px;
    line-height: 20px;
}

div.mv.synopsis_popup #button_area .button_title {
    position: absolute;
    left: 109px;
    top: 19px;
    font-size: 30px;
    color: white;
    font-family: "RixHead M";
}