.vod_toast {
    position: absolute;
    background-image: url(../../resource/caption_bg.png);
    top: 912px;
    left: 0;
    height: 168px;
    width: 1920px;
    text-align: center;
    display: table;
}

.vod_toast .toastArea{
    text-align: center;
    display: table-cell;
    padding-top: 70px;
}

.vod_toast .toastText {
    position: relative;
    display: inline-block;
    color: white;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    width: auto;
}

.vod_toast .contextArea {
    position: relative;
    display: inline-block;
    top: 3px;
    height: 30px;
    width: auto;
    margin-left: 30px;
}

.vod_toast.smi .contextArea {
    position: absolute;
    left: 1666px;
    top: 70px;
}

.vod_toast .contextArea.hide {
    display: none;
}

.vod_toast .contextArea .contextIcon {
    position: relative;
    display: inline-block;
    text-align: left;
    top: 1px;
    width: 33px;
    height: 27px;
    background-image: url(../../resource/icon_option_related.png);
    background-size: 33px 27px;
}

.vod_toast .contextArea .contextText {
    position: relative;
    display: inline-block;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    color: white;
    text-align: left;
    margin-left: 15px;
    top: -3px;
    width: auto;
}
