div.vod.couponCheck_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

/* 이용권 */
div.vod.couponCheck_popup .title_area {
    position: absolute;
    width: 100%;
    top: 369px;
    font-size: 33px;
    color: rgb(211, 175, 120);
    text-align: center;
    font-family: "RixHead B";
}

div.vod.couponCheck_popup .contentsTitle_area {
    position: absolute;
    width: 100%;
    top: 444px;
    font-size: 52px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
}

div.vod.couponCheck_popup .popupInfo_area {
    position: absolute;
    width: 100%;
    top: 520px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: "RixHead M";
}

div.vod.couponCheck_popup .twoBtnArea_280 {
    position: absolute;
    top: 650px;
    left: 673px;
    width: 588px;
    height: 62px;
}

div.vod.couponCheck_popup .twoBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/pop_btn_w280.png);
}

div.vod.couponCheck_popup .twoBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
    /*transition: opacity .1s;*/
}

div.vod.couponCheck_popup .twoBtnArea_280 .btn.focus .whiteBox {
    float: left;
    margin-right: 14px;
    background-color: #D2332F;
    border: 5px solid #D2332F;
    opacity: 1;
}

div.vod.couponCheck_popup .twoBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

div.vod.couponCheck_popup .twoBtnArea_280 .btn.focus .btnText {
    color: white;
}

/* 할인권 */
div.vod.couponCheck_popup .title_area.discount {
    top: 277px;
}

div.vod.couponCheck_popup .contentsTitle_area.discount {
    top: 354px;
}

div.vod.couponCheck_popup .popupInfo_area.discount {
    top: 425px;
}

div.vod.couponCheck_popup .twoBtnArea_280.discount {
    top: 741px;
}

/* 부가세 문구 */
div.vod.couponCheck_popup .popupSubText_area {
    position: absolute;
    width: 100%;
    top: 516px;
    font-size: 30px;
    color: rgba(255,255,255,.5);
    text-align: center;
    font-family: "RixHead M";
}

/* 할인권 금액 */
div.vod.couponCheck_popup .popupCouponImg_area {
    position: absolute;
    top: 594px;
    left: 788px;
    width: 344px;
    height: 89px;
    line-height: 89px;
    vertical-align: middle;
    font-size: 26px;
    font-family: "RixHead M";
    background-image: url(../../resource/icon_coupon_pop_w230.png);
}

div.vod.couponCheck_popup .popupCouponText{
    display: inline-block;
    margin-left: 30px;
    width: 110px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.7);
}

div.vod.couponCheck_popup .popupCouponPrice{
    display: inline-block;
    width: 145px;
    text-align: right;
    font-size: 38px;
    font-family: "RixHead M";
    color: rgb(230,178,108);
}

div.vod.couponCheck_popup .popupCouponWon{
    display: inline-block;
    font-family: "RixHead M";
    margin-left: 5px;
    color: rgba(255,255,255,.5);
}
