div.vod.vod_no_oss {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.vod_no_oss .popup_contents {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1920px;
    height: 1080px;
}

div.vod.vod_no_oss .title {
    display: inline-block;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    margin-bottom: 63px;
}

div.vod.vod_no_oss .contents_name {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}

div.vod.vod_no_oss .price_area {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 35px;
    line-height: 35px;
    width: 100%;
    margin-top: 41px;
}

div.vod.vod_no_oss .price_area:before {
    content: "가격 : ";
    color: rgba(255,255,255,.5);
}

div.vod.vod_no_oss .description_area {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 32px;
    line-height: 43px;
    width: 100%;
    margin-top: 45px;
}

div.vod.vod_no_oss .phoneNum_area {
    display: inline-block;
    color: rgba(255,255,255,.5);
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

div.vod.vod_no_oss .button_area {
    margin-top: 50px;
    display: inline-block;
    height: 62px;
    -webkit-transform: translateZ(0);
}

div.vod.vod_no_oss .button {
    margin: 0 7px;
    float: left;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.vod_no_oss .button.focus {
    background-color: white;
    border-top : 5px solid #D1433F;
    border-bottom : 5px solid #D1433F;
    border-left : none;
    border-right : none;
    width : 280px;
    height : 52px;
}

div.vod.vod_no_oss .button .buttonText {
    position: absolute;
    top: 16px;
    width: 276px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead L";
    margin-left : 2px;
}

div.vod.vod_no_oss .button.focus .buttonText {
    color: rgb(73, 80, 60);
    font-family: "RixHead M";
}