div.vod.synopsisDetail_popup {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.synopsisDetail_popup .title_area {
    position: absolute;
    width: 100%;
    top: 186px;
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: "RixHead B";
}

div.vod.synopsisDetail_popup .synopsis_background_div {
    position: absolute;
    left: 390px;
    top: 268px;
    width: 1140px;
    height: 510px;
    background: #302F2F;
    opacity: 0.85;
}

div.vod.synopsisDetail_popup .synopsis_area {
    position: absolute;
    left: 461px;
    top: 311px;
    width: 998px;
    height: 409px;
    font-size: 26px;
    color: white;
    line-height: 46px;
    font-family: "RixHead L";
    -webkit-transform: translateZ(0);
}

div.vod.synopsisDetail_popup .synopsis_scrollBar_base {
    position: absolute;
    left: 1478px;
    top: 318px;
    width: 3px;
    height: 409px;
    background: #FFFFFF;
    opacity: 0.15;
}

div.vod.synopsisDetail_popup .synopsis_scrollBar_focus {
    position: absolute;
    left: 1477px;
    top: 318px;
    width: 5px;
    background: #AAAAAA;
}

div.vod.synopsisDetail_popup #button_area {
    position: absolute;
    left: 820px;
    top: 838px;
    width: 280px;
    height: 62px;
    background: #D2332F;
}

div.vod.synopsisDetail_popup #button_area .button_title {
    position: absolute;
    width: 100%;
    top: 15px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "RixHead M";
}

div.vod.synopsisDetail_popup #button_area.kids .button_title {
    top: 17px;
}