div.myhome.home_mailBox .blurred:after {
    content: url(../../resource/image/dim_vodlist_btm.png);
    display: block;
    position: fixed;
    bottom: 0;
}

div.myhome.home_mailBox .mailbox {
    width: 1121px;
    -webkit-transform: translate(645px,122px);
}

div.myhome.home_mailBox .blurred .mailbox {
    /*width: 1121px;*/
    /*-webkit-transform: translate(645px,122px);*/
}

div.myhome.home_mailBox .blurred .mailbox .pageIndicator {
    display: none;
}

div.myhome.home_mailBox .mailbox .pageIndicator {
    position: absolute;
    right: -45px;
    top: 0px;
}

div.myhome.home_mailBox .blurred .mailbox .pageTransIcon{
    display: none;
}

div.myhome.home_mailBox .mailbox .pageTransIcon{
    /*-webkit-transform: translate(-198px,-139px);*/
    right: -95px;
    top: 790px;
}

div.myhome.home_mailBox .no_item_area {
    width: 780px;
    height: 756px;
    /*background-color: rgba(255,255,255,.05);*/
    margin-top: 1px;
}

div.myhome.home_mailBox .noNotice {
    position: absolute;
    width: 780px;
    height: 758px;
    /*border-top: 5px solid rgba(255,255,255,.1);*/
    /*border-bottom: 5px solid rgba(255,255,255,.1);*/
}

div.myhome.home_mailBox .noNotice img {
    position: absolute;
    top: 353px;
    left: 515px;
}

div.myhome.home_mailBox .noNotice span {
    position: relative;
    top: 460px;
    left: 170px;
    text-align: center;
    display: block;
    color: white;
    opacity: .7;
    font-size: 33px;
    line-height: 31px;
}

div.myhome.home_mailBox .item.hiddenItem > * {
    visibility: hidden;
}

div.myhome.home_mailBox .notify .content_area {
    -webkit-transform-origin: left top;
    border-top: 5px solid rgba(255,255,255,.1);
    border-bottom: 5px solid rgba(255,255,255,.1);
    height: 835px;
    overflow: hidden;
}

div.myhome.home_mailBox .notify .slide_up {
    -webkit-animation: myHome_mailbox_slideUp .001s forwards;
}

div.myhome.home_mailBox .notify .slide_down {
    -webkit-animation: myHome_mailbox_slideDown .001s forwards;
}

div.myhome.home_mailBox .notify .scrollWrapper {
    white-space: nowrap;
    overflow: hidden;
}

div.myhome.home_mailBox .notify .item {
    height: 207px;
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_mailBox .notify .item > div {
    display: inline-block;
    vertical-align: top;
}

div.myhome.home_mailBox .notify .index {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    margin: 85px 37px auto 0;
}

div.myhome.home_mailBox .notify .index span {
    display: block;
    font-size: 23px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 42px;
    border: solid 3px rgba(255,255,255,.3);
    border-radius: 5px;
    color: white;
}

div.myhome.home_mailBox .notify .content {
    display: inline-block;
    width: 855px;
    height: inherit;
    vertical-align: top;
}

div.myhome.home_mailBox .notify .btnArea {
    width: 181px;
}

div.myhome.home_mailBox .notify .title {
    margin-top: 47px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    width: inherit;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.myhome.home_mailBox .notify .item.focus .title{
    font-size: 36px;
    height: 38px;
    opacity: .99;
}

div.myhome.home_mailBox .notify .desc{
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
    color: rgba(255,255,255,.3);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: inherit;
    display: -webkit-box;
    font-family: "RixHead L";
    text-overflow: ellipsis;
    white-space: initial;
}

div.myhome.home_mailBox .notify .item.focus .desc{
    font-size: 24px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.home_mailBox .notify .date {
    font-size: 21px;
    color: white;
    opacity: .3;
    text-align: end;
    margin-top: 45px;
}

div.myhome.home_mailBox .notify .item.focus .date {
    opacity: 1;
    font-family: "RixHead L";
}

div.myhome.home_mailBox .notify .focus_line {
    position: absolute;
    left: 0;
    top: 0;
    border-top: #D2332F 5px solid;      /* Line Focus */
    border-bottom: #D2332F 5px solid;   /* Line Focus */
    width: 1121px;
    height: 205px;
}

div.myhome.home_mailBox .blurred .notify .content_area {
    /*height: 835px;*/
}

div.myhome.home_mailBox .blurred .notify .page_area {
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_mailBox .blurred .notify .page_bottom {
    border: none;
    -webkit-transform: translateY(-200px);
}

div.myhome.home_mailBox .blurred .notify .item {
    height: 207px;
}

div.myhome.home_mailBox .blurred .notify .index {
    /*display: none;*/
}
div.myhome.home_mailBox .blurred .notify .content {
    /*width: 855px;*/
}

div.myhome.home_mailBox .blurred .notify .title {
    /*margin-top: 47px;*/
    /*line-height: 31px;*/
    /*font-size: 30px;*/
    /*height: 32px;*/
    /*margin-bottom: 10px;*/
}

div.myhome.home_mailBox .blurred .notify .desc {
    /*line-height: 29px;*/
    /*margin-bottom: 10px;*/
    /*font-size: 22px;*/
}

div.myhome.home_mailBox .blurred .notify .btnArea {
    width: 181px;
}

div.myhome.home_mailBox .blurred .notify .item .btn {
    opacity: .5;
    width: 167px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: rgba(255,255,255,.7);
}

/***********************
    EventList (이벤트)
 ***********************/
div.myhome.home_mailBox .eventList .content_area {
    -webkit-transform-origin: left top;
    border-top: 5px solid rgba(255,255,255,.1);
    border-bottom: 5px solid rgba(255,255,255,.1);
    height: 835px;
    overflow: hidden;
    width: 1121px;
}

div.myhome.home_mailBox .eventList .content_area.slide_up {
    -webkit-animation: myHome_mailbox_slideUp .5s forwards;
}

div.myhome.home_mailBox .eventList .content_area.slide_down {
    -webkit-animation: myHome_mailbox_slideDown .5s forwards;
}

div.myhome.home_mailBox .eventList .page_area {
    white-space: nowrap;
    overflow: hidden;
}

div.myhome.home_mailBox .eventList .item {
    height: 207px;
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_mailBox .eventList .item:nth-child(4n+1) {
    border-top: none;
}

div.myhome.home_mailBox .eventList .page_area .item > div {
    display: inline-block;
    vertical-align: top;
}

div.myhome.home_mailBox .eventList .index {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    margin: 85px 37px auto 0;
}

div.myhome.home_mailBox .eventList .index span {
    display: block;
    font-size: 23px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 42px;
    border: solid 3px rgba(255,255,255,.3);
    border-radius: 5px;
    color: white;
    font-family: "RixHead L";
}

div.myhome.home_mailBox .eventList .poster {
    width: 112px;
    height: 160px;
    margin-top: 21px;
    margin-right: 32px;
    display: inline-block;
}

div.myhome.home_mailBox .eventList .poster img {
    width: 112px;
    height: 160px;
}

div.myhome.home_mailBox .eventList .content {
    width: 690px;
    margin-right: 11px;
    display: inline-block;
    vertical-align: top;
}

div.myhome.home_mailBox .eventList .mainTitle {
    margin-top: 46px;
    font-size: 33px;
    height: 35px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 34px;
    margin-bottom: 26px;
    width: inherit;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.myhome.home_mailBox .eventList .focus .mainTitle {
    font-size: 36px;
    line-height:37px;
    height: 38px;
    margin-top: 40px;
    /* opacity: 1; */
    color: rgb(255, 255, 255);
    margin-bottom: 29px;
}


div.myhome.home_mailBox .eventList .subTitle {
    font-size: 24px;
    line-height: 24px;
    height: 26px;
    margin-bottom: 13px;
    color: rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    display: block;
    text-overflow: ellipsis;
    letter-spacing: -1.2px;
}

div.myhome.home_mailBox .eventList .focus .subTitle {
    color: rgba(255, 255, 255, 0.7);
    font-family: "RixHead L";
}

div.myhome.home_mailBox .eventList .extraDesc {
    font-size: 24px;
    line-height: 24px;
    height: 26px;
    color: rgb(215, 191, 149);
    opacity: .5;
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    display: block;
    text-overflow: ellipsis;
}

div.myhome.home_mailBox .eventList .focus .extraDesc {
    opacity: 1;
    font-family: "RixHead L";
}

div.myhome.home_mailBox .eventList .extraDesc .remain_text {
    color: rgba(243, 169, 80, 0.4);
}

div.myhome.home_mailBox .eventList .extraDesc .remain_date {
    color: rgba(255, 255, 255, 0.5);
}

div.myhome.home_mailBox .eventList .item.focus .extraDesc .remain_text {
    color: rgba(243, 169, 80, 1);
}

div.myhome.home_mailBox .eventList .item.focus .extraDesc .remain_date {
    color: rgba(255, 255, 255, 1);
}

div.myhome.home_mailBox .eventList .btnArea {
    display: inline-block;
    width: 190px;
    vertical-align: top;
}

div.myhome.home_mailBox .eventList .date {
    font-size: 21px;
    color: white;
    opacity: .3;
    text-align: end;
    margin-top: 45px;
}

div.myhome.home_mailBox .eventList .item.focus .date {
    opacity: 1;
    font-family: "RixHead L";
}

div.myhome.home_mailBox .eventList .btn {
    margin-top: 17px;
    /*margin-left: 10px;*/
    width: 188px;
    height: 60px;
    background: #403F3E;
    border: 2px solid rgba(79,78,77, .5);
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.home_mailBox .eventList .item.focus .btn {
    background: #D2332F;
    color: rgb(255, 255, 255);
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    border-left: none;
    border-right: none;
    height: 54px;
    width: 192px;
    line-height: 54px;
    font-family: "RixHead M";
}

div.myhome.home_mailBox .eventList .focus_line {
    position: absolute;
    left: 0;
    top: 0;
    border-top: #D2332F 5px solid;      /* Line Focus */
    border-bottom: #D2332F 5px solid;   /* Line Focus */
    width: 1121px;
    height: 205px;
}


div.myhome.home_mailBox .blurred .eventList .index {
    /*display: none;*/
}


div.myhome.home_mailBox .blurred .eventList .content_area {
    /*height: 835px;*/
    /*width: 1121px;*/
}

div.myhome.home_mailBox .blurred .eventList .poster {
    /*margin-right: 30px;*/
    /*width: 112px;*/
}

div.myhome.home_mailBox .blurred .eventList .poster img {
    /*width: 112px;*/
    /*height: 160px;*/
}

div.myhome.home_mailBox .blurred .eventList .page_area {
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_mailBox .blurred .eventList .page_bottom {
    border: none;
    -webkit-transform: translateY(-200px);
}

div.myhome.home_mailBox .blurred .eventList .item {
    height: 207px;
}

div.myhome.home_mailBox .blurred .eventList .mainTitle {
    /*margin-top: 35px;*/
    /*font-size: 30px;*/
    /*line-height: 32px;*/
    /*margin-bottom: 21px;*/
}

div.myhome.home_mailBox .blurred .eventList .subTitle {
    /*margin-bottom: 10px;*/
    /*line-height: 24px;*/
    /*font-size: 21px;*/
}

div.myhome.home_mailBox .blurred .eventList .extraDesc {
    /*font-size: 21px;*/
}

div.myhome.home_mailBox .blurred .eventList .page_area .item .index {
    display: none;
}
div.myhome.home_mailBox .blurred .eventList .content {
    /*width: 710px;*/
}

div.myhome.home_mailBox .blurred .eventList .btnArea {
    width: 181px;
}

div.myhome.home_mailBox .blurred .eventList .item .btn {
    /*opacity: .5;*/
    /*width: 167px;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*font-size: 25px;*/
    /*font-family: "RixHead L";*/
}

/***********************
    NoticeList (알림)
 ***********************/
div.myhome.home_mailBox .noticeList .content_area {
    -webkit-transform-origin: left top;
    border-top: 5px solid rgba(255,255,255,.1);
    border-bottom: 5px solid rgba(255,255,255,.1);
    height: 835px;
    overflow: hidden;
}

div.myhome.home_mailBox .noticeList .content_area.slide_up {
    -webkit-animation: myHome_mailbox_slideUp .5s forwards;
}

div.myhome.home_mailBox .noticeList .content_area.slide_down {
    -webkit-animation: myHome_mailbox_slideDown .5s forwards;
}

div.myhome.home_mailBox .noticeList .scrollWrapper {
    white-space: nowrap;
    overflow: hidden;
}

div.myhome.home_mailBox .noticeList .item {
    height: 207px;
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_mailBox .noticeList .item:nth-child(4n+1) {
    border-top: none;
}

div.myhome.home_mailBox .noticeList .index {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    margin: 85px 37px auto 0;
}

div.myhome.home_mailBox .noticeList .index span {
    display: block;
    font-size: 23px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 42px;
    border: solid 3px rgba(255,255,255,.3);
    border-radius: 5px;
    color: white;
    font-family: "RixHead L";
}

div.myhome.home_mailBox .noticeList .content {
    display: inline-block;
    width: 835px;
    margin-right: 11px;
    vertical-align: top;
}

div.myhome.home_mailBox .noticeList .mainTitle {
    margin-top: 46px;
    font-size: 33px;
    color: white;
    opacity: .7;
    line-height: 35px;
    height: 35px;
    margin-bottom: 25px;
    width: inherit;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.myhome.home_mailBox .noticeList .item.focus .mainTitle {
    font-size: 36px;
    height: 38px;
    opacity: .99;
    margin-bottom: 22px;
}

div.myhome.home_mailBox .noticeList .subTitle {
    font-size: 24px;
    height: 26px;
    line-height: 24px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.3);
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    display: block;
    text-overflow: ellipsis;
    letter-spacing: -1.2px;
}

div.myhome.home_mailBox .noticeList .item.focus .subTitle {
    color: rgba(255, 255, 255, 0.7);
    font-family: "RixHead L";
}

div.myhome.home_mailBox .noticeList .extraDesc {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 10px;
    /*opacity: .5;*/
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    display: block;
    font-family: "RixHead L";
    text-overflow: ellipsis;
}

div.myhome.home_mailBox .noticeList .extraDesc .remain_text {
    color: rgba(243, 169, 80, 0.4);
}

div.myhome.home_mailBox .noticeList .extraDesc .remain_date {
    color: rgba(255, 255, 255, 0.5);
}

div.myhome.home_mailBox .noticeList .item.focus .extraDesc .remain_text {
    color: rgba(243, 169, 80, 1);
}

div.myhome.home_mailBox .noticeList .item.focus .extraDesc .remain_date {
    color: rgba(255, 255, 255, 1);
}

div.myhome.home_mailBox .noticeList .btnArea {
    display: inline-block;
    width: 190px;
    vertical-align: top;
}

div.myhome.home_mailBox .noticeList .date {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.3);
    text-align: end;
    margin-top: 45px;
}

div.myhome.home_mailBox .noticeList .item.focus .date {
    color: rgba(255, 255, 255, 1);
    font-family:"RixHead L";
}

div.myhome.home_mailBox .noticeList .btn {
    margin-top: 30px;
    /*margin-left: 10px;*/
    width: 184px;
    height: 56px;
    background: #403F3E;
    border: 2px solid rgba(79,78,77, .5);
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    color: rgba(255,255,255,.3);
    font-family: "RixHead M";
}

div.myhome.home_mailBox .noticeList .item.focus .btn {
    background: #D2332F;
    color: rgb(255, 255, 255);
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    border-left: none;
    border-right: none;
    height: 50px;
    width: 188px;
    line-height: 54px;
}

div.myhome.home_mailBox .noticeList .focus_line {
    position: absolute;
    left: 0;
    top: 0;
    border-top: #D2332F 5px solid;      /* Line Focus */
    border-bottom: #D2332F 5px solid;   /* Line Focus */
    width: 1121px;
    height: 205px;
}

div.myhome.home_mailBox .blurred .noticeList .content_area {
    /*height: 835px;*/
}

div.myhome.home_mailBox .blurred .noticeList .page_area {
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_mailBox .blurred .noticeList .page_bottom {
    border: none;
    -webkit-transform: translateY(-200px);
}

div.myhome.home_mailBox .blurred .noticeList .item {
    height: 207px;
}

div.myhome.home_mailBox .blurred .noticeList .index {
    /*display: none;*/
}
div.myhome.home_mailBox .blurred .noticeList .content {
    /*width: 599px;*/
}

div.myhome.home_mailBox .blurred .noticeList .mainTitle {
    /*margin-top: 36px;*/
    /*line-height: 33px;*/
    /*font-size: 30px;*/
    /*margin-bottom: 17px;*/
}

div.myhome.home_mailBox .blurred .noticeList .subTitle {
    /*line-height: 25px;*/
    /*margin-bottom: 8px;*/
    /*font-size: 22px;*/
}

div.myhome.home_mailBox .blurred .noticeList .extraDesc {
    /*font-size: 22px;*/
}

div.myhome.home_mailBox .blurred .noticeList .btnArea {
    width: 190px;
}

div.myhome.home_mailBox .blurred .noticeList .item .btn {
    /*opacity: .5;*/
    /*width: 167px;*/
    /*height: 50px;*/
    /*line-height: 50px;*/
    /*font-size: 25px;*/
    /*color: rgba(255,255,255,.7);*/
}


div.myhome.home_mailBox .blurred .focus_line {
    opacity: 0;
}

@-webkit-keyframes myHome_mailbox_slideUp {
    from { -webkit-transform: translateY(0) translateZ(0); }
    to { -webkit-transform: translateY(-778px) translateZ(0); }
}

@-webkit-keyframes myHome_mailbox_slideDown {
    from { -webkit-transform: translateY(-778px) translateZ(0); }
    to { -webkit-transform: translateY(0) translateZ(0); }
}
