div.kidsHome .categoryArea {
    height: 1080px;
    width: 1920px;
}

div.kidsHome .categoryArea .initialHiddenItem {
    opacity: 0;
}

div.kidsHome .categoryArea.blurred {
    z-index:0;
}

div.kidsHome .categoryArea.blurred #focusArea {
    opacity: 0;
}

div.kidsHome .categoryArea.blurred .menuArea {
    opacity: 0;
}

div.kidsHome .categoryArea span {
    white-space: nowrap;
}

div.kidsHome .categoryArea #focusArea {
    position: absolute;
    left: 133px;
    font-size: 42px;
    height: 95px;
    width: 409px;
    line-height: 95px;
    top: 122px;
    letter-spacing: -2.1px;
    /*vertical-align: center;*/
}

div.kidsHome .categoryArea #focusArea .page_text {
    position: absolute;
    font-family: "RixHead L";
    left: 0;
    top: 111px;
    color: rgba(230,245,255,0.5);
    font-size: 21px;
    height: 19px;
    line-height: 19px;
}

div.kidsHome .categoryArea #focusArea .page_text bold {
    font-family:"RixHead B";
    color:rgb(230,245,255);
}

div.kidsHome .categoryArea #focusArea .textArea #focus_border{
    display: inline-block;
    width: 409px;
    border-top: #FFB32E 6px solid;      /* Line Focus */
    border-bottom: #FFB32E 6px solid;   /* Line Focus */
}

div.kidsHome .categoryArea #focusArea .sdw_area {
    margin-top: -113px;
    margin-left: -82px;
    height: 317px;
    white-space: nowrap;
    position: absolute;
    z-index: -5;
}

div.kidsHome .categoryArea #focusArea .sdw_area > div {
    display: inline-block;
    height: 317px;
}

div.kidsHome .categoryArea #focusArea .sdw_area .sdw_left {
    background: url(../../resource/image/sdw_menu_focus_l_kids.png);
    width: 150px;
}

div.kidsHome .categoryArea #focusArea .sdw_area .sdw_mid {
    background: url(../../resource/image/sdw_menu_focus_b_kids.png);
}

div.appgame .categoryArea.noAnimation #focusArea .sdw_area .sdw_mid {
    transition: none;
}

div.kidsHome .categoryArea #focusArea .sdw_area .sdw_right {
    background: url(../../resource/image/sdw_menu_focus_r_kids.png);
    width: 231px;
}

div.kidsHome .categoryArea #focusArea span {
    display: block;
    color: white;
    font-family: "RixHead B";
    line-height: 72px;
}

div.kidsHome .categoryArea #focusArea .rightArrow {
    background-image: url('../../resource/image/arw_menu_focus.png');
    width: 20px;
    height: 33px;
    top: 28px;
    position: absolute;
    right: 1px;
}

div.kidsHome .categoryArea.unFocused #focusArea .textArea #focus_border {
    border-color: rgba(255,255,255,.2);
    border-top: rgba(255, 255, 255, 0.5) 6px solid;      /* Line Focus */
    border-bottom: rgba(255, 255, 255, 0.5) 6px solid;   /* Line Focus */
}

div.kidsHome .categoryArea.unFocused #focusArea .rightArrow{
    background-image: url('../../resource/image/arw_menu_dim.png');
    width: 19px;
    height: 31px;
    top: 28px;
    position: absolute;
    right: 1px;
}

div.kidsHome .categoryArea .menuArea{
    position: absolute;
    top: 122px;
    left: 133px;
    opacity: 1.0;
}

div.kidsHome .categoryArea .category_bottom_arw {
    position: absolute;
    background: url(../../resource/image/arw_menu_kids_dw.png);
    width: 33px;
    height: 20px;
    top: 997px;
    left: 135px;
}

div.kidsHome .categoryArea.blurred .category_bottom_arw {
    display: none;
}

div.kidsHome .categoryArea.unFocused .category_bottom_arw {
    visibility: hidden;
}

div.kidsHome .categoryArea .menuArea .text_item {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 38px;
    width: 409px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    line-height: 84px;
    letter-spacing: -1.9px;
}

div.kidsHome .categoryArea .image_item {
    margin-bottom: 10px;
}

div.kidsHome .categoryArea .size01 {
    height: 84px;
}
div.kidsHome .categoryArea .size02 {
    height: 178px;
}
div.kidsHome .categoryArea .size03 {
    height: 272px;
}
div.kidsHome .categoryArea .size04 {
    height: 366px;
}
div.kidsHome .categoryArea .size05 {
    height: 460px;
}
div.kidsHome .categoryArea .size06 {
    height: 554px;
}
div.kidsHome .categoryArea .size07 {
    height: 648px;
}
div.kidsHome .categoryArea .size08 {
    height: 742px;
}
div.kidsHome .categoryArea .size09 {
    height: 836px;
}

div.kidsHome .categoryArea .menuArea div.focus {
    color: white;
    letter-spacing: -2.1px;
    font-family: "RixHead B";
    font-size: 42px;
    width: 385px;
}

div.kidsHome .categoryArea .menuArea div.focus span{
    display: inline-block;
}

div.kidsHome .categoryArea.unFocused .menuArea div.focus span{
    display: initial;
}

div.kidsHome .categoryArea.unFocused .menuArea div.focus{
    width: 390px;
    opacity: 1.0;
}

div.kidsHome .categoryArea.unFocused .menuArea div{
    opacity: 0.5;
}

div.kidsHome .categoryArea .menuArea span.bottom {
}

div.kidsHome .categoryArea #measureArea {
    position: fixed;
    font-size: 42px;
    opacity: 0;
    font-family: "RixHead B";
    letter-spacing: -2.1px;
}

div.kidsHome .categoryArea .comment {
    position: relative;
    left: 81px;
    width: 259px;
    height: 137px;
    color: rgba(255, 255, 255, .2);
    font-size: 24px;
    margin-top: 58px;
}

div.kidsHome .categoryArea .lr_arw_area {
    position: absolute;
    top: 994px;
    left: 191px;
}

div.kidsHome .categoryArea .lr_arw_area img {
    vertical-align: top;
}

div.kidsHome .categoryArea .lr_arw_area span {
    color: rgba(255,255,255,.3);
    font-size: 24px;
    margin-left: 5px;
    line-height: 27px;
}

div.kidsHome .categoryArea.blurred .lr_arw_area {
    visibility: hidden;
}

div.kidsHome .categoryArea.unFocused .lr_arw_area {
    visibility: hidden;
}

/*  Preview Area  */
div.kidsHome .categoryArea .previewArea {
    position: absolute;
    left: 626px;
    top: 122px;
    width: 301px;
    height: 787px;
}

div.kidsHome .categoryArea .previewArea .preview_item {
    display: none;
}

div.kidsHome .categoryArea.blurred .previewArea .preview_item {
    display:block;
    font-family: "RixHead L";
    font-size: 38px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 84px;
    margin-bottom: 10px;
}

div.kidsHome .categoryArea.blurred .previewArea .preview_item img {
    opacity: 0.7;
}

div.kidsHome .categoryArea.blurred .leftArrow {
    display: none;
}

/*  Notice Area  */
div.kidsHome .categoryArea .noticeArea {
    position: absolute;
    bottom:0;
    width: 1770px;
    height: 75px;
    text-align: center;
    padding: 50px 75px 0 75px;
    font-size: 30px;
    color: white;
    font-family: "RixHead L";
    background: url(../../resource/image/caption_bg.png);
    z-index: 2;
}

div.kidsHome .categoryArea .noticeArea > span {
    display: inline-block;
    text-align: left;
}

div.kidsHome .categoryArea.blurred .noticeArea {
    visibility: hidden;
}

div.kidsHome .categoryArea.unFocused .noticeArea {
    visibility: hidden;
}

div.kidsHome .categoryArea .noticeArea:empty {
    visibility: hidden;
}

div.kidsHome .categoryArea .leftArrow {
    position: absolute;
    left: 53px;
    top: 522px;
    width: 22px;
    height: 36px;
    background: url(../../resource/image/ar_back.png);
}

div.kidsHome .categoryArea.unFocused .leftArrow {
    visibility: hidden;
}