div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea {
    position: absolute;
    top: 64px;
    left: 0;
    white-space: nowrap;
    height: 325px;
    overflow: visible;
    transition: -webkit-transform .5s;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    white-space: nowrap;
    height: 331px;
    width: 508px;
    overflow: visible;
    margin-right: 13px;
    z-index: 0;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus {
    z-index: 100;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addThumb {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    height: 279px;
    width: 496px;
    border: 6px solid transparent;
    /*transition: -webkit-transform .5s, border-color .5s;*/
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus .addThumb {
    -webkit-transform: scale(1.1) translateZ(0);
    border-color: #D2332F;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addThumb .playIcon {
    position: absolute;
    top: 194px;
    left: 23px;
    height: 66px;
    width: 66px;
    content: url(../../resource/detail/icon_play.png);
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus .addThumb .playIcon {
    content: url(../../resource/detail/icon_play_f.png);
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addThumb .lockIcon {
    position: absolute;
    height: 279px;
    width: 496px;
    display: none;
    content: url(../../resource/img_vod_locked_preview.png);
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addThumb .thumbImage {
    position: absolute;
    height: 279px;
    width: 496px;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addThumb .thumbDim {
    position: absolute;
    height: 279px;
    width: 496px;
    background-color: #000000;
    /*transition: opacity .5s;*/
    opacity: .1;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus .addThumb .thumbDim {
    opacity: 0;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addThumb .thumbSdw {
    position: absolute;
    top: 4px;
    height: 279px;
    width: 48px;
    /*transition: opacity .5s;*/
    opacity: 0;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus .addThumb .thumbSdw {
    opacity: .99;
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional .addName {
    position: absolute;
    top: 300px;
    left: 0;
    width: 496px;
    height: 27px;
    text-align: left;
    color: white;
    font-size: 27px;
    line-height: 27px;
    /*transition: -webkit-transform .5s, opacity .5s;*/
    opacity: .5;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus .addName {
    opacity: .99;
    -webkit-transform: translateY(7px);
}

/* 팝업 CSS */

div.vod.additional_still {
    background-color: rgba(0, 0, 0, 0.9);
}

div.vod.additional_still .bigThumb {
    position: absolute;
    top: 109px;
    left: 417px;
    width: 1088px;
    height: 612px;
}

div.vod.additional_still .thumbListArea {
    position: absolute;
    overflow: hidden;
    top: 744px;
    left: 407px;
    width: 1108px;
    height: 149px;
}

div.vod.additional_still .thumbListArea .thumbList {
    position: absolute;
    overflow: visible;
    top: 16px;
    left: 10px;
    width: 1100px;
    height: 117px;
    -webkit-transform: translateZ(0);
    white-space: nowrap;
}

div.vod.additional_still .thumbListArea .thumbList.right {
    left: 1110px;
}

div.vod.additional_still .thumbListArea .thumbList.moveLeft {
    -webkit-transform: translateX(-1100px) translateZ(0);
}

div.vod.additional_still .thumbListArea .thumbList .thumb {
    position: relative;
    top: -9px;
    left: 0;
    height: 117px;
    width: 208px;
    margin-right: 12px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
    /*transition: -webkit-transform .5s, border-color .5s;*/
}

div.vod.additional_still .thumbListArea .thumbList .thumb .thumbImage {
    position: absolute;
    height: 117px;
    width: 208px;
}

div.vod.additional_still .thumbListArea .thumbList .thumb.focus {
    border-color: #D2332F;
    -webkit-transform: scale(1.1);
}

div.vod.additional_still .viewArrow {
    position: absolute;
    top: 792px;
    width: 32px;
    height: 56px;
}

div.vod.additional_still .viewArrow.left {
    left: 356px;
    background-image: url(../../resource/arw_view_l.png);
}

div.vod.additional_still .viewArrow.right {
    left: 1533px;
    background-image: url(../../resource/arw_view_r.png);
}

div.vod.additional_still .button {
    position: absolute;
    top: 921px;
    left: 819px;
    width: 279px;
    height: 59px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.vod.additional_still .button.focus {
    background-color: #FFFFFF;
    border-left : none;
    border-right : none;
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
    height : 54px;
    width : 283px;
    line-height: 24px;
}

div.vod.additional_still .button .text {
    position: absolute;
    top: 14px;
    width: 279px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.vod.additional_still .button.focus .text {
    margin-left : 2px;
    height: 32px;
    font-size: 32px;
    color: rgb(73, 68, 60);
    font-family: "RixHead M";
}