div.vod .detail_bottom .tabDiv .tabDetailArea .starArea {
    position: absolute;
    left: -8px;
    top: 60px;
    white-space: nowrap;
    height: 382px;
    overflow: visible;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv {
    position: relative;
    width: 500px;
    height: 362px;
    display: inline-block;
    margin-right: 21px;
    border: 6px solid transparent;
    padding: 2px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.olleh {
    width: 385px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.1);
    border-color: #D2332F;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox {
    position: relative;
    width: 500px;
    height: 362px;
    background-color: #2D2D2D;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox {
    border-color: #FFFFFF;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh {
    width: 385px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 385px;
    height: 358px;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .expertIcon {
    position: absolute;
    top: 30px;
    left: 36px;
    width: 24px;
    height: 32px;
    content: url(../../resource/detail/rating/icon_rating_special.png);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox .expertIcon {
    content: url(../../resource/detail/rating/icon_rating_special_f.png);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .expert {
    position: absolute;
    top: 33px;
    left: 70px;
    width: 120px;
    text-align: left;
    height: 26px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(240, 240, 240, 0.6);
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox .expert {
    color: white;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .expertName {
    position: absolute;
    top: 32px;
    left: 235px;
    width: 230px;
    text-align: right;
    height: 26px;
    font-size: 26px;
    opacity: .5;
    color: rgb(240, 240, 240);
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox .expertName {
    color: white;
    opacity: 0.9;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .mLine {
    position: absolute;
    top: 69px;
    left: 36px;
    width: 429px;
    height: 2px;
    background-color: #FFFFFF;
    opacity: .1;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox .mLine {
    opacity: .2;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .detailText {
    position: absolute;
    left: 35px;
    top: 163px;
    width: 426px;
    height: 150px;
    text-align: left;
    font-size: 25px;
    line-height: 38px;
    color: white;
    opacity: .5;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox .detailText {
    color: white;
    opacity: 0.99;
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .mLine.olleh {
    position: absolute;
    top: 164px;
    left: 41px;
    width: 303px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .mLine.olleh.hasMyPoint {
    top: 180px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ollehRatingCnt {
    margin-left: 5px;
    text-align: left;
    height: 25px;
    font-size: 25px;
    color: rgb(240, 240, 240);
    opacity: .4;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ollehTextArea {
    position: absolute;
    left: 41px;
    top: 39px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ollehText {
    text-align: left;
    height: 26px;
    font-size: 26px;
    color: rgb(240, 240, 240);
    opacity: .6;
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ollehText.my {
    position: absolute;
    left: 41px;
    top: 216px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ollehText {
    color: white;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ollehRatingCnt {
    color: white;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .ratingStarArea {
    position: absolute;
    top: 111px;
    left: 36px;
    width: 120px;
    height: 18px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .expertRatingNumber {
    position: absolute;
    top: 107px;
    left: 167px;
    width: 50px;
    text-align: left;
    height: 28px;
    font-size: 28px;
    color: rgb(0, 150, 135);
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox .expertRatingNumber {
    font-family: "RixHead M";
    color: rgb(0, 192, 170);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingStarArea {
    position: absolute;
    top: 83px;
    left: 41px;
    width: 165px;
    height: 24px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingStarArea.my {
    top: 260px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingText {
    position: absolute;
    top: 123px;
    left: 41px;
    width: 178px;
    text-align: left;
    height: 26px;
    font-size: 26px;
    color: rgb(240, 240, 240);
    opacity: .5;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingText.my {
    top: 300px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ratingText {
    color: white;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingNumber {
    position: absolute;
    top: 82px;
    width: 41px;
    height: 62px;
    opacity: .99;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingNumber.my {
    top: 259px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingNumber.focus {
    opacity: 0;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ratingNumber {
    opacity: 0;
    background-size: 41px 62px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ratingNumber.focus {
    opacity: .99;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingNumber.dot {
    position: absolute;
    top: 136px;
    left: 268px;
    width: 3px;
    height: 8px;
    background-image: url(../../resource/detail/rating/rating_more_number_dot.png);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ratingNumber.dot {
    background-image: url(../../resource/detail/rating/rating_more_number_f_dot.png);
    background-size: 3px 8px;
    opacity: .99;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingNumber.my.dot {
    top: 314px;
    background-image: url(../../resource/detail/rating/rating_more_my_number_dot.png);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ratingNumber.my.dot {
    background-image: url(../../resource/detail/rating/rating_more_my_number_f_dot.png);
    background-size: 3px 8px;
    opacity: .99;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointText {
    position: absolute;
    top: 186px;
    left: 41px;
    width: 300px;
    text-align: left;
    height: 25px;
    font-size: 25px;
    color: rgba(240, 240, 240, 0.6);
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointText.second {
    top: 223px;
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .myPointText {
    color: white;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .myPointText.second {
    color: white;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton {
    position: absolute;
    top: 263px;
    left: 41px;
    width: 299px;
    height: 62px;
    background-color: #4B4B4B;
    border: solid 2px rgba(100, 100, 100, 0.3);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .myPointButton {
    border: #B2B1B0;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton .btnText {
    position: absolute;
    top: 16px;
    left: 26px;
    width: 300px;
    text-align: left;
    height: 30px;
    font-size: 30px;
    color: rgb(240, 240, 240);
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton .btnText {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton .btnText.sdw {
    top: 17px;
    left: 27px;
    color: rgba(0, 0, 0, 0);
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .myPointButton .btnText.sdw {
    color: rgba(0, 0, 0, 0.4);
}