div.vod .bottomArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

div.vod .bottomArea .bottomDim {
    position: absolute;
    top: 888px;
    left: 0;
    width: 1920px;
    height: 192px;
    opacity: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
    transition: opacity .5s;
}

div.vod .bottomArea .bottomDim.show {
    opacity: .99;
}

div.vod .bottomArea .bottomDim.hide.show {
    opacity: 0;
}

div.vod .series_bottom {
    position: absolute;
    top: 756px;
    left: 878px;
    width: 960px;
    height: 69px;
    border-top: solid 2px rgba(255, 255, 255, 0.3);
    border-bottom: solid 2px rgba(255, 255, 255, 0.3);
    transition: opacity .5s;
    -webkit-transform: translateZ(0);
    overflow: visible;
    opacity: 0;
}

div.vod .series_bottom.show {
    opacity: 0.99;
}

div.vod .series_bottom .tabName {
    position: absolute;
    top: 21px;
    width: 300px;
    height: 30px;
    text-align: left;
    font-size: 27px;
    color: rgb(240, 240, 240);
    opacity: .35;
    font-family: "RixHead L";
}

div.vod .detail_bottom {
    position: absolute;
    top: 441px;
    left: 0;
    width: 1920px;
    height: 1010px;
    overflow: visible;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform 0.5s;
}

div.vod_detail_series_layer.vod .detail_bottom {
    top: 549px;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom.show {
    -webkit-transform: translateY(-321px) translateZ(0);
}

div.vod_detail_series_layer.vod .detail_bottom.show {
    -webkit-transform: translateY(-479px) translateZ(0);
}

div.vod .detail_bottom .dim {
    position: absolute;
    top: -118px;
    left: 0;
    width: 1920px;
    height: 1080px;
    opacity: 0;
    background-image: url(../../resource/detail/dim_detail_related.png);
    background-size: 1920px 1080px;
    transition: opacity 0.5s;
}

div.vod_detail_series_layer.vod .detail_bottom .dim {
    top: -68px;
}

div.vod .detail_bottom.show .dim {
    opacity: 0.99;
}

div.vod .detail_bottom .tabDiv {
    position: absolute;
    left: 82px;
    top: 341px;
    width: 1756px;
    height: 619px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom .tabDiv .bottom_relation_area {
    float: right;
    margin-top: -44px;
}

div.vod .bottomArea .bottom_relation_area .bottom_relation_icon {
    float: left;
    margin-right: 13px;
    margin-top: 2px;
    content: url(../../resource/icon_option_related.png);
}

div.vod .detail_bottom .tabDiv .bottom_relation_area span {
    float: left;
    font-size: 26px;
    color: white;
    opacity: 0.3;
    font-family: "RixHead L";
    display: block;
}

div.vod .detail_bottom .tabDiv .bottom_relation_area .bottom_relation_bar {
    float: left;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.23;
    margin: 2px 15px;
    display: block;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .bottom_relation_area {
    float: right;
    margin-top: -44px;
}

div.vod .bottomArea .series_bottom .bottom_relation_area .bottom_relation_icon {
    float: left;
    margin-right: 13px;
    content: url(../../resource/icon_option_related.png);
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .bottom_relation_area .relationText {
    float: left;
    left: 45px;
    top: 3px;
    height: 27px;
    line-height: 27px;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .bottom_relation_area span {
    float: left;
    font-size: 26px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead L";
    display: block;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .bottom_relation_area .bottom_relation_bar {
    float: left;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.2;
    margin: 2px 15px;
    display: block;
}

div.vod .detail_bottom .tabDiv .bottom_relation_area.preview .bottom_relation_bar
div.vod .detail_bottom .tabDiv .bottom_relation_area.preview .relText2
div.vod_detail_series_layer.vod .bottomArea .bottom_relation_area.preview .bottom_relation_bar
div.vod_detail_series_layer.vod .bottomArea .bottom_relation_area.preview .relText2 {
    display: none;
}

div.vod_detail_series_layer.vod .detail_bottom .tabDiv {
    top: 391px;
}

div.vod .detail_bottom .tabDiv .arrow {
    position: absolute;
    top: -45px;
    left: 858px;
    width: 36px;
    height: 21px;
    opacity: 0;
    background-image: url(../../resource/arw_related_up.png);
}

div.vod .detail_bottom .tabDiv .arrow.show {
    opacity: 0.99;
}

div.vod.vod_detail_series_layer .detail_bottom .tabDiv {
    transition: opacity .5s;
    opacity: 0;
}

div.vod.vod_detail_series_layer .detail_bottom.show .tabDiv {
    opacity: 0.99;
}

div.vod .detail_bottom .tabDiv .tabArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 1756px;
    height: 83px;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom .tabDiv .tabArea .tabLine {
    position: absolute;
    left: 0;
    width: 1756px;
    height: 2px;
    opacity: 0.3;
    background-color: #FFFFFF;
}

div.vod .detail_bottom .tabDiv .tabArea .tab {
    float: left;
    margin-right: -2px;
    width: 353px;
    height: 71px;
    border-top: solid 6px transparent;
    border-bottom: solid 6px transparent;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom .tabDiv .tabArea .tab.focus {
    border-color: #F3302B;
}

div.vod .detail_bottom .tabDiv .tabArea .tab .tabName {
    position: absolute;
    top: 20px;
    width: 353px;
    text-align: center;
    font-size: 30px;
    color: rgb(240, 240, 240);
    opacity: .3;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabArea.focus .tab .tabName {
    opacity: .6;
}

div.vod .detail_bottom .tabDiv .tabArea .tab .tabName.focus {
    top: 21px;
    font-size: 33px;
    opacity: 1;
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabArea .tab .tabName.long.focus {
    font-size: 32px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea {
    position: absolute;
    overflow: visible;
    left: 0;
    top: 83px;
    width: 1756px;
    height: 536px;
    -webkit-transform: translateZ(0);
    display: none;
}

div.vod .detail_bottom .tabDiv .tabDetailArea.focus {
    display: inherit;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .noData {
    position: absolute;
    left: 0;
    top: 163px;
    width: 1756px;
    height: 136px;
}

/*
5월 형상에서 No Data 아이콘 삭제
div.vod .detail_bottom .tabDiv .tabDetailArea .noData .icon {
    position: absolute;
    left: 837px;
    top: 0;
    width: 82px;
    height: 76px;
    background-image: url(../../resource/detail/icon_noresult.png);
}
*/

div.vod .detail_bottom .tabDiv .tabDetailArea .noData .text {
    position: absolute;
    top: 60px;
    width: 1756px;
    text-align: center;
    font-size: 33px;
    color: white;
    opacity: .7;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .synopsisArea {
    position: absolute;
    overflow: hidden;
    left: 97px;
    top: 85px;
    width: 1583px;
    height: 314px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .synopsisAreaHidden {
    position: absolute;
    overflow: visible;
    left: 97px;
    top: 85px;
    width: 1583px;
    opacity: 0;
    text-align: left;
    font-size: 30px;
    line-height: 52px;
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .synopsis {
    position: absolute;
    left: 0;
    top: 0;
    width: 1583px;
    text-align: left;
    font-size: 30px;
    line-height: 52px;
    color: white;
    opacity: .5;
    font-family: "RixHead L";
    -webkit-transform: translateY(0px);
    transition: -webkit-transform 0.5s;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .indicator {
    position: absolute;
    left: 16px;
    top: 87px;
    width: 38px;
    height: 318px;
    overflow: visible;
}

/* 우측, 컨텐츠 잘려보이는 영역 DIM 처리 */

div.vod .detail_bottom .tabDiv .tabDetailArea .rightDim {
    position: absolute;
    left: 1620px;
    top: 70px;
    width: 218px;
    height: 358px;
    -webkit-transform: translateZ(0);
    background: linear-gradient(to right, transparent, black);
}

div.vod .detail_bottom .tabDiv .tabDetailArea.POINT .rightDim {
    position: absolute;
    left: 1702px;
    top: 70px;
    height: 362px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea.SEARCH .rightDim {
    height: 318px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea.ADDITIONAL .rightDim {
    top: 70px;
    height: 279px;
    left: 1627px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea.ADDITIONAL {
    left: -6px;
}