div.vod .detail_bottom .tabDiv .tabDetailArea .personArea {
    position: absolute;
    top: 61px;
    left: 0;
    white-space: nowrap;
    height: 337px;
    overflow: visible;
    transition: -webkit-transform 0.5s;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox {
    border: 6px solid transparent;
    padding: 2px;
    position: relative;
    display: inline-block;
    margin-right: 37px;
    width: 233px;
    height: 317px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox.focus {
    border-color: #D2332F;
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.1);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person {
    position: absolute;
    width: 233px;
    height: 317px;
    /*border: solid 2px rgb(60, 60, 60);*/
    background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(55, 55, 55));
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox.focus .person {
    border-color: #FFFFFF;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person .personName {
    position: absolute;
    top: 55px;
    width: 229px;
    text-align: center;
    font-size: 33px;
    color: rgba(240, 240, 240, 0.8);
    font-family: "RixHead M";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox.focus .person .personName {
    color: white;
    font-family: "RixHead B";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person .personType {
    position: absolute;
    top: 98px;
    width: 229px;
    text-align: center;
    font-size: 24px;
    color: rgba(197, 165, 133, 0.7);
    font-family: "RixHead L";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox.focus .person .personType {
    font-family: "RixHead B";
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person.overline .personName {
    top: 36px;
    left: 32px;
    width: 166px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person.overline .personType {
    top: 120px;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person .line {
    position: absolute;
    top: 181px;
    left: 27px;
    width: 173px;
    height: 2px;
    background-color: #414141;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox.focus .person .line {
    /* 5월향 GUI 튜닝 당시 요청 사항 : #ffffff, 10%, 2px 라인으로 수정 */
    background-color: #ffffff;
    opacity: .1;
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox .person .icon {
    position: absolute;
    top: 225px;
    left: 97px;
    width: 36px;
    height: 42px;
    background-image: url(../../resource/detail/icon_search.png);
}

div.vod .detail_bottom .tabDiv .tabDetailArea .personArea .personBox.focus .person .icon {
    background-size: 41px 48px;
    width: 41px;
    height: 48px;
}