/*
기타 정보
 */
div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo {
    position: absolute;
    left: 0;
    top: 0;
    width: 1838px;
    height: 100%;
    display: none;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo.focus {
    display: inherit;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .recommendTitle {
    position: absolute;
    left: 4px;
    top: 18px;
    width: 1838px;
    height: 26px;
    color: rgba(240, 240, 240, .3);
    text-align: left;
    font-size: 26px;
    line-height: 26px;
    font-family: "RixHead L";
}

div.vod.kids .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .recommendTitle {
    color: rgba(255, 255, 255, .5);
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .contextArea {
    position: absolute;
    left: 1657px;
    top: 449px;
    width: 181px;
    height: 27px;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .contextArea .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 33px;
    height: 27px;
    background-image: url(../../resource/icon_option_related.png);
    background-size: 33px 27px;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .contextArea .text {
    position: absolute;
    top: 1px;
    left: 45px;
    color: white;
    width: 136px;
    height: 26px;
    font-size: 26px;
    line-height: 26px;
    font-family: "RixHead L";
    opacity: .3;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .recommendArrow {
    position: absolute;
    left: 860px;
    width: 36px;
    height: 21px;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .recommendArrow.up {
    top: 16px;
    background-image: url(../../resource/arw_related_up.png);
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .etcInfo .recommendArrow.dw {
    top: 475px;
    background-image: url(../../resource/detail/arw_related_dw.png);
}

/*
포스터 영역
 */
div.vod .detail_bottom .tabDetailArea.RECOMMEND .recommendArea {
    position: absolute;
    overflow: hidden;
    left: -82px;
    top: 14px;
    width: 1920px;
    height: 402px;
    /*transition: -webkit-transform .5s;*/
}

div.vod .detail_bottom.show .tabDetailArea.RECOMMEND .recommendArea {
    -webkit-transform: translateY(46px) translateZ(0);
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .recommendArea .recommendPage {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 1920px;
    height: 402px;
    -webkit-transform: translateZ(0);
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .recommendArea .recommendPage .recommendRightDim {
    position: absolute;
    left: 1783px;
    top: 20px;
    width: 137px;
    height: 260px;
    content: url(../../resource/dim_related_right_h300.png);
    -webkit-transform: translateZ(0);
    display: inherit;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .recommendArea .recommendPage .recommendRightDim.hide {
    display: none;
}

div.vod .detail_bottom .tabDetailArea.RECOMMEND .content.poster_vertical * {
    overflow: visible;
}

div.vod .detail_bottom .tabDetailArea .posterList {
    position: absolute;
    left: -167px;
    top: 0;
    height: 402px;
    width: 3888px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s;
}

div.vod .detail_bottom .tabDetailArea .posterList.moved {
    -webkit-transform: translateX(-1701px) translateZ(0);
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical {
    margin-top: 14px;
    margin-right: 49px;
    width: 194px;
    height: 272px;
    display: inline-block;
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical .content {
    width: 182px;
    height: 260px;
    border: 6px solid transparent;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
    display: inherit;
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical.hide .content {
    display: none;
}

div.vod .bottomArea .content.poster_vertical .posterImg {
    position: absolute;
    width: 182px;
    height: 260px;
    -webkit-transform: translateZ(0);
}

div.vod .bottomArea .content.poster_vertical .posterLockImg {
    position: absolute;
    width: 182px;
    height: 260px;
    display: none;
    -webkit-transform: translateZ(0);
    content: url(../../resource/detail/img_vod_locked_big.png);
}

div.vod .bottomArea .content.poster_vertical .posterIconArea {
    position: absolute;
    right: 0;
    width: 73px;
    height: 85px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod .bottomArea .content.poster_vertical .newHotIconArea {
    position: absolute;
    left: 0;
    margin-left: -5px;
    margin-top: -3px;
    width: 106px;
    height: 106px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod .bottomArea .content.poster_vertical .posterIconArea img {
    margin-bottom: -7px;
    margin-left: 4px;
    margin-top: -3px;
    display: block;
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical .contentsData {
    position: absolute;
    margin-top: 280px;
    width: 182px;
    display: none;
}

div.vod .detail_bottom.show .tabDetailArea .content.poster_vertical .contentsData {
    display: inherit;
}

div.vod .detail_bottom .tabDetailArea .posterList .content.poster_vertical .posterTitle {
    color: white;
    font-size: 27px;
    line-height: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: "RixHead L";
    margin: -2px 0;
    opacity: .5;
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical .posterTitle {
    opacity: .7;
}

div.vod .detail_bottom .tabDetailArea .posterList .content.poster_vertical .posterDetail {
    display: block;
    margin-top: 16px;
    height: 36px;
    white-space: nowrap;
    opacity: 0;
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical .posterDetail {
    opacity: 0.99;
    -webkit-transform: scale(0.9) translateX(-8px);
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical .posterDetail * {
    vertical-align: top;
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical .stars {
    display: none;
    margin-right: 5px;
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical .stars img {
    margin-top: 1px;
    margin-right: 4px;
}

div.vod .detail_bottom .tabDetailArea .posterList .content.poster_vertical .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
    opacity: .5;
}

div.vod .detail_bottom .tabDetailArea .posterList .content.poster_vertical .isfreeIcon {
    width: 32px;
    height: 32px;
    margin-top: -6px;
    margin-right: 7px;
    content: url(../../resource/detail/icon_buy.png);
}

div.vod .detail_bottom .tabDetailArea .content.poster_vertical .age {
    width: 32px;
    height: 32px;
    margin-top: -6px;
}

/*
 * 포커스
 */

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .content {
    border-color: #D2332F;
    -webkit-transform: scale(1.1);
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .posterDetail {
    margin-top: 11px;
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .stars {
    display: inline-block;
    margin-right: 9px;
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .posterTitle {
    opacity: 1;
    font-family: "RixHead M";
    text-overflow: inherit;
}

div.vod .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .posterTitle span {
    display: inline-block;
}

div.vod .detail_bottom .tabDiv .tabDetailArea.RECOMMEND .noData {
    top: 107px;
    transition: -webkit-transform 0.5s;
}

div.vod .detail_bottom.show .tabDiv .tabDetailArea.RECOMMEND .noData {
    -webkit-transform: translateY(115px);
}

div.vod .detail_bottom .tabDiv .tabDetailArea.RECOMMEND .noData .text {
    top: 0;
    opacity: .2;
    transition: opacity 0.5s;
}

div.vod .detail_bottom.show .tabDiv .tabDetailArea.RECOMMEND .noData .text {
    opacity: .7;
}

/*
시리즈 상세화면 함많본
*/

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_bottom_dim {
    position: absolute;
    top: 151px;
    left: -547px;
    height: 192px;
    width: 1589px;
    background-size: 1589px 192px;
    background-image: url(../../resource/dim_thum_related_btm.png);
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_recommendArea {
    position: absolute;
    top: 105px;
    left: 0;
    height: 236px;
    width: 960px;
    white-space: nowrap;
    overflow: hidden;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_recommendArea .content.poster_vertical {
    margin-top: 0;
    margin-right: 78px;
    width: 182px;
    height: 280px;
    display: inline-block;
    -webkit-transform: translateZ(0);
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_recommendArea .content.poster_vertical .posterLockImg {
    top: 0;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_recommendArea .content.poster_vertical .posterIconArea {
    top: 0;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_recommendArea .content.poster_vertical .newHotIconArea {
    top: 0;
}

div.vod_detail_series_layer.vod .bottomArea .series_bottom .series_recommendArea .noDataText {
    position: absolute;
    top: 42px;
    left: 331px;
    height: 27px;
    width: auto;
    color: white;
    opacity: .2;
    text-align: left;
    font-size: 27px;
    line-height: 27px;
    font-family: "RixHead L";
}