div.vod.kids .detail_bottom.show {
    -webkit-transform: translateY(-205px) translateZ(0);
}

div.vod.kids .bottomArea .bottomDim {
    top: 912px;
    height: 168px;
    background-image: url(../../resource/kids/dim_category_kids_btm.png);
}

div.vod.kids .series_bottom {
    border-top: solid 2px rgba(255, 255, 255, 0.5);
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}

div.vod.kids .series_bottom .tabName {
    color: rgb(240, 240, 240);
    opacity: .7;
}

div.vod.kids .detail_bottom .dim {
    top: -236px;
    background-image: url(../../resource/kids/dim_detail_kids_related.png);
}

div.vod.kids .detail_bottom .tabDiv {
    top: 225px;
}

div.vod.kids .detail_bottom .tabDiv .tabArea .tab.focus {
    border-color: #FFB32E;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .noData {
    position: absolute;
    top: 80px;
    width: 1756px;
    height: 136px;
    transition: -webkit-transform .5s;
}

div.vod.kids .detail_bottom.show .tabDiv .tabDetailArea .noData {
    -webkit-transform: translateY(83px);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .noData .icon {
    background-image: url(../../resource/detail/icon_noresult_kids.png);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .rightDim {
    background-image: url(../../resource/kids/dim_detail_related_right_kids.png);
}

div.vod.kids .detail_bottom .tabDetailArea.RECOMMEND .recommendArea .recommendPage .recommendRightDim {
    content: url(../../resource/detail/dim_detail_related_right_kids.png);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox {
    border: solid 2px rgb(30, 79, 119);
    background: linear-gradient(to bottom, rgb(40, 85, 129), rgb(31, 77, 126));
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh {
    width: 381px;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox {
    position: relative;
    width: 496px;
    height: 358px;
    background-color: #2D2D2D;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus {
    border-color: #FFB32E;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox {
    background: #1B3752;
    border-color: transparent;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .expert {
    color: rgba(240, 240, 240, 0.8);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .mLine {
    background-color: #FFFFFF;
    opacity: .12;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox .detailText {
    color: rgba(240, 240, 240, 0.7);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ollehText {
    opacity: .8;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ollehText {
    color: white;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .ratingText {
    opacity: .7;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv.focus .starBox.olleh .ratingText {
    color: white;
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton {
    background-color: #FFB32E;
    border: solid 2px rgb(85, 121, 157);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton .btnText {
    color: #513300;
    font-family: "RixHead M";
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea .starArea .starDiv .starBox.olleh .myPointButton .btnText.sdw {
    color: rgba(0, 0, 0, 0);
    font-family: "RixHead M";
}

div.vod.kids .detail_bottom .tabDetailArea.ADDITIONAL .additionalArea .additional.focus .addThumb {
    border-color: #FFB32E;
    -webkit-transform: scale(1.1);
}

div.vod.kids.additional_still .thumbListArea .thumbList .thumb.focus {
    border-color: #FFB32E;
    -webkit-transform: scale(1.1);
}

div.vod.kids .detail_bottom .tabDetailArea .posterList.focus .content.poster_vertical.focus .content {
    border-color: #FFB32E;
    -webkit-transform: scale(1.1);
}

div.vod_detail_series_layer.vod.kids .bottomArea .series_bottom .series_bottom_dim {
    background-image: url(../../resource/kids/dim_detail_kids_btm.png);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea.RECOMMEND .noData {
    position: absolute;
    left: 0;
    top: 80px;
    width: 1756px;
    height: 136px;
    transition: -webkit-transform .5s;
}

div.vod.kids .detail_bottom.show .tabDiv .tabDetailArea.RECOMMEND .noData {
    -webkit-transform: translateY(83px);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea.RECOMMEND .noData .icon {
    position: absolute;
    left: 837px;
    top: 0;
    width: 82px;
    height: 76px;
    background-image: url(../../resource/detail/icon_noresult_kids.png);
}

div.vod.kids .detail_bottom .tabDiv .tabDetailArea.RECOMMEND .noData .text {
    position: absolute;
    top: 103px;
    width: 1756px;
    text-align: center;
    font-size: 33px;
    color: white;
    opacity: .7;
    font-family: "RixHead L";
}

div.vod_detail_series_layer.vod.kids .bottomArea .series_bottom .bottom_relation_area span {
    opacity: 0.8;
}