.adultCheckingPopup .text_white_center_42M {
    position: absolute;
    top: 420px;
}

.adultCheckingPopup .adultInputPassword_area {
    position: absolute;
    left: 750px;
    top: 543px;
}

.adultCheckingPopup .adultInputPassword_area .adultInputPassword_default_text {
    position: absolute;
    left: 147px;
    top: 22px;
    font-size: 42px;
    color: white;
    letter-spacing: 11px;
    opacity: 0.2;
}

.adultCheckingPopup .adultInputPassword_area .adultInputPassword_input_text {
    position: absolute;
    left: 147px;
    top: 22px;
    font-size: 42px;
    color: white;
    letter-spacing: 11px;
}

.adultCheckingPopup .oneBtnArea_280 {
    position: absolute;
    top: 672px;
}