.alertSoundAudioPopup .alertPopupBG_l_img {
    position: absolute;
    left: 473px;
    top: 248px;
}

.alertSoundAudioPopup .alertPopupBG_m_img {
    position: absolute;
    left: 522px;
    top: 248px;
    height: 550px;
    width: 877px;
}

.alertSoundAudioPopup .alertPopupBG_r_img {
    position: absolute;
    left: 1399px;
    top: 248px;
}

.alertSoundAudioPopup .alertPopupNum_1_img {
    position: absolute;
    left: 615px;
    top: 443px;
}

.alertSoundAudioPopup .alertPopupNum_2_img {
    position: absolute;
    left: 615px;
    top: 535px;
}

.alertSoundAudioPopup .text_white_center_42M {
    position: absolute;
    top: 336px;
}

.alertSoundAudioPopup .text_white_left_30L:nth-child(even) {
    position: absolute;
    top: 445px;
    left: 670px;
    opacity: 0.9;
}

.alertSoundAudioPopup .text_white_left_30L:nth-child(odd) {
    position: absolute;
    top: 538px;
    left: 670px;
    opacity: 0.9;
}

.alertSoundAudioPopup .text_white_center_27L {
    position: absolute;
    top: 674px;
    opacity: 0.5;
}

.alertSoundAudioPopup .oneBtnArea_280 {
    position: absolute;
    top: 835px;
}