.allResetCheckingPopup .text_white_center_52M {
    position: absolute;
    top: 471px;
}

.allResetCheckingPopup .text_white_center_38L {
    position: absolute;
    top: 563px;
}

.allResetCheckingPopup .twoBtnArea_280 {
    position: absolute;
    top: 661px;
}

.allResetCheckingPopup .whiteBtn {
    position: absolute;
    background-color: white;
    left: 820px;
    top: 640px;
    width: 280px;
    height: 62px;
}

.allResetCheckingPopup .whiteBtn .text_black_center_30L {
    position: absolute;
    width: 280px;
    top: 16px;
}