.setting.gniPopup.auchCheckPassword {
    position: absolute;
}

.setting.gniPopup.auchCheckPassword title {
    position: absolute;
    top: 345px;
}

.setting.gniPopup.auchCheckPassword kids_title {
    position: absolute;
    top: 365px;
}

.setting.gniPopup.auchCheckPassword .text_white_center_42M {
    position: absolute;
    top: 418px;
    line-height: 42px;
}

.setting.gniPopup.auchCheckPassword .text_white_center_27L {
    position: absolute;
    top: 483px;
}


.setting.gniPopup.auchCheckPassword .text_password_check_fail_white_center_42M {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 52px;
    width: 100%;
    top: 418px;
    line-height: 42px;
}

.setting.gniPopup.auchCheckPassword .kids_mode_exit_logo_img {
    position: absolute;
    left: 870px;
    top:300px;
    width:181px;
    height:46px;

}




.setting.gniPopup.auchCheckPassword .passwordArea {
    position: absolute;
    left: 750px;
    top : 543px;
    width: 420px;
    height: 70px;
}

.setting.gniPopup.auchCheckPassword .passwordArea .inputBox {
    position: absolute;
    width: 420px;
    height: 70px;
    top : 0;
    left: 0;
    opacity: .3;
    background-image: url(../../../images/inputbox_unfocus/pop_pw_box_w420.png);
}

.setting.gniPopup.auchCheckPassword .passwordArea.focus .inputBox {
    opacity: 1;
    background-image: url(../../../images/pop_pw_box_w420.png);
}

.setting.gniPopup.auchCheckPassword .passwordArea .password {
    position: absolute;
    color: white;
    opacity: .2;
    text-align: Left;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 42px;
    width: 100%;
    top: 22px;
    left: 153px;
}

.setting.gniPopup.auchCheckPassword .passwordArea.focus .password.fill {
    opacity: 1;
}

.setting.gniPopup.auchCheckPassword .passwordArea .password.fill {
    opacity: 1;
}


.setting.gniPopup.auchCheckPassword .oneBtnArea_280 {
    position: absolute;
    left:820px;
    top: 672px;
    width:280px;
    height:68px;
}


.setting.gniPopup.auchCheckPassword.onKidsMode .passwordArea {
    position: absolute;
    left: 668px;
    top : 578px;
    width: 584px;
    height: 80px;
}

.setting.gniPopup.auchCheckPassword.onKidsMode .passwordArea .inputBox {
    position: absolute;
    width: 584px;
    height: 80px;
    top : 0;
    left: 0;
    opacity: .3;
    background-image: url(../../../images/kids_pw.png);
}

.setting.gniPopup.auchCheckPassword.onKidsMode .passwordArea.focus .inputBox {
    opacity: 1;
    background-image: url(../../../images/kids_pw.png);

    outline: #FFB32E 6px solid;
    outline-offset: -6px;
}

.setting.gniPopup.auchCheckPassword.onKidsMode .passwordArea .password {
    position: absolute;
    color: white;
    opacity: .2;
    text-align: Left;
    font-family: "RixHead M";
    font-size: 48px;
    line-height: 48px;
    width: 100%;
    top: 25px;
    left: 230px;
}

.setting.gniPopup.auchCheckPassword.onKidsMode .passwordArea.focus .password.fill {
    opacity: 1;
}

.setting.gniPopup.auchCheckPassword.onKidsMode .passwordArea .password.fill {
    opacity: 1;
}
