.setting.gniPopup.btDeviceConnectFail {
    position: absolute;
}

.setting.gniPopup.btDeviceConnectFail title {
    position: absolute;
    top: 353px;
}

.setting.gniPopup.btDeviceConnectFail .text_white_center_52M {
    position: absolute;
    top: 423px;
}

.setting.gniPopup.btDeviceConnectFail .text_white_center_38L {
    position: absolute;
    top: 509px;
}

.setting.gniPopup.btDeviceConnectFail .text_white_center_30L {
    position: absolute;
    top: 566px;
    opacity: .5;
}

.setting.gniPopup.btDeviceConnectFail .twoBtnArea_280 {
    position: absolute;
    top: 664px;
}
