.bluetooth_sound_setting_popup {
    display: table;
}

.bluetooth_sound_setting_popup .popup_contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.bluetooth_sound_setting_popup .popup_contents .text1 {
    display:block;
    color: white;
    font-size:38px;
    margin-top: 39px;
    margin-bottom: 56px;
    font-family: "RixHead M";
}

.bluetooth_sound_setting_popup .popup_contents .text2 {
    display: block;
    color: rgba(255,255,255,.5);
    font-size: 27px;
    font-family: "RixHead L";
    margin-top: 55px;
}

/**********************
      Button Area
**********************/

.bluetooth_sound_setting_popup .popup_contents .btn_area {
    width: inherit;
    height: 228px;
    text-align: center;
}

.bluetooth_sound_setting_popup .popup_contents .btn_list {
    position: absolute;
    width: inherit;
    height:inherit;
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn {
    display: inline-block;
    width: 255px;
    height: 228px;
    background: url(../../../images/setting/pop_op_w255.png);
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn .icon {
    position: absolute;
    top: 28px;
    width: 255px;
    height: 114px;
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn_1 .icon {
    background: url(../../../images/icon/icon_sound_setting1.png);
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn_2 .icon {
    background: url(../../../images/icon/icon_sound_setting2.png);
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn .label {
    position: absolute;
    top: 162px;
    margin-left: 15px;
    width: 225px;
    height: 50px;
    background: rgba(255,255,255,.1);
    line-height: 50px;
    text-align: center;
    font-size: 27px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.5);
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn.focus .bg{
    /*background: white;*/
    /*border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;*/
    border: 6px solid rgb(210,51,47);
}

.bluetooth_sound_setting_popup .popup_contents .btn_area .btn.focus .label {
    background: rgb(210,51,47);
    font-family: "RixHead M";
    color: white;
}