.setting.gniPopup.btDeviceDelete {
    position: absolute;
}

.setting.gniPopup.btDeviceDelete title {
    position: absolute;
    top: 393px;
}

.setting.gniPopup.btDeviceDelete .text_white_center_42M {
    position: absolute;
    top: 466px;
    line-height: 45px;
}

.setting.gniPopup.btDeviceDelete .twoBtnArea_280 {
    position: absolute;
    top: 624px;
}