.setting.gniPopup.btOneBtnPopup {
    position: absolute;
}

.setting.gniPopup.btOneBtnPopup title {
    position: absolute;
    top: 378px;
}

.setting.gniPopup.btOneBtnPopup .text_white_center_52M {
    position: absolute;
    top: 447px;
}

.setting.gniPopup.btOneBtnPopup .text_white_center_38L {
    position: absolute;
    top: 534px;
}

.setting.gniPopup.btOneBtnPopup .whiteBtn {
    position: absolute;
    background-color: rgb(210,51,47);
    left: 820px;
    top: 640px;
    width: 280px;
    height: 62px;
}

.setting.gniPopup.btOneBtnPopup .whiteBtn .text_black_center_30L {
    position: absolute;
    width: 280px;
    top: 16px;
}