.bluetooth_device_search_popup {
    display: table;
}

.bluetooth_device_search_popup .popup_contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.bluetooth_device_search_popup .popup_contents .text1 {
    display:block;
    color: white;
    font-size:38px;
    margin-top: 39px;
    margin-bottom: 20px;
    font-family: "RixHead M";
}

/**********************
      Contents Box
**********************/
.bluetooth_device_search_popup .popup_contents .contents_box {
    width: 654px;
    height: 334px;
    margin-left: auto;
    margin-right: auto;
}

.bluetooth_device_search_popup .popup_contents .contents_box > .contents {
    position: absolute;
    display: none;
    width: inherit;
    height: inherit;
}

.bluetooth_device_search_popup .popup_contents .contents_box > .contents.show {
    display: inherit;
}

/** Background Area **/
.bluetooth_device_search_popup .popup_contents .bg_area {
    position: absolute;
    left: 652px;
    top: 399px;
    width: 616px;
    height: 296px;
    background-color: rgba(51,51,51,0.95);
}

.bluetooth_device_search_popup .popup_contents .bg_area .bg_left {
    display: inline-block;
    background: url(../../../images/pop_bg_bluetooth_l.png);
    width: 49px;
    height: 334px;
}

.bluetooth_device_search_popup .popup_contents .bg_area .bg_middle {
    display: inline-block;
    background: url(../../../images/pop_bg_bluetooth_m.png);
    width: 556px;
    height: 334px;
}

.bluetooth_device_search_popup .popup_contents .bg_area .bg_right {
    display: inline-block;
    background: url(../../../images/pop_bg_bluetooth_r.png);
    width: 49px;
    height: 334px;
}


/** Loading Area **/
/*
.bluetooth_device_search_popup .popup_contents .loading_area .loading_center {
    position: absolute;
    left: 246px;
    top: 88px;
    width: 163px;
    height: 163px;
    background: url(../../../images/searching_center.png);
}
*/

.bluetooth_device_search_popup .popup_contents .loading_area .loading_img {
    position: absolute;
    left: 246px;
    top: 88px;
    width: 163px;
    height: 163px;
}

/** Notice Area **/
.bluetooth_device_search_popup .popup_contents .notice_area .notice_icon {
    position: absolute;
    left: 285px;
    top: 100px;
    width: 82px;
    height: 76px;
    background: url(../../../images/icon/icon_noresult.png);
}
.bluetooth_device_search_popup .popup_contents .notice_area .notice_text {
    display: block;
    color:rgba(255,255,255,.7);
    font-size: 33px;
    margin-top: 203px;
    font-family: "RixHead L";
    letter-spacing: -1.65px;
}

/** List Area **/
.bluetooth_device_search_popup .popup_contents .list_area .item_list {
    position:absolute;
    top: 51px;
    left: 67px;
}
.bluetooth_device_search_popup .popup_contents .list_area .item_list li {
    display: block;
    width: 481px;
    padding-top: 11px;
    padding-bottom: 10px;
    border-bottom: 2px rgba(255,255,255,.1) solid;
}

.bluetooth_device_search_popup .popup_contents .list_area .item_list li:nth-child(3) {
    border-bottom: none;
}

.bluetooth_device_search_popup .popup_contents .list_area .item_list li div.item {
    display: table;
    height: 55px;
    vertical-align: top;
}

.bluetooth_device_search_popup .popup_contents .list_area .item_list .item .item_icon {
    display: table-cell;
    width: 55px;
    height: 55px;
    opacity: .5;
}

.bluetooth_device_search_popup .popup_contents .list_area .item_list .item .item_name {
    display: table-cell;
    text-align: left;
    width: 401px;
    height:55px;
    line-height: 55px;
    padding-left: 25px;
    color: rgba(255,255,255,.7);
    font-size: 26px;
    font-family: "RixHead L";
    position: absolute;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.bluetooth_device_search_popup .popup_contents .list_area .item_list .item.focus .item_icon {
    opacity: 1;
}

.bluetooth_device_search_popup .popup_contents .list_area .item_list .item.focus .item_name {
    color: white;
    font-family: "RixHead M";
}

.bluetooth_device_search_popup .popup_contents .list_area .page_indicator_bg {
    position: absolute;
    left: 583px;
    top: 50px;
    height: 234px;
    width: 3px;
    background: rgba(255,255,255,.15);
}

.bluetooth_device_search_popup .popup_contents .list_area .page_indicator_bar {
    position: absolute;
    left: 582px;
    top: 50px;
    width: 5px;
    height: 123px;
    background: #AAAAAA;
}

.bluetooth_device_search_popup .popup_contents .list_area .focus_box {
    position: absolute;
    border-top: 5px solid rgb(210,51,47);
    border-bottom: 5px solid rgb(210,51,47);
    height: 74px;
    width:481px;
    left: 67px;
    top: 47px;
}
/**********************
      Button Area
**********************/
.bluetooth_device_search_popup .popup_contents .btn_area {
    margin-top: 51px;
    margin-left: 665px;
    width: 590px;
    height: 62px;
    text-align: center;
}

.bluetooth_device_search_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../../images/popup/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
    letter-spacing: -1.5px;
}

/*.bluetooth_device_search_popup .popup_contents .btn_area .buttonLine {*/
    /*position: absolute; left: 7px; top: 0px; width: 280px; height: 62px;*/
/*}*/

/*.bluetooth_device_search_popup .popup_contents .btn_area .buttonLine.focus{*/
    /*box-sizing: border-box; border-top: solid 5px rgb(209,67,63); border-bottom: solid 5px rgb(209,67,63);*/
/*}*/

.bluetooth_device_search_popup .popup_contents .btn_area btn.focus {
    background: rgb(210,51,47);
    color: white;
    font-family: "RixHead M";
}

/**********************
         Icon
**********************/
.bluetooth_device_search_popup .popup_contents .list_area .item_list .item .item_icon.audio {
    background: url(../../../images/icon/icon_bt_audio.png);
}
.bluetooth_device_search_popup .popup_contents .list_area .item_list .item .item_icon.headset {
    background: url(../../../images/icon/icon_bt_headset.png);
}
.bluetooth_device_search_popup .popup_contents .list_area .item_list .item .item_icon.keyboard {
    background: url(../../../images/icon/icon_bt_keyboard.png);
}
.bluetooth_device_search_popup .popup_contents .list_area .item_list .item .item_icon.mouse {
    background: url(../../../images/icon/icon_bt_mouse.png);
}
