.setting.gniPopup.changeBuyPassword {
    position: absolute;
}

.setting.gniPopup.changeBuyPassword title {
    position: absolute;
    top: 313px;
}

.setting.gniPopup.changeBuyPassword .text_white_center_38M {
    position: absolute;
    top: 393px;
    line-height: 52px;
}

.setting.gniPopup.changeBuyPassword .text_white_center_33L {
    position: absolute;
    top: 516px;
}

.setting.gniPopup.changeBuyPassword .passwordArea {
    position: absolute;
    left: 750px;
    top : 520px;
    width: 420px;
    height: 70px;
}

.setting.gniPopup.changeBuyPassword .passwordArea .inputBox {
    position: absolute;
    width: 420px;
    height: 70px;
    top : 0;
    left: 0;
    opacity: .3;
    background-image: url(../../../images/inputbox_unfocus/pop_pw_box_w420.png);
}

.setting.gniPopup.changeBuyPassword .passwordArea.focus .inputBox {
    opacity: 1;
    background-image: url(../../../images/pop_pw_box_w420.png);
}

.setting.gniPopup.changeBuyPassword .passwordArea .password {
    position: absolute;
    color: white;
    opacity: .2;
    text-align: Left;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 42px;
    width: 100%;
    top: 22px;
    left: 153px;
}

.setting.gniPopup.changeBuyPassword .passwordArea.focus .password.fill {
    opacity: 1;
}

.setting.gniPopup.changeBuyPassword .passwordArea .password.fill {
    opacity: 1;
}

.setting.gniPopup.changeBuyPassword .twoBtnArea_280 {
    position: absolute;
    top: 647px;
    left: 820px;
}