.setting.gniPopup.changePassword {
    position: absolute;
}

.setting.gniPopup.changePassword title {
    position: absolute;
    top: 252px;
}

.setting.gniPopup.changePassword .text_white_center_38M {
    position: absolute;
    top: 318px;
    line-height: 52px;
}

.setting.gniPopup.changePassword .text_white_left_30L {
    position: absolute;
    opacity: .7;
    left: 0;
    top: 15px;
}

.setting.gniPopup.changePassword .passwordArea {
    position: absolute;
    left: 638px;
    width: 643px;
    height: 70px;
}

.setting.gniPopup.changePassword .passwordArea.nowPassword {
    top: 456px;
}

.setting.gniPopup.changePassword .passwordArea.newPassword1 {
    top: 544px;
}

.setting.gniPopup.changePassword .passwordArea.newPassword2 {
    top: 632px;
}

.setting.gniPopup.changePassword .passwordArea .inputBox {
    position: absolute;
    width: 420px;
    height: 70px;
    top : 0;
    left: 223px;
    opacity: .3;
    background-image: url(../../../images/inputbox_unfocus/pop_pw_box_w420.png);
}

.setting.gniPopup.changePassword .passwordArea.focus .inputBox {
    opacity: 1;
    background-image: url(../../../images/pop_pw_box_w420.png);
}

.setting.gniPopup.changePassword .passwordArea .password {
    position: absolute;
    color: white;
    opacity: .2;
    text-align: Left;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 42px;
    width: 100%;
    top: 22px;
    left: 375px;

}

.setting.gniPopup.changePassword .passwordArea .password.fill {
    opacity: 1;
}

.setting.gniPopup.changePassword .passwordArea.focus .password.fill {
    opacity: 1;
}

.setting.gniPopup.changePassword .twoBtnArea_280 {
    position: absolute;
    top: 765px;
}
