@import "bluetooth_device_search_popup.css";
@import "bluetooth_sound_setting_popup.css";

@import "bluetooth_one_btn_popup.css";
@import "bluetooth_device_connect_fail_popup.css";
@import "bluetooth_device_delete_popup.css";
@import "change_password_popup.css";
@import "change_buy_password_popup.css";
@import "auth_check_password_popup.css";
@import "reset_complete_popup.css";
@import "reset_password_popup.css";
@import "resolution_uhd_popup.css";
@import "setLNB_popup.css";
@import "allResetChecking_popup.css";
@import "allResettingSystem_popup.css";
@import "adultCheckingPopup.css";
@import "wrongPassword_popup.css";
@import "uhdCheckingPopup.css";
@import "resolutionChange_popup.css";
@import "alertSoundAudioPopup.css";
@import "systemInfo_popup.css";

.setting.gniPopup {
    background-color: rgba(0, 0, 0, 0.9);
}

.setting.gniPopup .popup_contents {
    width: 1920px;
}

.setting.gniPopup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
    letter-spacing: -1.65px;
}

.setting.gniPopup kids_title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color:  #DDAF78;
    letter-spacing: -1.65px;
}

.setting.gniPopup .text_white_center_45M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 52px;
    width: 100%;
}

.setting.gniPopup .text_white_center_38M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    letter-spacing: -1.9px;
    line-height: 55px;
    width: 100%;
}

.setting.gniPopup .text_white_center_38L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 38px;
    line-height: 38px;
    width: 100%;
    letter-spacing: -1.9px;
}

.setting.gniPopup .text_white_center_52M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 52px;
    line-height: 32px;
    width: 100%;
    letter-spacing: -2.6px;
}

.setting.gniPopup .text_white_center_52L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}

.setting.gniPopup .text_white_left_30L {
    color: white;
    text-align: left;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    letter-spacing: -1.5px;
}

.setting.gniPopup .text_white_center_30L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    letter-spacing: -1.5px;
}

.setting.gniPopup .text_black_center_30M {
    color: black;
    text-align: center;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.setting.gniPopup .text_black_center_30L {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 30px;
    width: 100%;
}

.setting.gniPopup .text_white_center_33L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 33px;
    letter-spacing: -1.65px;
    line-height: 33px;
    width: 100%;
}

.setting.gniPopup .text_white_center_27L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 27px;
    line-height: 27px;
    letter-spacing: -1.35px;
    width: 100%;
}

.setting.gniPopup .text_white_center_45M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 45px;
    width: 100%;
}

.setting.gniPopup .text_white_center_42M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 42px;
    width: 100%;
    letter-spacing: -2.1px;
}

.setting.gniPopup .twoBtnArea_280 {
    left: 673px;
    width: 588px;
    height: 62px;
}

.setting.gniPopup .twoBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../../images/popup/pop_btn_w280.png);
}

.setting.gniPopup .twoBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
    /*transition: opacity .1s;*/
}

.setting.gniPopup .twoBtnArea_280 .btn.focus .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: rgb(210,51,47);
    opacity: 1;
    /*border-bottom : 5px solid rgb(209,67,63);*/
    /*border-top: 5px solid rgb(209,67,63);*/
    box-sizing: border-box;
}

.setting.gniPopup .twoBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.5px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}


.setting.gniPopup .twoBtnArea_280 .btn.focus .btnText {
    color: white;
    font-family: "RixHead M";
}

.setting.gniPopup .oneBtnArea_280 {
    left: 820px;
    width: 588px;
    height: 62px;
}

.setting.gniPopup .oneBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../../images/popup/pop_btn_w280.png);
}

.setting.gniPopup .oneBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
    border-bottom : 5px solid rgb(210,51,47);
    border-top: 5px solid rgb(210,51,47);
    box-sizing: border-box;
    /*transition: opacity .1s;*/
}

.setting.gniPopup .oneBtnArea_280 .btn.focus .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: rgb(210,51,47);
    opacity: 1;
}

.setting.gniPopup .oneBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

.setting.gniPopup .oneBtnArea_280 .btn.focus .btnText {
    font-family: "RixHead M";
    color: white;
}