.setting.gniPopup.resetComplete {
    position: absolute;
}

.setting.gniPopup.resetComplete title {
    position: absolute;
    top: 374px;
}

.setting.gniPopup.resetComplete .text_white_center_45M {
    position: absolute;
    top: 444px;
}

.setting.gniPopup.resetComplete .text_white_center_33L {
    position: absolute;
    top: 513px;
    line-height: 37px;
}

.setting.gniPopup.resetComplete .whiteBtn {
    position: absolute;
    background-color: rgb(210,51,47);
    left: 820px;
    top: 646px;
    width: 280px;
    height: 62px;
}

.setting.gniPopup.resetComplete .whiteBtn .text_black_center_30L {
    position: absolute;
    width: 280px;
    top: 16px;
}