div.setting.reset_password_popup {
    display: table;
}

div.setting.reset_password_popup .popup_contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*******************
    Contents Area
 *******************/
div.setting.reset_password_popup .contents_area {
    width: 954px;
    height: 566px;
    margin: 29px auto 37px auto;
}

/** Background Area **/
div.setting.reset_password_popup .contents_area .background_area {
    position: absolute;
    width: 954px;
    height: 556px;
    z-index: -1;
}

div.setting.reset_password_popup .contents_area .background_area .background_left {
    width: 49px;
    height: 556px;
    background: url(../../../images/popup/pop_bg_pwreset_l.png);
    float: left;
}

div.setting.reset_password_popup .contents_area .background_area .background_mid {
    width: 856px;
    height: 556px;
    background: url(../../../images/popup/pop_bg_pwreset_m.png);
    float: left;
}

div.setting.reset_password_popup .contents_area .background_area .background_right {
    width: 49px;
    height: 556px;
    float: left;
    background: url(../../../images/popup/pop_bg_pwreset_r.png);
}

/** Content Area **/
div.setting.reset_password_popup .content_area {
    text-align: left;
    padding-left: 101px;
    padding-right: 101px;
    overflow: hidden;
}

div.setting.reset_password_popup .content_area .user_name_area {
    height: 36px;
    color: white;
    font-size: 38px;
    margin-top: 78px;
    text-align: center;
    overflow: visible;
}

div.setting.reset_password_popup .content_area .mobile_brand_area {
    margin-top: 37px;
    height: 70px;
}

div.setting.reset_password_popup .content_area checkbox {
    width: 138px;
    height: 70px;
    background: url(../../../images/popup/pop_btn_w158.png);
    color: rgba(255,255,255,.7);
    display: inline-block;
    margin-right: 8px;
    line-height: 70px;
    text-align: left;
    font-size: 30px;
    padding-left: 20px;
    white-space: nowrap;
}

div.setting.reset_password_popup .content_area checkbox text{
    width: 87px;
    display: inline-block;
    float: left
}

div.setting.reset_password_popup .content_area checkbox::after {
    content: url(../../../images/popup/option_dropbox_select.png);
    margin-top: 13px;
    display: inline-block;
    visibility: hidden;
}

div.setting.reset_password_popup .content_area checkbox.select::after {
    visibility: visible;
}

div.setting.reset_password_popup .content_area checkbox.focus {
    background:white;
    color: #49443C;
}

div.setting.reset_password_popup .content_area checkbox.focus::after {
    content: url(../../../images/popup/option_dropbox_select_f.png);
}

div.setting.reset_password_popup .content_area dropbox {
    display: inline-block;
    background: url(../../../images/popup/pop_btn_w254.png);
    color: rgba(255,255,255,.7);
    width: 234px;
    height: 70px;
    padding-left: 20px;
    text-align: left;
    line-height: 70px;
    font-size: 30px;
    overflow: hidden;
}

div.setting.reset_password_popup .content_area dropbox text {
    display: inline-block;
    width:183px;
    float: left;
}

div.setting.reset_password_popup .content_area dropbox::after {
    content: url(../../../images/popup/arw_option_popup_dw.png);
    margin-top: 13px;
    display: inline-block;
}

div.setting.reset_password_popup .content_area dropbox.focus {
    background: white;
    color: #49443C;
}

div.setting.reset_password_popup .content_area dropbox.focus::after {
    content: url(../../../images/popup/arw_option_popup_dw_f.png);
}

div.setting.reset_password_popup .content_area dropbox.select::after {
    content: url(../../../images/popup/option_dropbox_select.png);
}

div.setting.reset_password_popup .content_area dropbox.select.focus::after {
    content: url(../../../images/popup/option_dropbox_select_f.png);
}

div.setting.reset_password_popup .content_area subtitle {
    width: 216px;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    text-align: left;
    vertical-align: top;
    color: rgba(255,255,255,.7);
}

div.setting.reset_password_popup .content_area .phone_num_area {
    margin-top: 18px;
    line-height: 70px;
    height: 70px;
    vertical-align: top;
    white-space: nowrap;
}

div.setting.reset_password_popup .content_area .birthday_area {
    margin-top: 18px;
    line-height: 70px;
    height: 70px;
    vertical-align: top;
    white-space: nowrap;
}

div.setting.reset_password_popup .content_area .auth_num_area {
    margin-top: 18px;
    line-height: 70px;
    height: 70px;
    vertical-align: top;
    white-space: nowrap;
}

div.setting.reset_password_popup .content_area .input1 {
    display: inline-block;
    width: 158px;
    height: 70px;
    line-height: 70px;
    background: url(../../../images/popup/pop_input_box_w158.png);
    color: rgba(255,255,255,.7);
    opacity: .3;
}

div.setting.reset_password_popup .content_area .input2 {
    display: inline-block;
    width: 128px;
    height: 70px;
    line-height: 70px;
    background: url(../../../images/popup/pop_input_box_w128.png);
    color: rgba(255,255,255,.7);
    opacity: .3;
}

div.setting.reset_password_popup .content_area .input3 {
    display: inline-block;
    width: 284px;
    height: 70px;
    background: gray;
    margin-left: 10px;
    line-height: 70px;
    vertical-align: top;
    background: url(../../../images/popup/pop_pw_box_w284.png);
    color: rgba(255,255,255,.2);
    opacity: .3;
}

div.setting.reset_password_popup .content_area [class*="input"].focus {
    opacity: 1;
}

div.setting.reset_password_popup .content_area .button1 {
    display: inline-block;
    width: 240px;
    height: 70px;
    line-height: 70px;
    background: url(../../../images/popup/pop_btn_w240.png);
    color: rgba(255,255,255,.7);
    text-align: center;
    font-size: 28px;
    vertical-align: top;
}

div.setting.reset_password_popup .content_area .button1.focus {
    background: white;
    color: #49443C
}

div.setting.reset_password_popup .content_area .hyphen {
    display: inline-block;
    width: 12px;
    height: 4px;
    background: rgba(255,255,255,.5);
    vertical-align: top;
    margin: 33px 9px 33px 9px;
}

div.setting.reset_password_popup .content_area div[class*="_word"] {
    display: inline-block;
    width: 24px;
    height: 30px;
    margin: 19px 16px 20px 5px;
    line-height: 31px;
    vertical-align: top;
    font-size: 30px;
    color: rgba(255,255,255,.5);
}

div.setting.reset_password_popup .content_area div.year_word::after {
    content: "년";
}

div.setting.reset_password_popup .content_area div.month_word::after {
    content: "월";
}

div.setting.reset_password_popup .content_area div.date_word::after {
    content: "일";
}

/** DropBox Area **/
div.setting.reset_password_popup .content_area .dropboxArea {
    position: absolute;
    left: 1082px;
    top: 382px;
    width: 254px;
    overflow: visible;
    display: none;
}

div.setting.reset_password_popup .content_area .bg_area {
    position: absolute;
    left: -42px;
    top: -37px;
}

div.setting.reset_password_popup .content_area .bg_area .bg_top {
    width: 338px;
    height: 107px;
    background: url(../../../images/popup/pop_btn_w254_drop_sdw_top.png);
}

div.setting.reset_password_popup .content_area .bg_area .bg_mid {
    width: 338px;
    height: 136px;
    background: url(../../../images/popup/pop_btn_w254_drop_sdw_m.png);
}

div.setting.reset_password_popup .content_area .bg_area .bg_bottom {
    width: 338px;
    height: 115px;
    background: url(../../../images/popup/pop_btn_w254_drop_sdw_btm.png);
}

div.setting.reset_password_popup .content_area .dropboxArea checkbox {
    display: inline-block;
    background: url(../../../images/popup/pop_btn_w254.png);
    color: rgba(255,255,255,.7);
    width: 234px;
    height: 70px;
    padding-left: 20px;
    text-align: left;
    line-height: 70px;
    font-size: 30px;
    overflow: hidden;
    margin-bottom: -2px;
}

div.setting.reset_password_popup .content_area .dropboxArea checkbox text {
    display: inline-block;
    width:183px;
    float: left;
}

div.setting.reset_password_popup .content_area .dropboxArea checkbox text.small_text {
    font-size: 26px;
}

div.setting.reset_password_popup .content_area .dropboxArea checkbox.focus {
    background: white;
    color: #49443C
}

/** OpenDropbox **/
div.setting.reset_password_popup .openDropbox .content_area .mobile_brand_area ~ div[class$='_area'] {
    opacity: .3;
}

div.setting.reset_password_popup .openDropbox .content_area .dropboxArea {
    display: block;
}

div.setting.reset_password_popup .openDropbox .content_area dropbox {
    visibility: hidden;
}

/*******************
     Button Area
 *******************/
div.setting.reset_password_popup .popup_contents .btn_area {
    margin-top: 51px;
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.setting.reset_password_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../../images/popup/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.setting.reset_password_popup .popup_contents .btn_area btn.focus {
    background: white;
    color: #49443C;
    font-family: "RixHead M";
}
