.setting.gniPopup.resolutionUHD {
    position: absolute;
}

.setting.gniPopup.resolutionUHD title {
    position: absolute;
    top: 333px;
}

.setting.gniPopup.resolutionUHD .text_white_center_52L {
    position: absolute;
    top: 403px;
}

.setting.gniPopup.resolutionUHD .text_white_center_38L {
    position: absolute;
    top: 489px;
}

.setting.gniPopup.resolutionUHD .text_white_center_30L {
    position: absolute;
    top: 546px;
    line-height: 37px;
    opacity: .5;
}

.setting.gniPopup.resolutionUHD .twoBtnArea_280 {
    position: absolute;
    top: 685px;
}