.setting.gniPopup.setLNBPopup {
    position: absolute;
}

.setting.gniPopup.setLNBPopup title {
    position: absolute;
    top: 257px;
}

.setting.gniPopup.setLNBPopup .text_white_center_45M {
    position: absolute;
    top: 335px;
}

.setting.gniPopup.setLNBPopup .text_white_center_30L {
    position: absolute;
    top: 405px;
}

.setting.gniPopup.setLNBPopup .twoBtnArea_280 {
    position: absolute;
    top: 775px;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_area {
    position: absolute;
    left: 607px;
    top: 463px;
    width: 740px;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionTitle_area {
    width: 328px;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionTitle_area .setLNBPopup_optionDiv {
    width: 328px;
    height: 72px;
    margin-bottom: 13px;
    background-image: url(../../../images/pop_set_box_w328.png);
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionTitle_area .setLNBPopup_optionText {
    font-size: 34px;
    float: left;
    width: 328px;
    color: white;
    opacity: 0.5;
    margin-top: 19px;
    text-align: center;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area {
    position: absolute;
    width: 328px;
    right: 28px;
    top: 0px;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area .setLNBPopup_optionSelectDiv {
    position: relative;
    width: 328px;
    height: 72px;
    margin-bottom: 13px;
    background-image: url(../../../images/pop_set_sel_box_w328.png);
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area .setLNBPopup_optionSelectDiv.focus {
    background: rgb(210,51,47);
}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area .setLNBPopup_optionSelectText {
    width: 328px;
    margin-top: 19px;
    font-size: 34px;
    color: white;
    text-align: center;
    font-family: "RixHead L";

}

.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area .setLNBPopup_optionSelectText.focus {
    font-family: "RixHead M";
}

/*.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area .setLNBPopup_optionSelectLine {*/
    /*position: absolute; left: 0px; top: 0px; float: left; height: 72px; width: 328px;*/
/*}*/
/*.setting.gniPopup.setLNBPopup #setLNBPopup_optionSelect_area .setLNBPopup_optionSelectLine.focus{*/
    /*border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;*/
/*}*/

.setting.gniPopup.setLNBPopup #setLNBPopup_focus_area {
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 26px;
    width: 384px;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_focus_area.focus {
    visibility: inherit;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_focusArrow_left {
    float: left;
}

.setting.gniPopup.setLNBPopup #setLNBPopup_focusArrow_right {
    float: right;
}