.systemInfoPopup .text_white_center_52M {
    position: absolute;
    top: 471px;
}

.systemInfoPopup .text_white_center_38L {
    position: absolute;
    top: 563px;
}

.systemInfoPopup .twoBtnArea_280 {
    position: absolute;
    top: 661px;
}

.systemInfoPopup .whiteBtn {
    position: absolute;
    background-color: rgb(210,51,47);
    left: 820px;
    top: 580px;
    width: 280px;
    height: 62px;
}

.systemInfoPopup .whiteBtn .text_black_center_30L {
    position: absolute;
    width: 280px;
    top: 16px;
}