.uhdCheckingPopup .text_white_center_52M {
    position: absolute;
    top: 442px;
}

.uhdCheckingPopup .text_white_center_38L {
    position: absolute;
    top: 518px;
}

.uhdCheckingPopup .text_white_center_30L {
    position: absolute;
    top: 569px;
    opacity: 0.5;
}

.uhdCheckingPopup .twoBtnArea_280 {
    position: absolute;
    top: 685px;
}