.wrongPasswordPopup .text_white_center_42M {
    position: absolute;
    top: 450px;
}

.wrongPasswordPopup .text_white_center_33L {
    position: absolute;
    top: 511px;
}

.wrongPasswordPopup .twoBtnArea_280 {
    position: absolute;
    top: 619px;
}