@import "kidsInputPasswordPopup.css";
@import "kidsLimitWatchingPopup.css";
@import "kidsCharacterSettingPopup.css";
@import "kidsModeSettingPopup.css";
@import "kidsWatchingClosePopup.css";
@import "kidsBootingCheckPopup.css";
@import "kidsPasswordWrongPopup.css";
@import "kidsEditmode_delete_popup.css";
@import "kidsPlaylist_order_change_popup.css";
@import "kidsModeOffPopup.css";
@import "kidsEpgDetailPopup.css";
@import "kidsEpgRelatedPopup.css";
@import "kidswish_confirm_popup.css";
@import "kidsErrorPopup.css";
@import "toast.css";

.kidsPopup.gniPopup {
    background-color: rgba(0, 0, 0, .9);
    font-family: "RixHead L";
    letter-spacing: -0.05em;
}

.kidsPopup.gniPopup .popup_contents {
    width: 1920px;
}

.kidsPopup.gniPopup .kidsPopup_title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: rgb(98, 203, 226);
    letter-spacing: -0.99px;
}

.kidsPopup.gniPopup .text_white_center_33M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 33px;
    line-height: 38px;
    width: 100%;
    letter-spacing: -1.65px;
}

.kidsPopup.gniPopup .text_white_center_45M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 52px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_38M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 38px;
    line-height: 38px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_38L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 38px;
    line-height: 38px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_52M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_52L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 52px;
    line-height: 52px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_left_30L {
    color: white;
    text-align: left;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_30L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.kidsPopup.gniPopup .text_black_center_30M {
    color: black;
    text-align: center;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.kidsPopup.gniPopup .text_black_center_30L {
    color: black;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_33L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_45M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 45px;
    width: 100%;
}

.kidsPopup.gniPopup .text_white_center_42M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 52px;
    width: 100%;
    letter-spacing: -2.1px;
}

.kidsPopup.gniPopup .text_gray_center_27L {
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 27px;
    line-height: 38px;
    width: 100%;
    opacity: 0.3;
    letter-spacing: -1.35px;
}

.kidsPopup.gniPopup .text_gray_center_26M {
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 27px;
    line-height: 38px;
    width: 100%;
    opacity: 0.3;
}

.kidsPopup.gniPopup .oneBtnArea_280 {
    left: 820px;
    height: 62px;
}

.kidsPopup.gniPopup .oneBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/image/pop_btn_w280.png);
}

.kidsPopup.gniPopup .oneBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
    /*transition: opacity .1s;*/
}

.kidsPopup.gniPopup .oneBtnArea_280 .btn.focus .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: #FFB32E;
    opacity: 1;
}

.kidsPopup.gniPopup .oneBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

.kidsPopup.gniPopup .oneBtnArea_280 .btn.focus .btnText {
    color: rgb(81, 51, 0);
    font-family: "RixHead M";
}

.kidsPopup.gniPopup .twoBtnArea_280 {
    left: 673px;
    width: 588px;
    height: 62px;
}

.kidsPopup.gniPopup .twoBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/image/pop_btn_w280.png);
}

.kidsPopup.gniPopup .twoBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
    /*transition: opacity .1s;*/
}

.kidsPopup.gniPopup .twoBtnArea_280 .btn.focus .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: #FFB32E;
    opacity: 1;
}

.kidsPopup.gniPopup .twoBtnArea_280 .btn .btnText {
    position: absolute;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

.kidsPopup.gniPopup .twoBtnArea_280 .btn.focus .btnText {
    color: rgb(73, 68, 60);
    font-family: "RixHead M";
}

.kidsEpgRelatedMenu {
    opacity: 0;
    -webkit-transform: translateX(-749px);
    transition: opacity 0.5s, -webkit-transform 0.5s;
}

.kidsEpgRelatedMenu.show {
    -webkit-transform: translateX(-749px);
    opacity: 1;
}

.kidsHome.kidsPopup .rel_left_arrow {
    left: 1116px;
    position: fixed;
    top: 514px;
    background: url(../../resource/image/arw_view_l.png);
    width: 32px;
    height: 56px;
    z-index: 1;
}