.kidsPopup.gniPopup.kidsPasswordWrong .kidsPopup_decoration_img {
    position: absolute;
    left: 870px;
    top: 360px;
}

.kidsPopup.gniPopup.kidsPasswordWrong .kidsPopup_title {
    position: absolute;
    top: 424px;
}

.kidsPopup.gniPopup.kidsPasswordWrong .kidsPopup_subTitle_0 {
    position: absolute;
    top: 495px;
}

.kidsPopup.gniPopup.kidsPasswordWrong .kidsPopup_subTitle_1 {
    position: absolute;
    top: 566px;
}

.kidsPopup.gniPopup.kidsPasswordWrong .twoBtnArea_280 {
    position: absolute;
    top: 658px;
}
