div.kidsPopup.wish_confirm {
    background-color: rgba(0, 0, 0, 0.9);
}

div.kidsPopup.wish_confirm .title {
    position: absolute;
    top: 405px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.kidsPopup.wish_confirm .description {
    position: absolute;
    top: 482px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: white;
    font-family: "RixHead L";
}

div.kidsPopup.wish_confirm .buttonArea {
    position: relative;
    display: block;
    left: 673px;
    top: 613px;
    width: 588px;
    height: 62px;
    white-space: nowrap;
}

div.kidsPopup.wish_confirm .buttonArea .button {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    top: 0;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.kidsPopup.wish_confirm .buttonArea .button.focus {
    background-color: #D1433F;
    border: none;
    width: 280px;
    height: 62px;
}

div.kidsPopup.wish_confirm .buttonArea .button .text {
    position: absolute;
    top: 15px;
    width: 280px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.kidsPopup.wish_confirm .buttonArea .button.focus .text {
    top: 16px;
    margin-left: 1px;
    color: white;
    font-family: "RixHead M";
}