.kidsPopup.gniPopup.kidsModeOff .kidsPopup_decoration_img {
    position: absolute;
    top: 300px;
    left: 870px;
}

.kidsPopup.gniPopup.kidsModeOff .kidsPopup_title {
    position: absolute;
    top: 366px;
}

.kidsPopup.gniPopup.kidsModeOff .kidsPopup_subTitle {
    position: absolute;
    top: 442px;
}

.kidsPopup.gniPopup.kidsModeOff .kidsPopup_info {
    position: absolute;
    top: 514px;
}

.kidsPopup.gniPopup.kidsModeOff .kidsPopup_inputPasswordBG_img {
    position: absolute;
    top: 578px;
    left: 668px;
    opacity: 0.3;
}

.kidsPopup.gniPopup.kidsModeOff .kidsPopup_inputPasswordBG_img.focus {
    opacity: 1.0;
    outline: #FFB32E 6px solid;
    outline-offset: -6px;
}

.kidsPopup.gniPopup.kidsModeOff .oneBtnArea_280 {
    top: 718px;
    position: absolute;
}

.kidsPopup.gniPopup.kidsModeOff .passwordArea {
    position: absolute;
    left: 888px;
    top: 602px;
    font-size: 48px;
    color: white;
    font-family: "RixHead M";
    opacity: 0.3;
}

.kidsPopup.gniPopup.kidsModeOff .passwordArea .password {
    opacity: 0.2;
}

.kidsPopup.gniPopup.kidsModeOff .passwordArea .password.fill {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1.0;
}

.kidsPopup.gniPopup.kidsModeOff .passwordArea.focus {
    opacity: 1.0;
}