div.kids.kids_watchingClose_popup {
    background-color: rgba(0, 0, 0, .9);
}

div.kids.kids_watchingClose_popup .kids_closeTitle_img {
    position: absolute;
    left: 495px;
    top: 167px;
}

div.kids.kids_watchingClose_popup .kids_background_img_0 {
    position: absolute;
    left: 753px;
    top: 438px;
}

div.kids.kids_watchingClose_popup .kids_background_img_1 {
    position: absolute;
    left: 406px;
    top: 743px;
}

div.kids.kids_watchingClose_popup .kids_character_img {
    position: absolute;
    left: 829px;
    top: 429px;
}