.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_bg_l {
    position: absolute;
    left: 362px;
    top: 143px;
    width: 49px;
    height: 648px;
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_bg_m {
    position: absolute;
    left: 411px;
    top: 143px;
    width: 1097px;
    height: 648px;
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_bg_r {
    position: absolute;
    left: 1508px;
    top: 143px;
    width: 49px;
    height: 648px;
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_channelTitle_area {
    position: absolute;
    left: 411px;
    top: 295px;
    width: 1097px;
    height: 40px;
    text-align: center;
}

.kidsPopup.gniPopup.kidsEpgDetailPopup #epgTitle_channel_number {
    font-size: 38px;
    width: 66px;
    height: 40px;
    color: rgb(235, 182, 147);
    margin-right: 15px;
    font-family: "RixHead B";
}

.kidsPopup.gniPopup.kidsEpgDetailPopup #epgTitle_channel_name {
    font-size: 36px;
    color: rgba(255, 254, 254, 0.8);
    font-family: "RixHead B";
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_title_span {
    position: absolute;
    left: 520px;
    top: 360px;
    width: 875px;
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_channelInfo_span {
    position: absolute;
    left: 799px;
    top: 433px;
    width: 238px;
    height: 29px;
    font-size: 27px;
    color: white;
    opacity: 0.7;
    font-family: "RixHead L";
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_channelInfo_line {
    position: absolute;
    left: 1050px;
    top: 437px;
    width: 2px;
    height: 18px;
    background: rgba(255, 255, 255, 0.298039);
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_channelInfo_duration {
    position: absolute;
    left: 1065px;
    top: 433px;
    width: 80px;
    height: 29px;
    color: white;
    opacity: 0.7;
    font-size: 27px;
    font-family: "RixHead L";
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .epgPopup_description_area {
    position: absolute;
    left: 472px;
    top: 515px;
    width: 974px;
    color: white;
    font-size: 28px;
    font-family: "RixHead L";
    line-height: 43px;
}

.kidsPopup.gniPopup.kidsEpgDetailPopup .twoBtnArea_280 {
    position: absolute;
    top: 820px;
}