.kidsPopup.gniPopup.kidsModeSetting .kidsPopup_decoration_img {
    position: absolute;
    left: 870px;
    top: 316px;
}

.kidsPopup.gniPopup.kidsModeSetting .kidsPopup_title {
    position: absolute;
    top: 381px;
}

.kidsPopup.gniPopup.kidsModeSetting .kidsPopup_subTitle_0 {
    position: absolute;
    top: 458px;
}

.kidsPopup.gniPopup.kidsModeSetting .kidsPopup_subTitle_1 {
    position: absolute;
    top: 505px;
}

.kidsPopup.gniPopup.kidsModeSetting .twoRdoBtn_area_0 {
    position: absolute;
    top: 574px;
    left: 571px;
    width: 762px;
}

.kidsPopup.gniPopup.kidsModeSetting .rdoBtn_title {
    float: left;
    margin-top: 22px;
    margin-right: 32px;
    font-size: 24px;
    color: #9195BE;
    font-family: "RixHead M";
}

.kidsPopup.gniPopup.kidsModeSetting .rdoBtn {
    position: relative;
    float: left;
    margin-right: 10px;
}

.kidsPopup.gniPopup.kidsModeSetting .rdoBtn_img {
    position: absolute;
    left: 20px;
    top: 15px;
}

.kidsPopup.gniPopup.kidsModeSetting .rdoBtn_text {
    position: absolute;
    left: 80px;
    top: 23px;
    font-size: 28px;
    color: white;
}

.kidsPopup.gniPopup.kidsModeSetting .rdoBtn.focus {
    outline: #000000 2px solid;
    outline-offset: 8px;
    box-shadow: 0 0 0 6px #FFB32E inset;
}

.kidsPopup.gniPopup.kidsModeSetting .rdoBtn.focus span {
    font-size: 30px;
    font-family: "RixHead M";
}

.kidsPopup.gniPopup.kidsModeSetting .twoBtnArea_280 {
    position: absolute;
    top: 717px;
}