.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_decoration_img {
    position: absolute;
    left: 870px;
    top: 236px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_title {
    position: absolute;
    top: 303px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_subTitle {
    position: absolute;
    top: 380px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_alertTitle {
    position: absolute;
    top: 440px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_bar_area {
    position: absolute;
    top: 504px;
    left: 441px;
    width: 1040px;
    height: 2px;
    background: #535661;
}

.kidsPopup.gniPopup.kidsLimitWatching .twoBtnArea_280 {
    position: absolute;
    top: 780px;
}

.kidsPopup.gniPopup.kidsLimitWatching .threeRdoBtn_area {
    position: absolute;
    left: 524px;
    top: 541px;
    width: 882px;
    height: 69px;
}

.kidsPopup.gniPopup.kidsLimitWatching .threeRdoBtn_area .rdoBtn {
    position: relative;
    float: left;
    margin-right: 10px;
}

.kidsPopup.gniPopup.kidsLimitWatching .threeRdoBtn_area .rdoBtn .rdoBtn_img {
    position: absolute;
    top: 15px;
    left: 20px;
}

.kidsPopup.gniPopup.kidsLimitWatching .threeRdoBtn_area .rdoBtn span {
    position: absolute;
    left: 79px;
    top: 21px;
    font-size: 28px;
    color: white;
}

.kidsPopup.gniPopup.kidsLimitWatching .threeRdoBtn_area .rdoBtn.focus {
    /*background: white;*/
    outline: #000000 2px solid;
    outline-offset: 8px;
    box-shadow: 0 0 0 6px #FFB32E inset;
}

.kidsPopup.gniPopup.kidsLimitWatching .threeRdoBtn_area .rdoBtn.focus span {
    font-size: 30px;
    font-family: "RixHead M";
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area {
    position: absolute;
    left: 639px;
    top: 653px;
    width: 642px;
    height: 72px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area .optionSelect_arwLeft_img {
    visibility: hidden;
    float: left;
    margin-top: 24px;
    margin-right: 15px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area .optionSelect_optionBG {
    float: left;
    width: 584px;
    height: 68px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area .optionSelect_optionText {
    position: absolute;
    left: 29px;
    top: 18px;
    width: 584px;
    text-align: center;
    font-size: 33px;
    color: white;
    opacity: 0.3;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area .optionSelect_arwRight_img {
    visibility: hidden;
    float: left;
    margin-top: 24px;
    margin-left: 15px;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area.focus .optionSelect_arwLeft_img,
.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area.focus .optionSelect_arwRight_img {
    visibility: inherit;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area.focus .optionSelect_optionBG {
    /*background: white;*/
    outline: #000000 2px solid;
    outline-offset: 8px;
    box-shadow: 0 0 0 6px #FFB32E inset;
}

.kidsPopup.gniPopup.kidsLimitWatching .kidsPopup_optionSelect_area.focus .optionSelect_optionText {
    opacity: 1.0;
    font-family: "RixHead M";
}