.kidsPopup.gniPopup.kidsBootingCheck .popup_Character_BG {
    position: absolute;
    left: 753px;
    top: 188px;
}

.kidsPopup.gniPopup.kidsBootingCheck .popup_Character_img {
    position: absolute;
    left: 829px;
    top: 179px;
}

.kidsPopup.gniPopup.kidsBootingCheck .kidsPopup_subTitle {
    position: absolute;
    top: 648px;
}

.kidsPopup.gniPopup.kidsBootingCheck .kidsPopup_infoText {
    position: absolute;
    top: 770px;
}

.kidsPopup.gniPopup.kidsBootingCheck .kidsPopup_inputPasswordBG {
    position: absolute;
    width: 301px;
    height: 68px;
    left: 810px;
    top: 843px;
    box-sizing: border-box;
    border: 6px solid #FFB32E;
}

.kidsPopup.gniPopup.kidsBootingCheck .passwordArea {
    position: absolute;
    left: 810px;
    top: 862px;
    width: 301px;
    font-size: 45px;
    color: white;
    font-family: "RixHead M";
    text-align: center;
}

.kidsPopup.gniPopup.kidsBootingCheck .passwordArea .password {
    opacity: 0.2;
}

.kidsPopup.gniPopup.kidsBootingCheck .passwordArea .password.fill {
    position: absolute;
    left: 84px;
    top: 0px;
    opacity: 1.0;
}