div.kidsPopup.gniPopup.playlist_order_change_popup .main_area{
    width: 1338px;
    height: 938px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .bg_area {
    position:absolute;
    width: inherit;
    height: inherit;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .bg_area .bg_left {
    display: inline-block;
    width: 49px;
    height: inherit;
    background: url(../../resource/image/pop_bg_5_l.png);
}

div.kidsPopup.gniPopup.playlist_order_change_popup .bg_area .bg_mid {
    display: inline-block;
    width: 1240px;
    height: inherit;
    background: url(../../resource/image/pop_bg_5_m.png);
}

div.kidsPopup.gniPopup.playlist_order_change_popup .bg_area .bg_right {
    display: inline-block;
    width: 49px;
    height: inherit;
    background: url(../../resource/image/pop_bg_5_r.png);
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area {
    position: absolute;
    margin-left: 84px;
    margin-top: 80px;
    height: 781px;
    overflow: hidden;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item {
    height: 76px;
    border-bottom: 2px solid rgba(77,77,77,.9);
    width: 760px;
    font-size: 32px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    text-align: left;
    line-height: 76px;
}


div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item.focus {
    font-size: 36px;
    font-family: "RixHead M";
    color: white;
}


div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item span {
    width: 625px;
    overflow: hidden;
    display: inline-block;
    margin-right: 13px;
    margin-left: 18px;
    text-overflow: ellipsis;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item .freeText {
    width: 42px;
    margin-left: 5px;
    margin-right: 0px;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item .info_area {
    display: inline-block;
    vertical-align: middle;
    line-height: 76px;
    font-size: 23px;
    font-family: "RixHead M";
    width: 104px;
    text-align: right;
    opacity: 0.3;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item.focus .info_area {
    opacity: 1.0;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item .info_area img {
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 14px;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item .info_area.noWonYn img.wonIcon {
    opacity: 0;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .content_area .item .info_area img.wonIcon {
    margin-left: 7px;
    margin-right: 3px;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .focus_line {
    border-top: 6px solid #FFB32F;
    border-bottom: 6px solid #FFB32F;
    width: 760px;
    height: 74px;
    position: absolute;
    margin-left:84px;
    margin-top: 76px;
    overflow: visible;
    text-align: center;
}

div.kidsPopup.gniPopup.playlist_order_change_popup.editMode .focus_line::before {
    position: absolute;
    content: url(../../resource/image/move_pop_top.png);
    top: -29px;
}

div.kidsPopup.gniPopup.playlist_order_change_popup.editMode .focus_line::after {
    position: absolute;
    content: url(../../resource/image/move_pop_btm.png);
    top: 85px;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .scroll_bar {
    position: absolute;
    margin-left:901px;
    margin-top: 76px;
    width: 1px;
    height: 787px;
    background: rgba(255,255,255,.1);
    overflow: visible;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .scroll_bar .scroll_indicator{
    margin-left: -2px;
    width: 5px;
    height: 500px;
    background: #AAAAAA;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .btn_area {
    position:absolute;
    margin-top: 359px;
    margin-left: 966px;
    width: 280px;
    font-size: 28px;
    font-family: "RixHead L";
    color: #AAAAAA;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .text {
    line-height: 36px;
    margin-bottom: 36px;
    text-align: center;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .button {
    background: #373737;
    border: 2px solid rgb(66,66,66);
    height: 62px;
    line-height: 62px;
    margin-bottom: 10px;
    text-align: center;
}

div.kidsPopup.gniPopup.playlist_order_change_popup .button.focus {
    background: #FFB32E;
    border-color: #FFB32E;
    color: #513300;
    text-align: center;
    font-family: "RixHead M";
}