.kidsPopup.gniPopup.kidsInputPassword .kidsPopup_decoration_img {
    position: absolute;
    top: 350px;
    left: 870px;
}

.kidsPopup.gniPopup.kidsInputPassword .kidsPopup_title {
    position: absolute;
    top: 416px;
}

.kidsPopup.gniPopup.kidsInputPassword .kidsPopup_subTitle {
    position: absolute;
    top: 488px;
}

.kidsPopup.gniPopup.kidsInputPassword .kidsPopup_inputPasswordBG_img {
    position: absolute;
    top: 578px;
    left: 668px;
    opacity: 0.3;
}

.kidsPopup.gniPopup.kidsInputPassword .kidsPopup_inputPasswordBG_img.focus {
    opacity: 1.0;
    outline: #FFB32E 6px solid;
    outline-offset: -6px;
}

.kidsPopup.gniPopup.kidsInputPassword .oneBtnArea_280 {
    top: 718px;
    position: absolute;
}

.kidsPopup.gniPopup.kidsInputPassword .passwordArea {
    position: absolute;
    left: 888px;
    top: 602px;
    font-size: 48px;
    color: white;
    font-family: "RixHead M";
    opacity: 0.2;
}

.kidsPopup.gniPopup.kidsInputPassword .passwordArea .password {
    opacity: 0.2;
}

.kidsPopup.gniPopup.kidsInputPassword .passwordArea .password.fill {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 1.0;
}

.kidsPopup.gniPopup.kidsInputPassword .passwordArea.focus {
    opacity: 1.0;
}