.kidsPopup.gniPopup.kidsCharacterSetting .kidsPopup_decoration_img {
    position: absolute;
    left: 870px;
    top: 142px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsPopup_title {
    position: absolute;
    top: 205px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsPopup_subTitle {
    position: absolute;
    top: 275px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsPopup_alertTitle {
    position: absolute;
    top: 400px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsPopup_bar_area {
    position: absolute;
    left: 441px;
    top: 511px;
    width: 1040px;
    height: 2px;
    background: #535661;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area {
    position: absolute;
    left: 603px;
    top: 553px;
    width: 740px;
    height: 70px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area .rdoBtn_title {
    float: left;
    margin-top: 22px;
    margin-right: 32px;
    font-size: 24px;
    color: #9195BE;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area .rdoBtn {
    float: left;
    position: relative;
    margin-right: 10px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area .rdoBtn .rdoBtn_img {
    position: absolute;
    left: 20px;
    top: 15px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area .rdoBtn span {
    position: absolute;
    left: 79px;
    top: 20px;
    font-size: 28px;
    color: white;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area .rdoBtn.focus {
    /*background: white;*/
    outline: #000000 2px solid;
    outline-offset: -8px;
    box-shadow: 0 0 0 6px #FFB32E inset;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoRdoBtn_area .rdoBtn.focus span {
    font-size: 30px;
    font-family: "RixHead M";
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area {
    position: absolute;
    left: 701px;
    top: 656px;
    opacity: 0.5;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacterList_index {
    display: none;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacterList_arwLeft_img {
    visibility: hidden;
    float: left;
    margin-top: 59px;
    margin-right: 45px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacterList_arwRight_img {
    visibility: hidden;
    float: left;
    margin-top: 59px;
    margin-left: 45px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacter_div {
    float: left;
    position: relative;
    width: 100px;
    margin-top: 18px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacter_div:nth-child(3) {
    margin: 18px 54px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacter_img,
.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacter_select_img {
    position: absolute;
    left: 0px;
    width: 100px;
    height: 100px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacter_select_img {
    visibility: hidden;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacter_select_img.select {
    visibility: inherit;
    -webkit-transform: scale(1.3);
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacterList_selector_img {
    visibility: hidden;
    position: absolute;
    left: 191px;
    top: -4px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacterName_text {
    float: left;
    margin-top: 16px;
    width: 100px;
    text-align: center;
    font-size: 21px;
    color: white;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area .kidsCharacterList_index {
    float: left;
    width: 100px;
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
    opacity: 0.5;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area.focus {
    opacity: 1.0;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area.focus .kidsCharacter_div:nth-child(3) {
    -webkit-transform: scale(1.12);
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area.focus .kidsCharacterList_selector_img {
    visibility: inherit;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area.focus .kidsCharacterList_arwLeft_img,
.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area.focus .kidsCharacterList_arwRight_img {
    visibility: inherit;
}

.kidsPopup.gniPopup.kidsCharacterSetting .twoBtnArea_280 {
    position: absolute;
    top: 876px;
}

.kidsPopup.gniPopup.kidsCharacterSetting .kidsCharacterList_area.focus .kidsCharacterList_index {
    display: block;
}