div.kidsPopup.gniPopup.editModeDelete .kidsPopup_title {
    position: absolute;
    top: 352px;
    color: rgb(221, 175, 120);
}

div.kidsPopup.gniPopup.editModeDelete .text_white_center_45M {
    position: absolute;
    top: 426px;
}

div.kidsPopup.gniPopup.editModeDelete .text_white_center_30L {
    position: absolute;
    top: 491px;
}

div.kidsPopup.gniPopup.editModeDelete .twoBtnArea_280 {
    position: absolute;
    top: 622px;
}

div.kidsPopup.gniPopup.editModeDelete .btn.focus .whiteBox {
    background-color: #D1433F;
}

div.kidsPopup.gniPopup.editModeDelete .btn.focus .btnText {
    color : white;
}