div.kids.kids_epg_popup .context_area {
    position: fixed;
    left: 809px;
    top: 0;
    width: 1111px;
    height: 1080px;
    background: url(../../resource/image/contextMenu/pop_bg_option_kids2.png);
    z-index: 50;
    padding-left: 764px;
    padding-top: 91px;
    -webkit-transform: translateX(385px) translateZ(0);
    opacity: 0;
    transition: -webkit-transform .5s, opacity .5s;
}

div.kids.kids_epg_popup .context_menu_area .background_dim {
    position: fixed;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    background: black;
    opacity: 0;
    transition: opacity .5s;
}

div.kids.kids_epg_popup .context_menu_area.activate .background_dim {
    opacity: .5;
}

div.kids.kids_epg_popup .activate .context_area {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.kids.kids_epg_popup .context_area .btn {
    width: 296px;
    height: 61px;
    line-height: 65px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: "RixHead L";
    background: rgba(175,175,175, 0.45);
    margin-bottom: 9px;
    border: 2px solid rgba(200,200,200,0.1);
    text-shadow: 1px 1px rgba(0,0,0,.3);
    position: relative;
}

div.kids.kids_epg_popup .context_area .btn.detail_btn {
    width: 274px;
    height: 65px;
    background: rgba(175,175,175, 0.45);
    margin-bottom: 13px;
    border: 2px solid rgba(200,200,200,0.1);
}

div.kids.kids_epg_popup .context_area .btn.focus {
    background: white;
    border-color: white;
    color: #49443C;
    text-shadow: none;
    font-family: "RixHead M";
}

div.kids.kids_epg_popup .context_area .sep_line {
    margin-top: 31px;
    margin-bottom: 50px;
    height: 2px;
    width: 299px;
    background: rgba(255,255,255,.15);
}

div.kids.kids_epg_popup .nextPage_title {
    display: none;
    position:absolute;
    left: 1584px;
    top: 52px;
    color: #CCCCFF;
    font-size: 24px;
    font-family: "RixHead M";
    margin-bottom: 16px;
    white-space: nowrap;
    text-align: left;
    z-index: 70;
}

div.kids.kids_epg_popup .context_menu_area.epg_context_menu.activate .nextPage_title.show {
    display: block;
}

div.kids.kids_epg_popup .context_area .title {
    color: #CCCCFF;
    font-size: 24px;
    font-family: "RixHead M";
    margin-bottom: 16px;
    white-space: nowrap;
    text-align: left;
}

div.kids.kids_epg_popup .context_area > .text {
    color: rgba(255, 255, 255, .5);
    font-size: 24px;
    line-height: 34px;
}

div.kids.kids_epg_popup .context_area .drop_box {
    width: 300px;
    height: 65px;
    line-height: 65px;
    font-size: 27px;
    margin-bottom: 36px;
    color: white;
    text-shadow: 1px 1px rgba(0,0,0,.3);
    background: rgba(175, 175, 175, 0.45);
    border: 2px solid rgba(200,200,200, 0.4);
}

div.kids.kids_epg_popup .context_area .drop_box .text {
    position: absolute;
    width: 271px;
    padding-left:29px;
}

div.kids.kids_epg_popup .context_area .drop_box .text::after {
    content: url(../../resource/image/contextMenu/arw_option_popup_dw.png);
    position: absolute;
    right: 17px;
    top: 10px;
}

div.kids.kids_epg_popup .context_area .drop_box.focus {
    background:white;
    color: #49443C;
    text-shadow: none;
    font-family: "RixHead M";
}


div.kids.kids_epg_popup .context_area .drop_box.focus .text::after {
    content: url(../../resource/image/contextMenu/arw_option_popup_dw_f.png);
}


div.kids.kids_epg_popup .context_area .drop_box .options {
    display:none;
    z-index: 10;
}

div.kids.kids_epg_popup .context_area .drop_box.open .options {
    display: block;
    position: absolute;
    margin-left: -2px;
}

div.kids.kids_epg_popup .context_area .drop_box .options .option {
    background: url(../../resource/image/contextMenu/bg_option_dropbox_kids_2.png);
    background-size: 304px 67px;
    width: 273px;
    height: 67px;
    line-height: 63px;
    padding-left:31px;
    color: white;
    /*border: 2px solid rgba(200,200,200,0.4);*/
}

div.kids.kids_epg_popup .context_area .drop_box .options .option:nth-child(1) {
    /*background: url(../resource/image/contextMenu/bg_option_dropbox.png);*/
    height: 65px;
    line-height: 65px;
}

div.kids.kids_epg_popup .context_area .drop_box .options .option.focus {
    background: white;
    color: #49443C;
    font-family: "RixHead M";
}

div.kids.kids_epg_popup .context_area .drop_box .options .option.checked::after {
    content: url(../../resource/image/contextMenu/option_dropbox_select.png);
    position: absolute;
    right: 17px;
    margin-top: 10px;
}

div.kids.kids_epg_popup .context_area .drop_box .options .option.focus.checked::after {
    content: url(../../resource/image/contextMenu/option_dropbox_select_f.png);
    position: absolute;
    right: 17px;
    margin-top: 10px;
}

div.kids.kids_epg_popup .context_area .drop_box .options .option:nth-child(1)::before {
    background-image: url(../../resource/image/contextMenu/sdw_option_popup_top.png);
    background-size: 384px 102px;
    height: 102px;
    margin-top:-38px;
    position: absolute;
    content:"";
}

div.kids.kids_epg_popup .context_area .drop_box .options .option::before {
    background-image: url(../../resource/image/contextMenu/sdw_option_popup_m.png);
    position: absolute;
    background-size: 384px 67px;
    width: 384px;
    height: 67px;
    margin-left: -70px;
    margin-top:-1px;
    content:"";
    z-index: -1;
    display: block;
}

div.kids.kids_epg_popup .context_area .drop_box .options .option:nth-last-child(1)::before {
    background-image: url(../../resource/image/contextMenu/sdw_option_popup_btm.png);
    background-size: 384px 110px;
    height: 110px;
    position: absolute;
    content:"";
}

div.kids.kids_epg_popup .context_area .drop_box .options .scroll_bg {
    position: absolute;
    width: 7px;
    height: 317px;
    background: #8B8884;
    top: 0;
    right: 0;
}

div.kids.kids_epg_popup .context_area .drop_box .options .scroll_bar {
    position: absolute;
    width: 7px;
    background: #49443C;
}

div.kids.kids_epg_popup .context_area .disable {
    opacity: .3;
}

div.kids.kids_epg_popup .vod_only_context_menu .context_area {
    padding-top: 52px;
}

/*****
VOD Context Menu
*****/

div.kids.kids_epg_popup .context_menu_area .left_arrow {
    opacity: 0;
    -webkit-transform: translateX(385px) translateZ(0);
    left: 1480px;
    position: fixed;
    top: 514px;
    background: url(../../resource/image/arw_view_l.png);
    width: 32px;
    height: 56px;
    transition: -webkit-transform .5s, opacity .5s;
}

div.kids.kids_epg_popup .context_menu_area.activate .left_arrow {
    opacity: 1;
    -webkit-transform: translateZ(0);
}

div.kids.kids_epg_popup .context_menu_area.vod_context_menu .left_arrow {
    left: 1226px;
}

div.kids.kids_epg_popup .context_area.vod_context_menu {
    position: fixed;
    left: 546px;
    width: 593px;
    padding-top: 0;
    padding-left: 784px;
    background: url(../../resource/image/contextMenu/pop_bg_option_kids.png);
    -webkit-transform: translateX(385px) translateZ(0);
    opacity: 0;
}


div.kids.kids_epg_popup .activate .context_area.vod_context_menu {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.kids.kids_epg_popup .context_area.vod_context_menu .vod_info_area {
    margin-top: 52px;
    width: 158px;
    height: 1080px;
    float: left;
    margin-right: 80px;
}

div.kids.kids_epg_popup .vod_only_context_menu .context_area .vod_info_area {
    margin-left: 64px;
    width: 164px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .poster_area {
    width: 168px;
    height: 240px;
    margin-bottom: 4px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .poster_area > * {
    position:absolute;
    width: 168px;
    height: 240px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .icon_area > img {
    width: 168px;
    position: absolute;
    bottom:0;
}

div.kids.kids_epg_popup .vod_only_context_menu .content_poster_div {
    position: relative;
}

div.kids.kids_epg_popup .context_area .vod_info_area .content_poster {
    width: 168px;
    height: 240px;
}

div.kids.kids_epg_popup .vod_only_context_menu .context_area .vod_info_area .poster_contextLock_img {
    display: none;
    width: 168px;
    height: 240px;
    position: absolute;
    top: 0;
    left: 0;
}

div.kids.kids_epg_popup .vod_only_context_menu .context_area .vod_info_area .poster_contextLock_img.show {
    display: block;
}

div.kids.kids_epg_popup .context_area .vod_info_area .btn {
    width: 164px;
    margin-bottom: 4px;
}

div.kids.kids_epg_popup .context_area .vod_info_area div.btn:nth-child(3) {
    font-size: 21px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_text {
    margin-top: 50px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content_notSupply {
    position: absolute;
    top: 561px;
    left: 768px;
    font-size: 24px;
    color: white;
    opacity: 0.4;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    line-height: 34px;
}

div.kids.kids_epg_popup .vod_only_context_menu .context_area .vod_info_area .recently_content_notSupply {
    left: 820px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content {
    position: relative;
    width: 168px;
    height: 240px;
    margin-top: 30px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content > * {
    position:absolute;
    width: 168px;
    height: 240px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content img {
    width: 168px;
    height: 240px;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content.focus img {
    -webkit-transform: scale(1.1);
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content.focus > img {
    margin-top: -9px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 3.3px 0;
}

div.kids.kids_epg_popup .context_area .vod_info_area .recently_content.focus::after {
    position: absolute;
    content: url(../../resource/image/contextMenu/option_c_delete.png);
    margin-top: 195px;
    margin-left: 86px;
}

div.kids.kids_epg_popup .context_area .context_menu_area {
    margin-top: 52px;
    float: left;
}

div.kids.kids_epg_popup .context_area .no_content_text {
    text-align: center;
    position: absolute;
    width: 168px;
    font-size: 27px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.5);
    text-shadow: 1px 1px rgba(0,0,0,.3);
    line-height: 37px;
    margin-top: 34px;
    z-index: -1;
}

/*****
EPG Context Menu
*****/

div.kids.kids_epg_popup .context_area.epg_context_menu {
    position: fixed;
    left: 455px;
    width: 693px;
    padding-top: 0;
    padding-left: 772px;
    background: url(../../resource/image/contextMenu/pop_bg_option_kids_3.png);
    -webkit-transform: translateX(385px) translateZ(0);
    opacity: 0;
}

div.kids.kids_epg_popup .context_menu_area.epg_context_menu .left_arrow {
    opacity: 0;
    -webkit-transform: translateX(385px) translateZ(0);
    left: 1124px;
    position: fixed;
    top: 514px;
    background: url(../../resource/image/arw_view_l.png);
    width: 32px;
    height: 56px;
    transition: -webkit-transform .5s, opacity .5s;
    z-index: 60;
}

div.kids.kids_epg_popup .context_menu_area.activate .left_arrow {
    opacity: 1;
    -webkit-transform: translateZ(0);
}

div.kids.kids_epg_popup .activate .context_area.epg_context_menu {
    -webkit-transform: translateX(0) translateZ(0);
    opacity: 1;
}

div.kids.kids_epg_popup .context_area.epg_context_menu .epg_info_area {
    float: left;
    height: 1080px;
    width: 323px;
    padding-left: 10px;
    margin-left: -10px;
}

div.kids.kids_epg_popup .context_area.epg_context_menu .context_menu_area {
    float: left;
    margin-left: 33px;
    height: 936px;
    overflow: hidden;
}

div.kids.kids_epg_popup .context_area.epg_context_menu .sep_line.epgTop {
    margin-bottom: 21px;
}

div.kids.kids_epg_popup .epg_info_area .favorite_epg_area {
    position: relative;
    margin-top: 53px;
}

div.kids.kids_epg_popup .epg_info_area .favorite_epg_area .epgThumbnail_img_default {
    width: 278px;
    height: 155px;
}

div.kids.kids_epg_popup .epg_info_area .favorite_epg_area .epgThumbnail_img {
    position: absolute;
    width: 278px;
    height: 155px;
    left: 0;
    top: 40px;
}

div.kids.kids_epg_popup .context_area .btn.favorite_btn {
    width: 274px;
    height: 65px;
    background: rgba(175,175,175, 0.45);
    margin-bottom: 13px;
    border: 2px solid rgba(200,200,200,0.4);
}

div.kids.kids_epg_popup .context_area .btn.favorite_btn.select {
    background: rgba(175,175,175, 0.3);
}

div.kids.kids_epg_popup .context_area .btn.favorite_btn span {
    float: left;
    margin-left: 18px;
    line-height: 65px;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: "RixHead L";
    text-shadow: 1px 1px rgba(0,0,0,.3);
}

div.kids.kids_epg_popup .context_area .btn.favorite_btn img {
    float: right;
    margin-top: 20px;
    margin-right: 21px;
}


div.kids.kids_epg_popup .context_area .epg4Ch_area {
    margin-top: 33px;
    overflow: visible;
}

div.kids.kids_epg_popup .context_area .realTimeChEpg_area {
    margin-top: 17px;
    overflow: visible;
}

div.kids.kids_epg_popup .context_area .realTimeChEpg_area .realTimeChEpg_btn_area,
div.kids.kids_epg_popup .context_area .epg4Ch_area .epg4ch_btn_area {
    position: relative;
    width: 312px;
    height: 189px;
    margin-left: -16px;
    margin-top: -16px;
    overflow: visible;
}

div.kids.kids_epg_popup .context_area .realTimeChEpg_area.focus .realTimeChEpg_btn_area {
    margin-top: -25px;
    margin-bottom: 42px;
}

div.kids.kids_epg_popup .context_area .epg4Ch_area.focus .epg4ch_btn_area {
    margin-top: -25px;
}

div.kids.kids_epg_popup .context_area .realTimeChEpg_area .realTimeChEpg_btn_area .realTimeChEpg_sdw_img,
div.kids.kids_epg_popup .context_area .epg4Ch_area .epg4ch_btn_area .epg4ch_sdw_img {
    position: absolute;
}

div.kids.kids_epg_popup .context_area .realTimeChEpg_area .realTimeChEpg_btn_area .realTimeChEpg_btn_img,
div.kids.kids_epg_popup .context_area .epg4Ch_area .epg4ch_btn_area .epg4ch_btn_img {
    position: absolute;
    left: 16px;
    top: 16px;
}

div.kids.kids_epg_popup .context_area .btn.select {
    background: rgba(106,106,106, 0.45);
}

div.kids.kids_epg_popup .context_area .epg4Ch_area.focus .epg4ch_btn_img {
    border: 6px solid #FFB32E;
    padding: 1px;
    -webkit-transform: scale(1.05);
}

div.kids.kids_epg_popup .context_area .realTimeChEpg_area.focus .realTimeChEpg_btn_img {
    border: 6px solid #FFB32E;
    padding: 1px;
    -webkit-transform: scale(1.05);
}

div.kids.kids_epg_popup .context_area .btn.focus {
    background: #FFB32E;
    border-color: #FFB32E;
}

div.kids.kids_epg_popup .context_area .btn.favorite_btn.focus span {
    color: #49443C;
    text-shadow: none;
    font-family: "RixHead M";
}

div.kids.kids_epg_popup .context_area .btn.select .btn_check_img {
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: url(../../resource/image/contextMenu/option_dropbox_select.png);
    right: 8px;
    top: 8px;
}

div.kids.kids_epg_popup .context_area .btn.select.focus .btn_check_img {
    background-image: url(../../resource/image/contextMenu/option_dropbox_select_f.png);
}

div.kids.kids_epg_popup .context_menu_area.epg_context_menu .epgPage_up_icon {
    display: none;
    position: absolute;
    top: 93px;
    left: 1713px;
    z-index: 70;
    -webkit-transform: translateX(385px) translateZ(0);
    transition: -webkit-transform .5s;
}

div.kids.kids_epg_popup .context_menu_area.epg_context_menu .epgPage_dw_icon {
    display: none;
    position: absolute;
    top: 1001px;
    left: 1713px;
    z-index: 70;
    -webkit-transform: translateX(385px) translateZ(0);
    transition: -webkit-transform .5s;
}

div.kids.kids_epg_popup .context_menu_area.epg_context_menu.activate .epgPage_up_icon.show {
    -webkit-transform: translateX(0) translateZ(0);
    display: block;
}

div.kids.kids_epg_popup .context_menu_area.epg_context_menu.activate .epgPage_dw_icon.show {
    -webkit-transform: translateX(0) translateZ(0);
    display: block;
}

div.kids.kids_epg_popup .context_menu_area_list .btn {
    visibility: hidden;
}

div.kids.kids_epg_popup .context_menu_area_list .btn.show {
    visibility: inherit;
}