div.subhome.wish_confirm {
    background-color: rgba(0, 0, 0, 0.9);
}

div.subhome.wish_confirm .title {
    position: absolute;
    top: 402px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.subhome.wish_confirm .description1 {
    position: absolute;
    top: 470px;
    width: 100%;
    text-align: center;
    font-size: 45px;
    line-height: 50px;
    color: white;
    font-family: "RixHead M";
    letter-spacing: -2.25px;
}

div.subhome.wish_confirm .description2 {
    position: absolute;
    top: 525px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 35px;
    color: white;
    font-family: "RixHead L";
    letter-spacing: -1.65px;
}

div.subhome.wish_confirm .buttonArea {
    position: relative;
    display: block;
    left: 673px;
    top: 613px;
    width: 588px;
    height: 62px;
    white-space: nowrap;
}

div.subhome.wish_confirm .buttonArea .button {
    position: relative;
    display: inline-block;
    margin-right: 14px;
    top: 0;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.subhome.wish_confirm .buttonArea .button.focus {
    background-color: #D2332F;
    border-color: #D2332F;
}

div.subhome.wish_confirm .buttonArea .button .text {
    position: absolute;
    top: 17px;
    width: 280px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-family: "RixHead L";
}

div.subhome.wish_confirm .buttonArea .button.focus .text {
    top: 16px;
    color: white;
    font-family: "RixHead M";
}