div.kidsHome {letter-spacing: -0.05em; font-family: "RixHead L";}
div.kidsHome * {letter-spacing: -0.05em;}
div.kidsHome>* { position: absolute; }
div.kidsHome ul {-webkit-margin-before:0; -webkit-margin-after:0; -webkit-padding-start: 0;}
div.kidsHome li { list-style: none; }
div.kidsHome div, p, span, iframe, ul, li, img {
    overflow: visible;
}

/* PIG 영역 */
div.kidsHome #pig_shadow { left:1288px; top:76px; position: absolute; }
div.kidsHome #pig_gra { left: 1365px; top: 148px; position: absolute; }
div.kidsHome #pig_dim {
    position: absolute;
    left:1365px;
    top:148px;
    width: 555px;
    height: 315px;
    background-color: rgba(0, 0, 0, 0.2);
}

div.kidsHome #pig_dim.ots {
    top:40px;
    height: 314px;
}

/* Background 영역 */
div.kidsHome #kidsBackground > * ,
div.kidsSubhome_background > *{
    position:fixed;
    width: 1920px;
    height: 1080px;
    top:0;
    left:0;
}

div.kidsHome .clipping,
div.kidsSubhome_background .clipping{
    /*-webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px);*/
}

/* 2018.01.29 sw.nam
OTS 키즈 채널 편성표에서 좌 상단으로 pip resizing 이 되는데, 이떄 배경을 뚫기 위한 clipping 속성 지정
OTS 키즈 전체 편성표에서만 쓰이는것 같아 따로 분리 해둠
*/
div .clippingForKidsFullEPG{
    -webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 41px, 1360px 41px, 1360px 351px, 1920px 351px, 1920px 1080px, 0px 1080px);;
}



div.kidsSubhome_background #bg_kids {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 0.9;
    background: #48668E;
}

div.kidsSubhome_background #bg_2d_kids {
    top: 0px;
    left: 0px;
    width: 1687px;
    height: 1080px;
    background: url("../resource/image/bg_2d_kids.png");
}

/* 키즈 편성표 미리보기용 이미지*/
div.kidsSubhome_background #bg_2d_3_kids_height {
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: url("../resource/image/bg_2d_3_kids_height.png");
}

div.kidsSubhome_background #bg_kids_mountain {
    top: 843px;
    left: 0px;
    width: 431px;
    height: 237px;
    background: url("../resource/image/bg_kids_mountain.png");
}

div.kidsSubhome_background #bg_menu_dim_dw_kids {
    top: 0px;
    left: 0px;
    width: 1415px;
    height: 280px;
    background: url("../resource/image/bg_menu_dim_dw_kids.png");
}

div.kidsSubhome_background #bg_menu_dim_up_kids {
    top: 912px;
    left: 0px;
    width: 1415px;
    height: 168px;
    background: url("../resource/image/bg_menu_dim_up_kids.png");
}

div.kidsSubhome_background #bg_kids_cloud_1 {
    top: 0px;
    left: 539px;
    width: 210px;
    height: 66px;
    background: url("../resource/image/bg_kids_cloud_1.png");
}

div.kidsSubhome_background #bg_kids_cloud_1.moved  {
    left: 1406px;
}

div.kidsSubhome_background #bg_kids_cloud_2 {
    top: 0px;
    left: 793px;
    width: 210px;
    height: 133px;
    background: url("../resource/image/bg_kids_cloud_2.png");
}

div.kidsSubhome_background #bg_kids_cloud_2.moved {
    left: 1660px;
}

div.kidsHome .clipping.ots {
    -webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 40px, 1365px 40px, 1365px 353px, 1920px 353px, 1920px 1080px, 0px 1080px);
}

div.kidsHome #background_blur .bg_wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
    /*transition: opacity .5s;*/
    opacity: 0;
    /*transform: translateZ(0);*/
    overflow: hidden;
}

div.kidsHome #background_blur div.bg {
    width: inherit;
    height: inherit;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(10px);
}

div.kidsHome #background_blur .dim {
    width: inherit;
    height: inherit;
    background: #3D4756;
    opacity: .8;
    position: absolute;
}
div.kidsHome #background {
    position: fixed;
    z-index: -100;
}
div.kidsHome #kidsBackground>* {
    position: fixed;
}
div.kidsHome .clipping {
    -webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px)
}

div.kidsHome #background #background_wrapper>* {
    position: fixed;
}

div.kidsHome #background div.bgBlurWrapper {
    position: fixed;
    top: 0px;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.kidsHome #background img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.kidsHome .viewArea > * {
    position: absolute;
}

div.kidsHome .context_menu_indicator {
    position: fixed;
    display: inline-block;
    right: 79px;
    bottom: 60px;
    font-size: 26px;
    color: rgba(255,255,255,.3);
    font-family: "RixHead L";
    height: 27px;
    line-height: 27px;
    vertical-align: top;
}

div.kidsHome .context_menu_indicator bar {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.23;
    margin: 2px 15px;
}

div.kidsHome .context_menu_indicator::before {
    content: url(../resource/image/icon_option_related.png);
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
}

div.kidsHome .context_menu_indicator:empty::before {
    content: none;
}

div.kidsHome .viewArea .homeShot_area {
    width: 530px;
    height: 450px;
    left: 1390px;
    top: 630px;
    position: fixed;
}

div.kidsHome .viewArea .homeShot_area .shortcut {
    position: absolute;
    /*right: 78px;
    bottom: 5px;
    content: url(../resource/image/key_play.png);*/
    left: 271px;
    top: 359px;
}

div.kidsHome .kidsCharacterShot_area {
    position: fixed;
    left: 1445px;
    top: 550px;
}

div.kidsHome .kidsCharacterShot_area .kidsCharacterShot_BG_0 {
    position: absolute;
    top: 133px;
    left: 0;
}

div.kidsHome .kidsCharacterShot_area .kidsCharacterShot_character {
    position: absolute;
    left: 118px;
    width: 150px;
}

div.kidsHome.kidsSubhome_recentlyList .kidsCharacterShot_area  .kidsCharacterShot_character {
    position: absolute;
    left: 90px;
    top: -131px;
}

div.kidsHome #backgroundTitle {
    top:56px;
    left:131px;
    color: rgba(255, 255, 255, 0.2);
    position: fixed;
    font-size: 40px;
    letter-spacing: -1.2px;
    line-height: 40px;
    height: 40px;
    font-family: "RixHead B";
    vertical-align: top;
    display: inline-block;
}

div.kidsHome #backgroundTitle::before {
    content: url(../resource/image/ar_history.png);
    opacity: .8;
    vertical-align: top;
    margin-right: 13px;
    display: inline-block;
}

div.kidsHome #area_2_Cloud1_img {
    left: 1322px;
    top: -106px;
}

div.kidsHome #area_2_Cloud2_cut {
    left: 1554px;
    top: 47px;
    width: 308px;
    height: 102px;
    overflow: hidden;
}

div.kidsHome #area_2_Cloud3_img {
    left: 1791px;
    top: 413px;
    width: 211px;
}

div.kidsHome #cloudImage_area_1 {
    top: 906px;
}

div.kidsHome #area_1_Cloud1_img {
    position: absolute;
    top: 35px;
    left: -117px;
}

div.kidsHome #area_1_Cloud2_img {
    position: absolute;
    top: 132px;
    left: 250px;
}

div.kidsHome #area_1_Balloon_img {
    position: absolute;
    left: 318px;
}

div.kidsHome .relationBtn_area {
    background: url(../resource/image/key_shadow_kids.png);
    position: fixed;
    display: inline-block;
    left: 1115px;
    bottom: 0;
    width: 805px;
    height: 168px;
    z-index: 1;
}

div.kidsHome .relationBtn_area.left {
    left: 627px;
    background: none;
}

div.kidsHome .relationBtn_area bar {
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.23;
    margin: 2px 15px;
}


div.kidsHome .relationBtn_area .relationBtn_text {
    float: right;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 7px;
    margin-top: 89px;
    margin-right: 60px;
    z-index: 1;
}

div.kidsHome .relationBtn_area .relationBtn_text::before {
    content: url(../resource/image/icon_option_related.png);
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;
}

div.kidsHome .relationBtn_area.playlist .relationBtn_text {
    margin-right: 97px;
}

div.kidsHome .relationBtn_area.blurred {
    display: none;
}

div.kidsHome .relationBtn_area.left .relationBtn_text {
    float: left;
}

div.kidsHome .homeShot_area .homeShot_bar {
    margin-left: 60px;
    margin-top: -3px;
    width: 390px;
    height: 2px;
    background: white;
    opacity: 0.15;
}