div.kids.kids_notice_popup .kids_notice_img_area {
    position: absolute;
    left: 1708px;
    top: 158px;
    width: 212px;
    height: 85px;
}

div.kids.kids_notice_popup .kids_notice_img_area.time_check {
    background-image: url("../resource/image/noti_kids_5.png");
}

div.kids.kids_notice_popup .kids_notice_img_area.count_check {
    background-image: url("../resource/image/noti_kids_last.png");
}