/* 키보드 자판구역 시작 */
div.kidsPopup .OSKArea {
    width: 1136px;
    height: 238px;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
}

div.kidsPopup #IMEBoardArea {
    position: absolute;
    width: 1136px;
    height: 238px;
    color: white;
    overflow: visible;
}

div.kidsPopup #IMEBoardArea #oskBoard_img {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.kidsPopup #IMEBoardArea #defaultBtn_img {
    position: absolute;
    left: -2px;
    top: 172px;
}

div.kidsPopup #IMEBoardArea #firstArea {
    position: absolute;
    top: -78px;
    left: -11px;
}

div.kidsPopup #IMEBoardArea #firstArea .korFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.kidsPopup #IMEBoardArea #oskKorFocus_firstArea .korFocus_img.focus {
    visibility: inherit;
}



div.kidsPopup #IMEBoardArea #oskCapEngFocus_firstArea {
    position: absolute;
    left: 39px;
    top: 71px;
}
div.kidsPopup #IMEBoardArea #oskCapEngFocus_firstArea .capEngFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.kidsPopup #IMEBoardArea #oskCapEngFocus_firstArea .capEngFocus_img.focus {
    visibility: inherit;
}

div.kidsPopup #IMEBoardArea #oskEngFocus_firstArea {
    position: absolute;
    left: 39px;
    top: 71px;
}
div.kidsPopup #IMEBoardArea #oskEngFocus_firstArea .engFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.kidsPopup #IMEBoardArea #oskEngFocus_firstArea .engFocus_img.focus {
    visibility: inherit;
}


div.kidsPopup #IMEBoardArea #oskNumFocus_firstArea {
    position: absolute;
    left: 164px;
    top: 71px;
}

div.kidsPopup #IMEBoardArea #oskNumFocus_firstArea .numFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}

div.kidsPopup #IMEBoardArea #oskNumFocus_firstArea .numFocus_img.focus {
    visibility: inherit;
}



div.kidsPopup #IMEBoardArea #secondArea {
    position: absolute;
    top: 66px;
    left: -11px;
}


div.kidsPopup #IMEBoardArea #secondArea .korFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.kidsPopup #IMEBoardArea #oskKorFocus_secondArea .korFocus_img.focus {
    visibility: inherit;
}



div.kidsPopup #IMEBoardArea #oskCapEngFocus_secondArea {
    position: absolute;
    left: 39px;
    top: 0px;
}
div.kidsPopup #IMEBoardArea #oskCapEngFocus_secondArea .capEngFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.kidsPopup #IMEBoardArea #oskCapEngFocus_secondArea .capEngFocus_img.focus {
    visibility: inherit;
}



div.kidsPopup #IMEBoardArea #oskEngFocus_secondArea {
    position: absolute;
    left: 39px;
    top: 0px;
}
div.kidsPopup #IMEBoardArea #oskEngFocus_secondArea .engFocus_img {
    visibility: hidden;
    margin-right: -11.9px;
}
div.kidsPopup #IMEBoardArea #oskEngFocus_secondArea .engFocus_img.focus {
    visibility: inherit;
}



div.kidsPopup #IMEBoardArea #oskNumFocus_secondArea {
    position: absolute;
    left: 164px;
    top: 0px;
}
div.kidsPopup #IMEBoardArea #oskNumFocus_secondArea .numFocus_img {
    visibility: hidden;
    margin-right: -12.1px;
}
div.kidsPopup #IMEBoardArea #oskNumFocus_secondArea .numFocus_img.focus {
    visibility: inherit;
}



div.kidsPopup #IMEBoardArea #thirdArea {
    position: absolute;
    top: 174px;
    left: 0px;
}

div.kidsPopup #IMEBoardArea #thirdArea .focusBtn {
    visibility: hidden;
}

div.kidsPopup #IMEBoardArea #thirdArea .focusBtn.focus {
    visibility: inherit;
}

div.kidsPopup #IMEBoardArea #searchBtn_f_img {
    margin-right: 12px;
}