div.kidsHome .kidsSubHomeView .banner_mini {
    display: block;
    width: 1140px;
    height: 294px;
    margin-bottom: 70px;
    margin-top: 35px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_item {
    border: 6px solid transparent;
    padding: 1px;
    -webkit-transform: translateZ(0);
    display: inline-block;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_item.focus {
    z-index: 10;
    border-color: #FFB32E;
    -webkit-transform: scale(1.03) translateZ(0);
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_2.banner_item.focus {
    -webkit-transform: scale(1.05) translateZ(0);
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_3.banner_item.focus {
    -webkit-transform: scale(1.07) translateZ(0);
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_4.banner_item.focus {
    -webkit-transform: scale(1.07) translateZ(0);
}

/* 그림자 영역 */
div.kidsHome .kidsSubHomeView .banner_mini .banner_sdw{
    position: absolute;
    width: 650px;
    visibility: hidden;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_item.focus .banner_sdw {
    visibility: inherit;
    margin-left: -41px;
    margin-top: -42px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_sdw_l {
    position: relative;
    float: left;
    height: 363px;
    width: 83px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_sdw_m {
    position: relative;
    float: left;
    height: 363px;
    width: 468px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_sdw_r {
    position: relative;
    float: left;
    height: 363px;
    width: 83px;
}

div.kidsHome .kidsSubHomeView .banner_mini .absolute_wrapper {
    position: absolute;
    width: inherit;
    height: inherit;
}

div.kidsHome .kidsSubHomeView .banner_mini .absolute_wrapper * {
    position: absolute;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_1 {
    width: 1120px;
    height: 282px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_1 .absolute_wrapper img {
    width: 1120px;
    height: 282px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_2 {
    position : relative;
    width: 552px;
    height: 280px;
    margin-right: 4px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_2 .absolute_wrapper img {
    width: 552px;
    height: 280px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_3 {
    width: 655px;
    height: 280px;
    margin-right: 3px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_3 .absolute_wrapper img {
    width: 655px;
    height: 280px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_4 {
    width: 426px;
    height: 280px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_4 .absolute_wrapper img {
    width: 426px;
    height: 280px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_p {
    width: 196px;
    height: 280px;
    margin-left: 23px;
}

div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_p .absolute_wrapper img {
    width: 196px;
    height: 280px;
}

/*div.kidsHome .kidsSubHomeView .banner_mini .banner_mini_p img {*/
    /*width: 210px;*/
    /*height: 300px;*/
/*}*/

/*div.kidsHome .kidsSubHomeView.blurred .banner_mini .banner_mini_p {*/
    /*width: 168px;*/
    /*height: 240px;*/
/*}*/

/*div.kidsHome .kidsSubHomeView.blurred .banner_mini .banner_mini_p img {*/
    /*width: 168px;*/
    /*height: 240px;*/
/*}*/

/*div.kidsHome .kidsSubHomeView.blurred .banner_mini.type_3 .banner_mini_p {*/
    /*margin-left: -28px;*/
/*}*/

/*div.kidsHome .kidsSubHomeView.blurred .banner_mini.type_4 .banner_mini_p {*/
    /*margin-left: -9px;*/
/*}*/