/*
    컨텐츠영역에 들어가는 배너의 스타일 정의.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:15
    Author     : lyllyl
*/

/*
    Normal
*/

div.kidsHome #contentsArea .menu.banner_big_3 {
    height: 483px;
    margin-bottom: 117px;
}

div.kidsHome #contentsArea .content.banner_big_3 {
    margin-right: 12px;
    float: left;
    width: 390px;
    height: 483px;
    margin-bottom: 79px;
}

div.kidsHome #contentsArea .content.banner_big_3 .content {
    position: relative;
    width: 390px;
    height: 483px;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s;
}

div.kidsHome #contentsArea .content.banner_big_3 .posterImg {
    position: absolute;
    display: block;
    width: 390px;
    height: 483px;
    margin-top: 0px;
}

div.kidsHome #contentsArea .content.banner_big_3 .previewSdw {
    position: absolute;
    margin-left: 390px;
    height: 483px;
    width: 13px;
    z-index: 1;
    opacity: 0;
}

div.kidsHome #contentsArea .content.banner_big_3 .posterSdw {
    position: absolute;
    display: block;
    width: 470px;
    height: 562px;
    margin-top: -35px;
    margin-left: -38px;
}

div.kidsHome #contentsArea .content.banner_big_3 .focusRect {
    background-color: white;
    position: absolute;
    width: 390px;
    height: 6px;
    opacity: 0;
    transition: opacity .5s;
}

div.kidsHome #contentsArea .content.banner_big_3 .focusRect.top {
    top: -10px;
}

div.kidsHome #contentsArea .content.banner_big_3 .focusRect.bot {
    top: 487px;
}

/*
    [Preview]
*/
div.kidsHome #contentsArea.preview .content.banner_big_3 {
    margin-right: 0px;
    width: 280px;
    height: 347px;
}

div.kidsHome #contentsArea.preview .content.banner_big_3 .content {
    width: 280px;
    height: 347px;
}

div.kidsHome #contentsArea.preview .content.banner_big_3 .posterImg {
    width: 280px;
    height: 347px;
}

div.kidsHome #contentsArea.preview .content.banner_big_3 .previewSdw {
    opacity: 1;
    margin-left: 280px;
    height: 346px;
}

div.kidsHome #contentsArea.preview .content.banner_big_3 .posterSdw {
    visibility: hidden;
    width: 337px;
    height: 403px;
    margin-top: -25px;
    margin-left: -27px;
}

div.kidsHome #contentsArea.preview .content.banner_big_3 .posterTitle {
    display: none;
}

div.kidsHome #contentsArea.preview .content.banner_big_3 .posterDescription {
    display: none;
}

/*
    Focused
*/
div.kidsHome #contentsArea .content.banner_big_3.focus .content {
    z-index: 10;
    -webkit-transform: scale(1.1);
}

div.kidsHome #contentsArea .content.banner_big_3.focus .focusRect {
    opacity: 0.99;
}