/*
    컨텐츠영역에 들어가는 배너의 스타일 정의.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:15
    Author     : lyllyl
*/

/*
    Normal
*/
div.kidsHome #contentsArea .content.banner_mini_1 {
    margin-right: 12px;
    float: left;
    width: 1194px;
    height: 300px;
}
div.kidsHome #contentsArea .content.banner_mini_1 .content {
    width: 1194px;
    height: 300px;
}

div.kidsHome #contentsArea .content.banner_mini_1 .posterImg {
    position: absolute;
    display: block;
    width: 1194px;
    height: 300px;
}

div.kidsHome #contentsArea .content.banner_mini_1 .previewSdw {
    display: none;
}

div.kidsHome #contentsArea .content.banner_mini_1 .posterSdw {
    position: absolute;
    display: block;
    width: 1248px;
    height: 354px;
    margin-top:-24px;
    margin-left:-26px;
}

div.kidsHome #contentsArea .content.banner_mini_1 .posterTitle {
    display: none;
}
div.kidsHome #contentsArea .content.banner_mini_1 .posterDescription {
    display: none;
}


/*
    [Preview]
*/
div.kidsHome #contentsArea.preview .content.banner_mini_1 {
    margin-right: 0px;
    width: 841px;
    height: 211px;
}
div.kidsHome #contentsArea.preview .content.banner_mini_1 .content {
    width: 841px;
    height: 211px;
}

div.kidsHome #contentsArea.preview .content.banner_mini_1 .posterImg {
    width: 841px;
    height: 211px;
}

div.kidsHome #contentsArea.preview .content.banner_mini_1 .posterSdw {
    visibility: hidden;
    width: 337px;
    height: 403px;
    margin-top:-25px;
    margin-left:-27px;
}

div.kidsHome #contentsArea.preview .content.banner_mini_1 .posterTitle {
    display: none;
}
div.kidsHome #contentsArea.preview .content.banner_mini_1 .posterDescription {
    display: none;
}

/*
    Focused
*/
div.kidsHome #contentsArea .content.banner_mini_1.focus * {
    z-index: 10;
}

div.kidsHome #contentsArea .content.banner_mini_1.focus .content {
    border-top: white 6px solid;
    border-bottom: white 6px solid;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -29px;
    margin-top: -7px;
    width: 1252px;
    height: 315px;
}

div.kidsHome #contentsArea .content.banner_mini_1.focus .posterSdw {
    width: 1336px;
    height: 400px;
    margin-top:-38px;
    margin-left:-40px;
}

div.kidsHome #contentsArea .content.banner_mini_1.focus .posterImg {
    width: 1252px;
    height: 315px;
}