/*
    컨텐츠영역에 들어가는 배너의 스타일 정의.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:15
    Author     : lyllyl
*/

/*
    Normal
*/
div.kidsHome #contentsArea .content.banner_big_1 {
    margin-right: 12px;
    float: left;
    width: 1194px;
    height: 482px;
}
div.kidsHome #contentsArea .content.banner_big_1 .content {
    width: 1194px;
    height: 482px;
}

div.kidsHome #contentsArea .content.banner_big_1 .posterImg {
    position: absolute;
    display: block;
    width: 1194px;
    height: auto;
    margin-top:-111px;
}

div.kidsHome #contentsArea .content.banner_big_1 .posterSdw {
    position: absolute;
    display: block;
    width: 1283px;
    height: 562px;
    margin-top:-35px;
    margin-left:-26px;
}

div.kidsHome #contentsArea .content.banner_big_1 .posterTitle {
    display: none;
    position: absolute;
    margin-left: 29px;
    margin-top: 371px;
    width: 361px;
    text-overflow: ellipsis;
    font-size: 42px;
    line-height: 42px;
    color: white;
}
div.kidsHome #contentsArea .content.banner_big_1 .posterDescription {
    display: none;
    /*display: block;*/
    position: absolute;
    margin-left: 29px;
    margin-top: 425px;
    width: 361px;
    text-overflow: ellipsis;
    font-size: 21px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}


/*
    [Preview]
*/
div.kidsHome #contentsArea.preview .content.banner_big_1 {
    margin-right: 0px;
    width: 841px;
    height: 340px;
}
div.kidsHome #contentsArea.preview .content.banner_big_1 .content {
    width: 841px;
    height: 340px;
}

div.kidsHome #contentsArea.preview .content.banner_big_1 .posterImg {
    width: 841px;
    height: auto;
    margin-top: -80px;
}

div.kidsHome #contentsArea.preview .content.banner_big_1 .previewSdw {
    opacity: 1;
    margin-left: 280px;
    width: 888px;
    height: 346px;
}

div.kidsHome #contentsArea.preview .content.banner_big_1 .posterSdw {
    visibility: hidden;
    width: 337px;
    height: 403px;
    margin-top:-25px;
    margin-left:-27px;
}

div.kidsHome #contentsArea.preview .content.banner_big_1 .posterTitle {
    display: none;
}
div.kidsHome #contentsArea.preview .content.banner_big_1 .posterDescription {
    display: none;
}

/*
    Focused
*/
div.kidsHome #contentsArea .content.banner_big_1.focus * {
    z-index: 10;
}

div.kidsHome #contentsArea .content.banner_big_1.focus .content {
    border-top: white 6px solid;
    border-bottom: white 6px solid;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: -46px;
    margin-top: -32px;
    width: 1285px;
    height: 519px;
}

div.kidsHome #contentsArea .content.banner_big_1.focus .posterSdw {
    width: 1369px;
    height: 603px;
    margin-top:-40px;
    margin-left:-39px;
}

div.kidsHome #contentsArea .content.banner_big_1.focus .posterImg {
    width: 1285px;
    height: auto;
    margin-top: -119px;
}

div.kidsHome #contentsArea .content.banner_big_1.focus .posterTitle {
    margin-left: 33px;
    margin-top: 400px;
}

div.kidsHome #contentsArea .content.banner_big_1.focus .posterDescription {
    margin-left: 33px;
    margin-top: 458px;
}