/*          *
    Common
 *          */

.kidsHome .contents_area {
    position: absolute;
    left: 646px;
    top: 115px;
}

/*.kidsHome #kidsSubHome_masslist .contents_area {*/
    /*position: absolute;*/
    /*top: 67px;*/
    /*left: 198px;*/
    /*-webkit-transform: translateZ(0);*/
    /*!*transition: -webkit-transform .5s;*!*/
/*}*/

/* 키즈 캐릭터전용관 컨텐츠 영역 좌표 */
.kidsHome .characterContentsView .contents_area, .kidsHome .characterTheaterView .contents_area {
    position: absolute;
    left: 546px;
    top: 122px;
}

.kidsHome .parentsWorldView .contents_area {
    position: absolute;
    top: 90px;
    left: 643px;
    /*-webkit-transform: translateZ(0);*/
}

.kidsHome .kidsMyList .contents_area {
    position: absolute;
    top: 122px;
    left: 645px;
    -webkit-transform: translateZ(0);
}

.kidsHome .kidsCharacterListView .contents_area {
    position: absolute;

    left: 636px;
    top: 81px;
}

.kidsHome .kidsCharacterListView .contents_area.singlePage {
    top: 122px;
}

.kidsHome .characterTheaterView .contents_area {
    position: absolute;
    top: 105px;
    left: 250px;
}

/*.kidsHome .blurred div.bottom_dim {*/
/*position: fixed;*/
/*background: url(../../resource/image/dim_category_kids_btm.png);*/
/*width: 1920px;*/
/*height: 168px;*/
/*bottom: 0;*/
/*}*/

.kidsHome div.bottom_dim {
    position: fixed;
    /*background: url(../../resource/image/dim_category_kids_btm.png);*/
    background: url(../../resource/image/dim_vodlist_btm_kids.png);
    left: 536px;
    width: 1344px;
    height: 168px;
    bottom: 0;
}

.kidsHome .characterContentsView .bottomDim,.kidsHome .characterTheaterView .bottom_dim {
    /*left: 536px;*/
    left: 556px;
    width: 1364px;
}

.kidsHome div.bottom_dim::after {
    position: fixed;
    background: url(../../resource/image/key_shadow_kids.png);
    left: 1115px;
    bottom: 0;
}

/*.kidsHome .parentsWorldView.blurred .contents_area {
   *//* 사용하지 않음*//*
}

.kidsHome .kidsCharacterListView.blurred .contents_area {

}*/

.kidsHome .indicator_area {
    position: absolute;
    top: 122px;
    left: 1810px;
    z-index: 1;
}

.kidsHome .blurred .indicator_area {
    display: none;
}

.kidsHome .sub_posterList {
    white-space: nowrap;
    margin-top: -10px;
}

/*                   *
    Vertical Poster
 *                   */
.kidsHome .contents_area .contentsList.vertical_poster_list {
    width: 1155px;
}

.kidsHome .characterContentsView .contents_area .contentsList.vertical_poster_list, .kidsHome .characterTheaterView .contents_area .contentsList.vertical_poster_list {
    width: 1390px;
}

.kidsHome .contents_area .contentsList.vertical_poster_list.slide_down {
    -webkit-animation: kidsHome_contents_list_vertical_slide_down .5s forwards;
}

.kidsHome .contents_area .contentsList.vertical_poster_list.slide_up {
    -webkit-animation: kidsHome_contents_list_vertical_slide_up .5s forwards;
}

@-webkit-keyframes kidsHome_contents_list_vertical_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-828px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes kidsHome_contents_list_vertical_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-828px)}
}

.kidsHome .characterContentsView .contents_area .contentsList li.content.poster_vertical ,.kidsHome .characterTheaterView .contents_area .contentsList li.content.poster_vertical {
    height: 370px;
    margin-right: 40px;
    /*margin-bottom: 34px;*/
}

.kidsHome .contents_area .contentsList li.content.poster_vertical {
    height: 370px;
    margin-bottom: 44px;
}

/*
 * 포스터 리스트 페이지 이동 시 css 연산 문제로 타이틀이 사라지는 문제가 발생하여,
 * 포스터 높이 조정하여 css 재연산 되도록 함
 */
.kidsHome .contents_area .contentsList li.content.poster_vertical.focus {
    height: 371px;
    margin-bottom: 43px;
}

.kidsHome .contents_area .contentsList li.content.hidden_line {
    visibility: hidden;
}

.kidsHome .contents_area .contentsList li.content.hidden_cont {
    visibility: hidden;
}

/*                     *
    Horizontal Poster
 *                     */
.kidsHome .contents_area .contentsList.horizontal_poster_list {
    -webkit-transform: translateY(-395px) translateZ(0);
    width: 1230px;
}

.kidsHome .contents_area .contentsList.horizontal_poster_list.slide_down {
    -webkit-animation: kidsHome_contents_list_horizontal_slide_down .5s forwards;
}

.kidsHome .contents_area .contentsList.horizontal_poster_list.slide_up {
    -webkit-animation: kidsHome_contents_list_horizontal_slide_up .5s forwards;
}

@-webkit-keyframes kidsHome_contents_list_horizontal_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-1348px)}
    to { -webkit-transform: translateZ(0) translateY(-395px)}
}

@-webkit-keyframes kidsHome_contents_list_horizontal_slide_up {
    from { -webkit-transform: translateZ(0) translateY(-395px)}
    to { -webkit-transform: translateZ(0) translateY(-1348px)}
}

.kidsHome .contents_area .contentsList li.content.poster_horizontal {
    margin-bottom: 21px;
}

/*                     *
    Square Poster
 *                     */
.kidsHome .contents_area .contentsList.square_poster_list {
    width: 1180px;
}

.kidsHome .contents_area .contentsList.square_poster_list.slide_down {
    -webkit-animation: kidsHome_contents_list_square_slide_down .5s forwards;
}

.kidsHome .contents_area .contentsList.square_poster_list.slide_up {
    -webkit-animation: kidsHome_contents_list_square_slide_up .5s forwards;
}

@-webkit-keyframes kidsHome_contents_list_square_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-772px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes kidsHome_contents_list_square_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-772px)}
}

.kidsHome .contents_area .contentsList li.content.poster_square {
    height: 316px;
    margin-bottom: 70px;
}

/*                     *
    Character List
 *                     */
.kidsHome .contents_area .contentsList.kids_character_list {
    width: 1260px;
    /*transition: width .5s, -webkit-transform .5s;*/
}

.kidsHome .blurred .contents_area .contentsList.kids_character_list {
    width: 1260px;
    /*-webkit-transform: translateZ(0);*/
}

.kidsHome .contents_area .contentsList.kids_character_list.slide_down {
    -webkit-animation: kidsHome_contents_list_kids_character_slide_down .5s forwards;
}

.kidsHome .contents_area .contentsList.kids_character_list.slide_up {
    -webkit-animation: kidsHome_contents_list_kids_character_slide_up .5s forwards;
}

@-webkit-keyframes kidsHome_contents_list_kids_character_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-834px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes kidsHome_contents_list_kids_character_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-834px)}
}

.kidsHome .contents_area .contentsList li.content.kids_Character {
    margin-bottom: 109px;
    margin-left: -20px;
}

.kidsHome .blurred .contents_area .contentsList li.content.kids_Character {

}

.kidsHome .kidsCharacterListView.blurred .contents_area li.content.kids_Character.line_3,
.kidsHome .kidsCharacterListView.blurred .contents_area li.content.kids_Character.line_4 {
    visibility: hidden;
}

/*.kidsHome .viewArea .blurred .contents_area .contentsList li.content:nth-child(n+13) {*/
/*display: none;*/
/*}*/

/*                   *
    Theater_Vertical Poster
 *                   */
.kidsHome .contents_area .contentsList.vertical_poster_list.theater {
    width: 1300px;
    /*transition: width .5s, -webkit-transform .5s;*/
}

.kidsHome .blurred .contents_area .contentsList.vertical_poster_list.theater {
    width: 840px;
    -webkit-transform: translateY(-270px) translateZ(0);
    overflow: hidden;
}

.kidsHome .contents_area .contentsList.vertical_poster_list.theater.slide_down {
    -webkit-animation: kidsHome_contents_list_theaterVertical_slide_down .5s forwards;
}

.kidsHome .contents_area .contentsList.vertical_poster_list.theater.slide_up {
    -webkit-animation: kidsHome_contents_list_theaterVertical_slide_up .5s forwards;
}

@-webkit-keyframes kidsHome_contents_list_theaterVertical_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-868px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes kidsHome_contents_list_theaterVertical_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-868px)}
}

.kidsHome .contents_area .contentsList li.content.theater_poster_vertical {
    margin-bottom: 84px;
}

.kidsHome .blurred .contents_area .contentsList li.content.theater_poster_vertical {
    margin-bottom: 30px;
}

/*                   *
    KidsSubHome
 *                   */

/*.kidsHome .kidsSubHomeView .contents_area .components_area {*/
/*transition: -webkit-transform .5s;*/
/*}*/

.kidsHome .kidsSubHomeView #kidsRecentlyList {
    height: 480px;
}

.kidsHome .parentsWorldView.blurred .contents_area .components_area > *
.kidsHome .kidsSubHomeView.blurred .contents_area .components_area > * {
    overflow: visible;
}

.kidsHome .kidsSubHomeView .contents_area .componentTitle div {
    float: left;
}

.kidsHome .parentsWorldView .contents_area .componentTitle {
    display: inline-block;
    font-size: 27px;
    font-family: "RixHead B";
    color: rgba(255,255,255,.7);
    margin-bottom: 15px;
    vertical-align: top;
    line-height: 24px;
}

.kidsHome .parentsWorldView .contents_area #parent_education_guide.focus .componentTitle {
    color: rgba(255,255,255,1);
}

.kidsHome .kidsSubHomeView .contents_area .componentTitle {
    display: inline-block;
    font-size: 27px;
    font-family: "RixHead B";
    color: rgba(255,255,255,.5);
    margin-bottom: 15px;
    vertical-align: top;
    line-height: 24px;
}

.kidsHome .parentsWorldView .contents_area .componentTitle::before {
    content : "\a";
    width: 3px;
    height: 24px;
    background: rgba(255,255,255,.5);
    display: inline-block;
    vertical-align: top;
    margin-right:12px;
    margin-left: 6px;
}

.kidsHome .parentsWorldView .contents_area #parent_education_guide.focus .componentTitle::before {
    background: rgba(255,255,255,.7);
}

.kidsHome .kidsSubHomeView .contents_area .componentTitle::before {
    content : "\a";
    width: 3px;
    height: 24px;
    background: rgba(255,255,255,.3);
    display: inline-block;
    vertical-align: top;
    margin-right:12px;
    margin-left: 6px;
}

.kidsHome .kidsSubHomeView .contents_area .contentsList{
    width: 1230px;
    height: 480px;
}

.subhome .kidsSubHomeView .bottom_dim {
    width: 1344px;
    left: 577px;
}

.kidsHome .parentsWorldView.blurred .componentTitle {
    /*display: none;*/
    opacity: 0.5
}

.kidsHome .kidsSubHomeView.blurred .components_area {
    /*-webkit-transform-origin: 0 0;*/
    /*-webkit-transform: scale(1.53);*/
}

.kidsHome div.contentsView .order_code_text {
    position: fixed;
    right: 268px;
    top: 1002px;
    font-size: 26px;  color: rgba(255,255,255,.3);
}

.kidsHome div.contentsView .order_code_text::before {
    content: "정렬 : ";
}

.kidsHome .appContentsView .contents_area {
    top: 122px;
    left: 636px;
    opacity: 1;
    -webkit-transform: scale(1.1);
}

.kidsHome .appContentsView .contents_area img {
    width: 486px;
    height: 544px;
}

.kidsHome .appContentsView .contents_area .btn_go {
    height: 66px;
    width: 486px;
    line-height: 66px;
    font-size: 30px;
    text-align: center;
    color: #513300;
    letter-spacing: -1.5px;
    background-color: #FFB32E;
    opacity: 1;
    margin-top: 10px;
    font-family: "RixHead B";
}

.kidsHome .appContentsView.blurred .contents_area .btn_go {
    color: rgba(255,255,255,.7);
    background-color: rgba(202, 202, 202, 0.2);
}

.kidsHome .appContentsView.blurred .contents_area {
    top: 122px;
    left: 636px;
    opacity: 0.8;
    -webkit-transform: scale(1);
}