div.kidsHome .characterTheaterView .contents_area {
    -webkit-transform: translateZ(0) translateX(-100px);
}

/* 캐릭터관 하위 카테고리가 없는 경우 사용되는 캐릭터 이미지 위치 */
div.kidsHome .characterContentsView .characterDefault_BG {
    /*margin-left: 26px;*/
    position: absolute;
    left: 150px;
    top: 103px;
    width: 307px;
    height: 391px;
}
div.kidsHome .characterContentsView .character_sdw_img {
    position: absolute;
    left: 226px;
    top: 363px;
    width: 156px;
    height: 48px;

}
div.kidsHome .characterContentsView .selectCharacter_div {
    position: absolute;
    left: 173px;
    top: 70px;
    width: 261px;
    height: 322px;
}
/**************************************************************/


div.kidsHome .characterTheaterView .characterDefault_BG {
    /*margin-left: 26px;*/
}

div.kidsHome .characterTheaterView .character_sdw_img {
    position: absolute;
    left: 76px;
    top: 270px;
    /*margin-left: 26px;*/
}

div.kidsHome .characterTheaterView .selectCharacter_div {
    position: absolute;
    width: 261px;
    height: 332px;
    left: 18px;
    top: -24px;
    /*margin-left: 26px;*/
}

div.kidsHome .characterTheaterView .characterTheater_category_area {
    margin-left: -28px;
}

div.kidsHome .characterTheaterView .characterTheater_category_arrow_img {
    margin: 5px 160px;
}

div.kidsHome .characterTheaterView .characterTheater_category_btn {
    position: relative;
    width: 354px;
    height: 91px;
    margin-bottom: -4px;
    background-image: url(../../resource/image/btn_kids_cha.png);
}

div.kidsHome .characterTheaterView .characterTheater_category_btn.focus {
    background-image: url(../../resource/image/btn_kids_cha_f.png);
}

div.kidsHome .characterTheaterView .characterTheater_category_btn.unSelect {
    background-image: url(../../resource/image/btn_kids_cha_dim.png);
}

div.kidsHome .characterTheaterView .characterTheater_category_btn.focus.select {
    background-image: url(../../resource/image/btn_kids_cha.png);
}


div.kidsHome .characterTheaterView .characterTheater_category_btn_text {
    position: absolute;
    left: 0;
    top: 28px;
    width: 354px;
    font-size: 33px;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "RixHead L";
}

div.kidsHome .characterTheaterView .characterTheater_category_btn.focus .characterTheater_category_btn_text  {
    top: 26px;
    font-size: 38px;
    font-family: "RixHead M";
}

div.kidsHome .characterTheaterView .characterTheater_vod_area {
    visibility: hidden;
    position: absolute;
    left: 408px;
    top: 24px;
}

div.kidsHome .characterTheaterView .characterTheater_app_area {
    visibility: hidden;
    position: absolute;
    left: 430px;
    top: 43px;
}

div.kidsHome .characterTheaterView .characterTheater_vod_area.show,
div.kidsHome .characterTheaterView .characterTheater_app_area.show {
    visibility: inherit;
}

div.kidsHome .characterTheaterView .characterTheater_app_div {
    padding-top: 4px;
    width: 402px;
    height: 487px;
    border-bottom: 5px solid rgba(255,255,255,0.15);
}

div.kidsHome .characterTheaterView .characterTheater_app_img {
    width: 402px;
    height: 450px;
}

div.kidsHome .characterTheaterView .characterTheater_app_text {
    margin-top: 17px;
    width: 402px;
    font-size: 30px;
    color: white;
    opacity: 0.3;
    text-align: center;
    font-family: "RixHead L";
}

div.kidsHome .characterTheaterView .characterTheater_app_div.focus {
    -webkit-transform: scale(1.09);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

div.kidsHome .characterTheaterView .characterTheater_app_div.focus .characterTheater_app_text {
    font-family: "RixHead M";
    opacity: 1.0;
}

div.kidsHome .characterTheaterView .characterTheater_noContents_area {
    position: absolute;
    left: 411px;
    top: 49px;
    width: 840px;
    height: 802px;
    background: rgba(30, 70, 107, 0.3);
    border-top: 5px solid rgba(255,255,255, 0.2);
    border-bottom: 5px solid rgba(255,255,255, 0.2);
    display: none;
}

div.kidsHome .characterTheaterView .characterTheater_noContents_area.show {
    display: block;
}

div.kidsHome .characterTheaterView .characterTheater_noContents_area .kidsNoContents_Img {
    position: absolute;
    left: 376px;
    top: 339px;
}

div.kidsHome .characterTheaterView .characterTheater_noContents_area .kidsNoContents_text {
    position: absolute;
    left: 211px;
    top: 443px;
    color: white;
    opacity: 0.7;
    font-size: 33px;
    font-family: "RixHead L";
}