div.kidsHome div.kidsMyList .overflow_wrapper {
    width: 688px;
    height: 826px;
    border-bottom: 5px solid rgba(255,255,255,.4);
    border-top: 5px solid rgba(255,255,255,.4);
}

div.kidsHome div.kidsMyList.blurred .overflow_wrapper {
    width: 688px;
    /*border-bottom: none;*/
}

div.kidsHome .viewArea div.kidsMyList .contents_area {
    overflow: hidden;
}

div.kidsHome .viewArea div.kidsMyList .playlist_cnt {
    position: absolute;
    top: 90px;
    left: 645px;
    font-size: 22px;
    letter-spacing:-1.1px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
}

div.kidsHome .viewArea div.kidsMyList.blurred .contents_area {
    /*-webkit-transform: translateX(324px) translateY(11px) translateZ(0);*/
    /*-webkit-transform-origin: 0 0;*/
    /*overflow: visible;*/
}

div.kidsHome .viewArea div.kidsMyList.blurred .contents_area.noContents {
    -webkit-transform: translateX(180px) translateY(66px) translateZ(0);
}

div.kidsHome div.kidsMyList .contents_area .scrolled_area {
    -webkit-transform:  translateZ(0);
    transition: -webkit-transform .5s;
}

div.kidsHome .kidsMyList .focus_area {
    position: absolute;
    border-top: #FFB32E 5px solid;
    border-bottom: #FFB32E 5px solid;
    height: 162px;
    width: 688px;
    z-index: 10;
    top: 0px;
}

div.kidsHome .kidsMyList.blurred .focus_area {
    opacity: 0;
}

div.kidsHome .kidsMyList .focus_area.hidden {
    opacity: 0;
}

div.kidsHome .kidsMyList .indicator_area {
    position: absolute;
    left: 1386px;
    top: 123px;
}

div.kidsHome .kidsMyList.blurred .indicator_area {
    opacity: 0;
}

/*************************
      Contents Area
 ************************/
/*  Item Area  */
div.kidsHome .kidsMyList .item_area {
    width: 779px;
    height: 134px;
    vertical-align: middle;
    display: inline-table;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(255,255,255,.2);
}

div.kidsHome .kidsMyList .item_area:nth-child(9n),
div.kidsHome .kidsMyList .item_area:nth-child(10n) {
    border-bottom: none;
}

div.kidsHome .kidsMyList.blurred .item_area:nth-child(9n),
div.kidsHome .kidsMyList.blurred .item_area:nth-child(10n) {
    border-bottom: 2px solid rgba(255,255,255,.2);
}

div.kidsHome .kidsMyList.blurred .item_area {
    width: 779px;
}

div.kidsHome .kidsMyList .item_area:nth-child(odd) {
    margin-right: 50px;
}

div.kidsHome .kidsMyList .item_area:nth-child(1) {
    border-top: none;
}

div.kidsHome .kidsMyList .item_area:nth-child(2) {
    border-top: none;
}

div.kidsHome .kidsMyList.blurred .page_area:nth-child(1) .item_area:nth-child(1) {
    border-top: none;
}

div.kidsHome .kidsMyList.blurred .page_area:nth-child(1) .item_area:nth-child(2) {
    border-top: none;
}

div.kidsHome .kidsMyList .item_area > * {
    display: table-cell;
    vertical-align: middle;
}

div.kidsHome .kidsMyList .item_area .checkBoxArea {
    width: 74px;
    height: 39px;
}

div.kidsHome .kidsMyList.blurred .item_area .checkBoxArea {
    /*display:none*/
}

div.kidsHome .kidsMyList .item_area .checkBoxArea .checkBox {
    width: 49px;
    height: 39px;
    background: url(../../resource/image/pop_cb_dim_uncheck.png);
}

div.kidsHome .kidsMyList .item_area.checked .checkBoxArea .checkBox {
    background: url(../../resource/image/pop_cb_dim_check.png);
}

div.kidsHome .kidsMyList .item_area .posterArea .lock_icon {
    width: inherit;
    height: inherit;
}

div.kidsHome .kidsMyList .item_area .posterArea .lock_icon > img {
    width: inherit;
    bottom: 0;
    position: absolute;
}

div.kidsHome .kidsMyList .item_area .posterArea {
    width: 87px;
    height: 124px;
    margin-right: 25px;
    vertical-align: middle;
}

div.kidsHome .kidsMyList .item_area .posterArea .posterBox {
    width: 87px;
    height:124px;
    margin-right: 25px;
}

div.kidsHome .kidsMyList .item_area .posterArea .absoluteWrapper {
    position: absolute;
    width: 87px;
    height: 124px;
}

div.kidsHome .kidsMyList .item_area .posterArea .musicBg {
    position: absolute;
    left:0;
    top:0;
    width: 87px;
    height: 124px;
}

div.kidsHome .kidsMyList .item_area .posterArea .poster {
    position: absolute;
    left:0;
    top:0;
    width: 87px;
    height: 124px;
}

div.kidsHome .kidsMyList .item_area .titleArea {
    max-width: 324px;
}

div.kidsHome .kidsMyList .item_area .titleArea .title {
    display: block;
    font-size: 33px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "RixHead M";
    opacity:0.5;
    width: 495px;
    line-height: 36px;
}

div.kidsHome .kidsMyList .item_area .titleArea .description {
    display: block;
    font-size: 24px;
    color: rgba(255,255,255,1);
    margin-top: 9px;
}
div.kidsHome .kidsMyList .item_area .isfreeIcon {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 7px;
    content: url(../../resource/icon_buy.png);
    opacity: 0.5;
}

div.kidsHome .kidsMyList .item_area .titleArea .isfree {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    font-family: "RixHead M";
    opacity:0.5;
    margin-right: 6px;
}

div.kidsHome .kidsMyList .item_area .titleArea .age {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    opacity: 0.5;
}

div.kidsHome .kidsMyList.blurred .item_area.focus .title,
div.kidsHome .kidsMyList.blurred .item_area.focus .isfree,
div.kidsHome .kidsMyList.blurred .item_area.focus .isfreeIcon {
    opacity: 0.5;
}

div.kidsHome .kidsMyList.blurred .item_area.focus .age {
    opacity: 0.7;
}

div.kidsHome .kidsMyList.blurred .item_area.focus .posterArea .posterBox {
    -webkit-transform: none;
}

div.kidsHome .kidsMyList .item_area.focus .posterArea .posterBox {
    -webkit-transform: scale(1.145);
}

div.kidsHome .kidsMyList .item_area.focus .titleArea {
    max-width: 317px;
}

div.kidsHome .kidsMyList .item_area.focus .titleArea .title {
    text-overflow: inherit;
}

div.kidsHome .kidsMyList .item_area.focus .titleArea .title span {
    display: inline-block;
    font-family: "RixHead M";
    letter-spacing: -1.5px;
}

div.kidsHome .kidsMyList .item_area.focus .title,
div.kidsHome .kidsMyList .item_area.focus .isfree,
div.kidsHome .kidsMyList .item_area.focus .isfreeIcon,
div.kidsHome .kidsMyList .item_area.focus .age {
    opacity: 1.0;
    color: white;
}

/*  NoContents Area  */
div.kidsHome .kidsMyList .contents_area.noContents {
    width: 780px;
    height: 758px;
    /*background: rgba(32,74,119,.5);*/
    /*border-top: 5px solid rgba(255,255,255,.2);*/
    /*border-bottom: 5px solid rgba(255,255,255,.2);*/
    text-align: center;
}

div.kidsHome .kidsMyList .contents_area.noContents .msg_icon {
    display: block;
    margin-top: 215px;
    margin-left:auto;
    margin-right:auto;
}

div.kidsHome .kidsMyList .contents_area.noContents .main {
    display: block;
    margin-top:29px;
    font-size: 33px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.7);
    width: inherit;
    line-height: 31px;
}

div.kidsHome .kidsMyList .contents_area.noContents .sub icon {
    width: 33px;
    height: 27px;
    display: inline-block;
    background: url(../../resource/image/icon_option_related.png);
    background-size: 33px 27px;
    vertical-align: top;
    margin-top: 6px;
    margin-right: 7px;
    margin-left: 9px;
}


div.kidsHome .kidsMyList .contents_area.noContents .sub {
    display: block;
    margin-top: 25px;
    font-size: 27px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.5);
    width: inherit;
    line-height: 39px;
}

div.kidsHome .kidsMyList .contents_area.noContents .sub icon {
    width: 33px;
    height: 27px;
    display: inline-block;
    background: url(../../resource/image/icon_option_related.png);
    background-size: 33px 27px;
    vertical-align: top;
    margin-top: 6px;
    margin-right: 7px;
    margin-left: 9px;
}

/***********************
        Menu Area
 **********************/
div.kidsHome .kidsMyList .menu_area {
    position: absolute;
    left: 1472px;
    top: 90px;
    width: 412px;
    height: 865px;
}

div.kidsHome .kidsMyList.blurred .menu_area {
    /*opacity: 0;*/
}

/* BG Area */
div.kidsHome .kidsMyList .menu_area .bg_area {
    position: absolute;
    width: inherit;
    height: inherit;
}

div.kidsHome .kidsMyList .menu_area .bg_top {
    width: inherit;
    height: 62px;
    width: 412px;
    background: url(../../resource/image/set_bg_btn_kids_t.png);
}

div.kidsHome .kidsMyList .menu_area .bg_mid {
    height: 776px;
    width: 412px;
    background: url(../../resource/image/set_bg_btn_kids.png);
}

div.kidsHome .kidsMyList .menu_area .bg_bottom {
    width: inherit;
    height: 62px;
    background: url(../../resource/image/set_bg_btn_kids_b.png);
    background-repeat: no-repeat;
}

/* BTN Area */
div.kidsHome .kidsMyList .menu_area .btn_area {
    position: absolute;
    top: 67px;
    left: 38px;
    width: 282px;
}

div.kidsHome .kidsMyList .menu_area .btn_area btn {
    display: block;
    width: 282px;
    height: 66px;
    margin-top: 13px;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 66px;
    color: rgba(255,255,255,.7);
    /*background: url(../../resource/image/btn_set_kids_w282.png);*/
    background: rgba(16,47,79,0.5);
}

div.kidsHome .kidsMyList .menu_area .btn_area btn.focus {
    background: #FFB32E;
    color: black;
    font-family: "RixHead M";
}

div.kidsHome .kidsMyList .menu_area .btn_area btn.disable {
    opacity: .5;
}

div.kidsHome .kidsMyList .menu_area .btn_area sepline {
    display: block;
    width: 282px;
    margin-top: 30px;
    margin-bottom: 31px;
    height: 2px;
    background-color: rgba(255,255,255,.1);
}


