div.kidsHome .contentsList.kids_character_list li {
    float: left;
}

div.kidsHome .content.kids_Character .kids_content {
    position: relative;
    width: 311px;
    height: 308px;
}

div.kidsHome .content.kids_Character .kids_characterBG_div {
    background-image: url(../../resource/image/cha_back.png);
    width: 311px;
    height: 308px;
}

div.kidsHome .content.kids_Character.focus .kids_characterBG_div {
    position: absolute;
    left: 17px;
    top: 59px;
    width: 277px;
    height: 165px;
    background-image: url(../../resource/image/cha_back_f.png);
}

div.kidsHome .content.kids_Character .kids_character_img {
    position: absolute;
    bottom: 20px;
    left: 24px;
}

div.kidsHome .content.kids_Character.focus .kids_character_img {
    -webkit-transform: scale(1.09);
    -webkit-transform-origin: 50% 100%;
}

div.kidsHome .content.kids_Character .kids_character_name_BG {
    position: absolute;
    width: 311px;
    height: 107px;
    left: 0px;
    top: 201px;
    background-image: url(../../resource/image/cha_front.png);
}

div.kidsHome .content.kids_Character.focus .kids_character_name_BG {
    position: absolute;
    width: 341px;
    height: 107px;
    left: -15px;
    top: 201px;
    background-image: url(../../resource/image/cha_front_f.png);
}

div.kidsHome .content.kids_Character .kids_character_name {
    position: absolute;
    left: 0px;
    top: 243px;
    width: 311px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "RixHead L";
}

div.kidsHome .content.kids_Character.focus .kids_character_name {
    font-family: "RixHead M";
    color: rgb(0,59,97);
}