
div.kidsHome #promotion_banner_focus_div {
    position: absolute;
    left: 0;
    top: 103px;
    bottom: -6px;
    width: 1285px;
    height: 525px;
    border-top:5px solid white;
    border-bottom:5px solid white;
    z-index: -1;
}


.kidsHome .kidsSubHomeView .contents_area .kids_menu_icon_area {
    width: 1230px;
    height: 400px;
}

.kidsHome .kidsSubHomeView .contents_area .kids_menu_icon_area .kids_menu_icon {
    float: left;
    width: 231px;
    height: 300px;
}

.kids_menu_icon_cristal {
    visibility: inherit;
}
.kidsHome .kidsSubHomeView .contents_area .kids_menu_icon_area .kids_menu_icon.focus .kids_menu_icon_cristal {
    visibility: hidden;
}

.kids_menu_icon_title_bg {
    background-image: url("../../resource/image/kids_submenu_d.png");
}
.kidsHome .kidsSubHomeView .contents_area .kids_menu_icon_area .kids_menu_icon.focus .kids_menu_icon_title_bg {
    background-image: url("../../resource/image/kids_submenu_f.png");
}

.kidsHome .kidsSubHomeView .contents_area .kids_menu_icon_area .kids_menu_icon.focus .kids_menu_icon_img {
    -webkit-transform: translateY(-25px);
}

.kids_menu_icon_title {
    font-family: "RixHead M";
    color: rgba(255, 255, 255, 1);
}
.kidsHome .kidsSubHomeView .contents_area .kids_menu_icon_area .kids_menu_icon.focus .kids_menu_icon_title {
    font-family: "RixHead B";
    color: rgba(81, 51, 0, 1);
}
