div.kidsHome #parents_watch_manager {
    position: absolute;
    left: -40px;
    top: 12px;
    width: 1272px;
    height: 215px;
    /*transition: -webkit-transform .5s;*/
}

div.kidsHome #parents_watch_manager.blurred {
    /*-webkit-transform: translateY(-56px);*/
}

div.kidsHome #parents_watch_manager_title_div {
    margin-left: 39px;
}

div.kidsHome #parents_watch_manager_title_div.blurred {
    /*visibility: hidden;*/
    opacity: 0.5;
}

div.kidsHome .parents_world_bar_style {
    width: 3px;
    height: 24px;
    float: left;
    background: white;
    opacity: 0.5;
}

div.kidsHome .parents_world_text_style {
    float: left;
    margin-left: 10px;
    font-size: 27px;
    margin-top: -2px;
    color: white;
    font-family: "RixHead B";
    opacity: 0.5;
}

div.kidsHome #parents_watch_manager_btn_area {
    position: absolute;
    left: 39px;
    top: 44px;
    width: 1206px;
    height: 145px;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div {
    position: relative;
    float: left;
    width: 367px;
    height: 145px;
    margin-right: 10px;
    /*transition: -webkit-transform .5s;*/
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.focus {
    -webkit-transform: scale(1.1);
    /*background: white;*/
    z-index: 9;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div .shadow {
    visibility: hidden;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.focus .shadow {
    visibility: inherit;
}


div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.focus .parents_watch_manager_btn_bg {
     /*visibility: hidden;*/
     background: black;
     border : 5px solid rgb(255,179,46);
}
div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.focus .parents_watch_manager_btn_innerBg {
    visibility: inherit;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_title {
    position: absolute;
    left: 31px;
    top: 36px;
    font-size: 36px;
    height: 38px;
    color: white;
    opacity: 0.7;
    font-family: "RixHead L";
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.blurred .parents_watch_manager_btn_title.eng {
    top: 41px;
    font-size: 28px;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.focus .parents_watch_manager_btn_title {
    color: white;
    font-family: "RixHead M";
    opacity: 1.0;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div .parents_watch_manager_btn_subTitle {
    position: absolute;
    left: 32px;
    top: 84px;
    width: 300px;
    height: 40px;
    /*opacity: 0.7;*/
}

/*div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div .parents_watch_manager_btn_subTitle .image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 84px;
    height: 40px;
}*/
div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div .parents_watch_manager_btn_subTitle .text {
    position: absolute;
    /* left, top 위치 잡기*/
    left: 0px;
    top: 8px;
    font-size: 26px;
    color: rgba(203, 236, 255, 0.7);
    font-family: "RixHead B";
    /*width: 84px;*/
    height: 40px;
    /*text-align: center;*/
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div .parents_watch_manager_btn_subTitle .text {
    position: absolute;
    /* left, top 위치 잡기*/
    font-size: 26px;
    color: rgba(203, 236, 255, 0.7);
    font-family: "RixHead B";
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.focus .parents_watch_manager_btn_subTitle .text {
    color: rgb(255,179,46);
    /*opacity: 1.0;*/
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div .parents_btn_sdw {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 144px;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_div.blurred:nth-child(n+2) .parents_btn_sdw {
    display: block;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_bg {
    width: 367px;
    height: 145px;
    /*background: rgba(52, 77, 117, 0.9);*/
    background: rgb(32,75,119);
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_innerBg {
    position: absolute;
    left:6px;
    top: 6px;
    width: 364px;
    height: 142px;
    /*background: rgba(52, 77, 117, 0.9);*/
    background: rgb(27,55,82);
    visibility: hidden;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_bg.blurred {
    /*transition: -webkit-transform .5s;*/
/*    -webkit-transform-origin: 0;
    -webkit-transform: scale(0.72, 1.0);*/
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_charImg {
    position: absolute;
    right: 28px;
    top: 27px;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_charImg.blurred {
    display: none;
}

div.kidsHome #parents_watch_manager_btn_area .parents_watch_manager_btn_charImg.eng.blurred {
    display: block;
    right: 118px;
    -webkit-transform: scale(0.7) translateY(-5px);
}

div.kidsHome #parents_watch_manager_info {
    position: absolute;
    left: 40px;
    top: 221px;
    font-size: 24px;
    color: white;
    opacity: 0.6;
    font-family: "RixHead M";
    line-height: 33px;
}

div.kidsHome #parents_watch_manager_info.blurred {
   /* visibility: hidden;*/
    opacity: 0.5;
}

div.kidsHome #parent_education_guide {
    position: absolute;
    left: -9px;
    top: 435px;
    width: 1200px;
    /*transition: -webkit-transform .5s;*/
}

div.kidsHome #parent_education_guide.blurred {
    /*-webkit-transform: translateY(-200px);*/
}

div.kidsHome #parents_education_guide_contentsList {
    list-style: none;
    width: 1300px;
}

div.kidsHome #parents_education_guide_title_div.blurred {
    /*visibility: hidden;*/
}

div.kidsHome #parents_watch_manager.focus .parents_world_bar_style {
    opacity:0.7;
}

div.kidsHome #parents_watch_manager.focus .parents_world_text_style {
    opacity:1.0;
}
