/*
    컨텐츠 영역의 가로 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:10
    Author     : lyllyl
*/

/*
 * 일반
 */
div.kidsHome .content.poster_horizontal {
    margin-right: 30px;
    float: left;
    width: 276px;
    height: 297px;
    /*transition: width .5s, height .5s, margin .5s;*/
}

div.kidsHome .content.poster_horizontal .content {
    width: 276px;
    height: 207px;
    display: block;
    border-top: white 6px solid;
    border-bottom: white 6px solid;
    border-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
}

/*div.kidsHome .content.poster_horizontal .previewSdw {*/
    /*position: absolute;*/
    /*margin-left: 168px;*/
    /*height: 240px;*/
    /*width: 13px;*/
    /*z-index: 1;*/
    /*opacity: 0;*/
/*}*/

/*div.kidsHome .content.poster_horizontal .posterSdw {*/
    /*position: absolute;*/
    /*width: 266px;*/
    /*height: 356px;*/
    /*margin-top:-25px;*/
    /*margin-left:-27px;*/
/*}*/

div.kidsHome .content.poster_horizontal .posterImg {
    position: absolute;
    width: 276px;
    height: 207px;
}

div.kidsHome .content.poster_horizontal .contentsData {
    position: absolute;
    margin-top: 227px;
    width: 276px;
}

div.kidsHome .content.poster_horizontal .posterTitle {
    display: block;
    color: white;
    opacity: 0.7;
    font-size: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.kidsHome .content.poster_horizontal .posterDetail {
    display: block;
    margin-top: 15px;
    height: 36px;
    white-space: nowrap;
}

div.kidsHome .content.poster_horizontal .posterDetail * {
    vertical-align: top;
}

div.kidsHome .content.poster_horizontal .stars {
    display: none;
    margin-right: 5px;
}

div.kidsHome .content.poster_horizontal .stars img {
    margin-top: 1px;
    margin-right: 4px;
}

div.kidsHome .content.poster_horizontal .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
}

div.kidsHome .content.poster_horizontal .age {
    width: 36px;
    height: 36px;
    margin-top: -6px;
}


/*
 * 미리보기
 */
div.kidsHome .blurred .content.poster_horizontal {
    margin-right: 0px;
    width: 210px;
    height: 157px;
}

div.kidsHome .blurred .content.poster_horizontal .content {
    -webkit-transform: translateZ(0) scale(0.76);
    -webkit-transform-origin: 0 0;
}

div.kidsHome .blurred .content.poster_horizontal .posterSdw {
    display: none;
}

div.kidsHome .blurred .content.poster_horizontal .contentsData {
    display: none;
}

div.kidsHome .blurred .content.poster_horizontal .previewSdw {
    opacity: 1;
}

/*
 * 포커스
 */
div.kidsHome .content.poster_horizontal.focus .content {
    border-color: white;
    -webkit-transform: scale(1.1);
}

div.kidsHome .content.poster_horizontal.focus .contentsData {
    -webkit-transform: translateY(10px);
}

div.kidsHome .content.poster_horizontal.focus .posterTitle .flow {
    /*-webkit-animation: marqueeTitle 5s linear infinite;*/
    text-overflow: clip;
}

div.kidsHome .content.poster_horizontal.focus .stars {
    display: inline;
}


/*
 * 전체보기
 */
div.kidsHome .content.poster_horizontal.more .contentsData {
    margin-top: 112px;
    margin-left: 24px;
}

div.kidsHome .content.poster_horizontal.more .posterImgWrapper {
    background-color: white;
    position: absolute;
    width: 276px;
    height: 207px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.kidsHome .content.poster_horizontal.more .posterImg {
    -webkit-transform: scale(1.15);
    -webkit-filter: blur(20px);
}

div.kidsHome .content.poster_horizontal.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.kidsHome .content.poster_horizontal.more .contentsData .moreViewTxt {
    margin-left: 2px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
}

div.kidsHome .content.poster_horizontal.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 15px;
    line-height: 13px;
}

div.kidsHome .content.poster_horizontal.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 45px;
    vertical-align: super;
    margin-bottom: -3px;
}

@-webkit-keyframes marqueeTitle {
    0%{margin-left: 100%}
    100%{margin-left:-100%}
}