/*
    컨텐츠 영역의 정사각형 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2017. 1. 5, 오후 14:34:10
    Author     : lyllyl
*/

/*
 * 일반
 */
div.kidsHome .content.poster_square {
    margin-right: 60px;
    width: 235px;
    height: 235px;
    display: inline-block;
    vertical-align: top;
}

div.kidsHome .content.poster_square .content {
    width: 235px;
    height: 235px;
    display: block;
    border : white 6px solid;
    border-color: transparent;
    padding: 1px;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
}

div.kidsHome .content.poster_square .previewSdw {
    position: absolute;
    margin-left: 168px;
    height: 240px;
    width: 13px;
    z-index: 1;
    opacity: 0;
}

div.kidsHome .content.poster_square .posterSdw {
    position: absolute;
    width: 266px;
    height: 356px;
    margin-top:-25px;
    margin-left:-27px;
}

div.kidsHome .content.poster_square .posterImg {
    position: absolute;
    width: 235px;
    height: 235px;
}

div.kidsHome .content.poster_square .contentsData {
    position: absolute;
    margin-top: 248px;
    width: 235px;
    opacity: .7;
}

div.kidsHome .blurred .content.poster_square .contentsData {
    opacity: .4;
}

div.kidsHome .content.poster_square .posterTitle {
    display: block;
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.kidsHome .content.poster_square .posterDetail {
    display: block;
    margin-top: 9px;
    height: 36px;
    white-space: nowrap;
    -webkit-transform-origin: left;
}

div.kidsHome .content.poster_square.focus .stars {
    display: inline;
    height: 18px;
}

div.kidsHome .content.poster_square .rating_star_area {
    display: none;
}

div.kidsHome .content.poster_square.focus .rating_star_area {
    display: inline-block;
    margin-top: -2px;
    height: 18px;
}

div.kidsHome .content.poster_square .posterDetail * {
    vertical-align: middle;
}

div.kidsHome .content.poster_square .isfree {
    color: white;
    position: relative;
    margin-left: 8px;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
}

div.kidsHome .content.poster_square .isfreeIcon {
    width: 32px;
    height: 32px;
    margin-right: 7px;
    content: url(../../resource/icon_buy.png);
}

/*
 * 포커스
 */
div.kidsHome .content.poster_square.focus .content {
    border-color: #FFBC52;
    -webkit-transform: scale(1.07) translateZ(0);
}

div.kidsHome .content.poster_square.focus .contentsData {
    -webkit-transform: translateY(10px);
    width: 250px;
    margin-left: -7px;
    opacity: 1;
}

div.kidsHome .content.poster_square.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

/*
 * 전체보기
 */
div.kidsHome .content.poster_square.more .contentsData {
    margin-top: 138px;
    margin-left: 22px;
}

div.kidsHome .content.poster_square.more .posterImgWrapper {
    background-color: white;
    position: absolute;
    width: 235px;
    height: 235px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.kidsHome .content.poster_square.more .posterImg {
    -webkit-transform: scale(1.15);
    -webkit-filter: blur(20px);
}

div.kidsHome .content.poster_square.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.kidsHome .content.poster_square.more .contentsData .moreViewTxt {
    margin-left: 4px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
}

div.kidsHome .content.poster_square.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 13px;
    line-height: 13px;
}

div.kidsHome .content.poster_square.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 45px;
    vertical-align: super;
    margin-bottom: -3px;
}

@-webkit-keyframes marqueeTitle {
    0%{margin-left: 100%}
    100%{margin-left:-100%}
}

/*
 *아이콘 영역
 */
div.kidsHome .content.poster_square .content .icon_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.kidsHome .content.poster_square .content .icon_area img {
    display: block;
}

div.kidsHome .content.poster_square .content .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.kidsHome .content.poster_square .content .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.kidsHome .content.poster_square .content .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.kidsHome .content.poster_square .content .icon_area .bottom_tag_area > img {
    width: 100%
}

div.kidsHome .content.poster_square .content .icon_area .lock_icon:empty {
    background:none;
}

div.kidsHome .content.poster_square .content .icon_area .lock_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
}

div.kidsHome .content.poster_square .content .icon_area .lock_icon > img {
    width: 100%;
    height: 100%;
    content: url(../../resource/image/icon/img_vod_locked_music.png);
}

div.kidsHome .blurred .content.poster_square .content .over_dim {
    position: absolute;
    width: 235px;
    height: 235px;
    background: rgba(0, 0, 0, 0.1);
}