div.kidsHome .content.theater_poster_vertical {
    margin-right: 24px;
    float: left;
    width: 210px;
    height: 390px;
    transition: width .5s, height .5s, margin .5s;
}

div.kidsHome .content.theater_poster_vertical .content {
    width: 210px;
    height: 300px;
    display: block;
    border-top: white 6px solid;
    border-bottom: white 6px solid;
    border-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s, border-color .5s;
}

div.kidsHome .content.theater_poster_vertical .previewSdw {
    position: absolute;
    margin-left: 210px;
    height: 301px;
    width: 13px;
    z-index: 1;
    opacity: 0;
}

div.kidsHome .content.theater_poster_vertical .posterSdw {
    position: absolute;
    width: 266px;
    height: 356px;
    margin-top:-25px;
    margin-left:-27px;
}

div.kidsHome .content.theater_poster_vertical .posterImg {
    position: absolute;
    width: 210px;
    height: 300px;
}

div.kidsHome .content.theater_poster_vertical .contentsData {
    position: absolute;
    margin-top: 313px;
    width: 210px;
}

div.kidsHome .content.theater_poster_vertical .posterTitle {
    display: block;
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-family: "RixHead M";
}

div.kidsHome .content.theater_poster_vertical .posterDetail {
    display: block;
    margin-top: 15px;
    height: 36px;
    white-space: nowrap;
}

div.kidsHome .content.theater_poster_vertical .posterDetail * {
    vertical-align: top;
}

div.kidsHome .content.theater_poster_vertical .stars {
    display: none;
    margin-right: 5px;
}

div.kidsHome .content.theater_poster_vertical .stars img {
    margin-top: 1px;
    margin-right: 4px;
}

div.kidsHome .content.theater_poster_vertical .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
}

div.kidsHome .content.theater_poster_vertical .age {
    width: 36px;
    height: 36px;
    margin-top: -6px;
}


/*
 * 미리보기
 */
div.kidsHome .blurred .content.theater_poster_vertical {
    margin-right: 0px;
    width: 168px;
    height: 240px;
}

div.kidsHome .blurred .content.theater_poster_vertical .content {
    -webkit-transform: translateZ(0) scale(0.8);
    -webkit-transform-origin: 0 0;
}

div.kidsHome .blurred .content.theater_poster_vertical .posterSdw {
    display: none;
}

div.kidsHome .blurred .content.theater_poster_vertical .contentsData {
    display: none;
}

div.kidsHome .blurred .content.theater_poster_vertical .previewSdw {
    opacity: 1;
}

/*
 * 포커스
 */
div.kidsHome .content.theater_poster_vertical.focus .content {
    border-color: white;
    -webkit-transform: scale(1.1);
}

div.kidsHome .content.theater_poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
}

div.kidsHome .content.theater_poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.kidsHome .content.theater_poster_vertical.focus .stars {
    display: inline;
}


/*
 * 전체보기
 */
div.kidsHome .content.theater_poster_vertical.more .contentsData {
    margin-top: 205px;
    margin-left: 22px;
}

div.kidsHome .content.theater_poster_vertical.more .posterImgWrapper {
    background-color: white;
    position: absolute;
    width: 210px;
    height: 300px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.kidsHome .content.theater_poster_vertical.more .posterImg {
    -webkit-transform: scale(1.15);
    -webkit-filter: blur(20px);
}

div.kidsHome .content.theater_poster_vertical.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.kidsHome .content.theater_poster_vertical.more .contentsData .moreViewTxt {
    margin-left: 4px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
}

div.kidsHome .content.theater_poster_vertical.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 13px;
    line-height: 13px;
}

div.kidsHome .content.theater_poster_vertical.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 45px;
    vertical-align: super;
    margin-bottom: -3px;
}

@-webkit-keyframes marqueeTitle {
    0%{margin-left: 100%}
    100%{margin-left:-100%}
}