div.myhome .related_menu .menu_area {
    position: fixed;
    left: 1469px;
    top: 86px;
    width: 418px;
    height: 865px;
}

/* BG Area */
div.myhome .related_menu .menu_area .bg_area {
    position: absolute;
    width: inherit;
    height: inherit;
}

div.myhome .related_menu .menu_area .bg_top {
    width: inherit;
    height: 66px;
    background: url(../../../resource/image/myplaylist/set_bg_btn_t.png);
}

div.myhome .related_menu .menu_area .bg_mid {
    width: inherit;
    height: 776px;
    background: url(../../../resource/image/myplaylist/set_bg_btn.png);
}

div.myhome .related_menu .menu_area .bg_bottom {
    width: inherit;
    height: 66px;
    background: url(../../../resource/image/myplaylist/set_bg_btn_b.png);
}

/* BTN Area */
div.myhome .related_menu .menu_area .btn_area {
    position: absolute;
    top: 67px;
    left: 38px;
    width: 282px;
}

div.myhome .related_menu .menu_area .btn_area btn {
    display: block;
    width: 282px;
    height: 66px;
    margin-top: 13px;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 66px;
    color: rgba(255,255,255,.7);
    background: url(../../../resource/image/myplaylist/btn_set_w282.png);
}

div.myhome .related_menu .menu_area .btn_area btn.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    height: 66px;
    line-height: 66px;
}

div.myhome .related_menu .menu_area .btn_area btn.disable {
    opacity: .3;
}

div.myhome .related_menu .menu_area .btn_area sepline {
    display: block;
    width: 282px;
    margin-top: 30px;
    margin-bottom: 31px;
    height: 2px;
    background-color: rgba(255,255,255,.1);
}

div.myhome .related_menu .menu_area .btn_area .title {
    width: 380px;
    color: #DDAF78;
    font-size: 24px;
    font-family: "RixHead M";
    margin-bottom: 16px;
    white-space: nowrap;
}


div.myhome .related_menu .menu_area .btn_area .drop_box {
    width: 278px;
    height: 62px;
    line-height: 62px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    background: rgba(160,160,160,.5);
    border: 2px solid rgba(200,200,200,.2);
}

div.myhome .related_menu .menu_area .btn_area .drop_box .text {
    position: absolute;
    width: 251px;
    padding-left: 29px;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .text::after {
    content: url(../../../resource/image/arw_option_popup_dw.png);
    position: absolute;
    right: 17px;
    top: 10px;
}

div.myhome .related_menu .menu_area .btn_area .drop_box.focus {
    color: rgb(255, 255, 255);
    border: none;
    height: 66px;
    line-height: 66px;
    width: 282px;
}

div.myhome .related_menu .menu_area .btn_area .drop_box.focus .text {
    font-family: "RixHead M";
    padding-left:31px;
    background: #D2332F;
}

div.myhome .related_menu .menu_area .btn_area .drop_box.focus .text::after {
    top: 11px;
    content: url(../../../resource/image/arw_option_popup_dw.png);
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options {
    display:none;
    z-index: 10;
}

div.myhome .related_menu .menu_area .btn_area .drop_box.open .options {
    display: block;
    position: absolute;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option {
    background-image: url(../../../resource/image/contextMenu/pop_btn_w282_drop.png);
    background-size: 283px 67px;
    font-family: "RixHead L";
    width: 282px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: white;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border: none;
    height: 66px;
    line-height: 66px;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option.checked::after {
    content: url(../../../resource/image/option_dropbox_select.png);
    position: absolute;
    right: 17px;
    margin-top: 10px;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option.focus.checked::after {
    content: url(../../../resource/image/option_dropbox_select.png);
    position: absolute;
    right: 17px;
    margin-top: 10px;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option:nth-child(1)::before {
    background-image: url(../../../resource/image/contextMenu/pop_btn_w282_drop_sdw_top.png);
    background-size: 366px 102px;
    height: 102px;
    margin-top:-36px;
    margin-left:-42px;
    position: absolute;
    content:"";
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option::before {
    position: absolute;
    background-image: url(../../../resource/image/contextMenu/pop_btn_w282_drop_sdw_m.png);
    background-size: 366px 66px;
    width: 384px;
    height: 66px;
    margin-left: -42px;
    margin-top: 0px;
    content:"";
    z-index: -1;
    display: block;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .option:nth-last-child(2)::before {
    background-image: url(../../../resource/image/contextMenu/pop_btn_w282_drop_sdw_btm.png);
    background-size: 366px 102px;
    height: 102px;
    margin-top:0px;
    margin-left:-42px;
    position: absolute;
    content:"";
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .scroll_bg {
    position: absolute;
    width: 7px;
    height: 317px;
    background: #8B8884;
    top: 0;
    right: 0;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .scroll_bar {
    position: absolute;
    width: 7px;
    background: #49443C;
}

div.myhome .related_menu .menu_area .btn_area .drop_box .options .scroll_bar {
    position: absolute;
    width: 7px;
    background: #49443C;
}

/*
    MyHome 의 경우 related menu 를 2가지 형태로 사용하고 있는데, 우측에 상하로 화면이 꽉차는 배경 화면을 사용하는
    경우를 type2로 재정의 하여 사용한다.
 */
div.myhome .related_menu.type2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 101;
}


div.myhome .related_menu.type2 .menu_area {
    position: absolute;
    top: 0px;
    left: 809px;
    width: 1111px;
    height: 1080px;
    background: url(../../../resource/image/contextMenu/pop_bg_option_1.png);
    opacity: 0;
    transition: -webkit-transform .5s, opacity .5s;
}

div.myhome .related_menu.type2.activate .menu_area {
    opacity: 1;
}

div.myhome .related_menu.type2 .background_dim {
    position: fixed;
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
    background: black;
    opacity: 0;
    transition: opacity .5s;
}

div.myhome .related_menu.type2.activate .background_dim {
    opacity: .5;
}

div.myhome .related_menu.type2 .left_arrow {
    opacity: 0;
    -webkit-transform: translateX(385px) translateZ(0);
    left: 1480px;
    position: fixed;
    top: 514px;
    background: url(../../../resource/image/arw_view_l.png);
    width: 32px;
    height: 56px;
    transition: -webkit-transform .5s, opacity .5s;
}

div.myhome .related_menu.type2.activate .left_arrow {
    opacity: 1;
    -webkit-transform: translateZ(0);
}

div.myhome .related_menu.type2 .menu_area .btn_area {
    left: 764px;
}

div.myhome .related_menu.type2 .menu_area div.text {
    color: rgba(255,255,255,.5);
    font-size: 24px;
    line-height: 34px;
    font-family: "RixHead M";
    letter-spacing: -2px;
    margin-top:29px;
}