
div.myhome .contextMenu {

}

div.myhome .contextMenu.line_1 {
    position: fixed;
    top: 0px;
    left: 812px;
    width: 1108px;
    height: 1080px;
    padding-left: 761px;
    padding-top: 90px;
    background: url(../../../resource/image/contextMenu/pop_bg_option_1.png);
    -webkit-transform: translateX(382px);
    opacity: 0;
    transition: opacity .5s, -webkit-transform .5s;
}


div.myhome .contextMenu.line_1.focused {
    opacity: 1;
    -webkit-transform: translateX(0);
}

div.myhome .contextMenu btn {
    display: block;
    width: 300px;
    height: 65px;
    margin-bottom: 9px;
    font-size: 30px;
    font-family: "RixHead L";
    color: white;
    line-height: 65px;
    background: url(../../../resource/image/btn_option_popup.png);
    text-align: center;
}

div.myhome .contextMenu btn.focus {
    background: white;
    color: #4C4640;
    font-family: "RixHead M";
}

div.myhome .contextMenu sepline {
    display: block;
    margin-top: 45px;
    margin-bottom: 49px;
    width: 300px;
    height: 2px;
    background: rgba(255,255,255,.15);
}

div.myhome .contextMenu subtitle {
    display: block;
    line-height: 22px;
    font-family: "RixHead M";
    font-size: 24px;
    color: #DDAF78;
    margin-bottom: 16px;
    height: 22px;
}

div.myhome .contextMenu drpbx {
    display: block;
    width: 300px;
    height: 65px;
}

div.myhome .contextMenu drpbx text {
    display: block;
    position: absolute;
    width: 270px;
    height: 65px;
    background: white;
    font-size: 30px;
    line-height: 65px;
    padding-left: 30px;
    color: #4C4640;
    font-family: "RixHead M";
}

div.myhome .contextMenu drpbx text::after {
    content: url(../../../resource/image/arw_option_popup_dw_f.png);
    position: absolute;
    left: 238px;
    top: 10px;
}

div.myhome .contextMenu drpbx.open text {
    display:none;
}

div.myhome .contextMenu drpbx itemList {
    display: block;
}

div.myhome .contextMenu drpbx itemList item {
    display: none;
    width: 269px;
    height: 65px;
    background: url(../../../resource/image/contextMenu/bg_option_dropbox.png);
    font-size: 27px;
    line-height: 65px;
    padding-left: 31px;
    margin-bottom: -2px;
    color: white;
}

div.myhome .contextMenu drpbx.open itemList item {
    display:block;
}

div.myhome .contextMenu drpbx itemList item.focus {
    background: white;
    color: black;
    z-index: 5;
}