.myhome .viewArea .contents_area {
    position: absolute;
    top: 122px;
    left: 645px;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s;*/
}

.myhome .viewArea .indicator_area {
    position: absolute;
    top: 120px;
    left: 1810px;
    z-index: 1;
}

#MyHomeMain .context_menu_indicator,
#MyHomeForYou .context_menu_indicator {
    right: 55px;
}

.myhome .viewArea .blurred .indicator_area {
    opacity: 0;
}

.myhome .viewArea .contents_area .contentsList{
    width: 1230px;
}

.myhome .viewArea .contents_area .contentsList.singlePage {
    -webkit-transform: translateY(-10px) translateZ(0);
}

.myhome .viewArea .contents_area .contentsList.slide_down {
    -webkit-animation: myHome_contents_list_slide_down .5s forwards;
}

.myhome .viewArea .contents_area .contentsList.slide_up {
    -webkit-animation: myHome_contents_list_slide_up .5s forwards;
}

.myhome .viewArea .contents_area .contentsList li.content {
    margin-bottom: 43px;
}
.subhome .viewArea .contents_area .contentsList.singlePage li.content.poster_vertical {
    margin-bottom: 61px;
}

.myhome .viewArea .contentsList li.content.poster_vertical.hidden_line {
    visibility: hidden;
}

.myhome .viewArea .contentsList li.content.poster_vertical.hidden_cont {
    visibility: hidden;
}

.myhome .viewArea .bottom_dim {
    position: fixed;
    background: url(../../resource/image/dim_vodlist_btm.png);
    width: 1920px;
    height: 168px;
    bottom: 0;
}

div.myhome #myRatingContentView .content.poster_vertical.focus .posterDetail > * {
    visibility: inherit;
}

div.myhome #myRatingContentView .content.poster_vertical .posterDetail > * {
    visibility: hidden;
}

div.myhome #myRatingContentView .content.poster_vertical .posterDetail > .rating_star_area {
    visibility: inherit;
    display: inline-block;
}

@-webkit-keyframes myHome_contents_list_slide_down {
    from { -webkit-transform: translateZ(0) translateY(-826px)}
    to { -webkit-transform: translateZ(0) translateY(0px)}
}

@-webkit-keyframes myHome_contents_list_slide_up {
    from { -webkit-transform: translateZ(0) translateY(0px)}
    to { -webkit-transform: translateZ(0) translateY(-826px)}
}
