div.myhome.home_myProduct .listArea {
    left: 133px;
    top: 120px;
    position: absolute;
    width: 1633px;
}

div.myhome.home_myProduct .listArea #description {
    color: rgba(255,255,255,.4);
    font-size: 26px;
    line-height: 36px;
    width: 1062px;
}

div.myhome.home_myProduct .listArea .hiddenItem > td > * {
    visibility: hidden;
}

div.myhome.home_myProduct .listArea .view_area {
    border-top: 5px solid rgba(178,177,177,.25);
    border-bottom: 5px solid rgba(178,177,177,.25);
    margin-top: 30px;
    width: 1633px;
    height: 688px;
    overflow: hidden;
}

div.myhome.home_myProduct .listArea table {
    width: 1633px;
    border-collapse: collapse;
}

div.myhome.home_myProduct .listArea tr {
    height: 230px;
}

div.myhome.home_myProduct .listArea td {
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_myProduct .listArea .focus span#productName {
    color: white;
}

div.myhome.home_myProduct .listArea span#productName {
    display: block;
    color: rgba(255,255,255,.7);
    font-size: 42px;
    margin-bottom: 19px;
    line-height: 50px;
}

div.myhome.home_myProduct .listArea .info_left {
    display: inline-block;
    font-family: "RixHead L";
    vertical-align: top;
    margin-bottom: 4px;
}

div.myhome.home_myProduct .listArea .info_right {
    display: inline-block;
    margin-left: 50px;
    font-family: "RixHead L";
    vertical-align: top;
}

div.myhome.home_myProduct .listArea span#productInfo {
    color: white;
    display: block;
    font-size: 26px;
    margin-bottom: 13px;
}

div.myhome.home_myProduct .listArea span#productInfo:nth-child(2) {
    margin-bottom: 0;
}

div.myhome.home_myProduct .listArea span#productInfo color {
    color: rgba(255,255,255,.3);
}

div.myhome.home_myProduct .listArea td.btnCell {
    width: 235px;
}

div.myhome.home_myProduct .listArea td.btnCell .btn {
    text-align: center;
    background-color: rgba(64,63,62,.9);
    border: rgba(79,78,77,.7) solid 2px;
    color: rgba(255,255,255,.7);
    width: 231px;
    height: 60px;
    font-size: 32px;
    line-height: 60px;
    font-family: "RixHead L";
}

div.myhome.home_myProduct .listArea .focus td.btnCell .btn {
    background: #D2332F;
    color: rgb(255, 255, 255);
    border-left: 0;
    border-right: 0;
    border-top: 5px #D2332F solid;
    border-bottom: 5px #D2332F solid;
    width: 235px;
    height: 54px;
    line-height: 54px;
    font-family: "RixHead M";
}

div.myhome.home_myProduct .listArea .focus_line {
    width: inherit;
    border-top: 5px solid #D2332F;      /* Line Focus */
    border-bottom: 5px solid #D2332F;   /* Line Focus */
    height: 227px;
    position: absolute;
    margin-top: 30px;
}


div.myhome.home_myProduct .pageIndicator {
    position: absolute;
    left: 1811px;
    top: 123px;
}