/* default view */

.ac_itemGroup { left: 636px; top: 122px;opacity: 1; }
.ac_itemGroup .audio_channel_view_preview_dim_btm { left: 0px; top: 810px; width:810px; height:148px; visibility: inherit;}
.ac_itemGroup .ac_item  { width: 810px; height: 151px;   }

.ac_item .ac_otv_channelArea { width: 355px; height: 148px; background-color: rgba(255,255,255,0.15); }
.ac_item .ac_otv_programArea { margin-left: 358px; width: 472px; height: 148px; background-color: rgba(72, 70, 68, 0.95); }

.ac_item .ac_ots_channelArea { width: 355px; height: 148px; background-color: rgba(255,255,255,0.15); }
.ac_item .ac_ots_programArea { margin-left: 358px; width: 472px; height: 148px; background-color: rgba(72, 70, 68, 0.95); }

.ac_otv_channelArea .ac_cdImg { left: 30px; top: 31px; width: 84px; height: 84px; }
.ac_otv_channelArea .ac_chNum { left: 134px; top: 42px; font-size: 29px; font-family: "RixHead B"; letter-spacing: -1.45px; color: rgba(255,255,255,0.7); }
.ac_otv_channelArea .ac_chName{ left: 134px; top: 79px; font-size: 27px; height:29px ;font-family: "RixHead L"; letter-spacing: -1.35px; color: rgba(255,255,255,0.5); }

.ac_ots_channelArea .ac_cdImg { left: 30px; top: 31px; width: 84px; height: 84px; }
.ac_ots_channelArea .ac_chNum { left: 134px; top: 59px; font-size: 29px; height:31px; font-family: "RixHead B"; letter-spacing: -1.45px; color: rgba(255,255,255,0.7); }
.ac_ots_channelArea .ac_chName{ left: 134px; top: 79px; font-size: 27px; height:29px; font-family: "RixHead L"; color: rgba(255,255,255,0.5); visibility: hidden; }

.ac_item div .ac_programName{ left: 30px; top: 60px; width: 400px; height:29px; font-size: 27px; font-family: "RixHead L"; letter-spacing: -1.35px; color: rgba(255,255,255,0.5); text-overflow:ellipsis; white-space: nowrap; overflow: hidden; }
.ac_item div .ac_ageIcon{ visibility: hidden; }
