.channel_guide_menu_area span { font-size: 38px; color: rgba(255, 255, 255, 0.7); letter-spacing: -1.9px; }
.channel_guide_menu_area span.focus { font-size: 42px; color: rgba(255, 255, 255, 1);letter-spacing: -2.1px;  }

.channel_guide_menu_list_page_guide_area { visibility: hidden; }
.channel_guide_menu_list.focus .channel_guide_menu_list_page_guide_area { visibility: inherit; }










