
#community_channel_view .community_channel_list_area { left: 54px; top: 106px;width:1173px;height:974px;opacity: 0.8;}
#community_channel_view.focus .community_channel_list_area { left: 54px; top: 106px;width:1173px;height:974px;opacity: 1; }
#community_channel_view.focus .community_channel_list_area.noScroll { top: 136px; }

#community_channel_view .community_sector { width: 1173px;  height: 370px; }
#community_channel_view.focus .community_sector { width: 1173px; height: 370px;}

#community_channel_view .community_channel { width: 295px; height: 370px; }
#community_channel_view.focus .community_channel { width: 295px; height: 370px; }

#community_channel_view .dim_vodlist_btm { visibility: inherit; }
#community_channel_view.focus .dim_vodlist_btm {visibility: inherit; }

#community_channel_view .community_channel_img_area { left:16px; top:16px; width: 235px; height: 235px; }
#community_channel_view.focus .community_channel_img_area {  left:16px; top:16px; width: 235px; height: 235px; }
#community_channel_view.focus .community_channel_list_area.focus .community_channel.focus .community_channel_img_area { -webkit-transform: scale(1.07); }

#community_channel_view .community_channel_focus_area { left:0px; top:0px; width: 267px; height: 267px;visibility: hidden; }
#community_channel_view.focus .community_channel_focus_area {  visibility: hidden; }
#community_channel_view.focus .community_channel_list_area.focus .community_channel.focus .community_channel_focus_area { visibility: inherit; }

#community_channel_view .community_channel_img { width: 235px; height: 235px; }
#community_channel_view .album_dim { width: 235px; height: 235px; background-color: rgba(0,0,0,0.1); visibility: inherit; }

#community_channel_view.focus .community_channel_img { width: 235px; height: 235px; }
#community_channel_view.focus .album_dim { visibility: hidden; }


/*#community_channel_view .community_channel_img_line { visibility: hidden; }*/
/*#community_channel_view.focus .community_channel_img_line { visibility: inherit; }*/

#community_channel_view .community_channel_text_area { left:16px; top:267px; width:235px;height:35px; visibility: inherit;  }
#community_channel_view.focus .community_channel_text_area { visibility: inherit; }
#community_channel_view.focus .community_channel_list_area.focus .community_channel.focus .community_channel_text_area {left:0px;top:283px;width:267px;}


#community_channel_view .community_channel_text_area span { color: rgba(255, 255, 255, 0.5); font-family: "RixHead L"; font-size: 30px;}
#community_channel_view.focus .community_channel_text_area span { color: rgba(255, 255, 255, 0.5); font-family: "RixHead L"; font-size: 30px;}
#community_channel_view.focus .community_channel_list_area.focus .community_channel.focus .community_channel_text_area span { color: rgba(255, 255, 255, 1); font-family: "RixHead M"; font-size: 32px;}

#community_channel_view .community_channel_name { width: 235px; }
#community_channel_view.focus .community_channel_name { width: 235px; }
#community_channel_view.focus .community_channel_list_area.focus .community_channel.focus .community_channel_name { width: 267px; }


#community_channel_view .community_channel_sub_area { visibility: hidden; }
#community_channel_view.focus .community_channel_sub_area { visibility: inherit; }


@-webkit-keyframes community_page_up_delete {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(740px); opacity: 0; }
}
@-webkit-keyframes community_page_up_add {
    0% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
}
@-webkit-keyframes community_page_up_middle {
    0% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
}
@-webkit-keyframes community_page_up_middle2 {
    0% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}

@-webkit-keyframes community_page_down_delete {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 0; }
}
@-webkit-keyframes community_page_down_delete_2 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-370px); opacity: 0; }
}
@-webkit-keyframes community_page_down_middle {
     0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
     100% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 1; }
}
@-webkit-keyframes community_page_down_add_hidden {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 0; }
}

@-webkit-keyframes community_page_down_middle2 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-370px); opacity: 1; }
}
@-webkit-keyframes community_page_down_add {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-740px); opacity: 1; }
}
@-webkit-keyframes community_page_down_add_2 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-370px); opacity: 1; }
}

.community_page_slide_up_delete { -webkit-animation: community_page_up_delete 0.5s forwards; }
.community_page_slide_up_middle { -webkit-animation: community_page_up_middle 0.5s forwards; }
.community_page_slide_up_middle2 { -webkit-animation: community_page_up_middle2 0.5s forwards; }
.community_page_slide_up_add { -webkit-animation: community_page_up_add 0.5s forwards; }
.community_page_slide_down_delete { -webkit-animation: community_page_down_delete 0.5s forwards; }
.community_page_slide_down_delete_2 { -webkit-animation: community_page_down_delete_2 0.5s forwards; }
.community_page_slide_down_middle { -webkit-animation: community_page_down_middle 0.5s forwards; }
.community_page_slide_down_middle2 { -webkit-animation: community_page_down_middle2 0.5s forwards; }
.community_page_slide_down_add { -webkit-animation: community_page_down_add 0.5s forwards; }
.community_page_slide_down_add_2 { -webkit-animation: community_page_down_add_2 0.5s forwards; }
.community_page_slide_down_add_hidden { -webkit-animation: community_page_down_add_hidden 0.5s forwards; }