
.full_epg_time_area { visibility: hidden; }
.full_epg_view.focus .full_epg_time_area { visibility: inherit; }

.full_epg_container { left: 636px; top: 122px; }
.full_epg_view.focus .full_epg_container { left: 174px; top: 404px; }

.full_epg_preview_background {visibility: inherit;}
.full_epg_view.focus .full_epg_preview_background { visibility: hidden; }

.full_epg_view_background {visibility: hidden;}
.full_epg_view.focus .full_epg_view_background { visibility: inherit; }

.full_epg_preview_dim_btm {visibility: inherit;}
.full_epg_view.focus .full_epg_preview_dim_btm { visibility: hidden; }

.full_epg_item { height: 130px; }
.full_epg_view.focus .full_epg_item { height: 94px; }

.full_epg_view.focus .full_epg_item.full_epg_item_preview { visibility: hidden; }

.full_epg_channel_area { width: 270px; height: 127px; background-color: rgba(99, 98, 96, 0.75);opacity: 0.7 }
.full_epg_view.focus .full_epg_channel_area { width: 432px; height: 92px;  background-color: rgba(103, 102, 100, 1); opacity: 0.7}
.full_epg_view.focus .full_epg_item.focus .full_epg_channel_area { background-color: rgba(126, 124, 122, 1);opacity: 0.7 }

.full_epg_preview_area { margin-left: 273px; opacity: 1; }
.full_epg_view.focus .full_epg_preview_area { opacity: 0; }

.full_epg_programme_area { margin-left: 843px; opacity: 0; }
.full_epg_view.focus .full_epg_programme_area { margin-left: 437px; opacity: 1; }

.full_epg_channel_icon { margin-left: 20px; margin-top: 32px; }
.full_epg_view.focus .full_epg_channel_icon { margin-left: 27px; margin-top: 35px; }

.full_epg_channel_sky_icon { opacity: 0; }
.full_epg_view.focus .full_epg_channel_sky_icon { opacity: 1; }

.full_epg_channel_num { margin-left: 51px; margin-top: 31px; font-size: 29px; letter-spacing: -1.45px; color: rgba(255, 255, 255, 0.7); }
.full_epg_view.focus .full_epg_channel_num { margin-left: 61px; margin-top: 32px; font-size: 32px; letter-spacing: -1.6px; }

.full_epg_channel_name { margin-left: 51px; margin-top: 69px; width: 200px; font-size: 27px; letter-spacing: -1.35px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  color: rgba(255, 255, 255, 0.5); }
.full_epg_view.focus .full_epg_channel_name { margin-left: 137px; margin-top: 32px; width: 260px; font-size: 30px; letter-spacing: -1.5px; white-space: pre; overflow: ""; text-overflow: "";  }

.full_epg_view.focus .full_epg_item.focus .full_epg_channel_area span { color: rgba(255, 255, 255, 1); }

.full_epg_focus_programme { height: 0px; opacity: 0; }
.full_epg_view.focus .full_epg_focus_programme { height: 142px; opacity: 1; }

.full_epg_programme span { font-size: 30px; color: rgba(255, 255, 255, 0.7); }

.full_epg_view .full_epg_item .full_epg_programme .full_epg_programme_bg { background-color: rgba(79, 79, 76, 0.5);visibility: inherit; }
.full_epg_view .full_epg_item .full_epg_programme .full_epg_focus_programme_bg { visibility: hidden; }
.full_epg_view.focus .full_epg_item.focus .full_epg_programme .full_epg_programme_bg { background-color: rgba(82, 82, 79, 1); }
.full_epg_view.focus .focus .full_epg_item.focus .full_epg_programme.focus .full_epg_programme_bg { visibility: hidden; }
.full_epg_view.focus .focus .full_epg_item.focus .full_epg_programme.focus .full_epg_focus_programme_bg { visibility: inherit; }

.full_epg_view.focus .full_epg_item.focus .full_epg_programme span { color: rgba(255, 255, 255, 1); }
.full_epg_view.focus .focus .full_epg_item.focus .full_epg_programme.focus span { font-family: "RixHead M"; margin-top: 31px; font-size: 32px; color: rgba(255, 255, 255, 1); }

.full_epg_view .full_epg_programme_list_bg { visibility: hidden; }
.full_epg_view.focus .full_epg_programme_list_bg { visibility: inherit; }

.full_epg_sub_area { visibility: hidden; }
.full_epg_view.focus .full_epg_sub_area { visibility: inherit; }

/* Scroll */
/*.full_epg_view .full_epg_focus_area { opacity: 0; }
.full_epg_view.focus .focus .full_epg_focus_area { opacity: 1; *//*-webkit-transition: opacity 0.5s; -webkit-transition-delay: 0.3s;*//* }
.full_epg_focus_area div { background-color: rgba(128, 128, 128, 1); }
.full_epg_view.focus .focus .full_epg_focus_area div { background-color: rgba(243, 48, 43, 1); }*/

.full_epg_default_btn { background-color: rgba(255, 255, 255, 0.15); color: rgba(255, 255, 255, 0.7); }
.full_epg_view.focus .full_epg_default_btn { background-color: rgba(255, 255, 255, 1); color: rgba(0, 0, 0, 1); font-family: "RixHead M"; }

.full_epg_view .full_epg_focus_programme_info_area { opacity: 0; }
.full_epg_view.focus .full_epg_focus_programme_info_area { opacity: 1; }

.full_epg_programme_focus_bar { visibility: hidden; }
.full_epg_view.focus .focus .full_epg_item.focus .full_epg_programme.focus .full_epg_programme_focus_bar { visibility: inherit; }

.full_epg_pip_channel_info_area { visibility: hidden; }
.full_epg_view.focus .full_epg_pip_channel_info_area { visibility: inherit; }
