/*
* genre_channel_view_extension_preview_background : 장르별채널 미리보기 화면에서 background 영역
* genre_channel_view_extension_background : 장르별 채널 진입 후 화면에서 background 영역
* genre_channel_view_extension_preview_thumbnail_sdw : 미리보기 화면에서 Thumbnail 이미지 우측에 shadow 이미지
* genre_channel_view_extension_preview_program_sdw : 미리보기 화면에서 Program 영역 우측에 shadow 이미지
* genre_channel_view_extension_preview_dim_btm : 미리보기 화면에서 맨 밑 하단 dim 이미지
*/
.genre_channel_view_extension .genre_channel_view_extension_preview_background {  left: 576px; top: 0px; width: 1344px; height: 1080px;visibility: inherit; }
.genre_channel_view_extension .genre_channel_view_extension_background {  left: 0px; top: 0px; width: 1920px; height: 1080px; visibility: hidden; }
.genre_channel_view_extension .genre_channel_view_extension_history { left: 86px; top: 52px;width:500px;height:50px; }

.genre_channel_view_extension .itemGroup { left: 636px; top: 122px;opacity: 0.8; }

.genre_channel_view_extension .itemGroup .genre_channel_view_extension_preview_thumbnail_sdw { left: 273px; top: 0px; width:13px; height:957px;  visibility: inherit;}
.genre_channel_view_extension .itemGroup .genre_channel_view_extension_preview_program_sdw { left: 501px; top: 0px; width:13px; height:957px; visibility: inherit;}
.genre_channel_view_extension .itemGroup .genre_channel_view_extension_preview_dim_btm { left: 0px; top: 810px; width:810px; height:148px; visibility: inherit;}

.genre_channel_view_extension.focus .itemGroup  { left: 174px; top: 122px;opacity: 1; }

.genre_channel_view_extension.focus .genre_channel_view_extension_preview_background {  visibility: hidden; }
.genre_channel_view_extension.focus .genre_channel_view_extension_background {  visibility: inherit; }
.genre_channel_view_extension.focus .itemGroup .genre_channel_view_extension_preview_thumbnail_sdw { visibility: hidden;}
.genre_channel_view_extension.focus .itemGroup .genre_channel_view_extension_preview_program_sdw { visibility: hidden;}
.genre_channel_view_extension.focus .itemGroup .genre_channel_view_extension_preview_dim_btm { visibility: hidden;}

/*.genre_channel_view_extension .focusBar { visibility: hidden; }
.genre_channel_view_extension.focus .itemGroup.focus .focusBar { visibility: inherit; }

.genre_channel_view_extension .itemGroup .focusBar div { background-color : rgba(128, 128, 128, 1); }
.genre_channel_view_extension.focus .itemGroup.focus .focusBar div { background-color : rgba(243, 48, 43, 1); }*/

.programArea_focus_bar { visibility: hidden; }
.genre_channel_view_extension.focus .itemGroup.focus .programArea.focus .programArea_focus_bar { visibility: inherit; }


.genre_channel_view_extension .itemGroup .item { width: 810px; height: 130px; }
.genre_channel_view_extension.focus .itemGroup .item { width: 2004px; height: 169px;opacity: 1; }

.genre_channel_view_extension .itemGroup .item .chArea { width: 270px; height: 127px; background-color: rgba(99,98,96,0.75); }
.genre_channel_view_extension.focus .itemGroup .item .chArea { width: 319px; height: 166px; background-color: rgba(103,102,100,1); }

.genre_channel_view_extension .itemGroup .item .pipArea { margin-left: 3px; width: 228px; height: 127px; }
.genre_channel_view_extension.focus .itemGroup .item .pipArea { margin-left: 6px; width: 296px; height: 166px;margin-right: 6px; }

.genre_channel_view_extension .itemGroup .item .programArea { width: 309px; height: 127px; background-color: rgba(72, 70, 68, 1);}
.genre_channel_view_extension.focus .itemGroup .item .programArea { margin-right: 3px; width: 455px; height: 166px; background-color: rgba(79,79,76,1); }

.genre_channel_view_extension.focus .itemGroup .item.focus>div { background-color: rgba(126,124,122,0.8);}
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus { background-color: rgba(24,23,22,1.0); }


.genre_channel_view_extension .itemGroup .item .chArea .icon  { margin-left: 20px; margin-top: 32px; }
.genre_channel_view_extension.focus .itemGroup .item .chArea .icon { margin-left: 24px; margin-top: 44px; }

.genre_channel_view_extension .itemGroup .item .chArea .chNum  { margin-left: 47px; margin-top: 31px; font-size: 29px; letter-spacing: -1.45px; color: rgba(255,255,255,0.7); }
.genre_channel_view_extension.focus .itemGroup .item .chArea .chNum { margin-left: 59px; margin-top: 42px; font-size: 32px; letter-spacing: -1.6px;}
.genre_channel_view_extension.focus .itemGroup .item.focus .chArea .chNum { color: rgba(255, 255, 255, 1); }

.genre_channel_view_extension .itemGroup .item .pipArea .thumbnail { width: 228px; height: 127px; }
.genre_channel_view_extension.focus .itemGroup .item .pipArea .thumbnail { width: 296px; height: 166px; }

.genre_channel_view_extension .itemGroup .item .pipArea .thumbnail_default { width: 228px; height: 127px; }
.genre_channel_view_extension.focus .itemGroup .item .pipArea .thumbnail_default { width: 296px; height: 166px; }

.genre_channel_view_extension .itemGroup .item .pipArea .thumbnail_sdw { visibility: inherit; }
.genre_channel_view_extension.focus .itemGroup .item .pipArea .thumbnail_sdw { visibility: hidden; }


.genre_channel_view_extension .itemGroup .item .programArea .programName {
    font-family: "RixHead L"; font-size: 29px; letter-spacing: -1.45px; color: rgba(255,255,255,0.56); text-overflow: ellipsis; overflow: hidden;
}
.genre_channel_view_extension.focus .itemGroup .item .programArea .programName {font-size: 31px; letter-spacing: -1.55px;color: rgba(255,255,255,0.7);}
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus .programName {
    font-family: "RixHead M"; font-size: 33px; letter-spacing: -1.65px; color: rgba(255, 255, 255, 1); overflow: visible;
}

.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus .programName_2 {color: rgba(255, 255, 255, 1);}

/*.genre_channel_view_extension .itemGroup .item .programArea .ageIcon { visibility: hidden; }
.genre_channel_view_extension.focus .itemGroup .item.focus .programArea.focus .ageIcon { visibility: inherit; }*/


.genre_channel_view_extension .itemGroup .item .programArea .programStartTime { margin-left: 22px; margin-top: 87px; font-size: 18px; letter-spacing: -0.9px; color: rgba(255,255,255,0.4); font-family: "RixHead L" }
.genre_channel_view_extension.focus .itemGroup .item .programArea .programStartTime { margin-left: 38px; margin-top: 97px; font-size: 22px; letter-spacing: -1.1px;color: rgba(255,255,255,0.5);}
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus .programStartTime { margin-left: 28px; margin-top: 119px; font-family: "RixHead M";color: rgba(255,255,255,0.7); }

.genre_channel_view_extension .itemGroup .item .programArea .programEndTime { margin-left: 230px; margin-top: 87px; font-size: 18px; letter-spacing: -0.9px; color: rgba(255,255,255,0.4); font-family: "RixHead L" }
.genre_channel_view_extension.focus .itemGroup .item .programArea .programEndTime { margin-left: 305px; margin-top: 97px; font-size: 22px; letter-spacing: -1.1px;color: rgba(255,255,255,0.5);}
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus .programEndTime { margin-left: 287px; margin-top: 119px; font-family: "RixHead M"; color: rgba(255,255,255,0.7); }

.genre_channel_view_extension.focus .itemGroup .item.focus .programArea.focus span { color: rgba(255, 255, 255, 1); }
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus span { color: rgba(73, 68, 60, 1); }

.genre_channel_view_extension .itemGroup .item .programArea .entireProgressBar { margin-left: 24px; margin-top: 75px; width: 253px; height: 4px; background-color : rgba(255, 255, 255, 0.2); }
.genre_channel_view_extension.focus .itemGroup .item .programArea .entireProgressBar { margin-left: 112px; margin-top: 106px; width: 178px; }
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus .entireProgressBar { margin-left: 98px; margin-top: 130px; width: 178px; height: 4px; background-color: rgba(255, 255, 255, 0.3); }

.genre_channel_view_extension .itemGroup .item .programArea .dynamicProgressBar { width: 253px; height: 4px; background-color : rgba(255, 255, 255, 0.56); }
.genre_channel_view_extension.focus .itemGroup .item .programArea .dynamicProgressBar { width: 178px; }
.genre_channel_view_extension.focus .itemGroup .item.focus .programArea .dynamicProgressBar { width: 178px; height: 4px; background-color : rgba(255, 255, 255, 0.7);}
.genre_channel_view_extension.focus .itemGroup.focus .item.focus .programArea.focus .dynamicProgressBar { background-color: rgba(255, 255, 255, 1); }

.genre_channel_view_extension .itemGroup .full_screen_show { /*visibility: hidden;*/ opacity: 0; }
.genre_channel_view_extension.focus .itemGroup .full_screen_show { /*visibility: inherit;*/ opacity: 1; }

.genre_channel_view_extension .itemGroup .full_screen_hide { /*visibility: inherit;*/ opacity: 1; }
.genre_channel_view_extension.focus .itemGroup .full_screen_hide { /*visibility: hidden;*/ opacity: 0; }


