.image_app_view #image_app_view_container { left: 59px; top: 122px; width: 486px; height: 628px;}
.image_app_view.focus #image_app_view_container { left: 48px; top: 107px; width: 510px; height: 654px; }

.image_app_view #image_app_view_container #appImageArea {left: 0px; top: 0px; width: 486px; height: 544px ;opacity: 0.8;}
.image_app_view.focus #image_app_view_container #appImageArea {left: 0px; top: 0px; width: 510px; height: 571px ;opacity: 1;}

.image_app_view #image_app_view_container #appBtnAgrea {left: 0px; top: 559px; width: 486px; height: 66px;   opacity: 0.8; background-color: rgba(78, 78, 78, 0.9);}
.image_app_view.focus #image_app_view_container #appBtnAgrea {left: 0px; top: 586px; width: 510px; height: 66px; opacity: 1;background-color: rgba(210, 51, 47, 1);}
/*#appImageLine {visibility: hidden;}*/
/*.image_app_view.focus #appImageLine {visibility: inherit;}*/

.image_app_view #image_app_view_container #appTextArea { top:579px; width: 486px; color: rgba(255, 255, 255, 0.7); }
.image_app_view.focus #image_app_view_container #appTextArea { top:605px; width: 510px;color: rgba(255, 255, 255, 1); }

