

.ps_itemGroup { left: 60px; top: 122px;  width : 1279px; height : 922px; opacity: 0.8;}
.ps_itemGroup .ps_item { width: 1130px; height:138px; }

.ps_itemGroup .divisionLine_TOP { left : 0px; top : 0px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25);}
.ps_itemGroup .divisionLine_BOTTOM { left : 0px; top: 831px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25); }

.ps_itemGroup .ps_item .ps_itemTopLine, .ps_itemGroup .ps_item .ps_itemBottomLine { width: 1130px; height: 2px; background-color: rgba(255,255,255,0.1); }
.ps_itemGroup .ps_item .ps_itemTopLine { visibility: hidden; }
.ps_itemGroup .ps_item .ps_itemBottomLine { margin-top: 140px; }
.ps_itemGroup .ps_item .ps_itemBottomLine.no5{ visibility: hidden; }

.ps_itemGroup .ps_item .ps_programArea { margin-top: 34px; width: 964px; height: 33px;}
.ps_itemGroup .ps_item .ps_programArea .ps_programName { position: absolute; margin-left: 2px; width: 964px; font-size: 34px; height: 36px; letter-spacing: -1.7px; color: rgba(255,255,255,0.7); font-family: "RixHead L"; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.ps_itemGroup .ps_item .ps_channelArea { margin-top: 84px; width: 500px; height: 26px; }
.ps_itemGroup .ps_item .ps_channelArea img { margin-left: 2px;  /*width: 44px;*/ height: 24px; }
.ps_itemGroup .ps_item .ps_channelArea span { /*margin-left: 5px; *//*position: absolute;*/ font-size: 24px; height: 24px; letter-spacing: -1.2px; color: rgba(255,255,255,0.5); font-family: "RixHead L";}
.ps_itemGroup .ps_item .ps_channelArea .ps_chNum{ margin-left: 10px; }
.ps_itemGroup .ps_item .ps_channelArea .ps_chName{  margin-left: 8px;width: 500px; }

.ps_itemGroup .ps_item .ps_programInfoArea { margin-top: 40px; margin-right : 149px; right: 0px; }
.ps_itemGroup .ps_item .ps_programInfoArea .ps_piText{ font-size: 23px; height: 25px; letter-spacing: -1.15px; color: rgba(255,255,255,0.3); font-family: "RixHead L";}

.ps_itemGroup .ps_item .ps_reservationInfoArea { margin-top: 75px; margin-right : 149px; right: 0px; }
.ps_itemGroup .ps_item .ps_riText { margin-top: 5px; font-size: 23px; height: 26px; letter-spacing: -1.15px; color: rgba(215,191,149, 0.7); font-family: "RixHead L";}
.ps_itemGroup .ps_item .ps_riImg { margin-left: 7px; width: 32px; height: 34px; opacity: 0.6; }


/* focused view */
.program_searching_extension_view.focus .ps_itemGroup { left: 60px; top: 122px; width : 1279px; height : 922px; opacity: 1;}
.program_searching_extension_view.focus .ps_itemGroup .ps_item { width: 1130px; height:138px;}

.program_searching_extension_view.focus .ps_itemGroup .divisionLine_TOP { left : 0px; top : 0px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25);}
.program_searching_extension_view.focus .ps_itemGroup .divisionLine_BOTTOM { left : 0px; top: 831px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25); }

.program_searching_extension_view.focus .ps_itemGroup .ps_item .ps_itemTopLine,.program_searching_extension_view.focus .ps_itemGroup .ps_item .ps_itemBottomLine { width: 1130px; }
.program_searching_extension_view.focus .ps_itemGroup .ps_item .ps_itemBottomLine{ margin-top: 140px; }


.program_searching_extension_view.focus .ps_itemGroup .ps_item .ps_programArea { width: 964px; height: 41px; }
.program_searching_extension_view.focus .ps_itemGroup .ps_item .ps_programArea .ps_programName { width: 964px; font-size: 34px; height: 36px; letter-spacing: -1.7px; }

.program_searching_extension_view.focus .ps_itemGroup .ps_channelArea { /*margin-top: 90px;*/ width: 900px; height: 26px; }
.program_searching_extension_view.focus .ps_itemGroup .ps_channelArea img { /*width: 49px;*/ height: 24px; }
.program_searching_extension_view.focus .ps_itemGroup .ps_channelArea span {font-size: 24px; height: 26px; letter-spacing: -1.2px; color: rgba(255,255,255,0.3); /*font-family: "RixHead M";*/}
.program_searching_extension_view.focus .ps_itemGroup .ps_channelArea .ps_chNum{ margin-left: 10px; }
.program_searching_extension_view.focus .ps_itemGroup .ps_channelArea .ps_chName{ margin-left: 8px;width: 500px; }

.program_searching_extension_view.focus .ps_itemGroup .ps_programInfoArea .ps_piText { font-size: 23px; height: 25px; letter-spacing: -1.15px; color: rgba(255,255,255,0.3); }

.program_searching_extension_view.focus .ps_itemGroup .ps_reservationInfoArea .ps_riText { color: rgba(215,191,149, 0.7); }

/* itemSelected focused view */
.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_itemTopLine, .program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_itemBottomLine { height: 6px; background-color: rgba(210, 57, 47, 1); }
.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_itemBottomLine { margin-top: 140px; visibility: inherit; }
.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_itemBottomLine.no5 { visibility: inherit; }
.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_itemTopLine { visibility: inherit; }

.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_programArea .ps_programName { color: rgba(255,255,255,1.0); font-size: 38px; height: 40px; letter-spacing: -1.9px; margin-top: -2px; font-family: "RixHead M"; }

.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_channelArea span { color: rgba(255,255,255, 0.7); font-family: "RixHead M";}

.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_programInfoArea .ps_piText{ color: rgba(255,255,255,0.7); font-family: "RixHead M"; }

.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_reservationInfoArea .ps_riImg { opacity: 1.0; }
.program_searching_extension_view.focus .ps_itemGroup .ps_item.focus .ps_reservationInfoArea .ps_riText { color: rgba(215,191,149,1.0); font-family: "RixHead M";}
