
/*reservation list view*/
.rlv_itemGroup { left: 60px; top: 122px;  width : 1279px; height : 922px; opacity: 0.8; /*-webkit-transition: left 0.5s, top 0.5s, width 0.5s, height 0.5s;*/}
.rlv_itemGroup .rlv_item { width: 1130px;  }

.rlv_itemGroup .divisionLine_TOP { left : 0px; top : 0px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25);}
.rlv_itemGroup .divisionLine_BOTTOM { left : 0px; top: 831px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25); }

.rlv_itemGroup .rlv_item .rlv_itemTopLine, .rlv_itemGroup .rlv_item .rlv_itemBottomLine { width: 1130px; height: 2px; background-color: rgba(255,255,255,0.1); }
.rlv_itemGroup .rlv_item .rlv_itemTopLine { visibility: hidden; }
.rlv_itemGroup .rlv_item .rlv_itemBottomLine { margin-top: 138px; }
.rlv_itemGroup .rlv_item .rlv_itemBottomLine.no5{ visibility: hidden; }

.rlv_itemGroup .rlv_item .rlv_programArea { /*margin-top: 37px;*/margin-top: 34px;}

.rlv_itemGroup .rlv_item .rlv_channelArea { margin-top: 84px;}
.rlv_itemGroup .rlv_item .rlv_channelArea img { margin-left: 2px; }
.rlv_itemGroup .rlv_item .rlv_channelArea span { font-size: 24px; height: 24px; letter-spacing: -1.2px; color: rgba(255,255,255,0.3); font-family: "RixHead L";}
.rlv_itemGroup .rlv_item .rlv_channelArea .rlv_chNum { margin-left: 10px;  }
.rlv_itemGroup .rlv_item .rlv_channelArea .rlv_chName { margin-left: 8px; width: 500px;}

.rlv_itemGroup .rlv_item .rlv_reservationInfoArea { margin-top: 40px; margin-right : 149px; right: 0px; }
.rlv_reservationInfoArea .rlv_rlText{ font-size: 21px; height: 24px; letter-spacing: -1.05px; color: rgba(255,255,255,0.5); font-family: "RixHead L"; }
.rlv_itemGroup .rlv_item .rlv_seriesInfoArea { margin-top: 40px; margin-right : 149px; right: 0px;}
.rlv_seriesInfoArea .rlv_slText{ margin-top: 5px; font-size: 23px; height: 26px; letter-spacing: -1.15px; color: rgba(215,191,149,0.7); font-family: "RixHead L"; }
.rlv_seriesInfoArea .rlv_slImg{ margin-left: 7px; width: 32px; height: 34px; opacity: 0.6; }


.rlv_itemGroup .rlv_item .rlv_autoStartInfoArea { margin-top: 75px; margin-right : 149px; right: 0px; }
.rlv_autoStartInfoArea .rlv_asText{ margin-top: 5px; font-size: 23px; height: 26px; letter-spacing: -1.15px; color: rgba(215,191,149,0.7); font-family: "RixHead L"; }

/* reservation list focused view */

.reservation_list_view.focus .rlv_itemGroup { left: 60px; top: 122px; width : 1279px; height : 922px; opacity: 1;}
.reservation_list_view.focus .rlv_itemGroup .rlv_item { width: 1130px;  }

.reservation_list_view.focus .rlv_itemGroup .divisionLine_TOP { left : 0px; top : 0px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25);}
.reservation_list_view.focus .rlv_itemGroup .divisionLine_BOTTOM { left : 0px; top: 831px; width: 1130px; height: 5px;background-color: rgba(178,177,177,0.25); }

.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_reservationInfoArea { margin-top: 40px; margin-right : 149px; right: 0px; }
.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_seriesInfoArea { margin-top: 40px; margin-right : 149px; right: 0px;}
.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_autoStartInfoArea { margin-top: 75px; margin-right : 149px; right: 0px;}

.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_itemTopLine,.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_itemBottomLine { width: 1130px; }
.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_itemBottomLine{ margin-top: 138px; }

.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_channelArea span { font-size: 24px; height: 24px; letter-spacing: -1.2px; color: rgba(255,255,255,0.3); font-family: "RixHead L"; }
.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_channelArea .rlv_chNum { margin-left: 10px;  }
.reservation_list_view.focus .rlv_itemGroup .rlv_item .rlv_channelArea  img {margin-left: 2px; }
.reservation_list_view.focus .rlv_reservationInfoArea .rlv_rlText{ font-size: 21px; height: 24px; letter-spacing: -1.05px; color: rgba(255,255,255,0.5); font-family: "RixHead L"; }


/* selected  focused view*/

.reservation_list_view.focus  .rlv_item.focus .rlv_itemBottomLine { height: 6px; background-color: rgba(210, 57, 47, 1); }
.reservation_list_view.focus  .rlv_item.focus .rlv_itemTopLine { height: 6px; background-color: rgba(210, 57, 47, 1); }
.reservation_list_view.focus  .rlv_item.focus .rlv_itemBottomLine { margin-top: 138px; visibility: inherit; }
.reservation_list_view.focus  .rlv_item.focus .rlv_itemBottomLine.no5 {  margin-top: 136px; visibility: inherit; }
.reservation_list_view.focus  .rlv_item.focus .rlv_itemTopLine { visibility: inherit; }



.reservation_list_view.focus  .rlv_item.focus.option .rlv_programArea .rlv_programName { width:590px;}

.reservation_list_view.focus .rlv_item.focus.option .rlv_reservationInfoArea { margin-right : 483px; }
.reservation_list_view.focus .rlv_item.focus.option .rlv_seriesInfoArea { margin-right : 483px; }
.reservation_list_view.focus .rlv_item.focus.option .rlv_autoStartInfoArea { margin-right : 483px; }

.reservation_list_view.focus  .rlv_item.focus .rlv_channelArea span { color: rgba(255,255,255, 0.7); font-family: "RixHead M";}

.reservation_list_view.focus  .rlv_item.focus .rlv_reservationInfoArea .rlv_rlText{ color: rgba(255,255,255,0.7); font-family: "RixHead M"; }

.reservation_list_view.focus  .rlv_item.focus .rlv_seriesInfoArea .rlv_slImg { opacity: 1.0; }
.reservation_list_view.focus  .rlv_item.focus .rlv_seriesInfoArea .rlv_slText, .reservation_list_view.focus  .rlv_item.focus .rlv_autoStartInfoArea .rlv_asText
{ color: rgba(215,191,149,1.0); font-family: "RixHead M";}


/* optionBox view */



.sub_area { visibility: hidden; }
.reservation_list_view.focus .sub_area { visibility: inherit; }