
.today_channel_guide_scroll { visibility: hidden; }
.today_channel_guide.focus .today_channel_guide_scroll { visibility: inherit; }

.today_channel_guide_subhome_area { opacity: 0.8; }
.today_channel_guide.focus .today_channel_guide_subhome_area { opacity: 1; }

.today_channel_guide.focus .today_channel_guide_child_area.focus .focus {
    z-index: 1;
}

/** Today Channel Guide Banner */
.today_channel_guide_banner_area { width: 1200px; height: 559px; }

.today_channel_guide_banner_sdw { visibility: hidden; }
.today_channel_guide.focus .today_channel_guide_child_area.focus .focus .today_channel_guide_banner_sdw { visibility: inherit }

.today_channel_guide_focus_bar { visibility: hidden; }

.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B2_1.focus .today_channel_guide_banner_sdw { visibility: inherit; -webkit-transform: translate(-54px, -49px); }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B2_2.focus .today_channel_guide_banner_sdw { visibility: inherit; -webkit-transform: translate(-49px, -49px); }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B3.focus .today_channel_guide_banner_sdw { visibility: inherit; -webkit-transform: translate(-47px, -49px); }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B4.focus .today_channel_guide_banner_sdw { visibility: inherit; -webkit-transform: translate(-52px, -49px); }

.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B1.focus .today_channel_guide_focus_bar { visibility: inherit; margin-left: -24px; margin-top: -18px; width: 1168px; height: 480px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B2_1.focus .today_channel_guide_focus_bar { visibility: inherit; margin-left: -23px; margin-top: -18px; width: 705px; height: 489px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B2_2.focus .today_channel_guide_focus_bar { visibility: inherit; margin-left: -18px; margin-top: -18px; width: 472px; height: 489px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B3.focus .today_channel_guide_focus_bar { visibility: inherit; margin-left: -16px; margin-top: -18px; width: 398px; height: 489px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B4.focus .today_channel_guide_focus_bar { visibility: inherit; margin-left: -21px; margin-top: -18px; width: 595px; height: 489px; }

.today_channel_guide_banner_B1 .today_channel_guide_banner_img { margin-top: -95px; width: 1120px; height: 548px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B1.focus .today_channel_guide_banner_img { margin-left: -17px; margin-top: -109px; width: 1154px; height: 564px; }

.today_channel_guide_banner_B2_1 .today_channel_guide_banner_img { width: 659px; height: 453px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B2_1.focus .today_channel_guide_banner_img { margin-left: -16px; margin-top: -11px; width: 691px; height: 475px; }

.today_channel_guide_banner_B2_2 .today_channel_guide_banner_img { width: 436px; height: 453px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B2_2.focus .today_channel_guide_banner_img { margin-left: -11px; margin-top: -11px; width: 458px; height: 475px; }

.today_channel_guide_banner_B3 .today_channel_guide_banner_img { width: 366px; height: 453px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B3.focus .today_channel_guide_banner_img { margin-left: -9px; margin-top: -11px; width: 384px; height: 475px; }

.today_channel_guide_banner_B4 .today_channel_guide_banner_img { margin-top: -122px; width: 553px; height: 575px; }
.today_channel_guide.focus .today_channel_guide_banner_area.focus .today_channel_guide_banner_B4.focus .today_channel_guide_banner_img { margin-left: -14px; margin-top: -145px; width: 581px; height: 609px; }


/** Today Channel Guide Recommend */
.today_channel_guide_recommend_area { width: 1200px; height: 475px; }

div.today_channel_guide_recommend_title { background-color: rgba(255, 255, 255, 0.3); }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus div.today_channel_guide_recommend_title { background-color: rgba(255, 255, 255, 0.5); }

span.today_channel_guide_recommend_title { color: rgba(255, 255, 255, 0.5); }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus span.today_channel_guide_recommend_title { color: rgba(255, 255, 255, 0.7); }

.today_channel_guide_recommend_focus_bar { visibility: hidden; }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_focus_bar { visibility: inherit; }

.today_channel_guide_recommend_img { width: 196px; height: 280px }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_img { margin-left: -7px; margin-top: -14px; width: 210px; height: 300px; }

.today_channel_guide_recommend_img_blur img { -webkit-filter: blur(20px); }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_img_blur img { margin-left: 0px; margin-top: 0px; }

.today_channel_guide_recommend_tag_area { margin-left: 128px; }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_tag_area { margin-left: 135px; margin-top: -14px; }

.today_channel_guide_recommend_info_area { margin-top: 295px; width: 196px; visibility: inherit; opacity: 0.7; }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_info_area { margin-left: -7px; margin-top: 308px; width: 210px; opacity: 1; }

.today_channel_guide_recommend_lock { width: 196px; height: 280px }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_lock { margin-left: -7px; margin-top: -14px; width: 210px; height: 300px; }

.today_channel_guide_recommend_sub_info_area { margin-top: 39px; }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_sub_info_area { margin-top: 42px; }

.today_channel_guide_recommend_mark { display: none; }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_mark { display: block; }

.today_channel_guide_recommend_blur_title { margin-top: 184px; color: rgba(245, 246, 250, 0.7); }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_blur_title { margin-top: 190px; color: rgba(245, 246, 250, 1); }

.today_channel_guide_recommend_blur_num { margin-top: 222px; color: rgba(245, 246, 250, 0.7); }
.today_channel_guide.focus .today_channel_guide_recommend_area.focus .today_channel_guide_recommend.focus .today_channel_guide_recommend_blur_num { margin-top: 228px; color: rgba(245, 246, 250, 1); }


/** Today Channel Guide Channel Banner */
.today_channel_guide_channel_banner_area { width: 1200px; height: 280px; }

.today_channel_guide_channel_banner_sdw { visibility: hidden; }
.today_channel_guide.focus .today_channel_guide_channel_banner_area.focus .focus .today_channel_guide_channel_banner_sdw { visibility: inherit; }

.today_channel_guide_channel_banner_focus_bar { visibility: hidden; }
.today_channel_guide.focus .today_channel_guide_channel_banner_area.focus .focus .today_channel_guide_channel_banner_focus_bar { visibility: inherit; }

.today_channel_guide_channel_banner_img { width: 552px; height: 280px; }
.today_channel_guide.focus .today_channel_guide_channel_banner_area.focus .focus .today_channel_guide_channel_banner_img { margin-left: -14px; margin-top: -7px; width: 580px; height: 294px; }


.today_channel_guide_key_guide_area { visibility: hidden; }
.today_channel_guide.focus .today_channel_guide_key_guide_area { visibility: inherit; }