
.tv_app_channel_view .appList { left: 42px; top: 108px;width:1148px;height:972px; opacity: 0.8;}
.tv_app_channel_view.focus .appList { left: 42px; top: 108px;width:1148px;height:972px; opacity: 1;}
.tv_app_channel_view.focus .appList.noScroll { top: 136px;}

.tv_app_channel_view .tv_app_sector { width: 1148px; height: 286px; }
.tv_app_channel_view.focus .tv_app_sector { width: 1148px; height: 286px; }

.tv_app_channel_view .tv_app { width: 400px; height: 286px; }
.tv_app_channel_view.focus .tv_app { width: 400px; height: 286px; }

.tv_app_channel_view .dim_vodlist_btm { visibility: inherit; }
.tv_app_channel_view.focus .dim_vodlist_btm {visibility: inherit; }

.tv_app_channel_view .tv_app_img_area { left:18px; top:14px; width: 330px; height: 198px; }
.tv_app_channel_view.focus .tv_app_img_area { left:18px; top:14px; width: 330px; height: 198px; }
.tv_app_channel_view.focus .appList.focus .tv_app.focus .tv_app_img_area { -webkit-transform: scale(1.07); }

.tv_app_channel_view .tv_app_img { width: 330px; height: 198px; opacity: 1; }
.tv_app_channel_view .tv_app_dim_img {  visibility: inherit; }
.tv_app_channel_view.focus .tv_app_img { width: 330px; height: 198px; opacity: 1; }
.tv_app_channel_view.focus .tv_app_dim_img { visibility: hidden; }

.tv_app_channel_view .tv_app_focus_img { visibility: hidden; }
.tv_app_channel_view.focus .appList.focus .tv_app.focus .tv_app_focus_img { visibility: inherit; }



.tv_app_channel_view .tv_app_text_area { left:18px; top:234px; width:330px;height:35px; visibility: inherit; }
.tv_app_channel_view.focus .tv_app_text_area { visibility: inherit; }
.tv_app_channel_view.focus .appList.focus .tv_app.focus .tv_app_text_area {left:9px;top:243px;}

.tv_app_channel_view .tv_app_text_area span { color: rgba(255, 255, 255, 0.5); font-family: "RixHead L"; font-size: 30px;}
.tv_app_channel_view.focus .tv_app_text_area span { color: rgba(255, 255, 255, 0.5); font-family: "RixHead L"; font-size: 30px;}
.tv_app_channel_view.focus .appList.focus .tv_app.focus .tv_app_text_area span { color: rgba(255, 255, 255, 1); font-family: "RixHead M"; font-size: 32px;}

.tv_app_channel_view.focus .tv_app_name { width: 330px; }
.tv_app_channel_view.focus .appList.focus .tv_app.focus .tv_app_name { width: 330px; }

.tv_app_channel_view .tv_app_sub_area { visibility: hidden; }
.tv_app_channel_view.focus .tv_app_sub_area { visibility: inherit; }



@-webkit-keyframes tv_app_page_up_add {
    0% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
}
.tv_app_page_slide_up_add { -webkit-animation: tv_app_page_up_add 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_add_2 {
    0% { -webkit-transform: translateZ(0) translateY(-572px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
}
.tv_app_page_slide_up_add_2 { -webkit-animation: tv_app_page_up_add_2 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_add_3 {
    0% { -webkit-transform: translateZ(0) translateY(-286px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
}
.tv_app_page_slide_up_add_3 { -webkit-animation: tv_app_page_up_add_3 0.5s forwards; }

@-webkit-keyframes tv_app_page_up_middle {
    0% { -webkit-transform: translateZ(0) translateY(-572px);}
    100% { -webkit-transform: translateZ(0) translateY(0px);}
}
.tv_app_page_slide_up_middle { -webkit-animation: tv_app_page_up_middle 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_middle_fade_out {
    0% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}
.tv_app_page_slide_up_middle_fade_out { -webkit-animation: tv_app_page_up_middle_fade_out 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_middle_fade_out_2 {
    0% { -webkit-transform: translateZ(0) translateY(-572px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}
.tv_app_page_slide_up_middle_fade_out_2 { -webkit-animation: tv_app_page_up_middle_fade_out_2 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_middle_fade_out_3 {
    0% { -webkit-transform: translateZ(0) translateY(-286px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}
.tv_app_page_slide_up_middle_fade_out_3 { -webkit-animation: tv_app_page_up_middle_fade_out_3 0.5s forwards; }

@-webkit-keyframes tv_app_page_up_delete {
     0% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 1; }
     100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}
.tv_app_page_slide_up_delete { -webkit-animation: tv_app_page_up_delete 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_delete_2 {
    0% { -webkit-transform: translateZ(0) translateY(-572px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}
.tv_app_page_slide_up_delete_2 { -webkit-animation: tv_app_page_up_delete_2 0.5s forwards; }
@-webkit-keyframes tv_app_page_up_delete_3 {
    0% { -webkit-transform: translateZ(0) translateY(-286px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
}
.tv_app_page_slide_up_delete_3 { -webkit-animation: tv_app_page_up_delete_3 0.5s forwards; }




@-webkit-keyframes tv_app_page_down_delete {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 0; }
}
.tv_app_page_slide_down_delete { -webkit-animation: tv_app_page_down_delete 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_delete_2 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(-572px); opacity: 0; }
}
.tv_app_page_slide_down_delete_2 { -webkit-animation: tv_app_page_down_delete_2 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_delete_3 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 1; }
    100% { -webkit-transform: translateZ(0) translateY(-286px); opacity: 0; }
}
.tv_app_page_slide_down_delete_3 { -webkit-animation: tv_app_page_down_delete_3 0.5s forwards; }
/*.tv_app_page_down_delete_3 { -webkit-animation: tv_app_page_down_delete_3 0.5s forwards; }*/

@-webkit-keyframes tv_app_page_down_middle {
    0% { -webkit-transform: translateZ(0) translateY(0px);}
    100% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 1; }
}
.tv_app_page_slide_down_middle { -webkit-animation: tv_app_page_down_middle 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_middle_fade_in {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 1; }
}
.tv_app_page_slide_down_middle_fade_in { -webkit-animation: tv_app_page_down_middle_fade_in 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_middle_fade_in_2 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-572px); opacity: 1; }
}
.tv_app_page_slide_down_middle_fade_in_2 { -webkit-animation: tv_app_page_down_middle_fade_in_2 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_middle_fade_in_3 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-286px); opacity: 1; }
}
.tv_app_page_slide_down_middle_fade_in_3 { -webkit-animation: tv_app_page_down_middle_fade_in_3 0.5s forwards; }

@-webkit-keyframes tv_app_page_down_add {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 1; }
}
.tv_app_page_slide_down_add { -webkit-animation: tv_app_page_down_add 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_add_2 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-572px); opacity: 1; }
}
.tv_app_page_slide_down_add_2 { -webkit-animation: tv_app_page_down_add_2 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_add_3 {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-286px); opacity: 1; }
}
.tv_app_page_slide_down_add_3 { -webkit-animation: tv_app_page_down_add_3 0.5s forwards; }
@-webkit-keyframes tv_app_page_down_add_hidden {
    0% { -webkit-transform: translateZ(0) translateY(0px); opacity: 0; }
    100% { -webkit-transform: translateZ(0) translateY(-858px); opacity: 0; }
}
.tv_app_page_slide_down_add_hidden { -webkit-animation: tv_app_page_down_add_hidden 0.5s forwards; }