div.myhome.home_help #listArea {
    left: 197px;
    top: 159px;
    position: absolute;
    width: 1080px;
}

div.myhome.home_help #listArea table {
    width: 1080px;
    border-top: 5px solid rgba(255,255,255,.1);
    border-bottom: 5px solid rgba(255,255,255,.1);
    border-collapse: collapse;
    margin-bottom: 200px;
}

div.myhome.home_help #listArea .imgArea {
    width: 156px;
}

div.myhome.home_help #listArea .imgArea img {
    width:119px;
    height:170px;
}

div.myhome.home_help #listArea tr {
    height: 193px;
}

div.myhome.home_help #listArea tr td {
    border-bottom: 2px solid;
    border-color: rgba(255,255,255,.1);
    opacity: .99;
}

div.myhome.home_help #listArea tr#item_3 td {
    border-bottom: 4px solid rgba(255,255,255,.1);
}

div.myhome.home_help #listArea tr#item_4 {
    visibility: hidden;
}

div.myhome.home_help #listArea tr#item_4 td {
    border-top: none;
}

div.myhome.home_help #listArea tr#item_5 {
    visibility: hidden;
}

div.myhome.home_help #listArea span.title {
    display: block;
    font-size: 39px;
    color: rgba(255,255,255,.7);
    margin-bottom: 19px;
}

div.myhome.home_help #listArea span.description {
    display: block;
    color: rgba(255,255,255,.3);
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.myhome.home_help .pageIndicator {
    position: absolute;
    left: 81px;
    top: 146px;
}

div.myhome.home_help .hiddenItem td > * {
    visibility: hidden;
}

div.myhome.home_help .focus_line {
    width: 1080px;
    height: 186px;
    border-top: 5px solid #D2332F;      /* Line Focus */
    border-bottom: 5px solid #D2332F;   /* Line Focus */
    position: absolute;
    top:0;
}

/**BLURRED**/

div.myhome.home_help .blurred .pageIndicator {
    display: none;
}

div.myhome.home_help .blurred #listArea {
    left: 540px;
    top: 147px;
    width: 780px;
}

div.myhome.home_help .blurred #listArea table {
    width: 780px;
    margin-bottom: 300px;
}

div.myhome.home_help .blurred #listArea tr {
    height: 168px;
}

div.myhome.home_help .blurred #listArea tr#item_3 td {
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_help .blurred #listArea tr#item_4 {
    visibility: inherit;
}

div.myhome.home_help .blurred #listArea tr#item_5 {
    visibility: inherit;
}

div.myhome.home_help .blurred #listArea .focus td {
    border-bottom: 2px solid rgba(255,255,255,.1);
}

div.myhome.home_help .blurred #listArea .imgArea {
    width: 121px;
}

div.myhome.home_help .blurred #listArea .imgArea img {
    width:91px;
    height:130px;
}

div.myhome.home_help .blurred #listArea span.title {
    display: block;
    font-size: 30px;
    margin-bottom: 23px;
}

div.myhome.home_help #listArea span.description {
    display: -webkit-box;
    color: rgba(255,255,255,.3);
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 60px;
    font-family: "RixHead L";
}
div.myhome.home_help .blurred .focus_line {
    visibility: hidden;
}

