.epgRelatedMenu {
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.5s;
}

.epgRelatedMenu.show {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(-749px,0,0);
    opacity: 1;
}

.epgRelatedMenu.kidsmodeshow {
    -webkit-transform: translate3d(-425px,0,0);
    opacity: 1;
}

.multiScreen {
    left: 16px; top: 16px; width: 280px; height: 157px;
}
.multiScreen.focus  { -webkit-transform:scale(1.1)}