#KidsSubHomeMassList.kidsHome #backgroundTitle {
    top : 52px;
    left: 85px;
}

.kidsHome #kidsSubHome_masslist .contents_area {
    left: 83px;
    top: 115px;
}

.kidsHome #kidsSubHome_masslist .dim_vod_list {
    position: absolute;
    left: 89px;
    top: 912px;
    height: 168px;
    width: 1679px;
}

.kidsHome #kidsSubHome_masslist .key_shadow {
    position: absolute;
    left: 1115px;
    top: 912px;
    height: 168px;
    width: 805px;
}

/*
 * Vertical Poster
 */
.kidsHome #kidsSubHome_masslist .contents_area .contentsList.vertical_poster_list {
    width: 1750px;
}

.kidsHome #kidsSubHome_masslist .contents_area .contentsList li.content.poster_vertical {
    margin-right: 50px;
}

/*
 * Square Poster
 */
.kidsHome #kidsSubHome_masslist .contents_area .contentsList.square_poster_list {
    width: 1750px;
}

.kidsHome #kidsSubHome_masslist .contents_area .contentsList li.content.poster_square {
    margin-right: 53px;
}

