.miniepg_right_area { left: 370px; top: 0px; width: 1550px; height: 568px;  }
.miniepg_right_area.channellist_show { -webkit-transform: translateX(84px); }

.miniepgChannelNumberName {left: 0px; top: 236px; width: 1500px; height: 38px;}
.miniepgChannelNumberName.moveTop {left: 0px; top: 178px; width: 1500px; height: 38px;}

.miniepgCurrentProgram {left: 0px; top: 231px; width: 1108px; height: 127px;}
.miniepgCurrentProgram.slidingProgram {
    left:60px;
    transition: -webkit-transform 0.5s;
    -webkit-transform: translateX(-60px);}

.miniepgNextProgram {left: 1139px; top: 305px; width: 411px; height: 41px;}
.miniepgNextProgram.slidingProgram {
    left:1199px;
    transition: -webkit-transform 0.5s;
    -webkit-transform: translateX(-60px);}

.epgRelatedContent {
    opacity: 0;
    transition: opacity 0.5s, -webkit-transform 0.5s;
}

.epgRelatedContent.show {
    -webkit-transform: translateX(370px);
    opacity: 1;
}

.miniEpgChannelList {left: -642px; top: 0px; width: 642px; height: 1080px;opacity: 0; transition: opacity 0.5s, -webkit-transform 0.5s;}

.miniEpgChannelList.show {
    -webkit-transform: translateX(642px);
    opacity: 1;
}

