
/********normal view*********/


.related_content_poster_area { left: 11px; top: 15px; width: 264px; height: 354px;  }
.related_content_shw_left { left: 0px; top: 0px; width: 57px; height: 354px;  }
.related_content_shw_middle { left: 57px; top: 0px; width: 150px; height: 354px;  }
.related_content_shw_right { left: 207px; top: 0px; width: 57px; height: 354px;  }
.related_content_img { left: 27px; top: 22px; width: 210px; height: 300px;  }
.related_content_lock { left: 27px; top: 22px; width: 210px; height: 300px;  }
.related_content_icon1 { left: 169px; top: 21px; width: 70px; height: 35px;  }
.related_content_icon2 { left: 169px; top: 52px; width: 70px; height: 35px;  }

.focus_related_content_focus_line { left: 20px; top: 14px; width: 245px; height: 345px; opacity: 0;}

.content_info_area {left: 38px; top: 357px; width: 210px; height: 70px;}
.content_info_area .text_box {left: 0px; top: 0px; width: 230px; height: 32px; color: rgba(255,255,255,0.7);}
.content_info_area .content_title {left: 0px; top: 0px; height: 32px; color: rgba(255,255,255,0.7);}
.content_info_area .content_title.line_1 { width: 210px; }
.content_info_area .content_title.ani { white-space:nowrap; }

.content_info_area .star_point_age_icon {left: 0px; top: 37px; width: 210px; height: 33px;}
.content_info_area .star_point_age_icon  .star_point {left: 0px; top: 6px; width: 0px; height: 18px; visibility: hidden;}
.content_info_area .star_point_age_icon  .isbuy_age_icon {left: 0px; top: 0px; width: 80px; height: 33px;}


.mashup_content_poster_area  { left: 21px; top: 15px; width: 474px; height: 354px;}
.mashup_content_shw_left { left: 0px; top: 0px; width: 57px; height: 354px; }
.mashup_content_shw_middle { left: 57px; top: 0px; width: 360px; height: 354px; }
.mashup_content_shw_right { left: 417px; top: 0px; width: 57px; height: 354px;  }
.mashup_content_img { left: 27px; top: 22px; width: 420px; height: 300px; }

.focus_mashup_content_focus_line { left: 21px; top: 15px; width: 474px; height: 344px;opacity: 0;}

/*************focusedView *****************/

.related_content_poster_area.focus  { -webkit-transform:scale(1.1)}

.related_content_poster_area.focus  .related_content_icon1 { left: 170px; top: 20px; width: 70px; height: 35px;  }
.related_content_poster_area.focus  .related_content_icon2 { left: 170px; top: 50px; width: 70px; height: 35px;  }

.content_info_area.focus  {-webkit-transform: translate(-13px, 24px);width: 231px; }
.content_info_area.focus .content_title {top: 0px; color: rgba(255,255,255,1);}
.content_info_area.focus .star_point_age_icon {width: 231px;}
.content_info_area.focus .star_point_age_icon  .star_point {width: 116px;visibility: inherit;}
.content_info_area.focus .star_point_age_icon  .isbuy_age_icon {left: 125px;}

.focus_related_content_focus_line.focus { opacity: 1; }

.mashup_content_poster_area.focus  { -webkit-transform:scale(1.1)}
.focus_mashup_content_focus_line.focus { opacity: 1; }

.page_sliding_right_no_rear_img {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(-1920px,0,0);
}

.page_sliding_right_default {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(-1722px,0,0);
}

.page_sliding_right_mash1 {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(-1683px,0,0);
}
.page_sliding_right_mash2 {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(-1654px,0,0);
}

.page_sliding_right_mash3 {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(-1625px,0,0);
}


.page_sliding_left_no_rear_img {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(1920px,0,0);
}

.page_sliding_left_default {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(1722px,0,0);
}

.page_sliding_left_mash1 {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(1683px,0,0);
}

.page_sliding_left_mash2 {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(1654px,0,0);
}

.page_sliding_left_mash3 {
    -webkit-transition: -webkit-transform 500ms;
    -webkit-transform: translate3d(1625px,0,0);
}