/* KT Web Homeportal 3.0 Font Style Sheet */

.font_l {
    font-family: "RixHead L";
}

.font_m {
    font-family: "RixHead M";
}

.font_b {
    font-family: "RixHead B";
}

.cut{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}


.underline {
    position: relative;
    text-decoration : none;
}

.underline:after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    margin-top: -2px;
    border-bottom: 1.5px solid rgb(0, 30, 248);
}