
/** 홈 메뉴 관련 css */
.home_menu_delete { -webkit-animation: ""; opacity: 0; }
.home_menu_add { -webkit-animation: ""; opacity: 1; }

.home_menu_focus_delete { -webkit-animation: ""; opacity: 0; }
.home_menu_focus_add { -webkit-animation: ""; opacity: 1; }

.home_menu_top_bottom_area_slide_up { -webkit-animation: ""; -webkit-transform: translate3d(0, -81px, 0); }
.home_menu_top_bottom_area_slide_down { -webkit-animation: ""; -webkit-transform: translate3d(0, 0px, 0); }

.home_menu_focus_area_slide_up { -webkit-animation: ""; -webkit-transform: translate3d(0, -110px, 0); }
.home_menu_focus_area_slide_down { -webkit-animation: ""; -webkit-transform: translate3d(0, 0px, 0); }


/** 채널 가이드 관련 css */
.guide_menu_delete { -webkit-animation: ""; opacity: 0; -webkit-transform: translateZ(0); }
.guide_menu_add { -webkit-animation: ""; opacity: 1; -webkit-transform: translateZ(0); }

.guide_menu_focus_delete { -webkit-animation: ""; opacity: 0; -webkit-transform: translateZ(0); }

.channel_guide_menu_focus_list.guide_menu_slide_up { -webkit-animation: ""; -webkit-transform: translateY(-55px); }
.channel_guide_menu_focus_list.guide_menu_slide_down { -webkit-animation: ""; -webkit-transform: translateY(19px); }

.channel_guide_menu_bottom_list.guide_menu_slide_up { -webkit-animation: ""; -webkit-transform: translateY(-21px); }
.channel_guide_menu_bottom_list.guide_menu_slide_down { -webkit-animation: ""; -webkit-transform: translateY(65px);  }

