.spin_circle{
    float: left;
    margin-left:4px;
    width: 23px;
    height: 23px;

    /*background-color: rgb(117, 117, 117);*/
    border-radius: 10px;

    -webkit-transform: scale(0.5);
    background-color:rgb(70, 70, 70);

    -webkit-animation-name: bounce;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    }


    
#circle_0{
    -webkit-animation-delay: -0.25s;
}
#circle_1{
    -webkit-animation-delay: 0s;
}
#circle_2{
    -webkit-animation-delay: .25s;
}
#circle_3{
    -webkit-animation-delay: .5s;
}
#circle_4{
    -webkit-animation-delay: .75s;
}
#circle_5{
    -webkit-animation-delay: 1s;
}
@-webkit-keyframes bounce{
    20% { -webkit-transform: scale(1.0); background-color:rgb(255,255,255); }
    60% { -webkit-transform: scale(0.5); background-color:rgb(70,70,70); }
    100% {}
}