div.subhome .subHomeView .banner_big {
    width: 1208px;
    height: 459px;
    margin-bottom: 63px;
    transition: -webkit-transform .5s;
    /*영역을 넘어갈 경우 다른 엘리먼트에 영향이 가서, 아래와 같이 처리함*/
    padding-left: 50px;
    margin-left: -50px;
}

div.subhome .subHomeView .banner_big .banner_item {
    position: relative;
    border: 6px solid transparent;
    padding: 1px;
    display: inline-block;
}

div.subhome .subHomeView .banner_big .banner_item.focus {
    z-index: 1;
    border-color: #D1433F;  /* Line Focus */
    -webkit-transform: scale(1.05);
}

div.subhome .subHomeView .banner_big .banner_item.banner_big_1.focus {
    -webkit-transform: scale(1.03) translateY(10px) translateZ(0);
}

/* 그림자 영역 */
div.subhome .subHomeView .banner_big .banner_sdw {
    position: absolute;
    visibility: hidden;
}

div.subhome .subHomeView .banner_big .banner_item.focus .banner_sdw {
    visibility: inherit;
    margin-left: -41px;
    margin-top: -42px;
}

div.subhome .subHomeView .banner_big .banner_sdw_l {
    position: relative;
    float: left;
    width: 65px;
    height: 537px;
}

div.subhome .subHomeView .banner_big .banner_sdw_m {
    position: relative;
    float: left;
    height: 537px;
}

div.subhome .subHomeView .banner_big .banner_sdw_r {
    position: relative;
    float: left;
    width: 65px;
    height: 537px;
}

div.subhome .subHomeView .banner_big .absolute_wrapper {
    position: absolute;
    width: inherit;
    height: 453px;
}

div.subhome .subHomeView .banner_big .absolute_wrapper * {
    position: absolute;
}

div.subhome .subHomeView .banner_big .banner_big_1 {
    width: 1120px;
    height: 453px;
}

div.subhome .subHomeView .banner_big .banner_big_1 .absolute_wrapper img {
    bottom:0;
    width: 1120px;
}

div.subhome .subHomeView .banner_big .banner_big_2_1 {
    width: 659px;
    height: 453px;
    margin-right: 13px;
}

div.subhome .subHomeView .banner_big .banner_big_2_1 .absolute_wrapper img {
    bottom: 0;
    width: 659px;
}

div.subhome .subHomeView .banner_big .banner_big_2_1 .banner_sdw {
    width: 750px;
}

div.subhome .subHomeView .banner_big .banner_big_2_1 .banner_sdw_m {
    width: 612px;
}

div.subhome .subHomeView .banner_big .banner_big_2_2 {
    width: 436px;
    height: 453px;
}

div.subhome .subHomeView .banner_big .banner_big_2_2 .absolute_wrapper img {
    bottom: 0;
    width: 436px;
}

div.subhome .subHomeView .banner_big .banner_big_2_2 .banner_sdw {
    width: 530px;
}


div.subhome .subHomeView .banner_big .banner_big_2_2 .banner_sdw_m {
    width: 388px;
}

div.subhome .subHomeView .banner_big .banner_big_3 {
    width: 366px;
    height: 453px;
}

div.subhome .subHomeView .banner_big .banner_big_3 .absolute_wrapper img {
    bottom: 0;
    width: 366px;
}

div.subhome .subHomeView .banner_big .banner_big_3 .banner_sdw {
    width: 450px;
}

div.subhome .subHomeView .banner_big .banner_big_3 .banner_sdw_m {
    width: 318px;
}

div.subhome .subHomeView .banner_big .banner_big_4 {
    width: 553px;
    height: 453px;
    margin-right: 3px;
}

div.subhome .subHomeView .banner_big .banner_big_4 .absolute_wrapper img {
    bottom: 0;
    width: 553px;
}

div.subhome .subHomeView .banner_big .banner_big_4 .banner_sdw {
    width: 650px;
}

div.subhome .subHomeView .banner_big .banner_big_4 .banner_sdw_m {
    width: 505px;
}

