#SubHomeMassList.subhome .background {
    background-color: black;
    opacity: 0.9;
    width: 1920px;
    height: 1080px;
}

#SubHomeMassList.subhome #backgroundTitle {
    top : 52px;
    left: 85px;
}

.subhome #subhome_masslist .contents_area {
    left: 83px;
    top: 115px;
}

.subhome #subhome_masslist .dim_vod_list {
    position: absolute;
    left: 89px;
    top: 912px;
    height: 168px;
    width: 1679px;
}

.subhome #subhome_masslist .key_shadow {
    position: absolute;
    left: 1115px;
    top: 912px;
    height: 168px;
    width: 805px;
}

/*
 * Vertical Poster
 */
.subhome #subhome_masslist .contents_area .contentsList.vertical_poster_list {
    width: 1750px;
}

.subhome #subhome_masslist .contents_area .contentsList li.content.poster_vertical {
    margin-right: 50px;
}

/*
 * Square Poster
 */
.subhome #subhome_masslist .contents_area .contentsList.square_poster_list {
    width: 1750px;
}

.subhome #subhome_masslist .contents_area .contentsList li.content.poster_square {
    margin-right: 53px;
}

