/*
    컨텐츠 영역의 세로 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:10
    Author     : lyllyl
*/

/*
 * 일반
 */
div.subhome .content.poster_vertical {
    margin-right: 35px;
    float: left;
    width: 196px;
    height: 390px;
    /*transition: width .5s, height .5s, margin .5s;*/
}

div.subhome .content.poster_vertical .content {
    position: absolute;
    width: 196px;
    height: 280px;
    display: block;
    border: white 6px solid;
    border-color: transparent;
    padding: 1px;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
}

/*추후 제거 필요*/
div.subhome .content.poster_vertical .sdw_area {
    position: absolute;
    width: 264px;
    height: 354px;
    margin-top: -25px;
    margin-left: -27px;
    display: none;
}

/*추후 제거 필요*/
div.subhome .content.poster_vertical .sdw_area .sdw_left {
    display: inline-block;
    background: url(../../resource/image/sdw_poster_h300_l.png);
    width: 57px;
    height: inherit;
}

/*추후 제거 필요*/
div.subhome .content.poster_vertical .sdw_area .sdw_mid {
    display: inline-block;
    background: url(../../resource/image/sdw_poster_h300.png);
    width: 150px;
    height: inherit;
}

/*추후 제거 필요*/
div.subhome .content.poster_vertical .sdw_area .sdw_right {
    display: inline-block;
    background: url(../../resource/image/sdw_poster_h300_r.png);
    width: 57px;
    height: inherit;
}

div.subhome .content.poster_vertical .posterImg {
    position: absolute;
    width: 196px;
    height: 280px;
}

div.subhome .content.poster_vertical .contentsData {
    position: absolute;
    margin-top: 295px;
    width: 196px;
    opacity: .7;
}

div.subhome .blurred .content.poster_vertical .contentsData {
    opacity: .4;
}

div.subhome .content.poster_vertical .posterTitle {
    display: block;
    color: white;
    font-size: 30px;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.subhome .content.poster_vertical .posterDetail {
    display: block;
    margin-top: 6px;
    height: 36px;
    white-space: nowrap;
    -webkit-transform-origin: left;
}

div.subhome .content.poster_vertical .posterDetail * {
    vertical-align: top;
}

div.subhome .content.poster_vertical .rating_star_area {
    display: none;
    margin-right: 9px;
    margin-top: 2px;
}

div.subhome .content.poster_vertical .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
}

div.subhome .content.poster_vertical .isfreeIcon {
    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-right: 7px;
    content: url(../../resource/image/icon/icon_buy.png);
}

div.subhome .content.poster_vertical .age {
    width: 32px;
    height: 32px;
    margin-top: -4px;
}

div.subhome .content.poster_vertical .posterTitle marquee {
    display: none;
}


/*
 * 포커스
 */
div.subhome .content.poster_vertical.focus .content {
    border-color: #D1433F;  /* Line Focus */
    -webkit-transform: scale(1.07) translateZ(0);
    z-index: 10;
}

div.subhome .content.poster_vertical.focus .posterDetail {
    -webkit-transform: scale(.9);
}

div.subhome .content.poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
    width: 210px;
    margin-left: -7px;
    opacity: 1;
}

div.subhome .content.poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.subhome .content.poster_vertical.focus .rating_star_area {
    display: inline-block;
}

div.subhome .content.poster_vertical.focus .posterTitle {
    text-overflow: inherit;
}

div.subhome .content.poster_vertical.focus .posterTitle span {
    font-family: "RixHead M";
    display: inline-block;
}

/*
 * 전체보기
 */

div.subhome .content.poster_vertical.more {
    margin-right: 0;
}

div.subhome .content.poster_vertical.more .contentsData {
    margin-top: 183px;
    margin-left: 24px;
}

div.subhome .content.poster_vertical.more .posterImgWrapper {
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 196px;
    height: 280px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.subhome .content.poster_vertical.more .posterImg {
    -webkit-transform: scale(1.2);
    -webkit-filter: blur(20px);
}

div.subhome .content.poster_vertical.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.subhome .content.poster_vertical.more .contentsData .moreViewTxt {
    margin-left: 4px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
    font-family: "RixHead M";
}

div.subhome .content.poster_vertical.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 13px;
    line-height: 13px;
}

div.subhome .content.poster_vertical.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 44px;
    margin-top: 15px;
    display: block;
}


/*
 *아이콘 영역
 */

div.subhome .content.poster_vertical .content .icon_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.subhome .content.poster_vertical .content .icon_area img {
    display: none;
    margin-bottom: -4px;
}

div.subhome .content.poster_vertical .content .icon_area img:nth-child(1) {
    display: block;
}

div.subhome .content.poster_vertical .content .icon_area img:nth-child(2) {
    display: block;
}

div.subhome .content.poster_vertical .content .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.subhome .content.poster_vertical .content .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.subhome .content.poster_vertical .content .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.subhome .content.poster_vertical .content .icon_area .bottom_tag_area > img {
    width: 100%;
    margin-bottom:0;
}

div.subhome .content.poster_vertical .content .icon_area .lock_icon:empty {
    background:none;
}

div.subhome .content.poster_vertical .content .icon_area .lock_icon {
    position: absolute;
    bottom: 0;
}
div.subhome .content.poster_vertical .content .icon_area .lock_icon > img {
    margin-bottom: 0;
    width: 196px;
    height: 280px;
}

/*
 *순위리스트
 */

div.subhome .content.poster_vertical .content .chart_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.subhome .content.poster_vertical .content .chart_area .chart_icon {
    position:absolute;
    width: 70px;
    height: 43px;
    background: url(../../resource/image/icon_ranking.png);
    left: -5px;
    top: -3px;
    color: white;
    font-size: 26px;
    line-height: 1;
    padding-top:33px;
    text-align: center;
    font-family: "RixHead B";
}

div.subhome .content.poster_vertical .content .chart_area .chart_icon:after {
    font-size: 20px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.8);
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area {
    position: absolute;
    left: 15px;
    top: 110px;
    width: 182px;
    height: 170px;
    background: url(../../resource/image/poster_sale_sdw.png);
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon {
    position:absolute;
    right: 11px;
    bottom: 10px;
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.plus {
    color: #FF5555;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.plus::before {
    display: inline-block;
    content: url(../../resource/image/updown_up.png);
    vertical-align: top;
    margin-right: 6px;
}


div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.minus {
    color: #4A9BFF;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.minus::before {
    display: inline-block;
    content: url(../../resource/image/updown_down.png);
    vertical-align: top;
    margin-right: 6px;
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.still::before {
    content: url(../../resource/image/updown_unchange.png);
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.new {
    right: 9px;
    bottom: 13px;
}

div.subhome .content.poster_vertical .content .chart_area .chart_change_area .chart_change_icon.new::before {
    content: url(../../resource/image/icon_fluctu_new.png);
}

@-webkit-keyframes marqueeTitle {
    0% {
        margin-left: 100%
    }
    100% {
        margin-left: -100%
    }
}

/* Dim 처리 */
div.subhome .blurred .content.poster_vertical .content .over_dim {
    position: absolute;
    width: 196px;
    height: 280px;
    background: rgba(0, 0, 0, 0.1);
}