/*
    컨텐츠 영역의 가로 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:10
    Author     : lyllyl
*/

/*
 * 일반
 */
div.subhome .content.poster_horizontal {
    margin-right: 30px;
    float: left;
    width: 264px;
    height: 297px;
}

div.subhome .content.poster_horizontal .content {
    width: 264px;
    height: 198px;
    display: block;
    border-top: white 6px solid;
    border-bottom: white 6px solid;
    border-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s, border-color .5s;
}

div.subhome .content.poster_horizontal .previewSdw {
    position: absolute;
    height: 198px;
    width: 16px;
    z-index: 1;
    opacity: 0;
    background: url(../../resource/image/sdw_category_poster.png);
    background-size: contain;
}

div.subhome .content.poster_horizontal:nth-child(4n+1) .previewSdw {
    display: none;
}

div.subhome .content.poster_horizontal .sdw_area {
    position: absolute;
    width: 330px;
    height: 261px;
    margin-top:-22px;
    margin-left:-27px;
}

div.subhome .content.poster_horizontal .sdw_area .sdw_left {
    display: inline-block;
    background: url(../../resource/image/sdw_thumb_h207_l.png);
    width: 57px;
    height: inherit;
}

div.subhome .content.poster_horizontal .sdw_area .sdw_mid {
    display: inline-block;
    background: url(../../resource/image/sdw_thumb_h207.png);
    width: 216px;
    height: inherit;
}

div.subhome .content.poster_horizontal .sdw_area .sdw_right {
    display: inline-block;
    background: url(../../resource/image/sdw_thumb_h207_r.png);
    width: 57px;
    height: inherit;
}

div.subhome .content.poster_horizontal .posterImg {
    position: absolute;
    width: 264px;
    height: 198px;
}

div.subhome .content.poster_horizontal .contentsData {
    position: absolute;
    margin-top: 215px;
    width: 269px;
}

div.subhome .content.poster_horizontal .posterTitle {
    display: block;
    color: white;
    opacity: 0.7;
    font-size: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.subhome .content.poster_horizontal .posterDetail {
    display: block;
    margin-top: 9px;
    height: 36px;
    white-space: nowrap;
}

div.subhome .content.poster_horizontal .posterDetail * {
    vertical-align: top;
}

div.subhome .content.poster_horizontal .rating_star_area {
    display: none;
    margin-right: 9px;
    margin-top: 1px;
    vertical-align: top;
}

div.subhome .content.poster_horizontal .isfree {
    vertical-align: top;
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
}

div.subhome .content.poster_horizontal .age {
    width: 32px;
    height: 32px;
    margin-top: -6px;
    vertical-align: top;
}


/*
 * 미리보기
 */
div.subhome .blurred .content.poster_horizontal {
    margin-right: 0px;
    width: 210px;
    height: 157px;
    display: block;
}

div.subhome .blurred .content.poster_horizontal .content {
    -webkit-transform: translateZ(0) scale(0.795);
    -webkit-transform-origin: 0 0;
}

div.subhome .blurred .content.poster_horizontal .posterSdw {
    display: none;
}

div.subhome .blurred .content.poster_horizontal .contentsData {
    display: none;
}

div.subhome .blurred .content.poster_horizontal .previewSdw {
    opacity: 1;
}

div.subhome .blurred .content.poster_horizontal .over_dim {
    position: absolute;
    width: 264px;
    height: 198px;
}

div.subhome .blurred .content.poster_horizontal.line_1 .over_dim {
    background:rgba(0,0,0,.1);
}

div.subhome .blurred .content.poster_horizontal.line_2 .over_dim {
    background:rgba(0,0,0,.2);
}

div.subhome .blurred .content.poster_horizontal.line_3 .over_dim {
    background:rgba(0,0,0,.3);
}

/*
 * 포커스
 */
div.subhome .content.poster_horizontal.focus .content {
    border-color: #D1433F;  /* Line Focus */
    -webkit-transform: scale(1.1);
}

div.subhome .content.poster_horizontal.focus .contentsData {
    -webkit-transform: translateY(5px);
}

div.subhome .content.poster_horizontal.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.subhome .content.poster_horizontal.focus .rating_star_area {
    display: inline-block;
}


/*
 * 전체보기
 */
div.subhome .content.poster_horizontal.more .contentsData {
    margin-top: 100px;
    margin-left: 21px;
}

div.subhome .content.poster_horizontal.more .posterImgWrapper {
    background-color: white;
    position: absolute;
    width: 264px;
    height: 198px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

div.subhome .content.poster_horizontal.more .posterImg {
    -webkit-transform: scale(1.15);
    -webkit-filter: blur(20px);
}

div.subhome .content.poster_horizontal.more.focus .contentsData {
    -webkit-transform: translateY(-5px);
}

div.subhome .content.poster_horizontal.more .contentsData .moreViewTxt {
    margin-left: 2px;
    line-height: 24px;
    font-size: 26px;
    color: rgba(245, 246, 250, 0.7);
    display: block;
}

div.subhome .content.poster_horizontal.more .contentsData .moreViewIcon {
    margin-left: 0px;
    margin-top: 15px;
    line-height: 13px;
    vertical-align: middle;
    display: inline-block;
}

div.subhome .content.poster_horizontal.more .contentsData .moreViewCnt {
    line-height: 37px;
    color: rgba(245, 246, 250, 0.7);
    font-size: 45px;
    vertical-align: middle;
    margin-top: 13px;
    display: inline-block;
}


/*
 *아이콘 영역
 */

div.subhome .content.poster_horizontal .content .icon_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.subhome .content.poster_horizontal .content .icon_area img {
    display: block;
}

div.subhome .content.poster_horizontal .content .icon_area .left_icon_area {
    position: absolute;
    left: -5px;
    top: -3px;
}

div.subhome .content.poster_horizontal .content .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -1px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.subhome .content.poster_horizontal .content .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.subhome .content.poster_horizontal .content .icon_area .bottom_tag_area > img {
    width: 100%
}

div.subhome .content.poster_horizontal .content .icon_area .lock_icon:empty {
    background:none;
}

div.subhome .content.poster_horizontal .content .icon_area .lock_icon {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.1);
}

div.subhome .content.poster_horizontal .content .icon_area .lock_icon > img {
    margin: 60px auto 114px auto;
}


/*
 *순위리스트
 */

div.subhome .content.poster_horizontal .content .chart_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_icon {
    position:absolute;
    width: 70px;
    height: 43px;
    background: url(../../resource/image/icon_ranking.png);
    left: -5px;
    top: -3px;
    color: white;
    font-size: 26px;
    line-height: 1;
    padding-top:33px;
    text-align: center;
    font-family: "RixHead B";
}

div.subhome .content.poster_horizontal .content .chart_area .chart_icon:after {
    font-size: 20px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.8);
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area {
    position: absolute;
    left: 28px;
    top: 130px;
    width: 182px;
    height: 170px;
    background: url(../../resource/image/poster_sale_sdw.png);
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon {
    position:absolute;
    right: 11px;
    bottom: 10px;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.plus {
    color:red;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.plus::before {
    display: inline-block;
    content: url(../../resource/image/updown_up.png);
    vertical-align: top;
    margin-right: 6px;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.minus {
    color: #4A9BFF;
    font-size: 23px;
    line-height: 21px;
    font-family: "RixHead M";
    vertical-align: top;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.minus::before {
    display: inline-block;
    content: url(../../resource/image/updown_down.png);
    vertical-align: top;
    margin-right: 6px;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.still::before {
    content: url(../../resource/image/updown_unchange.png);
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.new {
    right: 9px;
    bottom: 13px;
}

div.subhome .content.poster_horizontal .content .chart_area .chart_change_area .chart_change_icon.new::before {
    content: url(../../resource/image/icon_fluctu_new.png);
}

@-webkit-keyframes marqueeTitle {
    0% {
        margin-left: 100%
    }
    100% {
        margin-left: -100%
    }
}

@-webkit-keyframes marqueeTitle {
    0%{margin-left: 100%}
    100%{margin-left:-100%}
}