/*
    컨텐츠 영역의 정사각형 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2017. 1. 5, 오후 14:34:10
    Author     : lyllyl
*/
div.subhome .recomContView {
    width: inherit;
    height: inherit;
}

div.subhome .recomContView .content.left .recom_area {
    position:absolute;
    top: -11px;
    left: 2px;
    display: none;
}

div.subhome .recomContView .content.left.focus .recom_area {
    display: block;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: left bottom;
    height: 86px;
}

div.subhome .recomContView .content.left .recom_area .bg_area {
    position: absolute;
}

div.subhome .recomContView .content.left .recom_area .bg_area .bg_left {
    display: inline-block;
    background: url(../../resource/image/recom_leftside_l.png);
    height: 83px;
    width: 48px;
}

div.subhome .recomContView .content .recom_area .bg_area .bg_mid {
    display: inline-block;
    background: url(../../resource/image/recom_m.png);
    height: 83px;
}

div.subhome .recomContView .content.left .recom_area .bg_area .bg_right {
    display: inline-block;
    background: url(../../resource/image/recom_leftside_r.png);
    height: 83px;
    width: 29px;
}

div.subhome .recomContView .content .recom_area .text_area {
    position: absolute;
    margin-top: 15px;
}

div.subhome .recomContView .content .recom_area .text_area .title {
    display: inline-block;
    font-size: 24px;
    font-family: "RixHead B";
    color: #DDAF78;
    margin-left: 27px;
    vertical-align: middle;
}

div.subhome .recomContView .content .recom_area .text_area .keyword {
    display: inline-block;
    font-size: 27px;
    color: rgba(255,255,255,.7);
    margin-left: 26px;
    vertical-align: middle;
}

div.subhome .recomContView .content .recom_area .text_area .keyword bar {
    display: inline-block;
    width: 3px;
    height: 23px;
    margin-left: 17px;
    margin-right: 18px;
    background: rgba(255,255,255,.2);
    vertical-align: middle;
}


div.subhome .recomContView .content.right .recom_area {
    position:absolute;
    top: -11px;
    right: 2px;
    display: none;
}

div.subhome .recomContView .content.right.focus .recom_area {
    display: block;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: right bottom;
    height: 86px;
}

div.subhome .recomContView .content.right .recom_area .bg_area {
    position: absolute;
}

div.subhome .recomContView .content.right .recom_area .bg_area .bg_left {
    display: inline-block;
    background: url(../../resource/image/recom_rightside_l.png);
    height: 83px;
    width: 29px;
}

div.subhome .recomContView .content.right .recom_area .bg_area .bg_right {
    display: inline-block;
    background: url(../../resource/image/recom_rightside_r.png);
    height: 83px;
    width: 48px;
}

div.subhome .recomContView .noticeArea {
    visibility: hidden;
    position: absolute;
    bottom:0;
    width: 1920px;
    height: 75px;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    color: white;
    font-family: "RixHead L";
    background: url(../../resource/image/caption_bg.png);
}

div.subhome .recomContView.blurred .noticeArea {
    visibility: inherit;
}

div.subhome .recomContView .noticeArea:empty {
    visibility: hidden;
}

