
.genre_channel_view_extension_kids .sub_area span {
    width: 97px;
}

.genre_channel_view_extension_kids .pageIndicator {
    position: absolute;
    left: 81px;
    top: 146px;

    left: 90px;
    top: 122px;
}

.genre_channel_view_extension_kids.blurred .pageIndicator {
    visibility: hidden;
}

.genre_channel_view_extension_kids.blurred .sub_area {
    display: none;
}


.genre_channel_view_extension_kids .itemGroup { left: 636px; top: 122px; }
.genre_channel_view_extension_kids.focus .itemGroup  { left: 174px; top: 122px; }

.genre_channel_view_extension_kids .focusBar { visibility: hidden; }
.genre_channel_view_extension_kids.focus .itemGroup.focus .focusBar { visibility: inherit; }

.genre_channel_view_extension_kids .itemGroup .focusBar div { background-color : rgba(128, 128, 128, 1); }
.genre_channel_view_extension_kids.focus .itemGroup.focus .focusBar div { background-color : rgba(255, 255, 255, 1); }


.genre_channel_view_extension_kids .itemGroup .item { width: 845px; height: 130px; }
.genre_channel_view_extension_kids.focus .itemGroup .item { width: 2100px; height: 161px; }

.genre_channel_view_extension_kids .itemGroup .item .chArea { width: 280px; height: 127px; background-color: rgba(32, 74, 119, 0.6); }
.genre_channel_view_extension_kids.focus .itemGroup .item .chArea { width: 332px; height: 158px; background-color: rgba(30, 70, 107, 0.6); }

.genre_channel_view_extension_kids .itemGroup .item .pipArea { margin-left: 3px; width: 228px; height: 127px; }
.genre_channel_view_extension_kids.focus .itemGroup .item .pipArea { margin-left: 6px; width: 282px; height: 158px; margin-right: 4px;}

.genre_channel_view_extension_kids .itemGroup .item .programArea { width: 329px; height: 127px; background-color: rgba(38, 79, 117, 0.9);}
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea { margin-left: 2px; width: 455px; height: 158px; background-color: rgba(38, 79, 117, 0.9); }

/*sw.nam  프로그램 포커스 라인을 위한 div 추가 */
.genre_channel_view_extension_kids .itemGroup .item .programArea .programAreaFocusDiv { width: 329px; height: 127px; border: solid 3px rgba(38,79,117,0.9); box-sizing: border-box; visibility: hidden; }
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .programAreaFocusDiv {  width: 455px; height: 158px; border: solid 6px rgb(255, 179, 46); }
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .programAreaFocusDiv { visibility: inherit;}

.genre_channel_view_extension_kids.focus .itemGroup .item.focus>div { background-color: rgba(23, 58, 90, 0.9);}
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus { background-color: rgba(35,35,35,1.0); }

/*sw.nam  프로그램 포커스 라인을 위한 div 추가 */
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .programAreaFocusGreyDiv{ margin-left: 8px; margin-top: 8px; width: 439px; height: 142px; background-color : rgba(25, 58, 90,0.9); visibility: hidden;}
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .programAreaFocusGreyDiv { visibility: inherit;}


.genre_channel_view_extension_kids .itemGroup .item .chArea .icon  { margin-left: 20px; margin-top: 32px; }
.genre_channel_view_extension_kids.focus .itemGroup .item .chArea .icon { margin-left: 32px; margin-top: 44px; }

.genre_channel_view_extension_kids .itemGroup .item .chArea .chNum  { margin-left: 51px; margin-top: 31px; font-size: 29px; letter-spacing: -1.45px; color: rgba(255,255,255,0.7); }
.genre_channel_view_extension_kids.focus .itemGroup .item .chArea .chNum { margin-left: 66px; margin-top: 42px; font-size: 32px; letter-spacing: -1.6px;}
/*.genre_channel_view_extension_kids.focus .itemGroup .item.focus .chArea .chNum { color: rgba(255, 255, 255, 1); }*/

.genre_channel_view_extension_kids .itemGroup .item .pipArea .thumbnail { width: 228px; height: 127px; }
.genre_channel_view_extension_kids.focus .itemGroup .item .pipArea .thumbnail { width: 282px; height: 158px; }

.genre_channel_view_extension_kids .itemGroup .item .pipArea .thumbnail_default { width: 228px; height: 127px; }
.genre_channel_view_extension_kids.focus .itemGroup .item .pipArea .thumbnail_default { width: 282px; height: 158px; }

.genre_channel_view_extension_kids .itemGroup .item .pipArea .thumbnail_sdw { visibility: inherit; }
.genre_channel_view_extension_kids.focus .itemGroup .item .pipArea .thumbnail_sdw { visibility: hidden; }


.genre_channel_view_extension_kids .itemGroup .item .programArea .programName {
    font-family: "RixHead L"; font-size: 29px; letter-spacing: -1.45px; color: rgba(255,255,255,0.7); text-overflow: ellipsis; overflow: hidden;
}
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .programName {font-size: 31px; letter-spacing: -1.55px;}
.genre_channel_view_extension_kids.focus .itemGroup .item.focus .programArea .programName {color: rgba(255, 255, 255, 1);}
/*.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .programName {*/
    /*font-family: "RixHead M"; font-size: 36px; letter-spacing: -1.8px; color: rgba(73, 68, 60, 1); overflow: visible;*/
/*}*/

.genre_channel_view_extension_kids.focus .itemGroup .item.focus .programArea.focus .programName_2 {color: rgba(255, 255, 255, 1);}
/*.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .programName_2 {color: rgba(73, 68, 60, 1);}*/

/*.genre_channel_view_extension_kids .itemGroup .item .programArea .ageIcon { visibility: hidden; }*/
/*.genre_channel_view_extension_kids.focus .itemGroup .item.focus .programArea.focus .ageIcon { visibility: inherit; }*/


.genre_channel_view_extension_kids .itemGroup .item .programArea .programStartTime { margin-left: 24px; margin-top: 78px; font-size: 21px; letter-spacing: -1.05px; color: rgba(255,255,255,0.5); }
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .programStartTime { margin-left: 38px; margin-top: 97px; font-size: 22px; letter-spacing: -1.1px;}
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .programStartTime { margin-left: 28px; margin-top: 122px; }

.genre_channel_view_extension_kids .itemGroup .item .programArea .programEndTime { margin-left: 247px; margin-top: 78px; font-size: 21px; letter-spacing: -1.05px; color: rgba(255,255,255,0.5); }
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .programEndTime { margin-left: 305px; margin-top: 97px; font-size: 22px; letter-spacing: -1.1px;}
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .programEndTime { margin-left: 287px; margin-top: 122px; }

.genre_channel_view_extension_kids.focus .itemGroup .item.focus .programArea.focus span { color: rgba(255, 255, 255, 1); }
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus span { /*color: rgba(73, 68, 60, 1); */}

.genre_channel_view_extension_kids .itemGroup .item .programArea .entireProgressBar { margin-left: 87px; margin-top: 87px; width: 150px; height: 4px; background-color : rgba(255, 255, 255, 0.2); }
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .entireProgressBar { margin-left: 112px; margin-top: 106px; width: 178px; }
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .entireProgressBar { margin-left: 98px; margin-top: 130px; width: 180px; height: 5px; }
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .entireProgressBar { /*background-color: rgba(73, 68, 60, 0.3);*/ }

.genre_channel_view_extension_kids .itemGroup .item .programArea .dynamicProgressBar { width: 150px; height: 4px; background-color : rgba(255, 255, 255, 0.7); }
.genre_channel_view_extension_kids.focus .itemGroup .item .programArea .dynamicProgressBar { width: 178px; }
.genre_channel_view_extension_kids.focus .itemGroup .item.focus .programArea .dynamicProgressBar { width: 180px; height: 5px; }
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea .dynamicProgressBar { background-color: rgba(255, 255, 255, 0.7); }
.genre_channel_view_extension_kids.focus .itemGroup.focus .item.focus .programArea.focus .dynamicProgressBar { /*background-color: rgba(73, 68, 60, 1);*/ }

.genre_channel_view_extension_kids .itemGroup .full_screen_show { /*visibility: hidden;*/ opacity: 0; }
.genre_channel_view_extension_kids.focus .itemGroup .full_screen_show { /*visibility: inherit;*/ opacity: 1; }

.genre_channel_view_extension_kids .itemGroup .full_screen_hide { /*visibility: inherit;*/ opacity: 1; }
.genre_channel_view_extension_kids.focus .itemGroup .full_screen_hide { /*visibility: hidden;*/ opacity: 0; }


