.kidsHome .full_epg_view_kids .pageIndicator {
    position: absolute;
    left: 81px;
    top: 428px;
}

.kidsHome .full_epg_view_kids.blurred .pageIndicator {
    visibility: hidden;
}


.kidsHome .full_epg_time_area { visibility: hidden; }
.kidsHome .full_epg_view_kids.focus .full_epg_time_area { visibility: inherit; }

.kidsHome .full_epg_container { left: 636px; top: 122px;}
.kidsHome .full_epg_view_kids.focus .full_epg_container { left: 174px; top: 262px; top:402px; }

.kidsHome .full_epg_item { height: 130px; }
.kidsHome .full_epg_view_kids.focus .full_epg_item { height: 94px; }

/*.full_epg_view_kids .full_epg_item.focus { -webkit-transition: height 0.5s }*/
/*.kidsHome .full_epg_view_kids.focus .full_epg_item.focus { height: 236px; }*/

.kidsHome .full_epg_view_kids.focus .full_epg_item.full_epg_item_preview { visibility: hidden; }

.kidsHome .full_epg_channel_area { width: 280px; height: 127px; background-color: rgba(30, 72, 119, 0.6); }
.kidsHome .full_epg_view_kids.focus .full_epg_channel_area { width: 416px; height: 92px;  background-color: rgba(32, 62, 96, 0.5); }
.kidsHome .full_epg_view_kids.focus .full_epg_item.focus .full_epg_channel_area { background-color: rgb(27, 55, 82); }

.kidsHome .full_epg_preview_area { margin-left: 283px; opacity: 1; }
.kidsHome .full_epg_view_kids.focus .full_epg_preview_area { opacity: 0; }

.kidsHome .full_epg_programme_area { margin-left: 843px; opacity: 0; }
.kidsHome .full_epg_view_kids.focus .full_epg_programme_area { margin-left: 418px; opacity: 1; }

.kidsHome .full_epg_channel_icon { margin-left: 20px; margin-top: 32px; }
.kidsHome .full_epg_view_kids.focus .full_epg_channel_icon { margin-left: 27px; margin-top: 35px; }

.kidsHome .full_epg_channel_sky_icon { opacity: 0; }
.kidsHome .full_epg_view_kids.focus .full_epg_channel_sky_icon { opacity: 1; }

.kidsHome .full_epg_channel_num { margin-left: 51px; margin-top: 31px; font-size: 29px; letter-spacing: -1.45px; color: white; opacity: 0.7;}
.kidsHome .full_epg_view_kids.focus .full_epg_channel_num { margin-left: 61px; margin-top: 32px; font-size: 32px; letter-spacing: -1.6px; }

.kidsHome .full_epg_channel_name { margin-left: 51px; margin-top: 69px; width: 200px; font-size: 27px; letter-spacing: -1.35px; color: white; opacity: 0.5;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.kidsHome .full_epg_view_kids.focus .full_epg_channel_name { margin-left: 137px; margin-top: 32px; width: 260px; font-size: 30px; letter-spacing: -1.5px; white-space: pre; overflow: ""; text-overflow: "";  }

.kidsHome .full_epg_channel_name.line_2 { margin-top: 41px; white-space: pre; }
.kidsHome .full_epg_view_kids.focus .full_epg_channel_name.line_2 {  margin-top: 25px; }

.full_epg_view_kids.focus .full_epg_item.focus .full_epg_channel_area span { opacity: 1.0;}

.kidsHome .full_epg_focus_programme { height: 0px; opacity: 0; }
.kidsHome .full_epg_view_kids.focus .full_epg_focus_programme { height: 142px; opacity: 1; }

.kidsHome .full_epg_programme span { font-size: 30px; color: rgba(255, 255, 255, 0.7); }

.kidsHome .full_epg_view_kids.focus .full_epg_item.focus .full_epg_programme { background-color: rgba(32, 62, 96, 0.85); }
.kidsHome .full_epg_view_kids.focus .focus .full_epg_item.focus .full_epg_programme.focus { background-color: rgba(27, 55, 82, 1); }

/*새로 추가*/
.kidsHome .full_epg_view_kids .full_epg_item .full_epg_programme .full_epg_programme_bg { background-color: rgba(38, 79, 117,0.85); visibility: inherit; }
.kidsHome .full_epg_view_kids .full_epg_item .full_epg_programme .full_epg_focus_programme_bg { visibility: hidden; }
.kidsHome .full_epg_view_kids.focus .full_epg_item.focus .full_epg_programme .full_epg_programme_bg { background-color: rgba(38, 79, 117,0.85)}
.kidsHome .full_epg_view_kids.focus .focus .full_epg_item.focus .full_epg_programme.focus .full_epg_programme_bg { visibility: hidden; }
.kidsHome .full_epg_view_kids.focus .focus .full_epg_item.focus .full_epg_programme.focus .full_epg_focus_programme_bg { visibility: inherit; }


.kidsHome .full_epg_view_kids.focus .full_epg_item.focus .full_epg_programme span { color: rgba(255, 255, 255, 1); }
/*.kidsHome .full_epg_view_kids.focus .focus .full_epg_item.focus .full_epg_programme.focus span { font-family: "RixHead M"; font-size: 32px; color: rgba(0, 0, 0, 1); }*/

.kidsHome .full_epg_sub_area { visibility: hidden; }
.kidsHome .full_epg_view_kids.focus .full_epg_sub_area { visibility: inherit; }

/* Scroll */
.kidsHome .full_epg_view_kids .full_epg_focus_area { opacity: 0; }
.kidsHome .full_epg_view_kids.focus .focus .full_epg_focus_area { opacity: 1; /*-webkit-transition: opacity 0.5s; -webkit-transition-delay: 0.3s;*/ }
.kidsHome .full_epg_focus_area div { background-color: rgba(128, 128, 128, 1); }
.kidsHome .full_epg_view_kids.focus .focus .full_epg_focus_area div { background-color: rgba(255, 255, 255, 1); }

.kidsHome .full_epg_default_btn { background-color: rgba(255, 255, 255, 0.15); color: rgba(255, 255, 255, 0.7); }
.kidsHome .full_epg_view_kids.focus .full_epg_default_btn { background-color: rgba(255, 255, 255, 1); color: rgba(0, 0, 0, 1); font-family: "RixHead M"; }


.kidsHome .full_epg_view_kids .full_epg_focus_programme_info_area { opacity: 0; }
.kidsHome .full_epg_view_kids.focus .full_epg_focus_programme_info_area { opacity: 1; }

.kidsHome .full_epg_pip_channel_info_area { visibility: hidden; }
.kidsHome .full_epg_view_kids.focus .full_epg_pip_channel_info_area { visibility: inherit; }