.kidsHome .full_epg_dcs_view_kids .pageIndicator {
    position: absolute;
    left: 81px;
    top: 326px;
}

.kidsHome .full_epg_dcs_view_kids.blurred .pageIndicator {
    visibility: hidden;
}


.kidsHome .full_epg_dcs_time_area { visibility: hidden; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_time_area { visibility: inherit; }

.kidsHome .full_epg_dcs_container { left: 540px; top: 148px; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_container { left: 174px; top: 320px; }

.kidsHome .full_epg_dcs_item { height: 130px; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_item { height: 108px; }

.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_item.full_epg_dcs_item_preview { visibility: hidden; }

.kidsHome .full_epg_dcs_view_kids.blurred .full_epg_dcs_channel_area { width: 280px; height: 127px; background-color: rgba(30, 72, 119, 0.6); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_channel_area { width: 432px; height: 106px;  background-color: rgba(30, 70, 107, 0.6); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_item.focus .full_epg_dcs_channel_area { width: 432px; height: 106px;  background-color: rgba(30, 70, 107, 0.8); }

.kidsHome .full_epg_dcs_preview_area { margin-left: 283px; opacity: 1; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_preview_area { opacity: 0; }

.kidsHome .full_epg_dcs_programme_area { margin-left: 843px; opacity: 0; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_programme_area { margin-left: 434px; opacity: 1; }

.kidsHome .full_epg_dcs_channel_icon { margin-left: 20px; margin-top: 32px; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_channel_icon { margin-left: 27px; margin-top: 42px; }

.kidsHome .full_epg_dcs_channel_sky_icon { opacity: 0; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_channel_sky_icon { opacity: 1; }

.kidsHome .full_epg_dcs_channel_num { margin-left: 51px; margin-top: 31px; font-size: 29px; letter-spacing: -1.45px; color: rgba(255, 255, 255, 0.7); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_channel_num { margin-left: 61px; margin-top: 39px; font-size: 32px; letter-spacing: -1.6px; }

.kidsHome .full_epg_dcs_channel_name { margin-left: 51px; margin-top: 69px; width: 200px; font-size: 27px; letter-spacing: -1.35px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;  color: rgba(255, 255, 255, 0.7); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_channel_name { margin-left: 137px; margin-top: 37px; width: 260px; font-size: 30px; letter-spacing: -1.5px; white-space: pre; overflow: ""; text-overflow: "";  }

.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_item.focus .full_epg_dcs_channel_area span { color: rgba(255, 255, 255, 1); }

.kidsHome .full_epg_dcs_focus_programme { height: 0px; opacity: 0; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_focus_programme { height: 142px; opacity: 1; }

.kidsHome .full_epg_dcs_programme span { font-size: 30px; color: rgba(255, 255, 255, 0.7); z-index: 1}

.kidsHome .full_epg_dcs_view_kids .full_epg_dcs_item .full_epg_dcs_programme { background-color: rgba(38, 79, 117, 0.95); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_item.focus .full_epg_dcs_programme { background-color: rgb(28, 58, 90); }
.kidsHome .full_epg_dcs_view_kids.focus .focus .full_epg_dcs_item.focus .full_epg_dcs_programme.focus { background-color: rgba(255, 255, 255, 1); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_item.focus .full_epg_dcs_programme span { color: rgba(255, 255, 255, 1); }
.kidsHome .full_epg_dcs_view_kids.focus .focus .full_epg_dcs_item.focus .full_epg_dcs_programme.focus span { font-family: "RixHead M"; font-size: 32px; color: rgba(0, 0, 0, 1); }

.kidsHome .full_epg_dcs_sub_area { visibility: hidden; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_sub_area { visibility: inherit; }

/* Scroll */
.kidsHome .full_epg_dcs_view_kids .full_epg_dcs_focus_area { opacity: 0; }
.kidsHome .full_epg_dcs_view_kids.focus .focus .full_epg_dcs_focus_area { opacity: 1; /*-webkit-transition: opacity 0.5s; -webkit-transition-delay: 0.3s;*/ }
.kidsHome .full_epg_dcs_focus_area div { background-color: rgba(128, 128, 128, 1); }
.kidsHome .full_epg_dcs_view_kids.focus .focus .full_epg_dcs_focus_area div { background-color: rgba(255, 255, 255, 1); }

.kidsHome .full_epg_dcs_default_btn { background-color: rgba(255, 255, 255, 0.15); color: rgba(255, 255, 255, 0.7); }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_default_btn { background-color: rgba(255, 255, 255, 1); color: rgba(0, 0, 0, 1); font-family: "RixHead M"; }

.kidsHome .full_epg_dcs_view_kids .full_epg_dcs_focus_programme_info_area { opacity: 0; }
.kidsHome .full_epg_dcs_view_kids.focus .full_epg_dcs_focus_programme_info_area { opacity: 1; }

