div.myhome.add_to_playlist_popup {
    display: table;
}

div.myhome.add_to_playlist_popup .popup_contents {
    text-align: center;
    margin-top: 120px;
}

div.myhome.add_to_playlist_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

div.myhome.add_to_playlist_popup .popup_contents .content_name {
    display:block;
    color: white;
    font-size: 48px;
    margin-top: 23px;
    margin-bottom: 23px;
    font-family: "RixHead M";
}

/**********************
     Contents Area
**********************/
div.myhome.add_to_playlist_popup .popup_contents .content_area {
    width: 1204px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .sep_line {
    height: 2px;
    margin-bottom: 3px;
    background: white;
    opacity: .1;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .sep_line.focus {
    margin-top: 0;
    margin-bottom: 0;
    height: 5px;
    opacity: 1;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .sep_line:nth-child(1) {
    margin-top: 0;
    margin-bottom: 0;
    height: 5px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .sep_line:nth-last-child(1) {
    margin-top: 0;
    margin-bottom: 0;
    height: 5px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area div[class$="Area"]{
    opacity: .7;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area div[class$="Area"].focus{
    opacity: 1;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .title_area {
    height: 63px;
    color: rgba(255,255,255,.5);
    line-height: 63px;
    text-align: left;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .title_area .index_number {
    display: inline-block;
    font-size: 45px;
    width: 59px;
    vertical-align: middle;
    font-family: "RixHead B";
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .focus .title_area .index_number {
    color: rgba(255,96,108,.5);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .title_area .text {
    display: inline-block;
    font-size: 27px;
    vertical-align: middle;
    font-family: "RixHead M";
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .focus .title_area .text {
    color: white;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .productArea .option_area {
    white-space: nowrap;
    margin-bottom: 18px;
    margin-top: 3px;
    text-align: left;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .productArea .option {
    position: relative;
    display: inline-block;
    width: 388px;
    height: 68px;
    background: #373737;
    margin-right: 12px;
    font-family: "RixHead M";
    font-size: 34px;
    line-height: 68px;
    color: rgba(255,255,255,.7);
    border: 2px solid rgb(66,66,66);
    vertical-align: top;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area div.option.focus {
    background: #252525;
    color: rgb(255, 255, 255);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area div.option.btn::before {
    content: none;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .option::before {
    content: url(../../resource/image/rdo_btn_d.png);
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 28px;
    margin-right: 18px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .option.select::before {
    content: url(../../resource/image/rdo_btn_select_d.png);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .option.focus::before {
    content: url(../../resource/image/rdo_btn_f.png);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .option.focus.select::before {
    content: url(../../resource/image/rdo_btn_select_f.png);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option_area {
    white-space: nowrap;
    margin-bottom: 18px;
    margin-top: 3px;
    text-align: left;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option {
    position: relative;
    display: inline-block;
    width: 288px;
    height: 68px;
    background: #373737;
    margin-right: 12px;
    border: 2px solid rgb(66,66,66);
    font-family: "RixHead M";
    font-size: 34px;
    line-height: 68px;
    color: rgba(255,255,255,.7);
    vertical-align: top;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option:nth-child(4) {
    margin-right: 0;
}


div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option.long {
    font-size: 32px;
    letter-spacing: -0.08em;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option.long::before {
    content: url(../../resource/image/rdo_btn_d.png);
    display: inline-block;
    vertical-align: top;
    margin-top: 13px;
    margin-left: 18px;
    margin-right: 10px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option.long.select::before {
    content: url(../../resource/image/rdo_btn_select_d.png);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option.long.focus::before {
    content: url(../../resource/image/rdo_btn_f.png);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea .option.long.focus.select::before {
    content: url(../../resource/image/rdo_btn_select_f.png);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea.focus .option_area.has_left::before {
    position:absolute;
    display: inline-block;
    content: url(../../resource/image/arw_view_l.png);
    margin-top: 7px;
    margin-left: -51px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .resolutionArea.focus .option_area.has_right::after {
    position:absolute;
    display: inline-block;
    content: url(../../resource/image/arw_view_r.png);
    margin-top: 7px;
    margin-left: 19px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option_area {
    white-space: nowrap;
    margin-bottom: 16px;
    margin-top: 3px;
    text-align: left;
    text-align: left;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option {
    position: relative;
    display: inline-block;
    width: 388px;
    height: 109px;
    background: #373737;
    margin-right: 12px;
    border: 2px solid rgb(66,66,66);
    text-align: center;
    vertical-align: top;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option:nth-child(3) {
    margin-right:0;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option .title {
    margin-top: 26px;
    font-size: 34px;
    line-height: 30px;
    color: rgba(255,255,255,.7);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option.focus .title {
    margin-top: 26px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option.focus .title {
    color: rgb(255, 255, 255);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option .amount {
    font-size: 27px;
    line-height: 26px;
    color: rgba(255,255,255,.3);
    margin-top: 13px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .option.focus .amount {
    color: rgba(255, 255, 255, .7);
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea .index_area {
    font-size: 24px;
    color: rgba(255,255,255,.5);
    height: 24px;
    margin-bottom: 17px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea.focus .option_area.has_left::before {
    position:absolute;
    display: inline-block;
    content: url(../../resource/image/arw_view_l.png);
    margin-top: 29px;
    margin-left: -51px;
}

div.myhome.add_to_playlist_popup .popup_contents .content_area .listArea.focus .option_area.has_right::after {
    position:absolute;
    display: inline-block;
    content: url(../../resource/image/arw_view_r.png);
    margin-top: 29px;
    margin-left: 19px;
}


div.myhome.add_to_playlist_popup .popup_contents .content_area .focus_line {
    position: absolute;
    border-top: solid 5px #D2332F;      /* Line Focus */
    border-bottom: solid 5px #D2332F;   /* Line Focus */
    width:  inherit;
}

div.myhome.add_to_playlist_popup .popup_contents .kidsMode_noti_text {
    width: 1920px;
    text-align: center;
    font-size: 27px;
    color: white;
    opacity: 0.3;
    margin-top: -8px;
    margin-bottom: 17px;
    font-family: "RixHead L";
}

/**********************
      Button Area
**********************/
div.myhome.add_to_playlist_popup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.add_to_playlist_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.add_to_playlist_popup .popup_contents .btn_area btn.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    line-height: 52px;
    height: 52px;
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
}

/* 전역으로 설정되어 있는 focus_red box 의 크기를 [플레이 리스트 추가 팝업]에 맞게 설정 */
#AddToMyPlayListPopup .focus_red {
    top: -2px;
    left: -2px;
}

#AddToMyPlayListPopup .productArea .focus_red {
    width: 392px;
    height: 72px;
}

#AddToMyPlayListPopup .resolutionArea .focus_red {
    width: 292px;
    height: 72px;
}

#AddToMyPlayListPopup .listArea .focus_red {
    width: 392px;
    height: 113px;
}

