div.myhome.adult_auth_popup {
    display: table;
}

div.myhome.adult_auth_popup .popup_contents {
    text-align: center;
    margin-top: 345px;
}

div.myhome.adult_auth_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

div.myhome.adult_auth_popup .popup_contents .text1 {
    display:block;
    color: white;
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: "RixHead M";
    line-height: 1.2;
}

/**********************
     Contents Area
**********************/
div.myhome.adult_auth_popup .popup_contents .input_box {
    margin: 0 auto 59px auto;
    width: 420px;
    height: 70px;
    color: white;
    font-size: 50px;
    line-height: 102px;
    text-align: center;
    font-family: "RixHead M";
    background: url(../../resource/image/pop_pw_box_w420.png);
    opacity: .3;
}

div.myhome.adult_auth_popup .popup_contents .input_box.focus {
    background: url(../../resource/image/pop_pw_box_w420_f.png);
    opacity: 1;
}

div.myhome.adult_auth_popup .popup_contents .input_box .back {
    position: absolute;
    color: rgba(255,255,255,.2);
    font-size: 42px;
    font-family: "RixHead M";
    width: 420px;
    height: 70px;
    line-height: 70px;
    margin-top: 9px;
    letter-spacing: 5px;
}

div.myhome.adult_auth_popup .popup_contents .input_box .front {
    position: absolute;
    color: white;
    font-size: 42px;
    font-family: "RixHead M";
    margin-left: 154px;
    margin-top: -8px;
    letter-spacing: 5px;
}


/**********************
      Button Area
**********************/
div.myhome.adult_auth_popup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.adult_auth_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.adult_auth_popup .popup_contents .btn_area btn.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
    height: 52px;
    line-height: 52px;
}