div.myhome.gniPopup.cancelProduct .popup_title {
    top: 279px;
}

div.myhome.gniPopup.cancelProduct .text_white_center_45M {
    top: 350px;
}

div.myhome.gniPopup.cancelProduct .greyInfoText {
    color: rgb(255, 255, 255);
    font-family: "RixHead L";
    font-size: 26px;
    line-height: 26px;
    text-align: right;
    opacity: .3;
}

div.myhome.gniPopup.cancelProduct .greyInfoText.price {
    top: 416px;
    left: 859px;
}

div.myhome.gniPopup.cancelProduct .greyInfoText.date {
    top: 453px;
    left: 838px;
}

div.myhome.gniPopup.cancelProduct .whiteInfoText {
    color: rgb(255, 255, 255);
    font-family: "RixHead L";
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    opacity: .7;
}

div.myhome.gniPopup.cancelProduct .whiteInfoText.price {
    top: 415px;
    left: 929px;
}

div.myhome.gniPopup.cancelProduct .whiteInfoText.date {
    top: 453px;
    left: 952px;
}

div.myhome.gniPopup.cancelProduct .inputBox {
    width: 584px;
    height: 82px;
    left: 668px;
    top: 505px;
    background-image: url(../../resource/image/pop_input_dim.png);
}

div.myhome.gniPopup.cancelProduct .inputBox.focus {
    background-image: url(../../resource/image/pop_input_foc.png);
}

div.myhome.gniPopup.cancelProduct .inputBox .inputText.focus {
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: "RixHead L";
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    top: 30px;
    left: 0;
    width: 100%;
    opacity: .3;
}

div.myhome.gniPopup.cancelProduct .inputBox .inputText {
    opacity: 0;
}

div.myhome.gniPopup.cancelProduct .inputBox .password {
    position: absolute;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 42px;
    text-align: left;
    left: 240px;
    top: 28px;
    opacity: 0;
    color: rgb(255, 255, 255);

}

div.myhome.gniPopup.cancelProduct .inputBox .password.focus {
    opacity: .2;
}

div.myhome.gniPopup.cancelProduct .inputBox .password.focus.fill {
    opacity: 1;
    color: white;
}

div.myhome.gniPopup.cancelProduct .description {
    font-family: "RixHead L";
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    width: 100%;
    left: 0;
    top: 614px;
    color: rgb(255, 255, 255);
    opacity: .5;
}

div.myhome.gniPopup.cancelProduct .twoBtnArea_280 {
    top: 738px;
}
