div.myhome.gniPopup.cancelProductComplete {
    position: absolute;
}

div.myhome.gniPopup.cancelProductComplete .popup_title {
    position: absolute;
    top: 363px;
}

div.myhome.gniPopup.cancelProductComplete .text_white_center_45M {
    position: absolute;
    top: 445px;
}

div.myhome.gniPopup.cancelProductComplete .text_white_center_30M {
    position: absolute;
    top: 511px;
    opacity: .5;
}

div.myhome.gniPopup.cancelProductComplete .whiteBox {
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
    position: absolute;
    left: 820px;
    top: 602px;
    width: 280px;
    height: 52px;
    background-color: #D2332F;
}

div.myhome.gniPopup.cancelProductComplete .whiteBox .btnText{
    position: absolute;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 17px;
    color: rgb(255, 255, 255);
}