div.myhome.gniPopup.editModeDelete .popup_title {
    top: 390px;
}

div.myhome.gniPopup.editModeDelete .text_white_center_45M {
    top: 466px;
}

div.myhome.gniPopup.editModeDelete .text_white_center_30L {
    top: 534px;
}

div.myhome.gniPopup.editModeDelete .text_white_center_30M {
    top: 491px;
}



div.myhome.gniPopup.editModeDelete.isDvd .text_white_center_30L {
    line-height: 36px;
}

div.myhome.gniPopup.editModeDelete .text_center_28L {
    display: none;
}

div.myhome.gniPopup.editModeDelete.isDvd .text_center_28L {
    display: inherit;
    top: 615px;
    color: rgba(255, 255, 255, .5);
    font-size: 28px;
    line-height: 28px;
    width: 100%;
    font-family: "RixHead L";
}

div.myhome.gniPopup.editModeDelete .twoBtnArea_280 {
    top: 622px;
}

div.myhome.gniPopup.editModeDelete.isDvd .twoBtnArea_280 {
    top: 664px;
}

div.myhome.gniPopup.editModeDelete .popup_title.multi_line {
    top: 403px;
}

div.myhome.gniPopup.editModeDelete .text_white_center_30M.multi_line {
    top: 482px;
    font-size: 30px;
    line-height: 35px;
    font-family: "RixHead L";
}

div.myhome.gniPopup.editModeDelete .twoBtnArea_280.multi_line {
    top: 613px;
}