div.myhome.myhome_error {
    background-color: rgba(0, 0, 0, 0.9);
}

div.myhome.myhome_error .errorSAID {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 22px;
    line-height: 22px;
    width: 100%;
    top: 977px;
    opacity: .3;
}

div.myhome.myhome_error .errorPopup {
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 1920px;
    height: 1080px;
}

div.myhome.myhome_error .errorTitle {
    display: inline-block;
    color: rgb(221, 175, 120);
    text-align: center;
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    width: 100%;
    margin-bottom: 41px;
}

div.myhome.myhome_error .errorText {
    display: inline-block;
    color: white;
    text-align: center;
    font-family: "RixHead M";
    font-size: 42px;
    line-height: 50px;
    margin: 0 480px;
    width: 960px;
}

div.myhome.myhome_error .button_area {
    margin-top: 50px;
    display: inline-block;
    height: 62px;
    -webkit-transform: translateZ(0);
}

div.myhome.myhome_error .button {
    margin: 0 7px;
    float: left;
    width: 276px;
    height: 58px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
}

div.myhome.myhome_error .button.focus {
    background-color: #D2332F;
    border-top: solid 5px #D2332F;
    border-bottom: solid 5px #D2332F;
    border-left: none;
    border-right: none;
    height: 52px;
    width: 280px;
}

div.myhome.myhome_error .button .buttonText {
    position: absolute;
    top: 16px;
    width: 280px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: "RixHead L";
}

div.myhome.myhome_error .button.focus .buttonText {
    width: 280px;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}