div.myhome.favor_menu_edit_popup {}

div.myhome.favor_menu_edit_popup .popup_contents {
    margin-top: 0;
}

div.myhome.favor_menu_edit_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
    position: absolute;
    top: 83px;
}


div.myhome.favor_menu_edit_popup .bottom_text_area {
    position: absolute;
    color: rgba(255,255,255,.3);
    text-align: center;
    width: inherit;
    top: 909px;
    font-size: 27px;
    line-height: 37px;
}

/**********************
     Contents Area
**********************/

/** Left Depth Area **/
div.myhome.favor_menu_edit_popup .left_depth_area {
    position: absolute;
    left: 324px;
    top: 212px;
}

div.myhome.favor_menu_edit_popup .left_depth_area .item {
    position: relative;
    width: 355px;
    height: 76px;
    background: -webkit-linear-gradient(rgb(87,86,85), rgb(65,64,63));
    margin-bottom: 6px;
    font-size: 32px;
    line-height: 76px;
    text-align:left;
    color: rgba(255,255,255,.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 50px;
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.focus {
    background: #252525;
    color: rgb(255, 255, 255);
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.focus .focus_red {
    width: 405px;
}

/*div.myhome.favor_menu_edit_popup .left_depth_area .focus_red {*/
    /*width: 405px;*/
    /*display: block;*/
    /*width: 405px;*/
    /*height: 75px;*/
    /*top: 0px;*/
    /*z-index: 1;*/
/*}*/

div.myhome.favor_menu_edit_popup .left_depth_area .item.focus::after {
    content: url(../../resource/image/arw_more_f.png);
    display: inline-block;
    position: absolute;
    right: 21px;
    margin-top: 6px;
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.focus.leaf::after {
    content: none;
}

div.myhome.favor_menu_edit_popup .left_depth_area .item::before {
    content: url(../../resource/image/pop_cb_dim_uncheck.png);
    display: inline-block;
    width: 48px;
    height: 40px;
    vertical-align: top;
    margin: 11px 24px 18px 18px;
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.focus::before {
    content: url(../../resource/image/pop_cb_foc_uncheck.png);
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.select::before {
    content: url(../../resource/image/pop_cb_dim_check.png);
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.select.focus::before {
    content: url(../../resource/image/pop_cb_foc_check.png);
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.noItem {
    color: transparent;
    opacity: .5;
}

div.myhome.favor_menu_edit_popup .left_depth_area .item.noItem::before {
    content: none;
}

/** Right Depth Area **/
div.myhome.favor_menu_edit_popup .right_depth_area {
    position: absolute;
    left: 740px;
    top: 212px;
    background: #2F2F2F;
    width: 370px;
    height: 642px;
    border: rgba(77,77,77,.3) 2px solid;
    padding: 2px 18px 3px 17px;
    text-align: left;
}

div.myhome.favor_menu_edit_popup .right_depth_area .item {
    color: rgba(255,255,255,.3);
    width: 370px;
    height: 79px;
    font-size: 28px;
    line-height: 79px;
    border-bottom: rgba(77,77,77,.3) solid 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.myhome.favor_menu_edit_popup .right_depth_area .item:nth-child(8) {
    border-bottom:none;
}

div.myhome.favor_menu_edit_popup .right_depth_area .item::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 40px;
    margin: 18px 0 18px 20px;
}

div.myhome.favor_menu_edit_popup .right_depth_area .item.select::before {
    content: url(../../resource/image/check_simple.png);
    vertical-align: top;
    margin-top: 5px;
}

div.myhome.favor_menu_edit_popup .right_depth_area .noItem {
    color: rgba(255,255,255,.5);
    font-size: 27px;
    text-align: center;
    margin-top: 231px;
    line-height: 41px
}

div.myhome.favor_menu_edit_popup .right_depth_area .noItem .icon {
    display: inline-block;
    width: 27px;
    height: 22px;
    background: url(../../resource/image/icon_option_related.png);
    background-size: 27px 22px;
    vertical-align: top;
    margin-top: 9px;
}

/** Cur Menu Area **/
div.myhome.favor_menu_edit_popup .cur_menu_area {
    position: absolute;
    width: 341px;
    height: 646px;
    left: 1251px;
    top: 212px;
    background: #232323;
    border: 2px solid rgba(77,77,77,.3);
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item {
    width: 341px;
    height: 106px;
    border-bottom: 2px solid rgba(77,77,77,.3);
    overflow: hidden;
    text-align: left;
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item .title {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 32px;
    line-height: 36px;
    color: rgba(255,255,255,.8);
    font-family: "RixHead L";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item .subtitle {
    margin-top: 7px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 23px;
    line-height: 27px;
    color: rgba(255,255,255,.3);
    font-family: "RixHead M";
    white-space: nowrap;  text-overflow: ellipsis;  overflow: hidden;
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item .noItemIcon {
    background: url(../../resource/image/pop_fav_plus_d.png);
    width: 37px;
    height: 37px;
    margin-top: 35px;
    margin-left: 30px;
    display: none;
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item.noItem .title {
    display:none;
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item.noItem .subtitle {
    display:none;
}

div.myhome.favor_menu_edit_popup .cur_menu_area .item.noItem .noItemIcon {
    display:block;
}

div.myhome.favor_menu_edit_popup .cur_menu_text_area {
    position: absolute;
    left: 1248px;
    top: 161px;
    font-size: 27px;
    font-family: "RixHead M";
    color: rgba(255,255,255,.5);
    line-height: 30px;

}

div.myhome.favor_menu_edit_popup .cur_menu_text_area .text1 {
    display: inline-block;
    width: 292px;
    text-align:left;
}

div.myhome.favor_menu_edit_popup .cur_menu_text_area .number_area {
    font-size: 30px;
    display: inline-block;
    letter-spacing: 3px;
    color: rgba(255,255,255,.3);
}

div.myhome.favor_menu_edit_popup .cur_menu_text_area .number_area white {
    color: rgba(255,255,255,.89);
}

div.myhome.favor_menu_edit_popup .context_menu_indicator {
    right: 326px;
    bottom: 165px;
}

/* arrow */

div.myhome.favor_menu_edit_popup .left_arrow {
    position:absolute;
    left: 264px;
    top: 519px;
    width: 20px;
    height: 36px;
    background: url(../../resource/image/arw_pop_menu_l.png);
}

div.myhome.favor_menu_edit_popup .top_arrow {
    position:absolute;
    left: 509px;
    top: 162px;
    width: 36px;
    height: 20px;
    background: url(../../resource/image/arw_pop_menu_up.png);
}

div.myhome.favor_menu_edit_popup .bottom_arrow {
    position:absolute;
    left: 509px;
    top: 892px;
    width: 36px;
    height: 20px;
    background: url(../../resource/image/arw_pop_menu_dw.png);
}