div.myhome.favor_menu_complete_popup {}

div.myhome.favor_menu_complete_popup .popup_contents {
}

div.myhome.favor_menu_complete_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
    margin-top: 256px;
}


div.myhome.favor_menu_complete_popup .bottom_text_area {
    color: rgba(255,255,255,.3);
    text-align: center;
    width: inherit;
    top: 909px;
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 60px;
}

div.myhome.favor_menu_complete_popup .bottom_text_area .icon {
    display: inline-block;
    width: 27px;
    height: 22px;
    background: url(../../resource/image/icon_option_related.png);
    background-size: 27px 22px;
    vertical-align: top;
    margin: 8px 8px 0 8px;
}

/**********************
     Contents Area
**********************/

div.myhome.favor_menu_complete_popup .content_area {
    margin-top: 45px;
    margin-bottom: 45px;
    height: 252px;
    width: 1295px;
    display: inline-block;
}

div.myhome.favor_menu_complete_popup .content_area .absoluteWrapper {
    position: absolute;
}

div.myhome.favor_menu_complete_popup .content_area .item {
    position: absolute;
    width: 415px;
    height: 116px;
    border: 2px solid rgb(97,96,94);
    background: -webkit-linear-gradient(rgb(87,86,85), rgb(75,74,73));
    transition: -webkit-transform .5s;
}

div.myhome.favor_menu_complete_popup .content_area .item.position_0 {
    -webkit-transform: translate(0,0);
}
div.myhome.favor_menu_complete_popup .content_area .item.position_1 {
    -webkit-transform: translate(431px, 0);
}
div.myhome.favor_menu_complete_popup .content_area .item.position_2 {
    -webkit-transform: translate(864px,0);
}
div.myhome.favor_menu_complete_popup .content_area .item.position_3 {
    -webkit-transform: translate(0,132px);
}
div.myhome.favor_menu_complete_popup .content_area .item.position_4 {
    -webkit-transform: translate(431px,132px);
}
div.myhome.favor_menu_complete_popup .content_area .item.position_5 {
    -webkit-transform: translate(864px,132px);
}

div.myhome.favor_menu_complete_popup .content_area .item.noItem {
    background: #1E1E1E;
    border-color: #2A2A2A;
}

div.myhome.favor_menu_complete_popup .content_area .item .title {
    text-align: left;
    margin-top: 24px;
    margin-left: 88px;
    font-size: 34px;
    line-height: 38px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 320px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus .title {
    /*margin-top: 21px;*/
    /*margin-left: 90px;*/
}

div.myhome.favor_menu_complete_popup .content_area .item .subTitle {
    font-size: 23px;
    text-align: left;
    margin-left: 90px;
    margin-top: 7px;
    line-height: 27px;
    color: rgba(255,255,255,.4);
    font-family: "RixHead M";
}

div.myhome.favor_menu_complete_popup .content_area .item.focus .subTitle {
    /*margin-left: 92px;*/
}

div.myhome.favor_menu_complete_popup .content_area .item .checkBox {
    position: absolute;
    background: url(../../resource/image/pop_cb_dim_check.png);
    width: 48px;
    height: 40px;
    left: 22px;
    top: 24px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus .checkBox {
    /*left: 24px;*/
    /*top: 21px;*/
}

div.myhome.favor_menu_complete_popup .content_area .item.unChecked .checkBox {
    background: url(../../resource/image/pop_cb_dim_uncheck.png);
}

div.myhome.favor_menu_complete_popup .content_area .item.noCheck .title {
    margin-left: 39px;
}

div.myhome.favor_menu_complete_popup .content_area .item.noCheck .subTitle {
    margin-left: 40px;
}

div.myhome.favor_menu_complete_popup .content_area .item.noItem .title {
    text-align: center;
    margin: 0;
    line-height: 116px;
    opacity: .5;
    width: 415px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus {
    background: #252525;
    border: none;
    z-index: 10;
    width: 419px;
    height: 120px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus .focus_red {
    width: 419px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus .title {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}
div.myhome.favor_menu_complete_popup .content_area .item.focus .subTitle {
    color: rgba(255, 255, 255, 0.4);
}

div.myhome.favor_menu_complete_popup .content_area .item.focus.pick::before {
    content: url(../../resource/image/vod_end_ar_l.png);
    position: absolute;
    left: -22px;
    top: 50px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus.pick.noLeft::before {
    content: none;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus.pick::after {
    content: url(../../resource/image/vod_end_ar_r.png);
    position: absolute;
    left: 424px;
    top: 50px;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus.pick.noRight::after {
    content: none;
}

div.myhome.favor_menu_complete_popup .content_area .item.focus .checkBox {
    background: url(../../resource/image/pop_cb_foc_check.png);
}

div.myhome.favor_menu_complete_popup .content_area .item.focus.unChecked .checkBox {
    background: url(../../resource/image/pop_cb_foc_uncheck.png);
}

/**********************
      Button Area
**********************/
div.myhome.favor_menu_complete_popup .popup_contents .button_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.favor_menu_complete_popup .popup_contents .button_area btn {
    display: inline-block;
    width: 276px;
    height: 58px;
    margin: 0 7px;
    background-color: rgba(1, 1, 1, .5);
    border: solid 2px rgba(190, 190, 190, .5);
    font-size: 30px;
    line-height: 58px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.favor_menu_complete_popup .popup_contents .button_area btn.focus {
    border: 0px;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    line-height: 52px;
    height: 52px;
    width: 280px;
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}
