div.myhome.monthlypayPopup {
    display: table;
}
div.myhome.monthlypayPopup .popup_contents {
    margin-top: 326px;
}

div.myhome.monthlypayPopup .itemList {
    margin-top:45px;
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList {
    margin-top:40px;
    margin-bottom: 45px;
}

div.myhome.monthlypayPopup .itemList.leftArw::before {
    content: url(../../resource/image/arw_view_l.png);
    display: inline-block;
    margin-left: -64px;
    vertical-align: top;
    margin-top: 87px;
    position: absolute;
}
div.myhome.monthlypayPopup .itemList.rightArw::after {
    content: url(../../resource/image/arw_view_r.png);
    display: inline-block;
    margin-left: 32px;
    vertical-align: top;
    margin-top: 87px;
    position: absolute;
}

div.myhome.monthlypayPopup .itemList .item {
    position: relative;
    display: inline-block;
    width: 255px;
    height: 228px;
    margin-left: 6px;
    margin-right: 6px;
    background: #2F2F2F;
    border: 2px solid rgb(64, 64, 64);
}
div.myhome.monthlypayPopup .itemList .item .contents_Area {
    position: absolute;
    width: 255px;
    height: 228px;
}

div.myhome.monthlypayPopup .itemList .item .focus_red {
    top:-2px;
    left:-2px;
    width:259px;
    height:232px;
    background: #252525;
}

div.myhome.monthlypayPopup .itemList .item .title_wrapper {
    display: table;
    height: 82px;
    margin-top: 43px;
    width: 221px;
    text-align: center;
    margin-left: 17px;
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item .title_wrapper {
    display: table;
    height: 82px;
    margin-top: 23px;
    margin-bottom: 45px;
    width: 221px;
    text-align: center;
    margin-left: 0px;
}

div.myhome.monthlypayPopup .itemList .item.focus .title_wrapper {
    margin-left: 10px;
    width: 235px;
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item.focus .title_wrapper {
    margin-left: 0px;
}

div.myhome.monthlypayPopup .itemList .item .title {
    display: table-cell;
    line-height: 41px;
    font-size: 37px;
    color: rgba(255,255,255,.7);
    vertical-align: middle;
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item .title {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    width: 259px;
    height: 30px;
    display:block;
    font-family: "RixHead M";
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item .amount_area {
    margin-top: 35px;
    margin-bottom: -5px;
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item .amount_text {
    font-size: 37px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "RixHead B";
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item .amount_unit {
    font-size: 34px;
    color: rgba(255, 255, 255, 0.3);
    margin-left: 10px;
    font-family: "RixHead L";
}

/* KT 멤버십 */
div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item:nth-child(1) .title {
    color: rgb(255, 106, 96);
}

/* TV 포인트 */
div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item:nth-child(2) .title {
    color: rgb(251, 158, 104);
}

/* TV 쿠폰 */
div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item:nth-child(3) .title {
    color: rgb(152, 174, 240);
}

/* 콘텐츠이용권 */
div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item:nth-child(4) .title {
    color: rgb(204, 179, 113);
}

div.myhome.monthlypayPopup .itemList .item .btn {
    margin-top: 35px;
    margin-left: 15px;
    width: 225px;
    height: 51px;
    line-height: 51px;
    font-size: 27px;
    font-family: "RixHead L";
    color: rgba(255,255,255,.5);
    background: #494949;
}

div.myhome.monthlypayPopup .page_indicator {
    height: 24px;
    margin-top:  23px;
    color: rgba(255,255,255,.5);
    font-size: 27px;
    font-family: "RixHead L";
    margin-bottom: 44px;
}

/** Focus **/
div.myhome.monthlypayPopup .itemList .item.focus .title {
    font-size: 39px;
    color: rgb(255, 255, 255);
}

div.myhome.coupon_charge_popup .itemList .item.focus .title {
    font-size: 30px;
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item.focus .amount_text {
    color: rgb(255, 255, 255);
}

div.myhome.monthlypayPopup.coupon_charge_popup .itemList .item.focus .amount_unit {
    color: rgba(255, 255, 255, 0.5);
}

div.myhome.monthlypayPopup .itemList .item.focus .btn {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}