div.myhome.no_cloud_popup {
    display: table;
}

div.myhome.no_cloud_popup .popup_contents {
    text-align: center;
    margin-top: 345px;
}

div.myhome.no_cloud_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

div.myhome.no_cloud_popup .popup_contents .text1 {
    display:block;
    color: white;
    font-size: 42px;
    margin-top: 43px;
    margin-bottom: 74px;
    font-family: "RixHead M";
}

div.myhome.no_cloud_popup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.no_cloud_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 52px;
    line-height: 52px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.no_cloud_popup .popup_contents .btn_area btn.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}