div.myhome.payment_method_popup {
    display: table;
}

div.myhome.payment_method_popup .popup_contents {
}

div.myhome.payment_method_popup .centered_wrapper {
    display: inline-block;
}

div.myhome.payment_method_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

/**********************
     Contents Area
**********************/

div.myhome.payment_method_popup .content_area {
    display: block;
    width: 926px;
    margin: 32px auto;
    overflow: hidden;
}

div.myhome.payment_method_popup .contents_box {
    background: url(../../resource/image/bg_bill_01_mid.png);
    padding-top: 25px;
    padding-bottom: 25px;
}

div.myhome.payment_method_popup .content_area::before {
    content: url(../../resource/image/bg_bill_01_top.png);
    display: block;
    margin-bottom: -3px;
}

div.myhome.payment_method_popup .content_area::after {
    content: url(../../resource/image/bg_bill_01_btm.png);
    display: block;
}

div.myhome.payment_method_popup .content_area .contentsName {
    display: block;
    font-size: 52px;
    font-family: "RixHead B";
    color: white;
    margin-left: 52px;
    margin-right: 52px;
}

div.myhome.payment_method_popup .content_area .price {
    display: block;
    font-size: 34px;
    margin-top: 27px;
    color: white;
    font-family: "RixHead M";
}

div.myhome.payment_method_popup .content_area .price:before {
    content: "가격 : ";
    color: rgba(255,255,255,.5);
    font-family: "RixHead L";
}

div.myhome.payment_method_popup .content_area .price:after {
    content: " 원";
}


div.myhome.payment_method_popup .content_area .method_area {
    border-top: 4px solid rgba(255,255,255,.15);
    border-bottom: 4px solid rgba(255,255,255,.15);
    width: 560px;
    margin: 42px auto 0 auto;
}

div.myhome.payment_method_popup .content_area .method_area .method {
    height: 68px;
    border-top: 2px solid rgba(255,255,255,.1);
}

div.myhome.payment_method_popup .content_area .method_area .method:nth-child(1) {
    border-top: none;
}

div.myhome.payment_method_popup .content_area .method_area .method .method_code {
    display: inline-block;
    width: 277px;
    line-height: 68px;
    text-align: left;
    padding-left: 23px;
    font-size: 28px;
    font-family: "RixHead L";
    color:rgba(255,255,255,.5);
}

div.myhome.payment_method_popup .content_area .method_area .method .method_price {
    display: inline-block;
    width: 236px;
    line-height: 68px;
    text-align: right;
    padding-right: 24px;
    font-size: 30px;
    font-family: "RixHead M";
    color:white;
}

div.myhome.payment_method_popup .content_area .method_area .method .method_point {
    display: inline-block;
    width: 236px;
    line-height: 68px;
    text-align: right;
    padding-right: 24px;
    font-size: 30px;
    font-family: "RixHead M";
    color:white;
}

div.myhome.payment_method_popup .content_area .method_area .method .method_membership {
    display: inline-block;
    width: 236px;
    line-height: 68px;
    text-align: right;
    padding-right: 24px;
    font-size: 30px;
    font-family: "RixHead M";
    color:white;
}

div.myhome.payment_method_popup .content_area .method_area .method .method_price::after {
    content: "원";
    margin-left: 10px;
    font-size: 27px;
    color:rgba(255, 255, 255, 0.5);
}

/*
div.myhome.payment_method_popup .content_area .method_area .method .method_point::after {
    content: "원";
}
*/

div.myhome.payment_method_popup .content_area .method_area .method .method_membership::after {
    content: "P";
    margin-left: 12px;
    margin-right: 3px;
    font-size: 27px;
    color:rgba(255, 255, 255, 0.5);
}

/**********************
      Button Area
**********************/
div.myhome.payment_method_popup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.payment_method_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 52px;
    line-height: 52px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.payment_method_popup .popup_contents .btn_area btn {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
}