div.myhome.gniPopup.playlistDelete .popup_title {
    top: 371px;
}

div.myhome.gniPopup.playlistDelete .text_white_center_45M {
    top: 445px;
}

div.myhome.gniPopup.playlistDelete .text_white_center_30L {
    top: 510px;
    line-height : 40px;
}

div.myhome.gniPopup.playlistDelete .twoBtnArea_280 {
    top: 647px;
}