div.myhome.playlist_add_popup {
    display: table;
}

div.myhome.playlist_add_popup .popup_contents {
    text-align: center;
    margin-top: 165px;
}

div.myhome.playlist_add_popup title {
    display: block;
    text-align: center;
    width: 1920px;
    font-size:33px;
    font-family: "RixHead B";
    color: #DDAF78;
}

div.myhome.playlist_add_popup .popup_contents .text1 {
    display:block;
    color: white;
    font-size: 28px;
    margin-top: 27px;
    margin-bottom: 19px;
    font-family: "RixHead M";
    line-height: 38px;
}

div.myhome.playlist_add_popup .popup_contents .text1 red {
    color:red;
}
/**********************
     Contents Area
**********************/

div.myhome.playlist_add_popup .popup_contents .contents_box {
    width: inherit;
    overflow: auto;
}

/** OSK Input Area **/
div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area {
    width: 1279px;
    height: 550px;
    margin: 0 auto 30px auto;
    overflow: auto;
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .bg_area {
    position: absolute;
    width: inherit;
    height: inherit;
    z-index: -1;
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .bg_area .bg_left {
    display: inline-block;
    width: 49px;
    height: 550px;
    background: url(../../resource/image/pop_bg_noti_l.png);
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .bg_area .bg_mid {
    display: inline-block;
    width: 1180px;
    height: 550px;
    background: url(../../resource/image/pop_bg_noti_m.png);
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .bg_area .bg_right {
    display: inline-block;
    width: 50px;
    height: 550px;
    background: url(../../resource/image/pop_bg_noti_r.png);
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .input_box {
    margin: 90px auto 0 auto;
    width: 664px;
    height: 102px;
    color: white;
    font-size: 50px;
    line-height: 102px;
    text-align: center;
    font-family: "RixHead M";
    background: url(../../resource/image/pop_input_kbdim.png);
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .input_box.focus {
    background: url(../../resource/image/pop_input_kb_foc.png);
}


div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .input_box.blinker::before {
    content: '|';
    color: transparent;
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .input_box.blinker::after {
    content: '|';
    -webkit-animation: myHome_blinker 1s infinite;
}

div.myhome.playlist_add_popup .popup_contents .contents_box .osk_input_area .OSKArea {
    margin-top: 48px;
}

/**********************
      Button Area
**********************/
div.myhome.playlist_add_popup .popup_contents .btn_area {
    width: 1920px;
    height: 62px;
    text-align: center;
}

div.myhome.playlist_add_popup .popup_contents .btn_area btn {
    display: inline-block;
    background: url(../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.playlist_add_popup .popup_contents .btn_area btn.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
    height : 52px;
    line-height:52px;
}

@-webkit-keyframes myHome_blinker {
    0% {opacity: 0;}
    49% {opacity: 0;}
    50% {opacity: 1;}
    99% {opacity: 1;}
}