
div.myhome.gniPopup {
    background: rgba(0, 0, 0, .9);
    text-align: center;
    vertical-align: middle;
}

div.myhome.gniPopup div.popup_contents {
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

div.myhome.gniPopup .popup_title {
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
    font-size: 33px;
    line-height: 33px;
    left: 0;
    width: 100%;
}

div.myhome.gniPopup .text_white_center_45M {
    color: white;
    font-family: "RixHead M";
    font-size: 45px;
    line-height: 45px;
    left: 0;
    width: 100%;
}

div.myhome.gniPopup .text_white_center_30L {
    color: white;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    left: 0;
    width: 100%;
}

div.myhome.gniPopup .text_white_center_30M {
    color: white;
    font-family: "RixHead M";
    font-size: 30px;
    line-height: 30px;
    left: 0;
    width: 100%;
}

div.myhome.gniPopup .popup_button {
    position: relative;
    display: inline-block;
    background: url(../../resource/image/pop_btn_w280.png);
    width: 280px;
    height: 62px;
    line-height: 62px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 30px;
    color: rgba(255,255,255,.7);
    font-family: "RixHead L";
}

div.myhome.gniPopup .popup_button.focus {
    background: #D2332F;
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
    border-top: 5px solid #D2332F;
    border-bottom: 5px solid #D2332F;
    height: 52px;
    line-height: 52px;
}

div.myhome.gniPopup .twoBtnArea_280 {
    left: 673px;
    width: 588px;
    height: 62px;
}

div.myhome.gniPopup .twoBtnArea_280 .btn {
    position: relative;
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-image: url(../../resource/image/pop_btn_w280.png);
}

div.myhome.gniPopup .twoBtnArea_280 .btn .whiteBox {
    float: left;
    width: 280px;
    height: 62px;
    margin-right: 14px;
    background-color: white;
    opacity: 0;
}

div.myhome.gniPopup .twoBtnArea_280 .btn.focus .whiteBox {
    float: left;
    width: 280px;
    height: 52px;
    margin-right: 14px;
    background-color: #D2332F;
    opacity: 1;
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
}

div.myhome.gniPopup .twoBtnArea_280 .btn .btnText {
    position: absolute;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width: 280px;
    left: 0;
    top: 16px;
    color: rgba(255, 255, 255, .7);
}

div.myhome.gniPopup .twoBtnArea_280 .btn.focus .btnText {
    color: rgb(255, 255, 255);
}