div.myhome.rating_popup {
    background-color: rgba(0,0,0,.85);
}

div.myhome.rating_popup .title_area {
    position: absolute;
    top: 114px;
    width: 100%;
    text-align: center;
    font-size: 33px;
    line-height: 33px;
    color: rgb(221, 175, 120);
    font-family: "RixHead B";
}

div.myhome.rating_popup .description_area {
    position: absolute;
    top: 175px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    color: white;
    font-family: "RixHead L";
}

div.myhome.rating_popup .contents_area {
    position: absolute;
    width: 1440px;
    height: 610px;
    left: 240px;
    top: 233px;
}

div.myhome.rating_popup .contents_area .background {
    position: absolute;
    width: 1440px;
    height: 610px;
    background-color: #302F2F;
    top: 0;
}

div.myhome.rating_popup .contents_area .background2 {
    /*background-color: #333232;*/
    /*opacity : 0.85;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width : 1440px;*/
    /*height : 610px;*/
    /*margin-left: 19px;*/
    /*margin-top : 19px;*/
    /*border: 2px solid #3d3c3c;*/
}

div.myhome.rating_popup .contents_area .background.l {
    /*width: 49px;*/
    /*left: 0;*/
    /*background-image: url(../../resource/image/rating/pop_bg_liking_l.png);*/
}

div.myhome.rating_popup .contents_area .background.m {
    /*width: 1380px;*/
    /*left: 49px;*/
    /*background-image: url(../../resource/image/rating/pop_bg_liking_m.png);*/
}

div.myhome.rating_popup .contents_area .background.r {
    /*width: 49px;*/
    /*left: 1429px;*/
    /*background-image: url(../../resource/image/rating/pop_bg_liking_r.png);*/
}

div.myhome.rating_popup .contents_area .status {
    position: absolute;
    width: 793px;
    height: 76px;
    left: 323px;
    top: 37px;
}

div.myhome.rating_popup .contents_area .status .icon {
    position: absolute;
    width: 66px;
    height: 66px;
    top: 10px;
}

div.myhome.rating_popup .contents_area .status .icon .count {
    position: absolute;
    top: 31px;
    width: 66px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
    font-family: "RixHead B";
}

div.myhome.rating_popup .contents_area .status .icon .count.start {
    position: absolute;
    top: 24px;
    font-size: 23px;
    line-height: 23px;
    color: rgba(255, 255, 255, 179);
}

div.myhome.rating_popup .contents_area .status .icon .count.bronze {
    color: rgb(219, 147, 98);
}

div.myhome.rating_popup .contents_area .status .icon .count.silver {
    color: rgb(207, 211, 218);
}

div.myhome.rating_popup .contents_area .status .icon .count.gold {
    color: rgb(229, 194, 110);
}

div.myhome.rating_popup .contents_area .status .icon.start {
    left: 0;
    background-image: url(../../resource/image/rating/star_status_start.png);
}

div.myhome.rating_popup .contents_area .status .icon.bronze {
    left: 242px;
    background-image: url(../../resource/image/rating/star_status_bronze_1.png);
}

div.myhome.rating_popup .contents_area .status .icon.silver {
    left: 483px;
    background-image: url(../../resource/image/rating/star_status_silver_2.png);
}

div.myhome.rating_popup .contents_area .status .icon.gold {
    left: 724px;
    background-image: url(../../resource/image/rating/star_status_gold_3.png);
}

div.myhome.rating_popup .contents_area .status .line {
    position: absolute;
    width: 175px;
    height: 2px;
    top: 42px;
    opacity: .2;
    background-color: #FFFFFF;
}

div.myhome.rating_popup .contents_area .status .filled_line {
    position: absolute;
    width: 658px;
    height: 2px;
    top: 42px;
    left: 67px;
}

div.myhome.rating_popup .contents_area .status .filled_icon {
    position: absolute;
    width: 45px;
    height: 32px;
    left: 44px;
    background: url(../../resource/image/star_status_now.png);
    text-align: center;
    font-size: 20px;
    font-family: "RixHead B";
    padding-top: 2px;
}

div.myhome.rating_popup .contents_area .status .filled_line .fill {
    position: absolute;
    width: 175px;
    height: 2px;
    top: 0;
    background-color: #FFFFFF;
}

div.myhome.rating_popup .button_area {
    position: absolute;
    width: 280px;
    height: 62px;
    top: 899px;
    left: 820px;
}

div.myhome.rating_popup .button_area .button {
    position: absolute;
    width: 276px;
    height: 58px;
    top: 0;
    left: 0;
    background: rgba(7,7,7,.5);
    border: 2px solid rgba(200,200,200,.2);
}

div.myhome.rating_popup .button_area .whiteBox {
    position: absolute;
    width: 280px;
    height: 62px;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #D2332F;
}

div.myhome.rating_popup .button_area.focus .whiteBox {
    opacity: 0.99;
    border-top : 5px solid #D2332F;
    border-bottom : 5px solid #D2332F;
    height: 52px;
    line-height: 52px;
}

div.myhome.rating_popup .button_area .buttonText {
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 179);
    font-family: "RixHead L";
}

div.myhome.rating_popup .button_area.focus .buttonText {
    color: rgb(255, 255, 255);
    font-family: "RixHead M";
}

/**
    포스터 리스트 CSS
 */

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical {
    overflow: visible;
    margin-right: 36px;
    float: left;
    width: 210px;
    height: 440px;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .content {
    overflow: visible;
    width: 210px;
    height: 300px;
    display: block;
    /*border-top: white 6px solid;*/
    /*border-bottom: white 6px solid;*/
    /*border-color: transparent;*/
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transform: translateZ(0);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .posterImg {
    position: absolute;
    width: 210px;
    height: 300px;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .posterTitle {
    position: absolute;
    left: 0;
    top: 66px;
    width: 231px;
    text-align: center;
    font-size: 27px;
    line-height: 30px;
    color: white;
    font-family: "RixHead L";
    opacity: 0;
    /*transition: opacity .5s;*/
;
    text-overflow: ellipsis;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .posterTitle {
    opacity: 1;
}


div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .rating_area.focus .posterTitle {
    color: #DDAF78;

}

/**
    하단 별점 영역 CSS
 */

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area {
    position: absolute;
    overflow: visible;
    margin-left: -10.6px;
    top: 313px;
    width: 231px;
    height: 54px;
    /*transition: -webkit-transform .5s;*/
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .whiteBox_area {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -22px;
    width: 275px;
    height: 54px;
    opacity: 0;
    /*transition: opacity .1s;*/
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area.focus .whiteBox_area {
    opacity: 0.99;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area.focus .whiteBox_area .focus_red {
    top:-0px;
    left:22px;
    width:231px;
    height:54px;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .whiteBox_area .whiteBox {
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*top: 0;*/
    /*left: 22px;*/
    /*width: 231px;*/
    /*height: 44px;*/
    /*background-color: white;*/

    /*border-top: 5px solid #D1433F;*/
    /*border-bottom : 5px solid #D1433F;*/
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .whiteBox_area .whiteArrow {
    position: absolute;
    overflow: hidden;
    top: 17px;
    width: 14px;
    height: 20px;
    background-size: 14px 20px;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .whiteBox_area .whiteArrow.l {
    left: 0;
    background-image: url(../../resource/image/rating/vod_end_ar_l.png);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .whiteBox_area .whiteArrow.r {
    left: 261px;
    background-image: url(../../resource/image/rating/vod_end_ar_r.png);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .rating_area {
    -webkit-transform: translateY(25px);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .box_area {
    text-align: center;
    overflow: hidden;
    height: 54px;

}


div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .box_area .rating_box {
    overflow: hidden;
    width : 206px;
    height: 45px;
    display: inline-block;
    background-color: #333333;
    border: 2px solid #474747;
    opacity: 0.8;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .rating_area .box_area .rating_box{
    overflow: hidden;
    width : 227px;
    height: 50px;
    display: inline-block;
    background-color: #323232;
    border: 2px solid #474747;
    opacity: 0.8;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .star_area {
    position: absolute;
    top: 0;
    margin: 14px 29px 16px 37px;
    height: 24px;
    width: 165px;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .star {
    float: left;
    height: 24px;
    width: 26px;
    margin-right: 7px;
    background-image: url(../../resource/image/stars/img_rating_empty_26.png);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area.focus .star {
    background-image: url(../../resource/image/stars/img_rating_empty_26_f.png);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .star.half {
    background-image: url(../../resource/image/stars/img_rating_half_y_26.png);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area.focus .star.half {
    background-image: url(../../resource/image/stars/img_rating_half_y_26_f.png);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical .rating_area .star.filled {
    background-image: url(../../resource/image/stars/img_rating_filled_y_26.png);
}

/**
    포스터 포커스 CSS
 */

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .content {
    -webkit-transform: scale(1.1) translateZ(0);
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .content > .focus_red {
    display: none;
}

div.myhome.rating_popup .contents_area .contents .contents_list .content.poster_vertical.focus .content.focus > .focus_red {
    display: inherit;
    /*border-color: #D1433F;  *//* Line Focus */
}

/* 포스터 focus_red */
div.myhome.rating_popup .content.poster_vertical.focus .content .focus_red {
    top:-2px;
    left:-7px;
    width:224px;
    height:314px;
}


/**
    포스터 영역 CSS
 */

div.myhome.rating_popup .contents_area .contents {
    position: absolute;
    overflow: hidden;
    left: 87px;
    /* 174 - 17 */
    top: 132px;
    width: 1266px;
    height: 470px;
}

div.myhome.rating_popup .contents_area .contents .contents_list {
    top: 17px;
    width: 1230px;
    height: 440px;
    /*transition: -webkit-transform 0.5s;*/
}

div.myhome.rating_popup .contents_area .contents .contents_list.left {
    position: absolute;
    overflow: visible;
    left: 36px;
    width: 1230px;
    height: 440px;
}

div.myhome.rating_popup .contents_area .contents .contents_list.right {
    position: absolute;
    overflow: visible;
    left: 1302px;
}

div.myhome.rating_popup .contents_area .contents .contents_list.moveLeft {
    -webkit-transform: translateX(-1266px);
}

div.myhome.rating_popup .contents_area .arrow_left {
    position: absolute;
    left: 43px;
    top: 277px;
    width: 32px;
    height: 56px;
    background: url(../../resource/image/arw_view_l.png);
}

div.myhome.rating_popup .contents_area .arrow_right {
    position: absolute;
    left: 1365px;
    top: 277px;
    width: 32px;
    height: 56px;
    background: url(../../resource/image/arw_view_r.png);
}

