div.myhome.myhome_toast {
    position: absolute;
    background-image: url(../../resource/image/caption_bg.png);
    top: 939px;
    left: 0;
    height: 141px;
    width: 1920px;
}

div.myhome.myhome_toast .toastText {
    position: absolute;
    color: white;
    text-align: center;
    font-family: "RixHead L";
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    top: 43px;
}
