#loading{
   	-webkit-animation: loadingAnimation 0.8s;
   	-ms-animation: loadingAnimation 0.8s;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
}

@-webkit-keyframes loadingAnimation{
	0%{-webkit-transform: rotate(0deg);}
	10%{-webkit-transform: rotate(36deg);}
	20%{-webkit-transform: rotate(72deg);}
	30%{-webkit-transform: rotate(108deg);}
	40%{-webkit-transform: rotate(144deg);}
	50%{-webkit-transform: rotate(180deg);}
	60%{-webkit-transform: rotate(216deg);}
	70%{-webkit-transform: rotate(252deg);}
	80%{-webkit-transform: rotate(288deg);}
	90%{-webkit-transform: rotate(324deg);}
	100%{-webkit-transform: rotate(360deg);}
}

@-ms-keyframes loadingAnimation{
	0%{-ms-transform: rotate(0deg);}
	10%{-ms-transform: rotate(36deg);}
	20%{-ms-transform: rotate(72deg);}
	30%{-ms-transform: rotate(108deg);}
	40%{-ms-transform: rotate(144deg);}
	50%{-ms-transform: rotate(180deg);}
	60%{-ms-transform: rotate(216deg);}
	70%{-ms-transform: rotate(252deg);}
	80%{-ms-transform: rotate(288deg);}
	90%{-ms-transform: rotate(324deg);}
	100%{-ms-transform: rotate(360deg);}
}

@keyframes loadingAnimation{
	0%{transform: rotate(0deg);}
	10%{transform: rotate(36deg);}
	20%{transform: rotate(72deg);}
	30%{transform: rotate(108deg);}
	40%{transform: rotate(144deg);}
	50%{transform: rotate(180deg);}
	60%{transform: rotate(216deg);}
	70%{transform: rotate(252deg);}
	80%{transform: rotate(288deg);}
	90%{transform: rotate(324deg);}
	100%{transform: rotate(360deg);}
}