#popup_layer_background {
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition:opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out; 
}
.popup {
    position:absolute;
    -webkit-transition:opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out;
}
/* focus image. only exposed when it focused */
.popup_class_focus{
	position:absolute;
	opacity:0;
	-webkit-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
	-ms-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
}

/* always exposed on background  */
.popup_class_item{
	position:absolute;
	opacity : 1;
	-webkit-transition: opacity .0s ease, -webkit-transform .0s ease-in-out 0;
	-ms-transition: opacity .0s ease, -webkit-transform .0s ease-in-out 0;
}
/* general item  */
.popup_item{
	position:absolute;
	opacity : 0;
	-webkit-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
	-ms-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
}
.popup_button {
	position:absolute;
	-webkit-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
	-ms-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
}
.focus_button {
	position:absolute;
	font-size:22px;
	color:rgb(255, 255, 255);
	text-align:center;
	-webkit-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
	-ms-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
}
.unfocus_button {
	position:absolute;
	font-size:22px;
	color:rgba(255, 255, 255, 0.8);
	text-align:center;
	-webkit-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
	-ms-transition: opacity .0s ease, -webkit-transform .2s ease-in-out 0;
}
