div.allReset #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.allReset #settingTable .table_title { position: absolute; top: 49px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.allReset #settingTable .table_subTitle { position: absolute; top: 121px; font-size:  26px; width: 886px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }


div.allReset #inputPassword_area { position: absolute; top: 275px; height: 130px; }
div.allReset #inputPassword_area #inputBG_img { width: 301px; height: 68px;  background-image: url(../../../images/pw_box_w301.png);}
div.allReset #inputPassword_area.unFocus #inputBG_img { opacity: 0.3; background-image: url(../../../images/inputbox_unfocus/pw_box_w301.png); }
div.allReset #inputPassword_area.unFocus #inputFocus_Text { opacity: 1;}
div.allReset #input_Text { margin-bottom: 29px; font-family: "RixHead M"; font-size: 30px; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.allReset #inputDefault_Text { position: absolute; top: 79px; left: 87px; font-size: 45px; font-family: "RixHead M"; color: white; opacity: 0.2; letter-spacing: 11px; }
div.allReset #inputFocus_Text { position: absolute; top: 79px; left: 87px; font-size: 45px; font-family: "RixHead M"; color: white; letter-spacing: 11px; }

div.allReset #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.allReset #rightMenu_bg { width: 420px; }

div.allReset #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.allReset #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.allReset #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
div.allReset #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; }
div.allReset #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 116px; top: 20px; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.allReset #rightMenu_btn_area .rightMenu_btn_div.focus{ border: 0px;}
div.allReset #rightMenu_btn_area .rightMenu_btn_div.focus .rightMenu_btn_line{ background: rgb(210,51,47); /* border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63);*/ box-sizing: border-box;}
div.allReset #rightMenu_btn_area .rightMenu_btn_div.focus img { visibility: hidden; }
div.allReset #rightMenu_btn_area .rightMenu_btn_div.focus .rightMenu_btn_text { color: white; opacity: 1.0; font-family: "RixHead M"; }