div.autoStayMode #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.autoStayMode #settingTable .table_title { position: absolute; top: 49px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.autoStayMode #settingTable .table_subTitle { position: absolute; top: 121px; font-size:  26px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }


div.autoStayMode #table_radio_area { position: absolute; top: 253px; width: 886px; height: 300px; }
div.autoStayMode #table_radio_area .table_radio_btn { position: absolute; height: 77px; width: 365px; top: 20px; }
div.autoStayMode #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 365px; }
div.autoStayMode #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { border: 5px solid rgb(210,51,47); box-sizing: border-box; }
div.autoStayMode #table_radio_area .table_radio_img { position: absolute; width: 38px; height: 38px; left: 18px; top: 20px; }
div.autoStayMode #table_radio_area .table_radio_text { position: absolute; float: left; top: 24px; left: 74px; font-size: 29px; height: 34px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing:  -1.45px; }
div.autoStayMode #table_radio_area .table_radio_text.focus { color: white; top: 23px; font-family: "RixHead M"; font-size: 31px; letter-spacing: -1.55px; opacity: 1.0; }

div.autoStayMode #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.autoStayMode #rightMenu_bg { width: 420px; }
div.autoStayMode #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 293px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.autoStayMode #rightMenu_btn_area { position: absolute; top: 648px; left: 39px; }
div.autoStayMode #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
/*div.autoStayMode #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.autoStayMode #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.autoStayMode #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.autoStayMode #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.autoStayMode #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }