/* 자동켜짐 / 꺼짐 체크박스 텍스트*/
div.autoPower .setTimeArea .checkBox .checkBox_text { font-size: 26px; letter-spacing: -1.3px; opacity: 0.4; }
div.autoPower .setTimeArea .checkBox.focus .checkBox_text { font-size: 28px; letter-spacing: -1.4px; opacity: 1 }
/* 자동켜짐 / 꺼짐 체크박스 포커스 */
div.autoPower .setTimeArea .checkBox .checkBox_Bg {visibility: hidden;}
div.autoPower .setTimeArea .checkBox.focus .checkBox_Bg {visibility: inherit;}

/* 자동켜짐 / 꺼짐 체크박스 이미지 visibility 세팅 */
div.autoPower .setTimeArea .checkBox .checkBox_dim_uncheck_img{ visibility: inherit;}
div.autoPower .setTimeArea .checkBox.checked .checkBox_dim_uncheck_img{ visibility: hidden;}
div.autoPower .setTimeArea .checkBox.focus .checkBox_dim_uncheck_img{ visibility: hidden;}

div.autoPower .setTimeArea .checkBox .checkBox_dim_check_img{ visibility: hidden;}
div.autoPower .setTimeArea .checkBox.checked .checkBox_dim_check_img{ visibility: inherit;}
div.autoPower .setTimeArea .checkBox.focus .checkBox_dim_check_img{ visibility: hidden;}

div.autoPower .setTimeArea .checkBox .checkBox_foc_uncheck_img { visibility: hidden;}
div.autoPower .setTimeArea .checkBox.checked .checkBox_foc_uncheck_img { visibility: hidden;}
div.autoPower .setTimeArea .checkBox.focus .checkBox_foc_uncheck_img { visibility: inherit;}

div.autoPower .setTimeArea .checkBox .checkBox_foc_check_img { visibility: hidden;}
div.autoPower .setTimeArea .checkBox .checkBox_foc_check_img { visibility: hidden;}
div.autoPower .setTimeArea .checkBox.focus.checked .checkBox_foc_check_img { visibility: inherit;}

div.autoPower .setTimeArea .inputArea .inputArea_normal_img{ visibility: inherit; }
div.autoPower .setTimeArea .inputArea.focus .inputArea_normal_img{ visibility: hidden; }
div.autoPower .setTimeArea .inputArea.dimmed .inputArea_normal_img{ visibility: hidden; }

div.autoPower .setTimeArea .inputArea.dimmed .inputArea_dim_img{ visibility: inherit; }
div.autoPower .setTimeArea .inputArea .inputArea_dim_img{ visibility: hidden; }
div.autoPower .setTimeArea .inputArea .inputArea_dim_img{ visibility: hidden; }

div.autoPower .setTimeArea .inputArea .inputArea_focus_img{ visibility: hidden; }
div.autoPower .setTimeArea .inputArea.dimmed .inputArea_focus_img{ visibility: hidden; }
div.autoPower .setTimeArea .inputArea.focus .inputArea_focus_img{ visibility: inherit; }

div.autoPower .setTimeArea .inputArea .hour{ left: 130px; top: 20px; font-size: 27px; font-family: "RixHead L"; opacity: 0.5; letter-spacing: -1.35px; }
div.autoPower .setTimeArea .inputArea .dot{ left: 165px; top: 21px; font-size: 27px; font-family: "RixHead L"; opacity: 0.5; letter-spacing: -1.35px; }
div.autoPower .setTimeArea .inputArea .min{ left: 181px; top: 20px; font-size: 27px; font-family: "RixHead L"; opacity: 0.5; letter-spacing: -1.35px; }
div.autoPower .setTimeArea .inputArea.focus span {font-size: 29px; letter-spacing: -1.45px; font-family: "RixHead M"; margin-left: -3px; margin-top: -2px; opacity: 0.2;}
div.autoPower .setTimeArea .inputArea.focus .dot {opacity: 1.0;}
div.autoPower .setTimeArea .inputArea.focus .hour.focus,div.autoPower .setTimeArea .inputArea.focus .min.focus {opacity: 1.0;}


/* 반복설정 영역 텍스트, 테두리 */
div.autoPower .repeatArea .radioBtnArea .radioBtn_text { font-size: 29px; font-family: "RixHead L"; letter-spacing: -1.45px; color: white; opacity: 0.7;}
div.autoPower .repeatArea .radioBtnArea .radioBtnBox.focus .radioBtn_text { margin-top: -1px; font-size: 31px; font-family: "RixHead M"; letter-spacing: -1.55px; color: white; opacity: 1.0}
div.autoPower .repeatArea .radioBtnArea .radioBtnBox.focus .boxBg { border: 6px solid rgb(210,51,47); box-sizing: border-box; }
/* 반복설정 영역 라디오버튼 visibility 세팅 */
div.autoPower .repeatArea .radioBtnBox .radioBtn_uncheck_img{ visibility: inherit;}
div.autoPower .repeatArea .radioBtnBox.checked .radioBtn_uncheck_img{ visibility: hidden;}
div.autoPower .repeatArea .radioBtnBox.focus .radioBtn_uncheck_img{ visibility: hidden;}

div.autoPower .repeatArea .radioBtnBox .radioBtn_check_img{ visibility: hidden;}
div.autoPower .repeatArea .radioBtnBox.checked .radioBtn_check_img{ visibility: inherit;}
div.autoPower .repeatArea .radioBtnBox.focus .radioBtn_check_img{ visibility: hidden;}

div.autoPower .repeatArea .radioBtnBox .radioBtn_foc_uncheck_img { visibility: hidden;}
div.autoPower .repeatArea .radioBtnBox.checked .radioBtn_foc_uncheck_img { visibility: hidden;}
div.autoPower .repeatArea .radioBtnBox.focus .radioBtn_foc_uncheck_img { visibility: inherit;}

div.autoPower .repeatArea .radioBtnBox .radioBtn_foc_check_img { visibility: hidden;}
div.autoPower .repeatArea .radioBtnBox.checked .radioBtn_foc_check_img { visibility: hidden;}
div.autoPower .repeatArea .radioBtnBox.focus.checked .radioBtn_foc_check_img { visibility: inherit;}


/* 요일 설정 div 관련 */
div.autoPower .repeatArea .dayArea.hide {opacity: 0;}
div.autoPower .repeatArea .dayArea.dimmed {opacity: 0.3;}

/* 요일 체크박스*/
div.autoPower .repeatArea .dayBox.focus .boxBg{ border: 6px solid rgb(210,51,47); box-sizing: border-box; }
/*요일 체크박스 visibility 세팅*/
div.autoPower .repeatArea .dayBox .checkBox_dim_uncheck_img{ visibility: inherit;}
div.autoPower .repeatArea .dayBox.checked .checkBox_dim_uncheck_img{ visibility: hidden;}
div.autoPower .repeatArea .dayBox.focus .checkBox_dim_uncheck_img{ visibility: hidden;}

div.autoPower .repeatArea .dayBox .checkBox_dim_check_img{ visibility: hidden;}
div.autoPower .repeatArea .dayBox.checked .checkBox_dim_check_img{ visibility: inherit;}
div.autoPower .repeatArea .dayBox.focus .checkBox_dim_check_img{ visibility: hidden;}

div.autoPower .repeatArea .dayBox .checkBox_foc_uncheck_img { visibility: hidden;}
div.autoPower .repeatArea .dayBox.checked .checkBox_foc_uncheck_img { visibility: hidden;}
div.autoPower .repeatArea .dayBox.focus .checkBox_foc_uncheck_img { visibility: inherit;}

div.autoPower .repeatArea .dayBox .checkBox_foc_check_img { visibility: hidden;}
div.autoPower .repeatArea .dayBox.checked .checkBox_foc_check_img { visibility: hidden;}
div.autoPower .repeatArea .dayBox.focus.checked .checkBox_foc_check_img { visibility: inherit;}

/* 요일 체크박스 텍스트 세팅*/
div.autoPower .repeatArea .dayBox .checkBox_text {left: 83px; top: 25px; width: 48px; height: 40px; font-size: 29px; font-family: "RIxHead L"; letter-spacing: -1.45px; color: white;  opacity: 0.7;}
div.autoPower .repeatArea .dayBox.focus .checkBox_text {left: 82px; top: 24px; font-size: 31px; font-family: "RIxHead M"; letter-spacing: -1.55px;  opacity: 1.0;}
div.autoPower .repeatArea .dayBox.checked .checkBox_text { color: rgb(243,169,80);}


/* 우측 메뉴 세팅 */
div.autoPower #rightMenu_bg { width: 420px; }
div.autoPower #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 295px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.autoPower #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.autoPower #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
/*div.autoPower #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.autoPower #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.autoPower #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.autoPower #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.autoPower #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }

div.autoPower #rightMenu_btn_area .saveButton.blocked { opacity: 0.3;}
