div.setting.bluetoothConnect #settingArea { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); overflow: visible; }
div.setting.bluetoothConnect #settingArea .table_title { position: absolute; top: 47px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.setting.bluetoothConnect #settingArea .table_subTitle { position: absolute; top: 119px; font-size:  26px; width: 1247px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.setting.bluetoothConnect .radio_area { position: absolute; top: 185px; width: 1247px; height: 78px; }
div.setting.bluetoothConnect .radio_area radioBtn { font-size: 29px; font-family: "RixHead L"; color: rgba(255,255,255,.7); width: 315px; height: 77px; line-height: 77px; vertical-align: top; display: inline-block; letter-spacing: -1.45px; }
div.setting.bluetoothConnect .radio_area .buttonLine {position: absolute; left:0px; top: 0px; width: 315px; height: 77px; }

div.setting.bluetoothConnect .radio_area radioBtn.focus {  color: white; font-family: "RixHead M"; }
div.setting.bluetoothConnect .radio_area .buttonLine.focus { border: 5px solid rgb(210,51,47); box-sizing: border-box; }
div.setting.bluetoothConnect .radio_area radioBtn::before { content: url(../../../images/rdo_btn_d.png); margin: -2px 18px 19px 18px; display: inline-block; vertical-align: middle; width: 38px; height: 38px; }
div.setting.bluetoothConnect .radio_area radioBtn.selected::before { content: url(../../../images/rdo_btn_select_d.png); }
div.setting.bluetoothConnect .radio_area radioBtn.focus::before { content: url(../../../images/rdo_btn_f.png); }
div.setting.bluetoothConnect .radio_area radioBtn.focus.selected::before { content: url(../../../images/rdo_btn_select_f.png); }

div.setting.bluetoothConnect #listArea { position: absolute; top: 352px; width: 1247px; height: 473px; overflow: visible; }
div.setting.bluetoothConnect #notConnect_area { position: absolute; top: 10px; width: 1247px; height: inherit; }
div.setting.bluetoothConnect #notConnect_img { margin-left: auto; margin-right: auto; display: block; margin-top: 112px; }
div.setting.bluetoothConnect #notConnect_text { font-size: 27px; color: white; opacity: 0.2; margin-top: 28px; text-align: center; font-family: "RixHead L"; letter-spacing: -1.35px; }
div.setting.bluetoothConnect .item_list { position: absolute; top: 10px; width: 1247px; height:inherit; }
div.setting.bluetoothConnect .list_item { display: block; height: 76px; width: 1247px; border-bottom: 2px solid rgba(255,255,255,.1); vertical-align: middle; }
div.setting.bluetoothConnect .list_item:nth-child(6n) { border-bottom: none; }
div.setting.bluetoothConnect .list_item .list_check_box { display: inline-block; width: 48px; height: 40px; vertical-align: middle; }
div.setting.bluetoothConnect .list_item .list_icon { margin-left: 25px; opacity: .5; background-size: contain; display: inline-block; width: 55px; height: 55px; vertical-align: middle; }
div.setting.bluetoothConnect .list_item.focus .list_icon { opacity: 1; }
div.setting.bluetoothConnect .list_item .list_item_name { display: inline-block; height: 76px; width: 610px; line-height: 76px; vertical-align: middle; margin-left: 24px; font-size: 26px; color: white; opacity: .7; font-family: "RixHead L"; letter-spacing: -1.3px; }
div.setting.bluetoothConnect .list_item.focus .list_item_name { font-family: "RixHead M"; font-size: 28px; opacity: 1; letter-spacing: -1.4px; }
div.setting.bluetoothConnect .list_item .list_state { display: inline-block; width: 100px; margin-left: 385px; height: 47px; vertical-align: middle; line-height: 47px; font-size: 24px; font-family: "RixHead L"; color: rgba(255,255,255,.2); text-align: right; }
div.setting.bluetoothConnect .list_item .list_loading { position: absolute; margin-left: 1197px; margin-top: -62px; width: 47px; height: 47px; visibility: hidden; }
div.setting.bluetoothConnect .list_item .list_loading .list_loadingBg, div.setting.bluetoothConnect .list_item .list_loading .list_loadingWatch  { position: absolute; width: 47px; height: 47px; }

/* [sw.nam] Add animation for context Key event */
div.setting.bluetoothConnect .list_item .list_loading .list_loadingWatch.loading{animation: loading_image 0.4s; animation-iteration-count: infinite;}
@keyframes loading_image {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg); }
}

div.setting.bluetoothConnect .list_item .list_focusingLine { position: absolute; width: 1247px; height: 5px; background-color: rgb(210,51,47); visibility: hidden; }
div.setting.bluetoothConnect .list_item.focus .list_focusingLine { visibility: inherit; }

div.setting.bluetoothConnect .list_item .list_state::after { content: "연결 안됨"; }
div.setting.bluetoothConnect .list_item.connected .list_state { color: rgba(215,191,149,.7); }
div.setting.bluetoothConnect .list_item.connected .list_state::after { content: "연결됨"; }
div.setting.bluetoothConnect .list_item.connecting .list_state::after { width: 47px; background-image: url('http://1opmgif057j3093j-zippykid.netdna-ssl.com/wp-content/themes/Extra/images/loading.gif'); background-size: 47px 47px; height: 47px; display: block; content: ""; margin-left: auto; }

/*div.setting.bluetoothConnect .list_item .list_check_box { background: url(../../../images/pop_cb_dim_uncheck.png); }
div.setting.bluetoothConnect .list_item.checked .list_check_box { background: url(../../../images/pop_cb_dim_check.png); }
div.setting.bluetoothConnect .list_item.checked.focus .list_check_box { background: url(../../../images/pop_cb_dim_check_red.png); }*/

div.setting.bluetoothConnect .list_item .list_check_box .list_check_box_unchecked { visibility: inherit;}
div.setting.bluetoothConnect .list_item .list_check_box .list_check_box_checked { visibility: hidden;}
div.setting.bluetoothConnect .list_item .list_check_box .list_check_box_checked_red { visibility: hidden;}

div.setting.bluetoothConnect .list_item.checked .list_check_box .list_check_box_unchecked { visibility: hidden;}
div.setting.bluetoothConnect .list_item.checked .list_check_box .list_check_box_checked { visibility: inherit;}
div.setting.bluetoothConnect .list_item.checked .list_check_box .list_check_box_checked_red { visibility: hidden;}

div.setting.bluetoothConnect .list_item.checked.focus .list_check_box .list_check_box_unchecked { visibility: hidden;}
div.setting.bluetoothConnect .list_item.checked.focus .list_check_box .list_check_box_checked { visibility: hidden;}
div.setting.bluetoothConnect .list_item.checked.focus .list_check_box .list_check_box_checked_red { visibility: inherit;}


/*div.setting.bluetoothConnect #rightMenu_area { position: fixed; left: 1433px; top: 100px; }*/
div.setting.bluetoothConnect #rightMenu_bg { width: 420px; }

div.setting.bluetoothConnect #rightMenu_btn_area { position: absolute; top: 495px; left: 39px; }
div.bluetoothConnect #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 297px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.setting.bluetoothConnect #rightMenu_area btn { display: block; text-align: center; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; width: 282px; height: 66px; margin-bottom: 13px; font-size: 30px; line-height: 66px; color: rgba(255,255,255,.7); font-family:"RixHead L"; letter-spacing: -1.5px; }
/*div.setting.bluetoothConnect #rightMenu_area .buttonLine {position: absolute; left:0px; top: 0px; width: 284px; height: 68px;}*/
/*div.setting.bluetoothConnect #rightMenu_area .buttonLine.focus {border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;}*/
div.setting.bluetoothConnect #rightMenu_area btn.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; border: 0px;}
div.setting.bluetoothConnect #rightMenu_area btn.disable { opacity: .3; }
div.setting.bluetoothConnect #rightMenu_area sepline { margin-top: 17px; margin-bottom: 17px; width: 282px; height: 2px; background: white; opacity: .1; display: block; }
div.setting.bluetoothConnect #rightMenu_area .onlyUse { visibility: hidden; }

div.setting.bluetoothConnect.useBluetooth #rightMenu_area .onlyUse { visibility: visible; }
div.setting.bluetoothConnect.useBluetooth #rightMenu_area .onlyUse.hide { visibility: hidden; }

/**********************
         Icon
**********************/
div.setting.bluetoothConnect .item_list .list_item .list_icon.audio {
    background: url(../../../images/icon/icon_bt_audio.png);
}
div.setting.bluetoothConnect .item_list .list_item .list_icon.headset {
    background: url(../../../images/icon/icon_bt_headset.png);
}
div.setting.bluetoothConnect .item_list .list_item .list_icon.keyboard {
    background: url(../../../images/icon/icon_bt_keyboard.png);
}
div.setting.bluetoothConnect .item_list .list_item .list_icon.mouse {
    background: url(../../../images/icon/icon_bt_mouse.png);
}
