div.casInfo #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.casInfo #settingTable .table_title { position: absolute; top: 49px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }

div.casInfo #rightMenu_bg { width: 420px; }
div.casInfo #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.casInfo #rightMenu_btn_area { position: absolute; top: 769px; left: 39px; }
div.casInfo #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
div.casInfo #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px;  text-align: center; font-size: 30px; font-family: "RixHead L"; letter-spacing: -1.5px; color: white; opacity: 0.7; }
div.casInfo #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); font-family: "RixHead M"; opacity: 1.0 }

/*div.casInfo #rightMenu_btn_area .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
/*div.casInfo #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.casInfo #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }

