div.setChannelInfoOutput #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 8255px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.setChannelInfoOutput #settingTable .table_title { position: absolute; top: 49px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }

div.setChannelInfoOutput #table_radio_area { position: absolute; top: 154px; height: 500px; width: 886px; }
div.setChannelInfoOutput #table_radio_area .table_radio_btn { height: 77px; width: 388px; margin-top: 20px; }
div.setChannelInfoOutput #table_radio_area .table_radio_btn.focus { ; }
div.setChannelInfoOutput #table_radio_area .table_radio_img { float: left; margin: 20px 18px; }
div.setChannelInfoOutput #table_radio_area .table_radio_text { margin-top: 24px; font-size: 29px; font-family: "RixHead L"; letter-spacing: -1.45px; color: white; opacity: 0.7; }
div.setChannelInfoOutput #table_radio_area .table_radio_text.focus { margin-top: 23px; font-family: "RixHead M"; font-size: 31px; letter-spacing: -1.55px; opacity: 1.0; }

div.setChannelInfoOutput #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 388px; }
div.setChannelInfoOutput #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { border: 5px solid rgb(210,51,47); box-sizing: border-box; }

div.setChannelInfoOutput #rightMenu_bg { width: 420px; }

div.setChannelInfoOutput #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spaincg: -1.3px; }
div.setChannelInfoOutput #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.setChannelInfoOutput #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
div.setChannelInfoOutput #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; letter-spacing: -1.5px; color: white; opacity: 0.7; }
div.setChannelInfoOutput #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); font-family: "RixHead M"; opacity: 1.0;}
/*div.setChannelInfoOutput #rightMenu_btn_area .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
/*div.setChannelInfoOutput #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.setChannelInfoOutput #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }
