div.hdmiSynchronize #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.hdmiSynchronize #settingTable .table_title { position: absolute; top: 49px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.hdmiSynchronize #settingTable .table_subTitle { position: absolute; top: 121px; font-size:  26px; width: 886px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.hdmiSynchronize #table_radio_area { position: absolute; top: 283px; width: 886px; height: 300px; height: 78px; }
div.hdmiSynchronize #table_radio_area .table_radio_btn { position: absolute; height: 77px; width: 285px; }
div.hdmiSynchronize #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 285px; }
div.hdmiSynchronize #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { /*background: rgb(210,51,47);*/ border: 5px solid rgb(210,51,47); box-sizing: border-box; }

div.hdmiSynchronize #table_radio_area .table_radio_img {  position: absolute; width: 38px; height: 38px; left: 18px; top: 20px; }
div.hdmiSynchronize #table_radio_area .table_radio_text { position: absolute; top: 24px; left: 74px; font-size: 29px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing:  -1.45px; }
div.hdmiSynchronize #table_radio_area .table_radio_text.focus { color: white; top: 23px; font-family: "RixHead M"; font-size: 31px; letter-spacing: -1.55px; opacity: 1.0; }

div.hdmiSynchronize #table_itemInfo_div {position: absolute; top: 400px; width: 886px; height: 377px; opacity: 0.4; }
div.hdmiSynchronize #table_itemInfo_div.disable { opacity: 0.1; }
div.hdmiSynchronize #table_itemInfo_div .check_img { float: left; }
div.hdmiSynchronize #table_itemInfo_div .setOption_info_text { float: left; font-family: "RixHead L"; font-size: 26px; margin: 6px 0px 14px 15px; color: white; letter-spacing: -1.3px; }
div.hdmiSynchronize #table_itemInfo_div .setOption_subInfo { font-size: 26px; font-family: "RixHead L"; color: white; top: 48px; letter-spacing: -1.3px; }
div.hdmiSynchronize #table_itemInfo_div p { margin-bottom: 18px; }

div.hdmiSynchronize #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.hdmiSynchronize #rightMenu_bg { width: 420px; }

div.hdmiSynchronize #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 297px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.hdmiSynchronize #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.hdmiSynchronize #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
/*div.hdmiSynchronize #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/

div.hdmiSynchronize #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.hdmiSynchronize #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.hdmiSynchronize #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.hdmiSynchronize #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px;}