div.hideChannel #settingTable { position: absolute; left: 133px; top: 123px; width: 1168px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }

div.hideChannel #settingTable.hide { visibility: hidden; }

div.hideChannel #settingTable .cellCheck_img.hide { display:none; }

div.hideChannel #settingTable .channelCell_div { border-bottom: 2px rgba(255,255,255,0.1) solid; }

div.hideChannel #settingTable .cellChannel_number { margin-top: 23px; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.3px; }
div.hideChannel #settingTable .channelCell_div.select .cellChannel_number { color: rgb(243,169,80); font-family: "RixHead M"; }
div.hideChannel #settingTable .channelCell_div.selectList .cellChannel_number { color: rgb(243,169,80); font-family: "RixHead M"; }

div.hideChannel #settingTable .cellChannel_name { margin-top: 25px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.3px; }
div.hideChannel #settingTable .channelCell_div.select .cellChannel_name { font-family: "RixHead M"; }
div.hideChannel #settingTable .channelCell_div.selectList .cellChannel_name { font-family: "RixHead M"; }

div.hideChannel #settingTable .channelCell_div.focus .cellChannel_number,
div.hideChannel #settingTable .channelCell_div.focus .cellChannel_name
{ font-family: "RixHead M"; -webkit-transform: scale(1.1); }
div.hideChannel #settingTable .channelCell_div.focus .cellChannel_number{ margin-top: 21px; }
div.hideChannel #settingTable .channelCell_div.focus .cellChannel_name{ margin-top: 23px; }

/*div.hideChannel #settingTable .channelCell_div.select .cellCheck_img { content: url(../../../images/pop_cb_dim_check.png); }
div.hideChannel #settingTable .channelCell_div.select.focus .cellCheck_img { content: url(../../../images/pop_cb_dim_check_red.png); }*/
/* test */
div.hideChannel #settingTable .channelCell_div .cellCheck_img .cellCheck_img_uncheck { visibility: inherit; }
div.hideChannel #settingTable .channelCell_div .cellCheck_img .cellCheck_img_check { visibility: hidden; }
div.hideChannel #settingTable .channelCell_div .cellCheck_img .cellCheck_img_check_red { visibility: hidden; }

div.hideChannel #settingTable .channelCell_div.select .cellCheck_img .cellCheck_img_uncheck { visibility: hidden; }
div.hideChannel #settingTable .channelCell_div.select .cellCheck_img .cellCheck_img_check { visibility: inherit; }
div.hideChannel #settingTable .channelCell_div.select .cellCheck_img .cellCheck_img_check_red { visibility: hidden; }

div.hideChannel #settingTable .channelCell_div.select.focus .cellCheck_img .cellCheck_img_uncheck { visibility: hidden; }
div.hideChannel #settingTable .channelCell_div.select.focus .cellCheck_img .cellCheck_img_check { visibility: hidden; }
div.hideChannel #settingTable .channelCell_div.select.focus .cellCheck_img .cellCheck_img_check_red { visibility: inherit; }


/*div.hideChannel #rightMenu_area { position: fixed; left: 1038px; top: 100px; }*/
div.hideChannel #rightMenu_bg { width: 420px; }


div.hideChannel #rightMenu_text1 { position: absolute; top: 79px; left: 39px; width: 298px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.hideChannel #rightMenu_line { position: absolute; top: 190px; top: 202px; left: 39px; width: 281px; height: 2px; background: white; opacity: 0.1; }

div.hideChannel #rightMenu_text2 { position: absolute; top: 228px; left: 39px; width: 291px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.hideChannel #rightMenu_btn_area_0 { position: absolute; top: 480px; left: 39px; }

div.hideChannel #rightMenu_btn_area_0.hide { visibility: hidden; }

div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_div:nth-child(2) { position: relative; margin-bottom: 63px; }
div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_text { position: absolute; margin-top: 20px; top: 0px; left: 0px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
/*div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_line{  position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/

div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_div.focus .rightMenu_btn_text { color: white; opacity: 1.0; font-family: "RixHead M"; }
/*div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_div.focus .rightMenu_btn_line { visibility: inherit; }*/
div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_div.focus img { visibility: hidden; }
div.hideChannel #rightMenu_btn_area_0 .rightMenu_btn_div.focus { background: rgb(210,51,47); border: 0px;}

div.hideChannel #rightMenu_btn_area_1 { position: absolute; top: 688px; left: 39px; }
div.hideChannel #rightMenu_btn_area_1.hide { visibility: hidden; }
div.hideChannel #rightMenu_btn_area_1 .rightMenu_btn_div { position: relative; margin-bottom: 13px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; width: 282px; height: 66px; box-sizing: border-box;}
div.hideChannel #rightMenu_btn_area_1 .rightMenu_btn_div.focus  { background-color: rgb(210,51,47); border: 0px;}
div.hideChannel #rightMenu_btn_area_1 .rightMenu_btn_text { position: absolute; margin-top: 20px; top: 0px; left: 0px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
/*div.hideChannel #rightMenu_btn_area_1 .rightMenu_btn_line{  position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/

div.hideChannel #rightMenu_btn_area_1 .rightMenu_btn_div.focus .rightMenu_btn_text{ color: white; opacity: 1.0; font-family: "RixHead M"; }
/*div.hideChannel #rightMenu_btn_area_1.focus .rightMenu_btn_line{ visibility: inherit; }*/

div.hideChannel #rightMenu_btnLine { position: absolute; top: 179px; left: 0px; width: 281px; height: 2px; background: white; opacity: 0.1; }

div.hideChannel #settingTableFocus_div { position: absolute; left: 133px; top: 123px; width: 567px; height: 88px; border-top: 5px solid rgb(210,51,47); border-bottom: 5px solid rgb(243,48,43); box-sizing: border-box;}
div.hideChannel #settingTableFocus_div.hide { visibility: hidden; }

div.hideChannel #selectMenu_title { position: absolute; left: 485px; top: 83px; width: 815px; text-align: right; font-size: 27px; font-family: "RixHead M"; color: white; opacity: 0.7; }

div.hideChannel #noSelectOTVChannel_area { visibility: hidden; position: absolute; left: 133px; top: 123px; width: 1168px; height: 825px; border-top: 5px solid rgba(178, 177, 177, 0.25); border-bottom: 5px solid rgba(178, 177, 177, 0.25); }
div.hideChannel #noSelectOTVChannel_area #noSelectOTVChannel_icon_img { position: absolute; left: 540px; top: 295px; }
div.hideChannel #noSelectOTVChannel_area #noSelectOTVChannel_text { position: absolute; width: 1168px; top: 399px; font-size: 33px; font-family: "RixHead L"; text-align: center; color: white; opacity: 0.7; }
div.hideChannel #noSelectOTVChannel_area.show { visibility: inherit; }


