div.infoShowTimer #settingTable { position: absolute; left: 133px; top: 123px;  width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.infoShowTimer #settingTable .table_title { position: absolute; top: 46px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.infoShowTimer #settingTable .table_subTitle { position: absolute; top: 118px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.infoShowTimer #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.infoShowTimer #rightMenu_bg { width: 420px; }

div.infoShowTimer #table_radio_area { position: absolute; top: 221px; width: 385px; height: 500px; }
div.infoShowTimer #table_radio_area .table_radio_btn { position: absolute; height: 77px; width: 385px; }
/*div.infoShowTimer #table_radio_area .table_radio_btn.focus { background: black; opacity: 0}*/
div.infoShowTimer #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 385px; }
div.infoShowTimer #table_radio_area .table_radio_btn.focus .table_radio_btn_bg {border: 5px solid rgb(210,51,47);  box-sizing: border-box; }
div.infoShowTimer #table_radio_area .table_radio_img { float: left; margin: 20px 18px; }
div.infoShowTimer #table_radio_area .table_radio_text { float: left; margin-top: 24px; font-size: 29px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.45px; }
div.infoShowTimer #table_radio_area .table_radio_text.focus { color: white; margin-top: 23px; font-family: "RixHead M"; font-size: 31px; letter-spacing: -1.55px; opacity: 1.0; }

div.infoShowTimer #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.infoShowTimer #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.infoShowTimer #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
div.infoShowTimer #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
/*div.infoShowTimer #rightMenu_btn_area .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/

div.infoShowTimer #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.infoShowTimer #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.infoShowTimer #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }