
#SettingParentalRating #contents #setting_limit_age_area .limit_age_radio.focus { /*background-color: black*/; }

#SettingParentalRating #contents #setting_limit_age_area .limit_age_radio span {
    top: 24px; font-size: 29px; color: rgba(255, 255, 255, 0.7); font-family: "RixHead L"; letter-spacing: -1.45px;
}
#SettingParentalRating #contents #setting_limit_age_area .limit_age_radio.focus span {
    top: 23px; font-size: 31px; color: white; font-family: "RixHead M"; letter-spacing: -1.55px;
}
#SettingParentalRating #contents #setting_limit_age_area .limit_age_radio.focus .limit_age_radio_bg {
    border : 5px solid rgb(210,51,47); box-sizing: border-box;
}


#SettingParentalRating #contents #rightMenu_area .rightMenu_button_div {
    border: thin rgba(160,160,160,0.2) solid; box-sizing : border-box
}

#SettingParentalRating #contents #rightMenu_area .rightMenu_button_div.focus {
    border: 0px;
}

#SettingParentalRating #contents #rightMenu_area #rightMenu_button_area span {
    color: rgba(255, 255, 255, 0.7); font-family: "RixHead L";
}
/*#SettingParentalRating #contents #rightMenu_area #rightMenu_button_area div.focus .rightMenu_button_line {
    border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;
}*/
#SettingParentalRating #contents #rightMenu_area #rightMenu_button_area div.focus span {
    background: rgb(210,51,47); color: white; font-family: "RixHead M";
}
