div.limitWatch #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.limitWatch #settingTable .table_item_div.disable { opacity: 0.3; }
div.limitWatch #settingTable .table_title { position: absolute; margin-top: 55px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.limitWatch #settingTable .table_subInfoText { position: absolute; top: 59px; left: 293px; font-size: 23px; font-family: "RixHead L"; color: white; opacity: 0.4; }
div.limitWatch #settingTable .table_subTitle { position: absolute; margin-top: 39px; font-size:  33px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -1.65px; }
div.limitWatch #settingTable .table_infoText { position: absolute; margin-top: 92px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; }

div.limitWatch #table_radio_area{ position: absolute; margin-top: 129px; width: 1247px; height: 78px; }

div.limitWatch #table_radio_area .table_radio_btn { float: left; height: 77px; width: 285px; }
/*div.limitWatch #table_radio_area .table_radio_btn.focus { background: black; }*/
div.limitWatch #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 285px; }
div.limitWatch #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { border: 5px solid rgb(210,51,47);/* border-top: 5px solid rgb(209,67,63);*/ box-sizing: border-box; }
div.limitWatch #table_radio_area .table_radio_img { position: absolute; width: 38px; height: 38px; margin-left: 18px; margin-top: 20px; }
div.limitWatch #table_radio_area .table_radio_text { position: absolute; float: left; margin-top: 24px; margin-left: 74px; font-size: 29px; height: 34px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing:  -1.45px; }
div.limitWatch #table_radio_area .table_radio_text.focus { color: white; margin-top: 23px; font-family: "RixHead M"; font-size: 31px; letter-spacing: -1.55px; opacity: 1.0; }

div.limitWatch #table_input_area { position: absolute; margin-top: 157px; width: 1247px; height: 145px; }
div.limitWatch #table_input_area .table_input_div { position: absolute; }
div.limitWatch #table_input_area .table_input_text { float: left; margin-top: 20px; margin-right: 43px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; }
div.limitWatch #table_input_area .table_input_img { width: 330px; height: 65px; opacity: 0.3; background-image: url(../../../images/inputbox_unfocus/set_input_w330.png);}
div.limitWatch #table_input_area .table_input_img.focus { opacity: 1.0; background-image: url(../../../images/pop_pw_box_foc.png);}
div.limitWatch #table_input_area .input_text { position: absolute; margin-top: 20px; top: 1px; left: 187px; font-size: 29px; width: 330px; height: 65px; text-align: center; font-family: "RixHead L"; letter-spacing: -1.45px; color: white; opacity: 0.2; }
div.limitWatch #table_input_area .input_text.focus { opacity: 1.0; }
div.limitWatch #table_input_area #start_input_hour,
div.limitWatch #table_input_area #end_input_hour { position: absolute; top: 20px; left: 312px; width: 40px; font-size: 29px; letter-spacing: -1.45px; font-family: "RixHead L"; color: white; opacity: 0.2; }

div.limitWatch #table_input_area #start_input_hour.focus,
div.limitWatch #table_input_area #end_input_hour.focus
{ opacity: 0.2; }
div.limitWatch #table_input_area #start_input_hour.input_focus,
div.limitWatch #table_input_area #end_input_hour.input_focus
{ opacity: 1.0; }
div.limitWatch #table_input_area #start_input_min,
div.limitWatch #table_input_area #end_input_min
{  /* visibility: hidden;*/ position: absolute; top: 20px; left: 360px; width: 40px; font-size: 29px; letter-spacing: -1.45px; font-family: "RixHead L"; color: white; opacity: 0.2; }
div.limitWatch #table_input_area #start_input_min.focus,
div.limitWatch #table_input_area #end_input_min.focus
{ opacity: 0.2; }

div.limitWatch #table_input_area #start_input_min.input_focus,
div.limitWatch #table_input_area #end_input_min.input_focus
{ opacity: 1.0; }

div.limitWatch #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.limitWatch #rightMenu_bg { width: 420px; }
div.limitWatch #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 295px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.limitWatch #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.limitWatch #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
/*div.limitWatch #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.limitWatch #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.limitWatch #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.limitWatch #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.limitWatch #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }