div.settingPassword #settingTable { position: absolute; left: 133px; top: 123px; width: 1654px; height: 835px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }

div.settingPassword #settingTable .table_title { position: absolute; top: 88px; width: 827px; font-size: 48px; color: white; font-family: "RixHead M"; opacity: 0.7; letter-spacing: -2.4px; }
div.settingPassword #settingTable .table_subTitle { position: absolute; top: 158px; font-size: 26px; color: white; font-family: "RixHead L"; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.settingPassword #settingTable .table_btn_area { position: absolute; left: 1326px; top: 96px; width: 328px; height: 66px; }
div.settingPassword #settingTable .table_btn_bg { position: absolute; left: 0px; top: 0px; width: 328px; height: 66px; background: rgb(83,83,83); opacity: 0.8; }
div.settingPassword #settingTable .table_btn_bg.focus { opacity: 1; background-color: rgb(210,51,47);}

div.settingPassword #settingTable .table_btn_text { margin-top: 19px; font-size: 30px; color: white; font-family: "RixHead L"; opacity: 0.7; text-align: center; letter-spacing: -1.5px; }
div.settingPassword #settingTable .table_btn_text.focus { font-family: "RixHead M"; }