div.receiveChecking #settingTable { position: absolute; left: 123px; top: 136px; width: 886px; height: 783px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }

div.receiveChecking #settingTable .table_title { position: absolute; top: 49px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.receiveChecking #settingTable .table_subTitle { position: absolute; top: 121px; height: 29px; font-size:  26px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.receiveChecking #receiveChecking_area { position: absolute; visibility: hidden; top: 197px; }
div.receiveChecking #receiveChecking_area.show { visibility: inherit; }
div.receiveChecking #receiveChecking_QRImg { float: left; width: 375px; height: 375px; background-color: white; }
div.receiveChecking #receiveChecking_textArea { float: left; margin-left: 49px; }
div.receiveChecking #receiveChecking_textArea .receiveChecking_text { font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; margin-bottom: 21px; letter-spacing: -1.3px; }

div.receiveChecking #rightMenu_bg { width: 420px; }
div.receiveChecking #rightMenu_text { position: absolute; top: 79px;  left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.receiveChecking #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.receiveChecking #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
div.receiveChecking #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.receiveChecking #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.receiveChecking #rightMenu_btn_area .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
/*div.receiveChecking #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.receiveChecking #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }
