
div.setResolution #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.setResolution #settingTable .table_title { position: absolute; margin-top: 47px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.setResolution #settingTable .table_subTitle {  position: absolute; margin-top: 31px; font-size: 33px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -1.65px; }
div.setResolution #settingTable .table_infoText { position: absolute; margin-top: 119px; font-size:  26px; width: 886px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.setResolution #table_radio_area { position: absolute; margin-top: 89px; width: 886px; height: 78px; }
div.setResolution #table_radio_area .table_radio_btn { float: left; height: 77px; width: 285px; }
/*div.setResolution #table_radio_area .table_radio_btn.focus { background: white; }*/
div.setResolution #table_radio_area .table_radio_btn .table_radio_btn_bg { position: absolute; height: 77px; width: 285px; }
div.setResolution #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { border: 5px solid rgb(210,51,47); box-sizing: border-box; }
div.setResolution #table_radio_area .table_radio_img { position: absolute; width: 38px; height: 38px; left: 18px; top: 20px; }
div.setResolution #table_radio_area .table_radio_text { position: absolute; top: 24px; width: 210px; left: 74px; font-size: 29px; height: 34px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing:  -1.45px; }
div.setResolution #table_radio_area .table_radio_text.focus { color: white; top: 23px; font-family: "RixHead M"; font-size: 31px; opacity: 1.0; letter-spacing: -1.55px; }

/*div.setResolution #rightMenu_area { position: fixed; left: 1038px; top: 100px; }*/
div.setResolution #rightMenu_bg { width: 420px; }
div.setResolution #rightMenu_text1 { position: absolute; top: 79px; left: 39px; width: 298px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.setResolution #rightMenu_line { position: absolute; left: 39px; top: 175px; width: 281px; height: 2px; background: white; opacity: 0.1; }
div.setResolution #rightMenu_text2 { position: absolute; top: 205px; left: 39px; width: 291px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.setResolution #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.setResolution #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
/*div.setResolution #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.setResolution #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.setResolution #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
/*div.setResolution #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.setResolution #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }