div.screenNarration #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.screenNarration #settingTable .table_title { position: absolute; top: 47px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.screenNarration #settingTable .table_subTitle { position: absolute; top: 119px; font-size:  26px; width: 886px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.screenNarration #table_radio_area { position: absolute; top: 218px; height: 78px; width: 570px; }

div.screenNarration #table_radio_area .table_radio_btn { position: absolute; float: left; height: 77px; width: 285px; }
/*div.screenNarration #table_radio_area .table_radio_btn.focus {background: white; }*/
div.screenNarration #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 285px; }
div.screenNarration #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { border : 5px solid rgb(210,51,47); box-sizing: border-box; }
div.screenNarration #table_radio_area .table_radio_img { float: left; margin: 20px 18px; }
div.screenNarration #table_radio_area .table_radio_text { float: left; margin-top: 24px; font-size: 29px; height: 33px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.45px; }
div.screenNarration #table_radio_area .table_radio_text.focus { color: white; margin-top: 23px; font-family: "RixHead M"; font-size: 31px; opacity: 1.0; letter-spacing: -1.55px; }


div.screenNarration #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.screenNarration #rightMenu_bg { width: 420px; }

div.screenNarration #rightMenu_text1 { position: absolute; top: 79px; left: 39px; width: 280px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.screenNarration #rightMenu_line { position: absolute; top: 207px; left: 39px; width: 281px; height: 2px; background: white; opacity: 0.1; }
div.screenNarration #rightMenu_text2 { position: absolute; top: 234px; left: 39px; width: 268px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.screenNarration #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.screenNarration #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
/*div.screenNarration #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.screenNarration #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.screenNarration #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; opacity: 1.0; font-family: "RixHead M"; }
/*div.screenNarration #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }*/
div.screenNarration #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }

