div.setBeacon #beaconSetting_area { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }

div.setBeacon #beaconSetting_div_0 { height: 410px; width: 1247px; border-bottom: 2px solid rgba(255,255,255,0.1); }

div.setBeacon .beaconSetting_title { margin-top: 47px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }

div.setBeacon .beaconSetting_subTitle { margin-top: 24px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; }

div.setBeacon #beaconSetting_div_0 .beaconSetting_btnText { position: absolute; top: 15px; left: 35px; font-size: 40px; font-family: "RixHead L"; letter-spacing: -2.0px; color: white; }

div.setBeacon #beaconSetting_div_0 .beaconSetting_btnLine { position: absolute; left: 0px; top: 0px; width:100px; height: 73px; }

div.setBeacon #beaconSetting_minusBtn { position: absolute; left: 0px; top: 185px; }

div.setBeacon #beaconSetting_minusBtn.focus { background: rgb(210,51,47); }

/*div.setBeacon #beaconSetting_minusBtn.focus div {   border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; }*/

div.setBeacon #beaconSetting_minusBtn.focus img { visibility: hidden; }

div.setBeacon #beaconSetting_minusBtn.focus .beaconSetting_btnText { color: white; }

div.setBeacon #beaconSetting_stepArea { position: absolute; left: 110px; top: 198px; }

div.setBeacon #beaconSetting_stepArea .beaconSetting_stepBG { position: fixed; left: 243px; top: 326px; }

div.setBeacon #beaconSetting_stepArea .beaconSetting_stepFocus_div { visibility: hidden; float: left; margin-top: 9px; margin-left: 9px; margin-right: 4px; width: 56px; height: 27px; background: white; }

div.setBeacon #beaconSetting_stepArea .beaconSetting_stepFocus_div.show { visibility: inherit; }

div.setBeacon #beaconSetting_plusBtn { position: absolute; left: 476px; top: 185px; }

/*div.setBeacon #beaconSetting_plusBtn.focus div { border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; }*/

div.setBeacon #beaconSetting_plusBtn.focus { background: rgb(210,51,47); }

div.setBeacon #beaconSetting_plusBtn.focus img { visibility: hidden; }

div.setBeacon #beaconSetting_plusBtn.focus .beaconSetting_btnText { color: white; }

div.setBeacon #beaconSetting_settingValue {
    position: absolute;
    left: 595px;
    top: 208px;
    font-size: 26px;
    font-family: "RixHead L";
    letter-spacing: -1.3px;

    color: white;
    opacity: 0.4;
}

div.setBeacon #beaconSetting_infoDiv_0 {
    position: absolute;
    left: 0px;
    top: 286px;
    font-size: 23px;
    letter-spacing: -1.15px;
    color: white;
    opacity: 0.4;
}

div.setBeacon #beaconSetting_inputArea {
    margin-top: 45px;
   /* opacity: 1.0;*/
}
div.setBeacon #beaconSetting_inputArea .beconSetting_inputDiv{
    opacity: 0.3;
}
div.setBeacon #beaconSetting_inputArea.focus .beconSetting_inputDiv {
    opacity: 1.0;
}

div.setBeacon #beaconSetting_inputArea .beaconSetting_inputTitleDiv{
    background-color: rgb(62,62,62);
}
div.setBeacon #beaconSetting_inputArea.focus .beaconSetting_inputTitleDiv{
    background-color: rgb(210,51,47);
}

div.setBeacon #beaconSetting_inputArea .beaconSetting_inputTitle {
    float: left;
    width: 158px;
    margin-top: 21px;
    font-size: 26px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    letter-spacing: -1.3px;
    text-align: center;
}
div.setBeacon #beaconSetting_inputArea.focus .beaconSetting_inputTitle {
    opacity: 1.0;
    font-family: "RixHead M";
}

div.setBeacon #beaconSetting_inputArea .beaconSetting_inputDiv {
    position: relative;
    float: left;
    margin-left: 15px;
}

div.setBeacon #beaconSetting_inputArea .beaconSetting_inputBG {

    background-image: url(../../../images/setting/set_input_w330.png);
}
div.setBeacon #beaconSetting_inputArea.focus .beaconSetting_inputBG {
    background-image: url(../../../images/inputbox_unfocus/set_input_w330.png);
}

div.setBeacon #beaconSetting_inputArea #beaconSetting_inputValue {
    position: absolute;
    left: 0px;
    top: 19px;
    width: 330px;
    text-align: center;
    font-size: 27px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.2;
    letter-spacing: -1.35px;

}

/*div.setBeacon #rightMenu_area {
    position: fixed;
    left: 1038px;
    top: 100px;
}*/

div.setBeacon #beaconSetting_infoDiv_1 {
    position: absolute;
    bottom: 96px;
    font-size: 23px;
    font-family: "RixHead L";
    letter-spacing: -1.15px;
    color: white;
    opacity: 0.3;
}

div.setBeacon #beaconSetting_infoContents {
    position: absolute;
    left: 124px;
    top: 702px;
    font-size: 23px;
    font-family: "RixHead L";
    letter-spacing: -1.15px;
    line-height: 30px;
    color: white;
    opacity: 0.3;
}

div.setBeacon #rightMenu_bg {
    width: 420px;
}

div.setBeacon #rightMenu_text {
    position: absolute;
    top: 79px;
    left: 39px;
    width: 274px;
    font-size: 26px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    line-height: 35px;
    letter-spacing: -1.3px;
}

div.setBeacon #rightMenu_btn_area {
    position: absolute;
    top: 688px;
    left: 39px;
}

div.setBeacon #rightMenu_btn_area .rightMenu_btn_div {
    position: relative;
    margin-bottom: 13px;
    /*[sw.nam] 2017.03.21 추가*/
    width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;
}

/*div.setBeacon #rightMenu_btn_area .rightMenu_btn_line {*/
    /*position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden;*/
/*}*/

div.setBeacon #rightMenu_btn_area .rightMenu_btn_text {
    position: absolute;
    left: 116px;
    top: 20px;
    font-size: 30px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.7;
    letter-spacing: -1.5px;
}

div.setBeacon #rightMenu_btn_area .rightMenu_btn_div.focus .rightMenu_btn_text {
    color: white;
    opacity: 1.0;
    font-family: "RixHead M";
}
/*div.setBeacon #rightMenu_btn_area .rightMenu_btn_div.focus .rightMenu_btn_line {*/
    /*visibility: inherit;*/
/*}*/

div.setBeacon #rightMenu_btn_area .rightMenu_btn_div.focus img {
    visibility: hidden;
}

div.setBeacon #rightMenu_btn_area .rightMenu_btn_div.focus {
    background: rgb(210,51,47);
    border: 0px;
}