div.setRepeater #settingTable { position: absolute; left: 133px; top: 123px; width: 1168px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.setRepeater #settingTable #table_title { position: absolute; top: 49px; font-size: 48px; height: 52px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.setRepeater #settingTable #table_subTitle { position: absolute; top: 121px; font-size:  26px; height: 30px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.setRepeater #settingTable #table_subTitle.hide { visibility: hidden; }

div.setRepeater #rightMenu_bg { width: 420px; }


div.setRepeater #table_radio_area { position: absolute; top: 121px; width: 1168px; height:680px; }
div.setRepeater #table_radio_area .table_radio_btn { float: left; height: 77px; width: 567px; margin-top: 20px; }
div.setRepeater #table_radio_area .table_radio_btn.focus { /*background: rgb(210,51,47);*/ }
div.setRepeater #table_radio_area .table_radio_img { float: left; margin: 20px 18px; }
div.setRepeater #table_radio_area .table_radio_text { float: left; margin-top: 24px; font-size: 29px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.45px; width: 144px; height: 33px; }
div.setRepeater #table_radio_area .table_radio_text.focus { margin-top: 23px; font-family: "RixHead M"; font-size: 31px; letter-spacing: -1.55px; width: 155px; height: 32px; opacity: 1.0; }
div.setRepeater #table_radio_area .table_radio_btn.focus .table_radio_btn_line{ border: 6px solid rgb(210,51,47); box-sizing: border-box; }

div.setRepeater #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }

div.setRepeater #rightMenu_btn_area0,
div.setRepeater #rightMenu_btn_area3,
div.setRepeater #rightMenu_btn_area4
{  position: absolute; top: 688px; left: 39px; }

div.setRepeater #rightMenu_btn_area1 { position: absolute; top: 609px; left: 39px; }
div.setRepeater #rightMenu_btn_area2 { position: absolute; top: 770px; left: 39px; }

div.setRepeater #rightMenu_btn_area0 .rightMenu_btn_div,
div.setRepeater #rightMenu_btn_area1 .rightMenu_btn_div,
div.setRepeater #rightMenu_btn_area2 .rightMenu_btn_div,
div.setRepeater #rightMenu_btn_area3 .rightMenu_btn_div,
div.setRepeater #rightMenu_btn_area4 .rightMenu_btn_div
{  position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }

div.setRepeater #rightMenu_btn_area0 .rightMenu_btn_div.focus,
div.setRepeater #rightMenu_btn_area1 .rightMenu_btn_div.focus,
div.setRepeater #rightMenu_btn_area2 .rightMenu_btn_div.focus,
div.setRepeater #rightMenu_btn_area3 .rightMenu_btn_div.focus,
div.setRepeater #rightMenu_btn_area4 .rightMenu_btn_div.focus
{ border: 0px;}

div.setRepeater #rightMenu_btn_area0 .rightMenu_btn_text,
div.setRepeater #rightMenu_btn_area1 .rightMenu_btn_text,
div.setRepeater #rightMenu_btn_area2 .rightMenu_btn_text,
div.setRepeater #rightMenu_btn_area3 .rightMenu_btn_text,
div.setRepeater #rightMenu_btn_area4 .rightMenu_btn_text
{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px;  font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }

div.setRepeater #rightMenu_btn_area0 .rightMenu_btn_text.focus,
div.setRepeater #rightMenu_btn_area1 .rightMenu_btn_text.focus,
div.setRepeater #rightMenu_btn_area2 .rightMenu_btn_text.focus,
div.setRepeater #rightMenu_btn_area3 .rightMenu_btn_text.focus,
div.setRepeater #rightMenu_btn_area4 .rightMenu_btn_text.focus
{ background: rgb(210,51,47); color: white; font-family: "RixHead M"; }

/*div.setRepeater .rightMenu_btn_div .rightMenu_btn_line { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden }*/
/*div.setRepeater .rightMenu_btn_div.focus .rightMenu_btn_line.focus {visibility: inherit;}*/


div.setRepeater #repeatInfo_area { position: absolute; top: 231px; left: 0px; width: 886px; height: 506px; }

div.setRepeater #repeatInfo_levelTitle,
div.setRepeater #repeatInfo_qualityTitle { margin-bottom: 24px; font-size: 27px; height: 31px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -1.35px; }

div.setRepeater #repeatInfo_levelBarArea { width: 886px; }
div.setRepeater .repeatInfo_barValueText { float: left; font-size: 24px; height: 27px; font-family: "RixHead L"; color: white; opacity: 0.3; letter-spacing: -1.2px; }

div.setRepeater .repeatInfo_barGray { float: left; width: 310px; height: 20px; background: white; opacity: 0.15; margin: 3px 30px; }

div.setRepeater #repeatInfo_levelBar,
div.setRepeater #repeatInfo_qualityBar { position: absolute; width: 101px; height: 20px; background: white; top: 3px; left: 43px; }

div.setRepeater #repeatInfo_levelValue,
div.setRepeater #repeatInfo_qualityValue { float: left; font-size: 30px; height: 33px;font-family: "RixHead M"; color: white; opacity: 0.7; margin-left: 55px; letter-spacing: -1.5px; }

div.setRepeater #repeatInfo_qualityArea { position: relative; margin-top: 60px; }

div.setRepeater #repeatInfo_detailArea { margin-top: 54px; }
div.setRepeater #repeatInfo_detailArea .repeatInfo_detailText { position: absolute; font-size: 27px; height: 31px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -1.35px; }

div.setRepeater #repeatSetting_area { position: absolute; top: 194px; height: 546px; }
div.setRepeater #repeatSetting_area .repeatSetting_div { position: relative; width: 645px; height: 80px; margin-bottom: 11px; }
div.setRepeater #repeatSetting_area .repeatSetting_btnTitle { float: left; margin-top: 25px; font-size: 27px; height: 31px;font-family: "RixHead M"; color: white; opacity: 0.7; float: left; width: 213px; letter-spacing: -1.35px; }
div.setRepeater #repeatSetting_area .repeatSetting_subTitle { float: left; margin-top: 28px; margin-left: 15px; font-size: 27px;height: 31px; font-family: "RixHead M"; color: white; opacity: 0.3;  letter-spacing: -1.35px; }
div.setRepeater #repeatSetting_area .repeatSetting_btnDiv { float: left; width: 315px; height: 76px; background-image: url(../../../images/pop_btn_menu_w315.png); }
div.setRepeater #repeatSetting_area .repeatSetting_btnDiv.focus { background: rgb(210,51,47);/* border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;  */}
div.setRepeater #repeatSetting_area .repeatSetting_btnValue { position: absolute; top: 25px; left: 212px; width: 315px; font-size: 29px; height: 32px;font-family: "RixHead L"; color: white; opacity: 0.7; text-align: center; letter-spacing: -1.45px; }

div.setRepeater #repeatSetting_area .repeatSetting_btnValue.focus { color: white; opacity: 1.0; font-family: "RixHead M"; }

div.setRepeater #repeatSetting_area #repeatSetting_focusArrow_area { visibility: hidden; position: absolute; left: 213px; width: 315px; height: 76px; top: 0px; }
div.setRepeater #repeatSetting_area #repeatSetting_focusArrow_area.focus { visibility: inherit; }

div.setRepeater #repeatSetting_focusArrow_left { float: left; margin-top: 15px; margin-left: 2px; }
div.setRepeater #repeatSetting_focusArrow_right { float: right; margin-top: 15px; margin-right: 2px; }
div.setRepeater #repeatSetting_focusArrow_area.hide { visibility: hidden; }

div.setRepeater #rightMenu_btn_area0.hide,
div.setRepeater #rightMenu_btn_area1.hide,
div.setRepeater #rightMenu_btn_area2.hide,
div.setRepeater #rightMenu_btn_area3.hide,
div.setRepeater #rightMenu_btn_area4.hide
{  visibility: hidden; }

div.setRepeater #table_radio_area.hide,
div.setRepeater #repeatInfo_area.hide,
div.setRepeater #repeatSetting_area.hide
{ visibility: hidden; }
