
div.startChannel #contents #setting_start_channel_area #start_channel_radio_area .start_channel_radio.focus .table_radio_btn_bg {
   /* background: white;*/ border: 5px solid rgb(210,51,47); box-sizing: border-box;
}
div.startChannel #contents #setting_start_channel_area #start_channel_radio_area .start_channel_radio span {
    color: rgba(255, 255, 255, 0.7);
    top: 24px;
    font-family: "RixHead L";
    font-size: 29px;
}
div.startChannel #contents #setting_start_channel_area #start_channel_radio_area .start_channel_radio.focus span {
    color: white;
    top: 23px;
    font-family: "RixHead M";
    font-size: 31px;
}

div.startChannel #contents #rightMenu_area #rightMenu_btn_area .rightMenu_btn {
    background-color: rgba(160, 160, 160, 0.3);   box-sizing : border-box;
    border: thin rgba(160, 160, 160, 0.2) solid; }

div.startChannel #contents #rightMenu_area #rightMenu_btn_area .rightMenu_btn.focus {
    border: 0px;
}

div.startChannel #contents #rightMenu_area #rightMenu_btn_area .rightMenu_btn.focus .rightMenu_btn_line {
    background-color: rgb(210,51,47);/* border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;*/
}
div.startChannel #contents #rightMenu_area #rightMenu_btn_area .rightMenu_btn span {
    color: rgba(255, 255, 255, 0.7);
    font-family: "RixHead L";
}
div.startChannel #contents #rightMenu_area #rightMenu_btn_area .rightMenu_btn.focus span {
    color: white;
    font-family: "RixHead M";
}