div.setSubtitle #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }

div.setSubtitle #settingTable .table_title { position: absolute; top: 35px; font-size: 48px; height: 51px;  font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.setSubtitle #settingTable .table_subTitle { position: absolute; top: 26px; font-size:  33px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -1.65px; }
div.setSubtitle #settingTable .table_infoText { position: absolute; top: 105px; font-size: 26px; color: white; opacity: 0.4; font-family: "RixHead L"; letter-spacing: -1.3px; line-height: 35px; }


div.setSubtitle #settingTable .table_item_div.disable { opacity: 0.3; }

div.setSubtitle #table_radio_area { position: absolute; top: 88px; width: 1247px; height: 78px; }
div.setSubtitle #table_radio_area .table_radio_btn { float: left; height: 77px; width: 285px; }
div.setSubtitle #table_radio_area .table_radio_btn .table_radio_btn_bg{ position: absolute; float: left; height: 77px; width: 285px; }
div.setSubtitle #table_radio_area .table_radio_btn.focus .table_radio_btn_bg { border: 5px solid rgb(210,51,47); box-sizing: border-box; }
div.setSubtitle #table_radio_area .table_radio_img { float: left; margin: 20px 18px; }
div.setSubtitle #table_radio_area .table_radio_text { float: left; margin-top: 24px; font-size: 29px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.45px; }
/*div.setSubtitle .table_radio_btn.focus { background: white; }*/

div.setSubtitle #table_radio_area .table_radio_btn.focus .table_radio_text { color: white; margin-top: 23px; font-family: "RixHead M"; letter-spacing: -1.55px; font-size: 31px; opacity: 1.0; }

div.setSubtitle #rightMenu_area { position: fixed; left: 1433px; top: 87px; }
div.setSubtitle #rightMenu_bg { width: 420px; }

div.setSubtitle #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 285px; font-size: 26px; font-family: "RixHead L";  color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.setSubtitle #rightMenu_btn_area { position: absolute; top: 688px; left: 39px; }
div.setSubtitle #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box;}
div.setSubtitle #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 116px; top: 20px; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
/*div.setSubtitle #rightMenu_btn_area .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.setSubtitle #rightMenu_btn_area .rightMenu_btn_div.focus { background: rgb(210,51,47); border: 0px;}
div.setSubtitle #rightMenu_btn_area .rightMenu_btn_div.focus .rightMenu_btn_text { color: white; opacity: 1.0; font-family: "RixHead M"; }
/*div.setSubtitle #rightMenu_btn_area .rightMenu_btn_div.focus .rightMenu_btn_line{ visibility: inherit; }*/


/* 2018.01.17 sw.nam 자동번역 언어 신규 GUI 추가 .*/

/* 선택된 영역 */
div.setSubtitle .translate_selectedArea .boxFocusBg{ visibility: hidden;}
div.setSubtitle .translate_selectedArea.focus .boxFocusBg{ visibility: inherit;}
div.setSubtitle .translate_selectedArea .boxText{ font-size: 26px; font-family: "RixHead L"; letter-spacing: -1.3px; color: white; opacity: 0.7;}
div.setSubtitle .translate_selectedArea.focus .boxText { font-family: "RixHead M"; opacity: 1.0;}

/* 선택하는 영역(선택 팝업)*/
div.setSubtitle .translate_selectiveArea{visibility: hidden ;}
div.setSubtitle .translate_selectiveArea.focus {visibility: inherit ;}
div.setSubtitle .translate_selectiveArea .boxCheckImg {visibility: hidden ;}

div.setSubtitle .translate_selectiveArea .boxFocusBg{visibility: hidden;}
div.setSubtitle .translate_selectiveArea.focus .box.focus .boxFocusBg{ visibility: inherit;}

div.setSubtitle .translate_selectiveArea .boxText{ font-size: 26px; font-family: "RixHead L"; letter-spacing: -1.3px; color: white; opacity: 0.7;}
div.setSubtitle .translate_selectiveArea.focus .box.focus .boxText { font-family: "RixHead M"; opacity: 1.0;}

div.setSubtitle .translate_selectiveArea .box.isSelected .boxCheckImg {visibility: inherit ;}