
div.systemInfo #settingTable_area { position: fixed; left: 133px; top: 123px; width: 1168px; height: 825px; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }

div.systemInfo #settingTable { position: absolute; top: 59px; width: 1168px; border-collapse: collapse; }


div.systemInfo #settingTable .infoTitle_text{ font-size: 27px; font-family: "RixHead L"; color: white; opacity: 0.3; width: 262px; height: 37px; line-height: 37px; letter-spacing: -1.35px; }
div.systemInfo #settingTable .infoContents_text{ position: absolute; width: 800px; height: 37px; line-height: 37px; font-size: 27px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -1.35px; }
div.systemInfo #settingTable .infoContents_text:nth-child(0){ font-size: 27px; font-family: "RixHead B"; color: #DDAF78; opacity: 0.3; }

/*div.systemInfo #rightMenu_area { position: fixed; left: 1038px; top: 100px; }*/
div.systemInfo #rightMenu_bg { width: 420px; }
div.systemInfo #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 274px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.systemInfo #rightMenu_btn_area { position: absolute; top: 603px; left: 39px; }
div.systemInfo #rightMenu_btn_area .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
/*div.systemInfo #rightMenu_btn_area .rightMenu_btn_div .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/
div.systemInfo #rightMenu_btn_area .rightMenu_btn_text { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; text-align: center; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
div.systemInfo #rightMenu_btn_area .rightMenu_btn_text.focus { background: rgb(210,51,47); color: white; font-family: "RixHead M"; }
div.systemInfo #rightMenu_btn_area .rightMenu_btn_line.focus { visibility: inherit; }
div.systemInfo #rightMenu_btn_area .rightMenu_btn_div.focus { border: 0px; }