div.usbConnect #settingTable { position: absolute; left: 133px; top: 123px; width: 1247px; height: 825px; border-collapse: collapse; border-top:5px solid rgba(178, 177, 177, 0.25); border-bottom:5px solid rgba(178, 177, 177, 0.25); }
div.usbConnect #settingTable .table_title { position: absolute; top: 47px; font-size: 48px; font-family: "RixHead M"; color: white; opacity: 0.7; letter-spacing: -2.4px; }
div.usbConnect #settingTable .table_subTitle { position: absolute; top: 119px; font-size:  26px; width: 886px; font-family: "RixHead L"; color: white; opacity: 0.4; letter-spacing: -1.3px; line-height: 35px; }

div.usbConnect #rightMenu_bg { width: 420px; }
div.usbConnect #rightMenu_text { position: absolute; top: 79px; left: 39px; width: 275px; font-size: 26px; font-family: "RixHead L"; color: white; opacity: 0.4; line-height: 35px; letter-spacing: -1.3px; }
div.usbConnect #rightMenu_btn_area_0 { position: absolute; top: 688px; left: 39px; }
div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_div { position: relative; margin-bottom: 13px; width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid; box-sizing: border-box; }
div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_text { position: absolute; left: 116px; top: 20px; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 0.7; letter-spacing: -1.5px; }
/*div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_line{ position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box; visibility: hidden; }*/

div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_div.focus .rightMenu_btn_text { color: white; opacity: 1.0; font-family: "RixHead M"; }
div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_div.focus img { visibility: hidden; }
div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_div.focus { background: rgb(210,51,47); border: 0px;}
/*div.usbConnect #rightMenu_btn_area_0 .rightMenu_btn_div.focus .rightMenu_btn_line { visibility: inherit; }*/

div.usbConnect #rightMenu_btn_area_1 { position: absolute; top: 731px; left: 39px; }
div.usbConnect #rightMenu_btn_area_1 .rightMenu_btn_div { position: relative; width: 282px; height: 66px; margin-bottom: 13px; background: rgb(210,51,47); }
div.usbConnect #rightMenu_btn_area_1 .rightMenu_btn_text { position: absolute; left: 116px; top: 20px; font-size: 30px; font-family: "RixHead L"; color: white; opacity: 1.0; letter-spacing: -1.5px; font-family: "RixHead M"; }
/*div.usbConnect #rightMenu_btn_area_1 .rightMenu_btn_line { position: absolute; left: 0px; top: 0px; line-height: 68px; width: 282px; height: 66px; border-bottom : 5px solid rgb(209,67,63); border-top: 5px solid rgb(209,67,63); box-sizing: border-box;}*/

div.usbConnect #rightMenu_btn_area_1 .rightMenu_btn_div img { visibility: hidden; }

div.usbConnect #rightMenu_btn_area_1.hide, div.usbConnect #rightMenu_btn_area_0.hide { visibility: hidden; }
