div.voiceRecognition #settingTable {
    position: fixed;
    left: 123px;
    top: 136px;
    width: 886px;
    border-collapse: collapse;
    border-top:5px solid rgba(178, 177, 177, 0.25);
    border-bottom:5px solid rgba(178, 177, 177, 0.25);
}

div.voiceRecognition tr {
    border-bottom:2px solid rgba(255, 255, 255, 0.1);
}

div.voiceRecognition #settingTable .table_title {
    margin-top: 49px;
    font-size: 48px;
    font-family: "RixHead M";
    letter-spacing: -2.4px;
    color: white;
    opacity: 0.7;
}

div.voiceRecognition #settingTable .table_subTitle {
    margin-top: 24px;
    font-size:  26px;
    font-family: "RixHead L";
    letter-spacing: -1.3px;
    color: white;
    opacity: 0.4;
    line-height: 35px;
}

div.voiceRecognition #rightMenu_area {
    position: fixed;
    left: 1038px;
    top: 100px;
}

div.voiceRecognition #rightMenu_bg {
    width: 420px;
}

div.voiceRecognition #table_radio_area1 {
    margin-top: 100px;
    margin-bottom: 341px;
    width: 346px;
}

div.voiceRecognition #table_radio_area1 .table_radio_btn {
    float: left;
    height: 77px;
    width: 346px;
    margin-top: 20px;
}

div.voiceRecognition #table_radio_area1 .table_radio_btn.focus {
    background: white;
}

div.voiceRecognition #table_radio_area1 .table_radio_img {
    float: left;
    margin: 20px 18px;
}

div.voiceRecognition #table_radio_area1 .table_radio_text {
    float: left;
    margin-top: 24px;
    font-size: 29px;
    font-family: "RixHead L";
    letter-spacing: -1.45px;
    color: white;
    opacity: 0.7;
}

div.voiceRecognition #table_radio_area1 .table_radio_text.focus {
    color: #49443C;
    margin-top: 23px;
    font-family: "RixHead M";
    font-size: 31px;
    letter-spacing: -1.55px;
    opacity: 1.0;
}

div.voiceRecognition #rightMenu_text {
    position: absolute;
    top: 79px;
    left: 39px;
    width: 274px;
    font-size: 26px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    line-height: 35px;
    letter-spacing: -1.3px;
}

div.voiceRecognition #rightMenu_btn_area {
    position: absolute;
    top: 648px;
    left: 39px;
}

div.voiceRecognition #rightMenu_btn_area .rightMenu_btn_div {
    position: relative;
    margin-bottom: 13px;
    /*[sw.nam] 2017.03.21 추가*/
    width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid;
}

div.voiceRecognition #rightMenu_btn_area .rightMenu_btn_text {
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 68px;
    width: 282px;
    height: 66px;
    text-align: center;
    font-size: 30px;
    font-family: "RixHead L";
    letter-spacing: -1.5px;
    color: white;
    opacity: 0.7;
}

div.voiceRecognition #rightMenu_btn_area .rightMenu_btn_text.focus {
    background: white;
    color: black;
}