div.volumeSet #settingTable {
    position: fixed;
    left: 123px;
    top: 136px;
    width: 886px;
    height: 794px;
    border-collapse: collapse;
    border-top:5px solid rgba(178, 177, 177, 0.25);
    border-bottom:5px solid rgba(178, 177, 177, 0.25);
}

div.volumeSet #settingTable .table_title {
    margin-top: 49px;
    font-size: 48px;
    font-family: "RixHead M";
    color: white;
    opacity: 0.7;
    letter-spacing: -2.4px;
}

div.volumeSet #settingTable .table_subTitle {
    margin-top: 24px;
    margin-bottom: 45px;
    font-size:  26px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    line-height: 35px;
    letter-spacing: -1.3px;
}

div.volumeSet #volumeStep_area {
    position: absolute;
    top: 246px;
    left: 74px;
    width: 10px;
    height: 477px;
    border-collapse: collapse;
}

div.volumeSet #volumeStep_area tr {
    height: 45px;
    border-top: 3px solid #504D4B;
    border-bottom: 3px solid #504D4B;
}

div.volumeSet #volumeUp_text {
    position: absolute;
    top: 235px;
    left: 103px;
    font-size: 24px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    letter-spacing: -1.2px;
}

div.volumeSet #volumeDown_text {
    position: absolute;
    top: 707px;
    left: 103px;
    font-size: 24px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    letter-spacing: -1.2px;
}

div.volumeSet #volumeBar_img {
    margin-left: 35px;
    margin-bottom: 40px;
    width: 26px;
    opacity: 0.07;
}

div.volumeSet #volumeBar_center_img {
    width: 26px;
    height: 490px;
    margin: -3px 0px;
}

div.volumeSet #volumeShow_div {
    position: absolute;
    top: 366px;
    left: 260px;
}

div.volumeSet #volumeIcon_img {
    float: left;
}

div.volumeSet #volumeSet_text {
    float: left;
    font-size: 108px;
    font-family: "RixHead B";
    color: white;
    opacity: 0.15;
    margin: 27px 23px;
}

div.volumeSet #volumeFocus_area {
    position: absolute;
    top: 661px;
    left: 12px;
    width: 72px;
    height: auto;
}

div.volumeSet #volumeFocus_area #volumeFocus_text {
    position: absolute;
    top: 40px;
    left: 18px;
    width: 36px;
    font-family: "RixHead B";
    text-align: center;
    font-size: 30px;
}

div.volumeSet #volumeFocus_area #volumeUpArrow_img {
    margin-left: 26px;
    margin-bottom: 5px;
}

div.volumeSet #volumeFocus_area #volumeDownArrow_img {
    margin-left: 26px;
    margin-top: 5px;
}

div.volumeSet #volumeUnFocus_area {
    position: absolute;
    top: 693px;
    left: 22px;
    width: 53px;
    height: 53px;
}
div.volumeSet #volumeUnFocus_area #volumeUnFocus_text{
    position: absolute;
    left: 19.5px;
    top: 11.5px;
    height: 24px;
    font-family: "RixHead B";
    font-size: 22px;
    letter-spacing: -1.1px;
    color: rgba(255,255,255,0.7);
}

div.volumeSet #rightMenu_area {
    position: fixed;
    left: 1038px;
    top: 100px;
}

div.volumeSet #rightMenu_bg {
    width: 420px;
}

div.volumeSet #rightMenu_text {
    position: absolute;
    top: 79px;
    left: 39px;
    width: 274px;
    font-size: 26px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.4;
    line-height: 35px;
    letter-spacing: -1.3px;
}

div.volumeSet #rightMenu_btn_area {
    position: absolute;
    top: 648px;
    left: 39px;
}

div.volumeSet #rightMenu_btn_area .rightMenu_btn_div {
    position: relative;
    margin-bottom: 13px;
    /*[sw.nam] 2017.03.21 추가*/
    width: 282px; height: 66px; background-color: rgba(160,160,160,0.3); border: thin rgba(160,160,160,0.2) solid;
}

div.volumeSet #rightMenu_btn_area .rightMenu_btn_text {
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 68px;
    width: 282px;
    height: 66px;
    text-align: center;
    font-size: 30px;
    font-family: "RixHead L";
    color: white;
    opacity: 0.7;
    letter-spacing: -1.3px;
}

div.volumeSet #rightMenu_btn_area .rightMenu_btn_text.focus {
    background: white;
    color: black;
    font-family: "RixHead M";
}