div.settingMenu {overflow-x: hidden;overflow-y: hidden;margin: 0px; border: 0px; font-family: RixHead L;}
div.settingMenu>* { position: absolute; }
div.settingMenu ul {-webkit-margin-before:0; -webkit-margin-after:0; -webkit-padding-start: 0;}
div.settingMenu li { list-style: none; }
div.settingMenu .hidden {display: none;}
div.settingMenu div, p, span, iframe, ul, li, img {
    overflow: visible;
}

/*div #pig_shadow { left:1288px; top:76px; position: absolute; }*/
div #pig_shadow { left:1288px; top:76px; position: absolute; }
div #pig_gra { left: 1365px; top: 148px; position: absolute; }
div #pig_dim {
    left:1365px;
    top:148px;
    width: 555px;
    height: 316px;
    background-color: rgba(0, 0, 0, 0.3);
}

div.settingMenu #bgCanvasContainer {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
}

div #background .bgImg {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
    -webkit-filter: blur(20px);
}


/* Background 영역 */
div #background {
/*    position: fixed;*/
    z-index: -100;

}
div #background>* {
    position: fixed;
}


div #backgroundTitle {
    position: absolute;
    left: 182px;
    top: 57px;
    width: 800px;
    height: 43px;
    color:rgba(255, 255, 255, 0.12);
    font-size: 40px;
    letter-spacing: -1.2px;
    /*line-height: 85px;*/
    font-family: "RixHead B";
}

div #backgroundTitleIcon {
    position: absolute;
    left: 129px;
    top: 52px;
    width: 46px;
    height: 46px;
}

div #backIcon {
    left: 1390px;
    top: 630px;
}

/* 공통 영역 (홈샷) */
div.settingMenu #commonArea #homeShot {
    position: absolute;
    left: 1393px;
    top: 468px;
}

div.settingMenu #contentsArea {
    position: absolute;
    left:0px;
    top:148px;
    width: 1291px;

    top: 122px;
}

div.settingMenu #indicatorArea {
    visibility: hidden;
    position: absolute;
    left: 78px;
    top: 37px;
}

div.settingMenu #indicatorArea.show {
    visibility: inherit;
}
div #settingTable .table_title, div #settingTable .table_subTitle{
    width: 896px;
}

/*
div #settingTable .table_subTitle{
    width: 896px;
}*/

div #rightMenu_area, div #rightMenu_area #rightMenu_bg {
    position: absolute;
    left: 1433px;
    top: 87px;
    width: 420px;
    height: 907px;
    position: fixed;
}

div #rightMenu_area #menuTop_bg {
    position: absolute;
    width: 418px;
    height: 66px;
}

div #rightMenu_area #menuCenter_bg {
    position: absolute;
    left: -1px;
    top: 65px;
    width: 420px; height: 775px;
}

div #rightMenu_area #menuBottom_bg {
    position: absolute;
    top: 840px;
    width: 418px;
    height: 66px;
}
