div.vod_detail_single_layer.app div#btnArea {
    -webkit-transform: translateZ(0);
    position: absolute;
    left: 492px;
    top: 435px;
}

div.vod_detail_single_layer.app div#btnArea #btn_item_area .vod_btn_area {
    position: relative;
    margin-right: 7px;
    width: 303px;
    height: 105px;
    float: left;
}

div.vod_detail_single_layer.app div#btnArea #btn_item_area .vod_btn_area .vod_btn_title {
    top: 37px;
    font-size: 35px;
    font-family: "RixHead M";
}

div.vod_detail_single_layer.app div#synopsis_area {
    margin-top: 44px;
    width: 1076px;
    font-size: 28px;
    color: rgba(255, 255, 255, .5);
    line-height: 44px;
    font-family: "RixHead L";
}

div.vod_detail_single_layer.app div#notice_infoArea {
    top: 357px;
}
