div#vodDetail_tabMenu {
    position: absolute;
    top: 461px;
    width: 1920px;
    height: 1010px;
    transition: -webkit-transform .5s;
    -webkit-transform: translateZ(0);
}

div#vodDetail_tabMenu #menuList_area {
    position: absolute;
    height: 83px;
    left: 82px;
}

div#vodDetail_tabMenu #menuList_etc_area {
    width: 1920px;
    height: 391px;
}

div#vodDetail_tabMenu #menuList_etc_area #etcBtn_area {
    visibility: inherit;
    position: absolute;
    left: 1561px;
    top: 341px;
    font-size: 26px;
}

div#vodDetail_tabMenu #menuList_etc_area #etcBtn_area.hide {
    visibility: hidden;
}

div#vodDetail_tabMenu #menuList_etc_area #etcBtn_area div {
    float: right;
    margin-left: 12px;
    color: #FFFFFF;
    opacity: 0.23;
}

div#vodDetail_tabMenu #menuList_area #menuList_btn {
    width: 100%;
    height: 100%;
}

div#vodDetail_tabMenu #menuList_area #menuList_btn li {
    float: left;
    width: 353px;
    height: 83px;
}

div#vodDetail_tabMenu #menuList_area #menuList_btn li .btn_str {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: center;
    font-size: 27px;
    color: #F0F0F0;
    opacity: 0.6;
}

div#vodDetail_tabMenu #menuList_area #menuList_btn li .btn_line {
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    opacity: 0.25;
}

div#vodDetail_tabMenu #menuList_contents #cover_img {
    visibility: inherit;
    margin-top: 36px;
    width: 1920px;
    height: 192px;
}

div#vodDetail_tabMenu #menuList_contents #cover_img.hide {
    visibility: hidden;
}

div#vodDetail_tabMenu #menuList_contents #back_img {
    visibility: inherit;
    position: absolute;
    top: 20px;
    width: 1920px;
    height: 1010px;
    z-index: -1;
}

div#vodDetail_tabMenu #menuList_contents #back_img.hide {
    visibility: hidden;
}

div#vodDetail_tabMenu.focus {
    -webkit-transform: translateY(-391px) translateZ(0);
}