div.vod_detail_series_layer.kids .bgBlurDim {
    opacity: 0.8;
    background: #2d5d91;
}

div.vod_detail_series_layer.kids div#posterArea #poster_seriesInfo {
    color: white;
    opacity: 0.7;
}

div.vod_detail_series_layer.kids div#synopsis_area {
    color: rgba(255, 255, 255, .9);
}

/*div.vod_detail_series_layer.kids div#synopsis_btn_area {*/
/*background: rgba(204, 204, 204, 0.1);*/
/*border: 1px solid rgba(255, 255, 255, 0.05);*/
/*}*/

div.vod_detail_series_layer.kids div#synopsis_btn_area.focus {
    background: #FFB32E;
    border: none;
}

div.vod_detail_series_layer.kids div#notice_infoArea #notice_contents {
    opacity: 0.7;
    margin-top: 14px;
    font-family: "RixHead L";
}

div.vod_detail_series_layer.kids div#notice_infoArea.focus #notice_contents {
    opacity: 1.0;
    margin-top: 10px;
    font-family: "RixHead M";
}

div.vod_detail_series_layer.kids div#notice_infoArea.focus #notice_splitLine {
    margin-top: 12px;
}

div.vod_detail_series_layer.kids div#synopsis_btn_area.focus .synopsis_btn_text {
    top: 8px;
    color: #513300;
}

div.vod_detail_series_layer.kids div#notice_infoArea .notice_icon {
    background-image: url("../../resource/detail/icon_noti_detail_kids.png");
    margin-top: 12px;
}

div.vod_detail_series_layer.kids div#notice_infoArea.focus .notice_icon {
    background-image: url("../../resource/detail/icon_noti_detail_f_kids.png");
    margin-top: 8px;
    margin-left: 21px;
}

div.vod_detail_series_layer.kids div#notice_infoArea {
    background: rgba(204, 204, 204, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

div.vod_detail_series_layer.kids div#notice_infoArea.focus {
    background: #204B77;
    border: 5px solid #FFB32E;
}

div.vod_detail_series_layer.kids div#notice_infoArea.noMore {
    height: 52px;
    background: none;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-right: none;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .vod_btn_tmpBackground {
    background: #135296;
    opacity: 0.85;
    border: 2px solid #135296;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_tmpBackground{
    opacity: 1;
    background: #FFB32E;
    border-color: white;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .btn_focus .vod_btn_title {
    color: #49443C;
    opacity: 1.0;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .vod_btn_price {
    color: #CBECFF;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .btn_focus .vod_btn_price {
    color: #513300;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .free.btn_focus .vod_btn_price {
    color: #513300;
    opacity: 0.6;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .free.btn_focus .vod_btn_price .price_value {
    color: #513300;
    opacity: 1.0;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .vod_btn_line {
    background: #CBECFF;
}

div.vod_detail_series_layer.kids div#btnArea #btn_item_area .btn_focus .vod_btn_line {
    background: #664100;
}

div.vod_detail_series_layer.kids div#actor_area span {
    color: rgba(255, 255, 255, .6);
}

div.vod_detail_series_layer.kids obj {
    color: rgb(204, 204, 255);
}

div.vod_detail_series_layer.kids #thumbnail_itemList_div .thumbnail_item_img {
    background-image: url(../../resource/kids/thum_noimg_kids_w224.png);
}

div.vod_detail_series_layer.kids #thumbnail_itemList_div .thumbnail_item_img.default {
    background-image: url(../../resource/kids/thum_default_kids_w224.png);
}

div.vod_detail_series_layer.kids #thumbnail_itemList_div .noThumbnail_item_div.focus {
    background: #FFB32E;
    border-color: white;
}

div.vod_detail_series_layer.kids #thumbnail_itemList_div .thumbnail_item_div.focus .thumbnail_unFocus_div {
    border-color: #FFB32E;
}

div.vod_detail_series_layer.kids #thumbnail_itemList_div .noThumbnail_item_div.focus .noThumbnail_str {
    color: #513300;
    opacity: 1.0;
    -webkit-transform: scale(1.05);
}