div.vod_detail_package_layer.kids div#background_area .dim {
    position: fixed;
    opacity: 0.8;
    background: #2d5d91;
}

div.vod_detail_package_layer.kids div#btnArea #btn_item_area .vod_btn_backImg {
    content: url(../../resource/kids/btn_detail_kids_vod.png);
}

div.vod_detail_package_layer.kids div#btnArea.btn_focus #btn_item_area .vod_btn_area .vod_btn_backImg {
    content: none;
}

div.vod_detail_package_layer.kids div#btnArea.btn_focus #btn_item_area .vod_btn_line {
    background: #4CA6DB;
}

div.vod_detail_package_layer.kids div#btnArea.btn_focus #btn_item_area .vod_btn_area .vod_btn_title {
    opacity: 1.0;
    color: rgb(48, 55, 60);
}

div.vod_detail_package_layer.kids div#btnArea.btn_focus #btn_item_area .vod_btn_area .vod_btn_price {
    color: #4CA6DB;
    opacity: 0.8;
}

div.vod_detail_package_layer.kids div#synopsis_btn_area.focus {
    border: none;
}

div.vod_detail_package_layer.kids div#synopsis_btn_area.focus .synopsis_btn_text {
    top: 10px;
    color: #513300;
}