div.vod_detail_single_layer.kids .basic_text {
    opacity: .7;
}

div.vod_detail_single_layer.kids div#background_area .dim {
    position: fixed;
    opacity: 0.8;
    background: #2d5d91;
}

div.vod_detail_single_layer.kids div#posterArea {
    position: absolute;
    top: 70px;
}

div.vod_detail_single_layer.kids div#posterArea #main_poster {
    margin-bottom: 20px;
}

div.vod_detail_single_layer.kids div#posterArea #poster_starScore_area {
    margin-top: 10px;
}

div.vod_detail_single_layer.kids div#infoArea {
    top: 69px;
    overflow: visible;
}

div.vod_detail_single_layer.kids div#actor_area {
    margin-top: 26px;
}

div.vod_detail_single_layer.kids div#actor_area span {
    color: rgba(255, 255, 255, .6);
}

div.vod_detail_single_layer.kids div#actor_area span obj {
    color: rgb(204, 204, 255);
}

div.vod_detail_single_layer.kids div#synopsis_area {
    margin-top: 14px;
    color: rgba(255, 255, 255, .9);
    /*-webkit-line-clamp: 1;*/
}

div.vod_detail_single_layer.kids div#synopsis_btn_area.focus {
    background: #FFB32E;
    border: none;
}

div.vod_detail_single_layer.kids div#synopsis_btn_area.focus .synopsis_btn_text {
    top: 8px;
    color: #513300;
}

div.vod_detail_single_layer.kids div#notice_infoArea #notice_contents {
    opacity: 0.7;
    font-family: "RixHead L";
}

div.vod_detail_single_layer.kids div#notice_infoArea {
    top: 339px;
}

div.vod_detail_single_layer.kids div#notice_infoArea.focus {
    background: white;
    border: none;
}

div.vod_detail_single_layer.kids div#notice_infoArea.noMore {
    height: 52px;
    background: none;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-right: none;
}

div.vod_detail_single_layer.kids div#notice_infoArea.focus {
    background: #204B77;
    border: 5px solid #FFB32E;
    height: 44px;
    width: 1059px;
}

div.vod_detail_single_layer.kids div#noticeArea #notice_infoArea .notice_line {
    opacity: .3;
}

div.vod_detail_single_layer.kids div#noticeArea #notice_infoArea #notice_info #notice_title #notice_splitLine {
    opacity: .5;
}

div.vod_detail_single_layer.kids div#noticeArea #notice_infoArea #notice_info #notice_contents {
    opacity: .7;
}

div.vod_detail_single_layer.kids div#notice_infoArea .notice_icon {
    background-image: url("../../resource/detail/icon_noti_detail_kids.png");
    margin-top: 12px;
}

div.vod_detail_single_layer.kids div#notice_infoArea.focus .notice_icon {
    background-image: url("../../resource/detail/icon_noti_detail_f.png");
}

div.vod_detail_single_layer.kids div#notice_infoArea.focus #notice_splitLine {
    margin-top: 12px;
}

div.vod_detail_single_layer.kids div#notice_infoArea.focus .notice_icon {
    margin-top: 8px;
    margin-left: 21px;
}

div.vod_detail_single_layer.kids div#notice_infoArea.focus #notice_contents {
    margin-top: 10px;
    font-family: "RixHead M";
}

div.vod_detail_single_layer.kids div.ollehMobile_icon_area {
    position: absolute;
    left: 492px;
    top: 408px;
}

div.vod_detail_single_layer.kids div#btnArea {
    position: absolute;
    left: 490px;
    top: 460px;
}

div.vod_detail_single_layer.kids div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_title {
    color: #49443c;
    opacity: 1.0;
}

div.vod_detail_single_layer.kids div#btnArea #btn_item_area .vod_btn_price {
    color: #CBECFF;
}

div.vod_detail_single_layer.kids div#btnArea #btn_item_area .btn_focus .vod_btn_price {
    color: #513300;
}

div.vod_detail_single_layer.kids div#btnArea #btn_item_area .free.btn_focus .vod_btn_price {
    opacity: 0.6;
}


div.vod_detail_single_layer.kids div#btnArea #btn_item_area .vod_btn_line {
    background: #CBECFF;
}

div.vod_detail_single_layer.kids div#btnArea #btn_item_area .btn_focus .vod_btn_line {
    background: #664100;
}

div.vod_detail_single_layer.kids div#btnArea #btn_item_area .vod_btn_tmpBackground {
    background: #135296;
    opacity: 0.85;
    border: 2px solid #135296;
}


div.vod_detail_single_layer.kids div#btnArea #btn_item_area .btn_focus .vod_btn_tmpBackground {
    opacity: 1.0;
    background: #FFB32E;
    border: 0 transparent;
}

div.vod_detail_single_layer.kids.hasConner div#btnArea #btn_item_area .vod_btn_area.corner {
    opacity: .4;
}
