div.vod_detail_package_layer div#background_area {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    text-align: center;
}

div.vod_detail_package_layer div#background_area > * {
    position: fixed;
}

div.vod_detail_package_layer div.bgBlurWrapper {
    position: fixed;
    top: 0px;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.vod_detail_package_layer img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.vod_detail_package_layer .basic_text {
    font-size: 27px;
    color: white;
    opacity: .5;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#background_area .dim {
    background-color: rgba(0, 0, 0, .7);
    width: 1920px;
    height: 1080px;
}

div.vod_detail_package_layer #packageBack_img {
    position: absolute;
    top: 0px;
    right: 0px;
}

div.vod_detail_package_layer div#packageInfo_area {
    width: 626px;
    height: 100%;
}

div.vod_detail_package_layer div#packageInfo_area #packageBigPoster_img {
    position: absolute;
    width: 626px;
    height: 882px;
}

div.vod_detail_package_layer div#packageInfo_area #customVod_img_locked {
    position: absolute;
    left: 150px;
    top: 340px;
    width: 327px;
    height: 327px;
    content: url(../../resource/img_vod_locked_image.png);
    display: none;
}

div.vod_detail_package_layer div#packagePoster_Area {
    position: absolute;
    left: 101px;
    top: 71px;
    color: #FFFFFF;
    overflow: visible;
}

div.vod_detail_package_layer div#packagePoster_Area .packagePoster_title {
    font-size: 39px;
    opacity: 0.9;
    font-family: "RixHead B";
    line-height: 43px;
    margin-top: -2px;
}

div.vod_detail_package_layer div#packagePoster_Area .packagePoster_subTitle {
    margin-top: 12px;
    font-size: 24px;
    opacity: 0.7;
    line-height: 29px;
    font-family: "RixHead M";
}

div.vod_detail_package_layer div#packagePoster_Area #packagePoster_img {
    margin-top: 24px;
    margin-bottom: 29px;
}

div.vod_detail_package_layer div#packagePoster_Area .packagePoster_info {
    margin-top: 17px;
}

div.vod_detail_package_layer div#packagePoster_Area .packagePoster_info span {
    float: left;
    font-size: 24px;
    opacity: 0.7;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#packageSynop_area {
    position: absolute;
    left: 623px;
    bottom: 638px;
    font-size: 27px;
    color: white;
    opacity: 0.6;
    width: 686px;
    line-height: 47px;
    font-family: "RixHead L";
}

div.vod_detail_package_layer .subTitle_split_bar {
    float: left;
    width: 2px;
    height: 20px;
    background: white;
    margin: 2px 13px;
    opacity: 0.2;
}

div.vod_detail_package_layer div#packagePoster_infoArea {
    position: absolute;
    top: 738px;
    left: 0;
    width: 439px;
    color: #FFFFFF;
}

div.vod_detail_package_layer div#packagePoster_infoArea .packagePoster_synopsis {
    font-size: 26px;
    line-height: 46px;
    opacity: 0.7;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#infoArea {
    -webkit-transform: translateZ(0);
    position: absolute;
    left: 623px;
    top: 205px;
}

div.vod_detail_package_layer div#maintitle_area {
    color: white;
    opacity: .95;
    font-size: 60px;
    height: 64px;
    font-family: "RixHead B";
}

div.vod_detail_package_layer div#maintitle_area #package_age_icon {
    margin-bottom: -7px;
    margin-left: 15px;
}

div.vod_detail_package_layer div#subtitle_area {
    width: 944px;
    margin-top: 20px;
}

div.vod_detail_package_layer div#subtitle_area_0 {
    margin-top: 15px;
    height: 32px;
    display: none;
}

div.vod_detail_package_layer div#subtitle_area_0 .subtitle_text span {
    float: left;
    font-size: 24px;
    color: white;
    opacity: 0.5;
    margin-top: 4px;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#subtitle_area_0 .subtitle_text .subTitle_split_bar {
    margin-top: 6px;
}

div.vod_detail_package_layer div#subtitle_area_0 .subtitle_icon_img {
    float: left;
}

div.vod_detail_package_layer div#subtitle_area_0 .subtitle_icon_img img {
    float: left;
    margin-right: 6px;
}

div.vod_detail_package_layer div#subtitle_area span {
    float: left;
    font-size: 24px;
    color: rgb(170, 170, 170);
    font-family: "RixHead M";
    line-height: 25px;
}

div.vod_detail_package_layer div#infoArea #poster_starScore_area {
    margin-top: 21px;
    padding-top: 5px;
    height: auto;
}

div.vod_detail_package_layer div#infoArea #poster_starScore_area .starStr {
    margin-right: 38px;
    float: left;
}

div.vod_detail_package_layer div#infoArea #poster_starScore_area .poster_starImg {
    position: relative;
    margin-right: 7px;
    float: left;
}

div.vod_detail_package_layer div#infoArea #poster_starScore_area .star_icon_area {
    float: left;
}

div.vod_detail_package_layer div#infoArea #poster_starScore_area #score_area {
    position: relative;
    margin-top: -5px;
    margin-left: 15px;
    width: 58px;
    height: 32px;
    float: left;
}

div.vod_detail_package_layer div#infoArea #poster_starScore_area #score_area .poster_scoreImg {
    padding-right: 4px;
}

div.vod_detail_package_layer div#actor_area {
    margin-top: 31px;
}

div.vod_detail_package_layer div#actor_area span {
    margin-right: 42px;
    color: rgba(255, 255, 255, .7);
    font-size: 26px;
    font-family: "RixHead M";
}

div.vod_detail_package_layer div#actor_area span obj {
    margin-right: 11px;
    color: rgb(166,119,67);
}

div.vod_detail_package_layer div#synopsis_area {
    width: 931px;
    font-size: 28px;
    margin-top: 31px;
    color: rgba(255, 255, 255, .5);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 47px;
    word-wrap: break-word;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#synopsis_btn_area {
    position: relative;
    left: 990px;
    top: -42px;
    width: 140px;
    height: 42px;
}

div.vod_detail_package_layer div#synopsis_btn_area img {
    width: 140px;
    height: 42px;
}

div.vod_detail_package_layer div#synopsis_btn_area.focus {
    background: #FFFFFF;
    box-sizing: border-box;
    border-top: 5px solid #D1433F;
    border-bottom: 5px solid #D1433F;
}

div.vod_detail_package_layer div#synopsis_btn_area.focus img {
    visibility: hidden;
}

div.vod_detail_package_layer div#synopsis_btn_area .synopsis_btn_text {
    position: absolute;
    left: 26px;
    top: 10px;
    font-size: 23px;
    color: white;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#synopsis_btn_area.focus .synopsis_btn_text {
    color: rgb(73, 68, 60);
    font-family: "RixHead M";
    top: 5px;
}

div.vod_detail_package_layer div#synopsis_area.focus {
    width: 1130px;
    font-size: 27px;
    margin-top: 17px;
    color: rgba(255, 255, 255, .5);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 43px;
    word-wrap: break-word;
    font-family: "RixHead L";
}

div.vod_detail_package_layer div#noticeArea {
    position: absolute;
    left: 624px;
    top: 434px;
    width: 1094px;
    height: 60px;
    float: left;
}

div.vod_detail_package_layer div#noticeArea #notice_infoArea {
    width: 931px;
    float: left;
}

div.vod_detail_package_layer div#noticeArea #notice_infoArea .notice_line {
    width: 931px;
    height: 2px;
    background: #FFFFFF;
    opacity: 0.1;
}

div.vod_detail_package_layer div#noticeArea #notice_infoArea #notice_info #notice_title {
    float: left;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 25px;
    color: #FFFFFF;
    width: 64px;
    opacity: 0.4;
}

div.vod_detail_package_layer div#noticeArea #notice_infoArea #notice_info #notice_title #notice_splitLine {
    float: right;
    width: 2px;
    height: 22px;
    background: #FFFFFF;
}

div.vod_detail_package_layer div#noticeArea #notice_infoArea #notice_info #notice_contents {
    float: left;
    width: 844px;
    font-size: 25px;
    margin: 14px 0px 14px 18px;
    color: #FFFFFF;
    opacity: 0.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

div.vod_detail_package_layer div#noticeArea #notice_btn {
    position: relative;
    width: 150px;
    height: 60px;
    padding-left: 11px;
    float: left;
}

div.vod_detail_package_layer div#noticeArea #notice_btn_str {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 100%;
    font-size: 26px;
    text-align: center;
    color: #F0F0F0;
}

div.vod_detail_package_layer div#package_movieList_area {
    position: absolute;
    left: 611px;
    top: 465px;
    width: 1233px;
    height: 260px;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div {
    margin-top: 11px;
    width: 154px;
    height: 220px;
    display: inline-block;
    border: 5px solid transparent;
    padding: 1px;
    margin-left: 11px;
    margin-right: 31px;
    -webkit-transform: translateZ(0);
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div.focus {
    -webkit-transform: translateZ(0) scale(1.09);
    -webkit-transform-origin: 50% 50%;
    border-color: #D1433F;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .poster_area {
    width: 154px;
    height: 220px;
    position: absolute;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .poster_area .moviePosterImg {
    position: absolute;
    width: 154px;
    height: 220px;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .poster_area .moviePosterSdw {
    position: absolute;
    width: 154px;
    height: 220px;
}

div.vod_detail_package_layer div#etcArea {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

div.vod_detail_package_layer div#etcArea #movieList_line {
    position: absolute;
    top: 789px;
    left: 618px;
    width: 1166px;
    height: 2px;
    background: #FFFFFF;
    opacity: 0.1;
}

div.vod_detail_package_layer div#etcArea .package_listArrow_img {
    position: absolute;
    top: 568px;
}

div.vod_detail_package_layer div#etcArea .package_listArrow_img.right {
    left: 1779px;
    content: url(../../resource/arw_package_detail_right.png);
}

div.vod_detail_package_layer div#etcArea .package_listArrow_img.left {
    left: 566px;
    content: url(../../resource/arw_package_detail_left.png);
}

div.vod_detail_package_layer div#etcArea .ollehMobile_icon_area {
    position: absolute;
    left: 617px;
    top: 737px;
}

div.vod_detail_package_layer div#etcArea .ollehMobile_icon_area img {
    float: left;
}

div.vod_detail_package_layer div#etcArea .ollehMobile_icon_area span {
    float: left;
    font-size: 22px;
    color: white;
    opacity: 0.6;
    margin-left: 10px;
    margin-top: 5px;
}

div.vod_detail_package_layer div#btnArea {
    -webkit-transform: translateZ(0);
    position: absolute;
    left: 618px;
    top: 817px;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_area {
    position: relative;
    margin-right: 7px;
    width: 307px;
    height: 119px;
    color: #F0F0F0;
    float: left;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_title {
    position: absolute;
    font-size: 26px;
    left: 23px;
    top: 21px;
    font-family: "RixHead M";
    line-height: 27px;
    color: rgb(240,240,240);
    opacity: 0.5;
}

div.vod_detail_package_layer div#btnArea.btn_focus #btn_item_area .vod_btn_area .vod_btn_title {
    opacity: 0.6;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_area .tax:after{
    content: "(부가세 포함)";
    font-size: 20px;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_area.free .tax:after {
    content: "";
    font-size: 20px;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_price {
    position: absolute;
    font-size: 25px;
    left: 24px;
    top: 58px;
    font-family: "RixHead B";
    opacity: 0.8;
    color: #F0F0F0;
}

div.vod_detail_package_layer div#btnArea.btn_focus #btn_item_area .vod_btn_area .vod_btn_price {
    color: white;
    opacity: 1;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_line {
    visibility: hidden;
    position: absolute;
    left: 24px;
    top: 73px;
    width: 134px;
    height: 2px;
    background: #FFFFFF;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .btn_focus .vod_btn_line {
    background: white;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .free .vod_btn_line {
    visibility: inherit;
}

div.vod_detail_package_layer div#btnArea.btn_focus #btn_item_area .vod_btn_buyImg_bg {
    position: absolute;
    visibility: hidden;
    right: 4px;
    top: 0px;
    width: 66px;
    height: 31px;
    background: white;
    opacity: 0;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_buyImg {
    position: absolute;
    visibility: hidden;
    right: 0;
    top: -2px;
    width: 74px;
    height: 39px;
    content: url(../../resource/icon_flag_free.png);
}

div.vod_detail_package_layer div#btnArea.btn_focus #btn_item_area .vod_btn_buyImg {
    content: url(../../resource/icon_flag_free_f.png);
}

div.vod_detail_package_layer div#btnArea #btn_item_area .free .vod_btn_buyImg_bg,
div.vod_detail_package_layer div#btnArea #btn_item_area .free .vod_btn_buyImg {
    visibility: inherit;
}



div.vod_detail_package_layer div#btnArea.btn_focus #btn_item_area .vod_btn_backImg {
    position: relative;
    margin-right: 7px;
    background: #D2332F;
    width: auto;
    height: auto;
    color: #49443C;
    float: left;
}

div.vod_detail_package_layer div#btnArea #btn_txt_area span {
    float: left;
    font-size: 22px;
    color: #FFFFFF;
    opacity: 0.3;
}

div.vod_detail_package_layer div#btnArea #btn_item_area .vod_btn_tmpBackground {
    position: absolute;
    width: 299px;
    height: 101px;
    background: gray;
    opacity: 0.3;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

div.vod_detail_package_layer div#btnArea.btn_focus #btn_item_area .vod_btn_tmpBackground {
    box-sizing: border-box;
    opacity: 1.0;
    background: #D2332F;
    border: none;
    width: 303px;
    height: 105px;
}

div.vod_detail_package_layer div#btnArea #btn_txt_area {
    font-size: 22px;
    color: #FFFFFF;
    opacity: 0.3;
}

div.vod_detail_package_layer div#btnArea #btn_txt_area span {
    float: left;
}

div.vod_detail_package_layer div#btnArea #btn_txt_area .point_Bar {
    float: left;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.3;
    margin: 2px 15px;
}

div.vod_detail_package_layer .contextTextArea {
    position: absolute;
    left: 1570px;
    top: 994px;
    height: 27px;
    width: 100%;
}

div.vod_detail_package_layer .contextTextArea.btn_focus {
    -webkit-transform: translateX(169px);
}

div.vod_detail_package_layer .contextTextArea .ctxIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
    height: 27px;
    background-image: url(../../resource/icon_option_related.png);
    background-size: 33px 27px;
}

div.vod_detail_package_layer .contextTextArea .wishText {
    position: absolute;
    top: 1px;
    left: 45px;
    height: 30px;
    width: 200px;
    font-family: "RixHead L";
    font-size: 26px;
    color: white;
    opacity: .3;
}

div.vod_detail_package_layer .contextTextArea .verticalLine {
    position: absolute;
    top: 3px;
    left: 81px;
    width: 2px;
    height: 22px;
    background: white;
    opacity: .3;
}

div.vod_detail_package_layer .contextTextArea.btn_focus .verticalLine {
    display: none;
}

div.vod_detail_package_layer .contextTextArea .playListText {
    position: absolute;
    top: 2px;
    left: 98px;
    height: 30px;
    width: 100%;
    font-family: "RixHead L";
    font-size: 26px;
    color: white;
    opacity: .3;
}

div.vod_detail_package_layer .contextTextArea.btn_focus .playListText {
    display: none;
}

/*
포스터 아이콘
 */
/*
 *아이콘 영역
 */

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area {
    width: inherit;
    height: inherit;
    position: absolute;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area img {
    display: none;
    margin-bottom: -7px;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area img:nth-child(1) {
    display: block;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area img:nth-child(2) {
    display: block;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area .right_icon_area {
    position: absolute;
    right: -2px;
    top: -3px;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area .bottom_tag_area {
    width: 100%;
    position: absolute;
    bottom: 0;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area .bottom_tag_area > img {
    width: 100%;
    margin-bottom: 0;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area .lock_icon:empty {
    background: none;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area .lock_icon {
    position: absolute;
    bottom: -37px;
    left: -28px;
}

div.vod_detail_package_layer div#package_movieList_area .movieList_item_div .icon_area .lock_icon > img {
    margin-bottom: 0;
}