div.vod_detail_series_layer {
    letter-spacing: -0.05em;
}

div.vod_detail_series_layer div#background_area {
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    text-align: center;
}

div.vod_detail_series_layer obj {
    color: rgb(166,119,67);
    margin-right: 12px;
    font-family: "RixHead M";
}

div.vod_detail_series_layer div#background_area > * {
    position: fixed;
}

div.vod_detail_series_layer div.bgBlurWrapper {
    position: fixed;
    top: 0px;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.vod_detail_series_layer img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.vod_detail_series_layer div.bgBlurDim {
    /*content: url(../../resource/detail/bg_vod_detail_gra.png);*/
    background: #191919;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

div.vod_detail_series_layer #indicatorArea > * {
    overflow: visible;
}

div.vod_detail_series_layer #indicatorArea {
    position: absolute;
    left: 515px;
    top: 123px;
    width: 60px;
    overflow: visible;
}

div.vod_detail_series_layer #pageChangerArea{
    position: absolute;
    left: -373px;
    top: 152px;
    width: 60px;
    overflow: visible;
}

div.vod_detail_series_layer #pageChangerArea .leftArrow{
    margin-left: 1px;
    content: url(../../resource/icon_pageup.png);
}

div.vod_detail_series_layer #pageChangerArea .rightArrow{
    content: url(../../resource/icon_pagedown.png);
}

div.vod_detail_series_layer #pageKeyGuideTxt{
    text-align : center;
    font-family: RixHead L;
    font-size: 23px;
    color: rgb(255,255,255);
    opacity: 0.3;
    float: left;
    letter-spacing: -1.15px;
}

div.vod_detail_series_layer div#infoArea {
    position: absolute;
    left: 878px;
    top: 70px;
    width: 960px;
    overflow: visible;
}

div.vod_detail_series_layer div#episodeTitle_area{
    color: white;
    opacity: .95;
    font-size: 60px;
    line-height: 66px;
    font-family: "RixHead B";
    margin-top: -6px;
    margin-bottom: -6px;
}

div.vod_detail_series_layer div#episodeTitle_area span {
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.vod_detail_series_layer div#episodeTitle_area #episodeTitle_age_icon{
    margin-bottom: -9px;
    margin-left: 10px;
}

div.vod_detail_series_layer .series_customVod_img {
    /* position: absolute; */
    /* left: -83px; */
    /* top: -66px; */
    width: 488px;
    height: 677px;
    z-index: -1;
}

div.vod_detail_series_layer .customVod_img_locked {
    position: absolute;
    left: 87px;
    top: 166px;
    width: 327px;
    height: 327px;
    content: url(../../resource/img_vod_locked_image.png);
    /* display: none; */
}

div.vod_detail_series_layer div#subtitle_area .vodRes_icon_img {
    margin-right: 6px;
}

div.vod_detail_series_layer div#subtitle_area {
    margin-top: 25px;
}

div.vod_detail_series_layer div#subtitle_area span,
div.vod_detail_series_layer div#subtitle_area_0 span {
    float: left;
    white-space: nowrap;
}

div.vod_detail_series_layer div#subtitle_area .subtitle_text span.limitArea {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.vod_detail_series_layer div#subtitle_area .splitBar,
div.vod_detail_series_layer div#subtitle_area_0 .splitBar {
    float: left;
    margin: 1px 15px 0px 15px;
    width: 2px;
    height: 20px;
    background: white;
    opacity: 0.2;
    visibility: hidden;
}

div.vod_detail_series_layer div#subtitle_area .splitBar {
    visibility: inherit;
}

div.vod_detail_series_layer div#subtitle_area .subtitle_text {
    font-size: 24px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead M";
    float: left;
    white-space: nowrap;
    line-height: 28px;
    margin-top: -2px;
}

div.vod_detail_series_layer div#subtitle_area_0 .subtitle_text {
    font-size: 24px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead M";
    float: left;
    margin-top: 5px;
    line-height: 28px;
}

div.vod_detail_series_layer div#subtitle_area_0 .subtitle_text span {
    margin-top: -2px;
}

div.vod_detail_series_layer div#subtitle_area_0 {
    margin-top: 7px;
    height: 32px;
}

div.vod_detail_series_layer div#subtitle_area_0 .subtitle_icon_img {
    float: left;
    height: 32px;
}

div.vod_detail_series_layer div#subtitle_area_0 .vodRes_icon_img {
    margin-right: 6px;
}

div.vod_detail_series_layer div#actor_area {
    margin-top: 30px;
    width: 960px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 26px;
    color: white;
    font-family: "RixHead M";
    line-height: 28px;
    height: 28px;
}

div.vod_detail_series_layer div#actor_area span {
    margin-right: 44px;
    color: rgba(255, 255, 255, .7);
    font-size: 26px;
    font-family: "RixHead M";
    line-height: 28px;
}

div.vod_detail_series_layer div#synopsis_area {
    margin-top: 20px;
    font-size: 28px;
    width: 960px;
    color: rgba(255, 255, 255, .5);
    line-height: 44px;
    font-family: "RixHead L";
}

div.vod_detail_series_layer div#synopsis_btn_area {
    position: relative;
    left: 820px;
    top: -46px;
    width: 140px;
    height: 42px;
    background: rgba(205, 205, 205, 0.1);
}

div.vod_detail_series_layer div#synopsis_btn_area img {
    width: 140px;
    height: 42px;
    display: none;
}

div.vod_detail_series_layer div#synopsis_btn_area .synopsis_btn_text {
    position: absolute;
    left: 21px;
    top: 9px;
    font-size: 25px;
    color: white;
    font-family: "RixHead L";
}

div.vod_detail_series_layer div#synopsis_btn_area.focus {
    box-sizing: border-box;
    background: #D1433F;
}

div.vod_detail_series_layer div#synopsis_btn_area.focus img {
    visibility: hidden;
}

div.vod_detail_series_layer div#synopsis_btn_area.focus .synopsis_btn_text {
    color: white;
    font-family: "RixHead M";
}

div.vod_detail_series_layer div#notice_infoArea {
    position: absolute;
    left: 878px;
    top: 546px;
    width: 960px;
    height: 54px;
    background: rgba(205, 205, 205, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

div.vod_detail_series_layer div#notice_infoArea.noMore {
    height: 52px;
    background: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-right: none;
}

div.vod_detail_series_layer div#notice_infoArea .notice_icon {
    float: left;
    margin-top: 11px;
    margin-bottom: 13px;
    margin-left: 25px;
    width: 41px;
    height: 32px;
    background-image: url("../../resource/detail/icon_noti_detail.png");
}

div.vod_detail_series_layer div#notice_infoArea #notice_splitLine {
    float: left;
    width: 2px;
    height: 22px;
    background: #FFFFFF;
    opacity: 0.2;
    margin-left: 17px;
    margin-top: 16px;
}

div.vod_detail_series_layer div#notice_infoArea #notice_contents {
    float: left;
    width: 784px;
    font-size: 25px;
    margin: 14px 0px 14px 18px;
    color: #FFFFFF;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-family: "RixHead L";
}

div.vod_detail_series_layer div#notice_infoArea.focus {
    box-sizing: border-box;
    width: 962px;
    border: 5px solid #D1433F;
    background: #343432;
}

div.vod_detail_series_layer div#notice_infoArea.focus #notice_splitLine {
    margin-top: 12px;
}

div.vod_detail_series_layer div#notice_infoArea.focus .notice_icon {
    margin-top: 7px;
    margin-left: 21px;
    background-image: url("../../resource/detail/icon_noti_detail_f.png");
}

div.vod_detail_series_layer div#notice_infoArea.focus #notice_contents {
    color: white;
    opacity: 1.0;
    font-family: "RixHead M";
    margin-top: 10px;
}

div.vod_detail_series_layer div.ollehMobile_icon_area {
    position: absolute;
    left: 878px;
    top: 621px;
}

div.vod_detail_series_layer div.ollehMobile_icon_area img {
    float: left;
}

div.vod_detail_series_layer div.ollehMobile_icon_area .mobile_icon_text {
    float: left;
    font-size: 22px;
    color: white;
    opacity: 0.6;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "RixHead L";
}

div.vod_detail_series_layer .basic_text {
    font-size: 23px;
    color: white;
    opacity: .5;
    float: left;
    font-family: "RixHead M";
    margin-top: 8px;
}

div.vod_detail_series_layer div#posterArea {
    left: 83px;
    top: 72px;
    position: absolute;
    width: 340px;
    height: 895px;
    overflow: visible;
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area {
    float: left;
    margin-left: 18px;
    height: auto;
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area > div {
    /*position: absolute;*/
    margin-top: 7px;
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area .poster_starImg {
    position: relative;
    margin-right: 7px;
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area .poster_starImg.filled {
    content: url(../../resource/detail_img_rating_filled2.png);
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area .poster_starImg.half {
    content: url(../../resource/detail_img_rating_half2.png);
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area .poster_starImg.empty {
    content: url(../../resource/detail_img_rating_gray2.png);
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area #score_area {
    position: relative;
    margin-top: 2px;
    width: 58px;
    height: 32px;
    float: right;
}

div.vod_detail_series_layer div#posterArea #poster_starScore_area #score_area .poster_scoreImg {
    padding-right: 4px;
}

div.vod_detail_series_layer div#posterArea #poster_title {
    color: rgb(240,240,240);
    opacity: 0.90;
    font-size: 39px;
    text-align: left;
    float: left;
    line-height: 48px;
    font-family: "RixHead B";
    word-break: break-all;
    white-space: pre;
    margin-top: -7px;
    margin-bottom: -5px;
}

div.vod_detail_series_layer div#posterArea #poster_title span {
    float: left;
}

div.vod_detail_series_layer div#posterArea #poster_title #series_age_icon {
    margin-bottom: -8px;
    margin-left: 13px;
}

div.vod_detail_series_layer div#posterArea #poster_subTitle {
    float: left;
    width: 380px;
    color: rgb(170, 170, 170);
    font-size: 24px;
    font-family: "RixHead M";
    margin-top: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 28px;
}

div.vod_detail_series_layer div#main_poster_area {
    float: left;
    position: relative;
    -webkit-transform: translateZ(0);
    overflow: visible;
}

div.vod_detail_series_layer div#rect_poster_area {
    width: 340px;
    margin-top: 15px;
}

div.vod_detail_series_layer div#custom_poster_area {
    position: absolute;
    left: -83px;
    top: -63px;
    width: 470px;
    height: 653px;
    /* z-index: -1; */
}

div.vod_detail_series_layer div#rect_poster_area #poster_contentCoupon_img {
    display: inherit;
    position: absolute;
    left: -3px;
    top: 12px;
}

div.vod_detail_series_layer div#rect_poster_area #poster_contentInfo_area {
    position: absolute;
    right: 0px;
    width: 104px;
    overflow: visible;
}

div.vod_detail_series_layer div#rect_poster_area #poster_contentInfo_area img {
    margin-bottom: -10px;
    margin-top: -3px;
}

div.vod_detail_series_layer img#main_poster {
    float: left;
    width: 340px;
    height: 485px;
    display: block;
}

div.vod_detail_series_layer div#main_poster {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 585px;
    height: 882px;
}

div.vod_detail_series_layer div#posterArea #poster_vodLock_img {
    position: absolute;
    left: 0;
    width: 340px;
    height: 486px;
    content: url(../../resource/detail/img_vod_locked_big.png);
}

div.vod_detail_series_layer div#posterArea #seriesPoster_synopsis_area {
    float: left;
    overflow: visible;
    /*padding-left: 14px;*/
    margin-top: 19px;
}

div.vod_detail_series_layer div#posterArea #seriesPoster_synopsis_area.onc{
    /* position: absolute; */
    float: left;
    overflow: visible;
    /*padding-left: 14px;*/
    margin-top: 10px;
}

div.vod_detail_series_layer div#posterArea #poster_seriesInfo {
    float: left;
    width: 388px;
    margin-top: 10px;
    font-size: 23px;
    opacity: 0.8;
    line-height: 37px;
    color: rgb(170, 170, 170);
    font-family: "RixHead M";
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*margin-left: -15px;*/
    -webkit-transform: translateZ(0);
}

div.vod_detail_series_layer div#btnArea {
    -webkit-transform: translateZ(0);
    position: absolute;
    left: 878px;
    top: 679px;
    overflow: visible;
    width: 970px;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area {
    position: relative;
    margin-right: 10px;
    width: 232px;
    height: 100px;
    float: left;
    color: #F0F0F0;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_title {
    position: absolute;
    font-size: 25px;
    left: 18px;
    top: 21px;
    opacity: 0.5;
    font-family: "RixHead M";
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area .tax:after{
    content: "(부가세 포함)";
    font-size: 20px;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.free .tax:after {
    content: "";
    font-size: 20px;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_title {
    opacity: 0.6;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_price {
    position: absolute;
    font-size: 24px;
    height: 40px;
    left: 19px;
    top: 56px;
    letter-spacing: -0.08em;
    opacity : 0.8;
    color : rgb(240,240,240);
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_price {
    opacity : 1.0;
    color : white;
}


div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.free .vod_btn_price {
    opacity: 0.8;
    color: rgb(240,240,240);
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.free.btn_focus .vod_btn_price {
    opacity: 0.7;
    color: rgb(255,255,255);
}


div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_price .price_value {
    margin-left: 5px;
}



div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.added .vod_btn_title {
    top: 39px;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area .price_value {
    font-family: "RixHead B";
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_line {
    visibility: hidden;
    position: absolute;
    left: 20px;
    top: 72px;
    height: 2px;
    background: #FFFFFF;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .btn_focus .vod_btn_line {
    background: #FFFFFF;
}







div.vod_detail_series_layer div#btnArea #btn_item_area .free .vod_btn_line {
    visibility: inherit;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_buyImg_bg {
    visibility: hidden;
    position: absolute;
    top: -3px;
    right: 1px;
    width: 65px;
    height: 33px;
    background-color: white;
    opacity: 0;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_buyImg {
    visibility: hidden;
    background: url(../../resource/icon_flag_free.png);
    position: absolute;
    top: -3px;
    right: -4px;
    width: 74px;
    height: 39px;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .btn_focus .vod_btn_buyImg {
    background: url(../../resource/icon_flag_free_f.png);
}

div.vod_detail_series_layer div#btnArea #btn_item_area .free .vod_btn_buyImg_bg,
div.vod_detail_series_layer div#btnArea #btn_item_area .free .vod_btn_buyImg {
    visibility: inherit;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .btn_focus {
    margin-right: 10px;
    color: white;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_tmpBackground {
    position: absolute;
    width: 232px;
    height: 100px;
    background: gray;
    opacity: 0.3;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_tmpBackground {
    opacity: 1.0;
    box-sizing: border-box;
    background: #D2332F;
    border: none;
}

div.vod_detail_series_layer div#btnArea #btn_txt_area {
    font-size: 22px;
    color: #FFFFFF;
    opacity: 0.3;
    margin-top: 17px;
}

div.vod_detail_series_layer div#btnArea #btn_txt_area span {
    float: left;
}

div.vod_detail_series_layer div#btnArea #btn_txt_area .point_Bar {
    float: left;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.3;
    margin: 2px 15px;
}

div.vod_detail_series_layer div#thumbnailArea {
    position: absolute;
    left: 548px;
    top: 0px;
    width: 324px;
    height: 100%;
    -webkit-transform: translateZ(0px);
}

div.vod_detail_series_layer div#thumbnailArea .thumbDim {
    position: absolute;
    left: 48px;
    width: 224px;
    height: 69px;
    background-color: black;
    opacity: 0;
}

div.vod_detail_series_layer div#thumbnailArea .thumbDim.show {
    opacity: .3;
}

div.vod_detail_series_layer div#thumbnailArea .thumbDim.top {
    top: -25px;
}

div.vod_detail_series_layer div#thumbnailArea .thumbDim.bottom {
    bottom: 0px;
    height: 119px;
}

div.vod_detail_series_layer #thumbnail_itemList_div {
    position: absolute;
    top: 34px;
    width: 100%;
    opacity: 0.99;
    list-style: none;
    -webkit-transition: -webkit-transform .5s;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_dim_img {
    visibility: hidden;
    position: absolute;
    top: 79px;
    right: 28px;
    display: none;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.focus .thumbnail_dim_img {
    visibility: inherit;
    top: 84px;
    right: 28px;
    display: inherit;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div {
    margin: 0px 0px -31px 22px;
    width: 278px;
    height: 180px;
    -webkit-transform: scale(1.0) translateZ(0px);
}

div.vod_detail_series_layer #thumbnail_itemList_div.dimmed .thumbnail_item_div {
    opacity: .5;
}

div.vod_detail_series_layer #thumbnail_itemList_div.dimmed .thumbnail_item_div.select {
    opacity: .99;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.focus {
    margin: 0px 0px -31px 22px;
    -webkit-transform: scale(1.07) translateZ(0px);
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_str {
    position: absolute;
    top: 117px;
    right: 45px;
    text-align: right;
    font-size: 33px;
    font-family: "RixHead M";
    color: #FFFFFF;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_img {
    position: absolute;
    left: 26px;
    top: 33px;
    width: 224px;
    height: 126px;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_img.default {
    content: url(../../resource/thum_default_w224.png);
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.focus .thumbnail_item_img {
    position: absolute;
    left: 26px;
    top: 33px;
    width: 221px;
    height: 124px;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_unFocus_div {
    position: absolute;
    left: 26px;
    top: 33px;
    width: 224px;
    height: 118px;
    background: #000000;
    opacity: 0.3;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 99;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.focus .thumbnail_unFocus_div {
    top: 27px;
    left: 19px;
    width: 226px;
    height: 120px;
    background: none;
    border: 5px solid #D2332F;
    opacity: 1.0;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div .thumbnail_select_img {
    position: absolute;
    left: 26px;
    top: 33px;
    content: url(../../resource/thum_select.png);
    display: none;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.select .thumbnail_select_img {
    display: block;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.select .thumbnail_unFocus_div {
    top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: none;
    opacity: 1.0;
}

div.vod_detail_series_layer #thumbnail_itemList_div .thumbnail_item_div.select .thumbnail_dim_img {
    visibility: inherit;
    top: 84px;
    right: 28px;
    display: inherit;
}

div.vod_detail_series_layer #noThumbnail_itemList_BG {
    position: absolute;
    left: 60px;
    top: 0px;
    width: 224px;
    height: 1080px;
    background: white;
    opacity: 0.08;
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div {
    position: relative;
    width: 224px;
    height: 108px;
    margin-left: 60px;
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div.focus {
    background-color:  #D2332F;
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div.select {
    background: rgba(255, 255, 255, 0.1);
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div .thumbnail_bar_area {
    width: 164px;
    height: 106px;
    border-top: 2px solid rgba(255, 255, 255, 0.08);
    margin-left: 30px;
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div.select .thumbnail_bar_area,
div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div.noBar .thumbnail_bar_area {
    border-color: transparent;
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div:nth-last-child(1) .thumbnail_bar_area {
    height: 104px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.08);
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div.select:nth-last-child(1) .thumbnail_bar_area {
    border-color: transparent;
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div .noThumbnail_str {
    position: absolute;
    left: 0px;
    top: 36px;
    width: 224px;
    font-size: 36px;
    color: white;
    opacity: 0.5;
    text-align: center;
    font-family: "RixHead B";
}

div.vod_detail_series_layer #thumbnail_itemList_div .noThumbnail_item_div.focus .noThumbnail_str {
    color: white;
    opacity: 1.0;
    -webkit-transform: scale(1.05);
}

div.vod_detail_series_layer #btn_arw_left {
    float: left;
    margin-top: 32px;
    margin-left: -38px;
    background: url(../../resource/arw_package_detail_left.png);
    width: 20px;
    height: 35px;
    display: none;
}

div.vod_detail_series_layer #btn_arw_right {
    float: right;
    margin-top: -77px;
    margin-right: -25px;
    background: url(../../resource/arw_package_detail_right.png);
    width: 20px;
    height: 35px;
    display: none;
}

div.vod_detail_series_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner {
    opacity: .4;
}

div.vod_detail_series_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner .vod_btn_title {
    top: 39px;
}

div.vod_detail_series_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner .vod_btn_title::after {
    content: " 가입중";
}

div.vod_detail_series_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner .vod_btn_price {
    display: none;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.noCorner .vod_btn_title {
    top: 39px;
    left: 0px;
    width: inherit;
    text-align: center;
}

div.vod_detail_series_layer div#btnArea #btn_item_area .vod_btn_area.noCorner.free .vod_btn_title {
    opacity: 0.5;
    text-decoration: line-through;
}
