div.vod_detail_single_layer div#background_area {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    text-align: center;
}

div.vod_detail_single_layer div#background_area > * {
    position: fixed;
}

div.vod_detail_single_layer div.bgBlurWrapper {
    position: fixed;
    top: 0;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.vod_detail_single_layer img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.vod_detail_single_layer div#background_area .bImg {
    right: 0;
    top: 0;
}

div.vod_detail_single_layer .basic_text {
    font-size: 27px;
    color: white;
    opacity: .5;
    font-family: "RixHead L";
}

div.vod_detail_single_layer div#background_area .dim {
    background: #191919;
    opacity: .7;
    width: 1920px;
    height: 1080px;
    position: fixed;
}

div.vod_detail_single_layer div#posterArea {
    left: 82px;
    position: absolute;
    top: 70px;
    -webkit-transform: translateZ(0);
}

div.vod_detail_single_layer div#posterArea #poster_contentInfo_evtImg {
    position: absolute;
    width: 329px;
    top: 296px;
}

div.vod_detail_single_layer img#main_poster {
    width: 329px;
    display: block;
    margin-bottom: 58px;
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area {
    margin-top: 18px;
    margin-left: 2px;
    padding-top: 7px;
    width: 252px;
    height: auto;
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area .poster_starImg {
    position: relative;
    margin-right: 7px;
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area .poster_starImg {
    position: relative;
    margin-right: 7px;
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area .poster_starImg.filled {
    content: url(../../resource/detail_img_rating_filled2.png);
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area .poster_starImg.half {
    content: url(../../resource/detail_img_rating_half2.png);
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area .poster_starImg.empty {
    content: url(../../resource/detail_img_rating_gray2.png);
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area #score_area {
    position: relative;
    margin-top: -6px;
    width: 58px;
    height: 32px;
    float: right;
}

div.vod_detail_single_layer div#posterArea #poster_starScore_area #score_area .poster_scoreImg {
    padding-right: 4px;
}

div.vod_detail_single_layer div#posterArea #poster_contentCoupon_img {
    display: none;
    position: absolute;
    left: -3px;
    top: -3px;
}

div.vod_detail_single_layer div#posterArea #poster_vodLock_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 329px;
    height: 470px;
    display: none;
    content: url(../../resource/detail/img_vod_locked_big.png);
}

div.vod_detail_single_layer div#posterArea #poster_vodLock_img.square {
    height: 329px;
    content: url(../../resource/detail/img_vod_locked_music_big.png);
}

div.vod_detail_single_layer div#posterArea #poster_contentInfo_area {
    position: absolute;
    width: 81px;
    right: 0;
    top: -3px;
    overflow: visible;
}

div.vod_detail_single_layer div#posterArea #poster_contentInfo_area img {
    margin-bottom: -10px;
}

div.vod_detail_single_layer div#infoArea {
    position: absolute;
    width: 1067px;
    left: 488px;
    top: 71px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod_detail_single_layer div#maintitle_area {
    color: white;
    opacity: .95;
    font-size: 60px;
    margin-top: -9px;
    margin-bottom: -5px;
    font-family: "RixHead B";
    width: 1140px;
}

div.vod_detail_single_layer div#maintitle_area span {
    float: left;
    line-height: 71px;
}

div.vod_detail_single_layer div#maintitle_area #detailTitle_age_icon_single {
    margin-bottom: -8px;
    margin-left: 15px;
}

div.vod_detail_single_layer div#subtitle_area span,
div.vod_detail_single_layer div#subtitle_area_0 span {
    float: left;
    white-space: nowrap;
}

div.vod_detail_single_layer div#subtitle_area .splitBar,
div.vod_detail_single_layer div#subtitle_area_0 .splitBar {
    float: left;
    margin: 2px 13px;
    width: 2px;
    height: 20px;
    background: white;
    opacity: 0.2;
}

div.vod_detail_single_layer div#subtitle_area .subtitle_icon_img {
    float: left;
}

div.vod_detail_single_layer div#subtitle_area .vodRes_icon_img {
    margin-right: 6px;
}

div.vod_detail_single_layer div#subtitle_area {
    margin-top: 10px;
}

div.vod_detail_single_layer div#subtitle_area .subtitle_text {
    font-size: 24px;
    line-height: 27px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead M";
    float: left;
    margin-top: 3px;
    margin-bottom: -1px;
}

div.vod_detail_single_layer div#subtitle_area_0 .subtitle_text {
    font-size: 24px;
    color: white;
    opacity: 0.5;
    font-family: "RixHead M";
    float: left;
    margin-top: 4px;
}

div.vod_detail_single_layer div#subtitle_area_0 .subtitle_icon_img {
    float: left;
}

div.vod_detail_single_layer div#subtitle_area_0 .vodRes_icon_img {
    margin-right: 6px;
}

div.vod_detail_single_layer div#subtitle_area_0 {
    margin-top: 12px;
}

div.vod_detail_single_layer div#subtitle_area .subtitle_text span.limitArea {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

div.vod_detail_single_layer div#actor_area {
    margin-top: 32px;
    width: 1067px;
    height: 31px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 26px;
    color: white;
    font-family: "RixHead M";
}

div.vod_detail_single_layer div#actor_area span {
    margin-right: 42px;
    color: rgba(255, 255, 255, .7);
    font-size: 26px;
}

div.vod_detail_single_layer div#actor_area span obj {
    margin-right: 11px;
    color: rgb(166,119,67);
}

div.vod_detail_single_layer div#synopsis_area {
    margin-top: 21px;
    width: 1076px;
    font-size: 28px;
    color: rgba(255, 255, 255, .5);
    line-height: 44px;
    font-family: "RixHead L";
}

div.vod_detail_single_layer div#synopsis_btn_area {
    position: relative;
    display: none;
    left: 931px;
    top: -44px;
    width: 140px;
    height: 42px;
}

div.vod_detail_single_layer div#synopsis_btn_area img {
    width: 140px;
    height: 42px;
}

div.vod_detail_single_layer div#synopsis_btn_area .synopsis_btn_text {
    position: absolute;
    left: 22px;
    top: 8px;
    font-size: 25px;
    color: white;
    font-family: "RixHead L";
}

div.vod_detail_single_layer div#synopsis_btn_area.focus {
    background: #D2332F;
}

div.vod_detail_single_layer div#synopsis_btn_area.focus img {
    visibility: hidden;
}

div.vod_detail_single_layer div#synopsis_btn_area.focus .synopsis_btn_text {
    color: white;
    font-family: "RixHead M";
}

div.vod_detail_single_layer div#notice_infoArea {
    position: absolute;
    left: 492px;
    top: 441px;
    width: 1067px;
    height: 54px;
    float: left;
    background: rgba(205, 205, 205, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    visibility: hidden;
}

div.vod_detail_single_layer div#notice_infoArea.noMore {
    height: 52px;
    background: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-right: none;
}

div.vod_detail_single_layer div#notice_infoArea .notice_icon {
    float: left;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 25px;
    width: 41px;
    height: 32px;
    background-image: url("../../resource/detail/icon_noti_detail.png");
}

div.vod_detail_single_layer div#notice_infoArea #notice_splitLine {
    float: left;
    width: 2px;
    height: 22px;
    background: #FFFFFF;
    opacity: 0.3;
    margin-left: 17px;
    margin-top: 16px;
}

div.vod_detail_single_layer div#notice_infoArea #notice_contents {
    float: left;
    width: 960px;
    font-size: 25px;
    margin: 14px 0px 14px 18px;
    color: #FFFFFF;
    opacity: 0.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-family: "RixHead L";
    line-height: 25px;
}

div.vod_detail_single_layer div#notice_infoArea.focus {
    border: 0;
    border: 5px solid #D1433F;
    height: 46px;
    width: 1069px;
}

div.vod_detail_single_layer div#notice_infoArea.focus #notice_splitLine {
    margin-top: 12px;
}

div.vod_detail_single_layer div#notice_infoArea.focus .notice_icon {
    margin-top: 9px;
    margin-left: 21px;
    background-image: url("../../resource/detail/icon_noti_detail_f.png");
}

div.vod_detail_single_layer div#notice_infoArea.focus #notice_contents {
    opacity: 1.0;
    margin-top: 10px;
}

div.vod_detail_single_layer div.ollehMobile_icon_area {
    position: absolute;
    visibility: hidden;
    left: 492px;
    top: 512px;
}

div.vod_detail_single_layer div.ollehMobile_icon_area img {
    float: left;
}

div.vod_detail_single_layer div.ollehMobile_icon_area .mobile_icon_text {
    float: left;
    font-size: 22px;
    color: white;
    opacity: 0.6;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "RixHead L";
}

div.vod_detail_single_layer div#btnArea {
    -webkit-transform: translateZ(0);
    position: absolute;
    left: 492px;
    top: 560px;
    overflow: hidden;
}

div.vod_detail_single_layer div#btnArea #btn_item_area {
    white-space: nowrap;
    overflow: visible;
    width: 1250px;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area {
    position: relative;
    margin-right: 7px;
    width: 307px;
    height: 119px;
    display: inline-block;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_title {
    position: absolute;
    font-size: 26px;
    left: 23px;
    top: 21px;
    color: #F0F0F0;
    opacity: 0.5;
    font-family: "RixHead M";
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area .tax:after{
    content: "(부가세 포함)";
    font-size: 20px;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.free .tax:after {
    content: "";
    font-size: 20px;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_price {
    position: absolute;
    font-size: 25px;
    height: 50px;
    left: 24px;
    top: 57px;
    color: #F0F0F0;
    opacity: 0.8;
    font-family: "RixHead B";
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_price .price_type{
    font-family: "RixHead M";
    font-size: 28px;
}
div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area .vod_btn_price .price_won {
    font-family: "RixHead M";
    font-size: 26px;
}



div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_title {
    color: white;
    opacity: 0.6;
}



div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.btn_focus .vod_btn_price {
    color: white;
    opacity: 1.0;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.free.btn_focus .vod_btn_price {
    opacity: 0.7;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.added .vod_btn_title {
    top: 39px;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_line {
    visibility: hidden;
    position: absolute;
    left: 24px;
    top: 74px;
    height: 2px;
    background: #FFFFFF;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .btn_focus .vod_btn_line {
    background: white;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .free .vod_btn_line {
    visibility: inherit;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_buyImg_bg {
    visibility: hidden;
    position: absolute;
    top: -3px;
    right: 4px;
    width: 66px;
    height: 33px;
    background-color: white;
    opacity: 0;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_buyImg {
    visibility: hidden;
    background: url(../../resource/icon_flag_free.png);
    position: absolute;
    top: -3px;
    right: 0px;
    width: 74px;
    height: 39px;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .btn_focus .vod_btn_buyImg {
    background: url(../../resource/icon_flag_free_f.png);
}

div.vod_detail_single_layer div#btnArea #btn_item_area .free .vod_btn_buyImg_bg,
div.vod_detail_single_layer div#btnArea #btn_item_area .free .vod_btn_buyImg {
    visibility: inherit;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .btn_focus {

}

div.vod_detail_single_layer div#btnArea #btn_item_area .btn_focus .vod_btn_backImg {
    background: white;
    width: auto;
    height: auto;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_tmpBackground {
    position: absolute;
    width: 299px;
    height: 101px;
    background: gray;
    opacity: 0.3;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

div.vod_detail_single_layer div#btnArea #btn_item_area .btn_focus .vod_btn_tmpBackground {
    box-sizing: border-box;
    opacity: 1.0;
    background: #D2332F;
    border: none;
    width: 303px;
    height: 105px;
}

div.vod_detail_single_layer div#btnArea #btn_txt_area {
    font-size: 22px;
    color: #FFFFFF;
    opacity: 0.3;
}

div.vod_detail_single_layer div#btnArea #btn_txt_area span {
    float: left;
}

div.vod_detail_single_layer div#btnArea #btn_txt_area .point_Bar {
    float: left;
    width: 2px;
    height: 22px;
    background: white;
    opacity: 0.3;
    margin: 2px 15px;
}

div.vod_detail_single_layer #btn_arw_left {
    background: url(../../resource/arw_package_detail_left.png);
    width: 20px;
    height: 35px;
    left: 457px;
    position: absolute;
    top: 603px;
}
div.vod_detail_single_layer.kids #btn_arw_left {
    top: 495px;
}

div.vod_detail_single_layer #btn_arw_right {
    background: url(../../resource/arw_package_detail_right.png);
    width: 20px;
    height: 35px;
    left: 1752px;
    position: absolute;
    top: 603px;
}
div.vod_detail_single_layer.kids #btn_arw_right {
    top: 495px;
}

div.vod_detail_single_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner {
    opacity: .3;
}

div.vod_detail_single_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner .vod_btn_title {
    top: 39px;
}

div.vod_detail_single_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner .vod_btn_title::after {
    content: " 가입중";
}

div.vod_detail_single_layer.hasConner div#btnArea #btn_item_area .vod_btn_area.corner .vod_btn_price {
    display: none;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.noCorner .vod_btn_title {
    top: 39px;
}

div.vod_detail_single_layer div#btnArea #btn_item_area .vod_btn_area.noCorner.free .vod_btn_title {
    opacity: 0.5;
    text-decoration: line-through;

}