div.searchMain {overflow-x: hidden;overflow-y: hidden;margin: 0px; border: 0px; font-family: RixHead L; letter-spacing: -0.05em}
div.searchMain * {letter-spacing: -0.05em}
div.searchMain>* { position: absolute; }
div.searchMain ul {-webkit-margin-before:0; -webkit-margin-after:0; -webkit-padding-start: 0;}
div.searchMain li { list-style: none; }
div.searchMain .hidden {display: none;}
div.searchMain div, div.searchMain div.searchMain p, div.searchMain span, div.searchMain iframe, div.searchMain ul, div.searchMain li, div.searchMain img {
    overflow: visible;
}

div.searchMain #pig_shadow { left:1288px; top:76px; position: absolute; }
div.searchMain #pig_gra { left: 1365px; top: 148px; position: absolute; }
div.searchMain #pig_dim {
    left:1365px;
    top:148px;
    width: 555px;
    height: 316px;
    background-color: rgba(0, 0, 0, 0.2);
}

div.searchMain #bgCanvasContainer {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
}

div.searchMain #background .bgImg {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
    -webkit-filter: blur(20px);
}

/* Background 영역 */
div.searchMain #background {
    position: fixed;
    z-index: -100;
}
div.searchMain #background>* {
    position: fixed;
}
div.searchMain #background .clipping {
    -webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px)
}

div.searchMain #background #background_wrapper>* {
    position: fixed;
}

div.searchMain #background div.bgBlurWrapper {
    position: fixed;
    top: 0px;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.searchMain #background img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.searchMain #backgroundTitle {
    top: 56px;
    left: 75px;
    color:rgba(255, 255, 255, 0.1);
    position: fixed;
    font-size: 48px;
    line-height: 50px;
    height: 50px;
    font-family: "RixHead B";
    letter-spacing: -0.03em;
    vertical-align: top;
    display: inline-block;
}

div.searchMain #backgroundTitle::before {
    content: url(../resource/ar_history.png);
    opacity: .5;
    vertical-align: top;
    margin-right: 13px;
    display: inline-block;
}

div.searchMain #backIcon {
    right: 0px;
    top: 615px;
}

/* 공통 영역 (홈샷) */
div.searchMain #commonArea #homeShot {
    position: absolute;
    left: 1393px;
    top: 468px;
}

div.searchMain #contentsArea {
    position: absolute;
    left:0px;
    top:122px;
    width: 1291px;
}


div.searchResult {overflow-x: hidden;overflow-y: hidden;margin: 0px; border: 0px; font-family: RixHead L; letter-spacing: -0.05em}
div.searchResult>* { position: absolute; }
div.searchResult ul {-webkit-margin-before:0; -webkit-margin-after:0; -webkit-padding-start: 0;}
div.searchResult li { list-style: none; }
div.searchResult .hidden {display: none;}
div.searchResult div, div.searchResult div.searchResult p, div.searchResult span, div.searchResult iframe, div.searchResult ul, div.searchResult li, div.searchResult img {
    overflow: visible;
}

div.searchResult #pig_shadow { left:1288px; top:76px; position: absolute; }
div.searchResult #pig_gra { left: 1365px; top: 148px; position: absolute; }
div.searchResult #pig_dim {
    left:1365px;
    top:148px;
    width: 555px;
    height: 316px;
    background-color: rgba(0, 0, 0, 0.2);
}

div.searchResult #bgCanvasContainer {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
}

div.searchResult #background .bgImg {
    top: 0px;
    left: 0px;
    width: 320px;
    height: 180px;
    -webkit-filter: blur(20px);
}

/* Background 영역 */
div.searchResult #background {
    position: fixed;
    z-index: -100;
}

div.searchResult #background #defaultBG {
    width: 1920px;
    height: 1080px;
    background: rgba(0, 0, 0, 0.9);
}

div.searchResult #background #bg_menu_dim_up {
    position: absolute;
    content: url(../resource/bg_menu_dim_up.png);
}

div.searchResult #background #bg_menu_dim_down {
    position: absolute;
    top: 912px;
    content: url(../resource/bg_menu_dim_dw.png);
}

div.searchResult #background>* {
    position: fixed;
}
div.searchResult #background .clipping {
    -webkit-clip-path: polygon(0px 0px, 1920px 0px, 1920px 148px, 1365px 148px, 1365px 463px, 1920px 463px, 1920px 1080px, 0px 1080px)
}

div.searchResult #background #background_wrapper>* {
    position: fixed;
}

div.searchResult #background div.bgBlurWrapper {
    position: fixed;
    top: 0px;
    left: 800px;
    opacity: .99;
    transform-origin: center center;
    -webkit-transform: scale(6.3, 6.3);
}

div.searchResult #background img.bgBlur {
    width: 320px;
    -webkit-filter: blur(10px);
}

div.searchResult #backgroundTitle {
    top:40px;
    left:72px;
    color:rgba(255, 255, 255, 0.06);
    position: fixed;
    font-size: 85px;
    line-height: 85px;
    letter-spacing: -0.03em;
    font-family: "RixHead B";
}

div.searchResult #backIcon {
    right: 0px;
    top: 615px;
}

/* 공통 영역 (홈샷) */
div.searchResult #commonArea #homeShot {
    position: absolute;
    left: 1393px;
    top: 468px;
}

div.searchResult #contentsArea {
    position: absolute;
    left:0px;
    width: 1291px;
}
