div.vod .cornerMiniGuide .down_arw {
    position: absolute;
    top: 469px;
    width: 1920px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 27px;
    height: 42px;
    line-height: 42px;
    vertical-align: top;
    display: inline-block;
}

div.vod .cornerMiniGuide .down_arw::before {
    content: url(../../resource/arw_related_dw.png);
    vertical-align: top;
    width: 42px;
    height: 42px;
    display: inline-block;
    margin-right: 15px;
}

/* Title Area */
div.vod .cornerMiniGuide .title_area {
    position: absolute;
    top: 75px;
    left: 89px;
}

div.vod .cornerMiniGuide.previewMode .title_area {
    top: 296px;
}

div.vod .cornerMiniGuide.normalMode .title_area {
    top: 296px;
}

div.vod .cornerMiniGuide .title_area .corner_title {
    display: inline-block;
    font-size: 38px;
    font-family: "RixHead M";
    color: white;
}

div.vod .cornerMiniGuide .title_area .sep_line {
    display: inline-block;
    height: 28px;
    width: 1px;
    background: rgba(255, 255, 255, .5);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: top;
}

div.vod .cornerMiniGuide .title_area .conts_title {
    display: inline-block;
    font-size: 38px;
    color: white;
    font-family: "RixHead L";
}

/* Contents Area */
div.vod .cornerMiniGuide .contents_area {
    position: absolute;
    left: 93px;
    top: 140px;
    overflow: visible;
    transition: -webkit-transform .5s;
}

div.vod .cornerMiniGuide.normalMode .contents_area {
    display: none;
}

div.vod .cornerMiniGuide.previewMode .contents_area {
    -webkit-transform: scale(0.8) translateY(48px);
    -webkit-transform-origin: center bottom;
}

div.vod .cornerMiniGuide .contents_area .left_arrow {
    display: inline-block;
    width: 21px;
    height: 34px;
    margin-top: 54px;
    margin-right: 18px;
    background: url(../../resource/arw_view_mini_l.png);
    vertical-align: top;
}

div.vod .cornerMiniGuide .contents_area .right_arrow {
    display: inline-block;
    width: 21px;
    height: 34px;
    margin-top: 54px;
    margin-left: 18px;
    background: url(../../resource/arw_view_mini_r.png);
    vertical-align: top;
}

div.vod .cornerMiniGuide .contents_area .right_arrow.hide {
    display: none;
}

div.vod .cornerMiniGuide .contents_area .left_arrow.hide {
    display: none;
}

div.vod .cornerMiniGuide.previewMode .contents_area .right_arrow {
    display: none;
}

div.vod .cornerMiniGuide.previewMode .contents_area .left_arrow {
    display: none;
}

div.vod .cornerMiniGuide.normalMode .contents_area .right_arrow {
    display: none;
}

div.vod .cornerMiniGuide.normalMode .contents_area .left_arrow {
    display: none;
}

div.vod .cornerMiniGuide .contents_area .thumb_list {
    display: inline-block;
    width: 1656px;
    overflow: visible;
    vertical-align: top;
    white-space: nowrap;
}

div.vod .cornerMiniGuide .contents_area .item_area {
    display: inline-block;
    margin-right: 29px;
    width: 252px;
    overflow: visible;
}

div.vod .cornerMiniGuide .contents_area .item_area .poster_area {
    border: transparent 5px solid;
    padding: 3px;
    width: 252px;
    height: 142px;
    position: absolute;
    top: 0;
}

div.vod .cornerMiniGuide .contents_area .item_area .poster_image {
    width: 252px;
    height: 142px;
}

div.vod .cornerMiniGuide .contents_area .item_area .sdw_image {
    opacity: 0;
}

div.vod .cornerMiniGuide.previewMode .contents_area .item_area .sdw_image {
    position: absolute;
    top: 3px;
    width: 252px;
    height: 142px;
    background: rgb(0, 0, 0);
    opacity: .3;
}

div.vod .cornerMiniGuide .contents_area .item_area .title {
    margin-top: 3px;
    font-size: 26px;
    font-family: "RixHead L";
    color: white;
    opacity: .6;
    text-align: center;
    width: inherit;
    display: inline-block;
    /*transition: -webkit-transform .5s, opacity .5s;*/
    transition: -webkit-transform .5s;
}

div.vod .cornerMiniGuide .contents_area .item_area .title {
    margin-top: 150px;
    font-size: 26px;
    font-family: "RixHead L";
    color: white;
    opacity: .6;
    text-align: center;
    width: inherit;
    display: inline-block;
    position: absolute;
}

div.vod .cornerMiniGuide.previewMode .contents_area .item_area .title {
    display: none;
}

div.vod .cornerMiniGuide .contents_area .item_area.focus .poster_area {
    -webkit-transform: scale(1.103) translateY(-7px);
    border-color: #D1433F;
}

div.vod .cornerMiniGuide.previewMode .contents_area .item_area.focus .poster_area {
    -webkit-transform: scale(1) translateY(0);
    border-color: transparent;
}

div.vod .cornerMiniGuide .contents_area .item_area .title {
    opacity: 1;
    -webkit-transform: translateY(8px) scale(1.154);
}