div.vod div#miniguide_area {
    width: 1920px;
    height: 568px;
    bottom: 0px;
    position: absolute;
    /*background-image: url(../../resource/bg_miniguide.png);*/
    display: none;
    overflow: visible;
}

div.vod div#miniguide_area::before {
    content: '';
    background: url(../../resource/bg_miniguide.png);
    background-size: 1920px 570px;
    position: absolute;
    margin-top: -2px;
    width: 1920px;
    height:570px;
    opacity: .9;
}

div.vod div#miniguide_area #thumb_indicator_area {
    position: absolute;
    right: 89px;
    color: rgba(255, 255, 254, .7);
    font-size: 30px;
    font-family: "RixHead L";
    bottom: 234px;
}

div.vod div#miniguide_area #thumb_indicator_area::before {
    display: inline-block;
    content: url(../../resource/player/arw_related_up.png);
    vertical-align: middle;
    margin-right: 11px;
}

div.vod div#miniguide_area #context_area {
    position: absolute;
    right: 85px;
    bottom: 44px;
    width: 250px;
    height: 41px;
}

div.vod div#miniguide_area #context_area .contextIcon {
    display: inline-block;
    float: right;
    left: 0;
    width: 27px;
    height: 22px;
    top: 0;
    background-size: 27px 22px;
    background-image: url(../../resource/icon_option_related.png);
}

div.vod div#miniguide_area #context_area .vertical_bar{
    display: inline-block;
    float: right;
    margin-left: 10px;
    width: 2px;
    height: 22px;
    background: rgba(255, 255, 255, .2);
}

div.vod div#miniguide_area #context_area .contextText {
    display: inline-block;
    float: right;
    margin-left: 6px;
    color: rgba(255, 255, 255, .4);
    font-size: 24px;
    font-family: "RixHead L";
    line-height: 23px;
    height: 23px;
}

div.vod div#miniguide_area #context_area .contextText2 {
    display: inline-block;
    float: right;
    margin-left: 10px;
    color: rgba(255, 255, 255, .4);
    font-size: 24px;
    font-family: "RixHead L";
    line-height: 23px;
    height: 23px;
}