div.vod #mvPlayBar {
    visibility: inherit;
    position: absolute;
    width: 1920px;
    height: 571px;
    bottom: 0px;
}

div.vod #mvPlayBar.hide {
    visibility: hidden;
}

div.vod #mvPlayBar_bg {
    height: 571px;
    width: 1920px;
}

div.vod #mvBar_area {
    position: absolute;
    left: 346px;
    top: 280px;
    width: 1250px;
    height: 163px;
}

div.vod #mv_playIcon_img {
    visibility: hidden;
    position: absolute;
    left: 60px;
    top: 54px;
}

div.vod #mv_playIcon_img.show {
    visibility: inherit;
}

div.vod #mv_pauseIcon_img {
    visibility: hidden;
    position: absolute;
    left: 60px;
    top: 55px;
}

div.vod #mv_pauseIcon_img.show {
    visibility: inherit;
}

div.vod #mvBase_bar {
    position: absolute;
    left: 192px;
    top: 89px;
    height: 6px;
    width: 990px;
    background: #626262;
}

div.vod #mvRed_bar {
    position: absolute;
    left: 192px;
    top: 89px;
    width: 578px;
    height: 6px;
    background: #EC2424;
}

div.vod #mvTitle_area {
    position: absolute;
    top: 17px;
    left: 192px;
    font-size: 48px;
    line-height: 52px;
    margin: 2px 0;
    color: white;
    width: 980px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.vod #mvCurrent_time_area {
    position: absolute;
    top: 115px;
    left: 193px;
    font-size: 26px;
    color: white;
}

div.vod #mvEnd_time_area {
    position: absolute;
    left: 1108px;
    top: 115px;
    font-size: 26px;
    color: white;
}

div.vod #mv_album_img {
    position: absolute;
    top: 13px;
    left: 14px;
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

div.vod #mv_album_lock {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 137px;
    height: 136px;
    border-radius: 50%;
    content: url(../../resource/img_mv_play_locked.png);
    display: none;
}

div.vod #mvBar_area.posterLock #mv_album_lock {
    display: inherit;
}

div.vod #next_mv_div {
    position: absolute;
    left: 1593px;
    top: 308px;
    width: 259px;
    height: 106px;
    overflow: visible;
}

div.vod #nextMVArrow_img {
    margin-top: 25px;
    float: left;
}

div.vod #nextMVAlbum_img {
    width: 106px;
    float: right;
}

div.vod #next_mv_div.vertical #nextMVAlbum_img {
    -webkit-transform: translateY(-22.5px);
}

div.vod #nextMVAlbum_lock {
    position: absolute;
    right: 0;
    height: 106px;
    width: 106px;
    float: right;
    content: url(../../resource/img_mv_play_locked.png);
    display: none;
}

div.vod #next_mv_div.posterLock #nextMVAlbum_lock {
    display: inherit;
}

div.vod #next_mv_div.vertical #nextMVAlbum_lock {
    height: 151px;
    content: url(../../resource/img_mv_play_vod_locked.png);
    -webkit-transform: translateY(-22.5px);
}

div.vod #nextMVAlbum_shadow {
    position: absolute;
    right: 0;
    width: 106px;
    height: 106px;
    background: black;
    opacity: 0.5;
}

div.vod #next_mv_div.vertical #nextMVAlbum_shadow {
    -webkit-transform: translateY(-22.5px);
    height: 151px;
}

div.vod #nextMV_title {
    position: absolute;
    left: 51px;
    top: 25px;
    font-size: 27px;
    line-height: 30px;
    color: white;
    opacity: 0.7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

div.vod #nextMV_title.oneLine {
    top: 38px;
}

div.vod #nextMV_artist {
    position: absolute;
    left: 51px;
    top: 57px;
    font-size: 27px;
    color: white;
}

div.vod #prev_mv_div {
    position: absolute;
    top: 308px;
    left: 68px;
    width: 259px;
    height: 106px;
    overflow: visible;
}

div.vod #prevMVAlbum_img {
    width: 106px;
    float: left;
}

div.vod #prev_mv_div.vertical #prevMVAlbum_img {
    -webkit-transform: translateY(-22.5px);
}

div.vod #prevMVAlbum_lock {
    position: absolute;
    left: 0;
    height: 106px;
    width: 106px;
    float: right;
    content: url(../../resource/img_mv_play_locked.png);
    display: none;
}

div.vod #prev_mv_div.posterLock #prevMVAlbum_lock {
    display: inherit;
}

div.vod #prev_mv_div.vertical #prevMVAlbum_lock {
    height: 151px;
    content: url(../../resource/img_mv_play_vod_locked.png);
    -webkit-transform: translateY(-22.5px);
}

div.vod #prevMVAlbum_shadow {
    position: absolute;
    left: 0px;
    width: 106px;
    height: 106px;
    background: black;
    opacity: 0.5;
}

div.vod #prev_mv_div.vertical #prevMVAlbum_shadow {
    -webkit-transform: translateY(-22.5px);
    height: 151px;
}

div.vod #prevMV_title {
    position: absolute;
    right: 40px;
    top: 25px;
    font-size: 27px;
    line-height: 30px;
    color: white;
    text-align: right;
    opacity: 0.7;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

div.vod #prevMV_title.oneLine {
    top: 38px;
}

div.vod #prevMV_artist {
    position: absolute;
    left: 37px;
    top: 57px;
    font-size: 27px;
    color: white;
}

div.vod #prevMVArrow_img {
    margin-top: 25px;
    float: right;
}

div.vod #mvBottomMenu_div {
    position: absolute;
    top: 435px;
    text-align: center;
    width: 1920px;
    height: 1080px;
    opacity: .7;
}

div.vod #mvBottomMenu_div .mvBottomMenu_icon {
    margin-right: 19px;
    margin-left: 20px;
}

div.vod #mvBottomMenu_div .mvBottomMenu_icon.info {
    content: url(../../resource/con_mv_info.png);
}

div.vod #mvBottomMenu_div .mvBottomMenu_icon.add {
    content: url(../../resource/con_mv_add.png);
}

div.vod #mvBottomMenu_div .mvBottomMenu_icon.related {
    content: url(../../resource/con_mv_related.png);
}