div.vod #mvPlayBar_relationMenu_area {
    visibility: hidden;
    position: absolute;
    width: 1920px;
    height: 571px;
    bottom: 0;
}

div.vod #mvPlayBar_relationMenu_area.show {
    visibility: inherit;
}

div.vod #mvPlayRelatedMenu_bg {
    width: 1920px;
    height: 571px;
    content: url(../../resource/bg_miniguide.png);
}

div.vod #mvPlayRelatedMenu_div {
    position: absolute;
    left: 0;
    top: 369px;
    text-align: center;
    width: 1920px;
    height: 1080px;
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn {
    width: 170px;
    height: 202px;
    display: inline-block;
    vertical-align: middle;
}

div.vod #mvPlayRelatedMenu_div.noData .mvPlayRelatedMenu_btn.recommend {
    display: none;
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn .mvPlayBottomMenu_icon {
    margin-top: 10px;
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.info .mvPlayBottomMenu_icon {
    content: url(../../resource/con_mv_info.png)
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.add .mvPlayBottomMenu_icon {
    content: url(../../resource/con_mv_add.png)
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.related .mvPlayBottomMenu_icon {
    content: url(../../resource/con_mv_related.png)
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.info.focus .mvPlayBottomMenu_icon {
    content: url(../../resource/con_mv_info_f.png)
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.add.focus .mvPlayBottomMenu_icon {
    content: url(../../resource/con_mv_add_f.png)
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.related.focus .mvPlayBottomMenu_icon {
    content: url(../../resource/con_mv_related_f.png)
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn .mvPlayBottomMenu_icon_txt {
    font-size: 24px;
    margin-top: 17px;
    width: 170px;
    text-align: center;
    color: white;
    opacity: 0.7;
    display: inline-block;
    font-family: "RixHead L";
}

div.vod #mvPlayRelatedMenu_div .mvPlayRelatedMenu_btn.focus .mvPlayBottomMenu_icon_txt {
    font-size: 26px;
    opacity: 1.0;
    font-family: "RixHead M";
}