.vod.FFIndicator * {
    overflow: visible;
}

.vod.FFIndicator #main_indicator {
    background: url(../../resource/center_control_bg.png);
    width: 270px;
    height: 270px;
    text-align: center;
    display: table;
    position: absolute;
    left: 825px;
    top: 406px;
    /* 임시방편 Z인덱스 조정*/
    z-index: 15;
}

.vod.FFIndicator #main_indicator_wrapper {
    vertical-align: middle;
    display: table-cell;
}

.vod.FFIndicator #main_indicator #icon img.show {
    display: block;
}

.vod.FFIndicator #main_indicator #icon img {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.vod.FFIndicator #main_indicator #icon {
    display: block;
    width: inherit;
}

.vod.FFIndicator #main_indicator #speed_area {
    display: block;
    height: 41px;
    margin-top: 31px;
}

.vod.FFIndicator #main_indicator #speed_area > img {
    display: inline-block;
    vertical-align: top;
    /*-webkit-transform: translateY(2px);*/
}

.vod.FFIndicator #main_indicator #speed_area > #speed_txt {
    color: white;
    font-size: 48px;
    line-height: 36px;
    display: inline-block;
    margin-left: 11px;
}

.vod #PlayMiniIndicator {
    position: absolute;
    left: 55px;
    top: 953px;
    overflow: visible;
}

.vod #PlayMiniIndicator #main_area {
    top: 0;
    left: 35px;
    position: absolute;
    display: inline-block;
    width: 202px;
}

.vod #PlayMiniIndicator.mvMiniIndicator.showingBg #main_area {
    left: 35px;
}

.vod #PlayMiniIndicator.mvMiniIndicator #main_area {
    left: 298px;
}

.vod #PlayMiniIndicator #main_area .icon {
    display: inline-block;
    content: url(../../resource/icon_control_play.png);
    height: 45px;
    vertical-align: middle;
}

.vod #PlayMiniIndicator #main_area .icon.icon_play {
    content: url(../../resource/icon_control_play.png);
}

.vod #PlayMiniIndicator #main_area .icon.icon_pause {
    content: url(../../resource/icon_control_pause.png);
    background-size: 35px 45px;
}

.vod #PlayMiniIndicator #main_area .icon.icon_ff {
    content: url(../../resource/icon_control_ff.png);
}

.vod #PlayMiniIndicator #main_area .icon.icon_rew {
    content: url(../../resource/icon_control_ff.png);
    -webkit-transform: scale(-1, 1);
}

.vod #PlayMiniIndicator #main_area .icon.icon_sb {
    content: url(../../resource/icon_control_jump_back.png);
}

.vod #PlayMiniIndicator #main_area .icon.icon_sf {
    content: url(../../resource/icon_control_jump_forward.png);
}

.vod #PlayMiniIndicator #main_area .speed_area {
    display: inline-block;
    vertical-align: middle;
    height: 85px;
}

.vod #PlayMiniIndicator #main_area .speedX {
    position: absolute;
    background: url(../../resource/x_big.png);
    background-size: 24px 31px;
    left: 79px;
    top: 27px;
    width: 24px;
    height: 31px;
}

.vod #PlayMiniIndicator #main_area .speedX.hide {
    display: none;
}

.vod #PlayMiniIndicator #main_area .speed_text {
    position: absolute;
    left: 112px;
    right: auto;
    top: 20px;
    font-size: 45px;
    color: white;
    font-family: "RixHead L";
}

.vod #PlayMiniIndicator #main_area .speed_text.seek {
    right: 24px;
    left: auto;
}

.vod #PlayMiniIndicator #main_area .speed_text.pause {
    font-size: 34px;
    left: 57px;
    top: 28px;
}

.vod #PlayMiniIndicator #bg_area {
    position: absolute;
    left: 0;
    top: 0;
    width: 237px;
    height: 85px;
    background-size: 237px 85px;
    background: url(../../resource/control_small_ff_rew_bg.png);
}

.vod #PlayMiniIndicator #bg_area.bg2 {
    width: 200px;
    background-size: 237px 85px;
    background: url(../../resource/control_small_ff_rew_bg2.png);
}

.vod #PlayMiniIndicator #bg_area.bg3 {
    width: 224px;
    background-size: 237px 85px;
    background: url(../../resource/control_small_ff_rew_bg3.png);
}

.vod #PlayMiniIndicator #sub_area {
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    width: 300px;
    left: 221px;
    top: 25px;
    height: 36px;
    border-left: rgba(255, 255, 255, .25) solid 2px;
}

.vod #PlayMiniIndicator.mvMiniIndicator #sub_area {
    left: 479px;
}

.vod #PlayMiniIndicator.mvMiniIndicator #sub_area.style2 {
    left: 498px;
}

.vod #PlayMiniIndicator.mvMiniIndicator #sub_area.style3 {
    left: 463px;
}

.vod #PlayMiniIndicator #sub_area.style2 {
    left: 240px;
}

.vod #PlayMiniIndicator #sub_area.style3 {
    left: 205px;
}

.vod #PlayMiniIndicator #sub_area .speed_text {
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    line-height: 36px;
    font-size: 34px;
    font-family: "RixHead L";
    color: rgba(255, 255, 255, .5);
}

.vod #PlayMiniIndicator #sub_area .speed_text::before {
    content: "";
    background: url(../../resource/x_small.png);
    background-size: 19px 25px;
    margin-right: 6px;
    margin-left: 24px;
    margin-top: -4px;
    display: inline-block;
    width: 19px;
    height: 25px;
    vertical-align: middle;
}