div.vod .redKeyPromo {
    position: absolute;
    left: 1616px;
    top: 229px;
    width: 230px;
    height: 102px;
    background: url(../../resource/player/bg_watch_right.png);
    display: none;
}

div.vod .redKeyPromo.show {
    display: inherit;
}

div.vod .redKeyPromo .redKeyPromoIcon {
    position: absolute;
    left: 41px;
    top: 34px;
    width: 23px;
    height: 24px;
    background: url(../../resource/player/key_r_b.png);
}

div.vod .redKeyPromo .redKeyPromoText {
    position: absolute;
    left: 79px;
    top: 32px;
    color: white;
    font-size: 30px;
    line-height: 34px;
    font-family: "RixHead L";
}