div.vod .relationVodArea {
    position: absolute;
    left: 0;
    top: 379px;
    width: 1920px;
    transition: -webkit-transform .5s;
    overflow: visible;
    margin-top: 82px;
    display: none;
}

div.vod .relationVodArea.show {
    display: block;
}

div.vod .relationVodArea .top_icon_area {
    text-align: center;
    color: rgba(255, 255, 255, .5);
    font-size: 27px;
    height: 42px;
    line-height: 42px;
    margin-top: 10px;
}

div.vod .relationVodArea .top_icon_area::before {
    display: inline-block;
    content: '';
    background: url(../../resource/player/arw_related_dw.png);
    width: 42px;
    height: 42px;
    vertical-align: top;
    margin-right: 14px;
}

div.vod .relationVodArea.focused .top_icon_area::before {
    display: inline-block;
    content: '';
    background: url(../../resource/player/arw_related_up.png);
    width: 42px;
    height: 42px;
    vertical-align: top;
    margin-right: 14px;
}

div.vod .relationVodArea .top_icon_area::after {
    content: "함께 많이 본 영상";
}

div.vod .relationVodArea.focused .top_icon_area::after {
    content: "닫기";
}

div.vod .relationVodArea .poster_area {
    margin-top: 30px;
    overflow: visible;
    /*display: none;*/
    opacity: 0;
    transition: opacity .5s;
}

div.vod .relationVodArea .poster_area .title_area {
    position: absolute;
    margin-top: -59px;
    margin-left: 117px;
    font-size: 30px;
    font-family: "RixHead B";
    color: rgba(255, 255, 255, .7);
}

div.vod .relationVodArea .poster_area .title_area::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 24px;
    margin-right: 12px;
    margin-top: 3px;
    background: rgba(255, 255, 255, .5);
    vertical-align: top;
}

div.vod .relationVodArea.focused {
    -webkit-transform: translateY(-510px);
}

div.vod .relationVodArea.focused .poster_area {
    /*display: block;*/
    opacity: 0.99;
}

div.vod .relationVodArea .relation_indicator {
    display: block;
    position: absolute;
    right: 91px;
    top: 497px;
    color: rgba(255, 255, 255, .2);
    font-size: 26px;
    font-family: "RixHead L";
}

div.vod .relationVodArea .relation_indicator::before {
    display: inline-block;
    content: url(../../resource/icon_option_related.png);
    vertical-align: top;
    margin-right: 13px;
}

div.vod .relationVodArea .no_contents_area {
    position: absolute;
    top: 229px;
    text-align: center;
    width: 1920px;
    display: inherit;
}

div.vod .relationVodArea .no_contents_area.hide {
    display: none;
}

div.vod .relationVodArea .no_contents_area > p {
    margin-top: 27px;
    color: rgba(255, 255, 255, .7);
    font-size: 33px;
    font-family: "RixHead L";
}

div.vod .relationVodArea .hidden {
    visibility: hidden;
}

/*
포스터 영역
 */

div.vod .relationVodArea .poster_area .recommendArea {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 66px;
    width: 1920px;
    height: 491px;
    /*transition: -webkit-transform .5s;*/
}

div.vod .relationVodArea .poster_area .recommendArea .recommendPage {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 1920px;
    height: 491px;
    -webkit-transform: translateZ(0);
}

div.vod .relationVodArea .poster_area .recommendArea .recommendPage .recommendRightDim {
    position: absolute;
    left: 1805px;
    top: 26px;
    width: 115px;
    height: 300px;
    content: url(../../resource/detail/dim_related_right_h300.png);
    -webkit-transform: translateZ(0);
    display: inherit;
}

div.vod .relationVodArea .poster_area .recommendArea .recommendPage .recommendRightDim.hide {
    display: none;
}

div.vod .relationVodArea .poster_area .recommendArea .recommendPage .recommendLeftDim {
    position: absolute;
    left: 0;
    top: 26px;
    width: 115px;
    height: 300px;
    content: url(../../resource/detail/dim_related_left_h300.png);
    -webkit-transform: translateZ(0);
    display: inherit;
}

div.vod .relationVodArea .poster_area .recommendArea .recommendPage .recommendLeftDim.hide {
    display: none;
}

div.vod .relationVodArea .poster_area .content.poster_vertical * {
    overflow: visible;
}

div.vod .relationVodArea .poster_area .posterList {
    position: absolute;
    left: -129px;
    top: 0;
    height: 491px;
    width: 3888px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transition: -webkit-transform .5s;
}

div.vod .relationVodArea .poster_area .posterList.moved {
    -webkit-transform: translateX(-1722px) translateZ(0);
}

div.vod .relationVodArea .poster_area .content.poster_vertical {
    margin-top: 16px;
    margin-right: 36px;
    width: 210px;
    height: 300px;
    display: inline-block;
}

div.vod .relationVodArea .poster_area .content.poster_vertical .content {
    width: 210px;
    height: 300px;
    border: 6px solid transparent;
    padding: 1px;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
    /*transition: -webkit-transform .5s, border-color .5s;*/
    display: inherit;
}

div.vod .relationVodArea .poster_area .content.poster_vertical.hide .content {
    display: none;
}

div.vod .relationVodArea .poster_area .content.poster_vertical .posterImg {
    position: absolute;
    width: 210px;
    height: 300px;
    -webkit-transform: translateZ(0);
}

div.vod .relationVodArea .poster_area .content.poster_vertical .posterLockImg {
    position: absolute;
    width: 210px;
    height: 300px;
    display: none;
    -webkit-transform: translateZ(0);
    content: url(../../resource/detail/img_vod_locked_big.png);
}

div.vod .relationVodArea .poster_area .content.poster_vertical .posterIconArea {
    position: absolute;
    right: 0;
    width: 73px;
    height: 85px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod .relationVodArea .poster_area .content.poster_vertical .newHotIconArea {
    position: absolute;
    left: 0;
    margin-left: -5px;
    margin-top: -3px;
    width: 106px;
    height: 106px;
    overflow: visible;
    -webkit-transform: translateZ(0);
}

div.vod .relationVodArea .poster_area .content.poster_vertical .posterIconArea img {
    margin-bottom: -7px;
    margin-left: 4px;
    margin-top: -3px;
    display: block;
}

div.vod .relationVodArea .poster_area .content.poster_vertical .contentsData {
    position: absolute;
    margin-top: 320px;
    width: 210px;
    display: none;
}

div.vod .relationVodArea .poster_area .content.poster_vertical .contentsData {
    display: inherit;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical .posterTitle {
    color: white;
    font-size: 30px;
    line-height: 34px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    margin: -2px 0;
    font-family: "RixHead L";
    opacity: .7;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical .posterDetail {
    display: block;
    margin-top: 16px;
    height: 50px;
    white-space: nowrap;
    opacity: 0.99;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .posterDetail {
    -webkit-transform: scale(0.9) translateX(-8px);
}

div.vod .relationVodArea .poster_area .content.poster_vertical .posterDetail * {
    vertical-align: top;
}

div.vod .relationVodArea .poster_area .content.poster_vertical .stars {
    display: none;
    margin-right: 5px;
}

div.vod .relationVodArea .poster_area .content.poster_vertical .stars img {
    margin-top: 1px;
    margin-right: 4px;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical .isfree {
    color: white;
    position: relative;
    margin-right: 6px;
    font-size: 23px;
    line-height: 1;
    font-family: "RixHead M";
    opacity: .5;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .isfree {
    margin-left: 9px;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical .isfreeIcon {
    width: 32px;
    height: 32px;
    margin-top: -5px;
    margin-right: 7px;
    content: url(../../resource/detail/icon_buy.png);
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .isfreeIcon {
    margin-left: 9px;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical .age {
    width: 32px;
    height: 32px;
    margin-top: -5px;
}

/*
 * 포커스
 */

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .content {
    border-color: #D1433F;
    -webkit-transform: scale(1.1);
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .posterDetail {
    margin-top: 11px;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .stars {
    display: inline;
    margin-right: 0;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .posterTitle {
    opacity: 1;
    font-family: "RixHead M";
    text-overflow: inherit;
}

div.vod .relationVodArea .poster_area .posterList .content.poster_vertical.focus .posterTitle span {
    display: inline-block;
}
