div.vod div#thumbnailList {
    left: 89px;
    top: 140px;
    width: 1748px;
    height: 142px;
    -webkit-transition: -webkit-transform .5s;
    overflow: visible;
    position: absolute;
}

div.vod div#thumbnailList * {
    overflow: visible;
}

div.vod div#thumbnailList .arrow_area {
    width: 21px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 54px;
    opacity: 1;
    float: left;
    /*-webkit-transition: opacity .5s;*/
}

div.vod div#thumbnailList #thumbnail_area {
    width: 1690px;
    height: 298px;
    margin-top: -93px;
    padding-left: 8px;
    float: left;
    overflow: hidden;
}

div.vod div#thumbnailList #thumbnail_area #thumbnail_item_area {
    height: 185px;
    width: 5000px;
    margin-top: 30px;
    -webkit-transform: scale(1) translateX(0px);
    /*transition: -webkit-transform .5s;*/
}

div.vod div#thumbnailList .itemArea {
    width: 252px;
    height: 178px;
    float: left;
    margin-left: 14px;
    margin-right: 14px;
    /*transition: -webkit-transform .5s;*/
}

div.vod div#thumbnailList .itemArea .imgArea{
    width: 252px;
    height: 142px;
    margin-top: 63px;
    /*transition: border .5s, padding .5s;*/
}

div.vod div#thumbnailList .itemArea .itemSdw {
    position: fixed;
    margin-left: -11px;
    margin-top: -11px;
    width: 274px;
    height: 164px;
}

div.vod div#thumbnailList .itemArea .itemImg {
    position: fixed;
    width: 252px;
    height: 142px;
}

div.vod div#thumbnailList .itemArea .itemDim {
    position: fixed;
    width: 252px;
    height: 142px;
    background: rgba(0,0,0,.3);
    opacity: 0;
    /*-webkit-transition: opacity .5s;*/
}

div.vod div#thumbnailList .itemArea .itemTitle {
    margin-top: 13px;
    width: 252px;
    text-align: center;
    font-size: 26px;
    color: white;
    opacity: .6;
    /*-webkit-transition: opacity .5s;*/
}


div.vod div#thumbnailList .itemArea.focus {
    -webkit-transform: scale(1.1) translate(-8px, -14px);
    -webkit-transform-origin: center;
}

div.vod div#thumbnailList .itemArea.focus .itemTitle {
    opacity: 1;
}

div.vod div#thumbnailList .itemArea.focus .imgArea{
    border: #D2332F solid 4px;
    padding: 1px;
}

div.vod div#thumbnailList .itemArea .arrowArea {
    position: absolute;
    text-align: center;
    width: 500px;
    display: none;
    margin-left: -124px;
    margin-right: -124px;
}

div.vod div#thumbnailList .itemArea.focus .arrowArea {
    display: inherit;
}

div.vod div#thumbnailList .itemArea .arrowArea .arwText {
    font-size: 27px;
    display: block;
    font-family: "RixHead M";
    color: white;
    white-space: nowrap;
    text-align: center;
    width: auto;
}

div.vod div#thumbnailList .itemArea .arrowArea .arwIcon {
    margin-top: 8px;
}

div.vod div#thumbnailList.blurred {
    -webkit-transform: scale(0.8) translateY(48px);
    -webkit-transform-origin: center bottom;
}

div.vod div#thumbnailList.blurred .arrow_area {
    opacity: 0;
}

div.vod div#thumbnailList.blurred .itemArea .itemSdw {
    visibility: hidden;
}

div.vod div#thumbnailList.blurred .itemArea .itemDim {
    opacity: 1;
}

div.vod div#thumbnailList.blurred .itemArea .itemTitle {
    opacity: 0;
}

div.vod div#thumbnailList.blurred .itemArea.focus {
    -webkit-transform: scale(1);
}

div.vod div#thumbnailList.blurred .itemArea.focus .itemTitle {
    opacity: 0;
}

div.vod div#thumbnailList.blurred .itemArea.focus .imgArea{
    border: none;
    padding: 0px;
}

div.vod div#thumbnailList.blurred .itemArea.focus .arrowArea {
    display: none;
}