div.vod #vodPlayBar * {
    overflow: visible;
}

div.vod #vodPlayBar {
    width: 1920px;
    height: 568px;
    bottom: 0px;
}

div.vod #vodPlayBar span#title_area {
    left: 94px;
    top: 296px;
    position: absolute;
    color: white;
    font-size: 48px;
    line-height: 42px;
}

div.vod #vodPlayBar.blurred span#title_area {
    visibility: hidden;
}

div.vod #vodPlayBar div#bar_area {
    position: absolute;
    left: 90px;
    top: 368px;
}

div.vod #vodPlayBar div#bar_area div#base_bar {
    width: 1740px;
    height: 6px;
    background: rgb(98, 98, 98);
    position: absolute;
}

div.vod #vodPlayBar div#bar_area div#red_bar {
    height: 6px;
    background: rgb(236, 36, 36);
    width: 0px;
    position: absolute;
    opacity: .99;
}

div.vod #vodPlayBar div#bar_area div#red_bar.invert {
    background: white;
    opacity: .7;
}

div.vod #vodPlayBar div#bar_area img#icon_play_point {
    position: absolute;
    left: -20px;
    top: -17px;
}

div.vod #vodPlayBar span.time_area {
    color: white;
    font-size: 26px;
    line-height: 22px;
}

div.vod #vodPlayBar span#current_time_area {
    position: absolute;
    left: 91px;
    top: 394px;
}

div.vod #vodPlayBar span#end_time_area {
    position: absolute;
    right: 91px;
    top: 394px;
}
