/*
    컨텐츠 영역의 세로 포스터의 스타일 정의.
    일반, 미리보기, 포커스, 전체보기 수록.
*/
/* 
    Created on : 2016. 5. 25, 오전 10:37:10
    Author     : lyllyl
*/

/*
 * 일반
 */

div.kidsSubhome_recentlyList #contentsArea {
    top: 79px;
    left: 198px;
    width: 1230px;
}

div.kidsSubhome_recentlyList.singlePage #contentsArea {
    top: 123px;
    left: 198px;
    width: 1230px;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical {
    margin-right: 36px;
    float: left;
    width: 210px;
    height: 454px;
    -webkit-transform: translateZ(0);
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .content {
    width: 210px;
    height: 300px;
    display: block;
    border-top: white 6px solid;
    border-bottom: white 6px solid;
    border-color: transparent;
    padding-top: 4px;
    padding-bottom: 4px;
    opacity: 0.99;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .posterSdw {
    position: absolute;
    width: 266px;
    height: 356px;
    margin-top:-25px;
    margin-left:-27px;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .posterImg {
    position: absolute;
    width: 210px;
    height: 300px;
}

div.kidsSubhome_recentlyList.editMode #contentsArea .content.poster_vertical .edit_select_btn {
    display: block;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .edit_select_btn {
    display: none;
    position: absolute;
    width: 47px;
    height: 47px;
    background-image: url(../../resource/image/posterList/vod_poster_checkbox_dim.png);
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical.select .edit_select_btn {
    background-image: url(../../resource/image/posterList/vod_poster_checkbox_select.png);
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .poster_remain_bg {
    position: absolute;
    margin-top: 292px;
    width: 211px;
    height: 8px;
    background-color: rgba(0,0,0,.7);
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .poster_remain_bar {
    position: absolute;
    margin-top: 295px;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .contentsData {
    position: absolute;
    margin-top: 313px;
    width: 210px;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .posterTitle {
    display: block;
    color: rgba(255,255,255,.7);
    font-size: 30px;
    line-height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .posterDetail {
    display: block;
    margin-top: 15px;
    height: 36px;
    white-space: nowrap;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .posterDetail * {
    vertical-align: top;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .remain_title {
    color: rgba(180,180,180,.5);
    position: relative;
    font-size: 23px;
    line-height: 1;
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical .remain_time {
    color: rgba(255,255,255,.5);
    position: relative;
    font-size: 24px;
    line-height: 1;
}

div.kidsSubhome_recentlyList #contentsArea {

}

div.kidsSubhome_recentlyList #contentsArea #listArea {
    transition: -webkit-transform .5s;
}

div.kidsSubhome_recentlyList #indicatorArea {
    position: absolute;
    left: 81px;
    top: 146px;
}

/*
 * 포커스
 */
div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical.focus .content {
    border-color: white;
    -webkit-transform: scale(1.1);
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical.focus .contentsData {
    -webkit-transform: translateY(10px);
}

div.kidsSubhome_recentlyList #contentsArea .content.poster_vertical.focus .posterTitle .flow {
    -webkit-animation: marqueeTitle 5s linear infinite;
    text-overflow: clip;
}

div.kidsSubhome_recentlyList .option_menu_area {
    width: 382px;
    height: 1080px;
    right: -382px;
    background: url(../../resource/image/contextMenu/pop_bg_option_kids2.png) repeat-y right;
    transition: -webkit-transform .5s, opacity .5s linear;
    opacity: 0;
}

div.kidsSubhome_recentlyList.editMode .option_menu_area {
    -webkit-transform: translateX(-382px);
    opacity: 1;
    z-index: 99;
}

div.kidsSubhome_recentlyList .option_menu_area .btn{
    background: rgba(175,175,175, 0.45);
    border: 2px solid rgba(200,200,200,0.4);
    position: absolute;
    width: 296px;
    height: 61px;
    vertical-align: middle;
    font-size: 30px;
    color: #FFFFFF;
    right: 46px;
    line-height: 65px;
    text-align: center;
}

div.kidsSubhome_recentlyList .option_menu_area .btn.option_menu_select_all {
    top: 91px;
}

div.kidsSubhome_recentlyList .option_menu_area .btn.option_menu_delete {
    top: 165px;
}

div.kidsSubhome_recentlyList .option_menu_area .btn.focus {
    background: white;
    color: #4C4640;
}

div.kidsSubhome_recentlyList .option_menu_area .btn.disable {
    opacity: .3;
}

div.kidsSubhome_recentlyList .confirm_popup_area {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-color: black;
    opacity: 0.85;
    visibility: hidden;
}

div.kidsSubhome_recentlyList .confirm_popup_area .confirm_popup_title {
    position: absolute;
    top: 353px;
    width: 100%;
    text-align: center;
    color: #DDAF78;
    font-size: 33px;
    font-family: "RixHead B";
}

div.kidsSubhome_recentlyList .confirm_popup_area .confirm_popup_content1 {
    position: absolute;
    top: 426px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: "RixHead M";
}

div.kidsSubhome_recentlyList .confirm_popup_area .confirm_popup_content2 {
    position: absolute;
    top: 490px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: "RixHead L";
}

div.kidsSubhome_recentlyList .confirm_popup_area .btn {
    position: absolute;
    width: 280px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    color: rgba(255,255,255,.7);
    font-size: 30px;
    font-family: "RixHead L";
    background: url(../../resource/image/pop_btn_w280.png);
}

div.kidsSubhome_recentlyList .confirm_popup_area .btn.focus {
    color: #49443C;
    background: white;
}

div.kidsSubhome_recentlyList .confirm_popup_area .confirm_popup_btn1 {
    top: 622px;
    left: 673px;
}

div.kidsSubhome_recentlyList .confirm_popup_area .confirm_popup_btn1 {
    top: 622px;
    left: 673px;
}


@-webkit-keyframes marqueeTitle {
    0%{margin-left: 100%}
    100%{margin-left:-100%}
}